[2022-06-30 22:18] orbeckst opened #3743 "modernize testing code"
## Is your feature request related to a problem? ##
The testing code uses pytest and relies on numpy.testing. It contains some deprecated testing constructs such as [`assert_almost_equal()`](https://numpy.org/doc/stable/reference/generated/numpy.testing.assert_almost_equal.html), [`assert_array_almost_equal()`](https://numpy.org/doc/stable/reference/generated/numpy.testing.assert_array_almost_equa

[2022-06-30 22:20] orbeckst commented on #3742
duplicate #3735
not sure why I managed to create the issue twice ...

[2022-06-30 22:20] #3742 closed

[2022-06-30 23:36] orbeckst opened #3744 "change nucleicacids results dict"
## Is your feature request related to a problem? ##
The new experimental `nucleicacids` analysis module contains the https://github.com/MDAnalysis/mdanalysis/blob/c01d82bb86b480c8b2ae87f36497e7fc0a726c84/package/MDAnalysis/analysis/nucleicacids.py#L61 class as its base class. It presents results in a `Results` dict. The content is different from what other AnalysisBase-based classes use in that
*

[2022-06-30 23:38] orbeckst commented on #3720
See #3744 for a discussion on how to represent the typical output data in the `Results` dict.

[2022-07-01 11:40] PicoCentauri opened #3745 "`center` attribute does not take cell dimensions into account"
## Expected behavior ##

Calculating center positions like the center of mass in a periodic cell should take the periodicity into account. An edge case to test are two particles at the boundaries of the cell.

[code]

where `x` here marks the center of mass of the two particles. The equations for the correct computation are known [[1](https://en.wikipedia.org/wiki/Center_of_mass#Systems_with_perio

[2022-07-05 01:52] orbeckst commented on #3745
Do you think that your proposed solution should be the default behavior (ie, would this be a bug fix) or should it be triggered with a kwarg?

[2022-07-05 01:54] orbeckst commented on #3745
Furthermore, making it work with triclinic boxes is important. From the Wikipedia page alone it looked to me that the transformation to the circle relies on an orthorhombic coordinate system.

[2022-07-05 07:40] PicoCentauri commented on #3745
I like the way in `MDAnalysis.lib.distances`. When you provide a box PBC is taken into account. However, `center` is an attribute and there is no need to provide a box. The Implicit/bugfix way would treat PBC's if a box exists and use the current code if no box is present. This option is always the "correct" one. But we need clear docs to avoid confusion when which code is used.

I also think so.

[2022-07-05 08:19] orbeckst commented on #3745
Perhaps the standard trick for triclinic boxes works: transform with the inverse of the box matrix to the  coordinates in the triclinic basis vectors, apply the transformation to a circle, then back transform.

[2022-07-05 08:21] orbeckst commented on #3745
The question of "bug" vs "change in behavior" is important because if it's a bug then we can just fix it for 2.3.0 (or 2.2.1). If it's a change in behavior then the actual change from the current default behavior can only happen in 3.0.

[2022-07-05 09:27] PicoCentauri commented on #3745
yes lets do it this way for now.

[2022-07-05 09:30] PicoCentauri commented on #3745
True. When I found this out it felt like a bug. The position of the center of mass is not where it supposed to be in a periodic system. A similar thing would be when you calculate a distance between two particles and you get distances larger than half of the box length.

[2022-07-05 09:36] richardjgowers commented on #3745
I've not actually seen these trig tricks before, but it might work in fractional space, we've got `R_to_S` and `S_to_R` already to check this.  I think it *is* an API break, so would be a slow change.  It's also worth remembering that periodic aware (especially triclinic) are **much** slower, so it's worth keeping the current "opt-in" pattern

[2022-07-05 09:59] PicoCentauri commented on #3745
Okay we can do it with a keyword.

[2022-07-05 10:02] richardjgowers commented on #3745
I'm not sure if this requires a different keyword, or if this is a better way of implementing the `unwrap=True, compound='group'` combination.

[2022-07-05 11:53] PicoCentauri commented on #3745
You don't have to `unwrap` your system for the periodic center calculations. In fact, the algorithm will wrap the system by projecting it on an angle. If I introduce a new option `pbc` deciding to treat center calculations with or without pbc, I only see two reasonable combinations with the other parameters:

1. `pbc=False`, `wrap=False`: Treat the system as unperiodic
2. `pbc=False`, `wrap=True`:

[2022-07-05 16:20] orbeckst commented on #3745
The pbc keyword is deprecated and will be removed in 3.0.

I think @richardjgowers is right in that we are talking about the question how compound = group should behave.

[2022-07-05 19:18] orbeckst commented on #3745
Yes, that's a good thing! The _meaning_ of `unwrap=True compound="group"` is, however, what you described as your expectation: that the center of mass of the whole group of atoms is calculated as if they were not broken across PB. Therefore, it looks as if your suggested code is potentially a performance improvement over the current code path that actually runs unwrapping.

It also means that we h

[2022-07-05 22:33] orbeckst commented on #3727
A new noarch package [noarch/mdanalysistests-2.2.0-pyhd8ed1ab_1.tar.bz2](https://anaconda.org/conda-forge/mdanalysistests/2.2.0/download/noarch/mdanalysistests-2.2.0-pyhd8ed1ab_1.tar.bz2) is up on anaconda.

I have some questions in https://github.com/conda-forge/mdanalysistests-feedstock/issues/36 and assuming that these questions are not a problem, we can close this issue.

[2022-07-06 08:11] PicoCentauri commented on #3745
Not exactly. We get the same behavior for `unwrap=True` if and only if **all** atoms in the group are connected via bonds. Applying [unwrap()](https://docs.mdanalysis.org/1.0.0/documentation_pages/transformations/wrap.html#MDAnalysis.transformations.wrap.unwrap) translates atoms of each molecule so that bonds do not split over images. Especially for `compound=group` this is not always given. If we

[2022-07-06 08:58] #3701 closed, assigned to nobody

[2022-07-06 10:14] adw62 opened #3747 "MDAnalysis mol2 files in ParmED"
## Is your feature request related to a problem? ##
Hello, I'd like to be able to use the mol2 files output by MDAnalysis with programs such as ParmED. Currently I can't and I believe the issue is caused by blank lines in the output mol2 files for example I generate the files using this code:

[code]
which results in:

[code]

Here are the input ligand.mol2 that I use and the output l_H19.mol2 tha

[2022-07-06 10:29] richardjgowers commented on #3747
I guess the real way of figuring out if this is our fault or parmed would be to see if sybyl could interpret "our" file.  That said, it's zero cost to us to remove the blank lines in the output, so we can change it on our end easily enough.

[2022-07-06 16:11] orbeckst commented on #3747
Side note: You can also directly create a ParmEd object from MDAnalysis with the [ParmEd converter](https://docs.mdanalysis.org/stable/documentation_pages/converters/ParmEd.html) (so you don't have to write out a mol2 as an intermediate)
[code]

[2022-07-06 16:18] orbeckst commented on #3747
The MOL2 file format ([mol2.pdf](https://zhanggroup.org/DockRMSD/mol2.pdf)) states on p5:

The example does not show blank lines between the Data Records but it seems clear that a MOL2 parser needs to ignore blank lines.

As such, I am going to say that ParmEd is at fault.

(That said, we can change the mol2 writer but it would be most appropriate to raise the issue with ParmEd.)

[2022-07-06 16:37] adw62 commented on #3747
Thank you for the insight. I agree if MDAnalysis is within the MOL2 standard then I will raise this with the ParmEd team.

[2022-07-06 16:37] #3747 closed, assigned to nobody

[2022-07-06 16:59] orbeckst commented on #3747
Sure, feel free to link to this issue.

[2022-07-06 23:57] hmacdope opened #3748 "Use of NumPy 1.21 style `npt.NDArray` typing hints"
## Problem

With the merge of #3737 NumPy 1.20 is now our minimum supported NumPy version as per [NEP29](https://numpy.org/neps/nep-0029-deprecation_policy.html).
 However some open PRs (eg @hmacdope #3730 and @umak1106 #3746) are using the NumPy 1.21 style typing:

[code]

This is not going to play nice with our CI or advertised supported versions so we will have to decide how to proceed.

See th

[2022-07-07 01:53] tylerjereddy commented on #3748
For one data point, I grepped around the SciPy codebase a bit and found that we indeed don't use `NDArray` in any `.py` files, opting for `np.ndarray` as you note above, but we do use the fancy new stuff in the static type stubs like `.pyi` files. The latter must be safe then, since it would only be used by `mypy` and you can just require a newer NumPy for the static checks that leverage the stub

[2022-07-07 02:02] tylerjereddy commented on #3748
I think it is common to use the stub files for things like type hinting Cython modules. That said, I believe it is also possible to use the static stub files alongside regular Python modules, though I've personally almost never seen the latter. A big exception is the Python standard library I believe--it is entirely typed by a separate stubbing project if I'm reading correctly. I suppose if we rea

[2022-07-07 02:08] tylerjereddy commented on #3748
Ok, I stand corrected--`pandas` just merged the various third-party type stubbing projects and created their own official separate type stubbing library: https://github.com/pandas-dev/pandas-stubs

It cites this part of PEP561: https://peps.python.org/pep-0561/#stub-only-packages

In short:

Anyway, lots of interesting options/flexibility there.

[2022-07-07 04:48] jbarnoud commented on #3748
As long as `npt.NDArray` does not provide ways of specifying shapes, I would just roll back to `np.ndarray`.

I did consider stub files but I am concerned new contributors will not realise they're there and older ones will occasionally forget about them. Already the documentation is not always up to date.

[2022-07-07 14:29] IAlibay commented on #3748
So my 2 cent here is that we'll be dropping 1.20 for 1.21 in exactly 6 months. As much as I want to do 3 monthly releases, we _could_ wait the 6 month cycle.

Otherwise sticking to `np.ndarray` is fine, but we should accompany those entries with some kind of comment tag. That way we can quickly find & replace them all once we move to 1.21?

It's a bit cumbersome but maybe something like `#  typing

[2022-07-09 11:34] BFedder opened #3750 "Add an AuxReader for NumPy arrays"
## Is your feature request related to a problem? ##
Many of the analysis tools MDAnalysis provides return their results in the form of NumPy arrays. Linking these results to the trajectory frames is currently not as simple as it could be, though. One use case I'm picturing is the slicing of trajectories to obtain only those frames that are similar or dissimilar enough from some reference structure

[2022-07-09 14:03] utkarsh147-del commented on #3743
i want to work on this issue

[2022-07-09 17:27] orbeckst commented on #3743
We always welcome contributions. Just submit a PR that references this issue. We will then discuss there. When you start the work, please also introduce you on the developer mailing list.

Btw, we don’t “reserve” work, we just look at the first PR that addresses the issue. Details of our policy are in our GSOC FAQ on our wiki.

[2022-07-11 19:08] hmacdope commented on #3748
I'm happy with using `arr: np.ndarray` for the meantime with the tag @IAlibay proposes. I will follow this approach in #3730

[2022-07-12 11:18] Shankhadeep2000 commented on #3748
Hi I am a beginner in open source can I contribute in this project. I got the skills of python, data science, machine learning.
please help me with this..

[2022-07-12 15:52] orbeckst commented on #3748
@Shankhadeep2000 welcome to MDAnalysis. This particular issue is effectively part of an ongoing Outreachy project so I don’t think we’re looking for any additional help with type hinting. But there’s are many other issues that need help, as you can see when looking through the issue tracker. I suggest you join the developer list and our discord (see https://www.mdanalysis.org/#participating ) and

[2022-07-17 17:08] IAlibay opened #3754 "Automate removal of old `-dev0` tagged doc builds"
As of writing, the MDAnalysis docs have `-dev0` entries for 1.0.1, 1.0.2 (which never existed), 2.0.0, 2.1.0, 2.2.0, and 2.3.0.

Ideally the `dev` version should be limited to unreleased versions (i.e. 2.3.0-dev) and we should be purging records for previous dev versions whenever we do a release. I don't remember this being a problem before, have we been missing a step as part of the release proce

[2022-07-18 09:26] rafaelpap opened #3756 "XYZWriter odd behaviour"
## Expected behavior ##
If I reorder some atoms I expect to get the right name along the right coordinates.

Original coordinates:
       O     0.00000    0.00000    0.00000
       N     2.00000    0.00000    0.00000
       H     0.00000    1.50000    0.00000

Expected coordinates after reordering atoms 1 and 2:
       O     0.00000    0.00000    0.00000
       H     0.00000    1.50000    0.00000

[2022-07-18 09:37] IAlibay commented on #3756
Looks like the issue here is that we use a Timestep object slice to write out coordinates instead of an atomgroup (whilst we do use the atomgroup to get the elements). So we lose re-ordering information when writing out positions.

I guess our best approach here is just to switch over to plainly using atomgroups for everything rather than relying on Timestep.

[2022-07-18 11:14] lilyminium commented on #3754
I never put this in as a step, so yeah it's missing. It could be done either manually as part of the release process or automated as part of docs deployment -- any preferences?

[2022-07-18 11:23] rafaelpap commented on #3756
If the change from Timestep to atomgroups is not trivial, maybe something like:
MDAnalysis/coordinates> diff XYZ.py.ORIG XYZ.py
[code]
could work for the time been?

[2022-07-19 00:31] orbeckst commented on #3756
Is this behavior inconsistent between writers?

I only had time to look at XYZ. To me it looks as if we should do https://github.com/MDAnalysis/mdanalysis/blob/2c32ed11c1e6b800397f147e4242f7325900b669/package/MDAnalysis/coordinates/XYZ.py#L238 if we detect that the Atomgroup indices are not the same as the indices of the original `universe.atoms`. At the moment, the `copy_slice()` is only performe

[2022-07-19 00:34] orbeckst commented on #3754
Automation is good ;-)

[2022-07-19 06:34] rafaelpap commented on #3756
The behaviour is different between the XYZwriter and the PDB and GRO writers. I haven't tested the writers which produces binary output. PDB and GRO get the names and coordinates changed.

[2022-07-21 03:19] HsuShihHsueh commented on #1689
Has anyone solved this problem?

[2022-07-21 15:18] TianmingQu opened #3758 "About preprocessing of trajectory for Density analysis"
Hi, I am trying to use the density analysis in MDanalysis and I have some questions about the preprocessing of the trajectory:

For the second and third requirement, how should I break the PBC for all the molecules and how can I remapped all the solvent molecules?

Best,
Tianming

[2022-07-21 21:17] orbeckst commented on #3758
Hello @TianmingQu , could you please ask your questions either on the user mailing list or in our discord — see https://www.mdanalysis.org/#participating for links?

We try to keep the issue tracker focused on issues related to the code and the docs. If you feel that you're running into a short-coming in the documentation then please raise an issue. If you follow the issue template then that will

[2022-07-21 21:17] #3758 closed, assigned to nobody

[2022-07-21 23:02] orbeckst commented on #3756
Thanks for checking @rafaelpap . I suppose we'll need to have a careful look around the code of the other writers to try to make it consistent.

[2022-07-22 07:11] hmacdope opened #3759 "Make fixtures in `test_distances` use return just the `Universe` and not the trajectory as well"
## Is your feature request related to a problem? ##

Coming from some discussion on #3730 and a comment by @orbeckst: https://github.com/MDAnalysis/mdanalysis/pull/3730#discussion_r910184346

The trajectory fixtures and their naming in `test_distances.py ` are slightly confusing as they return the universe **and** the trajectory.
This is confusing and a little bit of an anti-pattern.  An example i

[2022-07-22 07:42] #3708 closed, assigned to hmacdope

[2022-07-23 04:03] rzhao271 commented on #3743
I tried converting more tests to use `assert_allclose` instead of `assert_almost_equals`, but an issue I've run into is that for scalars, `pytest.approx` doesn't work well when the original test had a custom error message.
Here's how the signature looks for `assert_almost_equals`:
`assert_almost_equals(a, b, rtol=0, atol=something, err_msg=something)`
But for `pytest.approx`, one uses it as follow

[2022-07-23 04:46] orbeckst commented on #3743
Does
[code]
work?

[2022-07-23 07:05] hmacdope opened #3761 "Remove use of `trajectory.timeseries` from `ENCORE`"
## Expected behavior ##

The `ENCORE` module should work with all kinds of readers.  As revealed by the use of the DUMPReader in [this](https://groups.google.com/g/mdnalysis-discussion/c/PEqfPk_aVvo ) mailing list question this is not the case.

## Actual behavior ##

The use of `trajectory.timestep` in `ENCORE` in many places means it cannot use readers that do not have the `timeseries` attribute

[2022-07-23 07:10] IAlibay commented on #3761
related MDAnalysis/mdaencore#30 MDAnalysis/mdanalysis#2948

[2022-07-23 15:49] #3418 closed, assigned to nobody

[2022-07-23 15:54] IAlibay opened #3762 "Change mmtf reading of formal charges from the `charges` attribute to `formalcharges`"
## Expected behavior ##

The contents of `charges` is always expected to contain partial charges.

## Actual behavior ##

For mmtf, formal charges are fed into `charges`, which a) leads to confusing attribute contents, b) now differs from what the PDB reader does.

## Code to reproduce the behavior ##

See https://github.com/MDAnalysis/mdanalysis/blob/d5c7cb9a7807b06c169b418dd5c6c072c33580f5/packa

[2022-07-23 16:01] richardjgowers commented on #3762
A non breaking change is to duplicate the attribute, which would actually require a different attribute annoyingly (one which defines two attributes to supply)

[2022-07-23 16:08] IAlibay commented on #3762
I was originally thinking we could do the old bfactor trick for warnings,

https://github.com/MDAnalysis/mdanalysis/blob/d5c7cb9a7807b06c169b418dd5c6c072c33580f5/package/MDAnalysis/core/topologyattrs.py#L361-L366

But I'm not sure we can suitably pass across the reader class to TopologyAttrs to specifically do that when it's the MMTF reader.

[2022-07-23 16:11] richardjgowers commented on #3762
Yeah I’m not against nasty hacks for this tbh…

On Sat, Jul 23, 2022 at 17:08, Irfan Alibay ***@***.***>
wrote:

[2022-07-24 00:38] #988 closed

[2022-07-25 08:28] #2837 closed

[2022-07-25 08:31] #3721 closed, assigned to yuxuanzhuang

[2022-07-25 09:27] IAlibay commented on #3727
Closing as completed.

[2022-07-25 09:27] #3727 closed, assigned to orbeckst

[2022-07-28 05:01] orbeckst commented on #3560
I opened https://github.com/MDAnalysis/MDAnalysis.github.io/issues/238 for the NEP29 blog post and close this issue because as far as users go, we very much have a 2.2.0.

[2022-07-28 05:01] #3560 closed, assigned to nobody

[2022-07-30 23:55] rramji opened #3764 "Issue with Documentation for Atom object property "pos""
## Expected behavior ##

Tutorial in the docs at https://docs.mdanalysis.org/stable/documentation_pages/overview.html implies that Atom has a property called `pos`, when in actuality the property is `position`. Requesting an update to this example on the website.

## Actual behavior ##

The provided code block fails to run, creating confusion for new users, wastes user time. The same example is li

[2022-07-31 04:36] orbeckst commented on #3764
Thank you for the report, this example is definitely outdated.

[2022-08-02 01:02] ojeda-e opened #3766 "Docs: Missing references in BibTex format in reference page."
## Expected behavior ##
In docs, the [references](https://github.com/MDAnalysis/mdanalysis/blob/develop/package/doc/sphinx/source/documentation_pages/references.rst)  should display citations following the BibTex format.

Note: This change was left on purpose given that PR #3663 was getting too large. (See [comment](https://github.com/MDAnalysis/mdanalysis/pull/3663#issuecomment-1127496809))

## A

[2022-08-02 01:04] hsadia538 commented on #3759
@hmacdope Hello, I want to work on this. Can you help me get started?

[2022-08-02 01:31] ojeda-e commented on #3759
Hi @hsadia538, thanks for your interest in contributing to MDAnalysis!

As described in the issue, the current fixture `DCD_Universe` returns two elements: a universe and a trajectory. Usually, fixtures return only one element. In this particular case, we would prefer a fixture that returns an MDA universe only. Something like:
[code]
Then, by using a fixture that returns a universe _only_, we cou

[2022-08-03 01:01] hsadia538 commented on #3764
@orbeckst  I built the user guide coed but was unable to find the page with the above example. I was able to map the path based on the live User guide but in code, the `HREF` tag points to the live page rather than a relative path to that page. And its not there in the folder as well. Am I missing something?
See below for reference:
<img width="1042" alt="image" src="https://user-images.githubuser

[2022-08-03 01:49] #3759 closed, assigned to nobody

[2022-08-03 02:28] orbeckst commented on #3764
The problematic example is in the docs that are generated from the code and _not_ in the User Guide. (In your https://github.com/MDAnalysis/mdanalysis/issues/3764#issuecomment-1203365995 you see the link to the generated docs.) Look for the file [package/doc/sphinx/source/documentation_pages/overview.rst](https://github.com/MDAnalysis/mdanalysis/blob/develop/package/doc/sphinx/source/documentation

[2022-08-03 03:11] hmacdope opened #3770 "Deprecation of macOS 10.15 github runner image"
## Expected behavior ##

The CI tests all run as expected

## Actual behavior ##

The CI run for MacOS 10.15 doesn't run as expected as it is being deprecated and fails with the following message:

[code]

 See https://github.com/actions/virtual-environments/issues/5583 for the deprecation process. The most relevant section for us starts:

""To raise awareness of the upcoming removal, we will temp

[2022-08-03 03:11] hmacdope commented on #3770
tagging @IAlibay :)

[2022-08-03 04:53] hmacdope commented on #3759
@hsadia538 would you be able to introduce yourself on the MDAnalsysis[ developer mailing list](https://groups.google.com/g/mdnalysis-devel) if you haven't already done so? . Its a good central place to meet the developers, discuss ideas and be a part of the community! Its is also really good for our record keeping :)

[2022-08-03 05:53] #3740 closed, assigned to hmacdope

[2022-08-03 07:26] #3770 closed, assigned to nobody

[2022-08-03 07:56] hsadia538 commented on #3759
@hmacdope I have already joined the developer's list but wasn't sure exactly how to get started.
I will do so now!

[2022-08-03 23:53] orbeckst commented on #3766
@ojeda-e , I created a Zotero group for references for MDAnalysis papers https://www.zotero.org/groups/4747225/ — currently for work on the [MDAKits whitepaper](https://github.com/MDAnalysis/MDAKits/tree/main/paper/whitepaper) but could be generally useful for paper writing.

Do you want to become a member of the group so that you can add papers, e.g., all the papers that you already bibified for

[2022-08-05 07:04] #3764 closed, assigned to nobody

[2022-08-05 18:52] rsexton2 opened #3773 "PCA not showing progress bar on mean structure calculation"
## Expected behavior ##
Progress bar should be shown when computing mean structure for PCA when `verbose=True`.

## Actual behavior ##

Progress bar is shown for PCA calculation but not for mean structure calculation.

## Code to reproduce the behavior ##

[code]

## Current version of MDAnalysis ##

- Which version are you using? (run `python -c "import MDAnalysis as mda; print(mda.__version__)"`

[2022-08-05 18:54] rsexton2 commented on #3773
Progress bar is shown for mean structure calculation when `verbose=True` is passed to the class constructor
[code]

[2022-08-05 19:06] rsexton2 commented on #3773
It would also be convenient for `PCA.transform()` to take a verbose flag because it takes a long time to complete

[2022-08-13 20:14] tylerjereddy opened #3776 "Some initial testing with awkward array"
I've been meaning to give [awkward array](https://awkward-array.readthedocs.io/en/latest/) a try because lipid and protein "residues" with different numbers of atoms seemed like a potentially good fit for the description:

The simplest use case I could think of was calculating residue centroids, which the team had previously optimized in various places including gh-1903. With the diff below, I do

[2022-08-14 12:20] hmacdope commented on #3776
IFF we decide to implement an updating MSD algorithm this could definitely be useful. :)

[2022-08-14 17:14] richardjgowers commented on #3776
One nice thing about using awkward would be removing lots of our code which does the same. So even if performance doesn't change its still a win

[2022-08-14 17:55] tylerjereddy commented on #3776
I opened the cross-listed issue upstream to ask about the performance situation, or to see if I'm just badly misusing the library.

[2022-08-16 05:56] razvanmarinescu commented on #2367
does anyone have a solution for **writing** an MDAnalysis universe as PDBx/mmCIF?

[2022-08-16 08:27] joaomcteixeira commented on #2367
you could use `pdb_tocif` tool from [pdb-tools](https://github.com/haddocking/pdb-tools) applied to all PDB files from a trajectory and then `pdb_mkensemble` to merge them.

[2022-08-16 16:48] razvanmarinescu commented on #2367
I just tried `pdb_tocif`, but it screws up the segids. It should have segid of B0, or B1, ... It only keeps the chain (B). See the question marks below:

[code]

[2022-08-16 18:37] JoaoRodrigues commented on #2367
Sorry to cross-post on a different project, but could you share an input file?`pdb_tocif` is not designed to handle multi-character chain identifiers. Feel free to open an issue in the `pdb-tools` repo.

[2022-08-19 01:57] hmacdope opened #3778 "Favour `Aux` over `ts.data` or possibly unify the two?"
## Is your feature request related to a problem? ##

We currently have several ways to attach additional information to a timestep, including the `Aux` methods and the catch-all `ts.data` dict. Some [discussion](https://github.com/MDAnalysis/mdanalysis/pull/3765#discussion_r937715034) with @IAlibay  on #3765 raised the idea of favouring one over the other long term or possibly unifying the two rep

[2022-08-19 02:51] richardjgowers commented on #3778
Isn’t ts data the aux that is native to the Reader?

On Thu, Aug 18, 2022 at 20:57, Hugo MacDermott-Opeskin <
***@***.***> wrote:

[2022-08-19 09:55] BFedder commented on #3778
I think it makes sense to have two different places to store additional information, one where stuff needed for some functionality is automatically added, and one where the user controls what is stored.
`ts.data` seems to me like it holds information for some utilities [like this](https://docs.mdanalysis.org/stable/documentation_pages/coordinates/base.html#MDAnalysis.coordinates.base.Timestep.time

[2022-08-19 10:57] IAlibay commented on #3778
So I'm not arguing for removing `ts.data` fully, however we've been (ab)using `ts.data` for just "any order random thing that the trajectory stores". My point here is that when we have trajectories where you can have arbitrary other bits (e.g. https://github.com/MDAnalysis/mdanalysis/pull/3608) then we end up providing two potential entry points for auxiliary data, one via `aux` and one via `ts.da

[2022-08-22 01:54] mdpoleto commented on #1093
I recently came across this open issue and do agree it would be useful to drop some frames. I commonly need to analyze just a specific behavior on a subset of frames using a third-party software and I don't know of a package with such a built-in feature.

Currently, I am looping over each frame and comparing a property with a given criteria and choosing which frames I want to write. The code below

[2022-08-22 08:02] hmacdope opened #3783 "Integrate the result of the Distopia project into MDAnalysis"
Over in the `Distopia` project https://github.com/MDAnalysis/distopia we have created a bunch of code for calculating distances efficiently under periodic boundary conditions using SIMD.  We should take the fruits of our labour and incorporate it into MDA!

As such this issue is a long term reminder to integrate with the result. My current thoughts are to have `distopia` as an optional dependency

[2022-08-22 14:05] IAlibay commented on #3783
So my main questions are:
  - Are there any OS / compiler limitations? (i.e. will distopia work on Windows?)
  - Where are you planning on running CI for this?

The former doesn't matter too much. The latter is most important for me. We've already got a pretty heavy CI workflow, so any additional complexity needed here needs to be well scoped. I'm happy to get CI/CD and packaging done on the side

[2022-08-22 14:06] IAlibay commented on #3783
I should note, running CI on a cron job on the distopia side of things might not be feasible, iirc the current gh actions limitations means that CI will stop running after 3 weeks if the code hasn't been touched.

[2022-08-23 01:43] hmacdope commented on #2710
There are now some benchmarks for `.lib.distances.calc_dihedrals`. Does this close this issue?

[2022-08-23 02:06] hmacdope opened #3785 "Add more benchmarks for `Bonds`."
## Is your feature request related to a problem? ##

As finding unique bonds  and bonded atoms can be quite a performance bottleneck (see https://github.com/MDAnalysis/mdanalysis/pull/3670#discussion_r883697159 ) and is a target for some optimisations in #3777  It would be good to have a few benchmarks to cover this so that we can reliably measure performance.

[2022-08-23 02:09] hmacdope opened #3786 "IPython html `__repr__` for MDA objects"
We could use a similar system to `dask` or `xarray` for making pretty representations of our objects in IPython. It really gives such a fun and tactile feel to the code and I think It could be a fun addition.

The relevant code for Dask.array is [here](https://github.com/dask/dask/blob/main/dask/array/core.py) just as an example.

[code]

[2022-08-23 02:31] hmacdope commented on #3783
Distopia supports gcc and clang but not MSVC (https://github.com/MDAnalysis/distopia/issues/41), so no windows support as of yet unless done on MinGW or some other trickery.

Im imagining an optional dependency so similar CI/CD burden to things like `h5py`, `pytng` etc etc. Distopia has its own CI in its own repo that tests for a match with `mdanalysis.lib.distances` so no need for super extensive

[2022-08-23 15:42] jbarnoud opened #3788 "remove x3dna in 3.0 (Unpacking errors in x3dna)"
At least 2 lines in the legacy x3dna module use unpacking with too many values to unpack.

https://github.com/MDAnalysis/mdanalysis/blob/97ec6df207fa934095ffb093daadf319ca2bfb38/package/MDAnalysis/analysis/legacy/x3dna.py#L204

https://github.com/MDAnalysis/mdanalysis/blob/97ec6df207fa934095ffb093daadf319ca2bfb38/package/MDAnalysis/analysis/legacy/x3dna.py#L213-L216

In both occurrences, the left

[2022-08-23 22:18] IAlibay commented on #3788
Can we just  set x3dna for removal in 3.0? Are people still using it? I'm not super sure why we even keep untested code in MDA, especially code which by all appearances seems to cost $1k to purchase?

[2022-08-24 06:22] jbarnoud commented on #3788
It is not only untested, it is broken and only shows up on our radar when we do some sort of full sweep of the code.

[2022-08-24 20:26] dkonstan opened #3789 "hanging while reading in gromacs trr trajectory"
## Expected behavior ##
quick loading of GROMACS universe with trr trajectory into MDAnalysis

## Actual behavior ##
it hangs indefinitely in some internal process and is resistant to Ctrl^C so the process is something very internal probably. DCD format etc works fine with same topology.

## Code to reproduce the behavior ##
[code]
## Current version of MDAnalysis ##

- Which version are you using

[2022-08-24 22:20] richardjgowers commented on #3789
@dkonstan how large is the trajectory in question? There is an index of frames built on first load (for trr format) and this might be taking too long. Does a much smaller trajectory file work as expected?

[2022-08-24 22:47] dkonstan commented on #3789
You are right, it is a VERY large file (~800 GB). However, these huge
trajectories load fast in other formats. I don't see why TRR needs to have
a routine that loops over the whole thing. Is it something specific about
the TRR format? Right now, I am simply converting TRR to DCD using mdtraj
(I'm sorry to use a competitor hehe) and then using MDAnalysis
straightforwardly, but it would be nice not

[2022-08-24 22:59] richardjgowers commented on #3789
The TRR format doesn't allow seeking (jumping to a random frame) natively, so we build an index to be able to seek. Obviously this isn't working well for you. It would be nice if we could make this index building lazy (note frame offsets as they are read) or be able to disable it entirely for super large files like this.

[2022-08-25 14:47] orbeckst commented on #3789
Why do we have to build the index for TRR with iterating? TRR has a fixed frame size so we should be able to compute the index.

(XTC is a different issue.)

@dkonstan in general it’s important for MDA to have the index because that is the only feasible approach for us to guarantee fast random frame access for all trajectory formats while not reading the whole trajectory into memory.

[2022-08-25 14:48] orbeckst commented on #3789
@richardjgowers disabling the index will likely break fundamental assumptions about how we handle trajectories.

[2022-08-25 14:53] richardjgowers commented on #3789
@orbeckst maybe TRR isn't compressed but I think it still allows different strides in position force and velocity reporting... but I think yes maybe there's an analytical solution to seeking.

[2022-08-25 15:18] orbeckst commented on #3789
Hm, yes, you are right. You never know what you find in a TRR step.

[2022-08-25 21:29] richardjgowers opened #3790 "Read secondary structures"
## Is your feature request related to a problem? ##

PDB files have quite a few fields, why not read this data?

## Describe the solution you'd like ##

Atom attributes for secondary structure.

## Describe alternatives you've considered ##

## Additional context ##

[2022-08-25 21:40] IAlibay commented on #3790
Reading HELIX, etc.. and dumping them into a residue-wide attribute isn't too bad imho, to speed this discussion up, can we come up with quick solutions for what we do about:

1. When they are partially missing
2. When we write but the coordinates have been modified (i.e. should we be able to write out the secondary structure if it's different from what it's meant to be?)

That's the only two thin

[2022-08-25 21:53] IAlibay opened #3791 "Release 2.3.0"
The last release was on June 2nd 2022.

According to our 3 month release schedule the next release will be September 2022.

As I will not be around later next week, a release will be done over this coming weekend.

As such I am calling a code-freeze for all non essential code changes.

[2022-08-26 00:37] hmacdope opened #3792 "Long term solution for units in AuxReaders and in general"
## Is your feature request related to a problem? ##

Some discussions on #3749 brought up conversion of units in the `AuxReaders`. Our current solution used in the coordinate readers is to hardcode the units for the relevant format in and then convert while required.

While this may be an OK solution for the coordinates where the units are relatively simple, the more exotic units that are possible

[2022-08-26 00:56] hmacdope commented on #3792
Personally I think we will need to move to a units management system at some point.

[2022-08-26 06:15] jbarnoud opened #3793 "Lazy index building for XTC and TRR tajectories"
## Is your feature request related to a problem? ##

Reading an XTC or TRR trajectory for the first time can be very slow, especially for large files. This is due to the building of the index that allows us to access random frames.

We experienced issues due to the indexing with very large files (#3789) or with read-only file systems where the index had to be rebuilt each time.

## Describe the so

[2022-08-26 06:16] jbarnoud commented on #3789
I just opened #3793 in that direction.

[2022-08-26 06:28] rafaelpap opened #3794 "distances.between does not return AtomGroup"
## Expected behavior ##

Following the docs analysis.distances.between should return an AtomGroup.
(https://docs.mdanalysis.org/2.2.0/documentation_pages/analysis/distances.html)

## Actual behavior ##

 if there are no atoms selected the type returned is int. In te code below actual1 is
<class 'MDAnalysis.core.groups.AtomGroup'>
whereas actual2 is
<class 'int'>

## Code to reproduce the behavior

[2022-08-26 06:32] rafaelpap commented on #3794
I reported the problem in the discussion forum:
https://groups.google.com/g/mdnalysis-discussion/c/D0-q_Z9xPCE

[2022-08-26 11:41] BFedder commented on #3792
We'd also need to decide if more exotic units should be converted or not. Some of the units that can occur in EDR files are
  - kJ/mol
  - K
  - bar
  - unitless
  - nm
  - nm ^ 3
  - kg / m^3
  - bar * nm
  - nm / ps
  - D

and a few of these are not yet mentioned [in our docs](https://docs.mdanalysis.org/2.2.0/documentation_pages/units.html).

What do we want to do with pressures and dipole mome

[2022-08-26 11:59] hmacdope commented on #3792
Most should be derivable from our base units, eg pressure is Force/Area so should be kJ/molA^3? And dipole moment eA. But I agree this is a bit of a challenge and we should enhance docs whatever we decide.

[2022-08-27 02:45] aya9aladdin opened #3795 "Guessing a read attribute"
## Is your feature request related to a problem? ##
continuing on the context-aware guesser project on #3753  I'm wondering what is the most suitable action to take if the user asked to guess an attribute already read from the file.  there is a number of different scenarios that could happen:

1- just raise a warning that this attribute is already read and continue without guessing anything
2- rai

[2022-08-27 04:04] tanmaymunjal commented on #2046
Hey! Just trying to take a hit at the lib.distances.distance_array() rework. This is what I am seeing:

![](https://imgur.com/a/ALHf4Yx)

Could anybody refer me to which loop the problem is referring or if the problem is already solved in the latest 2.3.0-dev0 version?

[2022-08-27 04:11] tanmaymunjal commented on #2046
Hey, Just trying to take a hit at the lib.distances.distance_array() issue. This seems to be the relevant codebase where the issue is referring:

https://imgur.com/7sgIP8B

Could anybody guide me to which loop the issue is colluding or if the issue is solved and should be closed in the latest version?

[2022-08-27 07:46] hmacdope commented on #2046
Hi @tanmaymunjalz the loop in question is in the C header package/MDAnalysis/lib/include/calc_distances.h and is at line 383 406 and 431. I would make links but I'm on my phone.

[2022-08-27 09:49] jbarnoud commented on #3795
Good summary of the problem and the listed solutions are pertinent.

I do prefer solution 2 but without raising a warning. Placing myself from a user point of view, if I run a script, I may need some attribute to be present regardless of the input file format. Therefore, I put all the attributes I need in `to_guess` to be sure they will be available in my universe. However, if they are read from t

[2022-08-27 15:46] tanmaymunjal commented on #2046
Thanks! Will take a look

[2022-08-27 17:13] aya9aladdin commented on #3795
That's what I was thinking about indeed

[2022-08-27 19:21] IAlibay opened #3796 "Add upper pins for some core dependencies on deployment"
## Is your feature request related to a problem? ##

One of the common issues with MDA is that knowing what dependency versions are likely to work for a given historical version of the library can be rather difficult.

Now that we have a defined pyproject.toml, ABI issues aren't likely to happen, however deprecated features can still be a problem.

With MDAnalysis' now 3 monthly release schedule,

[2022-08-27 19:22] IAlibay commented on #3796
I'd be rather interested to hear @tylerjereddy's views here.

[2022-08-27 19:22] IAlibay commented on #3744
I'm moving this to target 2.4.0 instead.

[2022-08-27 22:22] tylerjereddy commented on #3796
So, SciPy does place upper bounds on most dependencies in tagged releases, including the allowed version of Python itself. We allow current NumPy + some constant number of additional NumPy releases until the normal deprecation cycle would turn into a feature removal (I think 2 releases, then they're allowed to/by convention remove after that?).

I won't lie though--this has caused considerable con

[2022-08-28 01:43] tylerjereddy commented on #3707
Did I see on Discord that some folks at a conference wanted multi-precision? Could someone summarize that here? For the specific linked PR gh-3544, that subset of changes looks like it could go in pretty soon IMO, even if we don't go too crazy on this just yet.

[2022-08-28 01:46] richardjgowers commented on #3707
It would be nice for performance reason to be single precision. (Hugo and I have work on vectorising where width matters)

Also the current pattern of inputting single and returning double makes chaining calls trickier / less logical).

I think a dtype argument to Universe, and all functions being fused types/templates is there best of both worlds.

[2022-08-28 01:46] tylerjereddy commented on #3707
So, I think I'm a bit more positive about changes like this in isolation if the tests pass and we're backwards compatible, at least initially. Not sure we should jump in on the bigger/more invasive changes right away, but gradually working toward the `dtype` flexibility may not hurt as accelerators with low-precision performance offerings become more popular, etc.

[2022-08-28 01:50] tylerjereddy commented on #3707
I *think* we're agreeing that flexibility is good and single-precision default is good (me for backward compatibility reasons, and you for performance), IIUC.

[2022-08-28 01:53] tylerjereddy commented on #3707
I'm also supposing that if we're mostly single-precision internally, but sometimes returning double, that it isn't too much of a "break" to start returning in the true precision used for the calculation, since the double type is a bit of a lie if it is just a return-time upcast.

[2022-08-28 02:14] hmacdope commented on #3707
Is the best strategy perhaps to work on type flexibility around the edges, eg on all ops before relaxing the explicit requirements such as this one. https://github.com/MDAnalysis/mdanalysis/blob/develop/package/MDAnalysis/coordinates/timestep.pyx#L200

[2022-08-28 14:04] richardjgowers commented on #3796
So if the plane carrying all the mda devs crashed, it would be annoying if the package stopped working because we decided that numpy 1.(n+1) wouldn't work despite having not seen it.

I think trusting semver and pinning to a major version is sane though.

[2022-08-28 16:18] tylerjereddy commented on #3707
Might be, at least for me the idea of starting with the more straightforward changes sounds appealing. Worst case scenario you end up with a subset of functions that gain more flexibility even though the core library remains type-rigid for a while. Just my opinion though, I know some people don't like partial implementations as a whole.

[2022-08-29 06:29] hmacdope opened #3798 "`Chemfiles` change in float writing for 0.10.3 causing CI failures"
There seems to be an issue with `chemfiles` that is causing the full-deps builds to fail in #3127 and #3777 (likely others as well). I have re-triggered a few other jobs to check.

It is worth noting that `chemfiles` released a new version on [pip](https://pypi.org/project/chemfiles/0.10.3/) yesterday (0.10.3) which could be the issue [see here for the tag](https://github.com/chemfiles/chemfiles.p

[2022-08-29 09:39] Luthaf commented on #3798
Chemfiles author here. I guess you are seeing the fact that the version of chemfiles on pip is already 0.10.3, but I did not had time to release 0.10.3 on conda yet.

I looked through the linked issues, but I could not find the chemfiles CI error in #3777, and #3127 is not a PR (although chemfiles is not yet built for PPCLE64, I'll look into this). Could you point me to the CI run which failed?

E

[2022-08-29 10:41] hmacdope commented on #3798
Sorry typo on the issue number, #3797 was what I meant to type. :) here is (hopefully) a link to one of the failed CI runs for completeness https://github.com/MDAnalysis/mdanalysis/runs/8064088893?check_suite_focus=true

[2022-08-29 11:03] IAlibay commented on #3798
This is due to chemfiles-lib and chemfiles-python being out of synch (the latter having not been updated to 0.10.3 yet).

@Luthaf this seems to be a rather common issue on release, is there anything we can do to help smooth out deployment on the chemfiles side of things?

[2022-08-29 12:42] Luthaf commented on #3798
Yes, it is unfortunately common. I tried to fix this during the last release (have the python package load chemfiles from `libchemfiles.0.10.so` instead of `libchemfiles.0.10.2.so`), but realized just now my fix was broken. I have a fix for the fix (https://github.com/chemfiles/chemfiles.py/pull/43/commits/e5702be5a7d4c7b1843ac2c1c964652c2428bd56) which will come in the next release.

On my side I

[2022-08-29 12:51] IAlibay commented on #3798
This isn't an ideal solution so I'd prefer we not have to do this unless it's our only resort.

@Luthaf with a little bit more thought this seems to me to be a broken conda-forge recipe? Could you not either pin the chemfiles-lib version in the recipe to match the chemfiles-python version or at least do a `<= {{ version }}`? This would ensure that conda doesn't resolve mismatching dependencies.

[2022-08-29 13:02] Luthaf commented on #3798
So in theory chemfiles-python 0.10.2 should be able to run with chemfiles-lib 0.10.3 without a problem (the C API stayed the exact same). The issue comes from chemfiles-python, which is trying to load `libchemfiles.0.10.2.so` (only available in chemfiles-lib 0.10.2) where it should be loading `libchemfiles.0.10.so` (available in both 0.10.2 and 0.10.3).

Once 0.10.3 is fully released, I'll mark ch

[2022-08-29 13:43] Luthaf commented on #3798
Ok, chemfiles-python 0.10.3 is now on conda-forge, you should be able to restart the CI runs! Sorry for the inconvenience.

[2022-08-29 15:06] IAlibay commented on #3798
@Luthaf CI is no longer failing on a version clash, but it is failing on an assert: https://github.com/MDAnalysis/mdanalysis/runs/8072864136?check_suite_focus=true#step:7:293

Did something change with 0.10.3 which would likely cause this?

[2022-08-29 15:35] richardjgowers commented on #3798
Since chemfiles is optional, can we mark these as knownfailures so we can do the release? It's annoying to hold up the release on this.

[2022-08-29 15:36] IAlibay commented on #3798
Yeah I'm going to xfail the one test - it's a float writing issue anyways.

[2022-08-29 15:52] IAlibay commented on #3798
Ok I've re-named the issue to better match the current state of things.

It would be good to try to un-xfail the test after 2.3.0 gets released.

[2022-08-29 16:47] orbeckst commented on #3788
Remove in 3.x — I can't remember why we kept it for 2.x.

[2022-08-29 16:52] orbeckst commented on #3790
1. set anything missing to `None` (or empty string "") so that it evaluates to `False` if necessary
2. do nothing when anything changed — this is information from the original file; anything else would be in conjunction of, say, our own DSSP analysis

[2022-08-29 16:57] orbeckst commented on #3795
I agree with @jbarnoud . (2) without warning. Instead, write the documentation clearly that guessing is only performed (1) if no information is available in the file, or (2) `force_guess` is used.

[2022-08-29 17:15] richardjgowers commented on #3790
I think not writing secondary structures back out probably solves a lot of
headaches. It’s easier to consume a format than produce it.

On Mon, Aug 29, 2022 at 11:53, Oliver Beckstein ***@***.***>
wrote:

[2022-08-29 17:16] IAlibay commented on #3790
Yeah but I need it written out for a certain project we may be working on 🙃

[2022-08-29 17:19] orbeckst commented on #3790
I don't think that this is true in general .... PDB "format" I am looking at you ;-)

I hadn't considered writing, just what the Topology attr should contain. However, writing to PDB shouldn't be too hard (famous last words...).

[2022-08-29 17:20] IAlibay commented on #3796
I'm putting this down as something to target for 2.4.0.

It's a good opportunity to review our pins and also complete this: https://github.com/MDAnalysis/mdanalysis/pull/3528

[2022-08-29 17:29] IAlibay opened #3800 "3.0 release of MDAnalysis"
This is the meta issue for the 3.0 release of MDAnalysis.

The target date will be a year from the ideal release date of v2.3.0 (which we will release early): 2nd September 2023.

This will allow for four minor versions (v2.3.0 inclusive) to be released before v3.0.

The 3.0 release will be API breaking, so please discuss what needs doing here and add any relevant issues to the milestone tracker.

[2022-08-29 17:45] IAlibay opened #3801 "Remove tempfactor aliases"
Follow up from #1901

For 3.0 we should remove the tempfactor aliases.

[2022-08-29 21:02] IAlibay opened #3804 "Make Cython a build requirement"
We've been saying we'd do this for ages but never go around to it.

Making Cython required at build time (which is sorta is because of pyproject.toml) would make deployment life a lot easier.

Are there any downsides here? Do we maybe need to pin to a very specific Cython version on release or can we assume it should be fine as long as it's more or less in the right range?

[2022-08-29 21:13] richardjgowers commented on #3804
I think we've always been waiting for v3.0 (i.e. semver stable) to be released.  That said, I don't think a) we're using cython too "aggressively" such that it would break version to version and b) cython has never given us troubles wrt versions.  It's probably fine just to have cython as a build requirement

[2022-08-30 06:54] hmacdope commented on #3792
I am going to add this as a discussion point for 3.0 ? If we are going to change to a units package 3.0 would be a good time to do it.

[2022-08-30 23:37] #3791 closed, assigned to nobody

[2022-08-31 00:35] #3717 closed, assigned to hmacdope

[2022-08-31 08:15] hmacdope commented on #3676
Just for clarity is this about projection onto one of the principal Cartesian axes or any arbitrary axis?

[2022-08-31 17:13] richardjgowers commented on #3800
So something that might be worth breaking for v3.0 is resid/icode handling, see: #2308

I think that:
- removing resnums (not resids, we also have a thing called resnum for some reason...)
- mashing resid and icode together into some magic object (see below)

Icodes are easy to forget, but important for ordering.  I think maybe having resids and icodes combined into one object would help people wo

[2022-08-31 17:14] richardjgowers commented on #2362
This would be cool to address in 3.0 as it "breaks" things, but it needs fixing (ping #3800)

[2022-09-01 01:13] #3798 closed, assigned to nobody

[2022-09-01 09:54] hmacdope commented on #3792
Xarray just transitioned to using pint. Check out their [blog](https://xarray.dev/blog/introducing-pint-xarray) on the subject.

[2022-09-01 16:43] BFedder opened #3811 "Change order of arguments for adding auxiliary data for 3.0 release"
## Is your feature request related to a problem? ##
Currently, auxiliary data is added as such:
[code]
i.e.
[code]
Adding all data is done as such:
[code]
`aux_spec` and `aux_data` both are optional arguments for this solution. Changing the order and making `auxdata` mandatory is preferable, but is a breaking change to the aux framework.

## Describe the solution you'd like ##
In 3.0, the order of

[2022-09-02 14:57] ozyo opened #3812 "Treatment of residues with alternative conformation or multiple atoms of the same name in Ramachandran Analysis"
# Is your feature request related to a problem?

If a residue has multiple atoms with the same name, they are silently skipped over without any warnings. One can provide a selection that ignores alternative conformations, however, the function extracts residues before and after which might contain alternative conformations.

The ideal way of course is to always provide a cleaned-up coordinate syst

[2022-09-04 17:07] polly-code commented on #3741
Hi @PicoCentauri, could you please elaborate on why you need this feature for the unwrapped coordinates? If I understood correctly, you performed simulations with PBC and unwrapped the molecules' coordinates during the simulations. In this case, you cannot refer to the box size anymore. If I misunderstood, could you please provide one more practical example?

[2022-09-04 22:35] #3785 closed, assigned to hmacdope

[2022-09-04 23:43] mattwthompson commented on #3792
Compared to my comment in the other thread - long enough ago I forget having written it - I'd recommend Pint as the one solution to reach for. `unyt` is not abandoned or anything but its maintenance has shifted from the original author to a team of other engineers in their organization. More importantly, its adoption is lower than Pint's, which I think has exceeded critical mass, has integration w

[2022-09-05 00:21] hmacdope commented on #3792
Thanks @mattwthompson!

Super useful info and good to get a perspective from an ecosystem that uses `pint` regularly.

Interesting comments about speed, given what you have said I imagine we won't switch to `pint.Quantity` but will just use for I/O, conversions and tagging objects with units.

[2022-09-05 00:29] IAlibay commented on #3792
Yeah, so I think in discussions with @orbeckst @richardjgowers and @lilyminium we were also quite wary of the extra costs, I think there was maybe some rough idea where we would keep `.positions` as-is but offer a new pint-ed attribute or something along those lines? (someone might remember that conversation better)

[2022-09-05 02:06] lilyminium commented on #3792
My objections lay mainly along having to contort code to fit operations that pint doesn't support, similar to what @mattwthompson's mentioned. Given that we return a copy of a numpy array every time we request `.positions` speed hasn't been my main concern, especially since you can access the underlying `_/magnitude` reasonably easily.

xarray has gotten around some of this with their numpy suppor

[2022-09-05 04:39] PicoCentauri commented on #3741
Hey @polly-code, yes I can give it a try.

Imagine the following system of a single particle type in a cubic box ranging from -0.5 Å to 0.5 Å. When reading the trajectory the cell origin is shifted to (0,0,0) whereas the positions are leaved untouched. This leads to atoms outside of the cell which are within the primary cell within the simulation.

Now I want to perform a spatial analysis. Lets sa

[2022-09-05 06:55] polly-code commented on #3741
Now it's clear to me, thanks! I was confused by the word unwrapped, sorry. Cool suggestion btw :)

[2022-09-05 14:02] #3794 closed, assigned to nobody

[2022-09-05 22:23] tylerjereddy opened #3813 "MAINT: improve auto-labeling"
I should mention that the approach to auto-labeling that we currently use for PRs and stuff was rejected upstream and replaced with something that is supposed to work better re: not mutating/removing labels humans already placed on PRs: https://github.com/scipy/scipy/pull/16870

We may want to look into that--I'm almost certain I've seen the auto-labeling doing that kind of annoying thing of remov

[2022-09-05 22:24] tylerjereddy commented on #3813
Original PR was https://github.com/MDAnalysis/mdanalysis/pull/3414

[2022-09-05 22:58] orbeckst commented on #3811
You could create the PR and it will wait until we are getting ready for 3.0. According to @IAlibay on twitter, this will be September 2023. So no rush... but it would be nice to have it queued up, especially if it only touches code related to aux.

[2022-09-05 22:59] orbeckst commented on #3811
We also need a reminder to deprecate the old functionality — that should go into 2 releases prior to 3.0.

[2022-09-05 23:02] IAlibay commented on #3813
Yeah it's not really bad, but there are some times the bot gets a bit annoying. I think we agreed this was a starting point, so any improvements would be great.

[2022-09-07 14:34] jbarnoud opened #3815 "Travis job for ARM is systematically failing"
## Expected behavior ##

The Travis job for ARM, like all other CI jobs, passes on develop.

## Actual behavior ##

The job systematically fails with the following error:

[code]

The issue appeared first here: <https://app.travis-ci.com/github/MDAnalysis/mdanalysis/jobs/578634668>. The corresponding commit does not look related.

## Code to reproduce the behavior ##

See https://app.travis-ci.com

[2022-09-07 15:49] tylerjereddy commented on #3815
For MacOS ARM CI I had to add `brew install python-tk@3.10` over in gh-3780 to avoid the same problem, so maybe we could apply a similar strategy for the Linux flavor of ARM (maybe not using `brew` though).

Someone was saying there are better options than Travis CI (finite resource limits, etc.) for linux ARM as well, though I've not tried them and that's a separate matter.

[2022-09-07 16:23] IAlibay commented on #3815
Ah that's a pain - I'll self assign to avoid several of us using Travis credits at the same time (I'll have a poke at things later this week), if you're looking into it please give it a shout here!

Re Travis alternative - I believe there's an effort to get direct AWS CI access (rather than going through Travis) on the NF side of things, I can add it to our AWS requirements we will bring to the su

[2022-09-08 11:58] #3815 closed, assigned to IAlibay

[2022-09-08 23:25] hmacdope commented on #760
Perhaps we can reconsider this for 3.0 @MDAnalysis/coredevs? I think automated doc testing would be a big improvement. I will add to the 3.0 milestone and we can pull out following discussion?

[2022-09-08 23:52] hmacdope commented on #2369
I am also going to revive the spectre of this for 3.0 ? I think it would be good to have a more consistent interface.

We could also consider using a decorator where one can provide a selstring OR atomgroup and they get converted to an atomgroup consistently. Then users can keep the flexibility of but analysis function only need to provide an interface for atomgroup.  This is similar to  what is d

[2022-09-09 00:09] hmacdope commented on #2135
I think this has been fixed in #3360.

[2022-09-09 00:09] #2135 closed

[2022-09-09 00:09] orbeckst commented on #2369
There was a whole discussion of why using _both_ is really not that straightforward. Details elude me, unfortunately.

However, _only_ using AtomGroups would be feasible, I think, but a big jump.

[2022-09-09 00:15] hmacdope commented on #865
Can be closed with #3765

[2022-09-09 00:37] hmacdope commented on #238
This is something @richardjgowers and I have been discussing a lot with some developments as to how this might be implemented / look including the possible use of some optional dependencies such as `xarray` or `zarr`. I will raise a new issue and link to here.

[2022-09-09 00:38] hmacdope opened #3817 "Chunked trajectory reader with `xarray`?"
## Is your feature request related to a problem? ##

Following discussion on #238 I think it might be a good idea to revisit the idea of a chunked  trajectory reader.  @richardjgowers and I had some very productive discussions with some of the `xarray`, `Dask` and `zarr` people at Scipy, who all indicated that chunked reading of files was a big performance gain to be made and that perhaps the xarr

[2022-09-09 00:59] hmacdope commented on #3817
Sorry I made a hash of this issue, hopefully it's digestable now.

[2022-09-09 04:43] jbarnoud commented on #865
Not really. #3765 only ticks the first box from the todo list.

[2022-09-09 04:45] hmacdope commented on #865
Fair point.

[2022-09-09 04:49] hmacdope commented on #865
Of the remaining I would say the ordering in terms of priority would go

-  read topology
- write trajectory
- write topology
- everything else

I don't think time dependent topology is something we can really handle either right? So I would push that down the list a bit.
Sound about right?

[2022-09-09 06:06] jbarnoud commented on #865
Time-dependent topologies will require a fairly major overhaul of the whole library. Let's not go there for now.

[2022-09-09 06:19] jbarnoud commented on #3817
I am only interpreting what you are saying here, so I may be completely off-base. I would suggest keeping the TimeStep as a single frame even if it is only a view on top of a multi-frames buffer object. This way we do not have to change anything that depends on TimeSteps which makes the project much more viable.

[2022-09-09 07:52] hmacdope opened #3818 "Discuss/document bond duplicate behaviour"
In the course of moving forward on #3777 the question of what to do with duplicate bond entries has come up.

The key problem is that this is a valid input for adding bonds:

[code]
Where you can have a bond of the same index but different auxiliary values (types, orders, guesses).  Only the **first** bond entry is stored as far as I can tell  in the process of de-duplication when the `TopologyGro

[2022-09-09 12:55] IAlibay opened #3819 "Make GSD an optional requirement"
As per other file format specific dependencies, it would make more sense for GSD to not be a base dependency.

[2022-09-09 13:00] IAlibay opened #3820 "Make biopython an optional dependency"
I think this has been a long time request by @jbarnoud (apologies if I'm misremembering).

Not the biggest dependency, but we could easily make it an optional one given we need it mostly for sequence alignment. Probably needs some discussion re: the impact it has on seqres though.

[2022-09-09 13:03] IAlibay opened #3821 "Remove `--fast-math` from compile flags?"
Based on recent issues highlighted on denormals behaviour, do we want to just get rid of that flag?

[2022-09-09 13:05] IAlibay opened #3822 "Make networkx an optional dep?"
Networkx is solely used by a single analysis module (leaflet.py). It may make sense to make this an optional dependency?

[2022-09-09 13:18] jbarnoud commented on #3821
What is the performance hit for getting rid of it? But since it is contagious, we probably want to remove it.

[2022-09-09 17:45] orbeckst commented on #865
Fair enough, I unlinked this issue from PR #3765.

_This_ issue will be an forever-open issue...

[2022-09-12 12:56] dpadula85 commented on #3676
Any arbitrary axis, @hmacdope.

[2022-09-12 16:07] AntonJansen96 opened #3825 "occupancy and b-factors not updated when importing multi-frame PBD"
MDAnalysis uses the occupancies/b-factors of the first frame for all subsequent frames when importing a multi-frame PDB.

## Code to reproduce the behavior ##

[code]

Also,

[code]

And [link to traj.pdb](https://drive.google.com/file/d/1IMJJkRI9M1uzaZU08O6q4RC0P6jrd1tA/view?usp=sharing).

## Expected behavior ##

[code]

## Actual behavior ##

[code]

## Current version of MDAnalysis ##

- Which

[2022-09-12 16:56] IAlibay commented on #3825
This is an interesting one. We treat things like the occupancy and bfactors main attributes as a "topology" things, so they don't don't get updated as you read a new frame.

However, specifically for occupancy, we do actually store that time dependent data under `ts.data`.

So for example if you did:

[code]

You should be able to access the time dependent occupancy data.

Adding tempfactors to th

[2022-09-12 19:38] AntonJansen96 commented on #3825
Hi, thanks for getting back to me so quickly. I wasn't aware one is able to access the time-depedent data through `ts.data`. This is very helpful in my particular case.

[2022-09-13 23:05] orbeckst commented on #3821
After having read through all of the stuff that @lilyminium had posted, I am in favor of removing it.

[2022-09-14 07:42] hmacdope opened #3827 "Interoperability with ASE"
## Is your feature request related to a problem? ##

ASE (https://wiki.fysik.dtu.dk/ase/index.html) is becoming more and more popular as a calculation engine and interoperability layer, with calculation and reader-writer interfaces to a large number of codes. It was (and possibly still is) more materials science focused, but the lure of easy interoperability will drag more people in over time.

Th

[2022-09-14 08:14] hmacdope opened #3828 "EXTXYZ format support"
## Is your feature request related to a problem? ##

The EXTXYZ format is a slight extension on the XYZ format that allows atom specific attributes and a unit cell to be specified.

As far as I can tell the most formal definition of the EXTXYZ format is by ASE in [this document](https://wiki.fysik.dtu.dk/ase/ase/io/formatoptions.html#extxyz).

There was a question regarding reading this format on

[2022-09-14 09:12] Luthaf commented on #3828
Thanks for the heads up!

Extended XYZ is not a very well specified format unfortunately. The repo you linked (https://github.com/libAtoms/extxyz) is trying to write a specification for it, and I tried to convert this specification as a formal grammar [here](https://github.com/Luthaf/extended-xyz). There is a way to take this formal grammar and create a pure Python parser, adding [lark](https://gi

[2022-09-14 15:34] BFedder opened #3830 "define method calc_representative() for averages of auxiliary data in the AUXReader"
## Is your feature request related to a problem? ##
The AuxReaders have a `calc_representative` method which returns a representative value of the auxiliary data for any given time step. It supports two modes, either returning the auxiliary data of the AuxStep `closest` to the trajectory time step, or an `average` of AuxSteps within a certain cutoff around the trajectory time step.

With the imple

[2022-09-14 18:04] jbarnoud commented on #3821
Just for the sake of it, I did run the [script](https://gist.github.com/moyix/2154125d0cb9947ec0525fb49449fab7) for the [article](https://moyix.blogspot.com/2022/09/someones-been-messing-with-my-subnormals.html).

While we do [reference the `-ffast-math` option](https://github.com/MDAnalysis/mdanalysis/blob/e7ee5a4a077c2179d6037ba634240ce7ebcb76ef/package/setup.py#L270-L271), the script did not fi

[2022-09-14 18:17] jbarnoud commented on #3821
I should add that we are not in the list compiled as part of the article: https://moyix.net/~moyix/ffast_summary.html

[2022-09-14 18:59] jbarnoud commented on #3821
Also, we need to make sue we do not introduce a regression about #2722.

[2022-09-15 13:00] IAlibay opened #3831 "`gh-pages` branch is using up >900 MB of space"
Each build of the docs is ~ 27 M, it's slow but we'll eventually start using increasing amounts of git space as we do more releases.

It's not as bad as the userguide's 6+ GB, but we should at least keep an eye on usage?

[2022-09-15 13:04] IAlibay commented on #3754
I've manually removed the old `-dev0` builds from `gh-pages` and I'm adding it as a manual step for releases for now. I'll see if there's a long term action we could tag on to releases to clean this up.

edit: I'm keeping this issue open but renaming it to better reflect what needs doing.

[2022-09-15 20:32] orbeckst commented on #3827
Maybe a joint gsoc project for a MDAKit converter?

[2022-09-15 21:00] IAlibay commented on #3827
Sorry I've not had time to chime in here, but as alluded to by Hugo, I've actually been working on this for some internal project. I'm hoping to get it done for said MDAKit converter myself.

[2022-09-15 23:18] orbeckst commented on #3822
Sure.

By now we seem to have settled on a typical pattern for dealing with optional packages: flag availability with HAS_PACKAGE from a try/except ImportError, raise exception inside function/class if not available. Guard tests.

[2022-09-15 23:19] orbeckst commented on #3819
Sure, https://github.com/MDAnalysis/mdanalysis/issues/3822#issuecomment-1248739769

[2022-09-15 23:24] orbeckst commented on #3820
Ok with me. We can eventually replace it with something else (scikit-bio?) but perhaps also optional.

In alignment (?) we use pairwise alignment somewhere, I don’t want to implement our own.

Generic comment on optional packages:
https://github.com/MDAnalysis/mdanalysis/issues/3822#issuecomment-1248739769

[2022-09-15 23:29] orbeckst commented on #3818
I would have thought that adding a duplicate bond should raise an exception.

(I don’t understand the rationale for the current behavior so I would consider changing to raising an error as a fix. Perhaps someone can explain why the current behavior is better.)

[2022-09-16 00:04] orbeckst commented on #3830
The situation might become clearer once we have more aux readers. I think we should be guided by reducing code duplication, having clear code paths, and maintainability.

Currently I’m leaning towards having the simple array method in base and anything more complicated should provide its own. However, this might come with a cost for developers who might think that they can only use the simple arra

[2022-09-16 00:34] IAlibay commented on #3818
I know that at least Maestro (maybe also pymol) will let you add two connect entries if you have a double bond in a PDB file, raising an exception would probably kill off reading those types of files?
edit: we could also pass that responsibility down to the reader itself tbh

[2022-09-16 00:46] orbeckst commented on #3818
That's a reader issue — it should create one bond with the correct bond order.

[2022-09-16 07:48] richardjgowers commented on #3822
Yes.

On Fri, Sep 16, 2022 at 00:18, Oliver Beckstein ***@***.***>
wrote:

[2022-09-16 07:49] richardjgowers commented on #3819
Yes.

On Fri, Sep 16, 2022 at 00:19, Oliver Beckstein ***@***.***>
wrote:

[2022-09-18 22:46] xibing opened #3835 "import nglview error:"
I just installed MDAnalysis, and I'm following the tutorial.
However, when I typed the following commands in jupyter notebook:
import nglview as nv
I got error message like:
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
/tmp/ipykernel_34722/4157016293.py in <module>
----> 1 import nglview as n

[2022-09-18 22:51] IAlibay commented on #3835
Hi @xibing thanks for opening this issue.

Unfortunately this is an issue upstream of MDAnalysis, please refer to this issue: https://github.com/nglviewer/nglview/issues/1032

[2022-09-18 22:54] IAlibay commented on #3835
Since this issue does not appear to be related to the MDAnalysis codebase itself, I will go ahead and close it.

Please do re-open if you think otherwise.

If you have any further questions related to installation or using MDAnalysis we would be happy to chat on the mdanalysis user mailing list or our discord server: https://www.mdanalysis.org/#participating

[2022-09-18 22:54] #3835 closed, assigned to nobody

[2022-09-18 23:32] hmacdope commented on #3830
My instinct is to have the default behaviour be a "NumPy-like" behaviour in a base class with an override in each AUXReader for each specific case.

 However I totally agree with @orbeckst that this will become clearer as more AuxReaders are written. I am ok with it being the way it is for now.

[2022-09-18 23:36] IAlibay commented on #3830
Because adding new readers is probably going to be a slow process I'd just go for the `NotImplementedError` in the short term and review it in the long term.

This avoids semver level issues where you make an early decision and then a year in realise it's sub-optimal and have to go back and fix things in the next major version.

[2022-09-18 23:39] hmacdope commented on #3818
I agree with what we have discussed above that the reader should be responsible for inputting the correct bond orders.

To change this behaviour we would need to audit the readers for duplicate behaviour and then enforce in each reader which would be a rather large breaking change?

I am thinking that the `Universe` representation of some files (ESP pdb files which seemed to fail often my tests) w

[2022-09-18 23:43] IAlibay commented on #3818
Honestly I'd probably be ok with this being pre-3.0, it feels more like a bug / undefined behaviour thing than an API break (unless there's some specific reason for its implementation - was there anything specific from git blame)?

[2022-09-19 00:07] hmacdope commented on #3818
Nothing specific from git-blame AFAIK. It will take a bit of time to audit all the readers that add bonds so watch this space.

[2022-09-19 13:17] jaclark5 commented on #3657
@orbeckst it was brought up in the review of my Pull Request that this could also be an issue in the unwrap function. Indeed this is the case. If I run the example provided in this issue with a print statement in the unwrap function I obtain the following output:
ts frame, ts id, ag ts frame, ag ts id
1 5662923360 1 5662923360
2 5662923360 2 5662923360
3 5662923360 3 5662923360
4 5662923360 4 5662

[2022-09-19 14:05] jaclark5 commented on #3657
Using the same example given in this issue, I looked at `fit_translation` and `fit_rot_trans` and I do think it belongs in this Pull Request. To reproduce what I'm describing, run the lammps job provided above with the following python script:
[code]

In `transformations.fit.py` add the following line to the `trans._tranform(self, ts)` methods:
[code]

Output: trans type, ts frame, ts id, mobile f

[2022-09-19 15:56] orbeckst commented on #3657
As this seems to be a broader problem with a common solution you can do one PR.

[2022-09-19 23:14] #3629 closed, assigned to BFedder

[2022-09-20 00:23] jaclark5 opened #3836 "XYZWriter can't append a file"
## Expected behavior ##

- Append to an XYZ file

## Actual behavior ##

- The write mode is restricted to "wr"

## Code to reproduce the behavior ##

[code]

## Current version of MDAnalysis ##

- Which version are you using? 2.4.0-dev0
- Which version of Python? Python 3.9.13
- Which operating system? MacOS 11.6

[2022-09-20 00:24] jaclark5 commented on #3836
This issues were resolved in this fork
#[https://github.com/jaclark5/mdanalysis/tree/xyz_writer](url)

[2022-09-20 00:46] jaclark5 opened #3837 "Obscure Eigenvalue error when calling shape_parameter for empty ag"
## Expected behavior ##

When calculating the shape_parameter of an AtomGroup, provide error if the group is empty. This is best placed in `center_of_mass` and `center_of_charge` since all other functions reference these two methods first.

## Actual behavior ##

Obscure error that can eventually be determined to result from an empty AtomGroup:
`numpy.linalg.LinAlgError: Eigenvalues did not conver

[2022-09-20 00:47] jaclark5 commented on #3837
An example of how to resolve this issue is shown here:
[https://github.com/jaclark5/mdanalysis/tree/empty_atomgroup](url)

[2022-09-20 16:28] orbeckst commented on #3837
Would mind making a PR? Thanks.

[2022-09-20 17:36] tylerjereddy opened #3838 "MAINT: Cython lint"
I saw [`cython-lint`](https://github.com/MarcoGorelli/cython-lint) [used successfully upstream](https://github.com/scipy/scipy/pull/17014) and ran it on MDAnalysis out of curiosity (below). Maybe some straightforward fixups we could accept.

`cython-lint MDAnalysis/lib/*.pyx MDAnalysis/coordinates/*.pyx MDAnalysis/analysis/encore/*.pyx`

[code]

[2022-09-20 23:10] jaclark5 commented on #3837
I added a draft of a pull request, is that appropriate? The way I read the contributors page suggested that I need to have an issue with a conversation before making Pull Requests.

[2022-09-20 23:29] orbeckst commented on #3837
Thanks for the draft PR, that's great!

I don't know if you're referring to https://userguide.mdanalysis.org/stable/contributing_code.html#contributing-to-the-main-codebase :

This is supposed to mean that we really appreciate any and all contributions but that we sometimes have a good idea if something fits into the core library or not or if a particular issue has a non-obvious solution, so we do

[2022-09-21 00:01] orbeckst commented on #3837
I looked at the draft PR #3839 . At the moment, `center_of_mass()` and `center_of_charge()` return empty arrays of shape (0, 3) when applied to an empty AtomGroup.  My initial reaction was that this seems to be reasonable behavior, even though it's not documented.

However, these empty arrays are somewhat peculiar objects. Let's make one:
[code]
where `x` and `e` are
[code]
What's weird is how `e`

[2022-09-21 06:13] hmacdope commented on #3837
I would argue an exception is the right behaviour.

[2022-09-21 06:40] stgzr commented on #1133
Same issue needs help (MDAnaylsis == 2.3.0)

[2022-09-21 06:57] hmacdope commented on #3838
:sweat_smile: oops, timestep.pyx is my fault.

[2022-09-21 13:56] jaclark5 opened #3841 "AtomGroup Dipole and Quadrupole Moment"
## Is your feature request related to a problem? ##
It would be convenient to obtain the dipole or quadrupole moment of a group or compounds within a group.

## Describe the solution you'd like ##
[code]

[2022-09-21 15:59] jaclark5 opened #3843 "LAMMPS dump file unwrap trajectory and import velocities and forces"
## Is your feature request related to a problem? ##
LAMMPS trajectories can be written in two way, (1) xu yu zu in dump to allow diffusion coefficients to be computed. and (2) x y z ix iy iz, where the image flags keep track of which image of the wrapped box that a particle is in. In theory, this means one could unwrap the box, however this information is lost upon import into MDAnalysis.
In addit

[2022-09-21 16:03] jaclark5 commented on #3843
Unlike my other recent Pull Requests, I haven't updated the docs or tests for this one. Since there is ongoing work with LAMMPS compatibility, I wanted opinions. I've been using these changes for my work for about a year.

[2022-09-21 21:25] jaclark5 opened #3845 "Isolayer selection"
## Is your feature request related to a problem? ##
There are currently methods of selecting a spherical or cylindrical "shell" where atoms are at least r_min away but less than r_max away, however it would be nice if there was something for flexible.

## Describe the solution you'd like ##
Such an isolayer selection tool could:
1) find a flexible shell region relative to a polymer backbone, where

[2022-09-21 22:18] jaclark5 opened #3847 "HBond Analysis, efficiency, usability, LAMMPS friendliness"
## Expected behavior ##

- The language in the documentation specifies the cutoffs in hbond analysis to be the min or max *allowed* which implies inclusive logical statements
- LAMMPS files only have types (at the moment, it is possible that molecule numbers and types could be saved as resnames and names) making this package unusable.
- A result of nan from the function is difficult to decipher
-

[2022-09-22 09:06] richardjgowers commented on #3847
Hi @jaclark5 !

I'd fully agree that the current hydrogen bonds analysis code is very bio-leaning, so expects residues & resnames, and could be more general.

[2022-09-22 09:15] richardjgowers commented on #3845
Re point 2) @orionarcher recently wrote a lot of great a code related solvation here: https://github.com/MDAnalysis/solvation-analysis

[2022-09-22 12:03] hmacdope commented on #3843
Thanks for the contribution @jaclark5! See my comments on the PR :)

[2022-09-22 12:43] hmacdope commented on #3836
@jaclark5 a bit of discussion required on this, as I (personally) am unsure about the status of appending to existing files in writers.

@MDAnalysis/coredevs do any other writers allow appending? Is this something we want to support going forward? I imagine this could lead to errors where you append to a file when unintended, but I suppose if you specify the file mode you are already being quite b

[2022-09-22 16:02] orbeckst commented on #3837
I am also tending towards exception.

Will we consider switching to an exception a **fix** (then it can go into release 2.4) or is it a **behavior change** (then it might have to wait for 3.0). Any opinions, especially @IAlibay ?

[2022-09-22 16:05] orbeckst commented on #3830
I am swayed by https://github.com/MDAnalysis/mdanalysis/issues/3830#issuecomment-1250411497 : under semantic versioning it's hard to remove a method from a base class. Let's start out with each AUXReader implementing their own and the base class raising `NotImplementedError`.

[2022-09-22 16:11] orbeckst commented on #3836
These issue are two different problems. To keep the discussion focused, could you please open a second issue for point 2 ("Write out XYZ with atom types when names or elements are not available (applicable when LAMMPS files are imported)"), @jaclark5 ?

Thank you, focused issues really help us to partition time that we can spend on things.

[2022-09-22 16:13] orbeckst commented on #3836
Regarding appending: I would like to see a survey of what our writers can do — can any of them append? (@lilyminium did you ever look into this question as part of the [User Guide: Formats](https://userguide.mdanalysis.org/stable/formats/index.html) review?)

[2022-09-22 16:14] orbeckst commented on #3841
This looks like a sensible addition.

[2022-09-22 16:33] IAlibay commented on #3836
Yes please, I have concerns about whether or not this should be allowable under the classical understanding of the XYZ file format and I think it needs further discussion.

[2022-09-22 16:35] IAlibay commented on #3836
Regarding appending - I'd like to better understand the use case. Under what case is this necessary? Why is it not feasible to have all cases of writing to a single file happening under the same context manager?

I think understand how it's being used will help clarify whether or not this is a feature that we need or if we need to provide separate tooling.

[2022-09-22 16:47] jaclark5 commented on #3836
I don't see the harm in adding a keyword argument as most users won't even know it's there. There's a package called Zeno that our group uses that takes XYZ files and rather than making a few hundred individual files and then listing their names it's convenient to add many frames (even with a different number of atoms) to a single file. I used MDAnalysis to choose the atoms. If it's a keyword, it

[2022-09-22 16:50] IAlibay commented on #3837
Sorry there's a lot of threads here and it's hard to see what the impact is. May I ask for a bit of a ELI5 on which bits of the codes are we looking to specifically change?

[2022-09-22 16:51] jaclark5 commented on #3837
Wait which function are we talking about? The original issue is that the anisotropy methods fail (and soon multipole moments ;) )with an obscure error when the group is empty. Couldn't I add an exception there?
Originally I suggested a change to center_of_* because they were referenced in all those other features.

[2022-09-22 18:28] IAlibay commented on #3836
Unfortunately the problem comes down to "long term maintenance", small changes to allow for tweaks in without careful examination / planning can very quickly snowball into messes such as our PDB writer or the DCD format and its many flavours.

It's an annoying bureaucracy of long term maintenance 😅

So if I understand your use case better, you want to create XYZ trajectories but selecting differen

[2022-09-22 20:50] orbeckst commented on #3837
I had to look up [ELI5](https://www.dictionary.com/e/slang/eli5/)... The question that @hmacdope and I have been moving towards extends beyond this particular issue: **What should our AtomGroups do when a calculation is requested of an empty AtomGroup?**

This question is a bit of an edge case because normally AtomGroups only have methods attached that are suitable for the attributes held by the g

[2022-09-22 22:08] lilyminium commented on #3837
I voted for an exception or NaN in the Discord poll, because that seems more consistent with numpy:

[code]

[2022-09-22 22:39] lilyminium commented on #3836
@IAlibay not totally sure we can do that without an append mode -- the writers require the number of atoms to initialize and I think XYZWriter might run a check for each group that's written.

I personally don't have a strong opinion either way on whether to support custom modes are not, but I'm leaning against for now because of the additional maintenance burden. If more people need this use case

[2022-09-22 22:49] orbeckst commented on #3836
I feel if we support writing trajectories with variable number of atoms per frame then we should also support reading them. And we don't — topologies with time varying number atoms is a major, major project in MDAnalysis. I am not even sure if anyone is willing to tackle it, even if they were to get paid to do it ;-).

So I am tending towards against supporting it inside core.

I'd recommend a cus

[2022-09-22 22:52] orbeckst commented on #3836
This still leaves the question for append mode open (for fixed number of atoms).

(I understand that enabling append mode will then allow the writing of custom XYZ trajectories and there's nothing we can do about it but that's just users doing what works for them and that would be fine with me. EDIT: I am not 100% sold on adding append mode until we better understand how it fits in with everything

[2022-09-23 01:09] hmacdope commented on #3843
As an additional comment, there are some ongoing changes to LAMMPS reading but most of those PRs havn't had any activity for a little bit so feel free to make changes as we are not holding for any LAMMPs stuff at the moment.

[2022-09-23 01:10] hmacdope commented on #3822
Should we make this official policy in Docs / Userguide/ wiki?

[2022-09-23 01:25] hmacdope opened #3850 "[DOCS] Wiki updates general"
## Is your feature request related to a problem? ##

The wiki is getting a little bit out of date in some respects and I think its probably a good idea to clean up a little bit?

For example,

- it lists our minimum supported python version as 2.7 when AFAIK it is now 3.6.
-  We also state the formats we support are "CHARMM, GROMACS, NAMD, LAMMPS and AMBER" when we support more.
-  https://github.

[2022-09-23 01:58] IAlibay commented on #3850
python 3.8 ;)

[2022-09-23 02:00] IAlibay commented on #3850
To add here, I have made the conscious decision to not add release notes in the wiki, they are already on the release page and I see no point to duplicate it. I'm happy to just let that disappear unless there's a very convincing reason otherwise

[2022-09-23 02:46] hmacdope commented on #3850
If it’s out of date and misleading banish it IMO.

[2022-09-23 03:32] IAlibay commented on #3850
I'd just archive it tbh, I don't know if some of these historical ones are still only available via the wiki.

[2022-09-23 03:35] IAlibay commented on #3822
Mmm I don't know just yet, there was plan with some OMSF folks to move this to a separate package that uses importlib creatively. Not sure where that got.

[2022-09-23 12:15] jaclark5 opened #3851 "XYZ files from LAMMPS Traj don't use types"
## Expected behavior ##

* Write out XYZ with atom types when names or elements are not available (applicable when LAMMPS files are imported)

## Actual behavior ##

* If atom names or elements are not available, all Xs are used in the XYZ file.

## Current version of MDAnalysis ##

- Which version are you using? 2.4.0-dev0
- Which version of Python? Python 3.9.13
- Which operating system? MacOS 1

[2022-09-23 12:33] RMeli commented on #3851
A while ago I had a long (offline) discussion with @IAlibay about readers and writers, and IIRC the conclusion was that MDAnalysis should be able to read most of the files out in the wild, but only write standard-compliant files. I don't think there is an official XYZ standard (see comment on [Open Babel's description](https://openbabel.org/wiki/XYZ_%28format%29)), but maybe the writer should just

[2022-09-23 13:13] IAlibay commented on #3851
Yeah that was pretty much what my previously mentioned "concern" was. As far as I'm aware the "community agreed" standard for XYZ is that the first column is elements. That being said, I'm open to trying to understand why types are needed here and if there's a new tool out there that specifically needs types then one option would be to just offer a subclass?

[2022-09-23 13:26] IAlibay commented on #3836
Sorry my bad yeah I should have been clearer here - any changes here to meet this need would require some large change in the way WriterBase works.

All I'm trying to do here is understand the usage pattern needed. Even if we say no for now, I'd like to have a record here of what @jaclark5 would prefer so that things are clear if/when we revisit this.

[2022-09-23 13:30] richardjgowers commented on #3836
I think adding an optional append mode to `WriterBase` has its uses, then XYZ (and other ascii formats) will likely be able to quickly use this, binary formats might require some thought.

[2022-09-23 13:38] IAlibay commented on #3836
So my initial view here, echoing @lilyminium and @orbeckst is that we have to be really careful about maintenance and specifically writers becoming increasingly dissimilar to each other.

1. I don't really like the idea of adding special cases for one of the writers. If anything, it often just ends up creating a "why did we do this? do we still need it?" style problem a few years after the fact.

[2022-09-23 18:40] orbeckst commented on #3837
We had a [discussion and a straw-poll in the public #developer channel on Discord](https://discord.com/channels/807348386012987462/808088023957897258/1022611632741941391). Here's the outcome of the discussion:

1. Nobody likes the current behavior so we will change it.
2. The majority seems to favor a hard fail with an exception. The more numpy-style approach to return NaN (and let the user figure

[2022-09-23 18:52] IAlibay commented on #3837
I was actually thinking NoDataError would make more sense? If it's a method then you're error-ing on a lack of data not the fact that it's the wrong value (because technically there are no values?)

Re: API break, I can live with this being a 2.4.0 change, but I would ask that we be very loud about it.

[2022-09-23 19:10] richardjgowers commented on #3837
I always thought NoDataError was more like missing topology attribute,
rather than zero sized input.

On Fri, Sep 23, 2022 at 19:53, Irfan Alibay ***@***.***>
wrote:

[2022-09-23 19:17] IAlibay commented on #3837
It's a bit of an academic discussion for not a big deal either way tbh, but that falls within my understanding of the chain of failure.

Empty atomgroup -> no masses -> can't use masses

The attribute is still there but only by virtue that our default is that we default to nothing instead of raising an error when there's nothing?

[2022-09-23 19:55] orbeckst commented on #3837
Similar to https://github.com/MDAnalysis/mdanalysis/issues/3837#issuecomment-1256579470 I'd also seen `NoDataError` more like to missing something from the topology. However, after a quick `git grep NoDataError` it looks as if we are using it quite liberally to mean "you haven't done something that would provide data that I need" or "this timestep doesn't have what I need right now (for whatever r

[2022-09-23 22:40] orbeckst commented on #3850
Wikis fall out of date, almost by design, unless you have plenty of people going over them constantly.

I'd suggest to correct anything that you feel needs correcting if the overall page is useful.

If the usefulness is questionable, add a [big warning](https://github.com/community/community/discussions/16925) at the top —

which you can get with markdown
[code]

Keep the release notes and link to

[2022-09-23 22:42] orbeckst commented on #3850
I added it to Releases but sadly, wiki markdown is not rendered as nicely.

[2022-09-25 00:40] hmacdope commented on #3851
AFAIK types are just the currency of the LAMMPS world. I agree with @RMeli that if you want the types to be the "elements" you should have to set that manually through the attribute.

[2022-09-25 04:24] IAlibay commented on #3851
Unless there's an alternative opinion from the core team I'm unfortunately going to label this as wontfix - if there's a standard that LAMMPS has that we then want to implement then I'm going to ask that it comes as a subclass of the XYZ parser rather than an amendment.

[2022-09-27 01:40] #3851 closed, assigned to nobody

[2022-09-27 02:33] jaclark5 commented on #3836
It seems I caused more problems by bringing up my application with variable atoms. Regardless, I didn't think exposing an inherent option would be an issue.

[2022-09-27 02:43] IAlibay commented on #3836
I wouldn't necessarily say it's "problems", it's good to know that these applications exist, and in an ideal world we _should_ support them.

Could I ask if you could please give more information on your ideal use case here? I.e. as mentioned above, would it be more reasonable if you didn't open & close the file multiple times or is there a specific need to open the file in append mode after the f

[2022-09-27 13:15] jaclark5 commented on #3836
Fair enough, I guess I wouldn't need to open and close it multiple times if I could write a different number of atoms along the trajectory, but it seems that you guys aren't interested in that scenario.
I think a plausible scenario that you might be interested in would be an incremental conversion of files. Gromacs and LAMMPS each have strengths with their features and last I checked there isn't a

[2022-09-29 13:28] IAlibay opened #3854 "pep8speaks not active?"
Just from a very cursory look, I can't seem to see pep8speaks entries in most of the latest PRs here. Is it somehow deactivated?

[2022-09-30 17:11] richardjgowers commented on #3800
I think something I've got wrong historically is the difference between segments and chainIDs.  Currently chainID is an atom attribute, but really it should alias to segid (unless I'm still wrong?)

[2022-09-30 17:15] IAlibay commented on #3800
It's a bit more complicated than that I believe. If I remember correctly, segment is a holdover of charmm things, i.e. there is no such thing as a segid in a pdbv3 compliant file

[2022-09-30 17:16] richardjgowers commented on #3800
Sure so charmm segments == PDB chains?  This would be a good breaking change to make.

[2022-09-30 17:25] IAlibay commented on #3800
@richardjgowers I'm pretty sure there's an issue about this somewhere already. Because they are technically different fields on read you can't just equate them. honestly I'd just remove any reliance on segids

[2022-10-01 03:10] #3845 closed, assigned to nobody

[2022-10-02 13:13] shalearkane commented on #3838
Can you assign me this issue?

[2022-10-08 11:32] aya9aladdin opened #3856 "PDB guesser"
## Is your feature request related to a problem? ##
as part of my gsoc project, I'm working on implementing a PDB-aware guesser to have a more accurate and reliable guesser for PDB files

## Describe the solution you'd like ##
PDB has a rich archive called Chemical Component Dictionary (CCD) that contains references for all residue and small molecule components found in PDB entries (https://www.ww

[2022-10-08 11:39] IAlibay commented on #3856
From a packaging standpoint we absolutely can't ship the library with a 300 MB+ database.

Unfortunately relying on external downloads isn't likely to go very well on clusters or some industry locations either (a lot of which can ban external internet access).

I believe @richardjgowers had some thoughts / working on some of this here. I remember some agreement that maybe doing an external optiona

[2022-10-08 11:41] IAlibay commented on #3856
In the first instance though, I would push for an initial solution that does not rely on the CCD. The standard residues are well defined (except from bond orders and formal charges which can be ambiguous in some cases), so being able to offer accurate information for these would be a massive improvement. Not being able to recognise HETATM entries is not a problem for a first pass at this problem i

[2022-10-08 12:04] aya9aladdin commented on #3856
I remember when I was writing the proposal for the PDBGuesser my first draft was relying on taking advantage of the organisation of the pdb format. It has well-defined format and nomenclature rules that could be of great advantage + standard residues are limited and easy to define their properties as you mentioned

[2022-10-09 09:59] aya9aladdin commented on #3856
I'll begin with guessing types, bonds and masses and pull an initial implementation to see how we could improve it

[2022-10-10 21:46] hmacdope commented on #3838
@shalearkane you are free to work in this if you want. Have a look at our [contributing guide ](https://userguide.mdanalysis.org/stable/contributing.html) and make a PR. Ping me if you are having any trouble.

[2022-10-11 07:19] richardjgowers commented on #1785
Its required to make a Universe with aux Readers copyable, so it’d be great
if they’re getting popularised

On Sat, Jun 11, 2022 at 10:02, Irfan Alibay ***@***.***>
wrote:

[2022-10-11 07:42] dkonstan commented on #3789
Got it, thank you! Yes that would be great.

On Wed, Aug 24, 2022 at 7:00 PM Richard Gowers ***@***.***>
wrote:

[2022-10-11 08:31] jbarnoud commented on #3539
Thank you Matteo. If you find the time, it would be good if you could
indeed.

On 3/28/22 09:18, Matteo Tiberti wrote:

[2022-10-11 09:29] jaclark5 commented on #3657
Hey sure! I can get to it next week.

[2022-10-11 16:30] BFedder commented on #1785
I had a quick look, is there any reason why the copy method couldn't just take the output from `mda.auxiliary.base.get_description` to create and return a new instance of the AuxReader? Because if that's okay that would be a reasonably quick fix, but I feel like I'm missing something obvious.

[2022-10-12 09:05] #3837 closed, assigned to nobody

[2022-10-12 19:19] IAlibay opened #3858 "Deprecating windows 32bit support"
As noticed recently, the 32bit windows azure runner has been failing.

This appears to stem from a mix of the recent scipy 1.9.2 release which no longer providing win32 wheels, and azure not providing a suitable toolchain for compiling a 32bit version of scipy.

A deeper conversation on this can be seen here: https://discuss.scientific-python.org/t/releasing-or-not-32-bit-windows-wheels/282

As a

[2022-10-12 21:00] lucl13 opened #3860 "How to create a Universe with sliced trajectory?"
Is there anyway to specify the frame slicing range when creating a Universe object?

[2022-10-13 13:18] yuxuanzhuang opened #3861 "Adding Appending Functionality to Writers"
## Current Writer API ##

[code]

## New API (`append=False` in default)
[code]
[code]
I also find the current API quite messy with mixed uses of `obj` and `ag`---let alone `ts` (https://github.com/MDAnalysis/mdanalysis/issues/2757). I will just make sure all writers do not overwrite the `write` function for now...

## Note ##
- This issue also addresses a potential bug that it doesn't raise any w

[2022-10-14 13:46] IAlibay opened #3864 "Remove distutils uses"
With https://peps.python.org/pep-0632/ distutils will be removed in py3.12.

We still have a few places in the code that still uses distutils:

- package/setup.py
- test_nsgrid.py (strtobool)
- some of the docstring for transformation.c

Most of this can just be switch to using setuptools instead. There is the slight issue that strtobool did not make it to setuptools (as far as I'm aware). So I'm

[2022-10-14 14:10] IAlibay commented on #3864
Ahhh this is news to me, and may not be necessary: https://github.com/pypa/setuptools/issues/2806#issuecomment-1193336591

@tylerjereddy would you still advise the migration here?

[2022-10-17 20:56] aya9aladdin commented on #3856
So I scanned the CCD file and tried to estimate the size of the actual data that we need from it for the bond, bond orders, aromaticity, and elements guessing (Although I already implemented element guessing based on PDB naming rules, not database). What I'm thinking about is as follows:
1- number of residues in the entire database is approx 38K residue
2- to store the data needed for PDBGuesser,

[2022-10-17 22:36] orbeckst commented on #1785
As discussed on the call today with @BFedder @hmacdope @IAlibay , we need the aux copy(). Starting with your idea, @BFedder , looks like a sensible first step.

I suggest to then look at Reader.copy() and mirror the behavior for consistency.

[2022-10-18 01:55] lilyminium commented on #3860
Hi @lucl13, welcome to MDAnalysis. Short answer: not really, but you can usually work around this.

Long answer: usually when a Universe is created, only a single frame's coordinates is loaded into memory. Going to another frame involves reading from the files on disk. One way to get around this is to load into memory, e.g.:

[code]

From there you can create a new universe (e.g. with the first, f

[2022-10-18 01:55] #3860 closed, assigned to nobody

[2022-10-18 15:47] cyril-schroeder-ox opened #3869 "Parallelisation & in-memory-loading seemingly clash"
Loading a universe in memory, then performing frame-by-frame analysis using the native Python multiprocessing module would be expected to run faster than "not in memory loaded, not multiprocessing-using" code and probably faster than "not in memory loaded, but multiprocessing-using" code - using both in-memory-loading and multiprocessing at the same time resulted in very slow code.

I have been tr

[2022-10-18 20:56] orbeckst commented on #3869
Where is `l_frames` defined?

Where does your approach spend time? Is serializing/deserializing the universe with the in-memory trajectory 24 times slow?

Also note that I would not expect any significant speed-up beyond 4-6 processes when using the trajectory on disk because I/O to the same file becomes problematic.

[2022-10-18 20:57] orbeckst commented on #3869
Are you able to use a newer version of MDAnalysis than 2.0.0? Just to make sure that it's not something that has been fixed since?

[2022-10-19 09:21] cyril-schroeder-ox commented on #3869
Sorry, I forgot to add the l_frames definition when putting together the minimal example.

Slightly updated my question: it seems to me that "accessing the trajectory frames to do the calculations on them" might be the slowest step, since reducing the size of the actual computations done on each frame didn't really reduce the total time when I only used the native multiprocessing module.
I am not

[2022-10-19 15:58] orbeckst commented on #3869
When multiprocessing spawns a new process, it must create a copy of the universe in this process. That's a non-trivial thing to do because an universe contains a lot of stuff. During the copy we serialize the universe, essentially by pickling (so you could save a universe to disk, too). Try how long it takes to turn your universe into a string (here I use ipython)
[code]
Try the above for
1. for `

[2022-10-19 17:00] ksy141 opened #3870 "transformations of ts.time do not work with in-memory trajectories"
## Expected behavior & Actual behavior ##
When trajectories are loaded in memory or created from scratch using mda.Universe.empty() with load_new(), transformations do not work.

## Code to reproduce the behavior ##
[code]

The output is:
original times: [0.0, 100.00000762939453, 200.00001525878906, 300.0, 400.0000305175781, 500.0000305175781, 600.0, 700.0000610351562, 800.0000610351562, 900.00006

[2022-10-19 17:13] orbeckst commented on #3870
On the mailing list, @yuxuanzhuang said

[2022-10-19 17:24] yuxuanzhuang commented on #3870
Expanding on that, when initializing a `MemoryReader`, one can provide `dt` or later on sets `u.trajectory.ts.dt`, but somehow`u.trajectory.dt` is immutable. I don't know Timestep well enough to understand the reason.

Moreover,
[code]
but I cannot find anything related to **:attr:`time`**

[2022-10-19 17:43] ksy141 commented on #3870
Thanks, @yuxuanzhuang.

`u.trajectory.ts.dt` works, but `u.trajectory.ts.time_offset` seems not.
[code]

The output is:
Original times:  [0.0, 100.00000762939453, 200.00001525878906, 300.0000228881836, 400.0000305175781, 500.00003814697266, 600.0000457763672, 700.0000534057617, 800.0000610351562, 900.0000686645508]
New times:  [0.0, 12.0, 24.0, 36.0, 48.0, 60.0, 72.0, 84.0, 96.0, 108.0]

[2022-10-19 18:00] yuxuanzhuang commented on #3869
Parallelization by frame is definitely not ideal/suggested if your per-frame time cost is much shorter than e.g. IO and serialization, e.g. RMSD. You can try the split-apply-combine approach mentioned in the [tutorial](https://userguide.mdanalysis.org/stable/examples/analysis/custom_parallel_analysis.html#Parallelization-in-a-split-apply-combine-fashion).

With that said, if your per-frame analysi

[2022-10-20 14:25] IAlibay opened #3873 "MDAnalysis does not build over PyPy"
### This is not a feature request

The intent of this issue is to acknowledge the current status of building for the MDA core library.

As shown in https://github.com/MDAnalysis/mdanalysis/pull/3872, it is currently not possible to build MDAnalysis using PyPy rather than CPython. Errors seem to be unclear, but there's at least one case of this `error: ‘PyThreadState’ {aka ‘struct _ts’} has no memb

[2022-10-21 12:04] PicoCentauri opened #3874 "Adding an attribute for trajectory precision"
In some situations (see below) it might be good to know what the precision of a trajectory file is. For example, the precision of a `.gro` file is two digits in MDAnalysis. However, since we store everything as floats it suggests that we use a higher precision.

## Describe the solution you'd like ##

Ad a `dtype` to be an attribute of .trajectory (ie the Reader class). The `dtype` should also wor

[2022-10-21 17:45] orbeckst commented on #3869
I did a quick comparison
[code]

Serializing an in-memory universe is more costly than the on-disk and the cost increases with the length of the trajectory. (For the 1000x file, I am running out of RAM and start using SSD swap so these numbers are not representative but simply indicate that medium-sized trajectories are already a problem). The only way that this might make sense to do is if you on

[2022-10-21 23:05] orbeckst opened #3875 "Add trajectory appending to Universe"
## Is your feature request related to a problem? ##
At the moment, one can only load trajectory data
1. when creating the Universe
2. with `Universe.load_new()` which replaces the current trajectory data

## Describe the solution you'd like ##
[code]
to extend the current trajectory with the one in FILENAME. (Or `load_next()` for better grammar.)

This would perhaps change `u.trajectory` to a Chai

[2022-10-21 23:06] orbeckst commented on #3875
I am not 100% convinced that we absolutely *need* this feature but it seems an obvious omission from our API.

[2022-10-21 23:08] orbeckst commented on #3875
Together with `Merge()` it would make creative trajectory hacking easier.

[2022-10-25 19:09] IAlibay opened #3878 "Python 3.11"
Python 3.11 is now out 🚀

As usual, making sure CI is fully 3.11 compliant is going to take a long while, mostly for conda-forge to catch up, and then for all our optional upstream deps to release 3.11 builds.

We've been testing against 3.11-rc.2 and everything seems fine, so we can probably start with pure python builds in the immediate term.

This issue exists to keep track of everything we nee

[2022-10-26 02:37] hmacdope commented on #3874
Following on from discussion on discord I would just add that the GMX readers have a `compressed-x-precision` attribute that we can expose.  @IAlibay also stated that the netcdf files also have a precision field.

[2022-10-26 03:08] hmacdope opened #3880 "Interoperability with PyIron"
## Is your feature request related to a problem? ##

[PyIron](https://pyiron.readthedocs.io/en/latest/source/about.html) is a growing package ecosystem focused on streamlining materials science workflows and running calculations at scale.

Similar to discussions surrounding ASE in #3827 PyIron has a great series of tools for running simulations and capacity for simulation analysis. It would likely

[2022-10-26 03:12] hmacdope commented on #2578
linked to #3761

[2022-10-26 04:24] hmacdope opened #3881 "Revive having `timeseries` for all readers and /or having a `transfer_to_memory` function at the reader level."
## Is your feature request related to a problem? ##

MDAnalysis/mdanalysis#2271 and MDAnalysis/mdanalysis#1400 first raised the idea of having a timeseries attribute for all readers. Currently timeseries is available  only for `DCDReader` and `MemoryReader` causing all kinds of problems particularly with ENCORE. See MDAnalysis/mdanalysis#3761  MDAnalysis/mdaencore#30 MDAnalysis/mdanalysis#2948 MDA

[2022-10-26 04:45] hmacdope opened #3882 "Improve DCD reader typing and performance."
The Cython DCD reader could do with a little bit of an update. There was a large regression in its performance compared to the other readers as measured by the ASV benchmarks around 6ae0eb12  See attached screen-cap of the ASV benchmarks.

There is room for improvement in the typing used in the cython. Cython can be very particular about the use of types wherever possible. Inspection of the annota

[2022-10-26 04:51] hmacdope opened #3883 "Add a setup.cfg option to generate annotated cython html"
Debugging and developing in cython  is much easier with the annotated html. AFAIK currently we have to modify setup.py by hand to generate the annotated cython. This could be easily achieved with a setup.cfg option with a default of False.

[2022-10-26 05:09] hmacdope commented on #3783
Update on the above Distopia is at 0.1.0 now and is probably ready to be incorporated into MDA. Just currently waiting on a conda recipe to be built conda-forge/staged-recipes#20804

[2022-10-26 05:09] hmacdope commented on #3783
Thanks to @IAlibay for all the help with CI.

[2022-10-26 05:53] #3883 closed, assigned to hmacdope

[2022-10-26 06:10] IAlibay commented on #3874
I very much support this idea. Pretty much every file format should easily have a defined precision here, except maybe formats like TRJ that I believe just use up more characters until they overflow (that might be the only case.. hopefully).

The only "blocker" I really see here is deciding how this dtype attribute is stored, both in terms of user usability and since we'll have a mix of fixed prec

[2022-10-26 10:01] Luthaf commented on #3882
I found that the performance of MDA DCD reader depends a lot on the OS/filesystem combo (cf https://github.com/chemfiles/benchmarks/). I don't understand how that would happen, but might be interesting to investigate.

[2022-10-26 13:03] #3843 closed, assigned to nobody

[2022-10-26 16:16] jan-janssen commented on #3880
Hi @hmacdope, we are definitely interested to grow the ecosystem and as you already mentioned as the pyiron atoms class is directly derived from the ASE atoms class it should be easy to interface with pyiron once an ASE interface is in place. In terms of trajectories, the ASE and pyiron formats are currently slightly different, but we are working on improving the compatibility there as well.

[2022-10-26 16:23] IAlibay commented on #3880
Once I get the mdakits repo to a working state (docs finally build 🎉 ), I'm going to start putting together that converter mdakit for all things GPL-like (including that long fabled ASE converter I had to put on halt again). We can target that there if there's an ASE dependency?

[2022-10-26 21:45] hmacdope commented on #3880
Yeah I think that is likely the best way forward for now. :)

[2022-10-26 21:52] hmacdope commented on #3882
@Luthaf from reading the benchmarks it looks like a huge performance loss on your ubuntu benchmark? Interesting I will keep in mind.

[2022-10-26 21:56] IAlibay commented on #3882
I suspect the M1's SoC architecture might have quite some involvement here?

[2022-10-27 22:56] hmacdope opened #3889 "DCD reader copies timestep while other readers update it."
----
If you got a warning

and now you are wondering what this is all about, please [see explanation below](https://github.com/MDAnalysis/mdanalysis/issues/3889#issuecomment-1436060571).

----

## Expected behavior ##

The readers should all have the same behaviour with respect to iterating through the trajectory and changing the base values in the `position` attribute.

## Actual behavior ##

The

[2022-10-28 00:42] orbeckst commented on #3889
I don’t remember if this was intentional or not. Did you run git blame to see who added the line?

It *might* have been an attempt to make the behavior of ts more intuitive (namely for the case of pulling a list of ts). But I’m with you: this should be consistent and the performance is important, especially as the DCD reader became a lot slower when we switched to cython (but it was necessary for

[2022-10-28 00:44] orbeckst commented on #3889
Changing this behavior counts as a “fix” for me—I don’t think it was ever promised to behave in the current way.

[2022-10-28 00:47] orbeckst commented on #3878
Given that 3.11 is supposedly increasing performance by 10-30% we should add it to the ASV benchmarks, too. (Not in this issue…more as a reminder to myself and anyone interested.)

[2022-10-28 03:10] hmacdope commented on #3889
I'll add proposed changes to #3888

[2022-10-28 06:25] hmacdope opened #3891 "Improve XDR typing and performance"
Similar to work on the DCD reader in #3882  The XDR readers could do with a little bit of love and possibly some better typing on the cython side.

[2022-10-29 00:38] hmacdope opened #3893 "Deprecate inclusive range in MemoryReader"
## Expected behavior ##

The MemoryReader should use non-inclusive indexing like Python's range and Numpy.

## Actual behavior ##

The memoryreader is documented as having inclusive ranges

Following discussion in #3890 we would like to deprecate this behaviour and change in 3.0.

[2022-10-29 17:32] jaclark5 opened #3895 "Second order nongaussian parameter"
## Is your feature request related to a problem? ##
In the process of calculating the MSD, it would be nice to have the nongaussian parameter

## Describe the solution you'd like ##
After msd.run(fft=False), have the second order nongaussian parameter as an attribute.

[2022-10-31 03:46] yjw0510 opened #3897 "water dynamics without needing to order atom IDs"
## Is your feature request related to a problem? ##
The current (2.4.0-dev) version of MDAnalysis requires a user to order the atom IDs in advance.

## Describe the solution you'd like ##
Probably the direct way to solve this is to reuse parts of hydrogen bonding code (mdanalysis/package/MDAnalysis/analysis/hydrogenbonds/hbond_analysis.py: line 362~367)
I think both functions (hydrogen bonding and

[2022-11-01 01:28] hmacdope opened #3898 "`MemoryReader.timeseries` doesn't raise NoDataError on empty AtomGroup, while `DCDReader.timeseries` does"
## Expected behavior ##

The DCDReader timeseries and MemoryReader behave the same.

## Actual behavior ##

The `DCDReader` raises a `NoDataError` if an empty atomgroup is provided as the `asel` argument. This is the same approach taken in #3890

However the `MemoryReader` just returns an empty array.

## Code to reproduce the behavior ##

[code]

[2022-11-02 21:46] hmacdope commented on #3783
We now have conda packages! https://github.com/conda-forge/distopia-feedstock

[2022-11-03 23:51] #3838 closed, assigned to nobody

[2022-11-04 04:34] IAlibay commented on #3898
I believe the recent consensus was that NoDataError was for missing topology attributes rather than zero sized things (see https://github.com/MDAnalysis/mdanalysis/issues/3837#issuecomment-1256617306)

Probably would want some other error type here?

[2022-11-04 04:44] hmacdope commented on #3898
We could go for ValueError or something, whatever people think is best. Is this best addressed in a seperate PR after #3890 where we homogenise all the call sites?

[2022-11-04 05:00] hmacdope commented on #3734
@MDAnalysis/coredevs with this in mind would people be open to exposing `libdcd` and `libmdaxdr` as part of our public facing cython library Would be a simple change but may advertise the `libdcd` and `libmdaxdr` are capable of being used standalone.

[2022-11-04 09:07] IAlibay commented on #3898
I probably would just advocate for changing DCD's to ValueError and make the other two ValueError? Seems like a simple enough one to have within the scope of #3890?

[2022-11-04 16:13] IAlibay commented on #2475
Since this came up on discord today, using the `Parmed` Converter as mentioned here https://github.com/MDAnalysis/mdanalysis/issues/2475#issuecomment-725066639 should work here.

This should work:

[code]

[2022-11-04 16:21] richardjgowers commented on #2475
If I can get an example file I can probably fix this

[2022-11-04 18:23] orbeckst commented on #3734
Yes, why not?

Do you envisage packaging them separately?

[2022-11-04 18:37] IAlibay commented on #3734
So something that came up in a conversation somewhere else - `libmdanalysis` is a suitably big name clash with `lib` that it has a high potential to make folks confused. Is there any way we can avoid this direct clash? Could we call it anything else or could we put `libmdanalysis` within `lib` at least?

[2022-11-04 18:52] orbeckst commented on #3898
I agree with moving to `ValueError`.

Thanks for raising the discussion @IAlibay , making the semantics of a historical code base consistent is hard work.

[2022-11-04 18:59] IAlibay commented on #3898
We really should document this somewhere, i.e. "Raised when empty input is not allowed or required data are missing." is very non-specific if we're going with a TopologyAttrs centric viewpoint. I'll raise an issue.

[2022-11-04 19:02] IAlibay opened #3901 "Document NoDataError better and ensure it's properly applied everywhere"
As per #3898 and #3837 before it, the current interpretation of `NoDataError` seems to be that it exists within the realm of TopologyAttrs. If this is the interpretation we are going for, we should do the following:

1. Clarify the documentation for this: "Raised when empty input is not allowed or required data are missing." is probably too non-specific.
2. Make sure that the codebase reflects thi

[2022-11-04 19:55] orbeckst opened #3902 "release 2.4.0"
Next minor release should be happening in December.

Pre release to-dos:
  - [x] Get PyEDR 0.7.1 released, get conda-forge package out

Post release to-dos:
  - [x] Update ASV benchmark to py3.11 https://github.com/MDAnalysis/benchmarks/issues/13

[2022-11-04 19:57] orbeckst commented on #3902
See discussion on https://github.com/conda-forge/mdanalysis-feedstock/pull/48 for including Python 3.11 in the cf package for 2.4.0 (hopefully).

[2022-11-04 19:59] IAlibay commented on #3902
We released June 2nd, August 30th, so the next release should be ~ December 1st, milestone has been updated accordingly.

Feature freeze is called for EOD anywhere on the 27th of November.

[2022-11-04 21:20] jaclark5 opened #3904 "Retrieve per residue moments of the gyration tensor"
## Is your feature request related to a problem? ##
It would be nice to retrieve the moments of the gyration tensor for custom shape assessments.

[2022-11-04 22:05] hmacdope commented on #3734
We can move it within lib for sure. The aim was just one entry point for the cython if you want it so it doesn't really matter where it goes

[2022-11-04 22:08] IAlibay commented on #3734
Is there a potential issue with cyclic imports?

[2022-11-04 22:11] hmacdope commented on #3734
Possibly I would have to test. It’s only for .pxd cimports which act more
like C headers so I’m not sure if cyclical will be a problem.

The upside is that you can do stuff like

‘’’ from MDA.lib.libmdanalysis cimport timestep’’’

But the possibly confusing part is that the headers are elsewhere.

On Sat, 5 Nov 2022 at 9:08 am, Irfan Alibay ***@***.***>
wrote:

--
Hugo MacDermott-Opeskin

[2022-11-06 10:49] hmacdope commented on #3734
Are people happy with the name `libmdanaylsis` moved inside `lib` or is this still too confusing. Any other possible name suggestions?

[2022-11-06 10:56] hmacdope opened #3907 "Make libmdaxdr and libdcd cython classes use pxd format so they can be cimported"
## Is your feature request related to a problem? ##

If we want to make our  xdr and dcd  reading and writing libraries cython importable and public as discussed in #3734, the cython classes in the respective `.pyx` files need to have accompanying `.pxd` files that expose the implementation.

## Describe the solution you'd like ##

The required pxd files should expose the cython datastructures.

#

[2022-11-06 11:22] hmacdope opened #3908 "change `cimport numpy as np` to `cimport numpy as cnp` for consistency"
## Is your feature request related to a problem? ##

We should be consistent with the way we cimport numpy in the codebase.

Lots of places currently use
[code]

While the more modern approach and the one taken in some PRs #3777 , `timestep.pyx` and a few random other existing places is to

[code]

Personally I prefer the second one (and its the one used by pandas) as it is much clearer when the C

[2022-11-06 16:07] orbeckst commented on #3734
I’m fine with the name, just spelled correctly ;-).

[2022-11-06 16:23] IAlibay commented on #3734
I'm happy with lib.libmdanalysis if that makes sense to folks / doesn't cause weird import issues. I take view that folks that will use libmdanalysis will understand the codebase more than the newcomers who might get confused by the presence of two lib* directories.

[2022-11-06 21:08] lilyminium opened #3909 "`wrap` uses `pbc` instead of `wrap` keyword"
## Expected behavior ##

Using `AtomGroup.wrap` as intended does not trigger a DeprecationWarning.

## Actual behavior ##

It does here https://app.reviewnb.com/MDAnalysis/UserGuide/pull/241/files/ because of `center_of_mass(pbc=False)` and `center_of_geometry(pbc=False)` calls, which use the old `pbc` keyword instead of `wrap`.

## Code to reproduce the behavior ##

[code]
[code]

## Current vers

[2022-11-06 22:34] hmacdope opened #3911 "Change name of `asel` in timeseries to something more comprehensible."
I know we're just doing the same as what memoryreader does, but it just struck me that `asel` is such a weird parameter name for an atomgroup. Not much we can do here, but if I'm not the only one maybe we can consider changing this for 3.0 (in a different PR, let's get this merged!).

_Originally posted by @IAlibay in https://github.com/MDAnalysis/mdanalysis/pull/3890#discussion_r1014879026_

I ag

[2022-11-06 22:44] hmacdope commented on #3761
Instead we have implemented `timeseries` in `ReaderBase` in MDAnalysis/mdanalysis#3890 so all readers will now have access to it which should solve this issue the reverse way.

[2022-11-06 22:52] #3909 closed, assigned to nobody

[2022-11-07 00:09] hmacdope commented on #3907
EDIT: Change of plans I have "pxdified" `libdcd` in #3888

[2022-11-09 05:46] hmacdope opened #3912 "Move libmdanalysis to lib"
So something that came up in a conversation somewhere else - `libmdanalysis` is a suitably big name clash with `lib` that it has a high potential to make folks confused. Is there any way we can avoid this direct clash? Could we call it anything else or could we put `libmdanalysis` within `lib` at least?

_Originally posted by @IAlibay in https://github.com/MDAnalysis/mdanalysis/issues/3734#issueco

[2022-11-09 11:24] hmacdope commented on #3778
@MDAnalysis/coredevs  bump on this for #3608? I should indicate to the author @pstaerk whether we should use aux or `ts.data`. :)

[2022-11-09 16:27] RAJULDEV commented on #2797
Hi I am new to open source
Can you help me how to get started ?

[2022-11-10 01:23] hmacdope opened #3915 "[Discuss, dont close] Precision of `distopia` functions may vary with architecture"
Discussion point for #3914.

Due to the use of VCL based metaprogramming and the way CPU dispatching is done in distopia, some ** very high precision** tests may return different results based on the CPU you have.

For example the `analysis/test_distances.py::TestDist::test_pairwise_dist_offset_effect` test fails on my ancient local machine but is fine on CI in #3914 with a relative difference of

[2022-11-11 02:13] tlfobe opened #3916 "BAT analysis method applies improper torsion shift to proper torsions"
## Expected behavior ##
I was running into some problems changing some torsions using the BAT tool in MDAnalysis. I was getting inconsistent torsions from MDAnalysis.Universe.dihedrals and the output from the BAT method. I expected the identified torsions in the BAT method to have the same torsions calculated using MDAnalysis.Universe.dihedrals.values(), but I'm not seeing that behavior.

## Actua

[2022-11-11 20:58] orbeckst commented on #3916
@daveminh could you please have a look, given that you wrote the BAT module? Thanks.

[2022-11-11 21:02] orbeckst commented on #3916
Thank you for the detailed report @tlfobe . I pinged the original author and I hope he can provide some help.

I noticed that you used MDA 2.2.0. Although I don't _think_ that there were any changes/fixes in 2.3.0 (or the upcoming 2.4.0), could you check that you see the same behavior with the latest released version?

[2022-11-11 21:04] IAlibay opened #3917 "[depend: relicensing] Post 2.4.0 contributions"
## Is your feature request related to a problem? ##

The 2.4.0 release will happen roughly around the end of the community comment period for the MDAnalysis relicensing effort.
After this, **should we decide to go ahead with LGPLv3+**, we should aim to work out what we do with any new contributions.

## Describe the solution you'd like ##

- Whilst we are contacting existing code authors, change t

[2022-11-11 21:04] IAlibay commented on #3917
@MDAnalysis/coredevs this proposal would mean having a PR freeze between the 1st of December (the v2.4.0 release date) and the 6th of December (end of community consultation period).

[2022-11-11 21:07] IAlibay opened #3918 "Fix mypy issues"
## Expected behavior ##

The latest release of mypy seems to be identify new issues, see: https://github.com/MDAnalysis/mdanalysis/actions/runs/3432903207/jobs/5722653305

These are making CI fail, we should address them.

[2022-11-11 21:10] #2578 closed

[2022-11-11 21:10] #3881 closed, assigned to hmacdope

[2022-11-11 21:10] #3761 closed, assigned to hmacdope

[2022-11-11 21:16] tlfobe commented on #3916
Thanks for the response! I made a fresh conda environment with MDA 2.3.0 and I see the same issue with running the minimum example above. I also put these files and my conda environment in this tar.gz file
[mdanalysis_bat_testing.tar.gz](https://github.com/MDAnalysis/mdanalysis/files/9993249/mdanalysis_bat_testing.tar.gz)

[2022-11-11 21:52] orbeckst commented on #3917
Yes to all of the above. A short PR freeze is sensible.

We might have to copy&paste the new licensing note on any open PR and state that when this PR is merged it will be under LGPL and if the author(s) don't like it, please say so and then we close the PR  without merging.

We will also need to state somewhere in LICENSE or elsewhere that code post the 2.4.0 release tag/commit hash is under LGPL

[2022-11-11 21:55] IAlibay commented on #3917
I'm trying to draft something ahead of time, I _think_ we might be able to copy wording from other projects (I think _maybe_ cpython?).

[2022-11-11 22:07] hmacdope commented on #3917
PR freeze is ok with me :)

[2022-11-11 22:27] hmacdope opened #3921 "Document libmdanalysis cython header."
We  should provide some kind of documentation as to the function of the `libmdanalysis/__init__.pxd` file which acts as a central jumping off point for all the other public facing cython headers.

 For example `timestep` is currently public`libdcd` and `libmdaxdr` will eventually become public following #3888 and #3892 respectively.

[2022-11-11 22:30] #3912 closed, assigned to hmacdope

[2022-11-11 22:43] orbeckst commented on #3778
I honestly can't make up my mind. To me, `ts.data` was the space that readers fill with trajectory data that's not guaranteed to exist in all formats. In my view `ts.aux` is linked to AUXReaders. But I recognize that from a user perspective it doesn't matter how we got the per-timestep data.

A stupid workaround would be to make the current `ts.data` a private `ts._data` and then make `ts.data` th

[2022-11-11 22:49] IAlibay commented on #3778
I think that's what I'd advocate for maybe? Just so we can have a single entry point for auxiliary data?

Being able to push folks towards auxiliaries rather than the rather poorly detailed `ts.data` might help improve adoption of the former?

[2022-11-11 22:49] orbeckst commented on #3911
yes, please, ~~`asel` ▶️  `selection` ?~~ EDIT: atomgroup (see below)

[2022-11-11 22:52] IAlibay commented on #3911
`asel` is an atomgroup right? `atomgroup` might be closer to what we do elsewhere?

[2022-11-11 22:54] orbeckst commented on #3911
yeah, you're right

[2022-11-11 23:15] #3918 closed, assigned to IAlibay

[2022-11-12 00:20] hmacdope commented on #3898
Fixed in #3890

[2022-11-12 00:20] #3898 closed, assigned to hmacdope

[2022-11-12 01:00] hmacdope commented on #3804
@IAlibay shall I add this to the 3.0.0 milestone? Remove if you think it should be push back.

[2022-11-12 01:09] IAlibay commented on #3804
Mayybe? I might revisit it for 2.5.0 tbh, it's only really affecting tarball installs at this rate I _think_.

[2022-11-12 16:23] IAlibay commented on #3917
So I've been thinking more about the wording here, and I'm trying to work out if we'll need to also change the header files.

Technically `# Released under the GNU Public Licence, v2 or any higher version` remains true, because the we _release_ the files under GPLv2+ for now. But I wonder if we should add extra wording there 🤔 A lot of mix-license packages do happen to do this.

I'm tempted to say

[2022-11-13 22:50] hmacdope commented on #3783
@MDAnalysis/coredevs more open question is that should distopia provide a **drop-in replacement ** for the distance functions if installed or a **selectable backend** for the distance functions. The more I'm thinking about it the more a selectable backend makes sense.

[2022-11-14 16:22] orbeckst commented on #3783
Selectable makes sense for reproducibility, given that distopia is only x86 IIRC — so if you want to be 100% sure that you're running the same code on x86 and whatever else (ARM M1?) then you should have a choice.

[2022-11-14 16:28] orbeckst commented on #3917
I would just add an explanatory sentence to the LICENSE file together with the tag/SHA1 of the commit that signifies the start of introduction of LGPLv3+ code.

[2022-11-14 18:59] orbeckst commented on #2797
Hello @RAJULDEV , welcome to the MDAnalysis community. Please see https://userguide.mdanalysis.org/stable/contributing.html for how to contribute to MDAnalysis.

We recommend you work through our introductory tutorial https://userguide.mdanalysis.org/stable/examples/quickstart.html to get a feel for MDAnalysis if you haven't used it before. This issue, for example, makes a lot more sense when you

[2022-11-15 22:07] hmacdope opened #3923 "Improve deprecation warning for DCDReader copying timestep"
Issue for proper paper trail

Add a deprecation warning for the DCDReader copying timestep unlike the other readers. Behaviour documented in #3889.

paraphrasing:

### Expected behavior ###

The readers should all have the same behaviour with respect to iterating through the trajectory and changing the base values in the `position` attribute.

### Actual behavior ###

The DCD reader creates a new

[2022-11-15 22:12] hmacdope commented on #3889
Now that there is an issue for adding a deprecation warning #3923 this can be the main issue to actually deprecate the behaviour pinned to 3.0.

[2022-11-16 02:14] hmacdope opened #3924 "[proposal] Move constants and conversion factors in `units.py` to pint"
## Is your feature request related to a problem? ##

The units.py file has a large number of hardcoded constants and conversion factors While these are tested and are accurate, I think it might be a bit more useful to define them using `pint` as **relational** constants rather than just hardcoded factors.  This makes adding more units and constants easier and **systematic**

This means something l

[2022-11-16 06:18] jbarnoud commented on #3924
Years ago we discussed going full on with pint. I do not find the discussion but points I remember are that it was slow and we did not always know them unit.

The approach here seems more conservative, which I like.

Small question, though : if a user already has a pint registry in their program, how does that interact with the registry used by mdanalysis? In a related note, would it be possible t

[2022-11-16 08:33] hmacdope commented on #3924
I think it should be fine unless there is already a registry named MDA_PINT_UNITS. Even then it might  have some kind of singleton guard I'm not sure.

So IMO low chance of cross contamination.

[2022-11-16 08:36] jbarnoud commented on #3924
That is my understanding as well. It is not an issue as long as we do not expose the types.

[2022-11-16 10:56] hmacdope opened #3925 "[DOC] doctest MEGA-issue"
## Expected behavior ##

All the code in our docstring examples should be self-contained and run on its own. They should:

- import the correct modules
- demonstrate the desired behaviour
- run correctly

## Actual behavior ##

A lot of the examples in our docs do not run correctly as they are missing imports, steps, some code logic or all of the above.

By my initial count there are ~350 failing

[2022-11-16 10:58] hmacdope commented on #3924
Just for completeness the discussion you mentioned could be #2230 which is basically the same as what I am proposing here.

[2022-11-16 11:33] richardjgowers commented on #3925
Another idea would be to add the doctest in the CI and allow it to fail for now, then once we're passing make it another row in the CI.

[2022-11-16 18:14] orbeckst commented on #3924
I am supportive (as I was for #2230). But we need to ensure that at the point of change-over **no units change values** (see https://github.com/MDAnalysis/mdanalysis/issues/2230#issuecomment-478819179 ).

[2022-11-19 00:52] #3921 closed, assigned to nobody

[2022-11-21 10:31] jamesdalg opened #3926 "Error: invalid literal for int() with base 10: 'ITEM: TIMESTEP'"
## Expected behavior ##
I would expect that MDAnalysis would import this  topology without generating an error. It seems to have trouble that there is a timestep in the file. Is there a way to tell the xyz importer to work with timestep data?

## Actual behavior ##

Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/MDAnalysis/core/universe.py", line 110, in _topolo

[2022-11-21 10:37] hmacdope commented on #3926
It looks to me like the actual contents of the file are a `LAMMPS` Dump file. Instead try

[code]

MDAnalysis is guessing based on the extension that it is an XYZ file but that doesn't seem to be the case.

[2022-11-21 11:06] hmacdope opened #3927 "Return distance results as `float` rather than `double` for 3.0 or make return type flexible."
## Is your feature request related to a problem? ##

As detailed in #3914 and observed other places, the need to mix precision when computing distances makes the `mda.lib.distances` python and C++ layers slow. It also requires an ugly shim to get distopia to work properly and IMO does not make heaps of sense with `float` coordinates to start with.

## Describe the solution you'd like ##

We could

[2022-11-21 11:20] hmacdope opened #3928 "Deprecate the `ts=None` optional kwarg in `_read_next_timestep()` for 3.0"
## Is your feature request related to a problem? ##

Several readers have a the following pattern

[code]

But IIRC the vast majority never use the `ts=None` kwarg for some kind of copy.

The existence of the `ts=None` kwarg is a bit of a slow and ugly and makes some optimisations difficult (see #3892 and copy confusion in DCDReader for in #3888 ).

## Describe the solution you'd like ##

Deprecat

[2022-11-21 11:33] hmacdope opened #3929 "[depend #3892] Deprecate `xdrlib` TRRFile.read() and XTCFile.read() in favour of `read_direct` methods with memoryview inputs"
## Is your feature request related to a problem? ##

The TRRFile and XTCFile cython classes currently allocate and return buffers in their respective `read()` methods.
This is being augmented with methods that read directly into `ts.positions`, `ts.velocities` etc directly using memoryviews in #3892  (see `read_direct` series of methods.)

## Describe the solution you'd like ##

These methods shou

[2022-11-21 11:41] richardjgowers commented on #3928
The `if ts=None` pattern is everywhere in Readers, and I don't quite understand when that would be the case.  This would be a nice historical artefact to fix in 3.0

[2022-11-21 11:43] richardjgowers commented on #3927
Ideally a `Universe` has a dtype, and all coordinates are of that type.  Currently we're float/single for coordinates, boxes are double and then distances are returned as doubles, it's a bit inconsistent.

[2022-11-21 11:47] hmacdope opened #3930 "Possibly deprecate `readframes` in `libdcd`"
`libdcd.readframes`  is a helper method to get `timeseries`-like behaviour from a DCD file. This is implemented at a very low level and no other reader seems to have an equivalent.

While I havn't benchmarked it (I imagine it is faster than the implementation in `ReaderBase`) it may be better to homogenise the implementation of `timeseries` in `ReaderBase`

Discussion in #3888 suggested deprecatin

[2022-11-21 11:56] hmacdope commented on #3734
Now that docs have been added as of #3921 we can add the `libdcd` and `libmdaxdr` cython headers to `libmdanalysis` as part of  #3888  and #3892  respectively.

[2022-11-21 12:03] hmacdope commented on #3675
This was fixed in #3683

[2022-11-21 12:03] #3675 closed, assigned to hmacdope

[2022-11-21 12:07] hmacdope commented on #3464
I'm going to close this as stale, if anyone objects please reopen.

[2022-11-21 12:07] #3464 closed, assigned to nobody

[2022-11-21 12:08] pgbarletta opened #3931 "AtomGroup doesn't rebind with each timestep after dask update"
I can't reproduce [this](https://userguide.mdanalysis.org/stable/examples/analysis/custom_parallel_analysis.html#Parallelization-in-a-split-apply-combine-fashion) section of the user guide currently, apparently due to some breaking change in Dask. ~~I can't point to the exact Dask version in which this broke, but it works on `2021.1.0`, but is broken on `2022.6.0` onwards.~~ It works up to `2021.4

[2022-11-21 12:10] hmacdope commented on #3351
This could be covered by the proposed ASE converter see #3827

[2022-11-21 12:14] hmacdope commented on #2948
Fixed in #3890

[2022-11-21 12:14] #2948 closed

[2022-11-21 12:17] hmacdope commented on #2719
Im going to add this to 3.0 as fits in thematically with #3893

[2022-11-21 12:20] hmacdope commented on #2543
This can be closed now IMHO? @lilyminium feel free to reopen if you feel differently?

[2022-11-21 12:23] hmacdope commented on #2292
Can be fixed by #3905

[2022-11-21 12:24] hmacdope commented on #2267
Possibly related to work in #3892

[2022-11-21 12:25] IAlibay commented on #2543
Re-opening, this is not a solved issue @hmacdope

[2022-11-21 12:27] hmacdope commented on #2543
My bad

[2022-11-21 12:31] hmacdope commented on #760
Linked to #3925

[2022-11-21 13:34] elfring commented on #3464
:thought_balloon: I find that [the rationale of the Python enhancement proposal 203](https://www.python.org/dev/peps/pep-0203/#rationale "Proposal for augmented assignments") (from 2000-07-13) can indicate also motivation for another bit of collateral evolution.

[2022-11-21 18:00] AChatzigoulas opened #3932 "Error with PQRParser for coordinate below -100 Å"
Hello MDAnalysis devs,

I found a bug in the PQRParser. When I try to parse a PQR file of a structure with an atom coordinate of -100 Å and below, I get the following error:

[code]

 An example of a line in the PQR file that produce this error is:
[code]

I think the reason for this error is obvious. Centering the protein to (0, 0, 50) solves this probles. I would appreciate if you could make the

[2022-11-21 22:30] jaclark5 opened #3933 "modernize HBA to use AG as objects internally instead of selection strings"
## Is your feature request related to a problem? ##
modernize HBA (HydrogenBondAnalysis) to use AG (AtomGroups) as objects internally instead of selection strings to avoid the need for HBA analysis to discern the relevant atoms.

## Describe the solution you'd like ##
AG as objects internally instead of selection strings

## Additional context ##
See PR Hbond update #3848 (in particular https://gi

[2022-11-21 23:07] tylerjereddy opened #3934 "MAINT: xdrlib is going away in Python 3.13"
On latest `develop` in Python 3.11: `MDAnalysis/topology/TPRParser.py:160: DeprecationWarning: 'xdrlib' is deprecated and slated for removal in Python 3.13`

I can't quite tell if this will be dealt with naturally by gh-3929 or not, but doesn't seem to be an explicit objective there?

See also: https://peps.python.org/pep-0594/#xdrlib

[2022-11-21 23:09] hmacdope commented on #3932
Thanks for raising an issue. Would you be able to attach the file so that we can build a test around it? Cheers.

[2022-11-21 23:10] IAlibay commented on #3934
@tylerjereddy we're replacing this with a vendored package of xdrlib (you can see this under the mda-xdrlib repo), I'm just finishing up an action for releases and tidying up some docs and we should be good to go.

[2022-11-21 23:28] tylerjereddy commented on #3934
ah, great, I only searched our open issues I guess

[2022-11-21 23:30] tylerjereddy commented on #3934
I wonder if `AttributeError: 'PosixPath' object has no attribute 'encode'` will go away as well--that seems to happen when initiating universes with `pathlib` components I think:

[code]

[2022-11-21 23:31] tylerjereddy commented on #3934
Ah, that's gh-2497, not sure if that will auto-close with the new effort, but it is already open anyway.

[2022-11-22 00:20] orbeckst commented on #3932
How did you produce your PQR file?

We only really [parse files that are whitespace delimited](https://docs.mdanalysis.org/stable/documentation_pages/coordinates/PQR.html).

The current PQR parser does not have a defect, it reads according to specifications.

If your file is produced by a commonly used tool then it may be worthwhile to *enhance* the PQR reader to deal with badly formatted PQR file

[2022-11-22 00:24] orbeckst commented on #3931
@yuxuanzhuang have you encountered this problem?

[2022-11-22 00:25] orbeckst commented on #3931
I don't have an answer but we emphatically do **not** want to execute a selection
[code]
in an inner loop. That's terrible for performance.

[2022-11-22 00:37] orbeckst commented on #3928
Sounds like built-in flexibility that we at least never used.

[2022-11-22 00:41] orbeckst commented on #3927
I'd say a dtype makes sense for a homogenous data structure like an array. For something heterogenous like a Universe it's a "nice to have". I think it's more important to think about loss of precision when you're working with the data than to make promises up-front. For instance, it may make a lot of sense to use double accumulator variables when aggregating float coordinates.

[2022-11-22 09:23] AChatzigoulas commented on #3932
I use [pdb2pqr](https://github.com/Electrostatics/pdb2pqr) but I didn't know about the  ```--whitespace``` option. This solves the problem. Thank you very much.

[2022-11-22 09:23] #3932 closed, assigned to hmacdope

[2022-11-22 15:39] yuxuanzhuang commented on #3931
I am not able to pinpoint the culprit from dozens of dask changes (it boils down to how dask serializes stuff e.g. if I set `serializers` to `pickle/cloudpickle`, it works fine) but a very easy fix can be explicitly add `universe` in `analyze_block` so they are guaranteed to be attached in new processes (see serialization discussion [here in AtomGroup documentation]( https://docs.mdanalysis.org/st

[2022-11-22 22:48] hmacdope commented on #3926
@jamesdalg did this solve your issue?

[2022-11-23 10:47] jamesdalg commented on #3926
@hmacdope

I ended up doing the following and it worked like a charm:
[code]
It may work without the atom_style line. I'll try it without. I hope so, because that would make it easy to combine multiple experiments with slightly different atom styles.

One last question: will calling Universe like this pick up multiple timestamps? I know this data only has one per file, but assuming that I have a f

[2022-11-23 12:00] hmacdope commented on #3926
@jamesdalg

Yep this will pick up multiple timesteps!  The following pattern allows you to iterate through the timesteps.

[code]

Or you can run one of the boxed analyses on your universe directly. See the [analysis docs ](https://docs.mdanalysis.org/stable/documentation_pages/analysis_modules.html) for more info.

[2022-11-23 14:55] jamesdalg commented on #3926
Awesome! Thanks!!

[2022-11-23 14:55] #3926 closed, assigned to nobody

[2022-11-23 22:48] orbeckst opened #3936 "update docs for calc_dihedral to indicate output range"
The docs for dihedral calculations do not state the range of angles that are returned.

Based on the use of [atan2()](https://linux.die.net/man/3/atan2) from the C standard lib in
https://github.com/MDAnalysis/mdanalysis/blob/497f45e23c834780f9ca172b3e4d4ad7602136bc/package/MDAnalysis/lib/include/calc_distances.h#L761 the answer should be [–π, π].

[2022-11-24 20:39] tylerjereddy opened #3937 "MAINT, ENH: more pathlib support tasks"
Some suggested follow-ups from gh-3935:

1. Add support and testing for `pathlib` object handling to `SingleFrameReaderBase` and/or upstream this to the proto infrastructure. The `pathlib` handling/testing in the connected PR is restricted to `ReaderBase` for now.
2. The testing added in the above PR might eventually benefit from being consolidated to i.e., universe creation over a parametrized se

[2022-11-28 07:35] sahilempire commented on #3401
Hey maintainers, I would like to work on this issue, I know somewhere this issue is part of GSoC but currently, no one is working on this particular issue, can you please assign me and guide me through, what exactly I have to do? @IAlibay

[2022-11-28 15:51] orbeckst commented on #3401
@sahilempire thank you for your interest in contributing. Do you have experience with MDAnalysis and OpenMM?

[2022-11-28 22:24] tlfobe commented on #3916
Hello! Just pinging this again! For now, I'm using the workaround I show above in my code to get around this (removing the `shift` array from the BAT torsions)

[2022-11-28 23:16] orbeckst commented on #3916
Thank you for checking 2.3.0, @tlfobe . Sorry, the issue slipped of my radar.

@daveminh could you or someone from your group please look at this issue? With contributed code it is really important to us that the original authors weigh in on potential bug reports.

[2022-11-29 05:03] sahilempire commented on #3401
No, not yet @orbeckst

[2022-11-29 06:16] orbeckst commented on #3401
If you're not already using OpenMM then I'd suggest working on another issue. This is likely more like a GSOC project (or part of it) than just something one can quickly do as a first issue.

[2022-11-29 10:15] Hakarishirenai commented on #3908
Hey @hmacdope, can i take up this issue ?

[2022-11-29 10:20] Hakarishirenai commented on #3936
Hey @orbeckst, I would like to take up this issue!

[2022-11-29 11:00] hmacdope commented on #3908
For sure, but first let me check with @MDAnalysis/coredevs . Would we like to have consistence and if so 'cnp' or 'np'

[2022-11-29 11:20] xiki-tempula opened #3940 "Reading the RST7 file will not read the velocity"
## Expected behavior ##

When I read a RST7 file with velocity, I expect the universe to contain velocity. However, it doesn't.

## Actual behavior ##

No velocity is in the universe. I wonder if there is any supported amber coordinate format that support the read and write of the velocity? Thanks.

## Code to reproduce the behavior ##

[code]

## Current version of MDAnalysis ##

- Which version

[2022-11-29 11:45] Hakarishirenai commented on #3908
Thank You @hmacdope
Please let me know about it too.

[2022-11-29 12:51] RMeli commented on #3908
+1 on this, `scikit-learn` did it as well a while ago: https://github.com/scikit-learn/scikit-learn/issues/23295

[2022-11-29 14:40] #3684 closed, assigned to nobody

[2022-11-29 15:44] orbeckst commented on #3936
Thank you for contributing. Please simply submit a PR and link it to this issue. Someone will review your PR and provide feedback and help there. It’s ok if the PR is a work in progress. Our user guide has an introduction to how to get started contributing.

[2022-11-29 21:04] #3882 closed, assigned to hmacdope

[2022-11-29 23:32] hmacdope commented on #3915
See #3914, addition of distopia did not require accuracy thresholds to be changed on any tests on any of the CI runners, so doesn't look like much of an issue (at least for now).

[2022-11-30 00:02] #3891 closed, assigned to hmacdope

[2022-11-30 01:19] hmacdope commented on #3907
with the merge of #3892 this is now addressed.

[2022-11-30 01:19] #3907 closed, assigned to hmacdope

[2022-11-30 01:42] hmacdope commented on #3924
@orbeckst  what about changes to values that have been redefined.  Some may be a few decimals different post redefinition.

[2022-11-30 01:44] hmacdope commented on #3924
A possible idea to avoid change on crossover would be to move the constants defined in the old units.py to be tests?

[2022-11-30 02:58] orbeckst commented on #3924
That’s a good idea. We initially need to know exactly what would change.

[2022-11-30 03:32] hmacdope commented on #3924
Let it be known this I am upset with the person that came up with `AKMA` units system

[2022-11-30 04:37] hmacdope commented on #3924
@MDAnalysis/coredevs I would also like to remove the hardcoded constant water densities eg `mda.units.water` and associated values in `mda.units.densityFactors`.

 I think these are possibly a bit misleading to ship as they provide the density of `SPC` and other water models under **ideal** conditions, rather than the actual value of them in user simulations. This I think is slightly dangerous.

W

[2022-11-30 13:56] IAlibay commented on #3940
As far as I'm aware, currently the only approach for reading velocities from AMBER files is to read them from netcdf trajectories. However I've just opened a draft #3942 which should fix this by allowing reading netcdf restart files.

[2022-11-30 14:02] xiki-tempula commented on #3940
Great. Thanks.

[2022-11-30 22:25] orbeckst commented on #3924
In our typical applications, we need some reference value for water. The literature value at standard conditions for the water model is not the worst choice, in my opinion. Similarly, having the experimental value at hand is also good. Having an option to provide your own density is not bad but for something like membrane simulations not particularly convenient because actually computing what your