[2021-04-27 18:12] orbeckst commented on #3243
@IAlibay please see comments on PR #3244 — if you don't want it in 2.0 please remove.

[2021-04-27 18:29] #2974 closed

[2021-04-27 19:25] orbeckst commented on #2553
I removed GSOC and easy labels from this issue. Until we figure out how we really want to deal with elements and guessing I don't consider this a good starter issue.

(See [Project: consistent element handling](https://github.com/MDAnalysis/mdanalysis/projects/9) for more details.)

[2021-04-27 19:35] orbeckst commented on #3218
I am looking at [Project: consistent element handling](https://github.com/MDAnalysis/mdanalysis/projects/9). This looks pretty daunting. A few notes here while I am reviewing current efforts.

* Looking at draft PR #3218, type guessing can be removed easily, but mass guessing will then leave a pretty big hole. Mass guessing would be reliable (for atomistic systems) if we had elements.
* @lilyminiu

[2021-04-28 13:17] Balasubra commented on #2728
PCA routine fails when one passes the AtomGroup to mean. The reason being the self.mean not flattened, causing a numpy broadcast error at lines 266.

`u = mda.Universe(PSF, DCD)`
`sel_grp = u.select_atoms('name CA')`
`sel_grp.write('Ref.pdb')`
`Ref = mda.Universe('Ref.pdb')`
`PSF_pca = pca.PCA( u, select='name CA', mean=Ref.select_atoms('all')  ).run()`

To fix the bug, i flattened the self.mean i

[2021-04-28 21:29] #2044 closed

[2021-04-28 23:21] #3243 closed

[2021-04-29 12:54] IAlibay opened #3248 "[pre-release 1.1.0] test_augment failure on windows"
Testing the 1.1.0 pre-release on windows we have the following issue:

_________________________________________________________________________________________________________ test_augment[q5-res5-b0] _________________________________________________________________________________________________________
b = array([10., 10., 10., 90., 90., 90.], dtype=float32), q = array([[1., 1., 1.]], dtype=fl

[2021-04-29 22:44] #3174 closed

[2021-04-30 09:00] ojeda-e commented on #3207
Hi @IAlibay. PR #3249 submitted ready to review.

Thanks.

[2021-05-01 09:09] dpadula85 commented on #1828
Hi, I know this is an old thread, but I am using the principal axes these days, and noticed that the determinant of the eigenvectors matrix is always -1 (-> left handed reference frame). Normally, reference frames are right handed...what do you think about introducing something like

`if np.linalg.det(U) < 0: U[:,0] = -U[:,0]`

before returning `U.T` ?

[2021-05-02 09:37] richardjgowers opened #3252 "Sdist should bundle up the Cython generated .cpp/.c files"
With #3250 the .c/.cpp files generated by Cython (we have real .c files too) aren't tracked in version control.  The command `python setup.py sdist` now needs to include these in the `.tar.gz` that it creates.

Docs for how to do this are here: https://docs.python.org/3/distutils/sourcedist.html

[2021-05-02 10:02] richardjgowers commented on #3237
I think it makes sense for `PyTNG` to exist as a standalone library that provides data as numpy arrays (or maybe more specifically, accepts numpy arrays as arguments to fill).  Then we have a tiny bit of work to do in this package to get that data into a `Timestep` object.  This is similar to the existing libmdaxdr / XTCReader split we currently have.

[2021-05-02 10:42] IAlibay commented on #2670
@richardjgowers this was fixed right? Can I close it?

[2021-05-02 10:43] IAlibay commented on #2987
Fixed in #3242 - needs forward porting

[2021-05-02 10:43] #2987 closed

[2021-05-02 10:44] IAlibay commented on #3159
Release 1.1.1 is now available (we had to skip over 1.1.0 due to a pypi upload issue) 🎉

[2021-05-02 10:44] #3159 closed

[2021-05-02 10:47] IAlibay commented on #3248
Adding a 2.0 milestone here. As discussed with @richardjgowers we don't think this leads to significant changes in behaviour, just that things get wrapped on a different side of the box.

I'm not sure how we're going to test this one tbh, as far as I am aware my Windows machine is the only thing that captures this. @tylerjereddy are there VM options for MSC 19+ for azure pipelines?

[2021-05-02 10:58] IAlibay opened #3253 "MDAnalysis 1.1.1 python 3.5 issues"
Note: I'm opening this issue so we have a record of what's going on. It's getting an immediate wontfix from me.

## Expected behavior ##

All tests work when running pytest.

## Actual behavior ##

With python 3.5, aside from the issues seen in #3248 the following test failures are also seen:

* Extra warnings captured for:
[code]
* TypeError with `MDAnalysisTests.utils.test_streamio::TestNamedStr

[2021-05-02 10:59] IAlibay commented on #3253
Closing as py3.5 will not be supported in 2.x.

[2021-05-02 10:59] #3253 closed

[2021-05-02 11:01] richardjgowers commented on #2670
Yeah there's a corner case in #3183 where the system is unrealistically large, but the issue here is fixed

[2021-05-02 11:01] #2670 closed

[2021-05-02 11:05] IAlibay commented on #3228
@JoelTV2021 is this still an ongoing issue? If we don't hear any further updates we will close the issue in a couple of days.

[2021-05-02 11:08] IAlibay commented on #3105
Update: we currently don't have py2.7 or py3.5 conda packages for 1.1.1. If we want them we'll need someone to do look into how to force conda-forge to generate them (I can't find anything in the docs for it).

[2021-05-02 11:09] IAlibay commented on #3129
Fixed with #3130

[2021-05-02 11:09] #3129 closed

[2021-05-02 12:21] IAlibay opened #3254 "Release 2.0.0"
The target release date for 2.0.0 is the 10th of May.

This means that we want a code freeze that comes into effect next Friday the 7th of May.**

Please see the following for a list of all current things that need to get done: https://github.com/MDAnalysis/mdanalysis/milestone/16

If there's anything that isn't on there, please do bring it up here and/or add it to the milestone directly.

** Note

[2021-05-02 13:00] #3068 closed

[2021-05-02 13:00] IAlibay commented on #3252
Do we actually want to add the C/C++ files, aren't we looking to make cython a dependency?

[2021-05-02 13:07] IAlibay commented on #2739
@richardjgowers do you mind if I just move hbond_autocorrel to hydrogenbonds for this?

[2021-05-02 13:16] richardjgowers commented on #2739
Yeah moving it is fine

On Sun, May 2, 2021 at 14:07, Irfan Alibay ***@***.***> wrote:

[2021-05-02 13:16] richardjgowers commented on #3252
Yeah alternatively we could add cython as a dependency and ship the pyx
instead

On Sun, May 2, 2021 at 14:01, Irfan Alibay ***@***.***> wrote:

[2021-05-02 14:51] IAlibay opened #3255 "coordinates.NAMDBIN file permissions are executable"
Just noticed that on develop the file persmissions for NAMDBIN (fresh clone) are `-rwxr-xr-x` whilst every other file is `-rw-r--r--`. Unless there's a specific reason, we probably want to fix this?

## Current version of MDAnalysis ##

- Which version are you using? (run `python -c "import MDAnalysis as mda; print(mda.__version__)"`) develop
- Which version of Python (`python -V`)? N/A
- Which op

[2021-05-02 18:47] IAlibay opened #3257 "TRZ reader default dt value differs from base default value"
## Expected behavior ##

The default value for `dt` is the same across all readers.

## Actual behavior ##

As pointed out in #3256 the TRZ reader defaults to 0 instead of the base value of 1.0. I propose in 2.1.0 that we just change it to align the behaviour with the other readers (as per the warning I added in #3256).

[2021-05-03 18:57] #1264 closed

[2021-05-03 18:57] #2821 closed

[2021-05-04 02:08] tylerjereddy commented on #3252
I believe it is more common to cythonize and ship the C/C++ files, although my sample size of other projects is a bit narrow.

[2021-05-04 16:55] orbeckst opened #3259 "Docs for WaterBridgeAnalysis incorrectly formatted/do not show up"
## Expected behavior ##

WaterBridgeAnalysis https://docs.mdanalysis.org/2.0.0-dev0/documentation_pages/analysis/wbridge_analysis.html shows up as its own entry.

## Actual behavior ##

Instead it shows up under https://docs.mdanalysis.org/2.0.0-dev0/documentation_pages/analysis_modules.html#hydrogen-bonding

## Code to reproduce the behavior ##

See links above.

This looks like an issue with the

[2021-05-04 20:06] xiki-tempula commented on #3259
Thanks for pointing out this issue. I think I might need some help in this case.
Previously, I set the title as

[code]

Which gives the correct doc but would give PEP warning as the line is longer than the permitted length.
I blindly change this to

[code]
which give rise to this issue.
I wonder if there is any way of separating this line into two lines?

[2021-05-04 20:10] xiki-tempula commented on #3259
I think I might need some help with regard to this issue.

Previously, the title is

[code]

However, I got PEP warning and I blindly change it to

[code]
which seems to give this problem. I wonder if there is any way of splitting the title into two lines? Thanks.

[2021-05-04 20:20] orbeckst commented on #3259
Ignore the PEP8 warning.

Check the docs when they are built. They appear on RTD and I think they get linked in the test report.

[2021-05-04 20:21] orbeckst commented on #3259
I don't know of a way to split the line – maybe the sphinx or reST docs have something. Or maybe @lilyminium knows of a trick?

[2021-05-04 21:24] #3166 closed

[2021-05-04 21:24] #3255 closed

[2021-05-04 21:27] IAlibay commented on #1769
After discussion on discord, this has been moved to a milestone for 3.0 (unless there's any disagreement with this change)

[2021-05-04 23:09] orbeckst commented on #3115
@PicoCentauri @joaomcteixeira is PR #3233 the only open mdacli PR that has to go into 2.0.0 or is there anything else?

This Friday is the hard deadline set by @IAlibay .

[2021-05-05 07:42] PicoCentauri commented on #3115
Yes PR #3233 is the only piece of code we need for finishing the CLI 🎉.

However, for the beginning we can only support the three classes (`GNMAnalysis`, `LinearDensity`, `PersistenceLength`) that we switch to the new `results` attribute. For the time after 2.0.0 I suggest that every time an analysis class is touched we start storing the results into the new attribute and throw a deprecation if th

[2021-05-05 10:26] IAlibay commented on #3115
Ideally, especially for the purposes of the upcoming workshop, we should try to move things to using `results` before the 2.0 merge (especially given that the 1.1.1 warning messages mentioned that all the AnalysisBase derived classes would change...).
If we can get #3233 merged by the end of the day tomorrow, I'm going to make some space in my calendar and try to modify at the very least the high

[2021-05-05 13:53] margheritamele commented on #1029
Hi everyone, the function uc = u.copy(frames=slice(4, 40, 4)) is no more available in python? there is a different function with which I can make a copy of the universe only retaining 1 frame each 4 ?

[2021-05-05 14:28] PicoCentauri commented on #3115
Wow, nice @IAlibay! I also have some time on the weekend and can help you. Maybe we prepare a list of the analysis classes that definitely need to be adjusted. When this list is ready we can split the classes. Do you want to deprecate the old attributes with something like

[code]

or just remove them?

[2021-05-05 14:52] IAlibay commented on #3115
@PicoCentauri Ah maybe I'm misremembering last month, didn't we deprecate them all in 1.1.1?

If not, then yeah I guess that'd be the easiest way to do it. We do have a deprecation decorator somewhere I think.

Just having a quick look through, the following should be relatively easy to get done; contacts, density, dihedral, msd, rmsd/rmsf (depending on which bits need storing).

I've not been rea

[2021-05-05 15:14] PicoCentauri commented on #3115
No we just [deprecate](https://github.com/MDAnalysis/mdanalysis/commit/de8933ad6cdb01ec13f328e80c7589cd0c968c0c) the four I mentioned above. These have to change because they already use a `results` attribute. All the classes still could live with the new and the old syntax for a while.

Cool, this should be done until the end of the weekend.

(Hopefully,) we designed the `Results` class that the

[2021-05-05 18:21] #2863 closed

[2021-05-05 18:40] IAlibay commented on #3259
I'm adding this as a 2.0 milestone, I guess if it's just a single line change it can just be done in #3120 ?

[2021-05-05 20:31] orbeckst commented on #3115
When we had the discussion about how to move forward, we didn't want to break all of Analysis so we were looking for a way for old and new to co-exist for a while. In hindsight, we could have made a more radical cut but with 1.1.1 out, that's water under the bridge.

So under semver, 2.x will have `.results` in addition to the old accessors. We can make the old accessors managed attributes that ac

[2021-05-05 21:17] orbeckst commented on #2377
@joaomcteixeira @PicoCentauri I assigned you to this issue. Once you make mdacli public, close this issue.

[2021-05-06 00:20] orbeckst commented on #3259
This will get fixed as part of PR #3258

[2021-05-06 06:47] #3115 closed

[2021-05-06 07:38] orbeckst opened #3261 "make AnalysisBase-derived classes use .results"
## Is your feature request related to a problem? ##

With PR #3233 merged, we established a new API for AnalysisBase-derived analysis classes: results should be stored in the `.results` attribute, which is a dict that makes keys available as attributes. Any classes that have not been using results should start using it _in a backwards compatible manner_.

## Describe the solution you'd like ##

Ad

[2021-05-06 07:41] orbeckst commented on #3261
@PicoCentauri @joaomcteixeira @IAlibay , this issue can be a catch-all for the AnalysisBase upgrade. I suggest to raise a separate issue for each individual class and a separate PR for each (and just reference this issue).

Please change the list of "high use" classes as you see fit. If most of these get upgraded for 2.0.0 then I think we're in good shape. We can upgrade more in minor releases.

[2021-05-06 08:51] orbeckst opened #3262 "OpenMM converter docs should be under Converters"
## Expected behavior ##

With PR #2917 (OpenMM, #2863) merged, I expected to see docs under converters https://docs.mdanalysis.org/2.0.0-dev0/documentation_pages/converters.html

## Actual behavior ##

Only the [OpenMM topology parser](https://docs.mdanalysis.org/2.0.0-dev0/documentation_pages/topology/OpenMM.html) and [OpenMM coordinate reader](https://docs.mdanalysis.org/2.0.0-dev0/documentation

[2021-05-06 13:36] IAlibay commented on #3261
I'm trying to hide from some of my other responsibilities so I've opened PRs for DensityAnalysis and Contacts. I'll also pick up MSD and the Dihedrals classes today whilst I'm on a roll (and also because they are easy to deal with...).

[2021-05-06 14:04] PicoCentauri commented on #3261
Cool. I will join forces tomorrow and also try to publish a first release candidate of the `mda_cli` together with @joaomcteixeira soon. Maybe and hopefully soon enough for your workshop. I ❤️ deadlines.

[2021-05-06 16:04] #2739 closed

[2021-05-06 16:04] #3259 closed

[2021-05-06 20:20] IAlibay opened #3267 "Incorrect versionadded for helix_analysis?"
The helix_analysis docstring says that it was added in version 1.0.0

https://github.com/MDAnalysis/mdanalysis/blob/2c714fccd95d8b05f807e38175557e398199b1d6/package/MDAnalysis/analysis/helix_analysis.py#L32

However, it's not (unless I'm missing something) in 1.1.1 (or at least current `master`).

[2021-05-06 20:22] IAlibay commented on #3267
If this is indeed 2.0.0, then we need to add it to the list of #3261 things that need to be dealt with before we release 2.0.0 (so that we don't have to deprecate later).

[2021-05-06 20:25] IAlibay commented on #3261
So we really have to update MSD/BAT/helix_analysis before 2.0.0, so we don't have to deal with deprecating new analysis classes.

I've already opened a PR for MSD, and I'm dealing with BAT now.

`helix_analysis` seems like a looott of work, so I might not get to do it (I want to try to get hbond and rmsd done as a priority after BAT).

[2021-05-06 20:28] orbeckst commented on #3267
Seems to be a mistake, it never made it into 1.x. We only state that helanal is gone and helix_analysis will be in 2.0.0.

[2021-05-06 20:31] orbeckst commented on #3228
Without further information we cannot do much more here and I'll close the issue.

@JoelTV2021 please feel free to request this issue be re-opened.

(You can also check if the newly released 1.1.1 fixes the problem.)

[2021-05-06 20:31] #3228 closed

[2021-05-06 20:33] orbeckst commented on #3183
@richardjgowers @zemanj is this issue fixed in 1.1.1/2.0.0?

[2021-05-06 20:37] orbeckst opened #3268 "update helix_analysis to use .results"
Follow the new AnalysisBase API for the new helix_analysis and store results in `.results` instead of class attributes.

This should be done for 2.0.0 #3254 so that we don't have to start this new analysis module with deprecations in place.

See omnibus issue #3261 for background and details. See PR #3263 as an example (DensityAnalysis) but note that _no deprecations are necessary_ — just change w

[2021-05-06 20:38] orbeckst commented on #3268
@fiona-naughton @lilyminium (or anybody else) helping hands would be much appreciated!!

(See https://github.com/MDAnalysis/mdanalysis/issues/3261#issuecomment-833836242 ...)

[2021-05-06 20:45] orbeckst opened #3269 "update hole2 analysis to use .results"
Follow the new AnalysisBase API and store results in HoleAnalysis in `.results` instead of class attributes.

This should be done for 2.0.0 #3254 so that we don't have to start this new analysis module with deprecations in place.

See omnibus issue #3261 for background and details. See PR #3263 as an example (DensityAnalysis) but note that _no deprecations are necessary_ — just change where the re

[2021-05-06 20:47] orbeckst opened #3270 "update hydrogenbonds.WaterBridgeAnalysis to use .results"
Follow the new AnalysisBase API and store results in hydrogenbonds.WaterBridgeAnalysis in `.results` instead of class attributes.

See omnibus issue #3261 for beackground and details. See PR #3263 as an example (DensityAnalysis)
- [ ] put all generated data into `self.results` instead of `self`
- [ ] keep managed attributes in place with deprecation message
- [ ] test deprecation messages/old attr

[2021-05-06 20:48] orbeckst commented on #3261
@IAlibay I am assigning the new issues to Milestone 2.0 but you'll be the judge if they stay there.

[2021-05-06 20:50] orbeckst opened #3271 "update hydrogenbonds.HydrogenBondAnalysis to use .results"
Follow the new AnalysisBase API and store results in hydrogenbonds.HydrogenBondAnalysis in `.results` instead of class attributes.

See omnibus issue #3261 for background and details. See PR #3263 as an example (DensityAnalysis)
- [ ] put all generated data into `self.results` instead of `self`
- [ ] keep managed attributes in place with deprecation message
- [ ] test deprecation messages/old attr

[2021-05-06 20:51] orbeckst commented on #3271
@p-j-smith @bieniekmateusz if you have some bandwidth available to quickly make these changes (end of Friday) then that would help a lot in trying to get out 2.0.0. If not then no worries, but I thought I'd ask.

[2021-05-06 20:51] IAlibay commented on #3261
We can always dream big and see how it goes 🙃

[2021-05-06 20:59] orbeckst commented on #3261
![If we ask for help... maybe they will come?](https://i.imgflip.com/58k5es.jpg)

[2021-05-06 21:02] orbeckst opened #3272 "update analysis.bat.BAT to use .results"
Follow the new AnalysisBase API and store results in analysis.bat.BAT in `.results` instead of class attributes.

See omnibus issue #3261 for background and details. See PR #3263 as an example (DensityAnalysis) but note that no deprecations are needed (new in 2.0.0)
- [ ] put all generated data into `self.results` instead of `self`
- [ ] keep managed attributes in place with deprecation message
-

[2021-05-06 21:12] IAlibay opened #3274 "update analysis.rms to use .results"
Follow the new AnalysisBase API and store results in analysis.rms in `.results` instead of class attributes.

See omnibus issue #3261 for background and details. See PR #3263 as an example (DensityAnalysis) but note that no deprecations are needed (new in 2.0.0)
- [ ] put all generated data into `self.results` instead of `self`
- [ ] keep managed attributes in place with deprecation message
- [ ]

[2021-05-06 21:19] orbeckst opened #3275 "update PCA analysis to use new .results"
Follow the new AnalysisBase API and store results in pca.PCA in `.results` instead of class attributes.

See omnibus issue #3261 for background and details. See PR #3263 as an example (DensityAnalysis)
- [ ] put all generated data into `self.results` instead of `self`
- [ ] keep managed attributes in place with deprecation message
- [ ] test deprecation messages/old attribute access
- [ ] update C

[2021-05-06 21:20] orbeckst opened #3276 "update classes in rdf to use new .results"
Follow the new AnalysisBase API and store results in rdf.InterRDF and rdf.interRDF_s in `.results` instead of class attributes.

See omnibus issue #3261 for background and details. See PR #3263 as an example (DensityAnalysis)
- [ ] put all generated data into `self.results` instead of `self`
- [ ] keep managed attributes in place with deprecation message
- [ ] test deprecation messages/old attribu

[2021-05-06 21:21] orbeckst commented on #3276
@VOD555 if you have some time to spare to update these classes until Friday, then that would be superhelpful for getting MDA 2.0 out.

[2021-05-06 21:31] RMeli commented on #3270
I can do this one @orbeckst

[2021-05-06 21:40] orbeckst commented on #3270
Thank you @RMeli . I updated the instructions in #3261 **Approach** to give everyone a template.

[2021-05-06 21:44] orbeckst commented on #3268
When you look at this issue please also fix #3267 .

[2021-05-06 21:45] lilyminium commented on #3268
is there a deadline for this :)

[2021-05-06 21:47] IAlibay commented on #3268
gotta be merged before we release 2.0.0, Friday ;) [mayyybeee Saturday, but really Friday]

[2021-05-06 21:50] #3272 closed

[2021-05-06 22:33] IAlibay opened #3278 "Update AlignTraj and AverageStructure to use new .results"
Follow the new AnalysisBase API and store results in align.AlignTraj and align.AverageStructure in `.results` instead of class attributes.

See omnibus issue #3261 for background and details. See PR #3263 as an example (DensityAnalysis)
- [ ] put all generated data into `self.results` instead of `self`
- [ ] keep managed attributes in place with deprecation message
- [ ] test deprecation messages/

[2021-05-07 00:18] #3274 closed

[2021-05-07 00:25] orbeckst commented on #3278
PR #3277 was merged so this one needs to happen.

[2021-05-07 01:55] lilyminium opened #3282 "Current Results class has a conflict in key validation between setattr and setitem"
## Expected behavior ##

I can modify the *same value* in a Results class both by using `__setitem__` and `__setattr__`. e.g.

[code]

## Actual behavior ##

The [above test fails](https://github.com/MDAnalysis/mdanalysis/pull/3281/commits/cb2c34edfebbc079ac530515474fe51dfd3fa44e). This only happens when actions follow a specific order:

- modify a value with setattr
- then modify that value with

[2021-05-07 03:03] orbeckst commented on #3282
That's not good.  We advertise `Results` as can use attribute access and key access interchangeably. Anything else will lead to confusion. Thank you for digging into this problem.

[2021-05-07 09:05] RMeli commented on #3270
@orbeckst is there any recommended way to proceed when results are defined as properties?

https://github.com/MDAnalysis/mdanalysis/blob/da46e8406b863503004daa06686ba86da0428f39/package/MDAnalysis/analysis/hydrogenbonds/wbridge_analysis.py#L1520

[2021-05-07 11:18] #3119 closed

[2021-05-07 11:50] lochanaranatunga opened #3286 "Issue with importing MDAnalysis"
I have used MDAnalysis in google colabs with mini conda and it was working well. But now when I am tring to import MDAnalysis this error popping up

**This is the code**

!wget -O mini.sh https://repo.anaconda.com/miniconda/Miniconda3-4.6.14-Linux-x86_64.sh
!bash ./mini.sh -b -f -p /usr/local
!conda install -q -y --prefix /usr/local -c conda-forge mdanalysis
import sys
sys.path.append('/usr/local/

[2021-05-07 12:50] PicoCentauri commented on #3261
Can we maybe add polymer.PersistenceLength? There are three attributes that should also go into results.

[2021-05-07 17:04] orbeckst commented on #3270
The intent of `results` is to enable auto-detection of any simulation output that could be used for downstream processing or output by mdacli; @PicoCentauri and @joaomcteixeira should chime in an say what they'd expect of WaterBridgeAnalysis.

It looks to me that the intent was that one could generate a new timeseries if one sets a different `self.output_format`. But then a cleaner solution is to

[2021-05-07 17:31] orbeckst opened #3290 "update diffusionmap.DiffusionMap and DistanceMatrix to use .results"
Follow the new AnalysisBase API and store results in diffusionmap.DiffusionMap and diffusionmap.DistanceMatrix in `.results` instead of class attributes.

See omnibus issue #3261 for background and details. See PR #3263 as an example (DensityAnalysis)
- [ ] put all generated data into `self.results` instead of `self`
- [ ] keep managed attributes in place with deprecation message
- [ ] test deprec

[2021-05-07 17:34] orbeckst opened #3291 "update polymer.PersistenceLength to use .results"
Follow the new AnalysisBase API and store results in polymer.PersistenceLength  in `.results` instead of class attributes.

See omnibus issue #3261 for background and details. See PR #3263 as an example (DensityAnalysis)
- [x] put all generated data into `self.results` instead of `self`
- [x] keep managed attributes in place with deprecation message
- [x] test deprecation messages/old attribute ac

[2021-05-07 18:25] #3271 closed

[2021-05-07 19:39] IAlibay commented on #3254
Hi all,

Our original plan was to release MDAnalysis 2.0.0 on the 10th of May, however given that:
1. MDAnalysis 1.1.1 was only advertised a few days ago
2. There are still many items left on the milestone target
3. The large API changes being introduced
the core developers have decided to take a different approach for this release.

Our new aim is to do a beta (or release candidate) release on th

[2021-05-07 20:31] #3278 closed

[2021-05-07 22:00] #3282 closed

[2021-05-07 22:47] #3267 closed

[2021-05-07 22:47] #3268 closed

[2021-05-08 00:16] #3290 closed

[2021-05-08 01:14] orbeckst commented on #3270
If `table` is not used internally then the better approach for `generate_table()` is to be a function that just returns it. I like the data format of table better but ultimately that's something that the user needs to decide. For right now, let's _not_ include `results.table` but deprecate `.table` and say that in 3.0.0, `generate_table()` will return the table. Does this sound sensible @xiki-temp

[2021-05-08 01:31] orbeckst commented on #3270
I am reviewing the PR. Let's change `generate_table()` right away to _also_ return `table` and keep `self.table` around for 2.x.

[2021-05-08 01:51] #3269 closed

[2021-05-08 09:27] #3291 closed

[2021-05-08 11:05] xiki-tempula commented on #3270
So originally, I tried to deprecate the hydrogen bond analysis by allowing the WaterBridgeAnalysis to give the same result when the `order=0`. So the `output_format` can be set to adopt the hydrogen bond analysis format but I guess it is irrelevant now and the default should work.

Due to the nature of the water interaction network, the most natural way would be to represent it as a network, but t

[2021-05-08 21:51] fiona-naughton commented on #2728
So having had a look, it seems like this is a combination of things:

1. As @IAlibay pointed out, `pca_aligned._mean` is None (since no mean is provided to `pca_algined`), so the pca in this test isn't actually running with an input mean like it's supposed to (it'll just recalculate it from the trajectory again).
The calculated mean is actually stored in `pca_aligned.mean`, but as an array, while

[2021-05-08 22:05] IAlibay commented on #2728
Thanks for chasing this one up @fiona-naughton

I'm going to put it down as a 2.0 milestone, it's a pretty glaring issue (at least if you try to use that code path) so we should try to fix it.

@fiona-naughton if it's ok I'm going to assign you as being in charge of making sure this gets addressed?

[2021-05-09 21:39] #3082 closed

[2021-05-10 19:11] #2790 closed

[2021-05-10 20:51] IAlibay commented on #3262
@orbeckst is this good to close now?

[2021-05-10 22:15] orbeckst commented on #3262
yes, thanks

[2021-05-10 22:18] #3262 closed

[2021-05-10 22:35] #3270 closed

[2021-05-11 10:45] #2958 closed

[2021-05-14 12:28] IAlibay opened #3301 "[CI] github action triggered on commit is currently broken"
Whilst implementing concurrency groups in  #3300, I didn't account for the fact that `github.head_ref` is only assigned in pull requests, so we unfortunately ended up with the following on merge: https://github.com/MDAnalysis/mdanalysis/actions/runs/840355785/workflow

Whilst it's not a massive impact on our current workflow (since we primarily rely on CI results whilst the PR is open), it does ne

[2021-05-14 14:00] #3301 closed

[2021-05-14 16:15] IAlibay opened #3303 "Document / warn users of DCD default behaviour when timestep has no dimension attribute"
Follow on from PR #3132

Comment: https://github.com/MDAnalysis/mdanalysis/pull/3132/files#r628892887

The current DCD writer behaviour is that if `dimension` == `None` for a given timestep, then the written DCD dimensions `np.zeros(6)`. This is done without warning users and there doesn't seem to be any documentation.

I don't believe that there is any in the DCD standard for this (someone please

[2021-05-14 16:30] IAlibay opened #3304 "DMSReader: convert_pos_from_native coverage"
Follow on from PR #3132

The `convert_pos_from_native` code isn't being covered, most likely because the tests always had `dimensions` set to `None`. We should try to add a test here.

See: https://github.com/MDAnalysis/mdanalysis/pull/3132/files#r628893346

[2021-05-14 16:44] IAlibay opened #3305 "GRO reader / writer, handle missing / incomplete unitcell data"
Follow up from #3132

See comments: https://github.com/MDAnalysis/mdanalysis/pull/3132/files#r628893880, https://github.com/MDAnalysis/mdanalysis/pull/3132/files#r628897097, and https://github.com/MDAnalysis/mdanalysis/pull/3132/files#r628897541

Our default behaviour when reading / writing missing/incomplete unitcell data is both undocumented and probably inconsistent with gmx.

I would suggest h

[2021-05-14 17:04] IAlibay opened #3306 "Check PDBQT CRYST1 reading"
Follow up from #3132

In the PDB standard a CRYST1 from a non-crystallographic system is set to [1,1,1,90,90,90], in those cases we set `dimensions` to `None`. For the PDBQT reader we just read whatever is in `CRYST1`, we should check if the same behaviour as the PDB reader needs to be follow here. See: https://github.com/MDAnalysis/mdanalysis/pull/3132/files#r628898514

Additional task:
  - Add c

[2021-05-14 18:11] IAlibay opened #3307 "Document TRZ writer behaviour when dimensions is None"
Follow up from #3132

When there is no timestep dimension, the TRZ writer will write out a box of zeroes. I can't find any reference for the TRZ format, but this behaviour probably needs to be both documents and warned.

[2021-05-15 14:51] zemanj commented on #3183
Nope, the issue still persists.

[2021-05-15 15:23] IAlibay commented on #3183
can confirm is still segfaults on 1.1.1 too

[2021-05-15 15:35] IAlibay commented on #3183
Probably to add to the conversation here, there's a really interesting thing where if you put the cutoff to either 2 or 3.5 you get the following `ValueError`:

[code]

[2021-05-19 07:44] lilyminium opened #3309 "Broken pickling"
## Expected behavior ##

The user guide example on parallel analysis works. https://userguide.mdanalysis.org/stable/examples/analysis/custom_parallel_analysis.html#Other-possible-parallelism-approaches-for-multiple-analyses

## Actual behavior ##

The joblib part fails (https://userguide.mdanalysis.org/stable/examples/analysis/custom_parallel_analysis.html#Other-possible-parallelism-approaches-for

[2021-05-19 22:10] orbeckst commented on #2924
Isn't the graph at the top of this issue outdated in that you found out that the performance problem is really how the h5md trajectory is structured? Given these insights, does PR #3293 really _fix_ this issue or isn't it more fair to say that that PR is simply a performance _Enhancement_?

[2021-05-19 22:15] edisj commented on #2924
I suppose you're right in that it doesn't really _fix_ the issue, but rather shows that there wasn't really an issue to begin with in terms of H5MD serial performance vs other formats.

Would it be better to simply close this issue separately, then, instead of linking it with #3293?

[2021-05-19 22:16] orbeckst commented on #2924
Yes, makes sense.

How about you state in your closing comment why you're closing it, then modify the PR to not link to this issue anymore.

[2021-05-20 01:17] orbeckst commented on #2924
I am happy with your PR #3293 so all is left here for you to close the issue.

(We _like_ closing issues as it makes us look more effective ;-) )

[2021-05-20 01:26] orbeckst commented on #3309
@yuxuanzhuang can you have a look, please?

[2021-05-20 01:29] orbeckst commented on #3286
I am closing this issue as this is something that could be discussed in our forums first. At the moment there's not enough information to indicate that this is an MDAnalysis bug.

Feel free to request that this issue be re-opened.

[2021-05-20 01:29] #3286 closed

[2021-05-20 02:23] lilyminium commented on #3309
@yuxuanzhuang feel free to tackle this if you like, but I don't think it's an issue with pickling and more with how the new `Results` checks keys in `__getitem__` -- it needs to ignore the "data" key. I bypassed this earlier by setting `data` in `__init__`, but I don't think pickling calls `__init__`. Perhaps you have ideas for a good test though? :)

[2021-05-20 03:12] InfluenceFunctional opened #3310 "nuclinfo.wc_pair extremely slow"
I'm using analysis.nuclinfo.wc_pair to profile base pair distances over long trajectories + long DNA sequences. It seems to be rather fast over ~1-100 executions, but when evaluated over a loop e.g.,
for t in all time_steps:
for i in all bases:
for j in all bases:
distance[t,i,j]=nuclinfo.wc_pair(etc.)

When the total number of wc_pair evaluations reaches ~1e3 (rough guess), evaluation gets extrem

[2021-05-20 09:02] orbeckst commented on #3310
Did you measure the time it takes to analyze one base pair (e.g., using `%timeit`) and then measured the time for a N basepairs? Is the time for N basepairs N times the time for one? Similarly, if you measure the time for one trajectory frame and M frames, does the time scale linearly with M? If it grows faster than linearly, then there's a problem somewhere. If it grows linearly, it's just slow.

[2021-05-20 09:10] orbeckst commented on #3309
Then that's the problem that @PicoCentauri mentioned in the PR on results: pickling Results does not work.

A test for being able to use multiprocessing would be good although in this case just testing pickling works seems sufficient.

[2021-05-20 09:20] yuxuanzhuang commented on #3309
The issue is during unpickling, a proper `__setattr__` (not `__setitem__`) needs to be called to handle the recursive loop well. A simple test would be
[code]

[2021-05-20 10:09] IAlibay commented on #3310
@InfluenceFunctional

Given that you're saying it gets slower / hangs as it progresses, I'm wondering if you're maybe running out of memory? Do you have any insights on how the memory usage is increasing (i.e. from monitoring task manager)?

[2021-05-20 15:35] PicoCentauri opened #3313 "Improve HELANAL docstring"
## Is your feature request related to a problem? ##

Following the discussion of https://github.com/MDAnalysis/mdanalysis/pull/3308#r633977107 the docstring of the HELANAL class could be improved. First of all

https://github.com/MDAnalysis/mdanalysis/blob/e6b3c2fe208c506b6f61b9f9d58f46be9d09e22d/package/MDAnalysis/analysis/helix_analysis.py#L309-L310

should mention that this only is of use when

[2021-05-20 15:48] fiszczyp opened #3314 "DL_POLY HISTORY may contain cells even for non-periodic simulations"
## Expected behavior ##

If the DL_POLY HISTORY file starts like:

[code]

running:

`u = mda.Universe('HISTORY', format='HISTORY')`

should produce a Universe with 2520 atoms. The cell parameters might differ between timeframes.

## Actual behavior ##

Raises:

`ValueError: invalid literal for int() with base 10: '0.0000000000'`.

This behaviour happens because `HistoryReader` in `coordinates/DLP

[2021-05-21 15:17] InfluenceFunctional commented on #3310
@IAlibay @orbeckst

Thanks for the timely feedback! Sorry I should have thought to include more detailed profiling in my original post. I've done several tests and it looks like

1. Memory usage is constant.
2. Execution time scales linearly with the length of the trajectory, which makes sense.
3. Execution time scales ~quadratically with the length of the DNA sequence, which also makes sense, sin

[2021-05-21 15:48] jbarnoud opened #3315 "OpenMM parser sets the segid as int instead of str"
## Expected behavior ##

When creating a universe from an OpenMM object, all the topology attributes are set according to expectations. This includes the segids to be strings which is expected, for instance, by the PDB writer.

## Actual behavior ##

The segids are set as int which means the PDB writer fails to run.

## Code to reproduce the behavior ##

[code]

## Current version of MDAnalysis ##

[2021-05-21 16:05] jbarnoud opened #3317 "OpenMM parser fails if the elements are not set in the OpenMM topology"
## Expected behavior ##

An OpenMM topology created from an input file without elements will not have elements defined. This should not be a problem for the OpenMM parser that would then create a universe without the `elements` topology attribute.

## Actual behavior ##

The OpenMM topology parser fails to create a universe.

## Code to reproduce the behavior ##

[code]

This raises the following

[2021-05-21 17:55] #3315 closed

[2021-05-22 05:30] jbarnoud opened #3318 "Unhelpful error message for converting RDKit molecule without metadata"
## Expected behavior ##

A user can convert an atom group to rdkit, use rdkit to add hydrogens, and load the modified molecule back in MDAnalysis.

## Actual behavior ##

The universe fails to be created.

## Code to reproduce the behavior ##

[code]

This raises the following exception:

[code]

My understanding is that the issues is due to the added hydrogens not having all the metadata the othe

[2021-05-22 09:26] jbarnoud opened #3319 ""smarts" selection keywork issue an advice I cannot follow if the structure has no hydrogens"
## Expected behavior ##

When selecting atoms using the `smarts` keyword on a system that does not have hydrogen it either:

* just works
* tells me it cannot work
* tells me how to make it work

## Actual behavior ##

I get an error message that gives me an advice that I cannot follow:
[code]

I cannot pass the suggested keywords to `select_atoms`.

## Code to reproduce the behavior ##

[code]

#

[2021-05-22 09:53] pitorodoptusdaktus opened #3320 "Deprecation Warning in MDAnalysis.lib.nsgrid.FastNS"
## Expected behavior ##

## Actual behavior ##

## Code to reproduce the behavior ##

[code]

## Current version of MDAnalysis ##

- 1.0.0
- 3.9.2
- Windows 10

[2021-05-22 09:55] #3320 closed

[2021-05-22 10:01] pitorodoptusdaktus opened #3321 "Deprecation Warning in MDAnalysis.lib.nsgrid.FastNS"
## Expected behavior ##
When FastNS function is used, the resulting neighbor query is as expected. However, even without using any methods of the function, a deprecation warning is raised.

## Actual behavior ##
The deprecation warning says somewhere in the code, 'np.int', which is an alias for python int, is used instead of python int, np.int32, or np.int64.

Warning itself:
DeprecationWarning: `

[2021-05-22 10:25] IAlibay commented on #3321
@pitorodoptusdaktus can you try upgrading to 1.1.1? This should be fixed in that release.

Also python 3.9 is not supported by the 1.x branch, 1.0.0 allowed it purely because we didn't cap the maximum version.

[2021-05-22 10:37] cbouy commented on #3318
Can you try the following?
[code]
This should fix the issue and add 3D coordinates to the hydrogens at the same time

PS: in your example you forgot `nilotinib = u.select_atoms(... )`

[2021-05-22 10:47] jbarnoud commented on #3318
It works!

Thanks, I added it to my original post.

So the issue now is that the universe creation fails without a useful message. Less of a problem.

[2021-05-22 16:56] #3314 closed

[2021-05-22 17:39] IAlibay opened #3322 "[2.0.0b requirement] OpenMM should not be in a minimum dependency in CI"

[2021-05-22 19:18] #3322 closed

[2021-05-22 19:22] IAlibay opened #3326 "Check the use of `make_whole` in BAT"
Follow up from #3132

In #3132 we changed the BAT.py code such that `make_whole` is applied when dimensions is `None`. Before the condition was `if (self._root.dimensions[:3] == 0).any()`.

The assumption is that this was the intended behaviour. We should double check this. @daveminh could you check this please?

[2021-05-22 19:30] IAlibay opened #3327 "Clean up use of `unitcell` in PQR"
Follow up from #3132 (https://github.com/MDAnalysis/mdanalysis/pull/3132/files#r632672743)

The way we use `unitcell` in the PQRReader isn't super consistent given that we really only set it to `None`. Given the way the format works (https://github.com/MDAnalysis/mdanalysis/pull/3132/files#r629707068), I think we can just safely remove any code paths that assume non-empty unitcell values.

[2021-05-22 19:31] cbouy commented on #3319
@jbarnoud #3324 will fix this!
However once this is merged, your current selection will be empty as your SMARTS query specifies aromaticity (lowercase atoms) and bond order (`=O`), but these will not be present in the converted molecule as you will be skipping them when using `NoImplicit=False`
Using `C3CCNCC3C4CC(NC1CC(NC(O)C2CCCCC2)CCC1)NCC4` should work though

[2021-05-22 19:35] IAlibay opened #3328 "Document TRZ writer default handling of empty boxes"
The TRZ writer currently writes out an zero unitcell if the dimensions are missing (i.e. `None`).

We should check that:
a) This is consistent with the TRZ format (anyone got any clues where this is documented)?
b) This is documented in the writer's docstring.

[2021-05-22 19:41] IAlibay opened #3329 "Tests for Timestep's `__eq__`"
Follow up from #3132

In #3132 the `__eq__` for `Timestep` was expanded. We need tests for them.

See: https://github.com/MDAnalysis/mdanalysis/pull/3132/files#r628899965

[2021-05-22 19:53] IAlibay opened #3330 "Clean up unitcell setting when `None` in MMTF reader"
Follow up from #3132

See comment: https://github.com/MDAnalysis/mdanalysis/pull/3132/files#r629694435

We should be able to clean this up a little bit.

[2021-05-22 19:58] IAlibay opened #3331 "Clarify checking of dimensions in test_mol2_universe_write"
Follow up from #3132

See: https://github.com/MDAnalysis/mdanalysis/pull/3132/files#r632717245

Our current MOL2 Reader & Writer don't handle dimensions (I believe it's the `@<TRIPOS>CRYSIN` record type?), so our current checks for dimensions != `None` shouldn't be necessary.

[2021-05-22 20:34] #1738 closed

[2021-05-22 20:34] #2210 closed

[2021-05-22 20:34] #2698 closed

[2021-05-22 20:49] IAlibay commented on #3252
Just testing this for the beta release, looks like it just works fine as-is.

[2021-05-22 21:40] IAlibay opened #3333 "[2.0.0 release] fix setup.py requires"
Moving from 1.x -> 2.0, we lost the python_requires entry. We should add one back so that we can prevent folks from trying to install MDA 2.0 on py<3.6.

[2021-05-24 11:33] mnmelo opened #3335 "AnalysisBase ProgressBar won't display under Jupyter when multiprocessing"
When using `multiprocessing` for parallelization with Jupyter, having a forked child run an analysis (or a chunk thereof) and print the progress bar fails to show the bar (nothing is shown but execution does progress in parallel).

The server console complains once per iteration that `[IPKernelApp] WARNING | WARNING: attempted to send message from fork` plus the actual JSON progress bar update mes

[2021-05-25 16:59] orbeckst commented on #3326
Thanks @daveminh , then we can close this issue because everything is correct.

[2021-05-25 16:59] #3326 closed

[2021-05-25 17:02] orbeckst commented on #3321
@pitorodoptusdaktus did the upgrade solve the issue?

Note that the upgrade from 1.0.0 to 1.1.1 is highly recommended due to critical fixes in the neighbor searching code.

[2021-05-25 17:02] IAlibay commented on #3322
Yeah I forgot to link the PR (#3323) to the issue - CI seems to run fine without it: https://github.com/MDAnalysis/mdanalysis/runs/2647395025

[2021-05-26 17:01] orbeckst commented on #3321
I am closing this issue as it should be fixed in 1.1.1. If you find out that this is not the case, please comment here and we will re-open. Thank you.

[2021-05-26 17:01] #3321 closed

[2021-05-26 17:08] orbeckst commented on #3310
One possibility for improving and modernizing this code would be to write a modern Analysis class (based on analysis.base.AnalysisBase) that makes the required selections _once_ during the `_prepare()` step and then uses fast distance calculations (namely `lib.distances.calc_bonds()`) to calculate all distances per time step. Using `calc_bonds` will also ensure that PBC are correctly taken into ac

[2021-05-26 19:22] pitorodoptusdaktus commented on #3321
Sorry for the late comment; I checked it, and it is fixed.

Thank you.

[2021-05-26 22:34] #2728 closed

[2021-05-27 07:56] amirhs1 opened #3336 "LAMMPSParser cannot read DATA file with "pair ij""
## Expected behavior ##

MDAnalysis recognizes both **Pair Coeffs** (the default  *pair ii* setting in Lammps's [*write_data*](https://lammps.sandia.gov/doc/write_data.html) command) and **PairIJ Coeffs** (the *pair ij* setting Lammps's *write_data* command ) *sections* in a Lammps data file.

## Actual behavior ##

Currently, MDAnalysis cannot recognize the **PairIJ Coeffs**. The *MDAnalysis.topo

[2021-05-27 09:27] amirhs1 opened #3337 "An example for a LAMMPS data (topology) and dump (trajectory) pair in MDAnalysis documentation"
## Is your feature request related to a problem? ##
There is no example in the documentation that shows how a pair of LAMMPS data (topology) and dump (trajectory) can be loaded with  the *format="LAMMPSDUMP"* option of the `mda.Universe(...)`.

## Describe the solution you'd like ##
The following example is given in the documentation,

[code]
here, the attached files are used (*txt* is added to th

[2021-05-27 15:23] IAlibay commented on #3252
Closing as fix not needed?

[2021-05-27 15:23] #3252 closed

[2021-05-27 16:36] cbouy opened #3339 "RDKitConverter fails to infer bond orders/charges correctly"
## Expected behavior ##

The RDKitConverter should be able to infer correctly bond orders and formal charges for any molecule

## Actual behavior ##

As mentioned in #3044, it currently fails for molecules with the following patterns:
* `R=[N+](-[O-])-R`
* `R-[N+]#N`
* `R-N=[N+]=[N-]`
* `R-[O+]=R`
* `R-[N+]#[C-]`
* `R-[N-]-R`

## Code to reproduce the behavior ##

See the RDKitConverter benchmark

[2021-05-27 20:50] IAlibay opened #3341 "Add support for @<TRIPOS>CRYSIN MOL2 records"
Follow up from #3340

In #3340 we clarify that dimensions are not read from MOL2 files currently.

I'm not super clear on the extra records for MOL2 files, but looking at the standard it seems like @<TRIPOS>CRYSIN is how you add unit cell information?

If anyone knows more here, it probably wouldn't be too hard to check for that section and feed the dimensions as necessary.

[2021-05-27 20:57] IAlibay commented on #3330
This was me misreading the code. unit_cell can be and is set by `mmtf`:

https://github.com/rcsb/mmtf-python/blob/c913a6fc0194e50a825e86d7584ae2bbad3c1d7d/mmtf/api/mmtf_reader.py#L125-L128

[2021-05-27 20:57] #3330 closed

[2021-05-27 21:04] #3275 closed

[2021-05-27 21:06] IAlibay commented on #3261
Is there anything left to do here?

[2021-05-27 21:13] IAlibay commented on #3261
I believe we're good here, cheers everyone 🎉

[2021-05-27 21:13] #3261 closed

[2021-05-27 21:16] IAlibay commented on #3328
Duplicate of #3307

[2021-05-27 21:16] #3328 closed

[2021-05-27 21:54] orbeckst commented on #3333
- [x] Also remove deprecated `requires`.

[2021-05-27 22:26] #3333 closed

[2021-05-27 22:28] #3331 closed

[2021-05-27 22:29] PicoCentauri opened #3342 "Applying length 0 trajectory slices in analysis modules"
## Expected behavior ##

Running an analysis module using a `start`/`stop`/`step` combination leading to length 0 trajectory slices should/could raise a meaningful error.

## Actual behavior ##

If an analysis is run over zero frames, inconsistent errors are raised (See below). I know that looping over length zero lists is totally fine in Python. However, running a trajectory analysis over 0 frame

[2021-05-28 15:37] caioss opened #3343 "Transformations not applied to some frames with ChainReader"
## Expected behavior ##
If an `Universe` is created with more than one trajectory file and a `MDAnalysis.transformations.fit.fit_rot_trans` transformation is added to it, it is expected that all frames get fitted on-the-fly when we iterate over the trajectory.

## Actual behavior ##
Whenever a `ChainReader` is used to load the trajectories, the transformation isn't applied to some frames. It seems

[2021-05-28 15:48] IAlibay commented on #3248
@jbarnoud might be good to see if you can even reproduce this. It could be a niche toolchain specific issue (I don't usually use Windows itself to run MDAnalysis [being mostly a WSL person]).

[2021-05-28 15:49] orbeckst commented on #1901
Note that 1.1.0 promised 1eede18 :

If we decide to _not_ honor this promise we would technically have to do 1.2.0 with a deprecation note. (We can decide that we're breaking semver a little bit here — but at least we should be clear about what we're doing.)

[2021-05-28 15:54] IAlibay commented on #1901
🙀 Please no more 1.x branch - @lilyminium you're our only hope.

[2021-05-29 16:48] orbeckst commented on #3336
Can you please clarify what you need MDAnalysis to do?

Does `write pair ij` write force field coefficients to the data file and are you looking to obtain these coefficients through MDAnalysis?

[2021-05-30 00:30] mnmelo commented on #3336
I have no experience with LAMMPS, but took a look at the code and docs. It seems that the LAMMPS parser has an incomplete set (`SECTIONS`) of possible sections names. From what I could glean, and according to the docs pointed to by @amirhs1, there should be a section name "PairsIJ Coeffs".

Additionally, the header "Pairs LJCoeffs" that is in the list of parseable sections does not seem (from some

[2021-05-30 02:37] mnmelo commented on #3343
Hi @caioss, thanks for the super-detailed report.

I haven't yet found the ultimate cause, but I've tracked it down to a mismatch of the Timesteps that are used for the alignment. It seems that the `mobile` atoms are considered still as if in the previous timestep.

[2021-05-30 02:58] lilyminium commented on #1901
To sum up earlier discussion before we all forget it, we have decided to alias bfactor to tempfactor so that tempfactor is the One True TopologyAttr.

[2021-05-30 03:52] mnmelo commented on #3343
Ok, found the problem.

The mobile group involved in the transformation holds a reference to `universe.trajectory.ts`. This is a ChainReader Timestep. When the ChainReader requests a frame from the subreader -- and before it is set as the ChainReader's current `ts` -- the transformation is applied. Because the mobile group reflects the ChainReader's `ts` it will be wrongly using the not-yet-update

[2021-05-30 12:01] mnmelo commented on #3343
Ok, this goes a bit deeper in that the ChainReader defers all transformations to the subreaders, and does no transform on its own. Alternatives are:
1. to instead do all transformations at the ChainReader level; the subreaders wouldn't be aware of transformations. (Any obvious drawbacks here? Possibly if we have abstraction-breaking, Reader-aware transformations?);
2. to make the ChainReader ts be

[2021-05-30 22:20] amirhs1 commented on #3336
Yes, these are the force field coefficient written to the data file. I do not want to use them directly in my analysis; however, I want use the topology defined in the data file.

[2021-05-30 22:25] amirhs1 commented on #3336
I am currently working on the package on the branch I created. I gonna share them with you in the next few days.

[2021-05-31 01:08] mnmelo commented on #3343
In solving this I implemented option 2. above, and created a shallow `ChainReader.Timestep` class that defers all requests to the `subreader.ts` objects, except for `ts.frame`, which reflects the global frame index rather than the subreader's.

It seems to work, but highlights a limitation (that already exists) in that frame-aware transforms never get to see the global frame number, only the subre

[2021-05-31 01:57] mnmelo commented on #2996
I am not sure I agree with the way this was implemented. `parallelizable` is now used as a `kwarg` to the Analysis `__init__` to indicate parallelization compatibility. I think it'd have been much more pythonic to instead have `parallelizable` be a class attribute, since it should be a general characteristic of each Analysis, and not dependent on each instantiation.

Later, if the user wants to co

[2021-05-31 13:36] yuxuanzhuang commented on #2996
I agree it is more pythonic to have it as a class attribute but given we don't yet have a definite API for parallel analysis nor is this `parallelizable` checked anywhere yet, it still feels less defined whether it is an internal indicator or something differs from instance to instance. For example, this `parallelizable` only indicates the ability to use this Transformation in block analysis, but

[2021-05-31 15:18] mnmelo commented on #2996
First of all apologies that I mistakenly exemplified with the Analysis case, not the Transformations.

Regarding `parallelizable` I was assuming we were interpreting this as frame-wise 'split-apply-combine' parallelizability. It's perhaps best not to overload this single attr with other meanings.

Are there examples where the same transformation might be parallelizable or not, depending on intiali

[2021-06-01 06:59] orbeckst commented on #3342
For any kind of parallel analysis it would be best if zero-length analysis produced zero-length output arrays or whatever is the [identity element](https://en.wikipedia.org/wiki/Identity_element) when aggregating results (e.g. 0 or a histogram of zeros when the results are added/averaged, empty list when results are concatenated etc).

@mnmelo do you have an opinion?

[2021-06-01 07:02] orbeckst commented on #3342
Should have added context: With parallel analysis it is possible that slices with 0 frames are generated (although not smart and unlikely) and then it's much better if these do not error but just return an identity element.

[2021-06-01 11:58] IAlibay commented on #3342
I agree, 0 length should be an accepted input for `run`.

In some ways one wonders if it should be better handled at the individual analysis method level (i.e. `_conclude` methods should really account for the possibility of `_single_frame` not having been applied to any frame).

That being said, for the sake of simplicity we could just guard `self._conclude` with an "if self.n_frames > 0"?

[2021-06-01 13:33] mnmelo commented on #3342
There's two aspects here:
1. What to do about `_conclude`;
2. How to combine 0-frame analysis with others.

Number 2. is easiest, in that the combining function can be made to skip those 0-frame analyses; no need for them to implement identity results. For existing combination code that isn't aware of the possibility, read on.

The solution to number 1. depends on what comes downstream to a 0-fram

[2021-06-01 13:36] lilyminium commented on #3342
Sounds like `pydantic.BaseModel`, which is a whole other nightmare.

[2021-06-01 15:35] IAlibay commented on #3342
I'm not really fond of enforcing typed `results`. I feel like AnalysisBase hits a sweet spot in terms of complexity at the moment, and I'm not sure we want to ask too much from downstream library users.

### A simpler solution?

Rather than overcomplicating things, maybe the best answer here is to skip `_prepare`, `_single_frame`, and `_conclude` if n_frames == 0? In that case, `results` should re

[2021-06-01 16:13] mnmelo commented on #3342
I like that simplicity, @IAlibay, and besides, typed results is as much work as setting defaults, and equally overly burdensome.

As for flushing `.results,` I do think that a booby-trapped access is cleaner, API-wise. But it's nitpicking: the downstream user either gets an `AttributeError` or whatever exception we set to booby-trap (which could inherit from `AttributeError`).

[2021-06-01 16:14] demianriccardi opened #3346 "broken link to quickstart page on /pages/learning_MDAnalysis"
There is a broken link to the quickstart page on:

https://www.mdanalysis.org/pages/learning_MDAnalysis/

the link should be:
https://userguide.mdanalysis.org/stable/examples/quickstart.html

(https://userguide.mdanalysis.org/stable/quickstart.html)

[2021-06-01 16:19] IAlibay commented on #3346
Thanks for the report @demianriccardi. Since this is linked to the website I'm going to transfer this issue to `MDAnalysis.github.io`.

If you'd like to fix the issue, PRs are most definitely welcome.

[2021-06-01 16:25] lilyminium commented on #3342
I'm devil's advocating myself because I'm not such a fan of pydantic, but IMO that burden could be worth it for being explicitly clear on what each analysis provides. If one can e.g.

[code]

users know upfront what kind of attributes they can expect in the results and mdacli can probably leverage that somehow, like in help strings.

[2021-06-01 16:54] IAlibay commented on #3342
If every analysis class has to implement its own `Results` class, then we might as well just ensure that all classes implement an identity element for each results variable?

I'll be honestly I'm kinda biased, my main agenda here is to a) avoid increasing our dependencies, b) reduce the amount of changes we need to do for a 2.0.0 release, c) avoid pydantic [I'm not super fond of it or the idea of

[2021-06-01 17:03] lilyminium commented on #3342
Yeah the pros/cons for pydantic/dataclasses > Results dict as I see it would be:

Pro:
- typed attributes
- I personally find that more readable
- mdacli can inspect the expected attributes of the class instead of waiting for an object to get instantiated

Cons:
- external dependency for pydantic
- pydantic can be really irritating to use beyond simple textbook applications, although I think this

[2021-06-01 17:29] richardjgowers commented on #3342
I’m not too keen on pydantic tbh.

On Tue, Jun 1, 2021 at 18:03, Lily Wang ***@***.***> wrote:

[2021-06-01 18:15] mnmelo commented on #3342
I imagine we don't need to use `pydantic` to still be able to use typed results classes. I agree with @lilyminium that it is quite readable, more than just setting defaults. Certainly heavier on the analysis creator.

I'm also not sure how `pydantic`/typed results would handle dynamic types: in your example, @lilyminium, the size of histogram is set at `_prepare` time, from `nbins`(set at analysis

[2021-06-03 16:19] cbouy opened #3347 "RDKitConverter not guessing bonds for the second AtomGroup"
## Expected behavior ##

When converting AtomGroups from the same Universe, the corresponding molecules should both contain bonds.

## Actual behavior ##

Only the first molecule will have bonds, the remaining ones will just be a collection of atoms with 0 bonds

## Code to reproduce the behavior ##

[code]

Adding `u.atoms.guess_bonds()` after creating the Universe fixes the issue.
I think I just

[2021-06-04 18:47] lilyminium opened #3348 "Implement tagged smarts matching"
## Is your feature request related to a problem? ##

OpenForceField has a really nice function called `chemical_environment_matches` that returns only the tagged atoms in a SMARTS substructure search. e.g. If you passed '[#6]1:[#6]:[#6:4]:[#6:3]:[#7:2]:[#6:1]:1', it would search the entire substructure but only return the tagged atoms, and ordered by the tag number.

## Describe the solution you'd

[2021-06-04 19:17] IAlibay commented on #3348
I might be misunderstanding, but can't we already do something similar through select_atoms?

[2021-06-04 19:19] lilyminium commented on #3348
`select_atoms` doesn't return ordered atoms, and I think that the current SMARTS matching will return all 6 atoms in the `'[#6]1:[#6]:[#6:4]:[#6:3]:[#7:2]:[#6:1]:1'` ordered by index, rather than only the 4 tagged atoms in the order of tagging.

[2021-06-04 19:49] IAlibay commented on #3348
I see, do we have an ordering convention for select_atoms? In some ways I'd prefer we first make sure we fulfill one way of selection matching than start branching to other ones.

I'm not sure I'd have to use this feature enough to have a strong opinion for it. If the potential user base is large I'm happy for it to be implemented as long as it doesn't change expected defaults.

[2021-06-04 20:15] #3318 closed

[2021-06-05 06:50] richardjgowers commented on #3342
Back to the original issue, I think it's probably best if both _prepare and _conclude are called in the 0 length case, this is probably the best bet at getting all expected arrays to the right length. It'll just have to be that _conclude might have to anticipate 0 length intermediate results.

[2021-06-05 10:47] jbarnoud commented on #3342
I agree with @richardjgowers here. The simplest solution is to have `_conclude` handle the 0-length case.

[2021-06-05 10:49] jbarnoud commented on #3342
Also, I do like typed things (I am learning rust at the moment, types are great!) and I am in favour of type hinting to anticipate bugs. But I would rather avoid enforcing types. If I wanted a statically typed language I would not be doing python.

[2021-06-06 09:14] edisj commented on #2924
This issue is being closed as it was discovered that the slower than average serial IO performance of `H5MDReader` was caused by the default chunk shape applied to the datasets by h5py. See #3293 for more details on our updated performance metrics of serial H5MDReader.

[2021-06-06 09:14] #2924 closed

[2021-06-07 02:06] mnmelo commented on #3342
So, besides adapting the existing analyses, we should word the AnalysisBase API to strongly encourage the catching of 0-frame cases in `_conclude` (despite it being an optional subclass method).

Interestingly, it seems that Analyses that do not need a `_conclude` are already somewhat robust to 0-frame cases:
_begin handwaving_
`AnalysisBase._single_frame` just updates state per frame, and should

[2021-06-08 02:07] mnmelo opened #3349 "ChainedReader's __repr__ fails with MemoryReader sub-readers."
## Expected behavior ##
Printing a ChainReader object yields some summarized info about the sub-readers, regardless of their type.

## Actual behavior ##
If one of the sub-readers is a MemoryReader (as discussed in #3344), `ChainReader.__repr__` fails because it tries to pass the respective filename to `os.path.basename` for prettier printing.

`os.path.basename` fails because the MemoryReader fil

[2021-06-08 03:57] edisj opened #3350 "TRRWriter doesn't use ts.data['step'] when copying TRR file"
I'm not entirely sure if this is a bug because I'm not entirely sure what `ts.data['step']` is _supposed_ to be. But in any case, I think copying a file by writing the entire thing to a new file should maintain all of the data in the original file, which in this case it's not.

## Expected behavior ##

Writing an entire trajectory to a new file should maintain all of the data.

## Actual behavior

[2021-06-08 04:03] edisj commented on #3350
Sorry I should have searched the issues earlier but this looks like the same issue as  https://github.com/MDAnalysis/mdanalysis/issues/1101

[2021-06-08 18:46] francescalb opened #3351 "Support for reading VASP trajectories?"
## Is your feature request related to a problem? ##

I am doing molecular dynamics simulations in VASP and would like to use MDAnalysis to analyze the trajectories.

## Describe the solution you'd like ##

A module that reads XDATCAR would be great.

## Describe alternatives you've considered ##

I have tried loading the trajectory into ase and printing out as netcdf-trajectory. The resulting traj

[2021-06-08 18:53] IAlibay commented on #3351
@francescalb If possible, would you happen to have a reference for the XDATCAR file format specification (couldn't find anything from a quick google search)?

Any contributions from someone that is familiar with the file format would be greatly appreciated here. This would greatly reduce the time to implementation.

[2021-06-08 19:12] francescalb commented on #3351
Hi, that is a very good point. I could not find any official descriptions of it either.

I copy the top of one here:
unknown system
           1
    11.108875   -0.014682   -0.006484
     0.000000   11.106563    0.001404
     0.000000    0.000000   11.106293
   C    H    O
    32    64    24
Direct configuration=    10
   0.35157094  0.22360895  0.40462503
   0.50632805  0.07070679  0.68686311

[2021-06-09 16:37] orbeckst commented on #3351
@francescalb ,

1. Are pymatgen/ASE limited in how they can read VASP files, e.g., do they not represent them as trajectories, or are there any other _extensions_ to capabilities that you need?
2. Do you also use pymatgen or ASE in your work? Or are you looking for a way not having to install any of these other tools?

I am asking because for MDAnalysis we could also try to write a _converter_ tha

[2021-06-10 10:46] mnmelo opened #3352 "AtomGroup.unwrap confused about bound sub-groups"
## Expected behavior ##
`ag.unwrap` should make the group's fragments whole. It does in version 1.1.1.

## Actual behavior ##
In 2.0.0-dev0 an exception sometimes is raised that the group is not contiguous from bonds.

## Code to reproduce the behavior ##
This was first reported by @hejamu in Discord. He has provided me with a LAMMPS example structure for which this occurs, but I have since been a

[2021-06-16 03:26] lilyminium commented on #2574
This also results in issues for ensemble similarity analysis. The outlier "cluster" is treated like a real cluster. Therefore, if a conformation in trajectory A is in the outlier cluster and a conformation in trajectory B is in the outlier cluster, it is treated as a point of similarity -- in reality these conformations should be unrelated.

[2021-06-16 13:21] shuaijiang-ustc commented on #1004
Hi, everyone, I am wondering if this molecules across boundaries issue is solved or not. I just test the moment_of_inertia method under mdanalysis version 1.1.1, the problem still exists. Thanks!

[2021-06-20 17:26] xiki-tempula opened #3355 "Doc error"
## Expected behavior ##
In the web page https://userguide.mdanalysis.org/stable/installation.html#development-versions

it is said that

[code]

which should be

[code]

[2021-06-20 19:48] lilyminium commented on #3355
Thanks @xiki-tempula, I opened this issue in the User Guide repository https://github.com/MDAnalysis/UserGuide/issues/160

[2021-06-20 19:48] #3355 closed

[2021-06-21 08:36] richardjgowers commented on #3350
@edisj I *think* `ts.data` is basically a dict where anything non-standard is thrown.  E.g. this value is in the file, but it doesn't fit cleanly into a field in `Timestep`.  I think the issue here is that `TRRWriter` should be checking if `ts.data['step']` exists and using that instead of (what I assume is currently) `ts.frame`.

For clarity we use `ts.frame` is the index of the frame within the

[2021-06-21 08:38] richardjgowers commented on #3348
I'm not sure we ever give a promise on the ordering from `select_atoms`, but our use of `np.unique` sorts the indices as a side-effect.

[2021-06-21 08:42] richardjgowers commented on #3257
The 0 value only happens when there's only one frame so this is very minor.  But yeah we can fix this once 2.0 is out the door.

[2021-06-21 09:17] IAlibay commented on #3257
I'm fixing some TRZ behaviour somewhere else [for 2.0.0], I might just throw the warning in there so we can make 2.1.0 the "get rid of all the warnings" release.

[2021-06-21 09:27] jbarnoud commented on #516
That is not affecting users, it does not need to be on a major release. 2.x would be fine. But OK for 3.0.

[2021-06-23 05:18] hmacdope commented on #3350
From my experience with `step` in the TNG format i'm fairly sure it is the integration timestep in ps.

[2021-06-25 07:59] #3307 closed

[2021-07-01 01:11] hmacdope opened #3358 "LAMMPS DumpReader does not return the correct coordinates for unwrapped trajectories."
## Expected behavior ##
Unscaled coordinates written with LAMMPS in a `lammpstrj` dump format should be parsed correctly.

## Actual behavior ##
The DumpReader Reader does not check what convention coordinates are written in. (xs,ys,zs) vs (xu,yu,zu). The transform `distances.transform_StoR(ts.positions, ts.dimensions)` is also called in `_read_next_timestep` regardless of whether the coordinates

[2021-07-01 01:48] hmacdope commented on #3358
I should note that this is associated with the need to unhardcode various paths in in the LAMMPS reader.
See #2333 for example.

[2021-07-01 18:34] lilyminium opened #3359 "Document id selection keyword"
## Is your feature request related to a problem? ##

The selection docs have `bynum` but not `id`. `id` is more helpful in the sense that it actually selects the right `id` values, unlike `bynum` which is just `index` + 1.

## Describe the solution you'd like ##

Document `id`.

## Describe alternatives you've considered ##

## Additional context ##

[2021-07-05 06:32] #3074 closed

[2021-07-08 02:15] orbeckst commented on #2367
Note on trying to use chemfiles:

With the 2.0.0b,
[code]

fails with

    'CHEMFILES' isn't a valid topology format, nor a coordinate format

I can't just read it with
[code]

either as it gives the same ValueError.

Just trying something stupid with the topology as a PDB also fails
[code]

with

    ChemfilesError: can not read file '1ake.cif.gz' at step 0, it does not contain any step.

Conclus

[2021-07-08 02:30] hmacdope opened #3361 "Investigate floating point accuracy of coordinate transform _coord_transform()."
## Expected behavior ##

The scaled to unscaled coordinate transform should not drastically change the coordinates past a certain threshold.
## Actual behavior ##

Currently, using `distances.transform_StoR()` in the `LAMMPSDumpReader` only agrees with the values produced by LAMMPS to the 1st decimal place. It is not immediately clear if or where precision is being lost, but IMO 1 decimal place is

[2021-07-08 08:25] Luthaf commented on #2367
I think that topology reading is not registered with MDA, since the chemfiles adapter is implemented as a coordinate reader/writer. Although the conversion from chemfiles to MDA topologies is already implemented, so it should be mostly a question of adding a new `ChemfilesParser` class. I'll have a look at this next week!

This is a bit strange and probably a bug, is this [1ake](https://www.rcsb.o

[2021-07-08 10:25] Luthaf commented on #2367
Ok, I understand this part. The core of the issue is that to relatively different formats want to use the same extension: mmCIF and crystallography CIF. While they both use the same STAR format, they specify data in different ways. Unfortunately, chemfiles is associating the `.cif` extension with crystallography CIF files, and uses `.mmcif` for mmCIF.

There is a simple workaround though, since yo

[2021-07-08 15:27] orbeckst commented on #2367
Yes, I downloaded the file directly from the PDB: sorry I didn’t try any others.

[2021-07-09 10:15] hejung commented on #3230
I ran into the same issue recently when processing trajectories using multiprocessing, i.e. when accessing the offsets file at the same time from two different processes. Passing `refresh_offsets=True` to the universe creation solves the issue, but it took me a while to figure out what the underlying issue is, so I think it would be nice for other users if something is done about it.

If wanted I

[2021-07-14 20:16] gdonval opened #3362 "InterRDF and InterRDF_s are not symmetric"
## Expected behavior ##

The (very familiar and classic) RDF equation from the documentation is symmetric with respect to the inputs: the RDF between atom `A` and atom `B` should be the same as the RDF between atom `B` and atom `A`.

## Actual behavior ##

[code]

That assertion fails.

## Current version of MDAnalysis ##

- Which version are you using? 1.1.1
- Which version of Python (`python -V`

[2021-07-14 20:38] gdonval commented on #3362
The bug was elsewhere, no problem here. Closing.

[2021-07-14 20:38] #3362 closed

[2021-07-14 20:57] IAlibay commented on #3362
@gdonval please do post about the issue/resolution you encountered here if you think it's relevant. Might help the next person accidentally encountering the same issue.

[2021-07-14 21:31] gdonval commented on #3362
Sure, the problem stemmed from the fact that I was iterating over a list of residues in this fashion:

[code]

Everything works well then. After all in this way, I iterate over all possible combinations (except self-self but that's expected).

**But** the variant with `InterRDF_s(universe, [[res1.atoms, res2.atoms]])` or, says, `InterRDF(res1.atoms[0:1], res2.atoms[1:2])` *are incorrect*. In those

[2021-07-16 01:52] hmacdope opened #3363 "Handle possible -L/2 -> +L/2 box convention when reading coordinates"
## Is your feature request related to a problem? ##

We should gracefully handle or and possibly warn users when the -L/2 -> +L/2 box convention is used rather than 0 -> L box convention, as this **may** possibly lead to unexpected downstream behaviour. See discussion on #3360, particularly comments by @p-j-smith  as LAMMPS is one such package that happily uses negative box bounds.

## Additional

[2021-07-16 11:04] flautodipan commented on #2367
Hi everyone,
I am trying to construct a MDAnalysis Universe for PDBx/mmCIF files, since for several structures I am studying there is no available .pdb file.

Under read suggestions, I've successfully created a Universe with the following lines, in the conda env 'mda-workshop2021' with  2.0.0b version.

(https://urldefense.com/v3/__https://github.com/MDAnalysis/WorkshopPrace2021/blob/main/INSTALL.

[2021-07-16 21:37] orbeckst commented on #2367
@flautodipan does your mmCIF file contain a box? If I do the following with [1ake.cif](https://files.rcsb.org/download/1AKE.cif)
[code]
I can do a selection (note that I added a name for *resname*)
[code]
without issues. Check that you have the dimensions with
[code]
and verify that you have the corresponding elements in the mmCIF file
[code]

[2021-07-17 23:22] orbeckst commented on #3230
@hejung PRs should be raised against develop.

It's easier to talk about code in a PR so if you have an initial draft of a idea, make a PR and then we can figure out if that's a good solution.

My feeling is that the offset file mechanism is fundamentally problematic in a multiprocessing context. It might need a lock file or some other mechanism to avoid race conditions. Maybe @mnmelo has some opi

[2021-07-17 23:52] orbeckst commented on #3363
Is the main problem that wrap/unwrap use the [0, L] box instead of [-L/2, L/2], i.e., is the issue that all our PBC processing code assumes [0, L]?

[2021-07-17 23:55] orbeckst commented on #3363
@p-j-smith please feel free to weigh in here, especially as you started this issue with your https://github.com/MDAnalysis/mdanalysis/pull/3360#issuecomment-879866369.

[2021-07-18 00:10] orbeckst commented on #2977
It is possible that the "will be resorted" comes from a time when `select` automatically sorted. I am not 100% sure, though.

Is it desirable that the AtomGroups get sorted automatically by index? Or is it actually better to allow users to provide custom sorted AtomGroups together with selections?

[2021-07-18 06:51] hmacdope commented on #3363
I interpreted it to mean that -L/2->L/2 is *may* not be always correctly treated, but again this was interpretation of @richardjgowers and @p-j-smith's comments, rather than my own knowledge of the pbc code.

[2021-07-18 22:23] lilyminium commented on #2977
What happens if you switched the orders, ie ref is sorted? I believe select is only applied to the mobile atom group and that’s why ref is not sorted.

This is probably a more general question for @coredevs. They could always sort their atomgroups before using it as an input to an analysis though.

[2021-07-18 22:33] xiki-tempula commented on #2977
For me, I think retaining the sorted atomgroup is more desirable.
One could always sort the atomgroup before passing to the alignment.
But if one wants to provide a specific mapping to the alignment, this couldn't be done in the current setting.

[2021-07-18 22:45] lilyminium commented on #2977
Could you sort the mobile and reference Atomgroups beforehand and use the default select=None?

[2021-07-19 09:17] flautodipan commented on #2367
Ok now effectively it is working and it is much simpler.
I don't know why I get a little bit confused, thanks for helping.

So to resume:

using the OpenMM topology generated by the PDBxfile module in simtk.openmm.pdbxfile do create a MDA universe from mmCIF files.

[2021-07-19 12:42] IAlibay commented on #3359
Reviving this conversation, what's the difference between `id` and `index`?

[2021-07-19 12:52] lilyminium commented on #3359
`id` is a topology attribute that is a label. You could define it to be anything you like. Conventionally, it corresponds to the serial number in the PDB format, i.e. starts from 1, but because it's a label it can skip numbers etc. `index` is the underlying position of where the atom is within the linear array of atoms in the universe. You cannot set it and it must be continuous. It corresponds to

[2021-07-19 13:19] xiki-tempula commented on #2977
@lilyminium
[code]

[2021-07-19 13:41] lilyminium commented on #2977
Oh, interesting, `select_atoms` actually doesn't reorder atoms. I always thought it did and it's [documented as doing so](https://github.com/MDAnalysis/mdanalysis/blob/8f9f402fe65d6a90e88b60b6da735c130425f00e/package/MDAnalysis/core/groups.py#L2705-L2707). So this is a more general issue. I wondered if I changed this when I made the more general selection class, but it happens with resids too (whi

[2021-07-19 13:42] lilyminium commented on #2977
And I was wrong here, `select` is applied to both in `alignto` and `AlignTraj`. Thanks for correcting me @xiki-tempula

[2021-07-19 14:08] lilyminium commented on #760
I wouldn't mind getting this done for 2.0, but to put doctest in the CI suite we'll need it to actually pass first. I'll treat this as the overall issue and raise separate ones for changes per module.

[code]

[2021-07-19 14:21] lilyminium opened #3364 "groups.unique does not sort the group"
## Expected behavior ##

Related to https://github.com/MDAnalysis/mdanalysis/issues/2977#issuecomment-882558185

The documentation implies that `atomgroup.unique` will return a sorted atomgroup, so I expect it to. However, there is a confusing contradiction in the documentation.

[code]

## Actual behavior ##

If the atomgroup is already unique, as per docs, the original *unsorted* atomgroup is re

[2021-07-19 14:33] lilyminium opened #3365 "Failed doc examples in align.py"
## Expected behavior ##

Sub-issue of #760

Doc examples work.

## Actual behavior ##

This is after changing a `>>>` in the rotation matrix example to `...`

[code]

## Code to reproduce the behavior ##

[code]

## Current version of MDAnalysis ##

- Which version are you using? (run `python -c "import MDAnalysis as mda; print(mda.__version__)"`) https://github.com/MDAnalysis/mdanalysis/commit/8f

[2021-07-19 16:28] orbeckst commented on #2977
Thanks for tracking down the changes in `select_atoms` — that's a  fundamental issue and it does affect 1.1.1. Thanks for raising #3364.

[2021-07-19 16:29] orbeckst commented on #3364
The expectation for selections has been that they come back sorted. Right now that's a defect, at least for 1.x.

[2021-07-19 16:47] lilyminium commented on #3364
Would you know the expectation for `atomgroup.unique`? There are two ways to fix this:

* sort `atomgroup.unique` and that should fix `select_atoms` upstream
* add a `sorted()` method or property that sorts the atomgroup without ensuring uniqueness; alter the selection methods to call `atomgroup.sorted().unique`. This has the advantage of adding more general functionality to groups too

[2021-07-19 17:23] yannclaveau opened #3366 "waterdynamics.AngularDistribution"
Hello,
The `angularDistribution` (AD) class gives too "high level" information according to me. Here is what I mean:

I would like to plot a 2D histogram representing $\theta(\mu, \vec{R})$ where $\mu$ is the dipolar moment of water molecules and $\vec{R}$ the radial position with respect to z-axis.
My point is that, I would to see how water molecules are oriented when they are close to the interf

[2021-07-19 17:28] ceri-richmond commented on #3364
Just to say I think you got the wrong @coredevs

[2021-07-19 17:31] lilyminium commented on #3364
Oops, sorry! I did mean @MDAnalysis/coredevs.

[2021-07-19 17:45] orbeckst commented on #3364
I might have prematurely slapped the "defect" tag on here; it would have been more appropriate on an issue directly referencing `select_atoms()` because current behavior of unsorted atomgroups clearly breaks [stated behavior](https://docs.mdanalysis.org/stable/documentation_pages/selections.html#selection-commands)

Regarding your https://github.com/MDAnalysis/mdanalysis/issues/3364#issuecomment-8

[2021-07-19 17:55] orbeckst commented on #2367
We have to improve our documentation to make clearer that users almost never need to do anything directly with the Readers and Converters.

@lilyminium @IAlibay @fiona-naughton this might be something to keep in mind going forward. Maybe start with a *Interoperability in practice* blog post (collecting some of @jbarnoud 's examples from the workshop, too) and then see how we can make a User Guide

[2021-07-19 18:04] jbarnoud commented on #3364
At which point of the selection process is `unique` called? Because if you make a compound selection, then you need to be careful when you sort. Also, selections are sorted because atoms are looked at in order, adding a sort would be unnecessary slow, wouldn't it?

I think the most important point is that if an atomgroup is already not redundant, then calling `unique` does return the same atomgrou

[2021-07-19 18:17] lilyminium commented on #3364
Somewhat repetitively, at the end of each logical operation selection class (and, or, all, not, global) and at the end of many if not all of the keyword classes. It should probably just be another method on `Selection`.

Yeah, the `select_atoms` method sums each selection in compounds so as long as we keep the sorting within the selection classes, order will be retained.

Yeah, but in the order of

[2021-07-19 18:21] jbarnoud commented on #3364
This is the behaviours I expect. But I may not be representative. My issue with sorting here, is that I can sort afterward, but I cannot go back to the weird order I may have spent time building.

Indeed.

[2021-07-19 18:32] lilyminium commented on #3364
I'm happy to have `.unique` not sort, but IMO `select_atoms` is really advertised as sorting the output:

* https://github.com/MDAnalysis/mdanalysis/blob/8f9f402fe65d6a90e88b60b6da735c130425f00e/package/MDAnalysis/analysis/align.py#L376-L380
* https://github.com/MDAnalysis/mdanalysis/blob/8f9f402fe65d6a90e88b60b6da735c130425f00e/package/MDAnalysis/analysis/align.py#L478-L480
* https://github.com/M

[2021-07-20 10:35] p-j-smith commented on #3363
Sorry for the confusion. I don't think there is anything incorrect about the treatment of PBC per se. I think it's fine to use [0, L] instead of [-L/2, L/2] for PBC processing. However, LAMMPS users that are new to MDAnalysis might be surprised to find that `u.dimensions` doesn't contain `[[xlo, xhi], [ylo, yhi], [zlo, zhi]]` (the lower and upper bounds can be any value, they need not be [-L/2, L/

[2021-07-20 11:58] hmacdope commented on #3363
Roger roger, mostly my overintepretation at fault here. Shall we channel this perhaps towards documentation.

[2021-07-20 12:08] IAlibay commented on #3363
Beyond just documenting, could we get a couple tests added here to check that behaviour actually is correct? I remember there being some discussion by @mnmelo about the assumption of how boxes work in MDA. If anything, even if it works now, having a test for this will make sure we don't break this in the future.

[2021-07-22 10:13] fluver opened #3367 "Reading CONECT records in PDB files with >99999 Atoms."
## Expected behavior ##

I encountered two problems which, i think, are caused by the same bug in PDBParser.
[1]
Creating a universe using a PDB file with >99999 Atoms (produced with "gmx trjconv -pbc mol -conect") and adding the unwrap(u.atoms) transformation i expect no broken molecules when dumping frames into a new PDB.

[2]
Using MDAnalysis to convert a TPR file into a PDB should produce a PD

[2021-07-22 10:18] lilyminium commented on #3367
This is probably a consequence of the PDB specification, which does not support more than 99999 atoms due to its column format: https://www.wwpdb.org/documentation/file-format-content/format33/sect9.html#ATOM

Have you tried using the [extended PDB format](https://userguide.mdanalysis.org/stable/formats/reference/xpdb.html#xpdb-format)? Does that fix your problem? It has to be manually specified u

[2021-07-22 10:22] lilyminium commented on #3367
If it doesn't (it might only help with residue IDs), I see that you're converting from TPR. Could you use a GRO file instead?

[2021-07-22 10:30] fluver commented on #3367
I tried topology_format="XPDB", but it does not help in this case.
GRO files dont save bonds, right?

[2021-07-22 10:50] lilyminium commented on #3367
Oh yeah, that's right. TPR would really be the best format here, I don't suppose you can just use that?

Unfortunately as >99999 atoms is not in the PDB spec I don't think most people will see this as a bug. We could add a better error message, though.

[2021-07-22 10:52] IAlibay commented on #3367
Note: we really should be failing here instead of having the wrong bond.

[2021-07-22 10:55] fluver commented on #3367
Using a TPR file for the topology yields a working pdb (no broken molecules, no wrong bonds).
Unfortunately all residues being renumbered and segments being renamed makes it hard to work with.

[2021-07-22 11:04] lilyminium commented on #3367
Could you go a little into that please? If that is a bug with the TPR parser then it would be good to know.

Alrighty. I'm not sure there's an immediately easy solution to this problem, but you could construct the Universe from two different files:

[code]

Does that help?

[2021-07-22 11:47] fluver commented on #3367
It does!

When loading the tpr file u.atoms.resids and u.atoms.resnums are continuous from 0-X, which makes it hard to select specific residues like a binding site. Or am i simply selecting by the wrong property?
Segments are renamed by adding a "seg_[number]" suffix, which is not a big problem
(e.g. ProteinA becomes seg_4_ProteinA).

[2021-07-23 20:58] yuxuanzhuang commented on #3230
I am trying to utilize shared_memory(https://docs.python.org/3/library/multiprocessing.shared_memory.html) to create a global flag indicating whether the offset file is being created or not. My hunch is that it is better to be some internal mechanism that handles the race condition automatically instead of adding any extra lines in the parallel code. I will most likely create a PR for that next we

[2021-07-24 18:13] IAlibay commented on #3306
I can't find any docs on this, I'm going to move this to 2.1.0.

[2021-07-24 18:14] IAlibay commented on #3304
Moving to 2.1.0 unless someone wants to work on this.

[2021-07-25 06:12] lilyminium commented on #3364
@MDAnalysis/coredevs could we just get a brief consensus please, thumbs up for sorting and thumbs down for not sorting `groups.unique`?

Pros for sorting
----------------

* It follows np.unique
* I think it was previous behaviour until 0.9.2, so
* It is currently documented as sorting

Cons for sorting
----------------

* unique != sorted in English. `np.unique` is not a direct parallel to `group

[2021-07-25 06:25] IAlibay commented on #3364
So my understanding here is that if it's not unique it sorts, if it is unique it doesn't sort?

Personally I think that for 2.0 the behaviour should be aligned to the original intended behaviour. Then if we want to re-works this and do an API break then fine, but that should be handled in 3.0.

[2021-07-25 06:27] lilyminium commented on #3364
Yes. So one way or another we should make it consistent.

[2021-07-25 07:17] IAlibay commented on #3364
So for context, group.unique was implemented in #1922 by @zemanj - to avoid doing a copy operation where possible. If we tag on a sort we'll probably have a performance regression.

That being said, it looks like the target for performance improvement here was `pack_into_box`/`wrap`, which as far as I can tell don't actually call `unique` if `isunique` is `True` anyways?

That's not the case for `

[2021-07-25 16:04] orbeckst commented on #3364
I am in favor of making unique behave consistently so that users are not surprised.

Behind the scene we can special case for performance.

[2021-07-25 16:09] orbeckst commented on #3364
Would it be useful to have a kwarg to `unique` like `mode = {sort|nosort|fast}` where "fast" is the current behavior that doesn't guarantee any particular ordering or identity, "sort" which always sorts, "nosort" (or a better name) which maintains the original order as much as possible and starts deleting duplicates after the first appearance? "sort" and "nosort" would always return a copy of the

[2021-07-25 16:28] lilyminium commented on #3364
How about asunique() for returning atomgroups that are unique but unsorted? Parallels with asarray(), ascontiguous() etc.

[2021-07-25 16:49] hejung commented on #3230
I would have simply changed [this line](https://github.com/MDAnalysis/mdanalysis/blob/8f9f402fe65d6a90e88b60b6da735c130425f00e/package/MDAnalysis/coordinates/XDR.py#L85) from
[code]
to
[code]
The reason beeing that `np.load()` as a last resort tries to load the `.npz` file with `pickle` which is only allowed if `allow_pickle=True`. If `allow_pickle=False` it will raise the (arguably wrong) `ValueE

[2021-07-25 17:11] IAlibay commented on #3364
Might be me being naive, but do we actually use unique enough that lots of optmization is required here?

👍🏽 For 2.0 at least, I'm in favour of not changing `unique` from being a property, so `asunique` sounds like a good compromise to me.

[2021-07-25 18:26] orbeckst commented on #3364
I like the suggestion of adding asunique() and make unique always sort.

[2021-07-25 20:51] zemanj commented on #3364
Looks like by fixing the duplicate handling in #1922 I broke the behavior of ``*Group.unique``, which was definitely unintended. The correct way would have been to make ``*Group.isuinque`` not only check for uniqueness but *also for order*. As index sorting is done anyway for the uniqueness check, checking the sort order shouldn't add a lot of computational complexity there (only O(n), to be preci

[2021-07-25 21:19] zemanj commented on #3364
To comment on @IAlibay's question about the necessity of optimizing: I guess it depends. If you process very large systems, avoiding full copies of atom groups will certainly have an impact. However, my guess is that the most relevant speedup is achieved by caching, and that will also be effective if the ``isunique`` check is omitted. To be sure, I guess we'd have to measure...

[2021-07-26 11:06] IAlibay opened #3370 "PDB REMARK fields don't follow standard"
## Expected behavior ##

PDBWriter follows the pdbv3 standard where possible.

## Actual behavior ##

The PDB writer currently writes things like this:

[code]

However the pdb v3.3 standard does state that REMARK should be 1-6, followed by the remarkNum on 8-10.

Technically this isn't incorrect, because you can skip remarkNum and just write in the LString (12-79) section instead. Predicting that

[2021-07-26 11:07] IAlibay commented on #3370
This is a bit of a messy one to fix for something that really doesn't get used for anything except leaving comments, so I'd be ok with a wontfix, although it _might_ be possible that some parsers will crash out if they expect 79 characters for these lines.

[2021-07-26 22:58] orbeckst commented on #3230
Submit a PR and we can discuss the merits there. One question that will surely come up is how to test the situation.

[2021-07-27 15:38] yannclaveau commented on #3366
For now, I have create a function based on `_getCosTheta`. It does the job. I can plot a 2D histogram depending on radial position and $\cos(\theta)$

[code]

[2021-07-27 22:48] hmacdope commented on #3366
Hi Yann, thanks for your suggestions! I'm glad you found a solution that works for you.

We always welcome suggestions for API changes, however as I am not the author or a heavy user of `waterdynamics` I am poorly placed to comment on them. Perhaps other @MDAnalysis/coredevs will know more.

[2021-07-28 22:52] orbeckst commented on #3366
You're very welcome to propose changes. We definitely like code being cleaned up and modularized. We (or rather: our users) don't generally like breaking existing code so we tend to minimize any API breaks. But if you find a way to maintain the existing code from the user perspective (even though it might change under the hood) while at the same time adding new functionality then that would be int

[2021-07-28 22:56] orbeckst commented on #3351
@francescalb did you get a chance to think about my questions in https://github.com/MDAnalysis/mdanalysis/issues/3351#issuecomment-857856274 ? Having answers to these questions would help us to judge what the best way forward would be.

[2021-07-28 22:58] orbeckst commented on #3304
I'll add help wanted/GSOC starter label – remove again if it's too tricky.

(Also, if anyone else wants to procrastinate and write tests, please do ;-) )

[2021-07-28 23:55] hmacdope opened #3371 "Refactor waterdynamics to use UpdatingAtomGroup and add benchmark."
## Is your feature request related to a problem? ##

The waterdynamics code currently makes a new `AtomGroup` for every frame, which is *possibly* inefficient and isn't in line with the newer analysis modules.

## Describe the solution you'd like ##

We can refactor to use an `UpdatingAtomgroup` and streamline some of the loop structures to use array operations.

A benchmark would also be needed t

[2021-07-29 00:33] orbeckst commented on #3359
Your explanation of *id* vs *index* would be helpful in the docs. And then it makes sense to advertise *id*, too. In particular, anyone working with PDB files would probably be happy to hear that the PDB SERIAL is captured in *id* (is it?).

[2021-07-29 08:51] IAlibay commented on #3371
I'm going to tag @alejob here. Given waterdynamics doesn't use the latest AnalysisBase formalism, maybe an overall target to update the whole thing might be a good idea?

[2021-07-29 11:05] IAlibay opened #3372 "Investigate pins for various CI components (pytest-cov, coverage, msmb_theme)"
Follow up from #3369
Related to #3224

Our docs build infrastructure is starting to be a bit flaky, particularly in #3369 we've had to pin pytest-cov due to some dependency resolution issues we were having when installing it at the same time as the sphinx components.

We should aim to check a) if all the pins are still necessary, b) what steps we should take to remove these pins.

My understanding

[2021-07-29 11:14] IAlibay opened #3373 "Implement `byframent`-like selection."
## Is your feature request related to a problem? ##
Following up from conversations on discord, it seems that implementing a `byfragment` (probably better named `bymolecule`, `whole`, other?) selection would be convenient. This would avoid the need to expand selections to whole fragments by hand (from @richardjgowers - we might be able to do some optimisation in the backend to avoid copying AtomGr

[2021-07-29 12:43] IAlibay opened #3374 "MDA compilation crash with aarch64"
For some reason our latest aarch64 builds are reproducibly failing on aarch64, see: https://travis-ci.com/github/MDAnalysis/mdanalysis/jobs/526646721#L1562-L1582

Issue seems to coincide with the release of cython 0.29.24.

@tylerjereddy sorry to bug you here, are you seeing anything similar upstream?

[2021-07-29 12:56] IAlibay commented on #3374
Looking at the logs a bit more, looks like an issue with GSD? I don't have an ARM machine on hand to test this unfortunately :/

[2021-07-29 13:47] IAlibay commented on #3374
Remembered I had access to a ThunderX2 machine.

I can reproduce this issue:

[code]
<details>
  <summary>Details</summary>

[code]

</details>

[2021-07-29 16:05] yannclaveau commented on #3366
I think, in order to keep the existing code and add new functionnality would be to modify the _getCosTheta so that it can be accessed "outside" the function.
using waterdynamics.AngularDistribution.getCosTheta
I tried to use it that way, but because of how the selection works in this class I didn't succed. But, as I am a noob in pyhton, I guess it is probably because I did something wrong:

[code]

[2021-07-29 16:11] IAlibay commented on #3327
For context, this is the conversation I am referring to here:

from @mnmelo (replying to a question for me re: if unitcell is ever set):

"Just tried pdb2pqr, which seems to be sort of a reference on PQR, on a well-formed PDB with meaningful CRYST1 field. The output has no CRYST1 or box info whatsoever, so we probably shouldn't expect any when reading.

I agree this could be simplified to a single

[2021-07-30 02:14] #3374 closed

[2021-07-30 22:54] orbeckst opened #3377 "mda.fetch_alphafold()"
## Is your feature request related to a problem? ##
We have `mda.fetch_mmtf()` to get a structure from the PDB.

Can we have `mda.fetch_alphafold()` to get a model from https://www.alphafold.ebi.ac.uk/ ?

## Describe the solution you'd like ##
[code]

## Describe alternatives you've considered ##
Manually download...

## Additional context ##
It's not clear to me if they have a dedicated API but r

[2021-07-31 20:39] #3327 closed

[2021-08-01 20:30] IAlibay commented on #3377
So I gave it a good look and for now it doesn't seem like the REST API has been exposed. They might release it later in the future though.

In the meantime, if we want to go down this route we really should implement an mmCIF/PDBx parser (I think @orbeckst has already opened an issue about this).

[2021-08-02 20:10] dldereklee opened #3381 "Pip Install Crashing on Clang"
## Expected behavior ##

pip install works

## Actual behavior ##

pip install crashes with the following error output
[code]

## Code to reproduce the behavior ##

`pip install --upgrade MDAnalysis  `

## Current version of MDAnalysis ##

- Which version of Python (`python -V`)?  Python 3.8.9 (using pyenv)
- Which operating system? Mac OS Catalina
- Apple clang version 12.0.0 (clang-1200.0.32.21)

[2021-08-02 20:46] lilyminium commented on #3381
Hmm, I can't reproduce this on Python 3.8.9 with MacOS Catalina, clang 6.0.0. Could you please paste errors from the output (it'll say `error:` for those)?

[2021-08-02 20:51] dldereklee commented on #3381
[code]

[2021-08-03 02:00] hmacdope commented on #3381
seems like your `stdlib` is not being picked up properly. How did you install clang? With XCode or with something like brew? Or something else.

[2021-08-03 23:42] hmacdope commented on #3381
Would you be able to try a version of clang installed with `brew` ? something like:

`brew install llvm` followed by

`export CC=/path/to/brew/clang/bin/clang` and `export CXX=/path/to/brew/clang/bin/clang++`

 the brew path for clang is **often** `/usr/local/opt/llvm` making the above command `CXX=/usr/local/opt/llvm/bin/clang++` although you will need to check the exact path.

[2021-08-04 07:51] orbeckst commented on #3370
Is the problem that we currently do not pass a remarkNum with the remark?

A hack would be to check if the remark string starts with `[1-6]\s` and if so, assume that this is a remarkNum and adjust accordingly. I agree that this is a bit messy and it's safer to refrain from guessing. How bad of a hack is this?

Alternatively, we have to start processing remarkNum.

[2021-08-04 07:57] orbeckst commented on #3367
Should we just refuse to create bonds from CONECT if we have more than 99,999 atoms and issue/log a warning? Raising an exception seems harsh because we can still read the ATOM records correctly, can't we?

[2021-08-07 12:51] Agorfa opened #3383 "LAMMPS DumpReader returns incorrect triclinic box dimensions"
## Expected behavior ##

Triclinic box dimensions written in the lammpsdump format should be imported correctly.

## Actual behavior ##

The DumpReader expects triclinic boxes to be written in the format:
[code]
which then make up the three triclinic box vectors a = (xhi-xlo,0,0); b = (xy,yhi-ylo,0); c = (xz,yz,zhi-zlo).
But I believe this is not how recent (maybe all!?) lammps versions dump tricl

[2021-08-12 18:17] #3303 closed

[2021-08-12 19:28] #1901 closed

[2021-08-12 20:15] RMeli opened #3385 "MOL2Parser requires ATOM optional fields"
## Expected behavior ##

I expect MDAnalysis to be able to parse standard MOL2 files.

## Actual behavior ##

If I understand correctly the [MOL2 standard](https://web.archive.org/web/*/http://chemyang.ccnu.edu.cn/ccb/server/AIMMS/mol2.pdf), a `<TRIPOS>ATOM` data line only requires the 6 following fields: `atom_id atom_name x y z atom_type`. However, the `MOL2Parser` expects also the following opt

[2021-08-12 20:52] RMeli commented on #2874
I recently had problems with this as well. I agree with @xiki-tempula that `chainID` should be prioritised over `segid`, at least internally, since the latter is not defined in the standard.

---

## Expected behavior

I expect the following one-residue PDB files to contain the same number of residues (one):
[code]

The only differences between the two residues should be the values of some coordin

[2021-08-13 04:48] hmacdope commented on #3383
Thanks for brining this to our attention! This is of some concern if we are parsing boxes incorrectly. I will have a look through your logic and the lammps manual. In the meantime feel free to make a PR!

[2021-08-13 04:49] hmacdope commented on #3383
Note possibly can be incorporated into #3360.

[2021-08-13 08:32] RMeli opened #3386 "ReaderBase.__del__: I/O operation on closed file"
## Expected behavior ##

I expect MDAnalysis to terminate without (ignored) exceptions.

## Actual behavior ##

When I create an universe from a PDB file defined as `StringIO`, I get the following error:
[code]

## Code to reproduce the behavior ##

[code]

## Current version of MDAnalysis ##

- Which version are you using? `2.0.0-dev0`
- Which version of Python? `3.7.10`
- Which operating system?

[2021-08-13 13:01] #3305 closed

[2021-08-13 14:59] #3062 closed

[2021-08-13 22:24] orbeckst commented on #3386
See in particular #2089 (possibly somewhat related  #1530, #1506, #1250).

[2021-08-15 21:57] lilyminium opened #3387 "Easy inverse index array"
## Is your feature request related to a problem? ##

PR #3368 creates an inverse index array of unsorted indices with this Python loop:

[code]

## Describe the solution you'd like ##

This could be done very easily and much faster in Cython instead, in the ``lib`` module.

## Describe alternatives you've considered ##

## Additional context ##

[2021-08-16 08:41] RMeli commented on #3386
Thanks for pointing them out @orbeckst (I forgot to check closed issues...). However, using `NamedStream`s does not seem to solve the issue for me:
[code]

[code]

This was already reported in https://github.com/MDAnalysis/mdanalysis/issues/2089#issuecomment-481578337 .

[2021-08-16 15:38] orbeckst commented on #3386
Ok, so it’s really an issue.

[2021-08-17 20:41] #3364 closed

[2021-08-17 20:41] #2977 closed

[2021-08-17 20:43] IAlibay commented on #3248
We're going to have to move the goalpost on this one since I can't seem to properly reproduce the error. - setting to 2.1.0

[2021-08-17 20:44] IAlibay commented on #1575
@richardjgowers is this done now?

[2021-08-18 13:42] prateekbansal97 opened #3389 "sos_triangle fails to execute while using create_vmd_surface"
## Expected behavior ##

Hello, I have been trying to create a vmd_surface for my membrane protein using a trajectory. I define the universe, create and run the hole2.holeanalysis() object. It runs and successfully outputs .out and .sph files. The next step I do is to create_vmd_surface, which fails, with the following error:

## Actual behavior ##

Traceback (most recent call last):
  File "mdana

[2021-08-18 15:06] lilyminium commented on #3389
Hi @prateekbansal97, this looks like a permissions error. Could you check that you have permission to execute `sos_triangle`? You can view with `ls -l sos_triangle` and make it executable with `chmod +x sos_triangle`. Otherwise, can you check that `sos_triangle` works when you execute it directly from terminal?

[2021-08-18 15:57] #3319 closed

[2021-08-18 19:27] prateekbansal97 commented on #3389
Output for `ls -l ~/hole2/exe/sos_triangle`:

`-rwxrwxrwx 1 pdb3 pdb3 31085 Nov 12  2020 ~/hole2/exe/sos_triangle`
So, it has all the permissions.
When I `sos_triangle` from the terminal, this is the output -
[code]
So, it runs from the terminal. I thought that it was a permissions issue too, but the executable has all the permissions and it runs from the terminal.

[2021-08-19 17:34] orbeckst opened #3392 "update the Trajectory API docs: Writers"
## Expected behavior ##
API docs https://docs.mdanalysis.org/2.0.0-dev0/documentation_pages/coordinates/init.html#trajectory-api and code (namely coordinates.base.WriterBase etc) agree

## Actual behavior ##

API docs require start, stop, step, dt but the writers, starting with
https://github.com/MDAnalysis/mdanalysis/blob/55ffd255013dac427be3a8f4cf7962a4a886b712/package/MDAnalysis/coordinates/bas

[2021-08-19 18:25] #2735 closed

[2021-08-19 21:56] orioncohen opened #3394 "LAMMPS trajectories should set atoms.names equal to element names"
## Is your feature request related to a problem? ##
Whenever I use MDAnalysis to handle LAMMPS trajectories, I have to overwrite the atom names and set them equal to the elements. Otherwise, when writing .xyz files, the elements are not properly assigned.

## Describe the solution you'd like ##
I would like the LAMMPS trajectory to automatically guess elements based on mass and assign them to atom

[2021-08-20 00:00] IAlibay commented on #3394
As far as I know the XYZWriter now writes out elements from `atoms.elements` instead of using `atoms.names` if the former is available.

The best thing here would probably be to make it so that whatever favourite LAMMPS format feeds correct elements to `atoms.elements` instead?

Is there another more stable property we could use for element getting here? There have been many decisions over the yea

[2021-08-20 01:32] orioncohen commented on #3394
Ahh ok, that is probably the case. I haven't checked out the code for the XYZWriter. Will take a look.

Got it, those are tricky. In that case, maybe assign elements to atoms if and only if all atom masses can be matched with an element?

 Or, add an optional to guess elements as a keyword argument? Currently the XYZWriter basically fails for unmodified LAMMPS trajectories, which is frustrating.

[2021-08-20 19:55] #3392 closed

[2021-08-20 21:35] #2327 closed

[2021-08-20 21:40] lilyminium commented on #3394
Yeah, we have a lot of issues about guessing. I'm guessing LAMMPS trajectories don't have a trivial way to obtain elements, like giving particles atomic numbers? What does LAMMPS do about types, are they named in a way that makes it easy to guess elements? I notice the topology parser has a `massdict` argument for assigning masses via types, which basically sounds like the inverse of what you want

[2021-08-20 21:50] orioncohen commented on #3394
It may be possible to set atom types in LAMMPS that are compatible with the MDAnalysis reader (I'm no LAMMPS super-user) but in all the LAMMPS simulations I have done, LAMMPS just assigns the types as integers from 1...N. So sadly, pretty useless.

Regardless, it would be convenient to have an option to guess from masses if the atomic numbers aren't specified in the LAMMPS input file. In #3395, @I

[2021-08-21 15:09] #2866 closed

[2021-08-21 16:06] orbeckst commented on #3389
It might not be a real permission error but `sos_triangle` just returning the code that happens to map to Permission Error.

[2021-08-21 16:22] #3358 closed

[2021-08-21 17:56] IAlibay commented on #3248
Note still an issue on 2.0.0.

[2021-08-21 19:21] orbeckst commented on #3381
@dldereklee did you try @hmacdope 's suggestion?

When we cannot reproduce an error in our tests in the CI or on local machines then the only way we can make any progress is by users working with us.

If there's no additional activity on this issue we will eventually close it as stale.

[2021-08-21 19:27] orbeckst commented on #3224
This is going to be a fair amount of busy-work fixing docs. Perhaps we start a PR and then anyone who wants some good karma can contribute by fixing errors in a few files.

[2021-08-21 19:31] tylerjereddy commented on #3248
Yes, just seeing this now sorry--let me see if I can capture that error in a CI matrix entry now

[2021-08-22 00:59] hmacdope commented on #3248
See #3361 for possible loss of precision in `transform_StoR()`

[2021-08-23 00:15] IAlibay opened #3401 "MDAnalysis based reporters for OpenMM"
_I'm opening this here since in most cases of downstream reporters I have encountered these are managed by the downstream package. I can move it somewhere else if more appropriate._

This was something that was originally brought forward in #2863 and recently re-discussed in https://github.com/openmm/openmm/issues/3217.

It would be great to see if we could build OpenMM reporters that use the MDAn

[2021-08-23 05:59] hmacdope commented on #3401
Reminds me of the LAMMPs style where things are easily computable on the fly! I think its a cool idea, as it really focuses the simulation on what you want.

[2021-08-23 17:22] dldereklee commented on #3381
I ended up just running the tool through Docker instead. I tried @hmacdope's suggestion, but I still get the same error.

[2021-08-23 19:20] Seanny123 commented on #1300
Is this relevant again now that the build system is being updated in https://github.com/MDAnalysis/mdanalysis/pull/3398?

[2021-08-23 23:32] hmacdope commented on #3383
Has this been fixed? I didn't address this in #3360.

[2021-08-24 02:56] tylerjereddy opened #3402 "DOC: add citation file"
Seems like a nice thing to do so we can get a link like below on our main GitHub page. Probably just needs a PR similar to https://github.com/scipy/scipy/pull/14630 with a `CITATION.bib` in repo root with the two main papers I suppose.

![image](https://user-images.githubusercontent.com/7903078/130548405-10136911-b16d-4143-bde6-3bc89358a022.png)

[2021-08-24 03:50] tylerjereddy commented on #1300
Maybe, but have to be cautious of the maintenance burden/increasing complexity of the release process. A lot of upstream packages spend a considerable amount of bandwidth on this stuff. At least we don't have Fortran code, last time I checked.

[2021-08-24 09:20] alexgorfer commented on #3383
Sorry for not being active last week! No i dont think it is fixed as of now anywhere.

[2021-08-24 11:10] alexgorfer commented on #3383
Sorry I hope I am not messing things up with pull requesting for a seemingly closed issue! But I think this should not have been closed.

[2021-08-24 11:47] IAlibay commented on #3383
@Agorfa no need to apologize - your contribution is most definitely appreciated. I _think_ the issue was closed by error (sorry my bad, should have seen that it hadn't been addressed in #3360 before merge)

[2021-08-24 16:21] #3254 closed

[2021-08-24 17:07] IAlibay commented on #3402
@lilyminium point out this (https://twitter.com/tgamblin/status/1420157496711208969) in the discord when it first got announced, not sure I follow the issue being discussed, it this something we need to account for?

[2021-08-24 19:22] Seanny123 commented on #1300
I've built MDAnalysis wheels for Linux using `manylinux` for internal use at ProteinQure and it worked pretty well. I'll watch that PR and make a PR afterwards adding a script for creating releases.

[2021-08-24 22:10] tylerjereddy commented on #3402
Not sure--SciPy and NumPy both adopted a `.bib` file to get the link to show up a bit more prominently. That debate seems to be for a `.cff` file vs. a `.bib` file.

That said, many newer folks are now driving things forward with MDA now, so maybe some debate on the citation target to be had.

[2021-08-24 22:27] IAlibay commented on #3317
Do we know what all the optional attributes for OpenMM Atoms are? It's easy enough to try/else elements here, but it'd be better to cover all the optional stuff.

[2021-08-24 23:37] hmacdope commented on #3381
Thanks @dldereklee, I am unable to reproduce your problem myself but am glad that you managed to find a workaround. I will close this now but feel free to re-open if anything pops up.

[2021-08-24 23:37] #3381 closed

[2021-08-25 01:00] IAlibay opened #3404 "Move ConverterBase to the `converters.base`?"
Just having a look at things, and I realise that ConverterBase essentially is just a small subclass of IOBase, but I wonder if it might make more sense to have that in `converters.base` so that it's more logically situated?

[2021-08-25 01:40] ahy3nz commented on #3317
I _think_ there are a lot of optional things in openmm topologies (optional in that there doesn't seem to be a lot of strict checking) [like this section where openmm topologies add an atom](https://github.com/openmm/openmm/blob/ad113a0cb37991a2de67a08026cf3b91616bafbe/wrappers/python/openmm/app/topology.py#L169)

[2021-08-25 17:21] Seanny123 commented on #1300
Actually, looking at the CI, what's the process for uploading a release? Is this process written down anywhere?

[2021-08-25 18:18] richardjgowers commented on #1300
https://github.com/MDAnalysis/mdanalysis/wiki/PreparingReleases

Docs above, We upload to pypi then that triggers the conda forge builds.

On Wed, Aug 25, 2021 at 18:21, Sean Aubin ***@***.***> wrote:

[2021-08-25 18:20] IAlibay commented on #1300
:P Richard beat me to the response - releases are currently done out of CI for now. We're planning to move part of that infrastructure to a github action in the (hopefully near) future [probably coupled with a move towards fortnightly dev builds].

Any suggestions / ideas / etc... here are very much appreciated.

[2021-08-26 16:58] orbeckst commented on #3404
yes – I noticed it when I was updating the docs for 2.0

[2021-08-26 16:59] orbeckst commented on #3404
Of course, we'll need to have a deprecated shim in it's old place until 3.0.

[2021-08-26 17:02] orbeckst commented on #3402
A MDA paper is overdue but until then we should just have our two primary citations available. We can switch it out as soon as we update our "what to cite".

Citation numbers have been really helpful for us to demonstrate impact so being clear about what to cite helps us.

[2021-08-26 19:02] IAlibay opened #3406 "H5PY 3.4.0 causes H5MD writer tests fail with PermissionError on Windows (investigate temporary pin)"
## Expected behavior ##

All tests pass.

## Actual behavior ##

For the Windows runners TestH5MDWriterWithRealTrajectory.test_write_with_drivers[core] fails due to a permission error in writing the H5MD file.

## Code to reproduce the behavior ##

See: https://dev.azure.com/mdanalysis/mdanalysis/_build/results?buildId=2576&view=logs&j=af49e0b6-b01c-50c5-fac7-b346db9f76f5&t=6e9d53c4-1948-52bf-f8ab

[2021-08-26 21:58] orbeckst commented on #3406
Do we have any inkling as to why?

@edisj ?

[2021-08-26 22:08] edisj commented on #3406
I’ll be home in ~1.5 hrs, can take a look then

[2021-08-27 00:09] IAlibay commented on #3406
I wonder if this is linked to the 3.4.0 release (it got released 4 days ago), no issues linked to this issue at this point though.

[2021-08-27 00:42] IAlibay commented on #3406
See #3407 - seems like an issue with the 3.4.0 release of h5py. If someone has the spare capacity / time we should report it upstream.

With regards to moving forward, it's probably best to just pin to <3.4.0?

[2021-08-27 00:58] edisj commented on #3406
That seems like the best short term fix to me. There was a bug fix listed here https://docs.h5py.org/en/latest/whatsnew/3.4.html relating to the `core` and `stdio` drivers and using `mode='a'`, however `H5MDWriter` only uses `mode='w'`. I looked through a few of the PRs linked and I haven't found anything to do specifically with Windows or `mode='w'`

[2021-08-27 17:29] #3402 closed, assigned to orbeckst

[2021-08-29 12:05] Miro-Astore opened #3410 "XTC, GRO and PDB data file do not correctly reflect triclinic basis."
## Expected behavior ##
The example files XTC PDB and GRO files have triclinic bases (angles 60 60 90)
testsuite/MDAnalysisTests/data/adk_oplsaa.xtc
testsuite/MDAnalysisTests/data/adk_oplsaa.pdb
testsuite/MDAnalysisTests/data/adk_oplsaa.gro

## Actual behavior ##
Visually they appear to have a monoclinic basis (angles 60 90 90) according to the definitions https://en.wikipedia.org/wiki/Triclinic_c

[2021-08-29 14:17] richardjgowers commented on #3410
I think the issue here is that we use a loose definition of triclinic, where it means at least one corner isn't 90, rather than all three aren't 90.  This is because under the hood the code is split into either orthorhombic or not (what we call triclinic) code paths.

[2021-08-29 22:23] Miro-Astore commented on #3410
I think the atoms are not arranged in the correct unit cell.

In VMD try this:
mol new adk_oplsaa.gro
package require pbctools
pbc box_draw

You'll see that the true unit cell doesn't align with the monoclinic box which the atoms are placed in. I'm not sure why this is the case but it will cause issues when creating the virtual images.

I could fix the GRO PDB XTC and TRR files but TPR would be ha

[2021-08-29 23:39] IAlibay commented on #3410
I might be misunderstanding the issue, but I've always been under the impression that these files were not synthetic but instead gromacs generated. Hence, I'm not sure that they should be _fixed_ (at least not manually).

They far predate my time with MDA, so maybe @orbeckst might have more information?

[2021-08-29 23:56] Miro-Astore commented on #3410
That's why I was confused. The trajectories seem to have been wrapped to a monoclinic box with angles 60 90 90 rather than the angles indicated by their metadata. 60 60 90.

Current versions of gromacs put triclinic simulations in an orthogonal box and then you need to use trjconv -ur trilinic to see the 'true' unit cell. I'm not sure if this is just a version issue. In any case. I'm not sure thes

[2021-08-30 00:18] lilyminium commented on #3410
Maybe someone selected the wrong output box cell? It does look better if we wrap the atom coordinates:

[code]

<img width="363" alt="Screen Shot 2021-08-29 at 5 18 37 pm" src="https://user-images.githubusercontent.com/31115101/131270227-d6a4d560-e0a5-4179-84de-53c1054df155.png">

[2021-08-30 16:24] orbeckst commented on #3410
These files were GROMACS generated a long time ago.

As @richardjgowers https://github.com/MDAnalysis/mdanalysis/issues/3410#issuecomment-907799171 said: Any angle != 90º and we call it "triclinic".

[2021-08-30 22:49] prateekbansal97 commented on #3389
Thanks for the comment. I realized that the system I was using has a large number of triangles to be rendered, causing sos_triangle to fail with the error 'ERROR: Maximum number of polygons exceeded!'. This happened when I did the rendering manually for each separate frame (pdb) using hole directly, than MDAnalysis. I guess this is a shortcoming of hole.

I'm not completely sure, but my best guess

[2021-08-31 17:13] lilyminium commented on #3389
Thanks for coming back and letting us know the issue, @prateekbansal97. I think this speaks to an overall issue of MDAnalysis not piping the original error message through, though -- would you mind if I change the issue title to that?

[2021-08-31 20:17] prateekbansal97 commented on #3389
Sure, go ahead!

[2021-09-02 18:23] melomcr opened #3412 "Change in AnalysisFromFunction API breaks example for in-memory creation of trajectory from sub-system"
## Expected behavior ##

According to the [documentation](https://docs.mdanalysis.org/2.0.0/documentation_pages/coordinates/memory.html#creating-an-in-memory-trajectory-of-a-sub-system), it should be possible to load coordinates for a sub-system of a loaded universe using the `AnalysisFromFunction` module and the following code (taken from the docs):

[code]

## Actual behavior ##

Using the same

[2021-09-02 18:35] IAlibay commented on #3412
Thanks for reporting this, it sounds like a reasonable proposed change. Would you like to open a PR for this @melomcr ?

[2021-09-02 23:49] melomcr commented on #3412
Sure, @IAlibay , the PR is submitted. I just modified the relevant lines in the docs that used results from `AnalysisFromFunction`. I think that would be enough, but let me know if you feel like a highlighted "Note" warning about the API change would be necessary.

[2021-09-04 01:00] #3412 closed, assigned to nobody

[2021-09-06 05:33] Gojja commented on #1095
Thanks, Conda installation worked out well for me!
https://www.mdanalysis.org/pages/installation_quick_start/

[2021-09-06 10:51] hmacdope commented on #3361
Perhaps this may be linked to #3383? Worth keeping in mind.

[2021-09-06 11:22] hmacdope commented on #3361
Also possible point of failure is the accuracy of construction/conversion of triclinic box in whatever basis eg box[9] (matrix represention) or box[6] (lx,ly,lz,alpha,beta,gamma).

Also of not is `transformStoR` appropriate for use where the box is **not** triclinic?
in:
[code]
we call the transform if triclinic or not (never-mind that the triclinic box may not be being constructed correctly, see

[2021-09-06 12:48] hmacdope commented on #3361
Following  (rough) C++ program  shows that the use of double internally in coord transform can make a difference of only  *about* 1e-6.
[main.txt](https://github.com/MDAnalysis/mdanalysis/files/7116064/main.txt)

[2021-09-06 16:50] orbeckst commented on #1985
@rsexton2 , as discussed, this might be an outline for changing `_setup_frames()`:
[code]

[2021-09-06 17:06] IAlibay commented on #1985
@orbeckst that solution might need care if combined with `check_slice_indices`? https://github.com/MDAnalysis/mdanalysis/blob/943da486c0947ce5f92b17b1b229a51a03a5dbda/package/MDAnalysis/coordinates/base.py#L1694-L1696

[2021-09-06 21:45] orbeckst commented on #1985
The way that @rsexton2 and I discussed it (which should be reflected in the snippet) is that using `frames` is exclusive with using any of `start`, `stop`, `step`. That's a lot easier to handle than thinking about what start/stop/step mean for a sliced trajectory. Fundamentally, I see this as two alternative ways of slicing and not something that should be combined, especially because a user who r

[2021-09-06 21:53] orbeckst commented on #1985
For right now we also did not include the original suggestion to be able to pass a sliced trajectory in `frames`. Perhaps that should be allowed because we allow writing trajectories with [`AtomGroup.write(..., frames=...)`](https://docs.mdanalysis.org/stable/documentation_pages/core/groups.html#MDAnalysis.core.groups.AtomGroup.write)
[code]
where frames can be a sliced trajectory (a `FrameIterato

[2021-09-06 23:05] IAlibay opened #3416 "FrameIteratorIndices doesn't rewind whilst FrameIteratorSliced does"
Related to #3415

## Expected behavior ##

See https://github.com/MDAnalysis/mdanalysis/pull/3415#discussion_r703080785

Iterating through FrameIteratorSliced should leave u.trajectory at the same point as if I iterated through FrameIteratorIndices.

## Actual behavior ##

The former rewinds whilst the latter doesn't.

I might be missing a pythonic reason (which I'd be happy to accept), just bring

[2021-09-07 15:34] IAlibay commented on #3416
Looking into it more, looks like a possibly intention decision by @jbarnoud ?

[2021-09-08 00:11] orbeckst commented on #1985
For the purpose of PR #3415 @rsexton2 and I decided to keep things simple and only implement fancy indexing via the `frames` kwarg and not using a sliced trajectory. If anyone thinks the latter should be included then please say something. Reviews of the PR are also very welcome!

[2021-09-08 00:41] orbeckst commented on #3416
I looked through PR #1934 and although there are some interesting comments like https://github.com/MDAnalysis/mdanalysis/pull/1934#issuecomment-397259246 (why FrameIterators are like `range()` and not really iterators) I couldn't see a real reason why `FrameIteratorSliced` rewinds in `__iter__` https://github.com/MDAnalysis/mdanalysis/blob/39850215eae5a3e2c9d28a24dbc670646e305f79/package/MDAnalysi

[2021-09-08 04:39] jbarnoud commented on #3416
From what I can see, there is no reason for the inconsistency. All the frame iterators should rewind. On 8 Sep 2021 02:41, Oliver Beckstein ***@***.***> wrote:
I looked through PR #1934 and although there are some interesting comments like #1934 (comment) (why FrameIterators are like range() and not really iterators) I couldn't see a real reason why FrameIteratorSliced rewinds in __iter__ https://

[2021-09-09 08:58] pcpatfire opened #3417 "Error reading DlPoly HISTORY file"
## Expected behavior ##

I am trying reading a regular DlPoly HISTORY file.

## Actual behavior ##

I get the following error:
[code]

## Code to reproduce the behavior ##
[code]
[HISTORY_1.zip](https://github.com/MDAnalysis/mdanalysis/files/7135026/HISTORY_1.zip)
DLPoly file version: 2.0 (Classic)

## Current version of MDAnalysis ##
MDAnalysis version: 2.0.0
Python version: 3.9.1
OS: CentOS 8

[2021-09-15 01:22] IAlibay commented on #3416
Looks like the consensus here is to just add the rewind. Do we need to warn or can we treat this as a bug and fix in 2.1.0?

[2021-09-15 05:20] orbeckst commented on #3416
I think we can treat it as a bug fix.

[2021-09-21 16:05] appassionate commented on #3335
Hi! Maybe similar to you, I have another hack way to "squeeze out" tqdm ProgressBar. Differently,it will conbined with Analysis class in Pool.
It will be applied in a customized AnalysisMethod which you might designed.
[code]

[2021-09-21 21:00] PicoCentauri opened #3418 "PDBParser does not save charges."
## Is your feature request related to a problem? ##
I have a PDB file containing charges according to format given in the documentation of the class.

https://github.com/MDAnalysis/mdanalysis/blob/39850215eae5a3e2c9d28a24dbc670646e305f79/package/MDAnalysis/coordinates/PDB.py#L209-L213

However, charges are not saved as the feature was removed in 0.14

https://github.com/MDAnalysis/mdanalysis/blob/

[2021-09-21 21:14] IAlibay commented on #3418
I wasn't around for the removal of charges, but I think the biggest issue here is that 1) we don't have a nice way to store formal charges in universes (maybe that's fixed with RDKit? would need checking), 2) PDB files are pretty bad at providing a full record of formal charges.

Probably a related issue here, the MMTF parser will read formal charges - but into "Charges", I personally think that's

[2021-09-22 07:23] mdd31 opened #3419 "Issue reading custom GROMACS TOP/ITP files in MDAnalysis 2.0.0"
## Expected behaviour ##

I'm using MDAnalysis for processing coarse grained simulations run in GROMACS. I need to assign the correct topology to systems to enable further processing. The easiest way to do this in MDAnalysis was to read in this information from the top/itp files to apply to the pdb/trr files from gromacs. This worked in MDAnalysis 1.1.1 (however charges were not detected).

## Act

[2021-09-22 15:15] mdd31 commented on #3419
other packages in the environment used is:

[code]

[2021-09-23 16:24] ianmkenney opened #3420 "RMS-fitting tutorial has incorrect rotation matrix calculations"
[RMS-fitting tutorial docs](https://docs.mdanalysis.org/2.0.0/documentation_pages/analysis/align.html#rms-fitting-tutorial) incorrectly states that to calculate the rotation matrix, you must first subtract out the center of mass of the full mobile AtomGroup and the full reference AtomGroup.

[code]

You should, however, subtract off the center of mass of the alignment AtomGroup

[code]

[2021-09-23 17:32] orbeckst commented on #3224
Now our CI doc build **build_docs** is failing, e.g. https://github.com/MDAnalysis/mdanalysis/pull/3421/checks?check_run_id=3690514153

[code]

[2021-09-23 17:34] orbeckst commented on #3372
Maybe recent doc_build failure should have been mentione here instead of https://github.com/MDAnalysis/mdanalysis/issues/3224#issuecomment-926016473 ?

[2021-09-23 17:36] IAlibay commented on #3372
Both are pretty much appropriate 🙃

The simplest answer is to pin temporarily, but we really need to sit down and unpin everything and see what's breaking everything.

[2021-09-23 17:52] orbeckst opened #3422 "CI pylint fails because removed --py3k option is used"
## Expected behavior ##

CI (pylint) runs

## Actual behavior ##

pylin failed with error
[code]
see https://github.com/MDAnalysis/mdanalysis/pull/3421#issuecomment-926026947

## Code to reproduce the behavior ##
see https://github.com/MDAnalysis/mdanalysis/pull/3421#issuecomment-926026947

[2021-09-23 17:54] IAlibay opened #3423 "Iterating SingleFrame readers does not call rewind()"
Indirectly related to #3416

## Expected behavior ##

All readers should behave similarly.

## Actual behavior ##

See: https://github.com/MDAnalysis/mdanalysis/pull/3415#issuecomment-922109775

Iterating a SingleFrame reader does not rewind the reader, which means that any modified coordinates remain the same. This differs in behaviour from the trajectory readers which do rewind (and therefore up

[2021-09-23 18:05] orbeckst commented on #3423
I would like to label this issue a **defect**. I don't think that a fix is a API change because the behavior was never intended or documented as such. I would consider a fix a fix for the API that makes the SingleFrameReaders behave consistent with the existing API.

[2021-09-23 18:06] orbeckst commented on #3423
If anyone disagrees please chime in.

(Note that if it's not a defect then we can only change it in 3.0 because under semantic versioning it would be a breaking API change.)

[2021-09-23 18:08] orbeckst commented on #3416
As elsewhere https://github.com/MDAnalysis/mdanalysis/issues/3423#issuecomment-926038211 I'd like to label this issue a **defect** because the behavior is not documented and wasn't intended as such. A fix would fix the API to be consistent with the rest of the readers.

[2021-09-23 18:11] IAlibay commented on #3423
I'm on board with calling this a defect. There is however a possibility that folks may have unknowingly been relying on this behaviour, so we should make sure we advertise the change well.

[2021-09-23 18:50] orbeckst commented on #3419
Hello @mdd31 , I labeled this issue tentatively as a bug (but haven't confirmed further than looking at your report).

Fixes are very welcome, the User Guide has a section to get you started https://userguide.mdanalysis.org/stable/contributing_code.html .  In short, create a PR and we discuss details on the PR.

[2021-09-23 18:58] orbeckst commented on #3419
Quick comment from looking at the ITP parser code: If you had to change anything in line 534
https://github.com/MDAnalysis/mdanalysis/blob/39850215eae5a3e2c9d28a24dbc670646e305f79/package/MDAnalysis/topology/ITPParser.py#L534
then I suspect that the actual problem is elsewhere in how charges are (or are not) picked up.

[2021-09-23 19:00] orbeckst commented on #3417
Do you know if anything changed in the DL_POLY HISTORY file format?

Are you able to read other history files?

[2021-09-23 19:04] orbeckst commented on #3410
What meta data are you referring to?

[2021-09-23 19:09] orbeckst commented on #3418
I can't remember why we removed charges — not sure where the discussion is.

Given that I don't know what my opinion X years ago was, I can just look at this problem with fresh eyes and say that I don't see it as a problem to load the formal charges into charges because if you have a PDB then that's the only information that you have and it won't collide with partial charges. It would be useful wh

[2021-09-23 19:15] mdd31 commented on #3419
@orbeckst Yes, you are correct, From my logging and investigation I found that it is the assignment for the charge values into the array actually causing the issue in the block around line 538-546:

https://github.com/MDAnalysis/mdanalysis/blob/39850215eae5a3e2c9d28a24dbc670646e305f79/package/MDAnalysis/topology/ITPParser.py#L538-L546

Due to the previously set dtype it seems to only get the first

[2021-09-23 19:19] mdd31 commented on #3419
I will work on committing my changes to a local branch and submitting a PR request tomorrow morning (CEST).

Thank you for your help.

[2021-09-23 19:51] IAlibay commented on #3418
I'm not going to fight for this strongly either way, but personally I would prefer we implement a new topology attribute for it - especially given @lilyminium's work on arbitrary topology attribute selections.

Main reasoning is:
1) I can see a case where someone loads in a PDB and generates partial charges with an external method (RDKit, something else, etc..), and now you end up with both partia

[2021-09-23 23:49] orbeckst commented on #3404
I'll just say that we want to do this and remove the proposal tag.

[2021-09-24 13:19] matteo-northvolt opened #3426 "Reading LAMMPS trajectory but not getting residue info"
## Expected behavior ##

I am reading a LAMMPS trajectory and I am expecting to have information about residue id.

## Actual behavior ##

Seems that there is only one residue in the system even it this is not the case.

## Code to reproduce the behavior ##

`u= MDAnalysis.Universe("nve.lammpstrj", atom_style="id resid type element mass charge xu yu zu x y z vx vy vz", topology_format="LAMMPSDUMP"

[2021-09-24 18:47] germanbarcenas opened #3427 "distance.analysis module not found"
## Expected behavior ##
I want to use this function
https://docs.mdanalysis.org/2.0.0/documentation_pages/analysis/distances.html?highlight=distance#MDAnalysis.analysis.distances.dist

I want to import this as
'import MDAnalysis as mda'

## Actual behavior ##
MDA does not import this this module
`AttributeError: module 'MDAnalysis.analysis' has no attribute 'distances'`

## Code to reproduce the b

[2021-09-24 19:14] lilyminium commented on #3427
Hi @germanbarcenas, welcome to MDAnalysis! You just need to import the distances module from MDAnalysis.analysis, like:

[code]

If you have any other questions do feel free to reach us on the mailing list (https://groups.google.com/group/mdnalysis-discussion) or Discord server (https://discord.gg/fXTSfDJyxE)!

[2021-09-24 19:20] #3427 closed, assigned to nobody

[2021-09-24 19:20] germanbarcenas commented on #3427
Ahh okay so it was just the syntax of importing the submodule that I wasn't getting. Okay thank you!

[2021-09-26 17:07] #3419 closed, assigned to nobody

[2021-09-27 00:35] Miro-Astore commented on #3410
Perhaps meta data is not the correct term but I am talking about the cell basis vectors in the gro, PDB, TPR and XTC files. The xyz coordinates of the atoms reflect a basis with angles 60 90 90 between vectors while the pbc box should be 60 60 90. See attached screenshot and @lilyminium 's
![image](https://user-images.githubusercontent.com/24998299/134829974-bf3458a3-7f69-4e93-8008-e299de435a55.pn

[2021-09-27 23:28] hmacdope opened #3428 "March=native setup.py flag not setup correctly and will not work with MSVC"
## Expected behavior ##

You should be able to build architecture optimised code with the setup.py `arch` option.
Additionally this option is poorly documented not covered in CI AFAIK.

## Actual behavior ##

setup.cfg has string quotes making the option invalid

`march="native"` 👎

`march=native` 👍

Additionally `-march` is not a valid flag for MSVC, instead the `-arch:` flag must be used

## Cod

[2021-09-28 06:53] rohit1809996 commented on #1739
i am also facing the same issue but my problem still not resolved i have tried all the possible solution present on internet, actually i am restoring an website running backup on my local host using plone , and i am stucked at this particular issue ..... please help me out

[2021-09-28 10:49] PicoCentauri commented on #3418
Thanks for your replies.

I am happy with both. If you decide what kind of attribute we would like to add I can create a PR.

[2021-09-29 09:58] hmacdope opened #3430 "Move benchmarks to > 3.7"
## Expected behavior ##

Since support has been dropped for  2.7 and 3.6  should bump the benchmarks from the current 2.7 python up to whatever version  is appropriate.

This is  mainly a reminder to change the value in `asv.conf.json`  from:
[code]
to whatever version is appropriate once bench environment is setup.

Linked to https://github.com/MDAnalysis/benchmarks/issues/11

## Actual behavior

[2021-09-29 15:15] lilyminium opened #3431 "**kwargs in AnalysisBase does not trigger errors"
## Expected behavior ##

When I pass in keywords that don't exist to analysis classes, it fails.

## Actual behavior ##

`**kwargs` in classes like RMSD get passed to AnalysisBase, which then silently ignores them.

## Code to reproduce the behavior ##

[code]

This is a very reasonable set of arguments to use, given that `superposition` and `center` are keywords in `rms.rmsd`. However, RMSD *actu

[2021-09-29 22:23] hmacdope commented on #1739
Hi @rohit1809996, is your question directly related to MDAnalysis? If so happy to help, but otherwise your question is best directed elsewhere. 👍

[2021-09-30 05:23] rohit1809996 commented on #1739
@hmacdope no actually I was trying to run a plone backup ,and I have solved this issue as I was using different versions of linux not the same as older system where the backup was created..

[2021-09-30 23:10] orbeckst commented on #3430
See also https://github.com/MDAnalysis/benchmarks/issues/11

[2021-09-30 23:17] orbeckst commented on #3431
Note that in #1463 we decided that `verbose` would be a kwarg for both `__init__` and `run()`. So if we remove `**kwargs` (which sounds sensible) then we have to pass through `verbose=None` (or whatever the default ought to be) explicitly.

If we want to remove `verbose` from `__init__` then we can only do it for 3.0 because it would be a breaking API change.

[2021-10-01 04:19] ianmkenney commented on #3350
@richardjgowers see PR #3432, that should have fixed it. The timestep data is now the same for all frames.

[code]

[2021-10-01 21:24] mquevill commented on #3201
One possible implementation of this would be to use an `rdf_type` option like `MDAnalysis.analysis.msd.EinsteinMSD()` has, where the user could select relevant dimensions. (`{'xyz', 'xy', 'yz', 'xz', 'x', 'y', 'z'}`) Like MSD, the default would be `'xyz'`, which returns the standard 3D RDF. This should probably return `dim_fac`, since the dimensionality (hence volume/area/length scaling changes di

[2021-10-02 01:20] hmacdope commented on #3201
I think this is a great idea!

Sorting out the normalisation factor shouldn't be too hard, then its just a matter of passing a correctly zeroed copy of the coordinates to `capped_distance`. 👍

[2021-10-04 18:11] orbeckst commented on #2663
@alescoulie did you want to share your thoughts on ensemble analysis here?

[2021-10-04 18:40] ALescoulie commented on #2663
I've been experimenting with ensemble analysis and was able to make a decorator that creates a wrapper of analysis base classes to accept an[ ensemble group](https://mdpow--179.org.readthedocs.build/en/179/analysis/ensemble.html) I created around just storing a dictionary of universes, and extending some of the universe functionality to that group. It's a relatively simple solution compared to wha

[2021-10-04 21:57] #3420 closed, assigned to ianmkenney

[2021-10-04 22:58] #3350 closed

[2021-10-05 16:05] #3422 closed, assigned to orbeckst

[2021-10-06 15:37] SanjanaSogimatt commented on #3387
Hey, I am new to open source so it would be great if I can help to solve this issue.

[2021-10-06 21:07] IAlibay commented on #3387
@SanjanaSogimatt please do go ahead and open up a PR with code to solve this issue.

[2021-10-09 13:20] SanjanaSogimatt commented on #3387
Hey actually I'm new to open source. Can you give me some suggestions on how to get started? It would be really a great help

[2021-10-09 13:23] IAlibay commented on #3387
@SanjanaSogimatt please have a look at our userguide on contributing to MDAnalysis: https://userguide.mdanalysis.org/stable/contributing.html

If you open up a pull request which addresses this issue we can guide you through the process of merging your code into our codebase.

[2021-10-11 14:34] lilyminium commented on #3387
I added a comment elaborating on this problem here: https://github.com/MDAnalysis/mdanalysis/pull/3433#issuecomment-940087191

[2021-10-12 08:46] bhavaygg opened #3434 "COmpiling with pyInstaller"
I am trying to create a standalone GUI application that used MDAnalysis and was facing issues in the compilation.
[code]

Any idea how to fix this?

## Current version of MDAnalysis ##

- Which version are you using? `2.0.0`
- Which version of Python? `3.9.6` and `3.6.0`. Tested on both
- Which operating system? Windows 10 and WSL. Tested on both.

[2021-10-12 08:53] IAlibay commented on #3434
It looks like the cython code is not being compiled and/or imported? I unfortunately have no experience with pyinstaller, maybe one of the other devs knows better, but otherwise it might be something that needs to be asked upstream (i.e. to the pyinstaller folks)?

[2021-10-12 15:31] germanbarcenas commented on #3352
Hi! I've run into a similar issue before with my own work. It seems like the .pdb file bond connection is not being read. I had to fix by hardcoding some bonds to maintain pbc. Your issue might be similar to what I had experienced.

[2021-10-12 18:12] germanbarcenas commented on #2377
Hello! I was at your seminar earlier today. I heard about mdtraj as something that was being considered and I wanted to explain a little further/support this idea. It seems that people use MDA to interconvert trajectory formats from this thread, which `mdtraj` seems built to handle. I mostly am interested in performing some Markov State analysis using [http://emma-project.org/latest/](url) and/or

[2021-10-12 23:20] orbeckst commented on #1717
There's a pip package https://pypi.org/project/transformations/ with a version 2021.6.6 and recent history:
* 2021.6.6    Remove support for Python 3.6 (NEP 29).
* 2020.1.1    Remove support for Python 2.7 and 3.5.
* 2019.4.22  Fix setup requirements.

However, it appears to be in deprecation mode:

If we could remove our version and use an externally maintained one then that would be good.

We wo

[2021-10-13 13:09] #3434 closed, assigned to nobody

[2021-10-13 14:53] scal444 opened #3435 "Expose OpenMP backends to more analysis methods"
## Is your feature request related to a problem? ##
Some analysis tools rely on underlying libraries that have both OpenMP and serial implementations, but only ever allow the serial implementation to run. InterRdf is a good example of this. In the main loop:
* The tool calls [pairs.capped_distance](https://github.com/MDAnalysis/mdanalysis/blob/develop/package/MDAnalysis/analysis/rdf.py#L355)
* pai

[2021-10-13 22:01] orbeckst commented on #3435
Coming up with a consistent way to enable OpenMP acceleration would be good.

Note that we came across situations where the numpy OpenMP behavior _decreased_ performance (in the context of the on the fly transformations IIRC) .

[2021-10-13 22:14] IAlibay commented on #3435
Generally I think the OpenMP backends need reviewing (I don't even think they get properly tested in CI).

I guess the main question I have here is; would weak scaling be a better goal here for future development? breaking things down to one thread per-frame seem like more likely to get us good scaling instead of multiple threads per frame?

I can see cases where allowing for both options could be

[2021-10-13 22:49] orbeckst commented on #3435
I am adding a few related issues for context
* #2975 — need to be able to _limit_ OpenMP threads (i.e., have good user control over the level of OpenMP parallelization)
* #2046 — problems with OpenMP in the distance calculation code
* #1670 — some older discussion about OpenMP in distances (basically: it gives some speed-ups but it's far from perfect, let's keep it for now)
* PR #2950 — introduced

[2021-10-13 23:00] orbeckst commented on #3435
My experience is that there are limits to how well you can make "split-apply-combine" parallelization work. It's often better if you can get multiple nodes involved (on a parallel file system) and then it's quite useful if you can make use of the cores on the node. Being able to do some heterogenous parallelization is not a bad thing, in my opinion. Furthermore, even "normal" operations such as di

[2021-10-13 23:02] orbeckst commented on #3435
Do you have opinions on the distance calculations, @richardjgowers @hmacdope and parallelization?

[2021-10-14 00:42] hmacdope commented on #3435
First up thanks for having a look into this, improving performance is something we are really looking into at the moment. :)

I will also say that we are developing an intrinsics based explicitly SIMD vectorised package for calculating distances (https://github.com/MDAnalysis/distopia) which we are hoping may eventually replace some (most) of the hot distance code.
Any additional input is most wel

[2021-10-14 02:27] scal444 commented on #3435
Thanks for all the responses!

Acknowledged - the few that I've been playing around with are covered, but I understand if work is done there may be some groundwork/cleanup/test expansion to do first.

Any additional input is most welcome and we would love additional people to contribute. We may also expand to CUDA and/or SYCL time permitting for some tasty heterogeneous parallelisation.

Awesome!

[2021-10-14 04:14] hmacdope commented on #3435
I agree that we could do with possibly formalising where each parallelism hierarchy fits into future plans. Would people be amenable to this @MDAnalysis/coredevs? Perhaps something like this already exists that I'm not aware of.

[2021-10-14 08:02] richardjgowers commented on #3435
Thanks for looking into this, I think maybe the benchmark is a little small (at 2k atoms?). We really need to be designing around large problem sizes, where smart algorithms (here nsgrid) are required.

That said...
- Nsgrid is relatively young, so I'd happily believe it could be optimised.
- The auto selection of method hasn't really been investigated, so perhaps better heuristics exist.

In term

[2021-10-14 13:28] scal444 commented on #3435
Agreed, but NSgrid was crashing for me at higher atom counts, including the highest count on the current benchmark (10k). Also something I was planning to look into but haven't filed a bug yet.

That can work, but we'd need to carefully define / document the way analysis tools interact with that trait. It's infeasible to have every tool implemented in every backend, so if the trait says "GPU", a s

[2021-10-14 13:41] scal444 commented on #3435
Another question is what's the team's priority right now? I started down the OpenMP improvement route, but I'd be happy to work on a mechanism that has momentum. Is there a roadmap for integrating the SIMD libraries, and/or implementing per-frame parallelization internally?

[2021-10-14 13:53] richardjgowers commented on #3435
Honestly, the crash at 10k seems a quite high priority to me :)

The development of the SIMD code is happening in the "distopia" repo as it is very experimental. Once it replicates the contents of lib.distances, theoretically you could slide it (or any other backend...) under most analysis (and core) functions that use lib.distances. Something like a BLAS for distance calculations.

[2021-10-14 13:55] richardjgowers commented on #3435
Oh and pmda is where (at least one direction) of per-frame parallelism development is happening, that's @orbeckst 's initiative.

[2021-10-14 14:38] scal444 commented on #3183
Segfault is in initial [_pack_grid call](https://github.com/MDAnalysis/mdanalysis/blob/6b4eea02081bec633ed90f44416b350d7d7ab629/package/MDAnalysis/lib/nsgrid.pyx#L410), at

self.next_id[i] = self.head_id[j]

It may be that
j = self.coord2cellid(&self.coords_bbox[i][0])

is giving something bad, but the grid sizes seemed weird, so there may be an upstream issue. I can dig into this

[2021-10-14 14:43] scal444 commented on #3435
It looks like the crash has a bug already (assuming the same underlying issue) at #3183 . I found the crashing line, can try to figure out what's going on, seems like a good first issue.

I did see pmda, but it didn't look like there's been any active development in the last year or so, so I didn't know if it's an active project.

[2021-10-14 15:58] yuxuanzhuang opened #3436 "Parallel Writing Support for H5MDWriter"
## Is your feature request related to a problem? ##
Related to #3231, I have been struggling to find the best way to save the processed (i.e. unwrapped, centered, aligned by on-the-fly transformations) trajectories. The bottleneck of it should be the long processing time for each timestep (with or without transformation I think?) as opposed to the overall I/O limit even when I am processing and sa

[2021-10-14 16:01] IAlibay commented on #3436
I'm going to ping @orbeckst and @edisj here whom I _think_ were thinking about this too?

edit: didn't see you had tagged them already :P

[2021-10-14 16:09] orbeckst commented on #3436
@edisj was working on parallel writing. It wasn't entirely clear to us how this should work in the context of MDAnalysis but perhaps @edisj could quickly summarize where his efforts were and what the current roadblock was?

Somewhat related: parallel reading #2865 (I think that's stuck on how to serialize the MPI communicator)

[2021-10-14 16:29] orbeckst commented on #3436
@yuxuanzhuang what file system are you doing the writing on?

I don't think that parallel writing will do anything spectacular unless you're on a parallel file system such as Lustre or BeeGFS  (see. for instance, https://www.alcf.anl.gov/files/Parallel_HDF5_1.pdf).

![image](https://user-images.githubusercontent.com/237980/137358877-1c39af52-4778-488a-8bc9-f6383c6c1a6f.png)

[2021-10-14 16:40] orbeckst commented on #3416
If we get this (and #3423 ) done then we can also finish up PR #3415 .

[2021-10-14 16:51] yuxuanzhuang commented on #3436
CephFS. I am not confident enough to say if it supports HDF5 or not, but I don't think it is the limitation here given that the major bottleneck is the loading/processing of each timestep.

[2021-10-14 16:53] orbeckst commented on #3337
I think we can simplify the example (no need for glob) and add some context:
[code]

You could add it to the section https://docs.mdanalysis.org/stable/documentation_pages/coordinates/LAMMPS.html#dump-files in the file `coordinates/LAMMPS.py` after https://github.com/MDAnalysis/mdanalysis/blob/149eb504e35670568201af28306fa04462f6c100/package/MDAnalysis/coordinates/LAMMPS.py#L55-L59

[2021-10-14 16:55] orbeckst commented on #3436
For the filesystem the question is if the MPI implementation has its I/O code (ROM-IO?) linked to the parallel fs ... I don't remember the details — maybe @edisj knows more.

[2021-10-14 18:40] rsu007-Ran opened #3437 "Fail to select new segment using segid just added to the universe"
## Expected behavior ##

I was trying to add a new segment to the universe and select that segment from the universe. When I select the atoms assigned to the new segment by the previous step, python returns an index error.

## Actual behavior ##

[code]

## Code to reproduce the behavior ##

[code]
## Current version of MDAnalysis ##

- Which version are you using? (run `python -c "import MDAnalys

[2021-10-14 18:55] lilyminium commented on #3437
Thanks for raising this with the example, @rsu007-Ran!

@richardjgowers this looks like the name dictionary isn't updating?

@rsu007-Ran if you need this to work fast, I think downgrading to the previous version (0.20.1?) may work.

[2021-10-14 19:10] rsu007-Ran commented on #3437
Thanks for advice, I will take a look into downgrading to previous version to see if it works

[2021-10-14 20:58] IAlibay commented on #3416
Yeah I'll try to have a butcher this weekend maybe - got to get CI back to green first.

[2021-10-15 02:05] edisj commented on #3436
I'm not sure about the specifics as to how the MPI implementation you're using interfaces any specific filesystem (regarding settings needed to be configured when building, any specific tuning needed to build on Lustre vs BeeGFS, etc), so I couldn't say much on whether your implementation is configured correctly to interface with your filesystem. I always just assumed the MPI module on whichever H

[2021-10-15 02:53] edisj commented on #3436
Like @orbeckst said, the details on how to make parallel writing work without a bunch of user-input wasn't clear.

At the moment, H5MDWriter works by extending the length of each dataset being written to and writing to the [-1] index, which works pretty well in serial. The reason for this was that, in general, a writer shouldn't need to know a priori how many frames it's going to write, so the hdf

[2021-10-15 03:09] edisj commented on #3436
@yuxuanzhuang are you already able to do the processing in parallel? If I get a prototype parallel `H5MDWriter` up and running would it be useful?

[2021-10-15 07:25] yuxuanzhuang commented on #3436
Thanks for all your comments! Need a bit more time to digest and test but if you have a prototype writer at hand, it would be really useful.

[2021-10-15 12:44] richardjgowers commented on #3437
@lilyminium yep, on it.

[2021-10-15 14:55] devanshipandya opened #3439 "Using dcd file in Universe"
When I run:
u = MDAnalysis.Universe(psf, dcd)
where psf and dcd are my own topology and trajectory files loaded and from my computer and opened, I get the error:
'_io.TextIOWrapper' object has no attribute 'encode'

This error doesn't arise when I make a universe with just the psf file, is there anything I need to do in order to make the dcd file compatible?

[2021-10-15 15:00] scal444 commented on #3183
OK I believe this is integer overflow. The inflated setup with the given cutoff leads to more cells than the limits of 32-bit integers. The overflow math leads to incorrectly small structures like head_id.

[2021-10-15 15:27] scal444 commented on #3183
I started converting most of the ints in the FastNS cython file to long long, but then stopped. I think it's not reasonable to run this algorithm with these given input and cutoff dimensions - for a system with 100 particles, we're attempting to build a grid with over 5 billion elements. Additionally, c subroutines like _pbc_ortho have ints as their API boundaries, so we have the possibility of tr

[2021-10-15 15:30] richardjgowers commented on #3183
what's the box size and cutoff combination you are using to trigger this?

I think an easy fix for this is just to limit the number of cells in any direction to cube root(INT32_MAX).

[2021-10-15 19:42] IAlibay commented on #3439
@devanshipandya can you give us a bit more information about your system (operating system, python version) & MDAnalysis version?

Also what happens if you load one of the MDAnalysisTest DCD files?

That is, if you run:

[code]

[2021-10-16 18:34] scal444 commented on #3183
I used the original bug description to reproduce. Your suggested fix is what I had in mind as well.

[2021-10-19 14:18] devanshipandya commented on #3439
Linux OS, MDAnalysis Version 0.18.0, Python 3.6
Running the test files works exactly as expected, but I want to be able to use my files. Thanks!!

[2021-10-20 00:15] hmacdope commented on #3439
@devanshipandya would you be able to attach your dcd file so I can investigate locally?

[2021-10-20 16:11] devanshipandya commented on #3439
Github doesn't support uploading .dcd files so i converted the dcd to txt and attached, let me know if you can see it!

[2021-10-20 22:01] hmacdope commented on #3439
I can't. You can make a post on the mailing list and attach it there. https://groups.google.com/g/mdnalysis-discussion

[2021-10-20 22:19] hmacdope opened #3442 "Add march=native build to cron job"
## Is your feature request related to a problem? ##

Enabling of an advanced "march=native" build `setup.cfg` Issue #3428 PR #3429 means that it should be tested, including on ARM and PowerPC in the weekly cron job.

## Describe the solution you'd like ##

Add build(s) with `march=native` to the weekly cron job. We may need to have a git patch apply a change to setup.cfg OR have some way of enabli

[2021-10-21 08:52] IAlibay commented on #3442
The lazy person in me is just going to do a sed call, that's the least painful way.

[2021-10-21 08:55] hmacdope commented on #3442
@IAlibay @orbeckst is there a canonical way to pass installation options on the command line ? I think having this as a flag rather than a "comment this back in" is probably cleaner.

[2021-10-21 08:58] richardjgowers commented on #3442
ENV variables? Not sure if they’re officially supported but sniffing for
C_FLAGS would seem sane.

On Thu, Oct 21, 2021 at 10:55, Hugo MacDermott-Opeskin <
***@***.***> wrote:

[2021-10-21 09:23] IAlibay commented on #3442
env variables are a bit meh IMHO. I'm pretty sure you can pass it via the setuptools CLI by subclassing something, I'll have to have a poke through some docs later.

[2021-10-21 09:29] IAlibay commented on #3442
I guess our current setup is built for env variables, so it's probably best to stick with that, it's in the setup docs so I assume they _should_ be officially supported.

[2021-10-21 09:33] IAlibay commented on #3442
To expand on this - right now (on current develop) if you were to assign the env variable "MDA_MARCH=True" then it would trigger the march variable.

[2021-10-21 17:26] devanshipandya commented on #3439
Message posted with dcd file in onedrive link because it was too large to attach. thanks!

[2021-10-21 21:13] orbeckst commented on #3439
Have you tried a modern version of MDAnalysis, namely 1.1.1 or 2.0.0? Your version 0.18.0 is very out of date and even if there was a bug in it, we would not fix it and simply tell you to use a newer version. If the problem persists in 2.0.0 then we will consider it as a bug.

[2021-10-21 21:15] orbeckst commented on #3439
Did you manage to successfully read your DCD file in another program such as CHARMM or VMD?

[2021-10-21 21:29] orbeckst commented on #3436
Another point that @edisj mentioned to me was to have the parallel H5MDWriter to have a separate MPI code path where the writer's rank 0 communicates with the other ranks to figure out the exact slices. Then rank 0 can effectively build the map for frames from the global information. This could make parallel writing work seamlessly.

[2021-10-24 17:19] richardjgowers opened #3443 "Custom Topology readers can't create topology-only Universe"
## Expected behavior ##

## Actual behavior ##

## Code to reproduce the behavior ##

[code]

This should work (using the logic from [here](https://github.com/MDAnalysis/mdanalysis/blob/develop/package/MDAnalysis/core/universe.py#L338)) and provide a Universe without a Reader attached.  Instead it raises a TypeError from [here](https://github.com/MDAnalysis/mdanalysis/blob/develop/package/MDAnalys

[2021-10-25 19:56] #3443 closed, assigned to nobody

[2021-10-25 19:57] lilyminium commented on #2667
This is going to be a real pressing error now.

[code]

[2021-10-28 18:44] IAlibay opened #3446 "Release 2.1.0"
With the release of python 3.10, we should make a minor release that covers python 3.7 before we have to consider ditching it.

It's shorter than our proposed "maximum every 6 months" release schedule, but it wouldn't help to get this out quickly so we can move up in minimum supported python versions.

That being said - I know we agreed that we would stick with NEP29, but maybe we should be a bit

[2021-10-28 18:53] orbeckst commented on #2789
This kind of analysis would be well suited for a [MDAKit](https://www.mdanalysis.org/2021/08/31/CZI-EOSS4/#2-launching-the-mdakits-ecosystem).

What is everyone's opinion?

[2021-10-28 20:24] lilyminium opened #3447 "Use mamba in ReadTheDocs"
## Is your feature request related to a problem? ##

We can now ask for mamba ourselves instead of relying on RTD's CONDA_USES_MAMBA flag:

https://github.com/readthedocs/readthedocs.org/issues/8623

## Describe the solution you'd like ##

## Describe alternatives you've considered ##

Don't, but it looks like they might deprecate it soon.

## Additional context ##

[2021-10-28 21:00] orbeckst commented on #2131
According to a user report https://github.com/MDAnalysis/mdanalysis/pull/2602#issuecomment-954190947 , this got fixed somewhere in 2.0.

@hmacdope did you work on the LAMMPS code recently and did you fix this issue? If so, it should be added to the CHANGELOG and then we can close this one here.

[2021-10-28 21:35] hmacdope commented on #2131
@orbeckst I added variable coordinate columns in #3360 The CHANGELOG entry was
[code]
 While you can read **coordinates** from a DUMP file with any column layout, you cannot read **velocities** themselves, which is an easy enhancement.

[2021-10-28 23:00] orbeckst commented on #2131
I suppose this means we leave this issue open?

[2021-10-28 23:25] hmacdope commented on #2131
I guess that depends how you interpret "Lammps Dump Parser can't do variable columns".
We can now read files with any column layout but the data is not necessarily incorporated into the timestep.  IMO these things are seperate but I will defer to you @orbeckst  :)

[2021-10-28 23:56] orbeckst commented on #2131
Looking at the original mailing list message and given that @RuiApostolo confirmed that 2.0 solved their problem I am going to close the issue. If anyone wants to actually read the velocities then they can open a new issue.

[2021-10-28 23:59] orbeckst commented on #3439
@devanshipandya could you please provide more information?

[2021-10-29 00:01] orbeckst commented on #3426
@hmacdope what kind of additional information would be needed to assess this issue?

[2021-10-29 00:04] orbeckst commented on #3446
Would we want #3437 fixed for 2.1.0? It looks like a pretty annoying thing for anyone who's doing topology hacking for the common case to add chain information.

[2021-10-29 01:01] hmacdope commented on #3426
@matteo-northvolt, thanks for raising this. Does your DUMP file contain the "mol" keyword? Would you be able to share it with us either here or on the mailing list?  https://groups.google.com/g/mdnalysis-discussion. That way I can debug any issues you might be having.  :)

@orbeckst I think some of the logic in parsing DUMP files as topologies could be made more flexible. I will raise an issue wit

[2021-10-29 13:03] richardjgowers commented on #3446
Yeah #3440 is a bug fix that's ready to go so I've added it to the checklist.

#3441 would be nice as it's a segfault which are generally nice to avoid.  I think we're just stumbling around figuring out how/if to test that issue, but the fix is done at least.

#3445 is a fairly minor addition that shouldn't be too hard to review?

[2021-10-31 00:19] hmacdope opened #3449 "Allow LammpsDumpParser Topology reader more flexibility in coordinate column data."
## Is your feature request related to a problem? ##

The LAMMPS DumpParser topology creator is somewhat inflexible in the column format it expects.
Now that we support other coordinate conventions #3360  and velocities #3448 (WIP), we should relax the requirement for an

[code]
format and make it somewhat more flexible.

## Describe the solution you'd like ##

Allow the parser more flexibility in

[2021-10-31 00:27] hmacdope commented on #3442
I am going to close this for now, as we decided in #3429 to allow an option for **any** compiler flags rather than just `march=native`, making this issue obsolete.

[2021-10-31 00:30] IAlibay commented on #3442
I'm not sure I agree we should close - we're still going to document the use of march=native as a flag right? So we should test it...

[2021-10-31 00:35] hmacdope commented on #3442
I guess my understanding of discussion in #3429 was that we were going to rely on the user to **specify** any additional compiler flags (it would be blank by default).

 But I see now that if we **document** the use of a flag specifically, we should test for it (if that is an okay use of CI resources?).

Sorry for the perhaps premature close.

[2021-10-31 00:38] IAlibay commented on #3442
It's a reminder for a weekly Cron job we'll probably add in the near future, it's not a waste of CI if it's the one job once a week IMHO.

[2021-10-31 05:32] hmacdope commented on #3446
Is #2989 still under consideration for 2.1.0? It is tagged as so in the PR.

[2021-10-31 11:26] IAlibay commented on #3446
No. Cython 3 is still in alpha releases, I'll push it to 2.2.0 but I think it might be a breaking change that'll have to be held off until 3.0.0.

[2021-11-01 10:39] #3428 closed, assigned to hmacdope

[2021-11-01 20:01] aligh92 commented on #2789
I would be happy to be part of that.

Regards,
Ali

On Thu, Oct 28, 2021 at 4:23 PM Oliver Beckstein ***@***.***>
wrote:

[2021-11-03 15:03] #3224 closed

[2021-11-03 15:03] #2667 closed

[2021-11-04 11:38] #3437 closed, assigned to richardjgowers

[2021-11-04 14:36] AlessioD77 opened #3450 "Issues with MDAnalysis, version 1.1.1"
Hi,
I am trying to execute a python module in anaconda on ubuntu which requires version 1.1.1 of MDAnalysis. I have created a separate conda environment with the prerequisite versions of packages installed (hence 1.1.1). In terminal using this environment, running conda list shows that I have mdanalysis 1.1.1 installed however when trying to execute the aforementioned module I get an ModuleNotFoun

[2021-11-04 14:42] RMeli commented on #3450
`/home/user/anaconda3/bin/python` looks like the Python interpreter of the base environment. Have you activated the new environment with `conda activate ENVIRONMENT`? The path should look something like `/home/user/anaconda3/envs/ENVIRONMENT/bin/python` if I'm not mistaken.

[2021-11-04 14:50] AlessioD77 commented on #3450
Hi,

I have run `conda activate environment` and yet it still returns as the above mentioned path

[2021-11-04 15:02] RMeli commented on #3450
What do you get with `conda env list`?

[2021-11-04 15:04] lilyminium commented on #3450
@ilovepistacchios that's really odd. To diagnose, would you please attach a screenshot of your terminal with the following commands?

[code]

[2021-11-04 15:58] AlessioD77 commented on #3450
So with `conda env list` i get the following:

[code]

and with what @lilyminium suggested I get:

[code]

[code]
[code]

[2021-11-04 16:13] IAlibay commented on #3450
@ilovepistacchios this is definitely an issue with your conda environment

If doing `conda activate Glycoshield` followed by `which python` doesn't return `/home/alekoj/anaconda3/envs/Glycoshield/python` then it's likely an issue in the way your shell is interacting with conda.

In any case this is not an issue with MDAnalysis. I'll leave this issue open for a few more hours should further debuggi

[2021-11-04 16:17] AlessioD77 commented on #3450
Hi,
after checking my glycoshield environment, I found that it was missing some files including the `bin/python` directory. I deleted and remade the environment and it seems to have fixed the issue. Many thanks for everyone's help!

[2021-11-04 16:19] IAlibay commented on #3450
Awesome to hear it worked out! I'll close the issue.

[2021-11-04 16:19] #3450 closed, assigned to nobody

[2021-11-04 18:01] btodac opened #3452 "PDB writer does not reorder atoms as required by PDB standard"
## Expected behavior ##

The PDB format states:

## Actual behavior ##

The writer just outputs in the order given in the atom group (only tested using proteins, but the writer is the same)

## Code to reproduce the behavior ##

I imported a GROMACS trajectory, which I assume records the atoms in a different order

## Current version of MDAnalysis ##

2.0.0
Python 3.9.7
Ubuntu

[2021-11-04 20:03] IAlibay commented on #3452
If I understand the problem properly here, as much as I like to aim for as much standard compliance as possible - I'm tempted to treat this as wontfix.

There is no way for us to know what the sequence of a protein is at write time, nor that what you have actually counts as a standard protein (e.g. cyclic peptides). In my opinion, the best thing to do here is assuming that user supplied ordering i

[2021-11-04 20:17] orbeckst commented on #3452
I agree with @IAlibay , that’s out of scope.

We should  document it, though.

[2021-11-04 21:23] btodac commented on #3452
It is not the protein sequence that is the issue but the order of the atom records within each residue.
e.g.
ATOM      1  N   SER A   2      -2.266  49.648 -27.532  1.00 39.03           N
ATOM      2  CA  SER A   2      -1.744  48.330 -27.051  1.00 37.53           C
ATOM      3  C   SER A   2      -0.853  47.687 -28.109  1.00 39.48           C
ATOM      4  O   SER A   2      -1.251  46.718 -28.741

[2021-11-04 21:41] orbeckst commented on #3452
We're happy to have a look at proposed code.

By default we will not write out PDB files with changed atom order as this will destroy most people's workflows.

We could consider a keyword arg that reorders on writing. That's something we can discuss on a PR.

[2021-11-04 21:50] richardjgowers commented on #3452
It might be better to write a function that does the juggling and returns
an AtomGroup. Then the writer can just write that juggled AG. More
transparent this way.

On Thu, Nov 4, 2021 at 21:41, Oliver Beckstein ***@***.***>
wrote:

[2021-11-04 21:55] orbeckst commented on #3452
Just to add:

Note that the atom ordering will always be determined by GROMACS (or CHARMM/NAMD, ...) depending on the topology (force field) building blocks.

I wanted to make clear that MDAnalysis's primary purpose is to act as a layer between simulation formats and numpy arrays. It's not our job to question the ordering of atoms in the topology.

We will adhere to existing format specs as well a

[2021-11-04 22:13] btodac commented on #3452
This was is my intention, but it could be provided as an option to the pdb writer.

The reason this has come to my attention is that I need to process gromacs outputs into inputs for another package (HADDock). I was unaware of this atom ordering until my HADDock job failed. It is rather finicky and quite specialised but this issue may occur elsewhere too. I can't imagine implementing the correct o

[2021-11-07 16:00] p-j-smith opened #3453 "HydrogenBondAnalysis cannot handle empty selection strings"
## Expected behavior ##

If I pass an empty selection string to `HydrogenBondAnalysis`, no hydrogen bonds will be found.

## Actual behavior ##

If I pass an empty selection string to `HydrogenBondAnalysis`, hydrogen bonding atoms are guessed (using `guess_donors`, `guess_hydrogens`, and `guess_acceptors`), and a non-zero number of hydrogen bonds is found.

This is because `if not self.donors_sel`

[2021-11-08 03:18] tylerjereddy opened #3455 "MAINT: updating Cython imports"
Related to this for newer versions of Cython/NumPy: https://github.com/scipy/scipy/pull/14813

There are a few places we could probably add in `np.import_array()` just to be safe later on. Compare the output of `git grep -E -i 'cimport numpy'` and `git grep -E -i 'import_array'` to see the spots where we might add it in.

I don't think it is urgent though, and to be fair MDA already does the right

[2021-11-08 09:30] p-j-smith commented on #3453
Thinking about it again, perhaps an exception (or at least warning?) should be raised when an empty selection string is passed, as it is guaranteed that zero hydrogen bonds will be found.

[2021-11-08 10:02] IAlibay commented on #3453
There were discussions about this for something else a few months ago, I can't fully remember how the conversation went, but I _think_ the consensus was that zero selection analyses should yield empty results (maybe @lilyminium or @orbeckst remembers this - might have been in the context of the `Results` class?).

In any case, my vote here would be to not throw an exception purely on the basis tha

[2021-11-08 12:03] p-j-smith commented on #3453
Yeah I agree, an exception could cause a headache for some people. I've added the warnings in #3454 and tests to make sure they're thrown.

[2021-11-09 15:10] #3183 closed

[2021-11-09 19:16] richardjgowers commented on #3446
The XTC offset fixing seems complete, but I think the tests for it are probably going to be more/as complicated as the fix.  I think it might have to get bumped.

[2021-11-09 19:20] IAlibay commented on #3446
Thanks for keeping up with that one @richardjgowers - there's a couple of small PRs that could probably get fixed this week so I'm going to aim to release this weekend.

[2021-11-10 13:15] JosipL opened #3456 "Strange peak around costheta=0"
## Expected behavior ##

Hi,
First, I am not sure if this is bug, I just think it is :).
I am using MDAnalysis AngularDistribution library to analyze some water/organic systems. Code produce figure without error but I get a strange peak around costheta=0 for all try types of vectors. I do not expect this peak.
Is due to some 0 dividing? Any ideas?

## Code to reproduce the behavior ##

import MDAn

[2021-11-11 14:30] p-j-smith commented on #3456
Hi @JosipL I'm not very familiar with the code for `AngularDistribution`, but I've seen artefacts like this when periodic boundaries are not taken into account. For example, if you are finding the orientation of the dipole moment of water with respect to the z-axis but you're not taking periodic boundaries into account, then all water molecules split across the x or y boundaries will have dipole v

[2021-11-11 16:20] IAlibay opened #3457 "Add python 3.10 support"
As per every year - a new python version is out. We should add it to the test matrix and see if anything breaks.

[2021-11-11 17:12] IAlibay opened #3459 "fasta2select: switch away from clustalw to clustal omega or muscle"
## Is your feature request related to a problem? ##

fasta2select currently relies on clustalw(2), which is quite old and has been retired in favour of muscle and clustal omega (clustalO).

## Describe the solution you'd like ##

It would be good to look at implementing options to switch away from clustalw in the long term to use either of these newer options. Our current programmatic approach to

[2021-11-11 17:24] orbeckst commented on #3459
This is just a pairwise alignment so I think we could just use any old pairwise aligner and don't need muscle or clustal* for it.  I know that I wrote that hack when I only knew about clustal. It might be time to rewrite it in a cleaner and leaner fashion and in the process ditch the annoying optional dependency on clustal.

Does http://scikit-bio.org/ have a native aligner? Could be used in favor

[2021-11-11 17:38] orbeckst commented on #3456
@alejob could you please look into this question regarding waterdynamics?

[2021-11-12 08:06] JosipL commented on #3456
Hi,
thank you for your answer p j smith.
There could be something related to PBC, but as shown in the figure there is also a peak around 0 for HH and OH vectors. Also, I have done the same analysis on a similar system and there is no peak around 0 for any vector.

[2021-11-12 09:41] p-j-smith commented on #3456
Sorry my mentioning the dipole moment was just an example. The same applies to the OH and HH vectors - if they're split across a periodic boundary in a given dimension, then their length will be approximately equal to the length of that dimension, and the orientation will be in the plane of that dimension.

For your similar system, had you already made the molecules whole, using e.g. gromacs trjco

[2021-11-12 10:45] JosipL commented on #3456
Thanks for your time. You were right. PBC was the issue.
What still confuses me is,  another case where I do not see this peak even do PBC splitting is not removed. I do not have time to deal with this now in details. If somebody is interested I can share code and trajectory files.
Best,
Josip

[2021-11-12 15:51] scal444 opened #3460 "Clarify and potentially optimize self-RDF"
## Is your feature request related to a problem? ##

For InterRDF, when sel1 and sel2 contain overlapping atoms, the resulting counts (if within the distance cutoff) give hits for all combinations of particles. For example, with 4 particles in each selection, there are 16 hits (4x4). This includes 4 zero distance hits for (0,0), (1,1), and so on. It also doubles the same distance count for (1,2),

[2021-11-12 18:11] tylerjereddy commented on #3457
I was able to build MDAnalysis on Windows Python 3.10 and run most of the test suite on my fork: https://github.com/tylerjereddy/mdanalysis/pull/12

Test results were: `7 failed, 16982 passed, 384 skipped, 2 xfailed, 2 xpassed, 69147 warnings in 968.47s (0:16:08)`

I find it confusing that many tests were skipped because `h5py` was absent, but some tests failed because they have an obligate requir

[2021-11-12 18:13] tylerjereddy commented on #3457
The other failures are in tests that count the number of warnings in certain situations--I suppose that shouldn't be too surprising--this is bound to change if you bump Python/dependency versions sometimes.

[2021-11-12 21:45] orbeckst commented on #3456
Hi Paul,

Thanks for the detailed analysis (and solving the problem!). Would you mind raising an issue for the lack of PBC awareness in the AngularDistribution code? Just pointing someone to the problematic code might motivate someone to fix the code.

On that note: do we have a library function to make vectors conform to minimum-image (similar to what calc_bonds() does internally)?

Oliver

--
Ol

[2021-11-15 08:52] dpadula85 commented on #1262
Hi everyone,

is there a simple way to compute distances taking into account PBC in 1-2 dimensions only? As far as I understand, the current implementation only allows for either no PBC or PBC in all 3 dimensions.

Thanks,
D.

[2021-11-15 14:15] IAlibay commented on #1262
@dpadula85 may I ask you to raise this query in the mailing list please (rather than a closed issue)? Should you wish to raise this as a feature request, then a new issue can be raised a as feature request too (unless such a pre-existing feature request already exists).

[2021-11-17 05:52] appassionate commented on #3225
Hi,  I have an idea to  accelerate offset finding process based on those facts.
### some  coding findings
- f.seek() with f.readline() will return None when seek arrive at "no data region" in a filestream (maybe some advanced class in MDA)
- thanks to the pickleable features in MDA2, we can use filestream freely in parallel way with multiprocessing or any other tools for python parallel.
- almost

[2021-11-17 19:21] orbeckst commented on #3225
Just re-reading this issue.

I am in favor of closing with "wont fix" because this seems potentially buggy and hard to maintain.

If someone demonstrates via code that it's robust and reliable then I'll change my mind.

If I don't hear anything substantial over the next week I'll close with "wont fix".

[2021-11-17 19:22] orbeckst commented on #3225
@appassionate if you're interested in something related to XYZ please open a new issue so that discussions can remain focused. Thank you!

[2021-11-17 19:24] orbeckst commented on #3225
Btw, @yuxuanzhuang I share your frustration in having to rebuild offsets for analyzing running simulations.

[2021-11-18 20:27] stepdasha opened #3462 "CRD trajectory from CPPTRAJ doesn't load"
I am trying to load the CRD trajectory, that I have after running CPPTRAJ. The trajectory loads fine with VMD, but MDAnalysis doesn't load when I run:

[code]

## I get an error
ValueError: Check CRD format at line 0: Cpptraj Generated trajectory

## Current version of MDAnalysis ##

- MdAnalysis version 2.0.0
- Python 3.7.12

[2021-11-18 20:34] IAlibay commented on #3462
@stepdasha could you provide some more information here please?

1. In your example line, is the lack of quotes around the prmtop and traj.crd a typo?
2. Can you provide the entire error message please?
3. Can you provide information on the actual format you mean by CRD here? Usually in amber CRD would refer to an inpcrd (i.e. an ASCII restart), but in MDAnalysis this refers to a CHARMM CARD struc

[2021-11-18 20:38] stepdasha commented on #3462
@IAlibay Sorry for not being more explicit.
1. yeah, I just didn't want to write the whole path to the file.
2.
[code]
3. my actual format is the output from cpptraj.
I load .nc  Amber trajectory binary file to CPPTRAJ, and got a .crd from CPPTRAJ.

[2021-11-18 20:46] IAlibay commented on #3462
@stepdasha thanks for the extra info.

So yeah, I think the issue here just seems that the `CRD` file type in MDAnalysis is reserved for CARD files, whilst the "crd" type from AMBER is actually named "TRJ" in MDAnalysis (unfortunately lots of clashing file names across comp chem space).

Can you try doing

[code]
?

[2021-11-18 20:49] IAlibay commented on #3439
This conversation has moved to the user list (https://groups.google.com/g/mdnalysis-discussion/c/lRX8_XTKv90) and given the lack of further responses I will be closing this issue.

[2021-11-18 20:49] #3439 closed, assigned to nobody

[2021-11-18 20:54] IAlibay commented on #3105
@orbeckst now that we've fully moved out of py2.7, is this still something you want to achieve historically? I think we're at a point where architecture just doesn't support 2.7 anymore. Close or keep open?

[2021-11-18 20:56] IAlibay commented on #3056
@junghans sorry we kinda lapsed on looking into this - is this still an active issue?

[2021-11-18 20:58] IAlibay commented on #2688
I'm going to close this now, py3.9 has been out for some time and we've not seen any further issues. Please do re-open if needed.

[2021-11-18 20:58] #2688 closed

[2021-11-18 21:00] stepdasha commented on #3462
@IAlibay Thanks, that helped.
Yeah, agree, the variety of file types' names in comp chem could make it quite frustrating sometime.

[2021-11-18 21:02] IAlibay commented on #3462
Awesome, good this hear it worked out. I'm closing this issue as resolved (please do re-open or ping the mailing list if there's anything else you would like to raise).

[2021-11-18 21:02] #3462 closed, assigned to nobody

[2021-11-18 21:24] orbeckst commented on #3105
please close it!

[2021-11-18 21:29] #3105 closed

[2021-11-18 21:47] PicoCentauri opened #3463 "Type Hints for Analysis Classes"
## Is your feature request related to a problem? ##

With the first version of the CLI released, we now would like to support more Analysis classes.
This is especially limited to classes taking lists as parameters as the InterRDF_s

https://github.com/MDAnalysis/mdanalysis/blob/735abb8c76d71e1dc8197d73ee6f5d1845634914/package/MDAnalysis/analysis/rdf.py#L429-L447

where `ags` is a list of `AtomGrou

[2021-11-19 00:19] junghans commented on #3056
We dropped the mdanalysis package from Fedora, so I guess yes, but it also doesn't matter anymore.

[2021-11-19 00:19] #3056 closed

[2021-11-20 16:50] elfring opened #3464 "Increase the usage of augmented assignment statements"
:eyes: Some source code analysis tools can help to find opportunities for improving software components.
:thought_balloon: I propose to [increase the usage of augmented assignment statements](https://docs.python.org/3/reference/simple_stmts.html#augmented-assignment-statements "Augmented assignment statements") accordingly.

Would you like to integrate anything from a transformation result which c

[2021-11-21 06:15] edisj opened #3465 "Build a universe from an H5MD trajectory without a topology file"
## Is your feature request related to a problem? ##

At the moment, you can't load an H5MD trajectory without a topology file

## Describe the solution you'd like ##

Add a static method `parse_n_atoms()` to H5MDReader that lets you do it

## Additional context ##

Pull request opened at #3466

[2021-11-21 12:50] richardjgowers commented on #3460
I thought there was already self-RDF but apparently not.  I think this is probably a good idea, and making it generalisable to allow any width of diagonal band to be excluded sounds useful for e.g. polymers where you don't want to exclude the same chain, but some sort of length.

One sticky point in implementing this is currently numpy doesn't really offer a nice way of implementing a set of pairs

[2021-11-21 23:30] orbeckst commented on #3460
Could one use a similar approach as used for exclusions to get single counts?

[2021-11-22 20:28] #3447 closed, assigned to nobody

[2021-11-22 20:47] joaomcteixeira commented on #2367
The solution proposed by @orbeckst using `pdbxfile` does work. However, I would like to see @JoaoRodrigues initiative pushed forward. I think his implementation is fully compatible with version 2. I am talking with Joao to have it Pull Requested.

[2021-11-23 00:56] orbeckst opened #3467 "replace atoms.coordinates() with atoms.positions"
Since 2.0, atoms does not have coordinates() anymore and only positions is supported.

- [ ] Needs to be fixed:
https://github.com/MDAnalysis/mdanalysis/blob/46c8badd8b8967dc25f8125ef87582490ab497e3/package/MDAnalysis/analysis/encore/covariance.py#L218
- [ ] Also, fix benchmarks that still use coordinates() (but this could be made another PR)

[2021-11-23 00:58] orbeckst commented on #3467
Output from `git grep 'coordinates()`:
[code]

[2021-11-23 15:05] yuxuanzhuang commented on #3225
Sounds reasonable to me. A better format does seem to be a better solution:)

[2021-11-23 18:31] orbeckst commented on #3463
From which version of Python onwards is type hinting supported?

How does this fit into the current roadmap/NEP29 ?

cc @IAlibay

[2021-11-23 18:35] orbeckst commented on #3456
I renamed the issue and update the report. If someone gets to adding PBC to waterdynamics please reference this issue.

[2021-11-23 18:58] lilyminium commented on #3463
3.5, I think 3.7 is when it got a lot better, and `numpy.typing` is only supported from 1.20.0 onwards, which is IIRC 3.7+.

[2021-11-24 09:23] IAlibay commented on #3463
So 2.1.0 is going to be 3.7+ but according to NEP29, we don't drop 1.19 until June 2022 (see: https://numpy.org/neps/nep-0029-deprecation_policy.html#drop-schedule).

I would be in favour of waiting until we can fully use numpy's typing functionality (rather than implementing something now and then redoing it later). That being said, if bits of the API can start to be typed without hurting other b

[2021-11-24 10:14] p-j-smith commented on #3456
Sorry for not getting back to you - things have been quite hectic. If no one gets around to fixing it by next week then I should have some time then to do it.

Would it be okay to call calc_bonds() directly, or would there be a better way to do it?

[2021-11-29 14:33] Atharva7K commented on #3467
Hey, I'm very new to open source and would like to try my hands on this, so any pointers for this fix would be highly appreciated. For the first fix, I just have to replace the function calls for coordinates() by get_positions()?  Or there's more to it than this?

[2021-11-29 20:31] orionarcher opened #3469 "Increase SMARTS query maximum matches"
The rdkit smarts query has maximum matches set to 1000. I believe that is too low, many simulations have many thousands of molecules and it prevents SMARTs from being used to select a class of them. I'd like to bump the maximum up to 10000. That still prevents wasted computation but is better for large simulations. I have implemented this in PR #3470.

It would also be possible to add a max_matche

[2021-11-30 10:27] richardjgowers opened #3471 "contact_matrix_pbc only handles orthgonal boxes"
Originally added in #375 the `minimum_image` function there actually only handles orthogonal boxes.

[2021-11-30 10:33] richardjgowers commented on #3456
@p-j-smith I've implemented the function I suspect you need over in #3472

[2021-11-30 11:49] #3455 closed, assigned to nobody

[2021-11-30 12:15] p-j-smith commented on #3456
Thanks @richardjgowers ! `minimise_vectors` is going to be useful for so many things, I can't wait to use it

[2021-12-01 02:49] fhh2626 opened #3473 "Cannot correctly read PDB generated by VMD"
## Expected behavior ##

Correctly read a PDB file.

## Actual behavior ##

The atom names may not be correctly read when parsing a PDB file generated by VMD.

## Code to reproduce the behavior ##

[code]

Then vmd.xyz does not contain any atom name.

[test.zip](https://github.com/MDAnalysis/mdanalysis/files/7630379/test.zip)

## Current version of MDAnalysis ##

- Which version are you using? **2

[2021-12-01 15:09] ViraRa commented on #1689
Does anyone know how to get rid of the warning?

UserWarning: Failed to guess the mass for the following atom types: M "".format(', '.join(misses)))

I am using version 2.0.0.

[2021-12-01 15:16] IAlibay commented on #1689
@ViraRa Could I ask you to ask this question either in the mailing list (if it's a usage question) or a new issue (if it's a bug / feature request)? It's a lot easier for folks to find your question & answer if it's not on an already closed issue.

[2021-12-01 15:54] ViraRa commented on #1689
Sure. I will put it in the mailing list.

[2021-12-05 14:00] joaomcteixeira opened #3474 "`millisecond` conversion"
[code]

Would it be interesting to implement `millisecond` (`ms`) conversion in `MDAnalaysis.units.py` ?

[2021-12-05 22:34] orbeckst commented on #3474
sure, we're getting there — add it ;-)

[2021-12-05 22:58] orbeckst commented on #3467
Hello @Atharva7K ,  you'd replace `.coordinates()` with `.positions`. If this is in code that wasn't tested before then we'd want to add a test exercising this code but we can give guidance on how to do this.

[2021-12-06 05:53] Kany09 commented on #3467
Thank you for replying @orbeckst . Apparently, rms.py has already been tested so I can directly do the replacement there. But for covariance.py, I will require guidance to add the tests as you said  so please advice me on how to get started. Should I first create a PR fixing the issue in rms.py and create a seperate PR for adding the tests?

[2021-12-06 06:00] Atharva7K commented on #3467
Thank you for replying @orbeckst . Apparently, rms.py has already been tested so I can directly do the replacement there. But for covariance.py, I will require guidance to add the tests as you said so please advice me on how to get started. Should I first create a PR fixing the issue in rms.py and create a separate PR for adding the tests?

[2021-12-08 09:20] Atharva7K commented on #3474
Can I work on this?

[2021-12-08 10:42] richardjgowers commented on #3474
Yes definitely, that would be fantastic!

On Wed, Dec 8, 2021 at 09:21, Atharva Kulkarni ***@***.***>
wrote:

[2021-12-08 12:53] joaomcteixeira commented on #3474
Thanks @Atharva7K :+1: would be great to see this implemented.

[2021-12-08 16:50] mavstrikova opened #3476 "Suggestion of the bugfix hole.py create_vmd_surface function"
The function create_vmd_surface is not working if you compute hole analysis starting from a specific frame.

hole.py Line 799:   ` for i, sphpdb in zip(self.frames, self.sphpdbs[self.frames])`
leads to index mismatch between two arrays if self.frames[0] != 0.

The fix that worked for me `for i, sphpdb in zip(self.frames, self.sphpdbs[np.indices(self.frames.shape, sparse = True)])`

Not sure if thi

[2021-12-08 18:06] IAlibay commented on #3476
@mavstrikova thanks for the bug report / fix.

Could you confirm which version of MDAnalysis this relates to? I _think_ the code changed in 2.0.0, and we would be interested to know if the bug still exists.

[2021-12-08 18:35] lilyminium commented on #3473
Thanks for raising this issue, @fhh2626. It looks like `vmd_pdb` is getting elements from the PDB file, but `mdanalysis_pdb` is not -- this is a problem because the elements array is largely empty:

[code]

It seems to me that the XYZWriter should check if elements is *entirely* populated before using it, and if not, fall back to `names`.

Incidentally the PDB files aren't identical re: atoms -- t

[2021-12-08 21:48] pranjii commented on #3474
I have made the required changes but am waiting for my last pull request to be approved

[2021-12-08 23:25] aakognole opened #3478 "angle between the planes of two nucleobases"
## Is your feature request related to a problem? ##

I wanted to analyze the nucleic acids for the angle between the base planes and could not find anything simple and quick.

## Describe the solution you'd like ##

It would be great to have a function that takes in the resids for the two bases and returns the angle between the planes of the bases.

Adding it to the analysis module for nucleic aci

[2021-12-10 13:16] VicCruces opened #3481 "Error While testing MDAnalysisTests"
I was following the instructions of the tutorial **https://www.mdanalysis.org/MDAnalysisTutorial/installation.html.**
Which means that I executed the following commands:
-  conda install mdanalysis
-  conda install MDAnalysisTests
-  pytest --disable-pytest-warnings --pyargs MDAnalysisTests

The installation seems correct, but at the end of the  "MDAnalysisTests", I got a strange error that seems

[2021-12-10 14:25] IAlibay commented on #3481
@VicCruces thanks for the report - the "ValueError: I/O operation on closed file" during testing is actually "normal", i.e. it is related to https://github.com/MDAnalysis/mdanalysis/issues/3386 where one of the PDB tests causes an extra operation on a closed file stream. As long as the tests don't generate any errors then it's fine to assume that the installation went well.

[2021-12-10 14:25] IAlibay commented on #3386
As per #3481 - this pops up quite often in the tests.

[2021-12-10 14:29] IAlibay commented on #3474
@Atharva7K @pranjii - MDAnalysis doesn't usually assign specific issues to folks (unless it's a pre-existing project, or a larger issue), we generally work on a "first PR open" basis, so if you have a fix for this please do go ahead and open it. That being said - we do generally try to strongly encourage a positive community spirit, so we would ask folks to work together & communicate with each ot

[2021-12-10 14:31] VicCruces commented on #3481
Thanks a lot for your quick reply. I am sorry about opening this Issue I didn't see issue #3386.
Shall I close this issue?

[2021-12-10 14:35] IAlibay commented on #3481
No worries at all, it's always better to check these things. Plus we much prefer getting duplicate issues than no reports at all.

Sure, I'll close it with this comment.

[2021-12-10 14:35] #3481 closed, assigned to nobody

[2021-12-14 10:44] hmacdope commented on #3442
Do we still feel this is warranted? We give an example using custom compiler flags to do an advanced `march` build in userguide, but `march=native` still requires direct user input in `setup.cfg`

[2021-12-14 10:48] IAlibay commented on #3442
Let's just leave this open for now. I'm planning to restart looking into adding that cron job during the winter break, if we get it in then great, if not then it doesn't matter.

[2021-12-22 03:20] csu1505110121 opened #3483 "read mdtraj hdf5-based trajectory format"
## Expected behavior ##

Dear all,
I am using OpenMM for the molecular dynamics simulations, and with the help of `mdtraj.reporters.HDF5Reporter`, I could save the velocities of each frame into a `h5` format, when I convert the h5 file to trr that could be recognized by gromacs, errors encountered as in `mdtraj.save()` the velocities and forces are both set to be zero. So, I sought to mdanalysis,

[2021-12-22 09:23] IAlibay commented on #3483
I believe that the H5MD and mdtraj HDF5 formats are actually two different things (annoyingly another pseudo naming clash).

It's been on my to-do list to add an mdtraj HDF5 parser for a long time but I never get around to it. I'll bump it up my priority list unless someone else gets to it first.

I'm not sure I have a temporary solution for your issue. Having a quick look around mdtraj, it seems

[2021-12-23 17:32] dasharon opened #3484 "MDAnalysis.analysis.hbonds.HydrogenBondAnalysis count_by_type() Key Error"
Dear MDAnalysis Team,

I thank you so much for making MDAnalysis an excellent toolkit, which is very helpful in my graduate school research! To follow up on [Paul's Google group message](https://groups.google.com/u/0/g/mdnalysis-discussion/c/NiptD2G4pko), I wanted to share an observation I made of a count_by_type() key error when using MDAnalysis.analysis.hbonds.HydrogenBondAnalysis. I thank Paul

[2021-12-26 22:01] tylerjereddy opened #3485 "MAINT: Python 3.10 and Windows -- a few tasks"
Based on some temporary Windows-only workarounds in gh-3461 we eventually need:

- [ ] to remove the warning filters placed on `test_easy_trigger_warning` and `test_flag_index_error`, which are apparently related to the use of `six` somewhere in our dependency chain (I would expect a library of compat shims for Python 2 to be something that we/the ecosystem can shed sooner than later...)
- [ ] to

[2021-12-27 13:09] lilyminium opened #3486 "DistanceMatrix accept AtomGroup"
## Is your feature request related to a problem? ##

Is there any reason DistanceMatrix cannot accept an AtomGroup inplace of a Universe? This would help with atomgroups created through non-selection-string ways, which you then need to re-create with atom indices. e.g.
https://groups.google.com/g/mdnalysis-discussion/c/ad4HW_6w2MM/m/-h3bRDv0DgAJ?utm_medium=email&utm_source=footer

## Describe the

[2021-12-27 13:30] richardjgowers commented on #3486
AtomGroup is probably preferable everywhere to Universe as an argument
imho. Universe means a lot of things, AG is clearer.

On Mon, Dec 27, 2021 at 13:26, Lily Wang ***@***.***> wrote:

[2021-12-27 19:34] orbeckst commented on #3484
@dasharon thank you for the detailed report. You are probably aware that you are using the old and deprecated hbonds.HydrogenBondAnalysis. Can you try to get the same information using the new hydrogenbonds.HydrogenBondAnalysis?

It is really unlikely that any deprecated functionality in 1.1.1 gets fixed by any of the core developers as we just don't have the resources to do so, it's hard enough t