[2020-01-09 09:41] #2434 closed

[2020-01-10 15:51] orbeckst commented on #2439
There’s also pysasa (I think). Would be great to integrate it.

[2020-01-13 11:20] richardjgowers opened #2443 "Release 1.0"
I think we're due another release.  I think the only ongoing thing is @lilyminium 's work on docs, so ideally this release captures all changes necessary to the package for their doc work. (ie if this is an awful idea tell me and we can postpone).

Looking at #2303 (esp https://github.com/MDAnalysis/mdanalysis/issues/2303#issuecomment-529680541 ) it looks like the plan is that this release is call

[2020-01-13 14:40] IAlibay commented on #2443
As previously discussed with @richardjgowers I'd like to at least fix the NCDF reader portion of #2323 and #2327 before release 1.0.

I'll hopefully get this done within the next couple of weekends if that's ok with your schedule?

[2020-01-13 14:52] richardjgowers commented on #2443
![doeeet](https://i.giphy.com/media/bKnEnd65zqxfq/200.webp)

[2020-01-13 18:58] jbarnoud commented on #2443
With gromacs 2020 released, I'd like to see #2431 merged before 1.0. Especially as, in the current state there will be unreadable errors as the TPR parser expects a TPR from gromacs 2020-beta that are very different.

[2020-01-13 23:04] lilyminium commented on #2443
Sounds good! Will you be going through and looking at currently open PRs before release? There's some GSOC stuff and I would prefer to have #2408 in the release, as the current ITPParser is very flawed. #2382 would be nice too.

[2020-01-14 07:31] orbeckst commented on #2443
In an ideal world we would have everything ready for 1.0.

But the things mentioned above should be in 1.0 and we also wanted to remove the flags #782 . It would be easier to make this 0.21 and then follow up with 1.0. A release is overdue, and it might as well be 0.21 and then we follow up with 1.0.

Btw,  @richardjgowers – you looked at the wrong comment, the last one was https://github.com/MDAn

[2020-01-14 07:57] #2240 closed

[2020-01-14 07:57] orbeckst commented on #2240
I think we simply forgot to announce 0.20.x...

[2020-01-14 09:06] richardjgowers commented on #2443
Ok thanks @orbeckst so we'll see what we can get finished in a week or two then make a release, maybe it's 1.0 maybe it's 0.21.

[2020-01-14 10:33] jbarnoud opened #2444 "Python 2.7 build fails at install on travis"
**Expected behavior**

CI runs a build with python 2.7

**Actual behavior**

The travis run with python 2.7 fails at install. See <https://travis-ci.com/MDAnalysis/mdanalysis/jobs/275292493?utm_medium=notification&utm_source=email>.

This is dur to setuptools 45.0.0 dropping python 2 support. We need to pin setuptool < 45.0.0 for the python 2 job. See <https://setuptools.readthedocs.io/en/latest/h

[2020-01-14 16:22] jito-tj opened #2445 "hbond problem"
Hi, I would like to use MDAnalysis to calculate the hbond number, hbond life for bulk water system. so I try to run a small system include 221 water molecular (I use TIP4P model and produce by Gromacs software). I obtain the .gro, .xtc, .tpr file. and then I try to use this code to analysis the hbond.
here is my code:

from __future__ import division
import numpy as np
import profile

import MDAna

[2020-01-14 16:27] jito-tj opened #2446 "water bridge problem"
I also want to calculate the water bridge for bulk water system. Here is my code:

import numpy as np
import profile
import MDAnalysis as md
import MDAnalysis.analysis.hbonds
import matplotlib.pyplot as plt
import MDAnalysis.analysis.hbonds
import MDAnalysis.analysis.hbonds.WaterBridgeAnalysis

u = MDAnalysis.Universe('298-add.pdb', '298-add.xtc')
w = MDAnalysis.analysis.hbonds.WaterBridgeAnalysis

[2020-01-14 16:35] orbeckst commented on #2443
Ok, [sounds fair](https://www.youtube.com/watch?v=RBw8yL1SVbo).

[2020-01-15 01:17] orbeckst commented on #2446
@jito-tj – please ask "how do I" questions on the mailing list. For MDAnalysis we decided that the issue tracker is for bugs and features only. We look at the mailing list and if it looks like a bug we will ask you to file a issue here. But we found that it is too distracting if we answer questions in the tracker.

I'll make an exception because you were likely not familiar how we handle things he

[2020-01-15 01:17] #2446 closed

[2020-01-15 01:18] orbeckst commented on #2445
Hello @jito-tj , as I explained in https://github.com/MDAnalysis/mdanalysis/issues/2446#issuecomment-574450510 , please ask your question on the user mailing list https://groups.google.com/group/mdnalysis-discussion . Thank you!

[2020-01-15 01:18] #2445 closed

[2020-01-15 09:07] #2444 closed

[2020-01-16 13:35] RMeli opened #2448 "Bio.Alphabet Deprecation"
When running some MDAnalysis tests I run into the following `PendingDeprecationWarning`:
[code]

**Currently version of MDAnalysis**

- MDA: 0.20.2-dev0
- Python: 3.6.7
- OS: macOS 10.5.2

[2020-01-16 13:40] richardjgowers commented on #2448
Yeah looks like we've got a couple of usages.  Worst case we lift it out of there and put it straight into MDA

[2020-01-16 13:58] IAlibay opened #2449 "EP handling in parm7 files"
**Expected behavior**

When loading a parm7 topology, extra points are not assumed to be elements.

**Actual behavior**

Loading in an ff19SB parm7 topology (or actually anything with the SPC/E water model) will yield a user warning that atoms of types EP have been assigned to P (since mass couldn't be recognised).

**Code to reproduce the behavior**

[code]

**Currently version of MDAnalysis**

-

[2020-01-16 14:33] RMeli opened #2450 "Code formatting, style guide enforcement and static cheks"
I recently started using code formatting (with [black](https://black.readthedocs.io/en/stable/)), style guide enforcement (with [flake8](http://flake8.pycqa.org/en/latest/index.html#)) and static code checks (with [mypy](http://mypy-lang.org/)). I tried to apply them to MDAnalysis for fun and came across to many warnings.

**Describe the solution you'd like**

I think it would be great to format M

[2020-01-17 05:48] lilyminium opened #2452 "update helanal to AnalysisBase"
**Expected behavior**

When I run ``helanal.helanal_trajectory``, it produces readable output.

**Actual behavior**

``helanal.helanal_trajectory`` writes 8 files (there is no way to turn this off):

- bending_matrix.dat
- fit_tilt.xvg
- local_bend.xvg
- local_tilt.xvg
- origin.pdb
- screw.xvg
- summary.txt
- unit_twist.xvg

None of the `.xvg` files have delimiters, resulting in something like thi

[2020-01-17 10:38] #2426 closed

[2020-01-17 10:39] richardjgowers commented on #2452
Iirc helanal might even predate numpy.  I think rewriting the functionality into how analysis classes are meant to work (and saving against a class attribute) is probably a very good idea!

[2020-01-17 10:45] richardjgowers commented on #2450
We had (or have?) pylint on, but it sometimes throws annoying errors which stop a PR merging.

i think with something like black, we'd have to have every contributor follow the style, which would mean either a) instructions for everyone on how to apply it easily or b) some sort of CI system which fixes up the formatting on merging.  Both seem like they'd add ongoing effort for not much real gain?

[2020-01-17 10:45] IAlibay commented on #2452
Just copying @WG150, I believe in our chat with @richardjgowers back in November he expressed having either started to work on this or wanting to. He was kinda busy with thesis work though...

[2020-01-17 10:50] richardjgowers commented on #2439
Would even be a fun GSOC project!

[2020-01-17 10:53] richardjgowers commented on #2449
I'm assuming extra points are like virtual sites?

I think the assumption is just that users know that their systems have these fake particles and work around them when they build selections up?

[2020-01-17 10:54] RMeli commented on #2450
@richardjgowers I just wanted to spark the discussion but I agree the ratio benefits/effort might be small. However, #2409 and #2411 could be easily spotted by static checks. I also have found some indentation errors here and there that will make the code fail when executed.

Automatic code formatting (with black or other) is useful only if used with pylint or flake8, so that it removes most of th

[2020-01-17 10:55] IAlibay commented on #2449
Yeah, pretty much.

That's fair, I don't mind dropping this issue, was just wondering if it would be worth considering a "standard" mass-less particle type we could be assigning instead?

[2020-01-17 10:59] richardjgowers commented on #2449
Actually now you mention it, I think in general how we deal with (intentionally) massless particles in something like a center_of_mass is worth considering and documenting well.

Could also add some more standard selections like `u.select_atoms('not virtual')` where virtual is a common list of virtual atom names.

[2020-01-17 11:12] RMeli opened #2453 "Indentation issues"
Running [flake8](https://pypi.org/project/flake8/) I spotted some indentation issues:

[code]

**Currently version of MDAnalysis**

- MDAnalysis: `0.20.2-dev0`
- Python: `3.6.7`
- OS: `macOS`

[2020-01-17 11:19] IAlibay commented on #2449
Cool, I'll have a longer think about this and see if I can come up with a proposal for a framework for handling all this, particularly all the cases where we should be careful re: mass and mass-less particles.

[2020-01-17 12:30] RMeli commented on #2448
The two usages are in:
* `analysis/align.py`
* `core/topologyattrs.py`

It looks like `Bio.Alphabet` can be removed from `analysis/align.py` by not passing an `alphabet` to `Bio.AlignIO.read` and assuming the standard gap symbol `-`.

If I try to remove it from `core/topologyattrs.py` by using the default alphabet argument in `Bio.Seq.Seq` (which is `Bio.Alphabet.generic_alphabet`) the tests pass

[2020-01-17 13:53] RMeli commented on #2420
@jbarnoud Are you working on this (as part of #2442)? If not, I could give it a shot.

[2020-01-17 13:54] jbarnoud commented on #2420
@RMeli You are welcome to give this a shot :)

[2020-01-17 13:56] richardjgowers commented on #2420
FWIW, I think it's naive to think that this column will **always** be an element, I'd put money on the fact that @jbarnoud has written a martini system to xyz once :)  Adding that an xyz file will *try* and populate element seems like a great addition though.

[2020-01-17 14:02] jbarnoud commented on #2420
The test files indicate that the first column is occasionally an atom name. Though, I would argue that it is a misuse of the format. The XYZ format is not well suited for large systems with its lack of residues, it seems to be mostly used for small molecules and quantum calculations where the atom symbol makes the most sense. My experience with the format is still fairly limited, though.

[2020-01-17 16:59] orbeckst commented on #2439
FreeSASA comes under MIT license and has a C core and python bindings:
* C-library: https://github.com/mittinatten/freesasa
* Python bindings: https://github.com/freesasa/freesasa-python

Todo:
1. evaluate freesasa if it is suitable; look at alternatives (e.g. MDTraj implements [Shake-Rupley](http://mdtraj.org/1.9.3/api/generated/mdtraj.shrake_rupley.html#mdtraj.shrake_rupley))
2. figure out the a

[2020-01-17 17:02] RMeli commented on #2348
To add on this issue, I think the name of `guess_masses` is misleading. In fact this function does not call `guess_atom_mass` but `get_atom_mass`. `get_masses` could be a better name?

[2020-01-17 17:08] #2453 closed

[2020-01-17 17:23] jbarnoud commented on #2450
I am all in favour of linters and static analyzers. I am considering adding type hints when we would have dropped python 2. I am less keen on formating tools, though: the way I format my code is often deliberate and, sometimes, going against the convention helps with readability or other things.

[2020-01-19 19:18] orbeckst commented on #2439
I refined the above and added it as a [potential GSOC 2020 project](https://github.com/MDAnalysis/mdanalysis/wiki/Project-Ideas-2020#project-1-molecular-volume-and-surface-analysis) to the GSoC 2020 wiki page.

[2020-01-19 19:23] orbeckst commented on #2377
Would this be a simple GSoC project? It would mostly require someone to come up with ideas and then set up the repo and write scripts and docs. It would be a self-contained project. If we want to list it as a project we should have a few more ideas for specific scripts.

There's also @mnmelo 's [mdreader](https://github.com/mnmelo/mdreader) which also provides a framework for script writing, inclu

[2020-01-19 19:25] orbeckst commented on #2377
I added the label as a potential GSoC project but I am not 100% sold so I haven't added anything to the project page. If anyone has strong feelings either way, feel free to remove the label or add it to the project page!

[2020-01-19 19:27] orbeckst commented on #2269
@lilyminium did you explain this issue somewhere in the UserGuide? If so, can you close this issue or let someone know to close it?

[2020-01-19 19:30] #2448 closed

[2020-01-19 19:39] #2420 closed

[2020-01-19 19:39] #2421 closed

[2020-01-19 22:32] lilyminium commented on #2269
@orbeckst The user guide doesn't yet explicitly address why we must iterate through the trajectory to do anything with it. The quickstart guide does have an [example of implicit property changing](https://www.mdanalysis.org/UserGuide/examples/quickstart.html#Working-with-trajectories) and there's a relevant [FAQ](https://www.mdanalysis.org/UserGuide/faq.html#why-do-the-atom-positions-change-over-t

[2020-01-20 11:03] WG150 commented on #2452
I'd be happy to take a look at this. I've already worked on changing the functionality and output formats. As @IAlibay has said, I'll most likely be able to work on this properly in the next few months.

[2020-01-20 16:32] orbeckst commented on #2269
Thanks @lilyminium . I don't think either really addresses the point raised here: Why do we not do anything with `ts` explicitly? The FAQ actually uses it but only to access `ts.time` etc.

I'll leave the issue open for the time being.

[2020-01-21 07:49] PicoCentauri commented on #2377
Currently we are developing an [analysis library](https://gitlab.com/netzlab/maicos) for the command line based on the `AnalysisBase` class which builds a CLI interface on the fly.

So I would be happy to help on this project and it would be nice to have some command line scripts based on MDAnalysis.

[2020-01-22 12:53] kain88-de commented on #2039
with the implementation of #2430 the iterative algorithm can be implemented using only

[code]

[2020-01-22 22:54] orbeckst opened #2460 "indicate NF sponsorship"
Related to MDAnalysis/MDAnalysis.github.io#115

- [x] update README: “Powered by NumFOCUS” badge for your website and/or GitHub - Markdown for adding NumFOCUS badge to project websites:  [![Powered by NumFOCUS](https://img.shields.io/badge/powered%20by-NumFOCUS-orange.svg?style=flat&colorA=E1523D&colorB=007D8A )](http://numfocus.org)
[code]
- [x] add a Fiscal Sponsor Readme Attribution to the READ

[2020-01-22 22:55] richardjgowers commented on #2460
Woo! :)

On Wed, Jan 22, 2020 at 22:54, Oliver Beckstein <notifications@github.com>
wrote:

[2020-01-22 22:55] orbeckst commented on #2460
Shush... ;-)

[2020-01-22 23:15] lilyminium opened #2461 "select vs selection"
**Expected behavior**

MDAnalysis analysis functions and classes have a standard keyword for selecting atoms from a Universe.

**Actual behavior**

It varies largely between 'select' and 'selection', meaning that I have to look up each function when I want to use it. It's usually a keyword argument (everything below has it as such), so I do have to give the right keyword.

**select**
- rms.RMSD, r

[2020-01-22 23:18] IAlibay commented on #2461
So I'm mostly going from memory here, but am I correct in thinking most of the `select` cases are the analysis methods that have been moved to `:class:AnalysisBase`?

[2020-01-22 23:25] lilyminium commented on #2461
Yup. The only odd ones out are `contacts.Contacts` and `hydrogenbonds.HydrogenBondAnalysis`, which subclass AnalysisBase but use `selection`.

[2020-01-22 23:27] orbeckst opened #2462 "“how to get started as a contributor” documentation"
We need a “how to get started as a contributor” documentation (for #2460 and MDAnalysis/MDAnalysis.github.io#115)

- [ ] something like CONTRIBUTING.md in the repo – e.g. using https://github.com/github/opensource.guide/blob/master/CONTRIBUTING.md as a starting template (this is CC-BY 4.0 so need to acknowledge source if we use it!)
- [ ] link on the website to the CONTRIBUTING doc

[2020-01-22 23:30] orbeckst commented on #2461
`select` seems to be the modern way to go!

- add select
- document select
- deprecate the others and drop
  - Should we drop *before* or *after* 1.0?

[2020-01-22 23:33] lilyminium commented on #2462
Have you had a look at the [Contributing page](https://www.mdanalysis.org/UserGuide/contributing.html) on the user guide? I tried to make it comprehensive.

[2020-01-22 23:34] lilyminium commented on #2462
And the [related PR](https://github.com/MDAnalysis/UserGuide/pull/35) for where I got the information.

[2020-01-22 23:55] orbeckst commented on #2462
No, I hadn’t had the UserGuide on my radar for CONTRIBUTING. It is great on the technical side. I am missing the community aspects, though – along the lines of (taken/adapted from https://github.com/github/opensource.guide/blob/master/CONTRIBUTING.md <https://github.com/github/opensource.guide/blob/master/CONTRIBUTING.md>). Some the things are already present (such as Code of Conduct), others, lik

[2020-01-23 00:16] orbeckst commented on #2377
@PicoCentauri cool! (Btw, is MAICoS listed already under https://www.mdanalysis.org/pages/used-by/ ? If not, feel free to open a PR in https://github.com/MDAnalysis/MDAnalysis.github.io to add it!)

If you were interested to mentor on such a project then please add a project description to https://github.com/MDAnalysis/mdanalysis/wiki/Project-Ideas-2020  and also add your GH handle to the project

[2020-01-23 01:35] lilyminium opened #2463 "psa.PSAnalysis code saves files and doesn't label trajectories in plots"
**Expected behavior**

**1. PSAnalysis.plot() produces similarly labelled plots as in PSAnalysisTutorial as the only output:**
![Screenshot 2020-01-22 at 11 49 11 PM](https://user-images.githubusercontent.com/31115101/72895593-d0afc380-3d71-11ea-92fb-e8e18b9d2c24.png)

Same with `plot_annotated_heatmap`.

**2. It doesn't save files everywhere**
i.e. There are no files that always get saved, and in

[2020-01-23 01:39] lilyminium opened #2464 "encore ClusterCollection.get_ids error and unexpected representations"
**Expected behavior**

1. `encore.clustering.ClusterCollection.ClusterCollection.get_ids()` works without an error.

2. `encore.clustering.ClusterCollection.ClusterCollection.__repr__` makes it look indexable, so I expect that I can index it.

3. `encore.clustering.ClusterCollection.Cluster.__repr__` looks like a numpy array, so I expect that I can index it.

**Actual behavior**

1. It raises an A

[2020-01-23 01:53] lilyminium opened #2465 "encore.hes returns an numpy array of a dict"
**Expected behavior**

When I call `hes, details = encore.hes(ensemble, details=True` then `details` is readable.

**Actual behavior**

`details` is a `np.ndarray` of a `dict`.

https://github.com/MDAnalysis/mdanalysis/blob/972a8b1893b5e353b9d796b15d6fcdd022a93f00/package/MDAnalysis/analysis/encore/similarity.py#L940-L945

This is not indexable either with numbers or keys. I don't know how to get

[2020-01-23 07:37] orbeckst commented on #2463
@sseyler do you have any comments?

[2020-01-23 07:40] orbeckst commented on #2452
A rewrite with AnalysisBase in mind would be most welcome!

Having a prototype sooner than later would be good so that we could decide if the new helanal should become the standard for release 1.0.

[2020-01-23 07:43] orbeckst commented on #2464
cc @mtiberti @tbengtsen @wouterboomsma – maybe you can add some insights on why the current behavior exists and if one can/should change anything (independent from who would actually do it).

[2020-01-23 07:45] orbeckst commented on #2465
cc @mtiberti @tbengtsen @wouterboomsma – maybe you can add some insights on why the current behavior exists and if one can/should change anything (independent from who would actually do it).

[2020-01-23 07:51] orbeckst commented on #2438
If you have written code already, maybe you can work on it in MDAnalysis?

[2020-01-23 08:00] orbeckst commented on #2436
Would this be something for GSoC?

Especially if one couples it to a larger overhaul of selections (see #371 and https://github.com/MDAnalysis/mdanalysis/issues/345#issuecomment-120994321 to use `pyparsing`) and oldies such as #104.

[2020-01-23 08:17] mtiberti commented on #2464
Thanks - I'll reply point by point

1. I think it should just return a list of `v.id` as you mention

2. The current representation is there mostly for historical purposes (i.e. it was convenient at the time) but I agree it's a bit verbose and it shouldn't necessarily look indexable. I like your suggestion that is more concise - than a user can manually go dig into the details if they want to

3.

[2020-01-23 08:20] orbeckst commented on #2429
I am labeling this as a bug because what you describe is a very sensible user expectation and the resulting error is confusing. However, the `groupselections` feature is still labeled as experimental, so I am not surprised that not everything works seamlessly. I think it was never properly defined how these things _should_ work. Additionally, it's not even really documented what kind of output `gr

[2020-01-23 08:27] mtiberti commented on #2465
Thanks! I agree - just returning a dict would also be consistent with details returned by `encore.dres` and `encore.ces`. I think we can just skip the arrayification

[2020-01-23 10:04] jbarnoud commented on #2436
This alone is way too small for GSoC. If anything, I expect it to be a nice onboarding issue.

[2020-01-23 10:23] PicoCentauri commented on #2377
@orbeckst  Thanks 😊. I will open an PR

I think mentoring such a project would be nice and a good extension.

[2020-01-23 10:32] sperezconesa commented on #2438
I have written some code, more scripts than anything. Perhaps I could do it based on what is implemented. Right now I have a too much work to do it, but I will keep it in mind for the near future.

[2020-01-23 10:36] richardjgowers commented on #2436
I'd disagree with @jbarnoud , I think this is a complicated project if we include more regex-like characters, so could be a gsoc project.  It's worth keeping in mind that we've going to pass in n_atoms strings to any match function, so performance could be an issue too.

[2020-01-23 10:38] richardjgowers commented on #2461
It will need to get done soon for 1.0 :)

[2020-01-23 10:40] jbarnoud commented on #2436
If it comes with a selection overhaul, it is indeed a more substantial project. But limited to the wildcards, it is a matter of changing the vicinity of https://github.com/MDAnalysis/mdanalysis/blob/66f3ac891352badc5e69b5327d2bdb5fd3a7a734/package/MDAnalysis/core/selection.py#L538 to call https://docs.python.org/3.8/library/fnmatch.html#fnmatch.filter instead.

[2020-01-23 10:57] RMeli commented on #2463
Just a side comment: what about using `sns.clustermap` instead of `sns.heatmap` in `plot_annotated_heatmap`?

[2020-01-23 11:15] RMeli commented on #2460
Is the "Fiscal Sponsor Readme Attribution" relevant for MDAnalysis? From what I could gather from the NumFOCUS website, MDA is  an "affiliated" project and not a "sponsored" project. For example, MDA has no NumFOCUS hosted project sponsorship page.

[2020-01-23 11:17] richardjgowers commented on #2460
It became relevant a day ago :)

On Thu, Jan 23, 2020 at 11:15, Rocco Meli <notifications@github.com> wrote:

[2020-01-23 15:31] orbeckst commented on #2460
We don’t have an official news release yet... but soon. Patience.

[2020-01-24 10:43] richardjgowers commented on #2377
I think a CLI tool would be a cool gsoc project.  Initially just doing something like mdconvert (or babel) but also putting in wrapping/unwrapping and selections.  I think there'll have to be some care in what we wrap, I wouldn't want to expose a good tool badly (because of limitations of CLI).

@lilyminium we did try and have a cookbook repo at some point, which would be small scripts for doing c

[2020-01-24 10:56] richardjgowers opened #2468 "rdkit interoperability"
This is mostly an idea for a GSOC project.  There's a bunch of cool stuff in rdkit which isn't even close to being in MDA (and vice versa) so rather than reinvent wheels, it would be cool to do:
[code]
and
[code]

Which would expand upon the converters idea that @lilyminium has got rolling with parmed.

The data structures are going to be very different, and rdkit is quite picky about what it lets

[2020-01-24 11:08] RMeli commented on #2468
This would be very useful indeed! The following blog post might be relevant for further discussion: [Why the RDKit isn't available on PyPi](https://rdkit.blogspot.com/2019/11/why-rdkit-isnt-available-on-pypi.html).

[2020-01-24 11:11] richardjgowers commented on #2468
Yeah rdkit via conda is the only way to stay sane tbh.  So this project might end up in a side package/non default submodule which is optionally installed and does some monkey patching to `_CONVERTERS`.

[2020-01-24 11:12] IAlibay commented on #2468
At least on our end, rdkit integration would be very much appreciated. It would definitely make tools that depend on both packages like [lintools](https://github.com/bigginlab/lintools) (which we still have aims to revive properly) a lot easier.

[2020-01-24 20:56] orbeckst commented on #2468
I like the idea of expanding on converters – working towards API interoperability instead of files. It's the future.

We might have to [review our policy on package dependencies in the core](https://github.com/MDAnalysis/mdanalysis/wiki/Style-Guide#list-of-core-module-dependencies). Maybe it's ok for the majority of users to get a well-define failure if they try to do something with a specialized

[2020-01-24 20:56] orbeckst commented on #2468
Do you know anyone from the RDKit community who might want to co-mentor for GSoC? That would be extremely valuable.

[2020-01-24 22:28] RMeli commented on #2468
RDKit usually takes part to GSoC under the [OpenChemistry](https://www.openchemistry.org/) organization. You can have a look at the [RDKit Project Ideas](http://wiki.openchemistry.org/GSoC_Ideas_2019#RDKit_Project_Ideas) for past mentors. They have a  [Slack channel](openchemistry.slack.com) and @greglandrum is on it. Maybe worth a try?

[2020-01-24 22:32] richardjgowers commented on #2468
I use rdkit enough at work that I can find my way around it, but if Greg
wants to give his blessing that’s fine too :)

On Fri, Jan 24, 2020 at 22:28, Rocco Meli <notifications@github.com> wrote:

[2020-01-25 05:05] greglandrum commented on #2468
This would be cool! I'd be happy to try and help with answering RDKit-related questions.
It's hard to commit to co-mentoring though, until we see what projects actually end up being funded I won't know how busy I am.

[2020-01-26 21:37] xiki-tempula opened #2469 "Proper error message and suggestion for AlignTraj on trajectory without mass"
**Is your feature request related to a problem? Please describe.**
Coarse-grain trajectory has no assigned mass but it still makes sense to use the AlignTraj. Thus, if one were to run.

[code]

He will get

[code]

I felt that there should be certain options to disable the check on mass if the weight is not set to mass.

Say if one run

`AlignTraj(traj, protein, select='bynum 1-518', in_memory=Tru

[2020-01-26 21:47] richardjgowers commented on #2469
Can this issue be worked around by setting all masses to 1 (as your beads
happen to have identical masses)?

On Sun, Jan 26, 2020 at 21:37, Zhiyi Wu <notifications@github.com> wrote:

[2020-01-26 22:11] xiki-tempula commented on #2469
@richardjgowers Yes, I'm currently solving it by adding the mass. But I felt that since the AlignTraj doesn't require mass information in this case, it doesn't make sense by force the mass attribute to be present,

[2020-01-27 02:08] lilyminium commented on #2469
Try setting `match_atoms=False`. The only reason it checks masses is to try to enforce that the reference and mobile atoms are in the same order.

[2020-01-27 02:16] lilyminium opened #2470 "mda.Merge for Universes without coordinates"
**Expected behavior**

I can make a new Universe with mda.Merge from my old Universe without positions.

**Actual behavior**

I get an AttributeError because mda.Merge does not wrap the `coords` in a try/except clause. MDAnalysis can make Universes without coordinates, so when the `args` don't have `positions`, the `coords[None, :, :]` argument to `Universe()` can be left out.

https://github.com/

[2020-01-27 02:50] lilyminium commented on #2461
If this does get addressed, can I also suggest that the default argument is "all"? The encore classes, at least, all have `selection='name CA'` as default.

[2020-01-27 03:13] lilyminium opened #2471 "encore.dres details output contains reference to itself"
**Expected behavior**

`dres, details = encore.dres(ensemble)`

`details` is an output of `encore.dres`. I expect `details["dimensionality_reduction_details"]` to have new information.

**Actual behavior**

`details["dimensionality_reduction_details"] is details` returns True.

**Code to reproduce the behavior**

https://github.com/MDAnalysis/mdanalysis/blob/b5cb49fc06c05d4038f75ba98c66dc30f856d30

[2020-01-27 05:22] lilyminium opened #2472 "Have a min_mass for HydrogenBondAnalysis.guess_hydrogens"
**Is your feature request related to a problem? Please describe.**

``HydrogenBondAnalysis.guess_hydrogens`` only looks for a maximum mass and minimum charge for hydrogen-like atoms.

https://github.com/MDAnalysis/mdanalysis/blob/b5cb49fc06c05d4038f75ba98c66dc30f856d303/package/MDAnalysis/analysis/hydrogenbonds/hbond_analysis.py#L268-L274

However, we know that sometimes the mass guesser will give

[2020-01-27 09:11] orbeckst commented on #2461
I think ENCORE is special in this regard; I doubt that anyone would want to run it for all atoms — maybe @mtiberti has an opinion or can say why, at least for ENCORE, the default makes most sense.

[2020-01-27 09:25] xiki-tempula commented on #2469
@lilyminium Thanks. It seems to be working. It might be a good idea to document it.

[2020-01-27 17:13] IAlibay opened #2475 "TOPParser doesn't parse chamber-style parm7 files"
**Introduction**

So this is something that has been brought up in the past in the discussion group (see [this post](https://groups.google.com/forum/#!searchin/mdnalysis-discussion/CTITLE%7Csort:date/mdnalysis-discussion/nJG_ex2e6ZY/AupS3RXZAgAJ) as an example).

Some time back, chamber style parm7 got introduced (I think by Jason Swails?) in AMBER in order to handle charmm topology attributes. Th

[2020-01-27 17:15] IAlibay commented on #2475
Having spent far far too long reading `.parm7` files, I am more than willing to take this on, however it will need to be prioritised after 0.21 and fixing the netcdf reader/writer (inc. restart reader).

In the meantime, I am pushing a simple PR to give users more information when attempting to reader chamber-style files.

[2020-01-27 17:57] IAlibay commented on #2461
On the idea of having uniform selection strings, this might be a bit controversial, but could I suggest that the selections actually default to `None` or make it non-optional instead?

My main rationale here is that it would preferable to have empty (rather than wrong) results if a user fails to set the selection flag correctly. This would hopefully make it a lot more obvious that something went w

[2020-01-27 20:47] orbeckst commented on #2461
If something is `None` then it will still default to something sensible, at least that's my expectation for any Python code.

@IAlibay what examples do you have where the default will lead to wrong results?

One can also make the argument that the default for a selection should be specific to the analysis that is performed. For example, the typical RMSD analysis that I see in papers is based on th

[2020-01-27 21:49] IAlibay commented on #2461
So my above suggestion basically stems from this idea. Personally, I think probably the best option here is to have a selection that reflects the intent of the original analysis code. However, I also definitely see the value in @lilyminium's original suggestion, uniformity would probably be better.

So I should probably clarify what I meant by "wrong" here. It's probably not the best choice of wor

[2020-01-28 10:10] richardjgowers commented on #2439
FWIW (and maybe less biologically relevant) I'd also consider [zeo++](http://www.zeoplusplus.org/) and [poreblazer](https://github.com/richardjgowers/poreblazer) similar tools that need a similar treatment.

Maybe more interestingly, good bindings to [voro++](http://math.lbl.gov/voro++/) would probably allow a range of different volume/surface tools to be constructed.

[2020-01-28 10:16] richardjgowers commented on #2469
I think this just needs a doc fix rather than a behaviour change. The case where all atoms are similar mass (so don't required weighting) is very niche, and I can see more people (with dissimilar masses) getting burnt by weighting being ignored when masses aren't available.

[2020-01-28 21:58] lilyminium commented on #2469
@richardjgowers `weights=None` by default in `AlignTraj`, so it doesn't weight alignment without explicitly turning it on. In this case it's dying because `get_matching_atoms` looks for 'mismatching' atoms by checking if any one pair has a difference higher than `tol_mass`.  If you want to keep `match_atoms=True` by default then you could just change this line

https://github.com/MDAnalysis/mdanal

[2020-01-29 00:27] tylerjereddy commented on #2439
I'd be curious what `voro++` is providing that you can't get from `scipy.spatial` interface to `Qhull`. If more things need to be exposed there, that would be good to know in terms of upstream vs. here, depending on how specialized.

[2020-01-29 09:54] richardjgowers commented on #2439
@tylerjereddy periodic boundary conditions

[2020-01-29 16:33] xiki-tempula commented on #2443
Sorry for the try to rush this in the last minute #2480. I have replaced the distance search with capped_distance, so it should provide a decent speed boost.

[2020-01-29 16:44] IAlibay commented on #1745
@orbeckst unless someone is already working on this one, I'm going to give removing the `save()` methods a go so that a PR is ready in case we decide to go for v1.0 as per #2443

[2020-01-29 17:08] IAlibay commented on #2443
@richardjgowers

Re: netcdf it looks like if we aren't going for an API complete version 1.0, the only thing needed here is to remove the `degrees` keyword on the reader. I'll deal with adding `scale_factor` support to the writer in a future version.

Additionally, as mentioned in #2479 there's a few things that need to be removed on time for v1.0 (currently making my way through this and will mak

[2020-01-29 17:32] orbeckst commented on #1745
That would be super-helpful! Thanks @IAlibay !

[2020-01-30 10:22] #2464 closed

[2020-01-30 19:48] xiki-tempula commented on #1745
The save method in water bridge analysis has already been removed.

[2020-01-30 22:56] #2224 closed

[2020-01-31 00:24] orbeckst commented on #2436
This limited issue seems to be good issue for someone to get into it. I will add a GSoC project with a proposed rewrite of the selection system.

[2020-01-31 17:00] orbeckst opened #2488 "ASV benchmarks: time_interrdf failure"
**Expected behavior**

ASV benchmarks run without errors.

**Actual behavior**

**Running analysis.rdf.SimpleRdfBench.time_interrdf           failed**

[code]

**Currently version of MDAnalysis**

Tested versions... log file available on request.

[2020-01-31 17:05] orbeckst opened #2489 "ASV benchmarks: time_find_fragments failure"
**Expected behavior**

ASV benchmarks for ag_methods.FragmentFinding.time_find_fragments all run.

**Actual behavior**

**Running ag_methods.FragmentFinding.time_find_fragments      failed**

[code]
and many others like this.

**Currently version of MDAnalysis**

Tested ones ... logfile available on request.

[2020-01-31 23:02] RMeli commented on #2472
This looks dangerous indeed. This should be only a temporary solution and a long-term one would be to improve (fix?) the mass guesser (see Issue #2348).

I can implement this fix if no one else is working on it.

[2020-02-01 00:57] #2410 closed

[2020-02-01 14:44] RMeli opened #2490 "MDAnalysis/migration"
Is the `MDAnalysis/migration` sub-package still useful or should it be removed for release 1.0?

It contains some (failing) tests and the only occurrence in the code is in the main `__init__.py` where `ten2eleven` is imported (`from .migration.ten2eleven import ten2eleven`). The documentation of `ten2eleven` is the following:

[code]

[2020-02-01 14:51] RMeli opened #2491 "PendingDeprecationWarning instead of DeprecationWarning"
I was looking at #2472 and found out that there are two sub-packages for hydrogen bond analysis: `MDAnalysis/analysis/hbond` and `MDAnalysis/analysis/hydrogenbonds`. In `MDAnalysis/analysis/hbond` there is this warning:

[code]

I think a `PendingDeprecationWarning` is more appropriate in this case.

[2020-02-01 14:58] IAlibay commented on #2491
This is code that is in progress of getting removed as part of #2443

[2020-02-01 15:00] RMeli commented on #2491
Should it be removed? The message says that it will be deprecated in version `1.0`, not removed...

[2020-02-01 15:04] IAlibay commented on #2491
That is a very good point, I hadn't read it properly it seems.

Maybe one of the coredevs can clarify here, I'm glad I hadn't pushed part 2 of my removals yet :sweat_smile:

[2020-02-01 15:13] RMeli commented on #2491
I think if we are going for `0.21` it should be changed to `PendingDeprecationWarning`, while if we are going for `1.0` we should simply change the error message to something like this:
[code]

[2020-02-01 15:14] IAlibay commented on #2491
Yes, I agree, I'll add the change assuming v1.0 as part of the removal changes.

[2020-02-02 11:05] IAlibay opened #2492 "Deprecation of _reformat_hb in hbonds/hbond_analysis.py for v1.0"
Currently going through and doing the required removals/deprecations for #1745 and I noticed that _reformat_hb was set for deprecation as part of #1339

[code]

It seems like some change is required here prior to v1.0.0, but it's unclear to me as to what.

[2020-02-02 11:07] IAlibay commented on #2492
pinging @orbeckst as the author of #1339

[2020-02-02 13:27] IAlibay opened #2493 "Upstream matplotlib deprecation of tick1On and tick2On (Analysis: PSA)"
As of matplotlib 3.1.0, `tick1On` and `tick2On` are deprecated and will be removed in 3.3:

https://matplotlib.org/3.1.0/api/api_changes.html

`analysis/psa.py` currently uses these matplotlib attributes (in `plot` and `plot_annotated_heatmap`) and it's causing `MatplotlibDeprecationWarning`s when running the tests.

[2020-02-02 19:45] orbeckst commented on #2492
As this is in the old hbond code, which we will just keep for legacy reasons in 1.0 I would say, just remove the deprecation notice and we freeze it as it is, warts and all.

For 2.0 we should consider removing the whole old hbond thing and just use the new hydrogenbond analysis but I don't know what else would need to be updated for this to work.

[2020-02-02 20:45] IAlibay commented on #2492
Ok thanks, I'll update #2494 accordingly.

[2020-02-02 22:30] IAlibay opened #2495 "[upstream?] seaborn 0.10 test issues"
**Expected behavior**

All the tests should pass without issues.

**Actual behavior**

`analysis/test_psa.py` fails due to seaborn import issues. This appears to be directly related to the v0.10 release of seaborn, as v0.9 isn't causing the failures.

This appears to currently be the culprit for the recent Travis CI failures.

Trace:

[code]

**Code to reproduce the behavior**

`pytest test_psa.py

[2020-02-03 01:57] orbeckst commented on #2491
In this case PendingDeprecationWarning seems more appropriate than DeprecationWarning. Is this an existing warning in 2 and 3?

1.0 will contain both hbonds modules as we want to make it easy for users to keep the last 2-capable version of MDA for their projects.

For 2.0 we would want to remove hbonds — if we can.

[2020-02-03 02:04] orbeckst commented on #2490
Unless @tylerjereddy has any objections oi would say that this can be removed. It was very useful in the big API break days of 0.11 but we haven’t really used it since.

[2020-02-03 02:49] tylerjereddy commented on #2490
Removal sounds good to me. I imagine most people have moved past that now.

[2020-02-03 10:06] RMeli commented on #2491
Yes, `PendingDeprecationWarning` is also [available in Python 2.7](https://docs.python.org/2/library/exceptions.html#exceptions.PendingDeprecationWarning). I can change it to `PendingDeprecationWarning` if there is a version 0.21; otherwise I'll live it as it is for 1.0.

I checked other deprecation warnings and this is the only one where "pending" is more appropriate.

[2020-02-03 10:08] mimischi opened #2497 "Using pathlib Path object"
**Expected behavior**

Providing a `PosixPath` from `pathlib` to `mda.Universe` should create the Universe. Instead, we currently have to wrap the `PosixPath` object in a `str()` call.

**Actual behavior**

Code throws an `AttributeError`:

[code]

**Code to reproduce the behavior**

[code]

**Currently version of MDAnalysis**

- Which version are you using? 0.20.1
- Which version of Python (`pyth

[2020-02-03 10:24] IAlibay commented on #2495
thanks @RMeli for pointing this out, I meant seaborn 0.10 not 1.0.

[2020-02-03 10:35] RMeli commented on #2495
I can confirm the same problem on `macOS 10.15.3` but I could not reproduce the problem with a clean `conda` environment (`conda create -n sns-test python=3.7 seaborn -c conda-forge`). However, from `seaborn=0.10`' release notes:

This means we should pin `seaborn` to 0.9 anyway, until MDAnalysis drops Python 2 support.

[2020-02-03 16:59] orbeckst commented on #2491
Thanks for checking. It seems that we’re heading for 1.0 so leave it.

[2020-02-03 17:08] #2491 closed

[2020-02-03 19:44] orbeckst commented on #2497
Is pathlib in the standard library or do we install it as part of our other dependencies?

[2020-02-03 19:46] mattwthompson commented on #2497
It's in the standard library 3.4+

In principle it means `os.path` should never happen, although that's easier said than done

[2020-02-03 19:47] orbeckst commented on #2497
And in Python 2?

This version of MDA still supports 2.

[2020-02-03 19:56] mattwthompson commented on #2497
It's not in the standard library there, but it can still be installed. I just tested that it can be installed via pip and conda in a fresh 2.7 environment and it installed and imported fine. It can also be installed as a separate packing with Python 3 (although that seems a little silly). I don't know how you all deal with these 2/3 conflicts, but I would guess an "if Python < 3: conda/pip install

[2020-02-03 19:58] orbeckst commented on #2492
Closing because nothing needs to be done. (Except removing the note)

[2020-02-03 19:58] #2492 closed

[2020-02-03 19:58] richardjgowers commented on #2497
In python 3.4+ then python os functions can take Pathlib and strings
interchangeably.  The quoted module however (and probably a few others) is
a C extension and so isn't opening things via python.  So we need to go
through our bindings to C extensions (DCD, XDR, MMTF to name a few) and
check that they seamlessly handle Pathlib objects (which seems to be the
new "Pythonic" way to deal with paths i

[2020-02-04 00:47] #2495 closed

[2020-02-04 12:40] #2490 closed

[2020-02-04 12:41] #2493 closed

[2020-02-04 15:11] IAlibay commented on #1463
@orbeckst the removal of `start`, `stop`, and `step` from `AnalysisBase.__init__()` are next up on my list of things to do for #2443

As it is a bit unclear from the thread, I thought it might be worth asking if there is still work to be done here, or is it ready for removal?

[2020-02-04 16:30] IAlibay commented on #1377
@richardjgowers this is next up on the removal list for v1.0, unless there is still work to be done here, are you ok with me giving it a go at doing the necessary removals?

[2020-02-04 16:38] richardjgowers commented on #1377
![b](https://media.giphy.com/media/rjLINlGpJYvvO/giphy.gif)

[2020-02-04 17:20] orbeckst commented on #1463
- I assume for anything using AnalysisBase, just removing will be fine. Just check the actual code of the analysis classes for any workarounds, deprecation messages, etc.
- Any of the analysis classes that do _not_ use AnalysisBase: keep them as they are as they do not fall under this issue. (If we can get any other classes more in line with the AnalysisBase API for 1.0 then that would be great —

[2020-02-04 17:23] orbeckst opened #2502 "upgrade DensityAnalysis to use AnalysisBase"
**Expected behavior**

The density analysis in `analysis.density` should implement the common analysis API, namely be based on `analysis.base.AnalysisBase`.

**Actual behavior**

The density generation code in `analysis.density` consist of a rag-tag of idiosyncratic functions with no common interface.

**Currently version of MDAnalysis**

current develop (> 0.20)

[2020-02-04 17:24] orbeckst commented on #2502
As stated in https://github.com/MDAnalysis/mdanalysis/issues/1463#issuecomment-512607687, @nawtrey added a parallel DensityAnalysis in MDAnalysis/pmda#93 which can be back-ported as a serial version.

[2020-02-04 17:47] #2372 closed

[2020-02-04 23:54] lilyminium opened #2503 "analysis.AnalysisFromFunction processes arguments incorrectly"
**Expected behavior**

If I don't pass a trajectory to AnalysisFromFunction, it looks for the first trajectory in my AtomGroup/s and then saves my given arguments.

https://github.com/MDAnalysis/mdanalysis/blob/9d5520c611cb8ccfe7a35b1741b948e92475acb5/package/MDAnalysis/analysis/base.py#L226-L237

**Actual behavior**

When the trajectory is not passed, it moves the first argument to the end of `ar

[2020-02-05 00:22] lilyminium opened #2504 "verbose not set in analysis.AnalysisBase.run"
**Expected behavior**

From #1463, I think that `AnalysisBase.run(verbose=True)` is supposed to override the existing `self._verbose`. ~From #2206, it seems that `verbose` is supposed to be deprecated, but there are no deprecation warnings about it.~ (For what it's worth, I think the progress meter is cute.)

EDIT (@orbeckst): Analysis classes should be able to take the `verbose` kwarg for _both_

[2020-02-05 18:47] lisamartin72 opened #2506 "NumFOCUS donation link"
Most of our sponsored projects have a donation button on their GitHub repo or website. Attached is the code for yours. : )

[code]

[2020-02-05 22:53] orbeckst commented on #2460
Link in #2506

[2020-02-05 23:58] #2460 closed

[2020-02-05 23:58] #2506 closed

[2020-02-06 03:49] lilyminium opened #2507 "Different units in analysis.LinearDensity"
**Expected behavior**

MDAnalysis keeps consistent units of Angstrom for length, or documents when it doesn't.

**Actual behavior**

`analysis.LinearDensity` converts lengths from A^3 to cm^3

**Code to reproduce the behavior**

https://github.com/MDAnalysis/mdanalysis/blob/009ec225f0408f4e4f1366bec2c5576b61c88160/package/MDAnalysis/analysis/lineardensity.py#L177

[This isn't in the docs.](https:/

[2020-02-06 04:07] lilyminium commented on #2507
This also makes the header written in the file inaccurate. (charges are indicated to have e/A^3 density)

[code]

[2020-02-06 04:52] lilyminium opened #2508 "Have LinearDensity support updating AtomGroups, more intuitive names, save bins"
**Is your feature request related to a problem? Please describe.**
1. [This mailing list issue](https://groups.google.com/forum/#!searchin/mdnalysis-discussion/density%7Csort:date/mdnalysis-discussion/hTcPz8jaE_A/gUa5arH8AgAJ) is a good use case of Linear Density but is foiled by the class not supporting UpdatingAtomGroups.

2. It is not intuitive to me that `LinearDensity.results['x']['pos']` ref

[2020-02-06 22:19] lilyminium opened #2510 "align=True for analysis.PCA gives mean positions of 0"
**Expected behavior**

At some point, pca.PCA computes an average structure, to be subtracted from each frame, to generate a covariance matrix. Also if I set `align=True` it aligns properly.

**Actual behavior**

It gives mean positions of 0.0 instead if `align=True`. This messes with the covariance matrix.

This is because in the code, `self.mean` only gets updated with positions in the `else` co

[2020-02-07 12:59] IAlibay opened #2511 "Waterdynamics.HydrogenBondLifetimes nprocs > 1 appears to be broken"
**Expected behavior**

Passing nprocs > 1, should call the multiprocessing portion of HydrogenBondLifetimes and return normally.

**Actual behavior**

The code fails with an import error for sys:
[code]

Fixing the code to import sys leads to an infinite loop due to a repeated attempt to re-excute the failing code block:

https://github.com/MDAnalysis/mdanalysis/blob/0dede258ce40c7b07f30b289b2d1e2

[2020-02-07 14:40] Ragzouken opened #2512 "PDBWriter incompatible with StringIO if atom coordinates go out of range"
**Expected behavior**

Assuming that PDBWriter is supposed to support a StringIO object as a valid destination, I expect that attempting to write a PDB with atom coordinates out of range will raise the "PDB files must have coordinate values between [...]" exception.

**Actual behavior**

The check attempts to `os.remove` the StringIO object and does not catch the resulting exception, so the coordi

[2020-02-07 15:28] IAlibay commented on #2511
So it looks like the root cause of the error is related to the values passed to `start` and `stop` in:

https://github.com/MDAnalysis/mdanalysis/blob/0dede258ce40c7b07f30b289b2d1e21698a27d9c/package/MDAnalysis/analysis/waterdynamics.py#L644-L650

Since frame is being set to ts.frame, on the first call `start` is being set to -1, and `start` to 1, which seems to be causing this failure:

[code]

Se

[2020-02-07 17:18] IAlibay opened #2513 "Remove start/stop/step keywords from HOLEtraj `__init__`"
**Is your feature request related to a problem? Please describe.**

HOLETraj currently accepts `start`/`stop`/`step` keywords for trajectory slicing to be passed either on object construction or when calling :meth:`HOLEtraj.run`.

As per https://github.com/MDAnalysis/mdanalysis/pull/2505#pullrequestreview-354040434, in order to align the behaviour of HOLEtraj with that of :class:`AnalysisBase` met

[2020-02-07 20:08] orbeckst commented on #2511
I recently saw this `while True` loop and really was thinking "infinite loops should not be part of the code base...".

Maybe one of the original authors ( @alejob ?) can comment here? Otherwise we can also decide to remove the multiprocessing functionality. Are there any tests for it?

[2020-02-07 20:13] orbeckst commented on #2511
Let me be a bit more explicit so that we can move forward: unless @alejob has a quick fix + tests that also work with the desired convention of start=0 inclusive and stop exclusive in the next two days, please remove the multiprocessing `nproc > 1` functionality.

[2020-02-07 21:54] orbeckst commented on #2507
@mattihappy can you clarify what was intended?

[2020-02-07 22:01] orbeckst commented on #2507
I would be in favor of using standard units, Å, and e/Å<sup>3</sup>.

For density, g/cm<sup>3</sup> is more sensible than u/Å<sup>3</sup>.

Note that the save functions were removed #1745 (specifically PR #2487) so this boils down to
1. documenting what is actually done
2. deciding to change the output data without deprecation — do we want to and if so, what should be changed?

[2020-02-07 22:05] orbeckst commented on #2503
This looks like a bug. I think your proposed solution should work.

I'll add a help wanted, just in case someone else wants to try a simple fix, given that the code changes are already there and will only need testing.

[2020-02-10 11:45] xiki-tempula opened #2521 "Recommended practice of finding bonded hydrogen from hydrogen bond donor"
Currently, in the water bridge analysis module, the user needs to give the name for the hydrogen bond donor heavy atom and the hydrogens were found via a simple distance search. I'm interested in using the bonded information if possible for this step. However, I'm a man of `gro` and `xtc` and I'm not quite sure of how much information a topology file can provide.

I have checked @p-j-smith 's impl

[2020-02-10 14:31] lilyminium opened #2522 "hole.HOLEtraj makes pore VMD files for every frame"
**Is your feature request related to a problem? Please describe.**
["Producing a colored dot surface using mdanalysis hole over a trajectory"](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/mdnalysis-discussion/0a-IAOOCtQ8/OyZBD4BRAwAJ) seems like a reasonable request

**Describe the solution you'd like**
Have hole.HOLEtraj make a vmd / .sph files for each frame of a traj

[2020-02-10 18:10] IAlibay opened #2524 "Align behaviour of waterdynamics.SurvivalProbability with other analysis methods"
**Description**

Relates to https://github.com/MDAnalysis/mdanalysis/pull/2505#pullrequestreview-354040434

Currently waterdynamics.SurvivalProbability:
 1. Accepts the deprecated `t0`, `tf`, and `dtmax` keywords in :meth:`SurvivalProbability.__init__`, which override the setting of `start`, `stop`, and `tau_max` in :meth:`SurvivalProbability.run`.
 2. Uses the `stop` (or aforementioned `tf`) keyw

[2020-02-10 22:21] lilyminium commented on #2521
Checking names is probably better.
[code]

You could also check the mass and charge like HydrogenBondAnalysis does (#2516). That is more agnostic than checking names/types if your format has that info available.

[2020-02-10 22:46] xiki-tempula commented on #2521
@lilyminium Thanks for the advice. I will use `name` instead. I mainly uses charmm and amber so `type` usually works for me.

I'm not too worried about the mass and charge as this module operates in a fashion consistent with the old hydrogen bond analysis, which only checks the name. Thus, unless the user supplies the name for the hydrogen bond donor, in which case the user should know what they a

[2020-02-11 12:49] #2512 closed

[2020-02-11 21:09] Luthaf opened #2526 "Add standard residues bonds when reading PDB"
Splitting from https://github.com/MDAnalysis/mdanalysis/pull/1862#discussion_r377889988

The idea is that the PDB format contains "implicit" bonds inside the standard residues, which are not read by MDA. Instead, only explicit CONNECT records are read as far as I understand.

If you look at the CONNECT specification (http://www.wwpdb.org/documentation/file-format-content/format33/sect10.html#CONEC

[2020-02-12 10:42] #2472 closed

[2020-02-12 10:44] richardjgowers commented on #2521
Just to throw a spanner in the works, I'd check via mass, then we offload the problem of identifying hydrogens to guess_masses :)

[2020-02-12 21:36] Luthaf opened #2527 "Universe() should either work as Universe.empty() or raise an exception"
**Expected behavior**

[code]

Prints something sensible.

**Actual behavior**

[code]

**Currently version of MDAnalysis**

- Which version are you using? (run `python -c "import MDAnalysis as mda; print(mda.__version__)"`): 0.20.2-dev0
- Which version of Python (`python -V`)? Python 3.7.6
- Which operating system? macOS 10.14.5

[2020-02-12 21:39] Luthaf commented on #2527
After looking a bit more at the docs, it looks like I should use `mda.Universe.empty()` instead to create a Universe. Then maybe calling `mda.Universe()` with no argument should fail?

[2020-02-13 07:32] orbeckst commented on #2527
Honestly, since we have `Universe.empty()` it is not clear to me why `Universe()` cannot (semantically) do the same thing — I concede that this would be pythonic behavior.

(There's a good chance that this is simply due to history and the fact that for the longest time empty universes weren't possible. I am also not sure if there are insurmountable technical difficulties.)

[2020-02-13 07:43] #2511 closed

[2020-02-13 08:13] #2513 closed

[2020-02-13 08:24] orbeckst commented on #2521
Well, if we correctly identified elements then I would use these.

[2020-02-13 08:30] orbeckst commented on #2508
This all sounds extremely sensible to me.

For 1.0 we could break the API but if there's a way to keep the old data structures around (maybe hide them behind managed attributes that create them on the fly from the new real data structures) then that would help users who just want their old stuff to still work with the last py2 release but set us up for a clean removal for 2.0.

With properties for

[2020-02-13 08:36] orbeckst commented on #2471
Ping @mtiberti — any insights why this self reference exists in the output of `encore.dres(ensemble)`? Is this something that can be changed without breaking too many things?

[2020-02-13 08:48] orbeckst commented on #2461
1. Switching everything to `select` is not controversial — so if anyone can get it done, please do it!
2. On the matter of defaults for `select`: In this case I see the purist approach (all uniformly "all" or all required)  doing more harm than good, given that reasonable defaults existed historically, especially with the view towards a 1.0 that is least disruptive. My vote is therefore to essenti

[2020-02-13 08:55] orbeckst commented on #2443
The next release will be 1.0 —  along the lines of the [Roadmap](https://www.mdanalysis.org/2019/11/06/roadmap/).

One goal is to make the jump from 0.20.1 to 1.0 painless and to avoid breaking existing code as much as possible as 1.0 will be the *last version with Python 2 support*. Users might have to rely on it for a while (until they get rid of legacy Python 2, which might take a long time in

[2020-02-13 08:59] orbeckst commented on #2443
Just to clarify: The avoid "breaking existing code" mainly referred to things like rewriting analysis classes. All the scheduled 1.0 removals and changes that had been planned for a long time should just go ahead as planned (and indeed have mostly be done already).

[2020-02-13 09:02] orbeckst commented on #2463
This seems to require a major clean up — I think this can wait until 1.0 is done.

[2020-02-13 12:28] richardjgowers commented on #2527
@Luthaf thanks for the report. Because there's C allocation going on, and resizing is a pain, even an empty Universe needs to know its size.

It might actually be that you want to pass in the `Topology` object, which is the thing that a `Parser` (our reader of everything but coordinates/velocities/forces/dimensions) spits out?

[2020-02-13 12:31] richardjgowers commented on #2526
This is a good idea, but maybe as an optional way of "guessing" bonds.  I think there's far too many non-standard PDB files to assume that this will always work.

[2020-02-13 12:33] Luthaf commented on #2527
I ended up using `Universe.empty()` and working with that without issue.

[2020-02-13 12:39] RMeli commented on #2461
PR #2528 (WIP) tries to fix 1, but all the default are left unchanged.

This might be a larger discussion for 2.0 where changes can be introduced?

[2020-02-13 15:14] mtiberti commented on #2471
Yes - sorry - @lilyminium is right, there's a mistake in the assigned variable there. I'm opening a PR.

[2020-02-15 08:39] #2461 closed

[2020-02-15 08:40] #2471 closed

[2020-02-15 11:43] RMeli opened #2530 "More selection keywords in analysis classes"
Following Issue #2461 I found some more `selection` keywords in the API of `analysis` classes:

* `leaflet`
* `lineardensity`
* `waterdynamics`

[2020-02-15 11:59] RMeli opened #2532 "rmsfit_align_test.dcd writtein outside of temporary directory"
**Expected behavior**

When running the `analysis/test_align.py` I expect no file to be created outside of temporary directories.

**Actual behavior**

The file `rmsfit_align_test.dcd` is created in the `testsuite` directory (or any other directory where `pytest` is run).

**Code to reproduce the behavior**

Show us how to reproduce the failiure. If you can, use trajectory files from the test data

[2020-02-15 23:50] #2530 closed

[2020-02-15 23:51] #782 closed

[2020-02-16 11:42] #2462 closed

[2020-02-16 14:07] #2527 closed

[2020-02-16 14:17] #2532 closed

[2020-02-17 19:35] #1377 closed

[2020-02-17 23:50] RMeli commented on #2450
I think adding type hints will be a great!

I understand that automatic code formatting is not something every developer is willing to accept, but it would be the easiest way to remove most of the linting problems in one go at the beginning. I haven't tried `pylint`, but `flake8` gives very reasonable complaints (when used after automatic code formatting).

Most of the tools can be configured in `

[2020-02-18 02:14] laurapulido opened #2536 "AttributeError: AtomGroup has no attribute charges"
I'm trying to use the potential_profile.py code available in the examples folder. After loading the topology and trajectory, I want to get the charges of all atoms in the system using the command universe.atoms.charges, but I get the following error:

[code]
AttributeError: AtomGroup has no attribute charges
**Actual behavior**

What happened instead. Add as much detail as you can. Include (copy a

[2020-02-18 05:49] orbeckst commented on #2536
Does your topology file contain charges? The `.charges` attribute is only created if you have charges.

How did you load your Universe, i.e., what input files do you have?

[2020-02-18 07:33] #2465 closed

[2020-02-18 08:10] richardjgowers commented on #2536
So on a dev level, maybe this message should grab some debug info from Universe (filenames) to make the message clearer?

[2020-02-18 08:17] zemanj commented on #2536
Yeah that will save some headaches. :+1:

[2020-02-18 08:52] zemanj commented on #2536
@richardjgowers BTW what is the rationale behind this whole `AtomGroup` argument injection machinery besides uncluttering tab completion?
IMHO raising exceptions due to missing `TopologyAttr`s should be the  responsibility of `Topology`.
The fact that missing transplanted properties/methods raise unhelpful `AttributeError`s has the potential to confuse users and has already led to some dirty worka

[2020-02-18 09:04] richardjgowers commented on #2536
Yeah mostly to try and not clutter AtomGroup will every attribute and
method we support across all formats.

Maybe we can raise a different error (NoDataError), but I’m slightly in
favour of the error here. Here’s an example of where we catch an error and
do better:
https://github.com/MDAnalysis/mdanalysis/blob/develop/package/MDAnalysis/core/groups.py#L2218

All that said, maybe we should include

[2020-02-18 10:18] zemanj commented on #2536
I see your point, but keep in mind that this solution means we have to do the bookkeeping manually.
Also, the error mesage "\<attr\> not available; this requires Bonds" could be improved, especially because the error is often *not* triggered by the user trying to directly access some AtomGroup attribute but rather when trying to run some method such as `unwrap()`.
Maybe the error message could be

[2020-02-18 10:29] richardjgowers commented on #2536
Yeah so associated methods would get included in with the mandatory attributes. One thing that would get a lot faster would be `AG.center_of_mass()` because it would be all C(++).

[2020-02-18 10:34] zemanj commented on #2536
@laurapulido To give you a quick answer: The most likely reason for the error you are seeing is that the topology file format you used to construct your `Universe` doesn't contain charge information.
Unfortunately, the error message is not very clear about this.

I would appreciate it if you could tell us whether my guess is right (or wrong).

[2020-02-18 20:27] lilyminium opened #2539 "Confusing wrap keyword in transformations.center_in_box"
**Expected behavior**

`ag.center_of_geometry()` and `ag.center_of_mass()` both have the `pbc` and `unwrap` keywords.

https://github.com/MDAnalysis/mdanalysis/blob/3e8ea8e0744f3163ddbf7b4f5f66874dd26796a7/package/MDAnalysis/core/groups.py#L840-L857

`transformations.center_in_box()` calls one or the other with the `wrap` keyword. Unless you are very familiar with the wording of the `center()` fun

[2020-02-19 01:33] orbeckst opened #2540 "depend on matplotlib-base instead of matplotlib"
PR https://github.com/conda-forge/mdanalysis-feedstock/pull/22 suggests that we should use matplotlib-base as our matplotlib dependency (instead of matplotlib).

~Is this a good idea?~ yes

- [ ] Test if it works.
- [ ] Update our CI to use matplotlib-base instead of matplotlib.
- [ ] Update dependencies in `setup.py`.

[2020-02-19 01:34] orbeckst commented on #2540
The PR https://github.com/conda-forge/mdanalysis-feedstock/pull/22 (by a bot) said:

[2020-02-19 02:30] IAlibay commented on #2540
This discussion might be relevant: https://github.com/conda-forge/conda-forge.github.io/issues/933

[2020-02-19 07:47] orbeckst opened #2541 "remove Python 2 constructs"
Release 2.0 does not support Python 2 anymore (see the [Roadmap](https://www.mdanalysis.org/2019/11/06/roadmap/)) so we should get rid of compatibility code (six and friends).

[2020-02-19 07:54] orbeckst opened #2542 "rewrite AnalysisBase to be compatible with pmda.parallel.AnalysisBase"
**Expected behavior**

MDAnalysis and pmda share code and it is easy to parallelize existing analysis; we don't maintain duplicate code. For instance, I should be able to take a `_single_frame()` method for MDAnalysis directly in pmda.

**Actual behavior**

MDAnalysis.analysis.base.AnalysisBase and pmda.parallel.AnalysisBase are different because the serial version can easily share data via the cl

[2020-02-19 11:05] RMeli commented on #2541
Which versions of Python 3 will be supported? (Asking mainly for f-strings, PEP 498)

[2020-02-19 16:25] orbeckst commented on #2541
I don’t think we discussed this in any detail. Start a discussion on the dev list?

[2020-02-19 17:15] laurapulido commented on #2536
Thank you for all your answers. I checked the topology file and I found that it doesn't have charges.

Thank you

[2020-02-20 00:25] zemanj commented on #2536
Thanks @laurapulido for reporting back!
@richardjgowers @orbeckst Should we close this and open a new issue regarding improving the error handling/message?

[2020-02-20 01:14] orbeckst commented on #2536
sure

--
Oliver Beckstein
orbeckst@gmail.com * orbeckst@gmx.net

[2020-02-20 19:03] richardjgowers commented on #2541
I think we usually followed whatever numpy was also doing, which I think was what continuous integration and conda-forge supported.  I think we usually have to be quite slow because we need to support that one cluster that still happens to run 2.7 in 2020.

[2020-02-20 19:22] IAlibay commented on #2541
I don't know when 1.19 comes out, but `numpy` seems to have dropped support for 3.5 on its development branch: https://github.com/numpy/numpy/blob/master/INSTALL.rst.txt#prerequisites

My understanding is that major releases of `numpy` are scheduled ~ 6 months, which means 1.19 should come in late June. So that might align itself quite well with a late Q2 goal for MDA 2.0.

[2020-02-21 11:32] lilyminium opened #2543 "Add requirements.txt and environment.yml for dependencies"
**Is your feature request related to a problem? Please describe.**
Potential contributors are recommended to [install MDAnalysis dependencies themselves](https://www.mdanalysis.org/UserGuide/contributing_code.html#building-mdanalysis) before building the package. This is quite long and we are likely to forget to update the user guide every time the dependencies are updated.

**Describe the solutio

[2020-02-21 11:37] richardjgowers commented on #2543
This would definitely be cool, especially if our CI tools also use this to avoid duplication etc

[2020-02-21 12:36] lilyminium commented on #2386
Closed due to not being real issue.

[2020-02-21 12:36] #2386 closed

[2020-02-21 13:04] lilyminium commented on #2543
Yep. The user guide already has [requirements.txt](https://github.com/MDAnalysis/UserGuide/blob/master/requirements.txt) and [environment.yml](https://github.com/MDAnalysis/UserGuide/blob/master/environment.yml) although it only uses environment.yml in [Travis](https://github.com/MDAnalysis/UserGuide/blob/master/.travis.yml)

[2020-02-21 20:37] tylerjereddy commented on #2450
I'd suggest only applying the CI linting to the `diff` if we do this, rather than driving the full code base through a large amount of churn. SciPy is working on adopting something like this in: https://github.com/scipy/scipy/pull/11423

I'd be cautious about adopting type hints---maybe if/when they become widely adopted at the base of our dependency tree in NumPy/SciPy, etc.

[2020-02-21 20:56] tylerjereddy commented on #2541
SciPy will also be 3.6+ only for the next release (1.5.x). NumPy & SciPy have started to remove large amounts of Python 2 compatibility constructs in their master branches now that their Python 2.7 LTS branches have had what should be their final upates/need for backports.

[2020-02-21 21:12] tylerjereddy commented on #2543
I'd suggest also looking at the modern `pyproject.toml`, based on [PEP 518](https://www.python.org/dev/peps/pep-0518/), which NumPy & SciPy have adopted.

For some context, enabling build isolation via pip can be quite useful: https://github.com/scipy/scipy/issues/8734

[2020-02-21 22:57] tylerjereddy opened #2545 "TST/BENCH: add `asv check` to CI"
Adding [`asv check`](https://asv.readthedocs.io/en/stable/commands.html#asv-check) to CI would help prevent issues like #2489. An example of usage in production CI: https://github.com/scipy/scipy/blob/master/.travis.yml#L264

Looks like the trick may be to specify usage of an existing environment to avoid paying the time cost of building a new one just for the syntax/asv lint check.

For example,

[2020-02-22 06:58] pr4k commented on #2377
Hi Everyone, I came across this in Gsoc - 2020 organizations, and I want to contribute in this issue, can anyone guide me to the starters or bare essentials,
@PicoCentauri  @orbeckst @fiona-naughton

[2020-02-22 15:18] RMeli commented on #2450
I like the idea of linting only the `diff`!  What is the drawback of type hints if they are not well adopted by the dependencies?

[2020-02-22 15:55] tylerjereddy commented on #2450
There may not be any major drawback, I just mean it could be sensible to wait to see what the rest of the ecosystem decides to do (if anything) about hinting in scientific code.

For example, NumPy has an experimental repo for type hinting with arrays: https://github.com/numpy/numpy-stubs

See also long-standing issue here: https://github.com/numpy/numpy/issues/7370

Perhaps it may have some influ

[2020-02-22 17:16] jimboH commented on #2436
Hi, I am Hsueh, Cheng-Hsun, a medical student at National Yang-Ming University in Taiwan. I am interested in the 'Improved atom selections' project in GSoC 2020. Could I work on this issue?

[2020-02-22 18:57] Sravanksk commented on #2377
Hey , I would like to build this command line application, using the existing functions in MDAnalysis Package , I would like to use this [https://click.palletsprojects.com/en/7.x/](Click) Python package to do build this, would like to show you people a demo by this week. Cheers
@orbeckst  @PicoCentauri

[2020-02-22 23:27] lilyminium commented on #2368
Would switching:
[code]

and
[code]

do it?

As you said, a test case could be a universe `u = mda.Universe(TPR, XTC)` where you check that the distance arrays in `Contacts.r0` match the expected distance array computed using a box. Another could be comparing the results of the contact analysis on the normal, broken trajectory vs. running the analysis on a universe that has been made whole.

[2020-02-22 23:59] lilyminium commented on #2238
As part of this `waterdynamics.HydrogenBondLifetimes` should be refactored to use `hydrogenbonds.HydrogenBondAnalysis` and/or turned into a subclass.

[2020-02-23 00:07] lilyminium opened #2547 "Turn waterdynamics.HydrogenBondLifetimes into function of HydrogenBondAnalysis"
**Is your feature request related to a problem? Please describe.**
Given that `HydrogenBondLifetimes` just runs (the now deprecated) hbonds.HydrogenBondAnalysis under the hood, it seems it could be easily turned into a post-run() function of HydrogenBondAnalysis.

**Describe the solution you'd like**

Turn it into a function of HydrogenBondAnalysis.

**Describe alternatives you've considered**
At

[2020-02-24 08:25] PicoCentauri commented on #2377
@pr4k: cool that you want to get involved into the project. I would suggest to starrt with a simple script that reads a trajectory in a certain format and can convert into another one. The user should be able to give the `start` the `end` end the `step` for writing. Nice would also to have an option to only write a certain subset of the atoms in the trajectory. For a start I suggest the
[MDAnalysi

[2020-02-24 18:41] Sravanksk commented on #2377
@PicoCentauri Cool, have mentioned about click because I'm a bit familiar with it and it has some cool features.  Yes , we can also do this with argparse, will dive deep into your codebase and will try to build something by this weekend

[2020-02-24 18:49] HTian1997 commented on #2503
Followed the idea and made it more compact #2549 .
`
xyz = AnalysisFromFunction(mass_xyz, protein, protein.masses.reshape(-1, 1))
`
can pass the test.

[2020-02-25 00:05] orbeckst commented on #2541
For 2.0 I don't have a problem starting with Python >= 3.6.

[2020-02-25 00:10] orbeckst commented on #2436
We are about to publish a blog post at https://www.mdanalysis.org/blog/ with more details for GSoC.

However, you're more than welcome to start working on this issue. Put up a pull request that references this issue. We can then comment and discuss there.

Note that other people are still free to work on this issue if they so desire. Ultimately, we want GSoC candidates to engage with our code and

[2020-02-25 00:12] orbeckst commented on #2368
I assume that your change https://github.com/MDAnalysis/mdanalysis/issues/2368#issuecomment-590008443 is the key thing that needs to be changed. Of course, this will need tests and documentation. But that makes it a good starter issue.

[2020-02-25 10:28] richardjgowers opened #2550 "Catch when C extensions haven't been compiled on import"
There's a common error where users import MDAnalysis and the C extensions haven't been compiled & created.  This (currently) ends up manifesting as `no module called _cutil` as this is the first C extension submodule imported when MDAnalysis is imported.

I think putting a try/except around this first C-extension import and then issuing a better error message (possibly with some debug info) would

[2020-02-25 11:40] YashAgrawal0 commented on #2550
@richardjgowers I'd like to work on this issue.

[2020-02-26 09:59] xiki-tempula opened #2553 "Parsers should try and provide an Elements attribute"
Related to #2521, I'm interested in having a method of finding the element of an atom, which is traditionally defined using `type` attribute. However, as we are now able to read more topology files, the type is used to store the `atom type` of a certain atom instead of the element of the atom.

[code]

[code]
I'm thinking if it is necessary to have a new attribute 'element' which is dedicated to s

[2020-02-26 10:10] richardjgowers commented on #2553
Elements already exists it’s just not commonly used. Trying to enforce more
Elements usage in parsers would be a nice addition. Then once it’s more
common (mandatory?) we can use it downstream more.

On Wed, Feb 26, 2020 at 09:59, Zhiyi Wu <notifications@github.com> wrote:

[2020-02-26 10:15] xiki-tempula commented on #2553
@richardjgowers That's nice. I haven't seen anyone mentioning it in #2521 and I didn't get any elements back when I load gro file so I thought it didn't exist.

[2020-02-26 10:21] #2488 closed

[2020-02-26 10:21] #2489 closed

[2020-02-26 10:21] xiki-tempula commented on #2521
I will probably work on this a bit later, once we have the element attribute in place. In PR #2519, the hydrogen bond donor lookup is done through a dictionary looking after the first frame. Thus, this new implementation should offer at most a 10s gain for a 100k atom system.

[2020-02-26 10:40] IAlibay commented on #2553
Just for information here, `TOPParser` is an example of a reader that feeds elements based on the topology's atomic number record. I'm surprised that the TPR parser doesn't do the same since (at least based on a quick look at a `gmx dump` output) this information is available. This might be worth looking into if anyone is comfortable with the TPR file format.

[2020-02-26 11:03] xiki-tempula commented on #2553
Reading binary is certainly more difficult compared with reading a txt file and a binary which changes its format dramatically every few months is even more annoying.

[2020-02-26 15:47] shfrz commented on #2550
@richardjgowers  would love to fix this issue, any clue where to start?

[2020-02-26 16:04] richardjgowers commented on #2550
This is an example of the error that people get when the C extensions haven't been compiled: https://groups.google.com/forum/#!topic/mdnalysis-discussion/ipwJKoEy6dk

[2020-02-26 17:09] RMeli opened #2554 "PSA tests fail without seaborn"
**Expected behavior**

I expect tests depending on `seaborn` to be skipped while executing `test_psa.py`.

Maybe I'm misinterpreting `extras_require`, bit I think tests should not fail for packages listed there?

**Actual behavior**

`test_psa` fails:

[code]

**Code to reproduce the behavior**

[code]

without `seaborn` installed.

**Currently version of MDAnalysis**

- Which version are you usin

[2020-02-26 17:17] shfrz commented on #2550
@richardjgowers  It seems the issue has been resolved!

[2020-02-26 17:44] RMeli commented on #2554
Scratch this, I completely missed the `pytest.importorskip('seaborn')` within such tests! I re-installed my `conda` environment on a different machine and failed to pin `seaborn` to `<=0.9` (see Issue #2499) and got confused since I thought I did pin it.

[2020-02-26 17:44] #2554 closed

[2020-02-27 03:26] lilyminium commented on #2553
@IAlibay it gets complicated for united-atom stuff where a particle could be a methyl group, although that' definitely not exclusive to TPR. You'd have to guess based on the (iirc) mass of around 15.035 since atom type names vary, and decide to represent it as a C or H or CH3 (which then veers into atom types again). Definitely agree that elements should be the default topology attribute in format

[2020-02-27 07:27] IAlibay commented on #2553
Mass guessers bring along their own set of problems though, particularly with HMR topologies that are increasingly becoming the norm across MD engines / FF (see ff19SB for a case where the FF development went completely for HMR).

I'd be interested to see what the atomic numbers are recorded as in the TPR for UA & CG systems.

[2020-02-27 09:56] richardjgowers commented on #2553
I think to stay sane this needs to be strictly an element or a null value, anything else needs to be a type attribute.

[2020-02-27 11:05] richardjgowers opened #2558 "Trajectory.add_transformation doesn't fail cleanly"
**Expected behavior**

A clear and concise description of what you want to do and what you think should happen. (Code to reproduce the behavior can be added below).

If I mess up adding a transformation, eg by passing a list of transformations in
[code]

I get an error `TypeError: 'list' object is not callable`, which is fine, I didn't read the docs properly. But then if I try and do it again (thi

[2020-02-27 12:40] lilyminium commented on #2558
It looks like the place to check that objects are callable is in ``base.ProtoReader.add_transformations``, before the `try` clause; if not callable, the code could raise an informative error message (or possibly check if it's an iterable and try again).

https://github.com/MDAnalysis/mdanalysis/blob/aa95e39b519e0d8476c2cc1d39eb62c2bd146387/package/MDAnalysis/coordinates/base.py#L2048-L2069

A test

[2020-02-27 19:34] orbeckst commented on #2540
Smaller dependency chains are good, and not needing to pull in qt is good!

[2020-02-27 19:36] orbeckst commented on #2536
@zemanj – you have been put in charge for closing this issue and opening a new one :-)

[2020-02-27 23:28] VOD555 opened #2560 "PCA gives wrong results when setting align=True"
**Expected behavior**

After setting align=Ture, PCA should give seneible results.

**Actual behavior**

After setting align=Ture, PCA would not give seneible results.
One obvious example is that pca.mean is a zeros array while pca.mean_atoms.positions are not zero.

The problem is at line 238 in the source code. If the "if" statement was Ture, it would do the fitting but do nothing to the "self.m

[2020-02-28 02:55] Naimish240 commented on #2558
Hey @lilyminium @orbeckst !
I've started working on this issue, and made a small edit on my fork. I'm off to Uni right now, and i'll finish it up when i get back.
Thanks!

[2020-02-28 05:03] orbeckst commented on #2558
@Naimish240 put up a PR and we'll start commenting on the PR!

[2020-02-28 10:48] IAlibay commented on #2540
@orbeckst Just started working on this one. Just one thing worth noting early on; matplotlib-base started with 2.1.2, so we'd have to increase our minimum version dependency.

[2020-02-28 15:32] IAlibay commented on #2540
Ok, so on looking at this further the main issue here is that matplotlib-base doesn't seem to be installable via pip. For some reason, it's exclusive to conda.

[2020-02-28 15:37] orbeckst commented on #2540
I suppose we can make the conda package dependent on matplotlib-base and the pip on matplotlib. For consistency, we keep the same version.

[2020-02-28 17:57] IAlibay opened #2564 "LAMMPSDataConverter deprecated with no target for removal"
**Details**

As part of the prep for v1.0, I'm going through and checking everything that's been set for deprecation/removal. The LAMMPSDataConverter has been deprecated since 0.9.0, but no removal dates were set. My suggestion here would be to remove it for 1.0.0.

If there's agreement on the removal, I will go ahead and make the change.

[2020-02-28 22:08] VOD555 commented on #2560
Similar issure in #2510

[2020-02-28 22:08] #2560 closed

[2020-02-28 22:29] #2545 closed

[2020-02-28 22:33] zemanj opened #2565 "Improve missing AtomGroup property error messages"
**Expected behavior**
When I try to access an `AtomGroup` property that is generally valid but the corresponding data is missing from the underlying topology/trajectory, I expect a `NoDataError` with a message stating that the data I am requesting is not available from the topology/trajectory.

**Actual behavior**
When I load a topology that doesn't contain information about, e.g., charges, and tr

[2020-02-28 22:38] zemanj commented on #2536
Superseded by #2565, closing.

[2020-02-28 22:38] #2536 closed

[2020-02-29 01:21] orbeckst commented on #2564
Yes, remove it!

[2020-02-29 15:26] Naimish240 commented on #2565
Hey @zemanj ! I'll get onto it. Thanks!

[2020-02-29 16:17] zemanj commented on #2565
Hi @Naimish240, thank you for taking this on! Please see also the discussion in #2536, there are some hints regarding how this can be handled properly.

[2020-02-29 18:57] shfrz commented on #2565
Hi @zemanj, I have submitted a PR, please check it out. Thank you!

[2020-02-29 22:11] #2564 closed

[2020-02-29 23:05] IAlibay commented on #2398
@lilyminium My understanding from this is that all that's needed here is just to clean up the docstring (and maybe add a test)?

I'm planning to do some work on the AMBER readers. Unless you were planning on picking this one up, I can make the changes whilst I'm dealing with that file.

[2020-02-29 23:09] lilyminium commented on #2398
@IAlibay Yes, I think it's just the documentation here. Please go ahead!

[2020-03-01 10:13] AnshulAngaria commented on #2565
Hi @zemanj, I would like to work on this. I want to know whether the error should be generalised to cover many attributes or just raise a NoDataError every time it comes across an unknown attribute with a better error message?

[2020-03-01 18:30] zemanj commented on #2565
@shfrz @AnshulAngaria I appreciate your efforts. However, I have to say that I don't think it's good practice to "highjack" an issue another person is already working on (@Naimish240 in this case, see above). Nevertheless, I'll review your PRs but keep in mind that if @Naimish240 comes up with a proper solution in a timely manner, this is the one that will be merged.

If you think you have a good

[2020-03-01 19:22] zemanj commented on #2565
I edited my initial issue comment and added a detailed description of the problem. Furthermore, I sketched what I think a possible solution might look like.

[2020-03-01 23:34] lilyminium opened #2574 "DBSCAN does not make outliers clear"
**Expected behavior**

DBSCAN is a clustering method that can identify outliers. I expect these outliers to be clearly indicated in some way.

**Actual behavior**

The method implemented in MDAnalysis makes the outlier group (label==-1) look like an actual cluster (labels start from 0). (although this doesn't ultimately matter, as ``encode_centroid_info`` drops label information anyway)

https://g

[2020-03-02 00:02] lilyminium opened #2575 "ClusteringMethods don't need to return details"
**Expected behavior**

Everything returned by `ClusteringMethod.__call__` contains information that is used.

**Actual behavior**

`ClusteringMethod.__call__` returns ``clusters, details``. ``details`` is always an empty dictionary. It's not used by ``cluster`` and is not even in the documentation:

https://github.com/MDAnalysis/mdanalysis/blob/9bcf6f4c118e1ea137e8514bd60cbd1cd1972062/package/MDAn

[2020-03-02 05:45] hmacdope commented on #2508
Hey all,
I would love to work on this if possible?

[2020-03-02 05:50] lilyminium commented on #2508
@hmacdope please go ahead! [Here is a notebook](https://lilyminium.github.io/UserGuide/examples/analysis/volumetric/linear_density.html) that shows a bit of the current behaviour of the class. #2507 has some notes about the units of the output.

[2020-03-02 05:56] hmacdope commented on #2438
I would love to lend a hand!

[2020-03-02 13:58] fluver opened #2576 "Clustering ensemble of in memory universes"
**Expected behavior**

Given a list of in-memory universe objects `c = MDAnalysis.analysis.encore.clustering.cluster.cluster(us)` should return a ClustersCollection.

**Actual behavior**

Call fails with
`TypeError: Cannot determine file format for file 'None'.
           You can set the format explicitly with 'Universe(..., format=FORMAT)'.`

**Code to reproduce the behavior**

[code]

** Possibl

[2020-03-02 17:51] shfrz commented on #2575
Hi @lilyminium I would want to take this one!

[2020-03-02 23:08] lilyminium commented on #2575
@mtiberti are you happy with @shfrz fixing this issue?

[2020-03-03 00:47] #2503 closed

[2020-03-03 10:55] born-2learn commented on #2439
@orbeckst @richardjgowers @IAlibay
I am Syed Farhan, an Undergraduate Computer and Electronics Engineering Student from Bangalore, India. [Linkedin](https://www.linkedin.com/in/syedfarhanahmad/)

I am very much interested to work on this project as part of GSoC'20 this summer. I am associated with the 'Centre of Excellence in Computational Genomics' of my college and am good at python, C.

I have

[2020-03-03 12:52] AnshulAngaria commented on #2470
Hi! @lilyminium @orbeckst I want to work on this issue

[2020-03-03 13:57] born-2learn commented on #2439
I have written a basic script to save the **protein atom name** and **atom Surface Area** in a text file, using FreeSASA.
Here is the link to the repo: https://github.com/born-2learn/molecular-dynamics-sasa

Text file generated: [here](https://github.com/born-2learn/molecular-dynamics-sasa/blob/master/SASA.txt)
PDB file used: [here](https://github.com/born-2learn/molecular-dynamics-sasa/blob/maste

[2020-03-03 16:13] xiki-tempula commented on #2553
For CG system, the atom number is -1.

[2020-03-03 16:24] orbeckst commented on #2470
@AnshulAngaria sure, put up a PR and mention this issue in the "Fixes xx#" line.

[2020-03-03 16:32] orbeckst commented on #2439
Hello Syed Farhan,

Welcome to MDAnalysis and GSoC.

Please see the blog post <https://www.mdanalysis.org/2020/02/22/gsoc2020/> and the FAQ <https://github.com/MDAnalysis/mdanalysis/wiki/GSoC-FAQ> if you haven't yet. As detailed in the blog, we have a series of issues tagged as easy bugs & GSOC starters which are worth looking at if you are still trying to find an issue to contribute to. We’re als

[2020-03-03 16:46] IAlibay commented on #2553
thanks for checking the CG behaviour @xiki-tempula, I've had a look at GROMOS96 54a7 and unfortunately it doesn't seem to be as sensible 😞

We've discussed the idea of having a means to label non-normal element types in the past (at least in #2449) and it'd be really useful to have a proper convention for when we pass in dummy atoms/virtual sites.

[2020-03-03 16:54] xiki-tempula commented on #2553
Would you mind elaborate?
I think there are a total of three cases,

- the topology provides element which is the standard elements,
- the topology provides element which is not the standard elements
- the topology doesn't provide the element

The first case is easy.
As for the second case, we probably can just lump them into one element (e.g. `atom.element=False`). It is probably too far a call t

[2020-03-03 18:16] richardjgowers commented on #2565
@zemanj this sounds very good.  The dictionaries don't need to be created by hand, (and shouldn't), instead they can get registered when the class is defined.

This sort of magic is already in use with `Universe.add_TopologyAttr`, where `u.add_TopologyAttr('bfactors')` knows to use the `BFactors` class.

https://github.com/MDAnalysis/mdanalysis/blob/develop/package/MDAnalysis/core/universe.py#L805

[2020-03-03 18:45] shfrz commented on #2565
Hi @richardjgowers, this seems an elegant approach. I would love to implement that. But let's see what @Naimish240 comes up with first.
Thanks :)

[2020-03-03 19:26] born-2learn commented on #2439
@orbeckst
Thank you for your reply.

My GitHub handle is **born-2learn** and here is my [GitHub profile](https://github.com/born-2learn).

Thank you for the links. I have gone through the MDAnalysis Blog and the FAQs, and will shortly start contributing to the MDAnalysis repo by working on issues/PRs.

I would like to know if the discussion of projects/issues have to be done in the [MDAnalysis Goo

[2020-03-03 19:37] orbeckst commented on #2439
We typically keep general discussions on the mailing list.

If there’s an issue open (like the one for SASA) then it’s good practice to keep specific questions on the issue tracker. (But don’t open issues to ask questions – open issues for bugs/enhancements. Ask questions on the list.)

Discussions on active PRs are all on the PR itself in the issue tracker.

Great!

Oliver

[2020-03-03 19:42] born-2learn commented on #2439
Thank you.
I will keep them in mind.

[2020-03-03 20:01] zemanj commented on #2565
@richardjgowers That sounds exactly like the solution I was looking for! As far as I can see, the only downside is that this machinery won't be on-demand (cached) but executed on import.
Ah, one more thing: One single dict might not suffice if we want to have this working also for other objects such as `residues`, `segments`, and their respective groups.

[2020-03-04 00:36] #2436 closed

[2020-03-04 00:39] orbeckst commented on #2436
@lilyminium with the updated wildcard matching, the section of the User Guide needs an update. I didn't require this as part of this PR (keeping it simple for GSoC). I will raise a UG issue.

[2020-03-04 02:05] lilyminium commented on #2436
Thanks @Iv-Hristov and @orbeckst!

[2020-03-04 04:09] lilyminium opened #2578 "Can only run encore convergence on DCDReader/MemoryReader trajectories"
**Expected behavior**

I can run `encore.[dr/c]es_convergence` on any MDAnalysis universe trajectory.

**Actual behavior**

It fails because `prepare_ensembles_for_convergence_increasing_window` fails to transfer trajectories into memory before calling `timeseries` on them.

**Code to reproduce the behavior**

Show us how to reproduce the failiure. If you can, use trajectory files from the test da

[2020-03-04 04:22] #2522 closed

[2020-03-04 19:55] richardjgowers commented on #2578
Related work:

https://github.com/MDAnalysis/mdanalysis/pull/1400#issuecomment-308715045

https://github.com/MDAnalysis/mdanalysis/pull/2271

I think maybe the cleanest fix would be to scrap the concept of `.timeseries()` (which dumps coordinates into memory) and instead use `.transfer_to_memory()` (which also dumps coordinates into memory, but in a more useful form).  Ie a `MemoryReader` is much

[2020-03-04 22:43] yuxuanzhuang commented on #2429
Hi! I have linked a PR for review. The new rmsd function now supports:
![showcase](https://user-images.githubusercontent.com/24636656/75929874-bdfcd400-5e71-11ea-82a2-7de8e1f99bfb.png)

[2020-03-04 23:33] orbeckst commented on #2429
@yuxuanzhuang see comments on your PR #2577

By the way, your PR looks reasonably complicated and will likely take a while to review and finalize. I would suggest that in parallel you put up a smaller PR that just addresses

This will be easy to review and to test.

[2020-03-05 00:35] orbeckst commented on #1745
@IAlibay when you have a moment, could you check the save methods that were removed in the merged PRs? (If you cannot modify my issue i.e., you cannot click the check marks then let me know, perhaps copy and paste the list into a comment where you can modify). I want to know what needs to be done to close this issue.

[2020-03-05 00:58] orbeckst opened #2582 "polymer persistence length example fails"
**Expected behavior**

When running the example in the docs for calculating the [persistence length](https://www.mdanalysis.org/mdanalysis/documentation_pages/analysis/polymer.html#persistence-length-worked-example) it should complete without errors.

**Actual behavior**

I copy and paste (0.20.1 and develop) and get the following error in
[code]

[code]

**Code to reproduce the behavior**

[code]

[2020-03-05 01:12] orbeckst commented on #2578
There are legitimate reasons to have a whole trajectory as one big array; however, one can use [`MemoryReader.get_array()`](https://www.mdanalysis.org/mdanalysis/documentation_pages/coordinates/memory.html#MDAnalysis.coordinates.memory.MemoryReader.get_array) (or just `MemoryReader.coordinate_array` (although this is not explicitly documented). The `MemoryReader.timeseries()` method is useful, tho

[2020-03-05 01:16] lilyminium commented on #2582
The * is missing after the H in `'not name O* H'`. [This version continues to work.](https://www.mdanalysis.org/UserGuide/examples/analysis/polymers_and_membranes/polymer.html)

[2020-03-05 01:25] orbeckst commented on #2582
Thanks, that would be an easy GSOC PR…

[2020-03-05 06:24] lilyminium opened #2583 "Python 3.6 build fails due to missing numpy on Travis"
**Expected behavior**

MDAnalysis builds in Python 3.6 on Travis.

**Actual behavior**

It's failing across #2561, #2577 and the ``develop`` branch itself. The specific environments are Python 3.6 with Numpy 1.17.3 and 1.18.

**Error**

[The environment can't find Numpy.](https://travis-ci.com/MDAnalysis/mdanalysis/jobs/294185943#L1984)

<img width="829" alt="Screenshot 2020-03-05 at 5 14 20 PM" s

[2020-03-05 06:39] zemanj commented on #2582
I think this is a neat example for a rather suboptimal choice of variable names.
IMHO we should replace `lp` and `lb` by `persistence_length` and `bond_length` and deprecate the old names. Also, I don't understand why `results` is not a dict containing *all* results. (If it is just the autocorrelation, it should be named accordingly.)

[2020-03-05 10:34] IAlibay commented on #1745
@orbeckst Unfortunately I don't have modify access (I think the settings are set so that this is a core-dev only thing).

Here is a copy of the list w/ changes:

## To be removed
Check methods once they have been removed.

 - [x] MDAnalysis/analysis/align.py: def save(self, rmsdfile): #2486
 - [x] MDAnalysis/analysis/contacts.py: def save(self, outfile): #2487
 - [x] MDAnalysis/analysis/diffusionm

[2020-03-05 10:55] #2510 closed

[2020-03-05 13:03] yuxuanzhuang commented on #2429
@orbeckst I added a fix and a short test to the PR #2577 for that. Should I also put up a new fix PR for the original code?
Generally, my solution is to expand the input `weights` from **'mass'**, **'None'**, **'1D array'** or a list of them to reconstructed 1-D weight arrays and save them in `weights_ref`, `weights_select`,`weights_groupselection` in `_prepare` stage.

[2020-03-05 18:06] orbeckst commented on #1745
Many thanks @IAlibay , I copied the bare information to the top of the issue. Because everything was removed that needed removing I will close the issue. Yay! Thank you so much for doing most of the work!

For anything related, please open new issues.

Specifically
* x3dna: we cannot test it because it uses an external tool with a non-free licence... it's legacy code and I think it's omitted from

[2020-03-05 18:06] #1745 closed

[2020-03-05 18:09] orbeckst commented on #2582
I removed @richardjgowers so that GSoC students don't feel that the issue is taken.

[2020-03-05 18:11] orbeckst commented on #2583
Should we get rid of defaults and only use conda-forge?

I tend to get annoyed when the whole package dependency system fails, isn't this what conda is supposed to prevent?

[2020-03-05 18:14] richardjgowers commented on #2583
I merged a bunch of PRs this morning and the builds passed, I think it was just a hiccup.  I think this issue has self-resolved.

[2020-03-05 18:17] #2470 closed

[2020-03-05 18:24] ss62171 commented on #2582
Can i work on this?

[2020-03-05 19:41] orbeckst commented on #2582
By all means, put up a PR. Don't forget to reference this issue.

[2020-03-05 21:02] lilyminium commented on #2583
Awesome, closed!

[2020-03-05 21:02] #2583 closed

[2020-03-05 23:15] orbeckst commented on #2575
@shfrz please feel free to work on this issue. @mtiberti can always review.

[2020-03-05 23:23] orbeckst commented on #2439
I removed the "starter" label as this became a proposed GSoC 2020 project.

[2020-03-05 23:28] orbeckst commented on #2452
Rename this issue to "update helanal to AnalysisBase"?

[2020-03-05 23:30] orbeckst commented on #2377
This has become a GSoC project (so not a starter anymore).

[2020-03-05 23:39] orbeckst commented on #2238
This issue was fixed by PR #2237.

Anything else can go into their own issues.

[2020-03-05 23:46] orbeckst commented on #2191
We should get rid of https://github.com/MDAnalysis/mdanalysis/blob/1f4e492662955e483fc98982728404149f7a1deb/testsuite/MDAnalysisTests/__init__.py#L120-L128 which was included to let the CI run cleanly but presumably we could achieve this in a different manner by, say, setting matplotlibrc on Travis.

[2020-03-06 00:02] orbeckst commented on #2043
We might have missed the boat on deprecating to get rid of 1.0.

So I think we should deprecate in 1.0 and remove in 2.0.

[2020-03-06 00:06] orbeckst commented on #1928
It seems that #2005 mostly addressed the issue here.

[2020-03-06 00:06] #1928 closed

[2020-03-06 08:50] bieniekmateusz commented on #2396
We also corrected it the same way with @p-j-smith after seeing this problem. I think @p-j-smith is more suitable to be an assignee here!

[2020-03-06 09:59] richardjgowers commented on #1175
I'm gonna say @lilyminium has done this

[2020-03-06 09:59] #1175 closed

[2020-03-06 10:06] richardjgowers commented on #1828
@lilyminium does this ring a bell for you?

[2020-03-06 11:34] shfrz commented on #2575
@orbeckst sure, thank you!

[2020-03-06 13:44] Purva-Chaudhari commented on #2504
@lilyminium I would like to work on the issue

[2020-03-06 17:36] shfrz commented on #2575
@MDAnalysis/gsoc-mentors could you please review my PR?

[2020-03-06 18:53] orbeckst commented on #2396
I had assigned it to you because PR #2572 seemed to be addressing it ... and your icon popped up first.

[2020-03-06 19:07] siddharthjain1611 commented on #2469
@lilyminium I'm making the changes suggested by you hope these try to solve the problem of mismatching.

[2020-03-06 19:15] #2177 closed

[2020-03-06 19:43] siddharthjain1611 commented on #2582
I'd love to commit to this issue.

[2020-03-06 19:46] ss62171 commented on #2582
Hey @siddharthjain1611 currently I'm working on this and almost done.

[2020-03-06 19:49] siddharthjain1611 commented on #2582
Okay @ss62171 I'd wait for your patch before I move further with this.

[2020-03-06 20:25] ss62171 commented on #2582
@orbeckst can you please look at this PR and suggest if some changes required.

[2020-03-06 20:37] siddharthjain1611 commented on #2469
@lilyminium If could please spare some time to review my PR and suggest the changes required.

[2020-03-06 21:00] richardjgowers commented on #2377
I came across this which is relevant: https://github.com/joaomcteixeira/taurenmd

I've not had time to thoroughly look at it yet.

[2020-03-06 21:13] orbeckst commented on #2377
I wasn't aware of @joaomcteixeira 's project – sorry! It seems to be doing a lot of what we put down here. It uses MDAnalysis and mdtraj for various trajectory editing and analysis tasks.

There's a description for how to [write new functionality, "clients"](https://taurenmd.readthedocs.io/en/latest/contributing.html#a-new-command-line-client).

@PicoCentauri would you mind looking a bit more into

[2020-03-06 22:13] orbeckst commented on #2582
@ss62171 I reviewed PR #2589 .

@siddharthjain1611 thank you for being polite and letting @ss62171 finish their work. As a general rule for how we have been handling things: we look at the first PR that references the issue. If the PR stalls then we close it and look at the next one.

[2020-03-06 23:53] lilyminium commented on #1828
This should probably go into the list of AtomGroup methods I've been procrastinating on. For now, I think it would be good to explicitly say that it returns the *transpose* of the eigenvector matrix in the docstring. I guess you could also convert it to a tuple or list or iterator to make it more obvious, but a) that would mess up anyone already using ``U.T`` and b) ``numpy.dot`` will accept tuple

[2020-03-06 23:58] orbeckst commented on #1828
Let's just state clearly that `U.T` is returned.

[2020-03-07 00:00] lilyminium opened #2590 "PersistenceLength.plot() create new axes instead of grabbing current ones"
## Is your feature request related to a problem? ##
Because PersistenceLength.plot() grabs the current axes instead of creating a new figure, you can end up with it plotting over something else unintentionally. [e.g. plotting over and over in this figure](https://github.com/MDAnalysis/mdanalysis/pull/2589#issuecomment-596000408)

https://github.com/MDAnalysis/mdanalysis/blob/1f4e492662955e483fc989

[2020-03-07 00:25] lilyminium commented on #2504
Please go ahead @Purva-Chaudhari! Put up a pull request and link this issue, and it will get reviewed.

[2020-03-07 00:47] joaomcteixeira commented on #2377
Hi @orbeckst and @richardjgowers

I have to say I was also not aware of this issue and the proposal of a MDA-specific CLI tool for GSOC. Quite an interesing and motivating coincidence.

I've been working quite intensively with MDAnalysis in recent months, I even did a couple of participations in PR here #2357 and #2406. As I used MDAnalysis (and others) to analyze my data, I started developing tau

[2020-03-07 00:52] ss62171 commented on #2590
@lilyminium is this fine?

[2020-03-07 10:14] siddharthjain1611 commented on #2582
Still wondering, is this issue open?

[2020-03-07 11:36] richardjgowers commented on #1264
Ok I think this needs to get added as a deprecation for 2.0 where we can switch the behaviour?  I can't really see a clean way to do this except announce a break in behaviour over the 1.x / 2.x versions

[2020-03-07 12:20] xiki-tempula opened #2592 "Mapping atomistic system to coarse-grain system"
I can see that there is a GCOS idea with regard to converting the atomistic system to coarse-grain system. I have had a little try previously and had some difficulty. I think it might be better if we can clarify the project before anyone start or plan to start working on it.

The conversion from atomistic protein to the coarse-grain protein should be quite straightforward. The only thing which mig

[2020-03-07 12:30] richardjgowers commented on #2592
Thanks for opening this @xiki-tempula

I think defining the mappings is probably something best left to users (for all the reasons you raise), rather than something we try and provide.  Or at best we can provide good starting points.

The project itself can just be providing the machinery to apply these mappings.

[2020-03-07 17:26] orbeckst commented on #2582
No, see PR #2589

[2020-03-07 17:31] #2582 closed

[2020-03-07 18:02] AnshulAngaria commented on #2348
@orbeckst , I want to work on this issue. Any guidance?

[2020-03-07 18:05] shfrz commented on #2575
Hi, @lilyminium I implemented the suggested fix but 8 out of 12 tests are failing!

[2020-03-07 19:13] p-j-smith commented on #2396
This is indeed fixed in PR #2572 and we've added a test for it too

[2020-03-07 19:24] bieniekmateusz commented on #2547
Hi @lilyminium, we have extracted the standalone Autocorrelation function with @p-j-smith (#2256). Once that's merged, we can proceed with your suggestion and add a hydrogen bond lifetime function to HydrogenBondAnalysis that makes use of this discrete autocorrelation function.

The new functions will be available in MDAnalysis.analysis.utils.

[2020-03-07 19:56] ss62171 commented on #2550
@richardjgowers is this issue open to work?

[2020-03-07 20:00] richardjgowers commented on #2550
Yep

On Sat, Mar 7, 2020 at 19:56, SHUBHAM SHARMA <notifications@github.com>
wrote:

[2020-03-07 20:14] ss62171 commented on #2550
@richardjgowers _cutil extension is imported in file ``` util.py ```. Do i have to add try except block there? And any idea like how to replicate this error.

[2020-03-08 05:30] arunsetty commented on #2439
@orbeckst Sir, I'm aiming for this as my gsoc project as it seemed interesting from a while. Can I please get some scenario of this and where to start for application.
Thanks!

[2020-03-08 07:12] orbeckst commented on #2439
Hi @arunsetty , read the blog post https://www.mdanalysis.org/2020/02/22/gsoc2020/ which explains everything and provides links to all related documentation. Importantly, we only accept applications from students with at least one merged PR.

For further general GSOC discussions please ask on the developer mailinglist https://groups.google.com/group/mdnalysis-devel.

[2020-03-08 07:24] orbeckst commented on #2348
This is a complicated issue. Start by reading everything that is linked in this issue and try to get an idea of what the problem is. If you want to work on it, don’t try to solve everything, start with a partial solution.

[2020-03-08 07:28] orbeckst commented on #2396
Cool, thanks. So we’ll just wait for that PR to be merged.

[2020-03-08 08:09] siddharthjain1611 commented on #2550
I'm still facing this error while running `pytest --cov=MDAnalysis`.

[2020-03-08 08:23] siddharthjain1611 commented on #2417
how many angles should one have?

[2020-03-08 08:52] jbarnoud commented on #2417
It should be the same as the itp parser. If we add angles here, it is for consistency sake.

[2020-03-08 14:32] IAlibay commented on #2452
Pinging @WG150, checking if you were still interested in picking this one up?

[2020-03-08 14:53] kpiyush04 commented on #2575
Hi! @lilyminium @orbeckst
I want to work on this issue

[2020-03-08 14:57] IAlibay commented on #2575
@kpiyush04, there is already a PR by @shfrz aiming to deal with this issue (#2585). I would suggest possibly going for a separate GSOC starter issue as #2585 will be prioritised. If the PR stalls then it will be closed and we will look for alternatives.

[2020-03-08 15:12] kpiyush04 commented on #2575
ok thanks a lot

[2020-03-08 15:24] kpiyush04 commented on #2550
Hi! @richardjgowers
Can you please elaborate on this issue.

[2020-03-08 16:23] IAlibay opened #2593 "Fixing psa load tests and inconsistent generate_paths defaults"
As a leftover of #1745, the tests `test_load` from `test_psa.py` should adequately cover the `save_paths` function from :class:`PSAnalysis`. Whilst PRs #2049 and #2239 have made headway towards fixing this, the test is still expected to (and does) fail.

There are two main issues for this:

1) the `np.load` calls in :meth``PSAnalysis.load` don't set `allow_pickle` to `True`.
2) there are some inco

[2020-03-08 17:02] kpiyush04 commented on #2504
Hi! @lilyminium @orbeckst
I would like to work on this issue

[2020-03-08 20:24] lilyminium commented on #2452
I would actually like to look at some helices sometime this week, so I’m also happy to poke at this if you’re busy @WG150

[2020-03-08 20:29] ss62171 commented on #2368
@orbeckst I would like to claim this issue.

[2020-03-08 20:57] zemanj commented on #2396
**Maybe related:**
In #2565, the goal is to turn `AttributeError`s into more meaningful `NoDataError`s stating that the required info is missing from the topology. Nevertheless, I think that `hbond_analysis` deserves its own error message as suggested above, so one should explicitly test for bond presence in this case.

**Caveats when checking for bond presence:**
Note that `hasattr(u, 'bonds')` i

[2020-03-09 02:32] born-2learn commented on #2553
I would like to work on this.

[2020-03-09 08:41] WG150 commented on #2452
I'll be able to take a look at this later this month. @lilyminium if you want to take a look / make a start this week that's ok with me!

[2020-03-09 09:03] PicoCentauri commented on #2377
Dear @joaomcteixeira,

I just took a look into `taurenmd`. Looks like a really nice package. Well written, modular, with tests and a good documentation. After looking into the code I'm not sure if one should really start writing MDA-specific CLI...

Advantage for a MDA CLI are:
 * probably better maintainability due to the higher number of maintainers
 * Easier start for new users since they don't

[2020-03-09 09:51] IAlibay opened #2596 "Polymer perform_fit deprecated without removal target"
:meth:`PersistenceLength.perform_fit` has been deprecated as of 0.19.2 (#2141) but wasn't given a date for removal.

Considering there will be at least one version release between 0.19.2 and 1.0.0, and the fact that `perform_fit` doesn't really do anything anymore, is it ok if I go ahead and remove it as part of #2443 ?

[2020-03-09 09:51] IAlibay commented on #2596
Tagging @richardjgowers as the author of #2141 here.

[2020-03-09 11:27] #2398 closed

[2020-03-09 13:19] IAlibay opened #2598 "Increasing coverage for align.py"
## Is your feature request related to a problem? ##

The coverage for `analysis/align.py` is currently at ~ 87%. There are some easy enough parts of the code that are missing coverage that could be tested. See: https://codecov.io/gh/MDAnalysis/mdanalysis/src/develop/package/MDAnalysis/analysis/align.py

## Describe the solution you'd like ##
More tests, example cases that should be easy to cover:

[2020-03-09 14:39] IAlibay opened #2599 "1 A^3 boxes from EM structures in the PDB"
## Context ##

This is related to this discussion: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!topic/mdnalysis-discussion/IKYv18MqlFs

From a cursory look at a couple of systems (6NT5, 6CVM, 3JAC), it looks like PDB files for EM structures have a tendency to have the following CRYST1 records:

`CRYST1    1.000    1.000    1.000  90.00  90.00  90.00 P 1           1`

As dic

[2020-03-09 14:42] richardjgowers commented on #2599
Yeah catching these boxes seems like a good idea and can’t really harm
anyone (except people with sub 1A boxes).

On Mon, Mar 9, 2020 at 14:39, Irfan Alibay <notifications@github.com> wrote:

[2020-03-09 15:22] siddharthjain1611 commented on #2599
@richardjgowers Can I work on this?

[2020-03-09 15:29] siddharthjain1611 commented on #2598
@IAlibay  I'll love to work on this if allowed.

[2020-03-09 15:31] IAlibay commented on #2599
@siddharthjain1611 this issue is indeed currently free to work on if you wish to do so. I would however suggest possibly not over-extending yourself by looking to fix multiple issues concurrently (namely #2469), and instead focusing on one so that you can get a PR merged before the GSOC application window opens. It also doesn't block off issues from other prospective GSOC applicants.

[2020-03-09 15:32] IAlibay commented on #2598
@siddharthjain1611 Just going to link to: https://github.com/MDAnalysis/mdanalysis/issues/2599#issuecomment-596601702

PRs are welcome for this issue, however, I would suggest aiming for fixing one issue at a time.

[2020-03-09 16:10] siddharthjain1611 commented on #2599
Sir, I would first focus on the other issue, therefore, please feel free to assign someone else to this issue who is more worthy.

[2020-03-09 16:30] IAlibay opened #2600 "Increasing coverage for leaflet.py"
## Is your feature request related to a problem? ##
The coverage for analysis/leaflet.py is currently at ~ 69%. There should be some reasonably easy parts of the code which are missing coverage that could be tested. See: https://codecov.io/gh/MDAnalysis/mdanalysis/src/develop/package/MDAnalysis/analysis/leaflet.py

## Describe the solution you'd like ##
More tests, example cases that should be pos

[2020-03-09 19:46] Purva-Chaudhari commented on #2504
@lilyminium From what I have understood(ran example with run(verbose=True)),in the run method in AnalysisBase() self_verbose  is not getting overridden. Referring to issue #2206 I Raised deprecation warning if step/start/stop is none and made their scope private. Is it now expected that the self_verbose in run to override the default .

[2020-03-09 19:50] Purva-Chaudhari commented on #2504
If I am mistaken in understanding the objective please do let me know

[2020-03-09 22:30] lilyminium commented on #2504
@kpiyush04 thanks for looking at this, but as @Purva-Chaudhari has already started working on the issue, their pull request will get prioritised. Perhaps you could work on something else, e.g. #2599 was recently opened.

@Purva-Chaudhari Yep, that sounds about right -- as @orbeckst clarified above, `verbose` is not deprecated. Setting `verbose` in `run()` should override the existing `self._verbos

[2020-03-09 22:39] lilyminium commented on #2417
I vote for water having an angle :-) (unless it has significant performance downsides?)

[2020-03-09 22:59] orbeckst commented on #2504
Just to add: @Purva-Chaudhari please open a PR that references this issue in a timely manner. Just saying "I want to do this" is not enough – we'll give you some leeway but we expect that you follow up within a day or so.

[2020-03-09 23:01] IAlibay commented on #2417
So to add to the conversation here, (i might be misremembering things here) but at least in view of the MD engine SETTLEd waters don't usually have an angle component.

Personally I'm not against the idea of enforcing that waters have angles, however adding it here for ITP files is likely to cause a discrepancy with say a TIP3P water loaded from an AMBER parm7 file (which by default will not have

[2020-03-09 23:09] lilyminium opened #2604 "Document Contacts attributes and add n_initial_contacts"
## Is your feature request related to a problem? ##
``Contacts`` gives the fraction of initial contacts in ``timeseries``, but I think most people would also like to know how many initial contacts there actually are.

## Describe the solution you'd like ##
You can calculate this with ``Contacts.initial_contacts[0].sum()``, but it would be nice to just have it there as an attribute e.g. `n_initial_

[2020-03-10 00:16] orbeckst commented on #2377
Thanks @PicoCentauri ! I read the JOSS draft https://github.com/joaomcteixeira/taurenmd/blob/master/joss/paper.md and I generally agree with the rationale there. One advantage of `taurenmd` from a user's perspective is that it is _not_ tied to a single library such as MDAnalysis. (MDAnalysis is becoming more interoperable with the new convertors but that's not the same yet as using mdtraj for one

[2020-03-10 00:17] orbeckst commented on #2377
### Remarks on JOSS manuscript
Comments to @joaomcteixeira (as I just read your [manuscript](https://github.com/joaomcteixeira/taurenmd/blob/master/joss/paper.md) – not as a referee, though)
1. I'd like to see a table of the available functionality/subcommands with quick description
2. I also find `pip install taurenmd` a bit too glib: good luck installing OpenMM, MDAnalysis and mdtraj on a random

[2020-03-10 00:29] orbeckst commented on #1264
Yes, I agree with you. Not sure how we will add a deprecation warning without adding nasty code that checks the result after we computed the selections. Perhaps in docs and CHANGELOG only?

[2020-03-10 00:32] orbeckst commented on #1264
What would be a postprocessing workaround, e.g.,
[code]
so that
[code]
and `dih` only contains dihedrals fully inside the `ag`?

[2020-03-10 00:41] orbeckst commented on #2368
We don't do claims. Put up a PR and show that you are actively working on the issue. Make sure that your PR references this issue number so that it gets automatically linked.

[2020-03-10 00:46] orbeckst commented on #2452
@fiona-naughton – does "I have to look at helices and I only want to touch the helanal module with gloved hands" sound familiar? (Ok, I am paraphrasing here, that's not a literal quote ;-) )

[2020-03-10 01:09] orbeckst commented on #2599
Note:
[code]

Technically, it’s the users responsibility to provide correct input.

In practice, this can easily lead to very wrong results when working with PDB files.

I really dislike having to put a lot of special casing in readers but if
[code]
is a common thing in cryo-EM structures (which will soon make up a significant portion of the PDB) then we can’t just slip them through. Perhaps we sh

[2020-03-10 01:40] #2593 closed

[2020-03-10 01:42] orbeckst commented on #2596
We'll remove it cold-turkey as is – and there' wont't be anything between 0.19.2 and 1.0.0...

[2020-03-10 01:45] #2596 closed

[2020-03-10 03:25] HTian1997 commented on #2377
Hello GSOC mentors, I'm interested in this project and my draft of proposal can be found [here](https://docs.google.com/document/d/1ZRCu3mT3_dLrkslWDd6t5MHJmgvfLEkyKrK69lMCVP8/edit?usp=sharing), any comments would be appreciated!

@orbeckst  I don't quite understand the underlying coding work. Will that be designing a framework to write functions for specific AnalysisBase analysis, provide input a

[2020-03-10 05:00] abhiShandy opened #2605 "Deprecation warning from "collections" library"
## Expected behavior ##
No deprecation warning

## Actual behavior ##

[code]

## Code to reproduce the behavior ##

16th cell in quick start user guide

[code]

## Current version of MDAnalysis ##

- Which version are you using? **0.20.1**
- Which version of Python? **3.7.4**
- Which operating system? **MacOS Catalina 10.15.3**

[2020-03-10 05:26] abhiShandy opened #2606 "Test failing locally: test_parallel_calculation"
## Expected behavior ##

No failed test

## Actual behavior ##

platform darwin -- Python 3.8.2, pytest-5.3.5, py-1.8.1, pluggy-0.13.1
rootdir: /Users/abhishandy/Code/mdanalysis/fork/testsuite, inifile: setup.cfg
plugins: forked-1.1.2, xdist-1.31.0, hypothesis-5.6.0

[code]

## Code to reproduce the behavior ##

`pytest --disable-pytest-warnings --numprocesses 4`

## Current version of MDAnalysis

[2020-03-10 05:33] abhiShandy commented on #2605
It is one of the three warnings when I run
`pytest lib/test_util.py::TestFlattenDict`

[code]

One should use this for testing the changes

[2020-03-10 06:17] lilyminium opened #2608 "Secondary structure determination"
## Is your feature request related to a problem? ##
`gmx do_dssp` isn't making nice with DSSP version 3.1.4, and I would like to quantify the secondary structure of my protein.

## Describe the solution you'd like ##
An MDAnalysis version where I don't need to load my entire trajectory into memory.

## Describe alternatives you've considered ##
MDTraj has `compute_dssp` but it loads the trajectory

[2020-03-10 06:36] Purva-Chaudhari commented on #2504
@orbeckst Sure will follow that

[2020-03-10 08:19] richardjgowers commented on #2599
So the codes pasted above give no dimensions info when using `fetch_mmtf` so it looks like it's a strictly PDB problem at least.

We could try and do some sort of string match in the remarks if we really wanted, but I just think it's fine to warn and delete the box info.

[2020-03-10 11:15] wvandertoorn commented on #597
In the spirit of letting other GSoC candidates know what is already being worked on, just wanted to inform that I'm currently working on improving the coverage of the exception raises in ``` analysis/density.py ```.

[2020-03-10 11:43] IAlibay commented on #597
@wvandertoorn I would have a look at PR #2537 before doing too many test changes for the density code. @orbeckst did quite a few changes to the tests there, so it might be that you find there is duplicaton of efforts for some things.

[2020-03-10 14:53] joaomcteixeira commented on #2377
Dear @orbeckst and @PicoCentauri, Thanks very much for you positive feedback. I really appreciate your comments!

I will try to address all your points:

1. I designed `taurenmd` to operate with any available Python-interfaced library, but mostly pure Python libraries. This design addresses current libraries and facilitates new additions in the future. However, it was **not** my aim to purposely c

[2020-03-10 15:14] IAlibay commented on #2599
So to tackle the first "TODO" from @orbeckst's post, I had a quick thrawl through the RSCB PDB to investigate the frequency of cryo-EM PDB CRYST1 records matching:

`CRYST1 1.000 1.000 1.000 90.00 90.00 90.00 P 1 1`

Out of 2286 entries matching the a text search for "cryo-em", 2109 (~92%) matched the above CRYST1 record.

I've not had a thorough look at the cases where the CRYST1 record was diffe

[2020-03-10 15:44] orbeckst commented on #2377
@joaomcteixeira thanks for the insights. Before I forget: please create a PR to add taurenmd to the [used-by page](https://www.mdanalysis.org/pages/used-by/) on the website, https://github.com/MDAnalysis/MDAnalysis.github.io/issues/125. That might also help with users.

[2020-03-10 19:07] yuxuanzhuang opened #2612 "Missing selection module in leaflet.py"
## Expected behavior ##

write_selection works

## Actual behavior ##

[code]

## Code to reproduce the behavior ##

[code]

## Current version of MDAnalysis ##

- Which version are you using? (run `python -c "import MDAnalysis as mda; print(mda.__version__)"`) '0.20.2-dev0'
- Which version of Python (`python -V`)? 3.7
- Which operating system? Ubuntu 18

[2020-03-10 20:44] zemanj commented on #2565
Ping @Naimish240
Are you still interested in working on this?

[2020-03-10 23:50] orbeckst commented on #2612
Excellent find!

[2020-03-11 00:18] orbeckst commented on #2599
I really don't want to start digging through REMARKS.

Let's define what we mean by "a sensible box", document, throw it out & warn by default, and give user an option to keep whatever rubbish is in the file if they really want to.

[2020-03-11 00:36] orbeckst commented on #597
@wvandertoorn you can do tests for analysis.density and they are still welcome because even though PR #2537 will be a substantial rewrite, all the code you currently see will still be in 1.0.

However, there are a few final comments to address in  PR #2537 and you could also make a PR onto PR #2537 and finish it (see https://github.com/MDAnalysis/mdanalysis/pull/2537#issuecomment-591674070). I qui

[2020-03-11 01:02] orbeckst commented on #2377
@HTian1997 , sorry, we weren't aware of taurenmd when we proposed the MDA CLI project. Right now this is a discussion if it's worthwhile going further with the MDA CLI project or remove it to avoid duplication of effort.

Regarding your question https://github.com/MDAnalysis/mdanalysis/issues/2377#issuecomment-596882680

We don't propose at the moment that a student would work directly on taurenmd

[2020-03-11 01:41] orbeckst commented on #2377
Thoughts on the MDA CLI project, @MDAnalysis/gsoc-mentors  and everyone else in this thread please chime in:

We don't want to duplicate effort. The original proposal for MDA CLI pretty much duplicates `taurenmd`, which, according to @PicoCentauri 's analysis https://github.com/MDAnalysis/mdanalysis/issues/2377#issuecomment-596408623 is already doing many things right. Thus, I don't want to recomm

[2020-03-11 04:33] smrpn commented on #2598
can i work on this issue?

[2020-03-11 08:23] IAlibay commented on #2598
@siddharthjain1611 are you still looking to work on this issue?

@smrpn I would probably give @siddharthjain1611 a bit of time to see if they still want to work on it.

[2020-03-11 08:50] PicoCentauri commented on #2377
A framework for the `base.AnalysisBase` to let downstream projects detect them and probably create a CLI sounds like a really good idea. This is also where I spend most of the time and effort while writing `maicos`. @joaomcteixeira probably as well.

If this framework exists it becomes more attractive for users and new developers to write their analysis using the `base.AnalysisBase`. Regularly, I'

[2020-03-11 09:13] smrpn commented on #2599
is someone currently working on this issue?

[2020-03-11 13:21] Purva-Chaudhari commented on #2504
@lilyminium could you please review the PR, I am a bit new to open source contribution. Hope i made it in a correct way. If not please do let me know and also regarding the changes I made, are they correct or what should I improve in the code,
Thanking you

[2020-03-11 13:48] lilyminium commented on #2504
@Purva-Chaudhari Thanks for having a go at this, welcome to open source! I see that you [opened a PR](https://github.com/Purva-Chaudhari/mdanalysis/pull/1) in your own fork of MDAnalysis -- however, to merge code into *this* code-base, you need to open one [here](https://github.com/MDAnalysis/mdanalysis/pulls). The [user guide](https://www.mdanalysis.org/UserGuide/contributing_code.html) lays out

[2020-03-11 14:19] lilyminium commented on #2417
That's a good point @IAlibay -- in that case I take back my earlier enthusiasm and suggest changing ITPParser to *not* add an angle for [ settles ] entries.

[2020-03-11 14:52] Shlokatadistance commented on #1861
I think we can implement the data structures for the centres of mass and the atoms in a more systematic way, cause there are plenty of issues which arise from concatenations in python. but I also think that this can be implemented fairly well in the pre-existing structure.
(P.S I look forward to working on the same for GSoc2020)

[2020-03-11 14:58] Shlokatadistance commented on #2188
I think it will also be great if we define a vector giving the position of all these centre of masses, for like a larger and more broader analysis, what it will ensure is that any activity that is very specific in its nature of orientation can be implemented properly onto the system of these centres
(P.S. I look forward to taking part in GSoc2020 and working on the issues)

[2020-03-11 15:00] Shlokatadistance commented on #2188
@micaela-matta since the code works only on benzene, maybe for other aromatic structures we can define the position of the functional group attached and then make the decision? Or choose one particular position (ortho, meta or para) and then define the orientation, cause those will then be uniform across all the aromatic structures?

[2020-03-11 21:27] orbeckst commented on #2599
@smrpn, as far as I can see there's no PR linked to this issue at the moment so by all means go ahead and put up a PR.

[2020-03-11 21:51] lilyminium commented on #2282
Narrator: it was.

I now know of ``help(cls)`` and the logic behind putting those parameters in the class docstring, so closing this issue.

[2020-03-11 21:51] #2282 closed

[2020-03-11 22:10] orbeckst commented on #1861
@Shlokatadistance , you might want to look deeper in how MDAnalysis represents systems, namely as numpy arrays of integers, where the integer is the id of the particle. The [2016 paper](https://www.mdanalysis.org/pages/citations/#mdanalysis-library) also explains a little bit more. (And if you really want to learn more, look at issue #363 and the blog post [A shiny, new and faster topology system]

[2020-03-12 00:13] orbeckst commented on #2443
We should start changing the 0.21 to 1.0; in particularm, it would be good if the dev docs and the version string started showing 1.0.0-dev.

[2020-03-12 00:44] fiona-naughton commented on #2452
That does rather capture the sentiment! I'd also be happy to  have a go at improving it, but looks like we've already got several takers

[2020-03-12 00:52] orbeckst commented on #2452
@lilyminium , sorry if my comment above https://github.com/MDAnalysis/mdanalysis/issues/2452#issuecomment-596846159 was a bit confusing. What I wanted to say was that the helanal module is useful (an apparently many people come to MDAnalysis because of it) but it's horrible to use, not well documented, and really out of date compared with almost everything else in MDAnalysis. @fiona-naughton in my

[2020-03-12 06:47] richardjgowers commented on #2443
Its fine I can just do them all in one go

On Thu, Mar 12, 2020 at 00:14, Oliver Beckstein <notifications@github.com>
wrote:

[2020-03-12 10:26] #2600 closed

[2020-03-12 10:26] #2612 closed

[2020-03-12 12:44] shfrz commented on #2604
Hi @lilyminium, what do you mean by "1. Have `n_initial_contacts`?

[2020-03-12 13:51] RMeli commented on #2604
It means to add (have) `n_initial_contacts` as a (documented) attribute of `Contacts`.

[2020-03-12 19:07] #2605 closed

[2020-03-12 21:25] zemanj commented on #2565
As @Naimish240 seems to be unavailable, someone else may give this a go.

[2020-03-12 21:39] IAlibay commented on #2598
@smrpn you may want to give this a go since @siddharthjain1611 hasn't replied.

[2020-03-13 00:24] lilyminium opened #2618 "Pytest 5.4.0 requires parametrize arguments to be explicitly declared"
## Expected behavior ##

Tests pass regardless of `pytest` version.

## Actual behavior ##

Tests [do not pass with recently released pytest 5.4.0](https://travis-ci.com/github/MDAnalysis/mdanalysis/jobs/297586269#L1709-L1721).

[code]

A [new feature](https://docs.pytest.org/en/latest/changelog.html#features) of 5.4.0:

A quick look at ``test_timestep_api.py`` shows that ``TestBaseTimestepInterfa

[2020-03-13 00:40] orbeckst commented on #2618
Thanks, you beat me to it!

[2020-03-13 00:41] orbeckst commented on #2618
Yes!

[2020-03-13 00:41] shfrz commented on #2575
@lilyminium , removing details is not feasible as it generates errors in CusterCollection.py
After fixing the code in ClusterCollection.__init__, other errors follow. Hence, I think we should only update the documentation!

Thanks!

[2020-03-13 01:41] shfrz commented on #2618
@lilyminium , I am at it!
Here's what I am thinking a possible solution might be:
1. adding `def __init__()`  in `TestBaseTimestepInterface`
2.  adding arguments in __init__() and writing error functions for them.
3. running tests to check everything else is fine
Did I get it right?

[2020-03-13 01:48] shfrz commented on #2604
@RMeli  @lilyminium,
Does it require to create `def n_initial_contacts(..)` and proceeding further?

[2020-03-13 03:30] lilyminium commented on #2604
@shfrz No, as `n_initial_contacts` would be a static attribute. I would focus on fixing #2575 and getting a feel for the workflow before working on other issues.

[2020-03-13 10:09] #1893 closed

[2020-03-13 10:36] RMeli commented on #2604
@shfrz If you are not comfortable with OOP in Python I suggest to have a look at [this short introduction](https://realpython.com/python3-object-oriented-programming) since MDAnalysis relies heavily on such concepts. However, I'd follow @lilyminium advice of focusing on a single issue for now.

[2020-03-13 14:41] lilyminium commented on #2452
Sorry @orbeckst, I forgot that face is "confused" (why is it not 🤔?)

helanal is actually the first code I ever tried to run in MDAnalysis when I was still v. new to Python and MD, ~3 years ago. (Then I decided I didn't *really* need to look at helices). But GitHub didn't have a "flashbacks to my honours year" emoji available, so... 😕 I'm glad that it is now getting a revamp.

[2020-03-13 14:43] joaomcteixeira commented on #2377
As both of you have said, **Option 2** sounds a great approach to facilitate both the usage of MDAnalysis analysis frameworks and the incorporation of those by third-party projects.

Following your thoughts, I can envision implementing an automatic command-line maker that would just convert the new MDAnalysis analysis frameworks into `taurenmd` command lines, provided the former are identified.

T

[2020-03-13 16:18] smbrougham opened #2623 "PCA p_components and cumulated_variance incorrect when n_components is specified"
## Expected behavior ##

p_components is a matrix that defines the first n principal components, where n is specified upon initialization. cumulated_variance is a vector that reflects the proportion of the total variance that is explained by the corresponding principal component and the ones that precede it, no matter how many PCs are kept.

## Actual behavior ##

When n_components is specified, p

[2020-03-13 17:08] orbeckst commented on #2377
@PicoCentauri and @joaomcteixeira thank you for your input, this sounds encouraging and gives me confidence to move forward with Option 2.

@PicoCentauri could you please update the [Project 2 description](https://github.com/MDAnalysis/mdanalysis/wiki/Project-Ideas-2020#project-2-command-line-interface-cli) and then send an email to the developer list, letting everyone know that the aims and scope

[2020-03-13 17:12] orbeckst commented on #2377
@joaomcteixeira would you be interested in [co-mentoring a GSoC student](https://google.github.io/gsocguides/mentor/) if we selected one to work on this project? (@joaomcteixeira @fiona-naughton and I would also be available for co-mentoring but it would clearly be very helpful if you could bring your expertise to the table)

[2020-03-13 23:14] born-2learn commented on #2553
@xiki-tempula @lilyminium @IAlibay
Could you please guide me in solving this issue.

Please correct me if I'm not right: An attribute `element` has to be added to `Universe.atoms` that can return the elements that it is composed of.

If the element is not of the standard type, we give the user the power and choice to add it explicitly.

[2020-03-14 02:44] lilyminium commented on #2553
@born-2learn [Elements](https://www.mdanalysis.org/docs/documentation_pages/core/topologyattrs.html#MDAnalysis.core.topologyattrs.Elements) is a [topology attribute](https://www.mdanalysis.org/UserGuide/topology_system.html#topology-attributes) that is intended to describe particle elements. This information is often but not always available in the topology files that MDAnalysis reads. When it isn

[2020-03-14 02:54] AmeyaHarmalkar commented on #2553
@lilyminium @richardjgowers suggested me to work on this. I started with the PDBParsers.py as it was a parser associated with an acquainted file type for me. Just wanted to let you know that I am working on the TPRParser, GMSParser and XYZParser now.

[2020-03-14 03:16] lilyminium commented on #2553
Glad to hear it, @AmeyaHarmalkar. Please don't take my comment as a suggestion that your contribution is incomplete -- I expect this issue will take quite a few PR's to resolve, and I didn't include PDBParser in that list because I saw you had already opened #2624. Could you open separate PRs for each parser?

[2020-03-14 03:34] lilyminium commented on #2553
@xiki-tempula I like that summary, but I feel that making ``Elements``  mixed-type with strings, bools and None will complicate stuff downstream. What about keeping the empty string for non-physical and missing elements? (By the way, the current element guesser *does not* check that the returned element actually exists.) The empty string is falsy anyway, so the below would still work:
[code]

I wo

[2020-03-14 05:28] shfrz commented on #2623
Hi @smbrougham, I have implemented the suggested fix and opened a PR :)

[2020-03-14 06:37] born-2learn commented on #2553
Thank you for the detailed description @lilyminium . I would like on the new PR.

[2020-03-14 08:27] richardjgowers commented on #2553
Feel free to put up a PR for PDB, can solve this incrementally.

On Sat, Mar 14, 2020 at 02:54, Ameya Harmalkar <notifications@github.com>
wrote:

[2020-03-14 13:47] IAlibay commented on #2618
@lilyminium looks like 5.4.1 got released to revert the change: https://docs.pytest.org/en/latest/changelog.html

The fact that this was an "an unintended/surprising behavior", means it might still warrant the change.

[2020-03-14 15:07] xiki-tempula commented on #2553
@lilyminium Thank you for the comment. My major concern that it might be helpful to distinguish if the element is not provided or the element is provided but is not recognised.
Regarding the issue that dumping all the elements which are not recognised to type, complications might raise for gromacs tpr file, where the atom type and element are both provided. Thus, there is a question of whether we

[2020-03-14 17:12] kritika12298 commented on #104
Hello, I am looking forward to contribute to the project related to Atom for GSOC 2020.
Kindly guide me on how to get started.

[2020-03-14 17:21] IAlibay commented on #104
Welcome to MDAnalysis @kritika12298,

If possible, we would ask you that you write an introduction on the [MDAnalysis developer list](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!forum/mdnalysis-devel). Initially I would suggest having a look at the MDAnalysis GSOC [blog post](https://www.mdanalysis.org/2020/02/22/gsoc2020/) and [FAQ](https://github.com/MDAnalysis/mdanalysi

[2020-03-14 22:50] shfrz commented on #2606
Hi @orbeckst
I ain't getting any error. I think @abhiShandy might have changed something locally or not set up a virtual environment properly!

[2020-03-15 02:30] abhiShandy commented on #2606
@shfrz I also suspect that my local environment is faulty. Did you test it with the same Python and OS?

[2020-03-15 03:02] AmeyaHarmalkar commented on #2553
@xiki-tempula @lilyminium In addition to the #2627 where I added the elements attribute to the PDBParser.py along with test cases, I added them to the TPRParser.py as well. I would need some suggestions to implement the Test cases for this PR though.

[2020-03-15 09:17] IAlibay commented on #2606
So I can't reproduce the error using py 3.8.1 (conda hasn't released a main package of 3.8.2 yet). That being said unless someone else tests things with 3.8.2 (particularly on Catalina), it's not possible to tell if this is a reproducible issue or not.

Pinging @RMeli here possibly, as known MacOS user 😉

[2020-03-15 11:18] RMeli commented on #2606
I can confirm this issue on macOS 10.15.3 with Python 3.8.2 and on the developer branch (a2951ee2273c978cb5b08f2e47615c3ae6d989de).

All dependencies apart from `gsd` and `hypothesis` were installed with `conda` using the `conda-forge` channel.

[2020-03-15 13:29] RMeli commented on #2606
To add on this, this issue is _not_ related to `--numprocesses 4`.

[2020-03-15 13:45] IAlibay commented on #2606
@RMeli does #2615 fix things for you?

[2020-03-15 14:09] shfrz commented on #2606
@RMeli @IAlibay
I think this is not an isolated issue, it also happens the other way round : You get no errors locally but Travis Cl shows up errors.
This happens with windows as well.

[2020-03-15 21:42] abhiShandy commented on #2606
Yes, Travis CI didn't catch this issue. I don't know how it works exactly, but it may not be testing with this particular case of OS - Python combination.

[2020-03-15 21:47] IAlibay commented on #2606
It looks like our Travis test matrix only covers py3.6 for osx (linux covers the whole range), which is probably why this didn't get found earlier.

[2020-03-16 07:38] lilyminium opened #2630 "Add contexts to guess attributes better (specifically elements and masses)"
I started writing this as a comment in #2553 but it got, wow, *really* long. Let me know if I should move it there to carry on the discussion, or to #598.

## Is your feature request related to a problem? ##
I think any effort to work with element-dependent stuff like finding hydrogens from H-bond donors (#2521) will be hampered by the element/type guesser, which is not good (...noting that I wrot

[2020-03-16 07:45] mtiberti commented on #2606
Thanks for the report- I can reproduce on macOS Catalina and Python 3.8.2 - @IAlibay #2615 effectively fixes it for me, thanks for this!

[2020-03-16 09:15] jbarnoud commented on #2630
I did not look at the code, but I find the proposal sound. Guessers have always been what frustrates me the most in mdanalysis.

One thing to be aware of is that some contexts will require maintenance and careful versioning. I think especially about a context for the martini coarse grained force field : to guess masses from a gro file, you need your context to know the mapping for all the residues

[2020-03-16 09:39] lilyminium commented on #2630
@jbarnoud Thanks for having a look!

Yes, this is why I think being able to read from a file (preferably straight from a force field file) would be important. In that scenario the user would ideally be to be able to override whatever masses are generated from the parser with:

[code]
perhaps prompted by a helpful warning message.

I don't think it would be practical to try to keep up with force fi

[2020-03-16 10:05] richardjgowers commented on #2630
I like this idea.  To play devil's advocate, I'm not keen on adding more lines to load a Universe - part of what the package does is try and hide complexity, ie masses are magically guessed often.  But maybe it's cleaner and more correct to not guess anything by default to force users to understand what is from their file and what is derived information.

[2020-03-16 10:19] lilyminium commented on #2630
@richardjgowers as `masses` is a mandatory attribute, parsers would guess it themselves. `guess_TopologyAttr` just overwrites whatever values previously existed. For magical guessing, if we write the mass guesser to also consider residue names when present:

[code]
Under the hood, GROParser dumps all the available topology attributes into `Masses.guess_from`, and `Masses.guess_from` then chooses w

[2020-03-16 10:23] #2618 closed

[2020-03-16 10:26] richardjgowers commented on #2630
So would it make sense for the context to do the guessing?

ie
[code]
Where the default `.guess_masses` is just our current function

[2020-03-16 10:26] xiki-tempula commented on #2630
MARTINI all have either 72 (which is the case for non-polarizable version) or 36 and 72 for (polarizable version). The particle which has a mass of 36 can be easily picked up by the presence of the name.
[code]

[2020-03-16 10:27] jbarnoud commented on #2630
I really like that. I would just advocate to ditch the name here, and to refer directly to the object. Just for the sake of reducing complexity.

[2020-03-16 10:35] lilyminium commented on #2630
It could! I left it as a classmethod because I like x.from(y), but it’s probably easier to subclass and modify as a Context method. However my method allows users to match values that are not in the topology by passing it in themselves, which I thought might matter in some way.

Sure. I would leave the name as an option just because it follows the topology format and because MDAnalysis might like

[2020-03-16 10:53] jbarnoud commented on #2630
This is not completely accurate. The "small" beads used (mostly) in rings have a mass of 45 amu. You need to know the topology of the residue to know which beads are small. Added to that, the upcoming version of the force field has 3 bead sizes with different masses and many more molecules. But it is just an example, other cg force fields do have different masses for each particles.

[2020-03-16 21:43] #2396 closed

[2020-03-16 21:45] lilyminium opened #2632 "Non-continuous angles from mdamath.angle"
## Expected behavior ##

`mdamath.angle` calculates angles that are continuous in the domain [-1.0, 1.0].

## Actual behavior ##
[code]

`np.arccos` returns values within [0, pi]. This means that `x==-1.0` returns pi, but `x==-1.00001` due to a rounding off error returns -pi.

## Code to reproduce the behavior ##

[code]

## Current version of MDAnalysis ##

- Which version are you using? (run `py

[2020-03-16 22:22] zemanj commented on #2630
tl;dr: We should *not* guess *anything* by default.

I'd like to take up what @richardjgowers said:

In my opinion, this is not a "maybe". It may appear like a nice convenience feature if properties can be guessed automatically. However, there is no scientifically sound way to get around actually *providing* the correct numbers to obtain reliable data. Results obtained with the help of MDAnalysis

[2020-03-16 23:14] shfrz commented on #2632
Hi @lilyminium , I am at it.

[2020-03-17 05:53] shfrz commented on #2632
@lilyminium , If I am not wrong, it returns `nan` rather than -pi

[2020-03-17 08:10] lilyminium commented on #2632
Yes, `np.arccos(-1.00000001)` will return `nan`, hence the need to

[2020-03-17 16:47] siddharthjain1611 commented on #2558
Hello, everyone, found this issue quite interesting, Please help me proceed with it if no else is assigned.

[2020-03-17 23:17] lilyminium commented on #2469
@xiki-tempula actually I'm surprised your topology didn't have masses, because I thought that was a mandatory attribute that would be guessed if not given.

[2020-03-18 03:25] joaomcteixeira commented on #2377
@orbeckst sorry for the late reply, I couldn't look carefully before because of the events these days.

I am pleased to participate as a co-mentoring in this project together with you and @fiona-naughton (I think you reused twice my user name in your comment by mistake and wanted to mention someone else). I am grateful for your appreciation, indeed! Just let me know on any further details.

[2020-03-18 03:36] HTian1997 commented on #2377
Hi GSoC mentors @orbeckst @joaomcteixeira @fiona-naughton , here is my [draft](https://docs.google.com/document/d/1ZRCu3mT3_dLrkslWDd6t5MHJmgvfLEkyKrK69lMCVP8/edit?usp=sharing) for this command line interface project. Any comment is appreciated! Thanks!

[2020-03-19 01:12] orbeckst commented on #2377
I left a few comments on your draft.

[2020-03-19 09:27] #2575 closed

[2020-03-19 10:31] PicoCentauri opened #2635 "Testing for fragment attribute"
## Expected behavior ##
Checking for the `fragment` attribute

[code]

should give the following consistent output

[code]

## Actual behavior ##

However, while the first works fine and returns `False` the second raises a `NoDataError`.

[code]

## Current version of MDAnalysis ##

- Which version are you using? 0.20.2-dev0
- Which version of Python: 3.7
- Which operating system? macOS

[2020-03-19 17:48] #2502 closed

[2020-03-19 17:56] #2606 closed

[2020-03-19 21:41] joaomcteixeira commented on #2377
Hi @HTian1997 @orbeckst I added some comments to draft. Cheers!

[2020-03-20 01:14] lilyminium commented on #2635
Interesting. I guess you could define `__hasattr__` but... would making `NoDataError` a subclass of `AttributeError` fix this?

[2020-03-20 10:18] #2429 closed

[2020-03-20 10:30] PicoCentauri commented on #2377
@HTian1997 thanks for your proposal! I also took a quick look.

[2020-03-21 02:24] Miro-Astore opened #2637 "Principal axes have inconsistent handedness and signs"
I was comparing the behaviour of the orient package in vmd and the align_to_principal_axis() in mdanalysis and i noticed that I was getting different poses.

When I print out the principal_axes() of my universe I notice that the values are correct, and the basis is orthogonal but they have inconsistent signs, looking at the code I'm not sure why otherwise I would fix it.

proof.
pdb 1unp
program m

[2020-03-21 02:28] Miro-Astore commented on #2637
I think we would all agree that the principal axes should have consistent right handedness as is convention. Or at the very least it should be consistent.

[2020-03-21 23:24] #2590 closed

[2020-03-21 23:58] lilyminium opened #2639 "Generating rmsfit_adk_dims.dcd outside temporary directory"
## Expected behavior ##

There is no `rmsfit_adk_dims.dcd` in `MDAnalysisTests/data/`.

## Actual behavior ##

Two recent unrelated PR's have this mysterious file:

* https://github.com/MDAnalysis/mdanalysis/pull/2614#pullrequestreview-377846128
* https://github.com/MDAnalysis/mdanalysis/pull/2638/files#diff-216eba108275dddf90ef894a79bb8699

## Code to reproduce the behavior ##

I can't reproduce

[2020-03-22 01:06] ss62171 commented on #2598
If anyone is not looking to work on this, can I work on this?

[2020-03-22 03:35] siddharthjain1611 commented on #2639
Actually there was a `rmsfit_adk_dims.dcd` file in a my local repository but I didn't push it.

[2020-03-22 06:48] GomaruSai commented on #2599
Hello!
I would like to know if someone is working on this issue?

[2020-03-22 12:17] IAlibay commented on #2639
Strange, I can't reproduce this on my end either (Ubuntu 18.04 TLS, py3.7).

[2020-03-22 12:33] lilyminium commented on #2639
Yes, I'm not so sure it's a bug, but it is strange that this exact file has popped up twice, and in the `data/` directory, as IIRC the default behaviour of `AlignTraj` is to write to the current directory. Maybe it's a Python version / OS version pairing?

@siddharthjain1611 and @Oscuro-Phoenix, would you mind letting us know which version of Python you're running and on which operating system?

[2020-03-22 12:54] smrpn commented on #2599
@GomaruSai i'm not

[2020-03-22 12:58] Oscuro-Phoenix commented on #2639
Well, I'm using Python 3.7.3 on Ubuntu 18.04 LTS

[2020-03-22 13:17] IAlibay commented on #2599
@GomaruSai as far as I'm aware no one has opened a PR on this, please do go ahead and open one if you'd like to.

[2020-03-22 13:20] IAlibay commented on #2639
@Oscuro-Phoenix starting from a branch that is even with MDAnalysis' `develop`, can you confirm that running pytest on `test_align.py` generates that file?

[2020-03-22 13:26] Oscuro-Phoenix commented on #2639
Sure, i'm on that.

[2020-03-22 13:34] Oscuro-Phoenix commented on #2639
Yes, it generates "rmsfit_adk_dims.dcd".

[2020-03-22 17:44] #928 closed

[2020-03-22 17:44] #2504 closed

[2020-03-22 18:18] orbeckst commented on #2550
Typically, this error occurs when a user is doing something like
[code]
but did not build or install MDAnalysis.

I am not quite sure how we would test this (though maybe using [`mock`](https://docs.python.org/3/library/unittest.mock.html) might be a possibility — ??).

[2020-03-23 06:55] orbeckst commented on #2639
@shfrz – could you please explain your 👎  comment on @Oscuro-Phoenix perfectly reasonable and friendly comment https://github.com/MDAnalysis/mdanalysis/issues/2639#issuecomment-602200553 ? Especially for new community members it can come across as unwelcoming if their comments are marked in this way without any explanation. Our [Code of Conduct](https://www.mdanalysis.org/pages/conduct/) explicitl

[2020-03-23 07:04] orbeckst commented on #2639
Apologies in advance, I haven't had the time to look into this in detail, so just some (potentially irrelevant) remarks:
- `rmsfit_adk_dims.dcd` – could this be generated by the PSA tests?
- Why are we still using a local `tempdir.py` — we should be using `pytest`'s fixture instead.

[2020-03-23 07:47] siddharthjain1611 commented on #2639
So Sorry for the late reply ma'am , I am using Python version 3.7

[2020-03-23 09:02] shfrz commented on #2639
First of all my sincere apologies for the downvote. It was a indeed a
mistake.

@orkbest, the downvote happened unknowingly, there was a little instability
with my cursor and mouse. I didn't even see that comment.

Yes, I totally agree this is a great and healthy community. I haven't been
around here so long but I have surely learned a lot here.

I assure you that I will be more careful next time.

[2020-03-23 09:38] Oscuro-Phoenix commented on #2639
Hey, guys. Its fine, I am sufficiently into this to stay motivated. And, I request all the members to feel free to down-vote anything that deserves it. It will push me to try and ameliorate.

@shfrz Its totally fine.

@orbeckst  Thanks a lot.

[2020-03-23 09:45] lilyminium commented on #2639
All good @shfrz, thanks for clarifying.

Thanks @Oscuro-Phoenix for that. @siddharthjain1611, if you delete the `rmsfit_adk_dims.dcd` file in `testsuite/MDAnalysisTests/data/` now, and re-run `pytest test_align.py`, does the file get regenerated? Are you also on Ubuntu?

I did wonder if something else might be generating it @orbeckst. The criteria for `AlignTraj` writing a file out to `rmsfit_{ori

[2020-03-23 12:58] siddharthjain1611 commented on #2639
Sir, I'm using Mac OS Catalina 10.15.3

[2020-03-23 12:59] siddharthjain1611 commented on #2639
No, ma'am, the file doesn't appear again.

[2020-03-23 15:02] Oscuro-Phoenix commented on #2599
Hi! I'm trying this out.

If you trace the issue back to groups.py in the core module, it seems like unless the periodic key in the dictionary is not specified as periodic=False (during select_atoms function call) it would take it as True by default. Could you (@IAlibay) kindly clarify this ?

[2020-03-23 15:27] IAlibay commented on #2599
I was under the impression that @GomaruSai wanted to work on this issue.

I'm not sure I follow you fully here, but yes this is happening because periodicity is applied by default if a CRYST record exist in the PDB. That being said, we wouldn't want to change the default value of the periodicity flag.

Instead we just want to pick up a case where an 1 A^3 box is defined as a possible EM structure

[2020-03-24 00:33] ss62171 commented on #2598
@IAlibay can I work on this?

[2020-03-24 00:52] daveminh opened #2643 "INPCRD writer"
## Is your feature request related to a problem? ##
I wanted to get the last frame from a trajectory into AMBER INPCRD format to start a different type of simulation (alchemical binding free energy), but wasn't able to do it with mdanalysis.

## Describe the solution you'd like ##
I wrote a [brief module](https://github.com/daveminh/Chem456/blob/master/static_files/tutorials/3cl-pro/YANK/complexes

[2020-03-24 02:54] IAlibay commented on #2643
This would be an awesome addition, would you be willing to open a PR for it @daveminh ?

[2020-03-24 02:57] daveminh commented on #2643
Probably better for someone who actually develops the package. I don't even have a fork.

[2020-03-24 03:09] IAlibay commented on #2598
Sorry @ss62171, I hadn't seen your previous message. Since there's been no PR on this by @smrpn in the last 11 or so days, please do open a PR if you would like to.

[2020-03-24 15:35] Oscuro-Phoenix commented on #2599
I'm kind-of struggling to find the genesis of this default behavior on encountering CRYST. I found that the PDB.py has a section that reads CRYST1 but it doesn't explain the behavior. Any hints on what I might be missing?

[2020-03-24 15:46] IAlibay commented on #2599
So the section you're probably looking for is:
https://github.com/MDAnalysis/mdanalysis/blob/5f513831301492ffcf054c7b57ee6092bf153c41/package/MDAnalysis/coordinates/PDB.py#L391-L400
What we want to do is identify where the unit cell values being fed here define a 1 A^3 box, i.e. when the CRYST1 record is: `CRYST1 1.000 1.000 1.000 90.00 90.00 90.00 P 1 1`.

[2020-03-24 23:13] orbeckst commented on #2643
Generally speaking, people who desire a feature are the most likely ones to actually implement it. The *User Guide* has a section on [Contributing](https://www.mdanalysis.org/UserGuide/contributing.html) that walks you through how to get started. We're also very happy to help – go to the [MDAnalysis Developer Group](https://groups.google.com/forum/#!forum/mdnalysis-devel).

I'd very much encourage

[2020-03-25 01:19] ThanhNguyenVu opened #2644 "A Small Website Update Needed"
## Is your feature request related to a problem? ##
I followed [this guide](https://www.mdanalysis.org/UserGuide/installation) to install MDAnalysis via pip. Because i did not have numpy, the installation was not successful. The website did note that numpy is required for the test package but it did not specifically indicate that it is needed for the "stable version". I think it would be helpful f

[2020-03-25 02:05] ThanhNguyenVu commented on #2598
@IAlibay can I just work on the second one (line 1040-1050) for now? I see @ss62171 has not opened a PR yet and I would like to contribute for GSoC, but I would like to leave something to @ss62171 to that he can contribute too.

[2020-03-25 02:16] ss62171 commented on #2598
@ThanhNguyenVu I was going to open PR for this but since you have to qualify for GSoC I would like you to continue on this as I have already 2 merged PRs. ;)

[2020-03-25 07:04] IAlibay commented on #2644
HI @ThanhNguyenVu,

Thanks for raising this issue. It looks like this relates to the [userguide](https://github.com/MDAnalysis/UserGuide) part of MDAnalysis. Could you also open this issue there?

[2020-03-25 09:48] RMeli commented on #2644
Hi @ThanhNguyenVu , `numpy` _should_ be installed automatically when using `pip`. Can you please give more details about your installation error?

[2020-03-25 13:42] IAlibay commented on #2598
Thanks for being so understanding @ss62171. @ThanhNguyenVu please do open a PR as soon as possible, the deadline is rapidly approaching and review can at best take a couple of days.

[2020-03-25 20:24] ss62171 commented on #2368
@orbeckst I added a test for checking distances taking PBC into account, couldn't figure out why distances calculated are so different. Any suggestion how to do this?

[2020-03-26 18:31] siddharthjain1611 commented on #2417
Please allow me to work on this.

[2020-03-26 22:18] AmeyaHarmalkar opened #2647 "PDB Parsers should provide an elements attribute"
## Elements attribute in PDBParser ##

Related to #2423, #2553 and #2630, the PDBParser does not provide an elements attribute. Primarily have an attribute to define the element of an atom as per the periodic table.

[code]

Elements class exists and enforcing elements would be needed.

[2020-03-26 22:18] AmeyaHarmalkar commented on #2647
@IAlibay just to bring it to your notice

[2020-03-27 17:49] xiki-tempula opened #2649 "the first character in residue name of rotamer is being truncated"
## Expected behavior ##
I have a pdb file which has two rotamers of the same residue.
[code]
However, when loaded with mdanalysis, the residue has the same resume as SER.
[code]
Gives `array(['SER', 'SER', 'SER', 'SER'], dtype=object)`
Instead of `array(['ASER', 'ASER', 'BSER', 'BSER'], dtype=object)`

## Current version of MDAnalysis ##

- Which version are you using? (run `python -c "import MDAn

[2020-03-27 17:57] IAlibay commented on #2649
I'm always a bit fuzzy in my memory of PDBv3 formats but isn't technically SER is the residue in both ASER and BSER? A/B are just altloc tags (i.e. if you called u.residues.altlocs it _should_ return ['A', 'B', 'A', 'B'].

[2020-03-27 17:57] lilyminium commented on #2649
It's because that column of A's and B's are the `altLoc`s. PDB formats only allow [3-letter residue names](http://www.wwpdb.org/documentation/file-format-content/format33/sect9.html#ATOM). Can you [select your rotamers](https://www.mdanalysis.org/UserGuide/selections.html#simple-selections) with the `altLoc` attribute?

[2020-03-27 18:01] xiki-tempula commented on #2649
Thank @IAlibay and @lilyminium for the help.
[code]
works but
[code]
don't.

[2020-03-27 18:03] lilyminium commented on #2649
That's not a very helpful error. Does `u.atoms.altLocs` and `u.residues.altLocs` work respectively?

[2020-03-27 18:04] xiki-tempula commented on #2649
@lilyminium They do work thanks.
[code]

[2020-03-27 18:04] #2649 closed

[2020-03-27 18:06] xiki-tempula commented on #2649
Is it justified that we use `altLocs` instead of `altlocs`? considering that all other Attributes are in lower-class.

[2020-03-28 11:58] lilyminium commented on #2644
@ThanhNguyenVu do you mean the `pip install -e` for building from source? That is definitely missing some dependencies, thanks for bringing it up.

[2020-03-28 12:04] lilyminium commented on #2639
Thanks @siddharthjain1611, although it did pop up again in #2614, so this doesn't seem to be a one-off thing. Maybe we can change `AlignTraj` to open the file writer in `_prepare` instead of `__init__` and see if that helps?

[2020-03-28 21:45] #2469 closed

[2020-03-28 21:54] ss62171 commented on #2598
@ThanhNguyenVu are you willing to work on this?
If yes, can you reply to this.

[2020-03-29 13:30] IAlibay opened #2650 "Roundoff error in MDAnalysis.lib.mdamath._angle?"
So as we are tying off #2634 (which fixes #2632), I noticed that MDAnalysis.lib.mdamath._angle isn't accounting for roundoff errors in the same way, and will just return an angle of 0 if there's a float overflow with:

https://github.com/MDAnalysis/mdanalysis/blob/60eb9d8289f79a3e5a38b788c5e25999bbe185e4/package/MDAnalysis/lib/mdamath.py#L157

I am probably mis-understanding what `_angle` is meant

[2020-03-29 14:59] Oscuro-Phoenix commented on #2650
Are you using the angle function (having np.clip()) with rad2deg in the end?

[2020-03-29 15:04] IAlibay commented on #2650
If you are referencing to #2632, this is a separate function from `mdamath.angle` @Oscuro-Phoenix.
Although it is related, the question (probably for @richardjgowers who seemed to have transplanted the function there) is if we do actually need to use `np.clip()` here too, or if the behaviour, as it currently is, is intended.

[2020-03-29 15:07] Oscuro-Phoenix commented on #2650
I was just pondering the reason for not adding np.clip() straightaway. Now I see, this may be intended.

[2020-03-29 15:22] IAlibay opened #2651 "Removing guess by default in TOPParser"
## Is your feature request related to a problem? ##

So a mix between a bug and feature request.
In light of #2630, especially https://github.com/MDAnalysis/mdanalysis/issues/2630#issuecomment-599784226 I went back and looked at the element parser for the TOPParser. I noticed that not only is it by default guessing elements (using `guess_types` if the `ATOMIC_NUMBER` record isn't provided), but it

[2020-03-29 15:55] IAlibay commented on #2651
To add context here, I suddenly realised that AMBER does offer a united atom force field (ff03ua) [as far as I am aware no CG though?]. It looks like the default here is to set the ATOMIC_NUMBER to the element of the heavy atom (i.e. C in CH3). See the following parm7 snippet fo alanine dipeptide:
[code]
I'm not a united atom FF user, so I don't know if using the ATOMIC_NUMBER to get the elements

[2020-03-29 16:29] zemanj commented on #2651
@IAlibay Yeah that looks like a tricky one. I don't know whether there exists a convention on defining atomic numbers for united-atom groups. Doing so seems just blatantly wrong to me, but here's my two cents on the topic:

I think there is no more exact way of defining an element than by supplying its atomic number. Thus, the AMBER ff03ua file you pasted claims that CH3 groups are actually carbon

[2020-03-29 17:52] ss62171 commented on #2368
Do i need to fix this in different PR?

[2020-03-29 20:25] ss62171 commented on #2598
@IAlibay can you review this PR.

[2020-03-29 22:01] lilyminium commented on #2650
Is it used anywhere?

I think one of the scenarios its meant to cover is when `norm(a)` or `norm(b)` are 0. Maybe I'm uncreative but I don't think that can ever happen for a non-zero vector?

[2020-03-29 22:29] lilyminium commented on #2651
I agree with @zemanj re: validation. PDB elements are validated in #2553 which is necessary for the MDAnalysis paradigm for now, but if/when the guessing system is overhauled, we should take the input as canon. If I've gone to the trouble of labelling some of my atoms 'X' in the element column, I would want that information in MDAnalysis as well. If you squash and replace invalid values with an em

[2020-03-29 22:44] #2632 closed

[2020-03-30 06:54] #2647 closed

[2020-03-30 06:56] IAlibay commented on #2553
#2627 only partly fixed this issue, re-opening.

[2020-04-01 00:34] CryoSky opened #2653 "Error when reproduce the example"
## Expected behavior ##

I tried to run the code
from MDAnalysis.tests.datafiles import TRZ_psf, TRZ
import MDAnalysis as mda
from MDAnalysis.analysis import polymer
u = mda.Universe(TRZ_psf, TRZ)
# this system is a pure polymer melt of polyamide,
# so we can select the chains by using the .fragments attribute
chains = u.atoms.fragments
# select only the backbone atoms for each chain
backbones = [

[2020-04-01 00:57] #2653 closed

[2020-04-01 00:57] CryoSky commented on #2653
Found same error report on #2589

[2020-04-03 02:21] tylerjereddy opened #2654 "MAINT: generate_streamlines_3d() issue?"
I'm transferring this from a mailing list inquiry and pasting the sample code below (possibly with formatting/indentation issues). The description on the mailing list suggests the results are not as expected/the plot is not useful.

The two input files are attached to the mailing list message from 30 Mar 2020. I'll try to take a look soon-ish to see if there is an actual bug or just docs need impr

[2020-04-03 20:03] Purva-Chaudhari commented on #2623
Hello everyone, Is the issue still open ?

[2020-04-05 00:33] ss62171 opened #2655 "instance of pip installed outside the current conda environment is used."
## Actual behavior ##
If we install MDAnalysis using virtualenv then basic tools like `pip` are installed automatically however if we install MDA using conda environments then `pip` is not installed initially to conda env. According to [setup development env docs](https://github.com/MDAnalysis/mdanalysis/wiki/Setup-Development-Environment) we have to install packages like `numpy` and `cython` usin

[2020-04-07 08:02] jonekoo opened #2656 "select_atoms("around 0.0 protein") produces segmentation fault."
## Expected behavior ##
The result should be an empty AtomGroup.

## Actual behavior ##
A segmentation fault results and the program crashes:
[code]
gdb backtrace:

[code]
## Code to reproduce the behavior ##

[code]

## Current version of MDAnalysis ##

- Which version are you using? (run `python -c "import MDAnalysis as mda; print(mda.__version__)"`)
0.20.1
The problem is reproducable in multipl

[2020-04-07 23:29] ss62171 commented on #2550
_cutil is first C extension submodule that compiles, this generates a `.so` file on compiling. So basically if cython files are not compiled properly then this error occurs. Like if we delete this `.so` file then we can replicate this error since we won't be able to find this _cutil module.

[2020-04-07 23:29] ss62171 commented on #2550
@orbeckst can I put a PR for this?

[2020-04-07 23:34] orbeckst commented on #2550
I don't think that we should consider crippling the installation during a test, i.e., there shouldn't be a test that deletes necessary files from the installed package. For a start, this breaks parallel tests but it might also break the package if you're running tests in one process and using the package in another (even if this might be rare).

While developing a test you could certainly do this

[2020-04-07 23:35] orbeckst commented on #2550
I don't see a PR linked to this issue so please by all means, put up a PR @ss62171 !

[2020-04-07 23:38] orbeckst commented on #2656
I can reproduce the segfault with the latest develop on macOS 10.12.6 with Python 3.7.6.

[2020-04-07 23:45] orbeckst commented on #2650
It looks as if we should just check if either of the lengths is 0
[code]

Maybe worthwhile checking where we're using `_angle()`.

[2020-04-08 00:21] ss62171 commented on #2550
Should I add a try except block where this module is imported as @richardjgowers mentioned?

[2020-04-08 01:12] orbeckst commented on #2550
Try it and see if it is a good solution.

[2020-04-08 06:58] lilyminium commented on #2650
I don't think `_angle()` is used anywhere? Maybe it's best to just fold this check into `angle()`.

[2020-04-08 23:47] tylerjereddy commented on #2598
@IAlibay Looks like your third suggested code block can't be reached--dead code. You may want to remove that one and open a separate issue for that matter. See related discussion in cognate PR.

[2020-04-09 04:10] #2598 closed

[2020-04-09 05:03] IAlibay commented on #2598
Thanks for working this out @ss62171 and @tylerjereddy!

re: https://github.com/MDAnalysis/mdanalysis/pull/2652#issuecomment-611250117

That's pretty much exactly what happened :) The above mentioned parts of the code were more "examples for things not covered that GSOC students could do" rather than "these definitely need testing". My apologies if this led to some wasted time, that being said, fi

[2020-04-09 14:39] tylerjereddy commented on #2598
Ok, I'll do it, but there's not much extra to understand--there's an unreachable code path in your third case.

[2020-04-09 14:45] tylerjereddy opened #2658 "MAINT: unreachable code path in align.py"
There's an unreachable code path in `analysis/align.py`. For details, see #2598 and in particular the extended discussion in #2652, concerning `get_matching_atoms` strict diagnostics (approximate lines: 1298-1323). I'll paste the block below. There are a few AST parsers that can help catch these things sometimes. NumPy uses [`vulture`](https://github.com/jendrikseipp/vulture) to catch dead code pa

[2020-04-10 13:07] #2658 closed

[2020-04-12 07:35] priyanshu20 commented on #2063
is this still relevant?
i would like to try this.

[2020-04-12 09:56] orbeckst commented on #2063
In principle yes. I wouldn’t just do a find and replace, though. Start by identifying potential performance bottle necks, benchmark existing code, then change it, benchmark, and present the results including speed-up as part of a PR. You can open PRs for individual cases — we much prefer reviewing small PRs that only touch one or two files as opposed to mega-PRs that change code in many places.

[2020-04-12 20:50] kain88-de commented on #2063
Not sure if we can see this in benchmarks. Those are micro-optimizations that are likely masked by other things in our code. The individual places will have to be judged on a one-by-one basis. This cannot be done with a find and replace. This is because we need to copy in a pre-existing array. If the copy array is assigned to a new variable the old code is fine.

[2020-04-14 00:25] lilyminium opened #2661 "Add .frames, .times to AnalysisBase"
## Is your feature request related to a problem? ##

I find myself needing to re-generate the frame indices / times of the trajectory slice used in AnalysisBase for almost every analysis to make a meaningful graph. Conversely it's extra work to slice `RMSD.rmsd` and it's the only class that does that to its results (add the frame index and time to the first 2 columns).

## Describe the solution yo

[2020-04-14 08:22] richardjgowers commented on #1861
Another request for this: https://groups.google.com/forum/#!topic/mdnalysis-discussion/7gnJ-dLLZsc

[2020-04-16 07:26] #2599 closed

[2020-04-20 12:32] lilyminium opened #2663 "Ensemble of Universes"
## Is your feature request related to a problem? ##

I think a lot of people simulate in replicate and need to account for that, calculating PCA for a shared subspace or clustering over an ensemble, etc. It's always a bit tedious tracking which frame is from where. Also, analyses like the encore library operate on ensembles. Encore deals with this by merging them into a new Universe and pulling al

[2020-04-20 16:33] orbeckst commented on #2661
Sounds like an excellent idea and good use of AnalysisBase.
- Are there any classes where we don’t need it (e.g. `RMSF`, `DensityAnalysis`) and if so, is there a way to disable it? (Sorry, didn’t review any code)
- Deprecate the additional columns in `RMSD` — this is especially important for 1.0 docs: we would like to have a consistent picture and examples with RMSD are common.

[2020-04-20 16:35] orbeckst commented on #2661
Regarding the deprecation in `RMSD`: I don’t really know how to do it cleanly except introducing a new attribute (but any name but `.rmsd` sounds worse) or hard-breaking code.

[2020-04-20 16:41] orbeckst commented on #2663
That’s a neat idea. It’s also fairly localized so could even be labelled “experimental” for a start until we figure out under which circumstances it breaks.

I also like it because with ChainReader and Ensemble we would be supplying functionality to aggregate existing data in a way that makes analysis simpler.

[2020-04-22 00:07] #2550 closed

[2020-04-22 06:06] #2368 closed

[2020-04-22 06:08] lilyminium opened #2666 "Provide AtomGroup selections to Contacts"
## Feature request ##
_Originally posted by @orbeckst in https://github.com/MDAnalysis/mdanalysis/issues/2368#issuecomment-545079547_

* Add AtomGroup functionality:
  - It is  clunky that I have to provide *selections* instead of AtomGroups for `Contacts(..., selections=...))` to indicate which groups the contacts are formed between. I should be able to use static AtomGroups (cannot be dynamic).

[2020-04-22 18:00] daveminh opened #2667 "Documentation doesn't build with sphinx >= 2.0"
## Expected behavior ##

Documentation would build and I could see it in doc/html/index.html, as described here: https://numpydoc.readthedocs.io/en/latest/format.html#docstring-standard
## Actual behavior ##

Attempting to autodetect OpenMP support... Did not detect OpenMP support.
No openmp compatible compiler found default to serial build.
Will attempt to use Cython.
/miniconda2/envs/mdanalysis-

[2020-04-23 00:48] lilyminium opened #2669 "SameSelection should have an option for indices"
## Expected behavior ##

`byres` and `same residue as` selects the whole residue for each atom in the subsequent selection, by the canonical and unique resindex. Likewise `same segment as` uses `segindex`.

## Actual behavior ##

`byres` and `same residue as` use the user-supplied, potentially repeated `resid` values. `same segment as` uses `segid`. This is redundant as you can already use `same r

[2020-04-23 08:45] richardjgowers commented on #2669
Oops yeah, that's the whole reason we have `ix` and friends

[2020-04-23 08:58] richardjgowers opened #2670 "capped distance fails for very small (<0.1A) boxes"
## Code to reproduce the behavior ##

[code]

Doesn't seem to fail when boxsize is 0.1, so not likely to actually impact anyone.

## Current version of MDAnalysis ##

- Which version are you using? (run `python -c "import MDAnalysis as mda; print(mda.__version__)"`)

v0.21 dev

- Which version of Python (`python -V`)?
- Which operating system?

[2020-04-23 09:00] richardjgowers commented on #2670
I've narrowed it down to this access (but not the why):

https://github.com/MDAnalysis/mdanalysis/blob/develop/package/MDAnalysis/lib/nsgrid.pyx#L691

[2020-04-23 09:07] richardjgowers opened #2671 "tests timing out"
Travis has a 50 min timeout and it looks like our tests are getting very close to that and occaisionally timing out.  It's very likely a 90/10 situation so rewriting a few tests can probably shave a few minutes off the average time.

[2020-04-23 22:29] orbeckst commented on #2667
Thanks for noting the build issue. This seems easy enough to fix in the encore docs.

I am wondering why our travis tests for docs are not catching this problem, given that we run `python setup.py build_sphinx` ... https://github.com/MDAnalysis/mdanalysis/blob/400f93cd94626ae94de0fa5ab283beac5aa3ad40/.travis.yml#L51-L58 ... and I thought the `-E` was implied somewhere.

[2020-04-24 15:31] RMeli opened #2672 "byres selection fails with insertion code"
## Expected behavior ##

Correct `byres` selection for PDB files.

## Actual behavior ##

Using `byres` with PDB files containing insertion codes leads to erroneous selections, where all residues with the same number but different insertion codes are selected.

This is linked to #2308.

## Code to reproduce the behavior ##

[code]

with `p_icode.pd`

[code]
and `p.pdb`

[code]

## Current version

[2020-04-24 15:41] IAlibay commented on #2672
Please correct me if I'm wrong, I _think_ this is related to #2669?

[2020-04-24 15:47] RMeli commented on #2672
Yes, I completely missed #2669. Different problem but same underlying cause.

[2020-04-24 15:56] IAlibay commented on #2672
I find this particularly case rather entertaining to overthink though. As far as I am aware `byres` probably is doing it's job, since ASP14 and LYS14A are technically both residues 14...

As Richard alluded to (https://github.com/MDAnalysis/mdanalysis/issues/2669#issuecomment-618267827), an implementation of `bryes` that uses `residinces` instead (`byresidx`? `byridx`? `residx`?) would be advantag

[2020-04-24 22:45] lilyminium commented on #2672
The documentation says `byres` is synonymous to `same residue as`, so I think this counts as an error. As I pointed out in #2669 we already have `same resid as` for the resid bits. Either way as long as we have *one* method that works, that'll do.

https://github.com/MDAnalysis/mdanalysis/blob/400f93cd94626ae94de0fa5ab283beac5aa3ad40/package/MDAnalysis/core/selection.py#L1013-L1029

As far as I ca

[2020-04-25 08:33] RMeli commented on #2672
Absolutely! I had the two file names inverted when I run the code snippet and forgot to fix it. This is the correct output, sorry for the confusion:

[code]

[2020-04-25 08:42] RMeli commented on #2672
[code]

Changing the mapping to `'residue': 'resindices'` works as expected:

[code]

[2020-04-25 09:54] lilyminium commented on #2308
Replying to @RMeli https://github.com/MDAnalysis/mdanalysis/issues/2672#issuecomment-619344384 here because it seems more relevant:

I think suddenly making `resid` string-type would break *a lot* of code out there, including mine. 🙃

If a new topology attribute is added, it's probably best that the special resid-icode selection get moved to that token to avoid the mismatch here between the select

[2020-04-25 10:09] RMeli commented on #2672
I can confirm that the following mapping
[code]
and changing `byres` to use `resindices` as follows
[code]
solve the problems outlined here and in #2669.
[code]

Mapping both `'residue': 'resindices',` and `'resid': 'resindices',` is redundant (as noted in #2669), but I think that leaving `resid` selection will lead to wrong results in edge cases (see #2308). The changes do not seem to break any c

[2020-04-25 10:27] lilyminium commented on #2672
@RMeli feel free to open a PR but I don't think mapping `resid` to `resindices` and especially `segid` to `segindices` is a good idea. The main issue with #2308 seems to be the mismatch between the selection "resid 30A" and the `resid` attribute, which can be fixed by adding a new attribute that combines the residue numbers and the insertion codes. Changing the type and contents of `resid` would b

[2020-04-25 11:33] RMeli commented on #2308
I agree changing `resid` to a string is not a viable option (and will have consequences on performance). The problem I was rising here is that `resid` works correctly on selection, but the attribute stored does not match the selection (`resid 1A` will correctly select residue `1A`, but the `resid` attribute will only contain `1`).

I think issues  #2669 and #2672 can be solved by using `resindices

[2020-04-25 11:49] lilyminium commented on #2308
Ah, we may have been talking past each other a little. From my perspective then the `resid` attribute values are fine as is. Instead, it's `ResidSelection` that has unexpected behaviour, and selecting `"resid 1A"` should give an error instead; you should be required to select `"resid 1 and icode A"` for the 1A residue. Of course this will annoy anyone who uses the resid shorthand...

[2020-04-25 11:55] RMeli commented on #2672
@lilyminium I complete agree that changing the content of `resid` is not feasible nor desirable at this stage (although I still think that an ID should be an unique identifier; for the residue number only we already have `resnum`).

My suggestion of `resid` to `resindices` mapping was motivated by the fact that the intended use of the selection `"same resid as (around 2.0 resnum 13)"` is to select

[2020-04-25 12:10] lilyminium commented on #2672
@RMeli that sounds good! It would be nice to have the `"same resid as"` selection work the way it looks in the very rare case that someone does need to select all residues with the same `resid` across icodes and chains and wrapped-around PDBs and what-have-you, especially since `"same residue as"` and `"byres"` will both exist to select the actual residue.

[2020-04-25 12:11] RMeli commented on #2308
Yes, I think I might be interpreting `resid` in a different way... =)

I interpret it as it is used in `select_atoms` where if you have residues `1`, `1A` and `1B` the selection `resid 1` will only select `1` (in contrast, `resnum 1` will select all three). That is, for me `resid` should be an unique identifier.

They way you interpret `resid` is the way I interpret `resnum`; in fact selecting `re

[2020-04-25 13:45] RMeli commented on #2672
Sure! But I think this could also be achieved by `same resnum as`, or am I missing something?

[2020-04-25 14:10] lilyminium commented on #2672
I generally believe that things should do what they look like they do. In this case, I think `"same resid as ..."` should return all atoms with the same `.resid` attribute as `...`, and in fact that should happen for all topology attributes (which could be unambiguously achieved by using `TopologyAttrMeta` to update `SameSelection.prop_trans`). If every topology attribute *except* `resid` returned

[2020-04-25 15:39] RMeli commented on #2672
Your point on masking is a really good one and I completely agree that your code snipped should work. And I also agree that changing `resid` to `resindices` is dangerous since there would be a mismatch between the selection `same resid as` and what it is actually returned.

I guess the point I'm trying to make, also in #2308, is that `resid` should not be a simple alias of `resnum`, but should be

[2020-04-25 16:51] orbeckst commented on #2308
More general question: do we have a comparison of how different commonly used (bio) comp chem software does selections? What’s common, whats’s different?

IIRC there was also a list of topology attributes on the wiki (and probably now in the User Guide?) that explained what they were supposed to mean. Eg resnum vs resid. It would be important to get the semantics defined for once and all.

[2020-04-25 21:22] RMeli commented on #2308
@orbeckst Below I compare MDAnalysis, PyMol and ProDy. I will try to add other comparisons in the coming days, but I already outlined the problems I see with MDAnalysis.

I edited earlier today the description of this issue to note that @lilyminium already added information about using insertion codes with the `resid` selection in the [User Guide - Simple Selections](https://www.mdanalysis.org/Use

[2020-04-26 00:03] lilyminium commented on #2672
Yes, you're totally right that the implementation of the `resid` label doesn't match up with the name and it should be different to `resnum`. It has just been around for so long that I feel the easiest solution is to make a new attribute and go with that instead, possibly deprecating `.resid` (and think very hard about the current uses of `.resid` in the code, the dihedral selections should probab

[2020-04-26 01:05] lilyminium commented on #2308
@RMeli no, [I don't think there's a way to select an empty string](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/mdnalysis-discussion/zIzhgq1vpTc/htOtWnQ5EwAJ). Thanks for the thorough summary of the issue!

To add (all but mdtraj are from skimming google, so feel free to correct):

* [mdtraj](http://mdtraj.org/latest/atom_selection.html) does not keep insertion codes, b

[2020-04-26 19:23] richardjgowers commented on #2308
It sounds like we need a special dtype for the resid array that then allows
comparison and ordering of both integers (26) and strings (“26A”). All
working on resids get coerced to the special dtype so it works as expected
and all resids include icodes by default. I’ll see if I can make the struct
in numpy...

On Sun, Apr 26, 2020 at 08:32, Rocco Meli <notifications@github.com> wrote:

[2020-04-26 21:04] tylerjereddy commented on #2450
Note that SciPy has started accepting PRs that add type hints to source code, so maybe the time for doing this is not really so far away. May want to wait until we officially drop Python 2 support, as noted above.

[2020-04-29 21:52] andrrizzi opened #2674 "Aux does not rewind after getting last frame"
## Expected behavior ##

Getting timesteps after retrieving the last frame should give the correct auxiliary information.

## Actual behavior ##

I ran into an issue with a trajectory augumented with an `XVGReader` where after obtaining the last `Timestep` with
[code]
the auxiliary information of all the next timesteps obtained through `__getitem__` would be `nan`. I narrowed down the issue to [th

[2020-04-30 22:23] xiki-tempula opened #2675 "Unifying the input for the RMSD and RMSF"
## Is your feature request related to a problem? ##
The `MDAnalysis.analysis.rms.RMSD` accepts both AtomGroup or Universe but `MDAnalysis.analysis.rms.RMSF` only accepts AtomGroup.

## Describe the solution you'd like ##
I think the RMSF should accept Universe as input as well. When Universe is given as input, all the atoms in the Universe will be considered, which is the behaviour of RMSD when gi

[2020-04-30 23:25] lilyminium commented on #2674
I noticed this bug as well -- thanks for figuring out why @andrrizzi! This is the code I used, which could work as a minimal case / test:

[code]

[2020-04-30 23:29] lilyminium commented on #2675
In general a more similar interface to `RMSD` would be convenient; passing in a Universe and a `select` string to select from the Universe atoms for example, or passing in a `reference` and `ref_frame` and aligning on-the-fly.

[2020-04-30 23:53] lilyminium opened #2676 "AuxSelection"
## Is your feature request related to a problem? ##

[Using a string to select atoms based on custom dynamically-updating data is not currently feasible in MDAnalysis](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/mdnalysis-discussion/Z5NZCsy6sHU/MDEL8MfzCQAJ). Especially when the user wants an UpdatingAtomGroup.

## Describe the solution you'd like ##

For that question

[2020-05-04 20:51] RMeli commented on #2422
This should be addressed by #2648?

[2020-05-05 01:55] lilyminium opened #2678 "Can only write mol2 file once"
## Expected behavior ##

I should be able to write any number of mol2 files from a Universe.

## Actual behavior ##

It raises an IndexError the second time, something is happening with `check_sums`

## Code to reproduce the behavior ##

[code]

## Current version of MDAnalysis ##

- Which version are you using? (run `python -c "import MDAnalysis as mda; print(mda.__version__)"`) 0.20.1 but does t

[2020-05-05 05:28] jbarnoud commented on #2422
Indeed, it should be.

[2020-05-05 05:28] #2422 closed

[2020-05-05 11:29] jaimergp opened #2679 "Can't write PDB if dimensions is None"
## Expected behavior ##

I am using `mda.Universe` objects to handle multiformat IO in one project. A common workflow involves ingesting PDB IDs and writing PDBs to disk.

## Actual behavior ##

I have found at least one PDB ID that makes this simple process fail with this error:

[code]

## Code to reproduce the behavior ##

[code]

## Current version of MDAnalysis ##

- Which version are you usi

[2020-05-05 12:10] richardjgowers commented on #2679
thanks @jaimergp .  As a workaround for now...
[code]
 but yeah the Writer shouldn't be failing like this.

[2020-05-11 23:31] orbeckst commented on #2674
@andrrizzi thank you. If you could put up a minimal PR then that could be a starting point for others to jump on.

Normally, when we review these PRs we will invariably ask you to add test cases etc. If you can find the time to do this (maybe using @lilyminium 's example) then that would be awesome. But even if not, you can always state that you just don't have the bandwidth to do it at the moment

[2020-05-11 23:38] orbeckst commented on #2675
I think many novice users would really like it if RMSF were to perform at least the superposition and then these additional arguments https://github.com/MDAnalysis/mdanalysis/issues/2675#issuecomment-622173334 would be needed.

(Making trajectories whole is still awkward because the performance is low, maybe @richardjgowers 's NumFOCUS summer project will fix this.)

[2020-05-12 14:13] #2247 closed

[2020-05-14 10:06] orbeckst commented on #2623
cc @ianmkenney @VOD555 – this is the same issue that you mentioned recently in our internal discussions

[2020-05-14 10:20] #2661 closed

[2020-05-14 15:36] tylerjereddy opened #2681 "MAINT: tempdir cleanup"
As discussed in #2680, we can probably remove `testsuite/MDAnalysisTests/tempdir.py`, preferring the upstream implementation in `pytest` `tmpdir` over maintaining our own.

This should be a fairly straightforward migration--just double check there are no testing artifacts left over after running the full suite locally.

I can probably do this soon-ish..

[2020-05-15 07:12] #2678 closed

[2020-05-15 12:33] lilyminium commented on #2667
Are you running sphinx 3.0.2-ish? For me, 3.0.3 is unhappy when:

-  the `.rst` files autodocument a module with members, when the module docstring also autoclasses or autofunctions something
- a class docstring documents methods that have their own docstring, or an attribute with its own docstring

The test suite installs 1.8.5 and that builds the docs fine for me. It looks like upgrading Sphinx

[2020-05-15 17:29] #2669 closed

[2020-05-15 17:29] #2672 closed

[2020-05-15 21:29] #2681 closed

[2020-05-16 08:39] andrrizzi commented on #2674
Will do! If @lilyminium has no objections to me stealing their example, I'd be happy to include it in the PR as well as a unit test.

[2020-05-16 09:36] andrrizzi commented on #2674
Actually, I think I managed to make a similar test case inspired by the existing ones. Opening the PR soon.

[2020-05-17 01:20] orbeckst commented on #2674
Thanks for submitting the PR!

[2020-05-18 05:16] #2623 closed

[2020-05-18 20:45] #2674 closed

[2020-05-20 02:15] lilyminium commented on #2206
@IAlibay does #2505 fix this or does it require #2525 as well?

[2020-05-21 08:52] darmis007 opened #2687 "AtomGroup.residues"
## Expected behavior ##
COMMAND - list(u.atoms[100:130].residues)
[<Residue LEU, 6>, <Residue GLY, 7>, <Residue ALA, 8>]

## Actual behavior ##
Traceback (most recent call last):
  File "exmple.py", line 11, in <module>
    print(list(u.atoms.n_residues))
  File "c:\users\user\opens\mdanalysis\package\MDAnalysis\core\groups.py", line 2301, in n_residues
    return len(self.residues)
  File "c:\use

[2020-05-21 13:33] junghans opened #2688 "python3.9: AttributeError: module 'MDAnalysis.analysis.encore' has no attribute 'KMeans'"
## Expected behavior ##

Test would run.

## Actual behavior ##

Test fails with:
[code]

More details in RedHat issue tracker: https://bugzilla.redhat.com/show_bug.cgi?id=1838445

## Code to reproduce the behavior ##

`rpmbuild -ba  python-mdanalysis.spec` with this [python-mdanalysis.spec](https://src.fedoraproject.org/rpms/python-MDAnalysis/blob/master/f/python-MDAnalysis.spec)`

## Current ver

[2020-05-21 13:45] IAlibay commented on #2688
Do we know if py3.9 is properly supported by sklearn? (i.e. could this be an upstream issue?)

[2020-05-21 14:33] tylerjereddy commented on #2688
Not sure, but Python 3.9 stable won't be released until October 2020 I think. Some projects will run it in their CI (SciPy uses the nightly build of 3.9, for example), but I don't think there's any reasonable expectation of official support until the stable release.

[2020-05-21 15:06] junghans commented on #2688
Fedora has the tendency to test all packages before the python release goes live and that is where   the above error showed up.

It seems sklearn is broken: https://bugzilla.redhat.com/show_bug.cgi?id=1838489

[2020-05-21 17:41] orbeckst commented on #2687
This works fine on macOS Python 3.7.6
[code]
I don't have a Windows machine to test locally.

I am not sure if we test this exact problem with our test suite. The first thing for a PR would be to write a test case and see it fail. Then making sure that the types agree.

@darmis007 Given that you already have identified the potential problem, would you be able to contribute the fix and start a pull

[2020-05-21 18:13] darmis007 commented on #2687
Yes i will contribute to the fix and make a pull request soon

[2020-05-21 18:31] lilyminium commented on #2687
Yes the failing test case would be crucial  @darmis007. The fundamental issue here is that MDAnalysis is relying on C longs being 64-bit, whereas on Windows they are 32-bit. I would assume that this isn’t the only point of failure and we need a way to make sure new code doesn’t do this either. Do the Appveyor Visual Studio architectures not use Windows data types?

[2020-05-21 19:02] tylerjereddy commented on #2687
They should--probably just need to add an appropriate test. I do have access to a Windows dev machine if we need to check something.

[2020-05-21 19:03] richardjgowers commented on #2687
Yeah we do have windows builds currently, but they must use a 64 bit
interpretation of long. It’s an oddity of C that long is ill defined.

On Thu, May 21, 2020 at 19:32, Lily Wang <notifications@github.com> wrote:

[2020-05-21 19:04] tylerjereddy commented on #2687
I was also working on 32-bit support in another PR, may be good to check if this is 32-bit Windows. I don't think devs were necessarily in favor my effort to support 32-bit archs though.

[2020-05-21 21:03] IAlibay commented on #2687
In terms of why appveyor isn't picking this up, I interestingly cannot reproduce this behaviour on 0.20.1 (not tried dev yet, need to work out how to build it on windows...), which might indicate a type of system dependence.

@darmis007 can you confirm what `System Information` returns for "System Type" (might help narrow down if it's a 32bit thing).

Test system:
OS: Windows 10(Pro) 10.0.18363 Bu

[2020-05-21 21:57] IAlibay commented on #2687
Update: a 0.20.2-dev0 build on the same machine as https://github.com/MDAnalysis/mdanalysis/issues/2687#issuecomment-632344623 didn't show any issues.

Note: this is trying to follow as much as possible the appveyor config. However, maybe one other possible avenue for differences is the C++ compiler used. This test used MSC v.1916 64bit.

[2020-05-22 03:00] criosx opened #2690 "LinearDensity Invalid Box Problem"
When attempting to calculate the linear density of a molecular selection using MDAnalysis.analysis.lineardensity.LinearDensity(), and the selection does not have a dimension (box) set, i.e. [0, 0, 0, 90, 90, 90], the routine raise a value error:
[code]
The error is raised in the function wrap() in groups.py, line 1422:
[code]
Setting the dimensions of the selection to a valid value like in the fol

[2020-05-22 07:07] lilyminium commented on #2690
Hi @criosx, box dimensions are considered a dynamic attribute that updates each frame, because the box will change in NPT simulations. The easiest solution is probably to set the box for each timestep/frame with [on-the-fly transformations](https://www.mdanalysis.org/docs/documentation_pages/trajectory_transformations.html).

[code]

You could also [write your trajectory](https://www.mdanalysis.or

[2020-05-22 07:09] #2690 closed

[2020-05-22 07:13] lilyminium opened #2691 "Inbuilt on-the-fly transformation to set box dimensions"
## Is your feature request related to a problem? ##

A [common source of frustration is not having user-set dimensions persist across a trajectory.](https://github.com/MDAnalysis/mdanalysis/issues/2690)

## Describe the solution you'd like ##

Have an in-built trajectory transformation that you could use to accomplish that.

[code]

or similar.

## Describe alternatives you've considered ##

## Ad

[2020-05-22 07:22] lilyminium opened #2692 "XYZWriter ignores remark argument"
## Expected behavior ##

The XYZWriter writes the `remark` argument in the comment/molecule name line between the number of atoms and the coordinate body.

https://github.com/MDAnalysis/mdanalysis/blob/b341090aaa0bace9b946316ebf1e5bf965b026da/package/MDAnalysis/coordinates/XYZ.py#L147-L149

## Actual behavior ##

`XYZWriter.remark` is set but nothing is done with this attribute. Instead, it writes

[2020-05-22 12:23] darmis007 commented on #2687
Sir i have following system config
Windows 10 Home
64bit OS , x64 based processor
MDAnalysis - 0.20.2-dev0

[2020-05-22 12:26] IAlibay commented on #2687
That's rather interesting, do you know what C++ compiler you are using @darmis007 ?

[2020-05-22 12:30] darmis007 commented on #2687
following gcc compiler
realgcc.exe (Rev1, Built by MSYS2 project) 7.2.0
Copyright (C) 2017 Free Software Foundation, Inc.

[2020-05-22 22:07] tylerjereddy commented on #2687
@darmis007 Maybe check some of the suggestions here to see if you are using 32-bit Python interpreter: https://stackoverflow.com/questions/1405913/how-do-i-determine-if-my-python-shell-is-executing-in-32bit-or-64bit-mode-on-os

[2020-05-22 22:09] tylerjereddy commented on #2687
We could add 32-bit interpreter to CI, but I certainly recognize Richard's apprehension about the maintenance burden/value ratio (though it could serve those with access to limited hardware) and whether a low-level (C/Cython) patch is healthier than the type coercion stuff.

[2020-05-22 23:18] tylerjereddy commented on #2687
For completeness, I've reproduced the reported issue locally in a 32-bit Windows Python interpreter, on a machine that is otherwise "64-bit Windows":

[code]

[code]

[2020-05-23 00:50] #2637 closed

[2020-05-23 20:39] tylerjereddy commented on #2687
Do we even have a good reason for `unique_int_1d()` to exist when there's already `np.unique()`? Have our benchmarks really shown that our low-level version is better than theirs?

[2020-05-23 20:51] tylerjereddy commented on #2687
Maybe we're not providing sorting, but `np.unique()` has keywords for returning indices, so the choice to make a low-level Cython function that is only used in Python in our code base is perhaps worth revisiting.