[2020-10-13 02:36] tylerjereddy commented on #2975
@orbeckst I imagine it would depend on the linear algebra backend in use (usually `OpenBLAS` for wheels; sometimes MKL from `conda`), but mostly linear algebra functions I think.

The only reference to `OMP_NUM_THREADS` I see is in `doc/source/reference/global_state.rst ` in a section called `Number of Threads used for Linear Algebra `:

during function calls, however it does support multiple Pyth

[2020-10-13 08:21] jbarnoud opened #2979 "test_bat.py::test_bat_incorrect_dims refers to a file that may not exist"
## Expected behavior ##

Running the tests in parallel do not yield failed tests.

## Actual behavior ##

When running `pytest  --disable-pytest-warnings -n 6`

[code]

This error seems to be due to the test assuming "test_bat_IO.npy" has been created by another test. This may not have happened when the tests run in parallel.

## Current version of MDAnalysis ##

- Which version are you using? (ru

[2020-10-13 08:32] jbarnoud commented on #2974
I installed develop on python 3.9 and could run the tests fine. I got an error (#2979) but it was unrelated to the version of python. I got many tests skipped, though (361) so some of them may have failed.

[2020-10-13 08:47] jbarnoud opened #2980 "Tests are generating too many warnings"
## Expected behavior ##

Running the tests issues no or only a few warnings that can be displayed and, ideally, addressed.

## Actual behavior ##

Running the tests issues more than **30,000 warnings** that are untracktable to look at, meaning we can very easily miss important warnings.

## Code to reproduce the behavior ##

Just run the tests

## Current version of MDAnalysis ##

- Which version

[2020-10-14 04:43] orbeckst commented on #2947
There have been no more comments so I will close.

[2020-10-14 04:43] #2947 closed

[2020-10-14 12:39] #2979 closed

[2020-10-14 12:43] IAlibay commented on #2958
See here for another occasional RDKIT test failure: https://github.com/MDAnalysis/mdanalysis/pull/2983#issuecomment-707899696

[2020-10-14 17:13] orbeckst commented on #2980
@tylerjereddy has been stalwartly working on reducing the warnings.

Do we have a statistic of which ones are the most frequent warnings so that we can make a targeted attempt to address the worst offenders first, e.g., anything from the PDBParser regarding atom types not found? We can then either address the root problems or include warnings filters to mute any warnings during a test that we know

[2020-10-14 17:19] richardjgowers commented on #2980
Would be nice if warnings meant something in tests.  One idea is to change the common warnings we emit (i.e. `MDAnalysis.GuessingWarning`) then have a pytest fixture applied to all tests that silences these warnings.  I think this might address ~80% at least

[2020-10-14 17:27] yuxuanzhuang commented on #2975
Hi! Related to this, but more on the NumPy side, I recently encountered a weird issue with `numpy.dot` (that uses external libraries e.g. OpenBlas). With default settings in OpenBlas of *num_threads = physical cores + hyper threads*, the performance is worse than with single thread (https://gist.github.com/yuxuanzhuang/82e1e7b57d0cda80ac964d1cd138f618). A real-MDA-life case would be an analysis wi

[2020-10-14 23:01] orbeckst commented on #2975
My understanding of your gist was that `np.dot()` influences the performance of the code that comes _after_ it. If OpenMP threads are oversubscribed then just normal Python code in the following line is slowed down. — Correct me if I am wrong.

[2020-10-14 23:09] orbeckst commented on #2975
mkl is included in conda so using it is not a problem. However, installation and dependencies are difficult enough so the less we prescribe the better. I would not want to say "you can only use MDA if you use a numpy that is linked against MKL". Besides, if this is not a MDA problem then we shouldn't have to bend over backwards and inconvenience our users. Rather, we should try and have the issue

[2020-10-15 00:00] IAlibay commented on #2975
Agreed, plus this would immediately kill off arm64 & power support (neither of which I believe are supported, with mkl being x86 specific). There's also a lot of talk about MKL being not so optimized on [AMD chips](https://medium.com/@shaalltime/benchmark-numpy-with-openblas-and-mkl-library-on-amd-ryzen-3950x-cpu-96184f91057f)...

Going to be a little bit controversial and say that personally, I'd

[2020-10-15 08:16] richardjgowers commented on #2975
@orbeckst mkl is only in anaconda's channel (the default channel) not conda-forge.  So most people installing via this route don't have mkl.  I also don't think that trying to get specific about a numpy backend will end well.

[2020-10-15 13:37] mnmelo opened #2984 "AtomGroup.center fails for compounds+wrapping"
Digging into the optimization of `AtomGroup.unwrap` (from the discussion in #2982) I am trying to replicate the vectorization done in `AtomGroup.center`. I noticed that in there there's a sorting of compound indices that isn't being done if the user requests compound unwrapping. This breaks center calculation if for some reason a compound's atoms are not initially contiguous.

This is a corner cas

[2020-10-15 15:59] jbarnoud commented on #2980
I just had a very quick look and it seems that there are limitations to what types of warning you can ignore globally. From what I understand, there is a fixed list of warning types that can be ignored. For the other types, you would have to capture them on a per-test basis, which would probably be the cleanest but would not be tractable in some cases.

Another option is to ignore individual warni

[2020-10-15 16:13] jbarnoud opened #2985 "Some tests use fixtures whith scopes that are at odds with hypothesis"
## Expected behavior ##

Running the tests does not throw warnings.

## Actual behavior ##

Hypothesis warns about the scope of some fixture potentially causing issues with generated test cases.

[code]

## Code to reproduce the behavior ##

`pytest formats/test_libdcd.py`

## Current version of MDAnalysis ##

- Which version are you using? (run `python -c "import MDAnalysis as mda; print(mda.__ve

[2020-10-15 16:22] jbarnoud opened #2986 "ENCORE uses deprecated features of sklearn"
## Expected behavior ##

Running the tests throws no warning, and the library does not use deprecated features of the libraries it depends on.

## Actual behavior ##

Running the tests warns about ENCORE using deprecated features of scikit-learn:

[code]

## Code to reproduce the behavior ##

`pytest analysis/test_encore.py`

## Current version of MDAnalysis ##

- Which version are you using? (run

[2020-10-15 16:30] jbarnoud opened #2987 "HydrogenBondAutoCorrel uses deprecated features of numpy"
## Expected behavior ##

Running the tests throws no warning, and the library does not use deprecated features of the libraries it depends on.

## Actual behavior ##

Running the tests warns about HydrogenBondAutoCorrel using deprecated features of numpy:

[code]

## Code to reproduce the behavior ##

`pytest analysis/test_hydrogenbondautocorrel.py`

## Current version of MDAnalysis ##

- Which ve

[2020-10-15 16:42] IAlibay commented on #2987
So I didn't really keep up with the happenings of #2791, but the main comment does include:

"This function can also replace the hbonds.hbond_autocorrel module. However, we haven't deprecated this module here as that is being addressed by PR #2746"

It might be that this can all be removed for v2.0 (assuming we deprecate for 1.01)?

Maybe @bieniekmateusz and/or @p-j-smith know better here?

[2020-10-15 19:10] p-j-smith commented on #2987
Sorry for the confusion - perhaps @bieniekmateusz and I should have deprecated/removed `hbonds.hbond_autocorrel` in #2791?

After taking another look at `hbonds.hbond_autocorrel`, I see it also fits a bi- or tri-exponential decay function to the hydrogen bond lifetime. I'm slowly writing a tutorial for using `hydrogenbonds` and will include an example of fitting a curve to the hydrogen bond lifeti

[2020-10-15 19:14] orbeckst commented on #2984
Because we're still fixing 1.0.x, it is a lot easier if bug fixes are separate from enhancements of any kind.

We have no problem adding performance enhancements back into 1.x but in general, micro PRs are easier to handle because sometimes the discussion on something that looked like an obvious thing leads us to a more nuanced view.

[2020-10-16 07:41] orbeckst opened #2988 "compiling warns of using deprecated NumPy API"
## Expected behavior ##

Compiling the MDA C extensions does not raise warnings about deprecated APIs.

## Actual behavior ##

Compiling the cython extension warns

*"Using deprecated NumPy API, disable it with " "#define NPY_NO_DEPRECATED_API NPY_1_7_API_VERSION"*.

This is due to Cython <3.0 using the deprecated NumPp API. This will change with upcoming Cython 3.0, see https://cython.readthedocs

[2020-10-16 08:48] jbarnoud opened #2990 "`Residue.mass` and `Residue.charge` use deprecated numpy indexing"
Running the tests throws a warning about MDAnalysis using a behaviour of numpy that is subject to change:

[code]

The warnings are thrown for `core/test_accumulate.py::TestTotals::test_total_charge` (and its mass equivalent): https://github.com/MDAnalysis/mdanalysis/blob/2ee4e9da5aa3a2c1b21fc3d1897bd70e0ab2064d/testsuite/MDAnalysisTests/core/test_accumulate.py#L121

The problematic call is a call

[2020-10-16 23:06] #2990 closed

[2020-10-17 02:42] mnmelo commented on #2984
So, when testing, I realized this bug is more serious than I first thought:

When `AtomGroup.center` is used with compounds, the `compound_indices` are sorted, and the coordinate/weights arrays are as well, with the same sorting indices. When unwrapping, however, the unwrapped coordinates are **not** being sorted, and that's the bug.

But rather than just impacting center calculations when unwrapp

[2020-10-17 11:50] mnmelo commented on #2984
Just an update on some further checks: the bug with `center_of_mass` will more likely manifest itself when dealing with compounds with a large number of atoms. In that case, numpy's default `quicksort` algorithm will reorder atoms even if not needed. For smaller compounds (tested with the 5-water system above) `quicksort` will leave the atom ordering alone, but it already kicks in in the `TRZ_psf,

[2020-10-18 09:00] lilyminium opened #2993 "Wrong URLs in sitemap.xml"
## Expected behavior ##

Sitemaps only include URLs within the same directory. https://www.sitemaps.org/faq.html#faq_sitemap_location

## Actual behavior ##

[dev/sitemap.xml](https://github.com/MDAnalysis/mdanalysis/blob/gh-pages/dev/sitemap.xml) and [stable/sitemap.xml](https://github.com/MDAnalysis/mdanalysis/blob/gh-pages/stable/sitemap.xml) point to version 2.0.0-dev0 and 1.0.0 URLs, respecti

[2020-10-18 09:32] jbarnoud opened #2995 "`testsuite/MDAnalysisTests/core/test_atomgroup.py` would benefit from some cleaning"
`testsuite/MDAnalysisTests/core/test_atomgroup.py` has at least long lines and some tests that could be parametrized. See discussion in #2992.

[2020-10-18 09:35] #2984 closed

[2020-10-18 09:37] jbarnoud commented on #2768
The fix for #2984 could be backported.

[2020-10-18 17:48] jbarnoud commented on #786
This proposal is now implemented.

[2020-10-18 17:48] #786 closed

[2020-10-18 18:12] jbarnoud commented on #788
This looks to be solved:

[code]

[2020-10-18 18:12] #788 closed

[2020-10-19 07:54] yuxuanzhuang opened #2996 "PositionAverager Transformation ends up with wrong results with parallel analysis"
## Expected behavior ##

The results are the same as serial analysis

## Actual behavior ##

Due to the splitting approach, a new `PositionAverager` will be created for each block; no previous memory (`self.coord_array`) is saved.

## Code to reproduce the behavior ##

[code]
- Serial RMSD
![serial RMSD](https://user-images.githubusercontent.com/24636656/96416827-d2b78d80-11f0-11eb-9715-79ee274b80

[2020-10-19 16:30] IAlibay commented on #2958
Here's another failure from #2997

[code]

[2020-10-19 18:35] IAlibay commented on #1989
Closing with #2997

[2020-10-19 18:35] #1989 closed

[2020-10-19 20:49] orbeckst commented on #2996
There are going to be some transformations that are not parallel-safe. It's great when we can make it work but that might not always be easy and require different algorithms.

Can we just add a boolean attribute to the TransformationBase class `parallelizable = False` and then PMDA and friends can check? If we know that the Transformation can be run in parallel, we set it explicitly to `True`.

[2020-10-20 03:45] #2993 closed

[2020-10-20 11:39] mnmelo commented on #2996
Yes, I think this is precisely the case here. Position averaging is intrinsically history-dependent, and as such it'll not play nice with block parallelization.

[2020-10-20 12:42] mnmelo opened #3000 "Use of compounds involves excessive sorting and fancy-indexing of AtomGroups and compound indices."
Hi,
I realized that there is potential for optimization of most `AtomGroup` methods that implement compounds. Currently, compounds are implemented by cleverly splitting into compound groups of the same size, to allow vectorization at least on a per-size basis. This was a great idea! (`git blame` tells me kudos go to @kain88-de and @richardjgowers).

Current improvable aspects:
- By default, `compo

[2020-10-20 21:20] mnmelo commented on #3000
@zemanj, I see from the discussion in #2376 that you already have a [headstart in unwrap optimization](https://github.com/zemanj/mdanalysis/blob/faster_unwrapping/package/MDAnalysis/core/groups.py). What do you think of how this refactor could impact it? Could it be a base from where to merge your optimization work?

[2020-10-20 22:00] mnmelo opened #3002 "Some methods that accept the compound keyword fail or don't return the expected set of values"
For at least `moment_of_inertia` and `asphericity` the use of compounds seems to be broken:

## Expected behavior ##
[code]
## Actual behavior ##

[code]

[code]

Calling the method on a `ResidueGroup` seems to default to using `compound='group'` and yield a single value. More puzzingly, calling it on a `ResidueGroup` and explicitly passing `compound='residues'` works (no `ValueError`) but yields

[2020-10-21 02:22] tylerjereddy opened #3003 "MAINT: `ap.c` gcc optimization portability"
For the source file located at path `analysis/encore/clustering/src/ap.c`, the gcc compile optimization level can affect test results in the `test_encore.py` suite on the Linux ARM64 platform.

At `-O1`, where we are currently pinned, we get a pass on the suite.

At `-O2` and `-O3` we get an incorrect result:

[code]

I carefully checked the values of C-level constants like `RAND_MAX` and the size

[2020-10-21 15:22] #1072 closed

[2020-10-21 21:33] orbeckst commented on #3003
cc @mtiberti — do you have any insights here?

[2020-10-21 22:10] orbeckst commented on #2996
@yuxuanzhuang let's add `parallelizable = False` as an attribute to `TransformationBase` and have derived classes change it if they can be parallelized with split-apply-combine/block parallelization.

[2020-10-22 08:24] #1845 closed

[2020-10-22 23:58] IAlibay commented on #2768
So after some off-github discussions with @lilyminium and @richardjgowers, we were wondering how everyone would feel about pushing for a rapid 1.0.1 release where we disable nsgrid completely and then have aim for a 1.0.2 release with @richardjgowers' fix?

If the mailing list is any indication, quite a lot of people are facing issues with things that are now fixed in `master`, on top of that we'v

[2020-10-23 00:01] lilyminium commented on #2768
+1 for releasing an interim 1.0.1 as strictly better than keeping 1.0.0 until the fix is in (e.g. all the pytest failures)

[2020-10-23 00:01] orbeckst commented on #2768
Yes, I agree – disable nsgrid #2930 for 1.0.1.

I'd also include a backport fix for #2984 and then do a 1.0.1. We can really do a patch release in rapid succession. Doubt that anyone minds getting code fixed.

[2020-10-23 00:02] lilyminium commented on #2768
And #2427!

[2020-10-23 00:26] IAlibay commented on #2930
I'm working on a quick fix for this given the discussion in #2768

Do we want to solely remove nsgrid from 1.0.1 (i.e. only target `master`), or do we want to do so for `develop` too?

[2020-10-23 03:05] mnmelo commented on #3000
So, I went ahead and implemented most of what I put forth above in the draft PR #3005.

Besides a cleaner code, performance is improved. I timed the `AtomGroup.center` method (best time of 1000 repeats) for several combinations of conditions, and almost all cases become faster, and some by more than twofold:

Legend:
 - `n_atoms`: total number of atoms in the system;
 - `n_comp.`: total number of

[2020-10-23 03:41] mnmelo commented on #2376
@zemanj, I'm having similar caching limitations in #3000 / #3005. Again, the problem with caching at the `AtomGroup` level is that there are `Universe`-level events that are hard/impossible to propagate to individual `AtomGroups` so that they invalidate their relevant caches.

I thought of a solution that might solve all this. What if (using `'fragindices'` as an example attribute):
 - All `AtomGr

[2020-10-23 19:35] orbeckst opened #3006 "docs version selector has multiple repeated 'dev' entries"
## Expected behavior ##

The docs version selector shows each version once, including "dev".

## Actual behavior ##

As shown, current https://docs.mdanalysis.org/stable/index.html version selector has the "dev" entry repeated:
![image](https://user-images.githubusercontent.com/237980/97046115-bf2b6000-152b-11eb-8cbc-4b7aa037d918.png)

## Code to reproduce the behavior ##
Docs https://docs.mdanaly

[2020-10-23 20:09] orbeckst commented on #2768
I'll backport PR #2427.

[2020-10-23 20:11] orbeckst commented on #2768
Outstanding backports/fixes
- [ ] #2930
- [ ] backport PR #2427
- [ ] backport #2984

[2020-10-24 00:22] #3006 closed

[2020-10-24 00:44] orbeckst commented on #2730
If this issue is not resolved please let us know and we will reopen.

[2020-10-24 00:44] #2730 closed

[2020-10-24 04:54] orbeckst commented on #2919
For 1.0.1 we will disable nsgrid (see #2930 and PR #3004 ).

[2020-10-24 05:00] orbeckst commented on #2768
The deprecation of hbond.waterbridge analysis in PR #2913 could go in 1.0.1 if it gets turned around quickly. Otherwise we make a 1.0.2 soon-ish.

[2020-10-24 05:02] orbeckst commented on #2768
Unfortunately, I broke Travis for master (see PR #3011) so that PR also has to go through before we can wrap 1.0.1.

[2020-10-24 20:04] mnmelo commented on #2376
So, I implemented those ideas and universe-based caching is indeed possible, and completely abolishes fragment construction-time (assuming we cache the tuple of fragments itself). Besides the need of carefully invalidating caches at the relevant points in the code (`add_bonds`/`delete_bonds` must invalidate fragment-related caches, `segments.setter` invalidates segment-related caches, etc.) it can

[2020-10-24 20:19] mnmelo commented on #2995
I can take care of this, since I was working on it in #2992.

[2020-10-26 13:15] debanjansen48 commented on #2730
Due to my illness I was unable to reply. sorry for the late reply. Thank you

On Sat, Oct 24, 2020 at 6:15 AM Oliver Beckstein <notifications@github.com>
wrote:

[2020-10-26 15:57] orbeckst commented on #2730
@debanjansen48 I'm  sorry to hear that you were not well. I hope you're feeling and getting better.

We can re-open the issue – it's not a problem. We normally close issues after a while if there had been no activity and we can't reproduce the bug locally. That doesn't mean that the problem doesn't exist, just that there's insufficient information for us to do anything. When we get more informatio

[2020-10-27 11:26] debanjansen48 commented on #2730
Using conda I am able to install it. It works

Thanks sir.

On Mon, Oct 26, 2020 at 9:27 PM Oliver Beckstein <notifications@github.com>
wrote:

[2020-10-27 16:26] orbeckst commented on #2730
Thanks for the feedback – glad that it worked out! If you have questions, ask on the mailing list https://groups.google.com/group/mdnalysis-discussion

[2020-10-29 05:55] kimlabSchatterjee opened #3014 "Unable install and execute"
I am trying to install MDAnalysis tool using conda channel..details given bellow

**(base) kimlab@kimlab-800V7A:~/Desktop$ conda create -n md-analysis**

[code]

**(base) kimlab@kimlab-800V7A:~/Desktop$ conda activate md-analysis**

(md-analysis) **kimlab@kimlab-800V7A:~/Desktop$ conda config --add channels conda-forge**

(md-analysis) **kimlab@kimlab-800V7A:~/Desktop$ conda install mdanalysis**
[

[2020-10-29 06:21] mehradans92 opened #3015 "Loading forces to universe when creating an in-memory trajectory of a sub-system"
## Is your feature request related to a problem? ##

Yes

## Describe the solution you'd like ##

I am interested in creating a subsystem universe and include the forces from the initial setting.

I have considered this but it doesn't seem to work.

[code]

## Describe alternatives you've considered ##

## Additional context ##

[2020-10-29 16:40] orbeckst commented on #3014
Simple import test (note: `import MDAnalysis` is a _Python_  command and must be run in a Python interpreter and _not_ in the shell). Try the following: run the standard Python interpreter `python` in your environment and type Python commands after the `>>>` prompt:
[code]
This should now look similar to the following
[code]

Now type (do not type the `>>>` prompt) and it show the result `1.0.0`:

[2020-10-29 16:44] orbeckst commented on #3015
@mehradans92 I encourage you to post your question to the user list https://groups.google.com/group/mdnalysis-discussion — maybe there's a way to do what you want with the available tools. Once it becomes clear that there's no obvious way to do it then it's clear that there's a demonstrated need for the feature.

[2020-10-29 16:56] mehradans92 commented on #3015
Thanks Oliver. I posted my question in the group.

[2020-10-29 16:56] #3015 closed

[2020-10-29 16:57] orbeckst opened #3016 "ARM failure after merge into develop (numpy pickle related)"
## Expected behavior ##

After merging a clean PR into develop, the merge CI jobs completes successfully, too.

## Actual behavior ##

After PR #2998 was merged, the CI on develop failed, specifically _only_ the  **arm64-graviton2** (Py 3.7) run: https://travis-ci.com/github/MDAnalysis/mdanalysis/jobs/408136260

[code]

## Current version of MDAnalysis ##

Travis CI build [#3506.11](https://travis

[2020-10-29 16:58] orbeckst commented on #3016
@tylerjereddy any idea what might have happened here?

[2020-10-29 17:03] orbeckst commented on #3015
Please feel free to re-open the issue, especially if nothing useful comes from the mailing list – that would also be a sign that there's something missing: either a feature or documentation.

[2020-10-29 19:58] pllim opened #3017 "MNT: Stop using ci-helpers in appveyor.yml"
To whom it may concern,

If you are using https://github.com/astropy/ci-helpers in your appveyor.yml , please know that the Astropy project has dropped active development/support for Appveyor CI. If it still works, good for you, because we did not remove the relevant files (yet). But if it ever stops working, we have no plans to fix anything for Appveyor CI. Please consider using native Windows su

[2020-10-29 20:16] IAlibay commented on #3017
Thanks for giving us the heads up @pllim 👍

Since we have azure pipelines running now, is there any reasons to keep appveyor CI going too? Pinging @tylerjereddy who probably knows most here.

[2020-10-30 00:54] orbeckst commented on #3017
Appveyor tends to be slow nowadays – it would help if we could drop it, especially in favor of Azure Pipelines, which run fast.

[2020-10-30 09:22] #2995 closed

[2020-11-02 00:24] tylerjereddy commented on #3016
Not sure, it seems to be "ok" on the latest merge to `develop` (indeed, I see several failures on other CI entries at the moment, but not the graviton one): https://github.com/MDAnalysis/mdanalysis/runs/1333850167

If it starts happening regularly I'll take a closer look I guess.

[2020-11-02 00:55] tylerjereddy commented on #3017
Yeah, pretty common to drop Appveyor in favor of Azure for Windows testing. I think in our case we had retained appveyor testing in CI because it was using `conda` to provide a few more test-time dependencies (so a few more code paths were getting tested maybe).

I was trying to keep Azure "pip only" to the extent possible so it was reasonably fast/clean, etc. There's no problem using `conda` in A

[2020-11-02 17:29] orbeckst commented on #3016
Thanks @tylerjereddy. Seems intermittent so I am closing for now.

[2020-11-02 17:29] #3016 closed

[2020-11-05 14:04] icamps opened #3018 "MDAnalysis.Writer exporting PDBs in bad format with bonds=True"
## Expected behavior ##

Save each frame trajectory as a PDB with the contact information separate by the `ENDMDL` after each PDB.

## Actual behavior ##

The `ENDMDL` directive is wrote BEFORE the `CONECT` session, breaking the structure of the PDB.

## Code to reproduce the behavior ##

Load a trajectory and export as with the `bonds=True , multiframe=True`. I am using:
complxx = u.select_atoms(

[2020-11-05 15:48] IAlibay commented on #3018
Thanks for reporting this @icamps

What's troubling here too is that the behaviour exhibited is, I believe, nowhere near the PDB v3 standard.

As far as I can tell a 3 frame PDB should have the following structure (please do correct me if I'm wrong, pinging @RMeli spends much longer than me looking at the standard :) ):
[code]

This way the CONECT record should only come once at the end of the mul

[2020-11-05 15:59] IAlibay commented on #3018
Probably the limitation is if there is an expectation that the number of atoms changes across each models (which I don't think PDB was made for but I'm sure someone uses it that way), i.e. passing an updating atomgroup.

If we want to support that use case, I'm not sure what the intended behaviour should be 😕

[2020-11-05 16:37] icamps commented on #3018
I am not aware about PDB standard, sorry.

@IAlibay , my feeling is that using only one  `CONECT`directive for a multiframe PDB is again the logic of the multiframe PDB in this case that the frames are obtained from a molecular dynamics simulation. The examples you got, are very different in their "born".

The idea I have in exporting each frame of a trajectory file as one PDB file, is that each o

[2020-11-05 16:47] IAlibay commented on #3018
@icamps If I understand your use case correctly, the individual frames would vary in terms of number of atoms / bond topology?

I'm unfortunately not sure that this is what the PDB standard was made for (others can correct me / differ in opinions here, I do tend to be a standard purist).

If anything, MDAnalysis wouldn't be able to read the multiframe PDB back in as we don't support time-dependent

[2020-11-05 16:56] icamps commented on #3018
@IAlibay , nope. My use is as following:

1- done a molecular dynamics with fixed number of atoms,
2- export each time frame of the trajectory as a single PDB (so, all frames have the same number of atoms),
3- run analysis not available in MDAnalysis (using other software) in each PDB.

Within MDAnalysis, I didn't find how to export each frame as separate PDBs, just to a multiframe PDB.

Also, eve

[2020-11-05 17:08] IAlibay commented on #3018
Thanks for the clarification @icamps !

I _think_ I get what you mean now, so each frame will be treated a single "PDB" of types by the other software?

Off the top of my head I'm not sure that the best approach here would be aside from writing lots of individual PDB files.

If the alternative software is another python tool, one of the alternatives here could be use a "file-like" object instead (

[2020-11-05 18:11] icamps commented on #3018
Thank you very much!

[2020-11-07 22:03] tylerjereddy opened #3019 "CI: h5py-related failures in develop branch Azure CI"
The Azure CI Windows jobs are failing on current `develop` branch/merges. The Azure logs tend to disappear after 10 days or so, so I'll summarize the types of failures:

- Python 3.7 32-bit: fails to `pip` install `h5py` version `3.0.0`
- Python 3.6, 3.7, 3.8 64-bit: 5 test suite failures in `TestH5MDReader`:

<details>

[code]

</details>

Failures started on October 30th, which was the exact rel

[2020-11-07 23:51] tylerjereddy commented on #3019
Same issue is cropping up for some Travis and Appveyor jobs in the cross-listed PR; however, I'd like to confine this issue to Azure CI and let the Travis/Appveyor maintenance happen separately for h5py (probably the same fix needed in the conda infra of those other CI services).

[2020-11-09 17:27] #3019 closed

[2020-11-09 17:36] IAlibay opened #3023 "CI; unpin h5py"
As detailed in #3019 the 3.0 release of h5py was causing widespread test failures.

Currently CI is pinned to 2.10, however we should:

1. Investigate what caused the issue (is this an issue with MDA or h5py?)
2. Attempt to unpin

and / or

3. Define the pin in setup? (maybe under `extras_require`?)

[2020-11-09 20:21] yuxuanzhuang commented on #3023
Seem to be an easy fix for h5py 3.0---it raises IndexError instead of ValueError now:) I will step in.

[2020-11-10 15:30] yuxuanzhuang opened #3026 "Clearer Failure Error or Returning Empty AtomGroup with Selections e.g. cyzone"
## Expected behavior ##

When using some selection syntax e.g. `sphzone`, `cyzone` for an empty selection, the error should be "You are selecting within an empty AtomGroup" or just return an empty group (like with `around`)

## Actual behavior ##

When using selection syntax e.g. `sphzone`, `cyzone` for a empty selection, the error is not clear enough.

## Code to reproduce the behavior ##

[code]

[2020-11-10 15:43] IAlibay commented on #3026
I believe this is the same as #2915?

[2020-11-10 16:00] yuxuanzhuang commented on #3026
Oh right! Sorry I failed to catch it.

[2020-11-10 16:12] IAlibay commented on #3026
No worries, always a good reminder that it needs fixing :)

I'll leave it up to you as to whether you want to keep this issue open or close it (it looks like most of the important details are already echoed in #2915, but you'll know better).

[2020-11-11 01:12] tylerjereddy commented on #2475
This is causing some pain for one project I know about.

[2020-11-11 01:19] IAlibay commented on #2475
@tylerjereddy apologies I never really got a chance to get back to this one.

Not tested but perhaps a quick temporary solution here might be to create a universe using a parmed object and then load the trajectory on top of it?

[2020-11-11 03:21] tylerjereddy commented on #2475
Interesting, thanks

[2020-11-12 16:29] haroldgrosjean commented on #2468
Hello,

I have started to use the RDKit wrapper to code my contact analysis. I was wondering if there is any way to check whether a given atom matches a smart pattern?

for example:

[code]

This would considerably speed-up my code and I am sure it would be of use to other people.

Many thanks in advance.

Harold

[2020-11-12 17:09] orbeckst commented on #2468
Hi Harold,

I think this would be a good question for the mailing list.

I’m not sure if SMARTS selections are already in develop. In the mean time you could check the .elements attribute of the atomgroup, which should exist when you have a rdkit molecule.

Oliver

[2020-11-12 17:20] cbouy commented on #2468
I was going to answer but I'll wait for the [mailing list](https://groups.google.com/g/mdnalysis-discussion) thread so that more people can find the answer 😃 And yes, it's possible with some tweaks to your code example.

[2020-11-12 21:12] cbouy commented on #2468
I'm not authorized to answer the [discussion](https://groups.google.com/g/mdnalysis-discussion/c/tLSYnYbcvEA) :(
@orbeckst Should I post my answer here and you repost it on the thread, or can you authorize me to reply on the mailing list ?

[2020-11-13 00:00] orbeckst commented on #2468
Normally, you need to subscribe to the mailing list and when you reply the first time, and admin will remove the hold on your subscription (to make sure you aren't a spammer). However, *I added you directly to https://groups.google.com/g/mdnalysis-discussion with your `b...@gmail` address. Please try again.*

[2020-11-16 06:38] #2423 closed

[2020-11-17 07:33] fhh2626 opened #3028 "convert_to('PARMED') super slow"
## Expected behavior ##

The call of the method should be finished within a reasonable time scale

## Actual behavior ##

For a 10k-atom system, this function call takes 2-3 min, and for a 60k-atom system, this takes > 15 min.

## Code to reproduce the behavior ##

[code]

## Current version of MDAnalysis ##

- Which version are you using? (run `python -c "import MDAnalysis as mda; print(mda.__ver

[2020-11-18 17:38] tclick opened #3030 "NCDFWriter inconsistent with NCDFReader"
## Is your feature request related to a problem? ##
The NCDFWriter only accepts the '.ncdf' extension while the reader can handle both '.ncdf' and '.nc'

## Describe the solution you'd like ##
As the problem above suggests, it might be useful to add '.nc' exntension to the NCDFWriter.

[2020-11-18 18:30] orbeckst commented on #3030
What is the error that you get? Can you show an example use case?

In general you should always be able to explicitly give the format with a `format` kwarg.

[2020-11-18 18:48] IAlibay opened #3031 "Remove support for ts as an input to the ParmedConverter"
## Context

As discussed in https://github.com/MDAnalysis/mdanalysis/pull/3029#issuecomment-729047942 the ParmedConverter currently takes either an atomgroup/universe or timestep as an input. However as of #2754, support for passing timestep objects to writers was removed.

Given this, it might make sense to remove support for `ts`?

Maybe we should deprecate for 1.0.x and remove for 2.0?

[2020-11-18 19:04] IAlibay commented on #3030
To be fair, our lack of support for `.ncdf` writing does break out docs.

https://github.com/MDAnalysis/mdanalysis/blob/e9d0e88ed40a810273af4cf1c742058b1a761b66/package/MDAnalysis/coordinates/__init__.py#L205-L209

...nevermind those that got written in the class docstring (that might be on me oops... 🙄 ).

Fix incoming.

[2020-11-19 00:04] IAlibay commented on #2732
@RMeli this should be fixed now with #3001 I'm going to close. Please do re-open if needed.

[2020-11-19 00:04] #2732 closed

[2020-11-19 03:01] IAlibay commented on #3028
Just re-opening to confirm that sufficient work has been done here to address the issue.

@fhh2626 would you be able to confirm that the latest fix (#3029) alleviates your issue? (this would involve installing the developer version of MDAnalysis).

[2020-11-19 07:09] fhh2626 commented on #3028
Yes, thanks for your nice work!

[2020-11-19 07:09] #3028 closed

[2020-11-19 20:03] #3030 closed

[2020-11-19 22:31] sdtruong opened #3034 "Loading both structures/trajectories with multiple-frame .gro files, instead of having to also load two things separately in MDAnalysis.Universe"
It'd be helpful if MDAnalysis had a feature to read GROMACS .gro files with multiple frames and obtain trajectories from this. Currently, an accompanying trajectory .xtc file is needed, but VMD is able to visualize multiple-frame .gro files, for example.

[2020-11-19 22:35] IAlibay commented on #3034
I'm going to link to the original discussion entry here: https://groups.google.com/g/mdnalysis-discussion/c/-NkpWa5m-W4/m/AJstu-_OCQAJ

TLDR; the current alternative is probably to use the chemfiles interface, but an enhancement to the native reader would be good 👍

[2020-11-19 22:37] lilyminium commented on #3034
The spec is [here](http://manual.gromacs.org/documentation/current/reference-manual/file-formats.html#gro) for people like me who didn't realise it could be multi frame. It seems to work like pdb essentially. In the meantime, could you convert into a PDB format which does support trajectories @sdtruong?

[2020-11-19 22:44] sdtruong commented on #3034
That's a good suggestion. Unfortunately, when I converted from GRO to PDB format, MDAnalysis.Universe still only takes the first frame. When I print out the trajectory, I get 1 frame (e.g. len(u.trajectory) is 1).

[2020-11-19 23:16] IAlibay commented on #3034
@sdtruong MDAnalysis should be able to read multiframe PDB files.

Can you provide extra information on how you converted the file?

Also could you confirm that the multi-PDB file has MODEL and ENDMDL entries between each frame?

[2020-11-19 23:41] sdtruong commented on #3034
Okay, I think I see the issue then. I tried to convert the .gro file to .pdb using GROMCAS ediconf command. When I did this, I only used ediconf -f file.gro -o file.pdb, but that only gave one frame. Is there a way to output multiple-frame .pdb files using GROMACS editconf? Sorry if this is outside the scope of this question.

[2020-11-19 23:46] IAlibay commented on #3034
@sdtruong not that I'm aware using editconf, trjconv should probably work though.

[2020-11-19 23:50] sdtruong commented on #3034
I'm looking at the trjconv documentation, and it doesn't look like it takes in .gro files as input (I also tried doing this to no avail). Correct me if I'm wrong, but doesn't trjconv only takes trajectory files? In that case, we're at square one.

[2020-11-19 23:55] IAlibay commented on #3034
Specifically looking at the 2020 documentation unless I'm misreading `gro` is a valid trajectory type: http://manual.gromacs.org/2020/onlinehelp/gmx-trjconv.html

(see under -f flag), if for some reason this does not work I'm afraid it will have to be taken up with the gmx devs.

The chemfiles alternative should work though.

[2020-11-20 00:02] sdtruong commented on #3034
Yes, this workaround seems to have worked! I'm going to do this instead in the time being. For posterity, the workaround is this:

Multiple-frame .gro file = `file.gro`

Since you cannot just load all the frames using MDAnalysis.Universe, keep the .gro file but generate a new .xtc file. You can do this with trjconv. Something like this:

`gmx trjconv -f file.gro -o file.xtc`

Now, you can load the

[2020-11-20 09:52] Kartik-Khandelwal opened #3035 "Regarding spelling mistake in "ABOUT" file in the home page under WIKI."
![image](https://user-images.githubusercontent.com/69040018/99785497-12b0af80-2ad2-11eb-95a9-e944551f5210.png)

There is a mistake **"scientific"** is misspelled as **"scientifc"**.

[2020-11-20 09:56] IAlibay commented on #3035
Thanks for reporting this @Kartik-Khandelwal I am going to transfer this issue over to the wiki repository so that the typo can the fixed there.

[2020-11-20 10:29] Luthaf commented on #3034
As mentioned by @IAlibay, the chemfiles interface in MDAnalysis can do this without converting to xtc first with `MDAnalysis.Universe("file.gro", "file.gro", format="CHEMFILES")`.

[2020-11-20 18:05] #3018 closed

[2020-11-21 00:21] IAlibay opened #3036 "On the future of CI post Travis"
Just putting this up as there's been a lot of discussion internally, off-github, and on the Twitterverse :)

## Current status

As of today Travis CI has switched over to using a credit based system for OSS CI. Unfortunately the amount of credits given are far too low to keep MDAnalysis going. As of writing this, we have already used up all our allocated credits (that's ~ 5 commits and 2 merges...

[2020-11-21 17:50] richardjgowers opened #3037 "ITPParser doesn't like some relative paths"
## Actual behavior ##

Relative paths (when going "upwards"/`../`) in the ITPParser seem to fail.

I think that all is needed is for `find_path` to have an `abspath` call early on, as absolute paths seem to work fine.

## Code to reproduce the behavior ##

[code]

[code]

## Current version of MDAnalysis ##

- Which version are you using? (run `python -c "import MDAnalysis as mda; print(mda.__vers

[2020-11-21 23:41] tylerjereddy commented on #3036
@IAlibay Thanks! I'm pretty swamped dealing with the exact same problem for SciPy, and I was hoping to cut the initial SciPy 1.6.0 release branch on Tuesday.. what a mess!

[2020-11-24 03:00] tylerjereddy commented on #3036
To keep it concise, this is a summary of what I've been able to find out: https://github.com/numpy/numpy/issues/17824#issuecomment-732567438

[2020-11-24 06:26] HanatoK commented on #2698
I encountered an error related to this issue. If `self._unitcell` is `None`, then the current setter in `base.py`:
[code]
will run into error (`'NoneType' object does not support item assignment`). However, it is a common case that if the unit cell information is not in a PDB or trajectories, the user will setup the cell manually through
[code]
and this will trigger the error above. Currently I wo

[2020-11-24 10:18] Multi-Kocky opened #3041 "Cannot Import Files from MDAnalysisTests"
## Expected behavior ##

I was trying to do a tutorial of MDAnalysis, but I cannot import Files from MDAnalysisTests

## Actual behavior ##

It said I got some errors in this code, I was thinking maybe something wrong in my file or working directory? Then I tried to run the tests invoking in Terminal
[code]
BUT it showed lots of errors.
[code]

## Code to reproduce the behavior ##

[code]

## Curr

[2020-11-24 10:46] RMeli commented on #3041
Which version of `matplotlib` are you using? According to [Matplotlib 3.3.0 API Changes](https://matplotlib.org/3.3.0/api/api_changes.html#arguments) the `warn` argument has been removed. As a temporary workaround you can downgrade Matplotlib to 3.2 and this will be fixed in release 1.0.1 (see #2938).

[2020-11-24 10:54] Multi-Kocky commented on #3041
I'm using version 3.3.2, should I downgrade matpoltlib to 3.3.0 or 3.2?

[2020-11-24 10:58] RMeli commented on #3041
The change was introduced in `3.3.0`, therefore you need to downgrade to `3.2.x` (if you are using `conda`: `conda install 'matplotlib<3.3'` as suggested in #2938; if you are using `pip`: `pip install --upgrade matplotlib<3.3`).

[2020-11-24 12:53] Multi-Kocky commented on #3041
Fixed. Thank you!!!

[2020-11-24 15:46] IAlibay commented on #3041
@Multi-Kocky I'm going to close this as #2938 duplicates the issue.

We hope to have 1.0.1 out soon, so hopefully any matplotlib version pinning is only temporary.

[2020-11-24 23:18] #3041 closed

[2020-11-25 14:12] IAlibay opened #3042 "Skipped coordinates tests"
## Expected behavior ##

Running pytest on coordinates test files without skipifs, shouldn't lead to any skips

## Actual behavior ##

test_dms.py, test_gro.py, test_trj.py, and test_trz.py all yield 2 skips when tests are run at the directory level (i.e. `pytest coordinates`, but none if run individually `pytest test_dms.py`).

Interestingly enough, the number of collected items doesn't seem to m

[2020-11-25 14:41] IAlibay opened #3043 "Hole2 skipifs either improperly applied or given the wrong reason"
## Expected behavior ##

All test_hole2.py tests pass if skipifs reasons are met.

## Actual behavior ##

#### sys.version_info checks:

`test_plot3D`, `test_plot3D_rmax` and `test_plot3D_order_parameters` all state "get_data_3d requires 3.1 or higher" as skipifs reasons. However the check is `skipif(sys.version_info < (3,1)` not `skipif(sys.version_info > (3,1)`.

edit: now that we support 3.6+ o

[2020-11-25 23:08] orbeckst commented on #3014
@kimlabSchatterjee did the above comment solve your problem?

If we don't hear anything else, we'll close the issue in 3 days.

[2020-11-26 11:11] pl992 opened #3045 "Segments management"
I would like to reduce the number of segIDs of a structure but I've seen there's no option like `remove_attribute` or `remove_segid`. Since there's the possibility to add one I would recommend to add this feature to have a better control over the pdb

[2020-12-01 11:24] lilyminium opened #3046 "Deploy docs via GH actions"
## Is your feature request related to a problem? ##

Travis is dead to us (https://github.com/MDAnalysis/mdanalysis/issues/3036), but it's currently how we deploy docs.

## Describe the solution you'd like ##

Deploy docs via GH actions.

## Describe alternatives you've considered ##

I have already tried and failed to use ReadTheDocs due errors that crop up from the structure of the MDA repo (whe

[2020-12-01 13:38] IAlibay opened #3047 "Update MacOS deployment target in setup.py / CI"
As discussed in https://github.com/MDAnalysis/mdanalysis/pull/3040#discussion_r531711507, our current CI/setup targets a rather old version of MacOS which we should probably update.

Currently in CI we set MACOSX_DEPLOYMENT_TARGET=10.9 which is what the astropy CI helpers did, however it does lead to `ld` warnings about targeting the wrong MacOS version. Similarly, our clang calls in setup.py set

[2020-12-01 13:53] tylerjereddy commented on #3036
Travis CI support has added 400,000 credits to our account this morning (see below); I haven't been able to follow our migration progress lately, but if most of the x86 jobs have been moved off we might be able to run a decent number of jobs on the more "exotic" architectures until another solution is found for those. If our Travis matrix is still large I suppose temporarily turning off the credit

[2020-12-01 14:11] IAlibay commented on #3036
Thanks for working this out @tylerjereddy !

I think there's a PR from `master` running at the moment, but after that I'll turn off the consumption of paid credits for now to give us time to clean up the travis config.

Probably the best thing here would be to make it exclusive to the arm build. My suggestion would be to set it up either as a daily cron job or to run on merge to develop? That way

[2020-12-01 14:29] IAlibay commented on #3036
Ok "Consume paid credits for OSS" is now off.

[2020-12-01 14:33] IAlibay opened #3048 "Enable mamba in github actions CI"
As discussed in https://github.com/MDAnalysis/mdanalysis/pull/3040#discussion_r532887435 we currently seem unable to enable mamba in gh actions CI as it leads to strange `pip` segfaults.

Considering this was possible in Travis, I assume that there might be a solution here (possibly pinning to a given mamba version).

I'm raising this issue so that we can look into this more after #3040 is merged.

[2020-12-01 14:41] IAlibay opened #3049 "Clean up Travis config - ARM build only?"
Follow up to #3036 and #3040

Once #3040 is merged (and follow ups; #3046, etc...) most of our CI builds will have been migrated away from Travis. The only thing that isn't possible at this moment are ARM builds.

Thanks to @tylerjereddy we have a few more units to use on Travis, if we use them conservatively for exotic platforms we can probably stretch it out until an alternative solution can be

[2020-12-01 16:49] nadzhou opened #3050 "MDAnalysis not compatible with Biopython 1.78"
Because Biopython has updated from 1.77 to 1.78 they have removed the Bio.Alphabet library which MDAnalysis uses, now we just get an error of Bio.Alphabet has been removed.

Please fix this bug since the whole MDAnalysis package is built on this.

[2020-12-01 16:52] IAlibay commented on #3050
@nadzhou Could you give us more details, i.e. which version of MDAnalysis are you using, is this a clean install or are you using things like parmed (which I believe also uses bio.alphabet)?

@RMeli wasn't this something that was fixed in #2457?

[2020-12-01 17:21] nadzhou commented on #3050
@IAlibay i just installed the library from conda the standard way.

i've been using this module for the past 3 weeks now and haven't seen any bug fixes.

[2020-12-01 17:24] IAlibay commented on #3050
@nadzhou can you confirm what you get when you do:

[code]

Also can you paste the full error here please?

[2020-12-01 17:26] nadzhou commented on #3050
@IAlibay you'll have to give me some time. my laptop is stuck rn.

[2020-12-01 22:53] orbeckst commented on #3047
Thanks for raising the issue. This will help to have a focused discussion/fact finding mission.

[2020-12-02 01:56] lilyminium commented on #3047
https://github.com/astropy/ci-helpers/pull/383

It appears that we need MACOSX_DEPLOYMENT_TARGET=10.9 because we need stdlibc++ (https://github.com/MDAnalysis/mdanalysis/issues/2144) and, as indicated by [the error message on pip install when the deployment target is not specified](https://github.com/MDAnalysis/mdanalysis/runs/1462154629?check_suite_focus=true#step:6:1065), it deploys to 10.7 on [

[2020-12-02 04:25] nadzhou commented on #3050
@IAlibay, here's my specifications:

Here's the error code:

	Traceback (most recent call last):
	  File "xtc_read.py", line 2, in <module>
	    import MDAnalysis as mda
	  File "/home/nadzhou/anaconda3/envs/md_navid/lib/python3.6/site-packages/MDAnalysis/__init__.py", line 184, in <module>
	    from .lib import log
	  File "/home/nadzhou/anaconda3/envs/md_navid/lib/python3.6/site-packages/MDAnaly

[2020-12-02 04:31] nadzhou commented on #3050
Update. I found the problem: conda isn't installing the latest MDAnalysis version because that's what I'd used to install the module.

[2020-12-02 04:32] lilyminium commented on #3050
@nadzhou Try updating mdanalysis to 1.0.0 with ``conda update mdanalysis`` or ``conda install -c conda-forge mdanalysis==1.0.0``, which has the #2457 fix. Does that fix it for you?

[2020-12-02 04:40] nadzhou commented on #3050
@lilyminium yup it does. let me mark this as fixed.

[2020-12-02 09:51] lilyminium commented on #3050
Great, I'll close the issue :-)

[2020-12-02 09:51] #3050 closed

[2020-12-02 18:56] #3036 closed

[2020-12-02 19:18] IAlibay opened #3052 "MAINT: add gh CI cron job for numpy-dev (and others)"
In our Travis config we had a CI run for the dev version of numpy which was added by @tylerjereddy.

This is currently not present in our github actions CI workflow. It would probably be good to it back, possibly with other types of jobs we want to run, e.g.:

- a full sweep of different gcc/clang versions? #2727
- different versions of ubuntu (currently we target 18.04 LTS, 16.04 LTS and 20.04 LT

[2020-12-03 23:34] kaceyreidy opened #3054 "Handling of negative residues"
PDB code 4IMZ has an artifact labeled with resid -1 and resname ASP which cannot be selected since MDAnalysis cannot handle negative resids.

Would like:
u = mda.Universe(4IMZ.pdb)
o = u.select_atoms('resid -1')

o should be these atoms.

Instead,
u = mda.Universe(4IMZ.pdb)
o = u.select_atoms('resid -1')

returns SelectionError: Selection failed: 'Failed to parse value: -1'

## Current version of

[2020-12-04 15:37] TBGAnsell opened #3055 "DensityAnalysis with empty selection"
Hello, I am trying to use DensityAnalysis for an atomselection that is initially empty but which becomes filled over the course of the trajectory. DensityAnalysis fails if the selection is initially empty despite using updating=True:

eg commands used:
[code]
I have got around by filling with a random atom but obviously not ideal.

[2020-12-04 15:57] junghans opened #3056 "v1.0.0: rpm build fails on fedora rawhide"
From https://koji.fedoraproject.org/koji/taskinfo?taskID=56777342

I think the error is:
[code]

This is with python3-numpy-1.19.4-1.fc34, do we need a newer version on fedora?

Build log [here](https://github.com/MDAnalysis/mdanalysis/files/5643760/build.txt)

[2020-12-04 16:03] IAlibay commented on #3056
@junghans this seems to be related to #2938

The current solution is to pin to an older version of matplotlib, but we are hoping to release a 1.0.1 version very soon that should fix this (I think our own hurdle left is to re-enable CI since we've just migrated away from Travis).

[2020-12-04 16:06] RMeli commented on #3056
Hi @junghans , unfortunately this is a known issue:  #2938

It should be fixed for release `1.0.1`. For the time being, the workaround is to pin the version of `matplotlib` to `<3.3`.

[2020-12-04 16:15] junghans commented on #3056
Ok, I will patch #2763 into the rpm.

[2020-12-04 16:25] junghans commented on #3056
Now it fails with a different error (see https://koji.fedoraproject.org/koji/taskinfo?taskID=56779633):
[code]

Build log [here](https://github.com/MDAnalysis/mdanalysis/files/5643962/build.txt)

[2020-12-04 16:34] IAlibay commented on #3056
😕 I'm not sure we've properly tested with 3.9 (@jbarnoud I think did?), any reason it's rc1 and not the full release?

hopefully @orbeckst might have a better handle on if this is in any related to #2763

[2020-12-04 16:43] junghans commented on #3056
It is rc1 of 3.9.1.

[2020-12-04 16:53] junghans commented on #3056
F33 has 3.9.0, let's test that: https://koji.fedoraproject.org/koji/taskinfo?taskID=56781133

[2020-12-04 17:03] junghans commented on #3056
Error stays the same:
[code]

End of build log [here](https://github.com/MDAnalysis/mdanalysis/files/5644187/build.txt)

[2020-12-04 21:06] cbouy opened #3057 "MOL2 Reader and Parser don't accept files without bonds"
## Expected behavior ##

Reading a MOL2 file that doesn't have any bonds (with only Na+ and Cl- atoms for instance) should be fine, as it is the case for PDB files.

## Actual behavior ##

It raises an Exception: `The mol2 block has no bonds`

The problem concerns both the MOL2Parser and MOL2Reader:
https://github.com/MDAnalysis/mdanalysis/blob/cf75dd6fe20e935c95fef57b0029382883ab0283/package/MDAn

[2020-12-04 21:39] lilyminium commented on #3056
I can't reproduce on the current version of ``develop`` in 3.9.0 with numpy 1.19.4 (osx, clang). @junghans are you using the 1.0 release or the development package? Although I can't actually install the 1.0.0 mdanalysistests package on 3.9. It's a weird error because that particular test just checks that all files in `mdanalysistests.data.filenames` that should be in `__all__`, are. Maybe it's rel

[2020-12-05 00:17] junghans commented on #3056
This was the 1.0.0 tarball, I can make a dockerfile to reproduce this.

[2020-12-05 00:26] orbeckst commented on #3055
Good point. That's definitely an edge case that we did not consider.

A really stupid workaround would be to
1. first run the selection yourself
2. note the first frame that it's not empty
3. start the analysis on that frame

[code]

[2020-12-05 00:34] junghans commented on #3056
Here it is:
[code]

[2020-12-06 00:54] #3046 closed

[2020-12-06 19:09] junghans commented on #3056
Now https://bugzilla.redhat.com/show_bug.cgi?id=1903956

[2020-12-08 01:21] lilyminium commented on #2958
Still intermittently occurs on GH actions:

https://github.com/MDAnalysis/mdanalysis/pull/2927/checks?check_run_id=1514424973#step:10:297

[code]

[2020-12-08 11:27] RMeli opened #3062 "MOL2 parser does not populate the elements attribute"
## Is your feature request related to a problem? ##

The MOL2 parser does not populate the elements attribute.

## Describe the solution you'd like ##

I'd like the MOL2 parser to populate the elements attribute.

## Additional context ##

See #2553, #2421 and #2423 for context.

[code]
throws a `MDAnalysis.exceptions.NoDataError`.

I'm working on a fix.

[2020-12-08 15:25] EnthusiasticTeslim opened #3064 "Error in msd algorithm of MDAnalysis"
Great contribution by MDAnalysis team! I tried using the msd approach in MDAnalysis and got an error message ModuleNotFoundError: No module named 'MDAnalysis.analysis.msd'. Other analysis modules such as import MDAnalysis.analysis.align works perfectly. Kindly advise on how to solve this issue. Thanks! Regards.

For installation, I use this:
pip install --upgrade MDAnalysis
pip install --upgrade M

[2020-12-08 15:28] IAlibay commented on #3064
@EnthusiasticTeslim what version of MDAnalysis did pip install?

Can you do the following:

[code]

[2020-12-08 17:07] EnthusiasticTeslim commented on #3064
I got the following:

1.0.0

[2020-12-08 17:11] IAlibay commented on #3064
@EnthusiasticTeslim unfortunately the MSD code never made it to the 1.0 release. It's available on the current development branch (future 2.0 release). You'll have to install the development code if you want to use it, see here for more details: https://userguide.mdanalysis.org/stable/contributing_code.html#creating-a-development-environment

[2020-12-08 17:13] #3057 closed

[2020-12-08 17:13] EnthusiasticTeslim commented on #3064
Thank you. Do I need to uninstall the current one?

[2020-12-08 17:19] IAlibay commented on #3064
I would probably encourage you to have a separate conda environment for the development branch.

I _think_ pip will remove the current release MDA version, but you might want to keep it around (especially since 2.0 is still some time away from being released).

[2020-12-08 17:31] IAlibay commented on #3064
@EnthusiasticTeslim I'm going to close this issue since it doesn't seem to relate to an active bug.

However I do encourage you to post on the mailing list to discuss further re: develop installation, etc... There will be more folks there who will be able to share their experiences with it.

[2020-12-08 17:31] #3064 closed

[2020-12-08 17:40] EnthusiasticTeslim commented on #3064
Thank you very much for your response. Sincere gratitude!

[2020-12-08 19:18] EnthusiasticTeslim commented on #3064
I got it to work. Thanks for the guide!

[2020-12-08 22:56] orbeckst commented on #3017
Given how much AppVeyor tends to hold up CI nowadays, I'd be ok with dropping it right away and then open a new issue to add back conda coverage under windows.

[2020-12-08 23:01] orbeckst opened #3065 "drop AppVeyor CI"
AppVeyor has been a great service for us, especially when it was the only one that provided Windows testing. The CI landscape has changed and AppVeyor has been consistently slower than GH-actions and Azure Pipelines. Furthermore, ci-helpers stopped active support #3017 .

I would suggest we remove AppVeyor testing from our CI on both
- [x] develop and
- [ ] master.

Coverage might drop because App

[2020-12-08 23:15] orbeckst opened #3066 "fix SyntaxWarnings for 'is' comparison in test_util.py"
## Expected behavior ##

Tests under Python 3.8 should not emit SyntaxWarnings.
[code]

## Actual behavior ##

Many tests in test_util.py (and possibly elsewhere) use constructs like
[code]
As explained in https://adamj.eu/tech/2020/01/21/why-does-python-3-8-syntaxwarning-for-is-literal/, that might work by accident (i.e., in CPython) but is not correct. Instead it should be
[code]

## Code to rep

[2020-12-10 01:02] #2875 closed

[2020-12-10 01:02] #2925 closed

[2020-12-10 01:02] #3054 closed

[2020-12-10 02:56] lilyminium opened #3068 "Delete TopologyAttrs"
## Is your feature request related to a problem? ##

@RMeli giveth mol2 elements, but now wisheth to taketh them away so a test passes.

## Describe the solution you'd like ##

Digging around in `u._topology` or recreating the Universe is annoying. A nice function that wraps that would be lovely.

## Describe alternatives you've considered ##

## Additional context ##

[2020-12-10 05:09] lilyminium opened #3070 "ReadTheDocs isn't building the modified version of docs in pull requests"
## Expected behavior ##

#3069 has a `del_TopologyAttr` method documented in the built docs by RTD.

## Actual behavior ##

It does not, because I mistakenly install the `develop` version of MDAnalysis instead of the current version. This makes the RTD check fairly useless.

## Code to reproduce the behavior ##

[code]

## Current version of MDAnalysis ##

- Which version are you using? (run `pyth

[2020-12-11 00:12] hmacdope opened #3074 "Improve docs for MSD class and add detailed example to userguide."
Clearer docs around what best practices are for calculation of MSDs are probably needed. For example a more prominent note that you should use unwrapped trajectories is needed.

There is also a reasonable amount of assumed knowledge in the docs as they are currently and it seems to be tripping people up. The language should be improved to be more accessible. A detailed example in the user guide wo

[2020-12-11 14:02] rebeccawalters95 opened #3075 "Cannot access frames after a given point in large DCD files"
## Expected behavior ##

I have an MDAnalysis universe (using a pdb and dcd file) where the trajectory is very large (2.5 GB) and has a lot of frames (25,000).

```universe = mda.Universe(PDB, DCD)```

I am trying to trim this trajectory by selecting and then keeping every 10 frames using this line of code:

```universe.atoms.write('short.xyz', frames=f)```  where ```f = list(range(0,25000,10))```

[2020-12-11 14:16] IAlibay commented on #3075
thanks for raising this issue @rebeccawalters95

I'm testing this locally to see if I can duplicate on linux.

Quick question, do you happen to know if you're running 32 bit or 64 bit python?

Probably the easiest way to check this is to do:

[code]

This should either return the value of a long int (32 bit) or a long long int (64 bit)

[2020-12-11 14:19] rebeccawalters95 commented on #3075
thanks for testing it!

The output of ```sys.maxsize``` is ```9223372036854775807```

[2020-12-11 14:23] IAlibay commented on #3075
So I had to truncate to ~ 21 GB (my poor m.2 drive can't handle that much disk space), which is 38783 frames.

I didn't manage to replicate the error with that, can you confirm that this is also the case for you or do you also get failures if you set `range(3878)` instead of `range(10000)`?

[2020-12-11 14:33] rebeccawalters95 commented on #3075
the code to reproduce the error gets to ```< Timestep 3752 with unit cell dimensions [79.98359 79.98359 79.98358 60.      60.      90.     ] >``` before crashing

[2020-12-11 14:35] IAlibay commented on #3075
@rebeccawalters95 so `range(376)` would be around the size limit where it would fail? (just checking so I can cut down the file size and try it out on my windows laptop)

[2020-12-11 14:49] IAlibay commented on #3075
Ok, so tried this on both linux and windows w/ 1.0.0

On linux: everything passes as expected.
On windows: I get the failure `OverflowError` at 3752.

I'm going to tag this as Windows specific unless someone else can reproduce it on other OS.

As per @rebeccawalters95's comments, I also suspect for some reason Window's compiler is defaulting into a `long int` instead of a `long long int` somewhere

[2020-12-11 15:12] richardjgowers commented on #3075
@rebeccawalters95 a hack around this might be to do the slice manually (the ugliness is making `i` loop from 0 to 9 then wrap around, then write every time it hits 0)

[code]

From skimreading the code I think this avoids having any too large ints

[2020-12-11 15:16] jbarnoud commented on #3075
I could also reproduce the behaviour on windows. I came to the same conclusion as @IAlibay regarding the type issue in libdcd.pyx. More precisely, I think the error occurs here: https://github.com/MDAnalysis/mdanalysis/blob/222336396417c5d0ded2b461448bfbe856b4b99d/package/MDAnalysis/lib/formats/libdcd.pyx#L427

I computed the value of `offset` following a failure in @rebeccawalters95 code. It seem

[2020-12-11 15:42] rebeccawalters95 commented on #3075
Thank you all for looking at the problem. I can confirm @richardjgowers workaround did indeed work - thanks very much!

[2020-12-14 13:36] IAlibay commented on #3065
Just re-opening so that we don't forget to get rid of the yaml file on `master` (I've asked for it to be done as part of #3067).

[2020-12-14 13:39] IAlibay opened #3076 "Add `conda` Windows CI build"
Following up from #3065 and #3073

We currently only have pip-based builds for our Windows CI matrix. It might be good to add at least one conda based one so that we can cover parts of the code that require extra dependencies.

Probably the easiest option is to add it on to azure pipelines. Otherwise we can also look into using gh actions for it.

[2020-12-14 23:12] dasharon opened #3077 "Hoping to Please Check in on an Offsets Question"
Dear MDAnalysis Team,

I have really been enjoying using MDAnalysis! If possible, I hope to please check in on a question:

When I load trajectories with the code (using MDAnalysis version 0.20.1):

I receive the message (once):

However, when I rerun this code, I no longer see the message. Trajectory data is loading without issues. This [link](https://github.com/MDAnalysis/mdanalysis/issues/1988)

[2020-12-15 12:58] AMKCam commented on #945
Was this issue every fixed? I'm also having the same problem for the RMSD analysis.

[2020-12-15 20:50] #3070 closed

[2020-12-15 23:23] lilyminium opened #3079 "Travis py2.7 stalls on install"
## Expected behavior ##

Python 2.7 runs on Travis

## Actual behavior ##

It stalls on:

- https://travis-ci.com/github/MDAnalysis/mdanalysis/jobs/460433388 (cron job)
- https://travis-ci.com/github/MDAnalysis/mdanalysis/jobs/460701640
- https://travis-ci.com/github/MDAnalysis/mdanalysis/jobs/459914026

as opposed to:

- https://travis-ci.com/github/MDAnalysis/mdanalysis/jobs/456392749 a week ago

[2020-12-16 17:27] mieczyslaw commented on #2439
No chance to work on that in my free time right now, but happy to return to this task later on if there is no one else completing it. Sorry.

[2020-12-16 18:47] orbeckst commented on #2439
Thanks for the update.

[2020-12-18 04:17] lilyminium opened #3080 "Azure py3.8 test failure"
## Expected behavior ##

All tests pass on CI.

## Actual behavior ##

`test_PDB_metals` consistently fails on Windows 64-bit, python 3.8, on Azure Pipelines.

## Code to reproduce the behavior ##

- https://dev.azure.com/mdanalysis/mdanalysis/_build/results?buildId=1320&view=logs&jobId=4e749fca-3d34-5c5a-3ce5-4d1276511512&j=4e749fca-3d34-5c5a-3ce5-4d1276511512&t=8661735f-b8db-5f8d-0b87-1042a707e2

[2020-12-20 00:38] #3080 closed

[2020-12-21 14:14] IAlibay opened #3082 "Unpin pytest on CI"
Follow up from #3081

`pytest` was pinned due to Windows OS failures, probably due to some upstream issues.

I'm opening this issue so that we remember to look into what happened here and aim to unpin as soon as we can.

[2020-12-22 00:13] lilyminium commented on #3082
Thanks @IAlibay! An additional reminder to future readers that it was also pinned on GH Actions for Linux and Mac. The issue was Python 3.8 specific.

[2020-12-22 06:11] hothman opened #3083 "'NCDFReader' object has no attribute 'timeseries' returned by encore.dres_convergence"
## Expected behavior ##

I am running MDAnalysis to assess the convergence of a netcdf trajectory using encore. I have tested the code and it worked, but then and suddenly when I run it again it gets me the error "'NCDFReader' object has no attribute 'timeseries'"

## Code to reproduce the behavior ##

[code]

## Full error output

[code]

## Current version of MDAnalysis ##

- MDAnalysis version

[2020-12-22 06:51] luponzo86 opened #3084 "Error importing MDAnalysis.tests.datafiles"
## Expected behavior ##

Succesfull import of module `MDAnalysis.tests.datafiles` after installing `MDAnalysisTests` via `pip`

## Actual behavior ##
[code]

## Code to reproduce the behavior ##

[code]

## Current version of MDAnalysis ##

- Which version are you using? 1.0.0
- Which version of Python (`python -V`)? Python 3.7.8
- Which operating system? Linux

[2020-12-22 13:07] RMeli commented on #3084
Hi @luponzo86 , unfortunately this is a known issue ( #2938,  #3041) and should be fixed in the next release. In the meantime you can use pin matolotlib to `matplotlib<3.3` as explained in  #2938.

[2020-12-22 18:18] luponzo86 commented on #3084
Sounds good, thanks! Apologies for the duplicate issue

[2020-12-22 18:18] #3084 closed

[2020-12-23 11:36] lilyminium commented on #2930
Closed in #3004.

[2020-12-23 11:36] #2930 closed

[2020-12-25 08:26] #2806 closed

[2020-12-29 04:17] PasinduT opened #3087 "MDAnalysis breaks on import"
## MDAnalysis breaks on import

This is because of Biopython version 1.78 removing Alphabet. See error below:

[code]
Downgrading to Biopython 1.77 works.

[2020-12-29 04:21] IAlibay commented on #3087
@PasinduT would you be able to provide more information about your MDAnalysis install?

Particularly, what version are you using?

[2020-12-29 04:34] PasinduT commented on #3087
Sure. This is the version of my MDAnalysis and Biopython.
[code]

And here is the full error
[code]

[2020-12-29 14:09] IAlibay commented on #3087
@PasinduT as detailed in #3050, the fix of this issue was implemented in version 1.0 of MDAnalysis. Could you try updating to 1.0 and seeing if you still face issues?

[2020-12-29 17:43] PasinduT commented on #3087
@IAlibay Yes, it worked. I guess conda just installs an old version of MDAnalysis by default. Thanks.

[2020-12-29 17:43] #3087 closed

[2020-12-29 23:52] orbeckst commented on #3077
Hello @dasharon – we keep the issue tracker for bug reports or enhancements. We only answer questions on the mailing list as this makes it easier for developers to focus on these different things. Also, on the mailing list other users can chime in. Please ask at https://groups.google.com/group/mdnalysis-discussion – Thank you!

[2020-12-29 23:52] #3077 closed

[2020-12-29 23:57] orbeckst commented on #3083
Duplicate of #2578

[2020-12-30 00:01] orbeckst commented on #3083
@hothman thanks for the report; I am sorry to say that this is an open issue (#2578). You could try as a workaround to immediately load your trajectory into memory with [Universe.transfer_to_memory()](https://docs.mdanalysis.org/1.0.0/documentation_pages/core/universe.html#MDAnalysis.core.universe.Universe.transfer_to_memory)
[code]

Maybe that will work?

[2020-12-30 18:04] IAlibay commented on #3014
Doing an end of year cleanup, given we haven't heard anything since the 29th of October and there was no follow-up to @orbeckst's comment, I'm going to close this issue.

@kimlabSchatterjee please do re-open or open a new issue if necessary.

[2020-12-30 18:04] #3014 closed

[2020-12-31 00:08] orbeckst commented on #3065
PR #3067 was merged and dropped AppVeyor on master, too, so I am closing.

[2020-12-31 00:08] #3065 closed

[2020-12-31 00:18] orbeckst commented on #3055
Making DensityAnalysis more robust would be good. Potential approaches
- Follow https://github.com/MDAnalysis/mdanalysis/issues/3055#issuecomment-739089297 and read until a frame with an appropriate selection appears. Make sure that the normalization of the final histogram is still correct.
- Introduce a dummy count or just create and empty histogram.
- ... your own idea?

A challenge would also b

[2020-12-31 00:23] orbeckst commented on #3026
duplicate of #2915

[2020-12-31 00:25] orbeckst commented on #2915
I agree with https://github.com/MDAnalysis/mdanalysis/issues/2915#issuecomment-676236983 - make `sphzone/cyzone` behave in the same way as `around` and return and empty AtomGroup.

[2020-12-31 00:26] orbeckst commented on #3026
I am closing this issue in favor of #2915 and add a comment that additional detail can be found here.

[2020-12-31 00:26] #3026 closed

[2020-12-31 00:27] orbeckst commented on #2915
Note that some more details are shown in the duplicate issue #3026.

[2020-12-31 00:40] orbeckst commented on #3023
@edisj please see this issue for the h5py error that you also ran into.

[2020-12-31 04:36] dasharon commented on #3077
Dear Professor Beckstein,

I thank you so much for sharing these very helpful updates with me! I apologize for asking my question in the wrong place, and I have asked the question on the mailing list. I thank you and your colleagues for making MDAnalysis an excellent toolkit!

With very many thanks,
Dina

[2021-01-01 18:39] aditya-kamath commented on #2879
Hi @lilyminium, I have been looking at this issue and a quick fix I figured was to simply add a try-catch in the atomnames methods and simply return the residues if there is an index error.  However, this seems to solve this for three of them but psi_selections and omega_selections are a bit more tricky. I reckon that another way is to compare the groups with empty groups in the beginning of the m

[2021-01-01 18:43] IAlibay commented on #2879
@aditya-kamath even a partial fix here for some of the methods failing here would be appreciated. Please do open a PR if you would like to.

[2021-01-04 11:28] sparkingdark commented on #2439
Is this still available or feature is already created.I am new to MDanalysis and joined google group.So can you clarify some doubt of mine so I can try to make this feature.Is this just calculate the molecular volume of a element ? @orbeckst @mieczyslaw

[2021-01-04 11:42] sparkingdark opened #3090 "Found Deadlink in [learning Mdanalysis page](https://userguide.mdanalysis.org/stable/contributing_code.html)"
when I clicked on the [quickstart guide](https://userguide.mdanalysis.org/examples/quickstart.html) under tutorial section I got the error 404 may be the file is missing ,
another deadlink is available as well in Documentation section the same link quickstart guide.

https://user-images.githubusercontent.com/50295688/103532068-940ca780-4eb0-11eb-9218-4313817bd9d4.mp4

I can try to fix it if the or

[2021-01-04 11:47] mieczyslaw commented on #2439
@sparkingdark As I mentioned above, I didn't have time to do this task (even though I really like it). I suppose @orbeckst and @richardjgowers can explain what is expected.

[2021-01-04 11:53] sparkingdark commented on #2439
Okay looking forward to it and one thing mdanalysis have any slack group.

[2021-01-04 13:31] lilyminium commented on #3090
Thank you for finding this, @sparkingdark! Hopefully this will get fixed soon (it is actually in a different site-focused repository, so has very little to do with the code here.) In the mean time, if you would like to have a look at the quick start guide, it's [here](https://userguide.mdanalysis.org/stable/quickstart.html).

[2021-01-04 13:32] sparkingdark commented on #3090
Thanks for sending the resources

[2021-01-04 14:02] lilyminium commented on #3090
Closed in https://github.com/MDAnalysis/MDAnalysis.github.io/pull/163.

[2021-01-04 14:02] #3090 closed

[2021-01-05 01:37] aditya-kamath commented on #3055
Hi @orbeckst, I am a student looking at some starter issues here to prep for GSOC.
In this case- Do you reckon it will be okay if I just write a if condition in ( _prepare) to catch this situation and output -
_grid=[[[0.]]]
_edges=[array([-0.5,  0.5]), array([-0.5,  0.5]), array([-0.5,  0.5])]
_arange=None
_bins=1
_density=None
My idea is to give a dummy density which will hopefully not affect th

[2021-01-05 16:45] #3066 closed

[2021-01-05 19:07] aditya-kamath commented on #3055
Okay! I think I understand what you mean. Perhaps for now I can write a simple if condition to display an error and exit when this happens.

[2021-01-05 20:21] orbeckst commented on #3055
On reflection, I agree with @IAlibay. (With small numbers of molecules, the automatic grid dimension determination does not make a lot of sense, which was added with water density in mind.)

----

If you're getting into working on DensityAnalysis then figuring out other ways to determine the grid would be interesting next steps, especially when the trajectory was structurally superimposed before t

[2021-01-05 20:26] orbeckst commented on #3055
Btw, does [`DensityAnalysis`](https://docs.mdanalysis.org/stable/documentation_pages/analysis/density.html#MDAnalysis.analysis.density.DensityAnalysis) fail if `xdim`, `ydim`, `zdim` and `gridcenter` are provided _and_ there is nothing selected in a frame?

[2021-01-05 20:39] lilyminium commented on #3055
Yup, it's [this call to  get the minimum of an empty array of positions](https://github.com/MDAnalysis/mdanalysis/blob/0de538ea70a88f4107d3101b029d48d1e100b1ff/package/MDAnalysis/analysis/density.py#L397-L398).

We do it when the box is defined to check if an atom selection is outside the bounds, and warn the user if so. A solution to this may want to consider first checking if there are positions

[2021-01-06 09:12] TBGAnsell commented on #3055
As lilminium says - it does fail when box dimensions are specified. I feel that maybe some context here may also be useful. I was using the original code to create a binary mask for a global LIG density and therefore the same box dimensions and gridcenter were specified.

[2021-01-06 14:00] IAlibay commented on #3055
Agreed, it's an extra try/except, we could probably just pass `coord` to `_set_user_grid` and then have the checks be done in one go there.

[2021-01-10 17:42] xiki-tempula opened #3092 "Atomgroup index with None give back the full Atomgroup"
## Expected behavior ##
If I use None as atomgroup index, I expect to obtain an empty atom group.

[code]

## Actual behavior ##
The original atomgroup is returned

[code]

## Code to reproduce the behavior ##

[code]

## Current version of MDAnalysis ##

- Which version are you using? (run `python -c "import MDAnalysis as mda; print(mda.__version__)"`) 2.0.0-dev0
- Which version of Python (`pytho

[2021-01-10 17:51] IAlibay commented on #3092
Mm this is indeed annoying behaviour, although as @richardjgowers points out, this is numpy default behaviour, i.e. passing `None` returns the entire array 😖

[2021-01-10 17:53] xiki-tempula commented on #3092
@IAlibay well this doesn't explain

[code]
If the entire array is returned.

[2021-01-10 18:21] IAlibay commented on #3092
Discussing this off-github with @richardjgowers, looks like the issue might be here?

https://github.com/MDAnalysis/mdanalysis/blob/0de538ea70a88f4107d3101b029d48d1e100b1ff/package/MDAnalysis/core/groups.py#L526

where the default Numpy behaviour is coming back to bite us (i.e. it returns an array of the array of ix, instead of the array of ix). There's probably a clean pythonic way to deal with t

[2021-01-12 02:11] aditya-kamath commented on #3055
@IAlibay, I tried what you suggested - the Try Except on the `smin` `smax` and passing the input on to `_set_user_grid` however as it turns out `_set_user_grid` needs smin and smax as an input. Now, I cant calculate smin and smax because there's no coords.

[2021-01-12 04:20] aditya-kamath commented on #3055
I don't think I can default `smin` `smax` to 0 either, the `BINS` generation will fail.  The quickest fix  I can think for this is to just fail if no atoms are given. But then again, that doesn't exactly fix anything!

[2021-01-12 09:36] lilyminium commented on #2879
Only partially fixed by #3089.

[2021-01-12 14:11] IAlibay commented on #3055
@aditya-kamath my comment above was just a suggestion about how the issue could be tackled, it is very much possible that it is not the right/cleanest answer (although do note that I do mention passing `coords` to `_set_user_grid` which would mean not needing to pass `smin` or `smax`).

The aim of the any PR here, as mentioned by @lilyminium, is to work out how to optimally check that there are no

[2021-01-12 15:05] aditya-kamath commented on #3055
Yeah, you're absolutely right! There must be a way to break this cycle. I'll try to figure it out..

[2021-01-17 11:29] lilyminium commented on #2985
This now reliably fails.

See: https://github.com/MDAnalysis/mdanalysis/pull/3091/checks?check_run_id=1674311671#step:10:596

and https://github.com/MDAnalysis/mdanalysis/pull/2664/checks?check_run_id=1715357196#step:10:296

[code]

[2021-01-17 12:06] IAlibay commented on #2985
If I'm understanding the error, all we have to do is use `tmpdir.as_cwd`?

[2021-01-17 22:50] lilyminium opened #3096 "test_written_remarks_property test fails due to unreliable test timings"
## Expected behavior ##

Tests pass

## Actual behavior ##

https://dev.azure.com/mdanalysis/mdanalysis/_build/results?buildId=1372&view=logs&j=b3e715e3-855a-545e-22f2-ec20d10eac17&t=18ebbd08-144c-517e-f71d-909fbbe1f815&l=373

`test_written_remarks_property` fails on Windows due to unreliable test timings.

[code]

## Code to reproduce the behavior ##

[code]

## Current version of MDAnalysis ##

[2021-01-18 00:53] #2985 closed

[2021-01-18 00:53] #3096 closed

[2021-01-18 18:59] spursbyte commented on #3074
I want to work on this issue. Can you please provide me more info?

[2021-01-18 19:44] IAlibay commented on #3074
@spursbyte It's not immediately clear to us what you would like more information about. As it's an issue that covers a large amount of information (being related to the theoretical basis of the analysis method), is there a particular area that you would like to have more information about?

Before I carry on, I should note that this may not be the best issue to tackle as a "first contribution". I

[2021-01-18 19:47] spursbyte commented on #3074
@IAlibay ok is there any first time issue that you can help me out with as i am new to open source contributons and would like to contribute to the organization..

[2021-01-18 19:55] IAlibay commented on #3074
@spursbyte I would suggest emailing on the MDAnalysis developer list: https://groups.google.com/group/mdnalysis-devel

My advice would probably be to look for issues tagged "Difficulty-easy" and "GSOC".

[2021-01-18 21:33] lilyminium opened #3098 "Travis Python 2.7 tests stall on installing dependencies"
## Expected behavior ##

Tests pass

## Actual behavior ##

The python 2.7 test consistently stalls upon installing dependencies. See https://travis-ci.com/github/MDAnalysis/mdanalysis/jobs/472541183#L641

## Code to reproduce the behavior ##

[code]

## Current version of MDAnalysis ##

- Which version are you using? (run `python -c "import MDAnalysis as mda; print(mda.__version__)"`)
- Which ver

[2021-01-19 00:25] orbeckst commented on #3098
Duplicate of #3079 ?

[2021-01-19 09:59] Multi-Kocky opened #3100 "Selecting 'protein' by atoms.select_atoms"
Hi, When I tried to calculate RMSD, I should select protein first. In my trajectory, there are several same proteins, I only want to select one protein in the system. I've tried `select_atoms('protein')` and `select_atoms('resid 2:9')`, they all selected all proteins.

When I checked the residues by `list(u.residues)`, the outcome is like below, so the residues number (2-9) are iterative until lis

[2021-01-19 10:39] jbarnoud commented on #3100
Hi @Multi-Kocky,

Please use the mailing list for usage questions: <https://groups.google.com/group/mdnalysis-discussion>. We try to keep the issue board for issues we have to fix.

Regarding your question, there are different ways of solving your problem. I would go for indexing over residues, something in the vein of `universe.select_atoms('protein').residues[1:8].atoms`.

[2021-01-19 13:48] Multi-Kocky commented on #3100
Sorry for that and thanks for your solution.

[2021-01-19 13:48] #3100 closed

[2021-01-22 00:17] lilyminium commented on #3098
@orbeckst Oops yes, I have a short memory....

Closed by #3095 and #3097.

[2021-01-22 00:17] #3098 closed

[2021-01-22 00:17] lilyminium commented on #3079
Closed by #3095 and #3097.

[2021-01-22 00:17] #3079 closed

[2021-01-22 17:23] tclick opened #3101 "Failed compilation using pip on macOS Big Sur"
## Expected behavior ##

MDAnalysis should install correctly when using `pip install mdanalysis`

## Actual behavior ##

    clang -Wno-unused-result -Wsign-compare -Wunreachable-code -DNDEBUG -g -fwrapv -O3 -Wall -I/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/usr/include -I/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/usr/include -I/Users/tclick/.pyenv/versions/3.9.1/lib/python3.9/si

[2021-01-22 17:39] IAlibay commented on #3101
Probably worth asking, is this x86 or aarch64 (i.e. M1 processor)?

Two things to say here:

1) We currently don't test on x86 + Big Sur, we can add it to the CI matrix but that's probably no good for debugging. I unfortunately don't have a macOS device, @lilyminium @RMeli @orbeckst, I think you all have macOS machines, have any of you done the jump to Big Sur?

2) python 3.9 isn't officially supp

[2021-01-22 17:54] orbeckst commented on #3101
I don't upgrade macOS until I really, really, really have to. So no, I am on Catalina for as long as possible.

However, the actual error (getpid) sounds like something that we fixed not long ago.... or it was something related to being able to compile on Windows. Have you tried building the development version, just in case there's a commit somewhere that fixed it?

The next step then is to find

[2021-01-22 18:03] richardjgowers commented on #3101
One way around this is we don't actually need a `pid` to generate random numbers...

[2021-01-22 19:21] IAlibay commented on #3101
Following up on @orbeckst's comment, yes this seems like it might actually be a duplicate of: https://github.com/MDAnalysis/mdanalysis/issues/2934

The fix has been added to `master` by @orbeckst so it might be fixed for the 1.0.1 release. But as mentioned, trying out `develop` would be the only way to really check that it works.

[2021-01-23 00:42] lilyminium commented on #3101
@nbgl has updated to Big Sur, I believe. On his recommendation I have not. 😅

[2021-01-23 18:54] IAlibay opened #3103 "python_requires not working?"
We are currently testing the release of 1.0.1 on testpypi (https://test.pypi.org/project/MDAnalysis/1.0.2/ please ignore the 1.0.2 tag, we originally uploaded 1.0.1 but that was broken so we've had to bump up the version number).

Currently `setup.py` on master has the following:
https://github.com/MDAnalysis/mdanalysis/blob/658a73d127716c6e1f5d4bcfd6dd5b12ecf71cef/package/setup.py#L629

My unders

[2021-01-23 21:01] tylerjereddy commented on #3103
Hey, can you try using wildcards on those exclusions, like `!=3.5.*`

I think it may be the PEP440 version specifiers in use: https://www.python.org/dev/peps/pep-0440/#version-specifiers

[2021-01-23 21:19] IAlibay commented on #3103
Thanks @tylerjereddy! At least locally this fixes a `pip install -e .` call.

[2021-01-24 00:02] orbeckst opened #3105 "no conda package for 1.0.0 Python 2.7"
## Expected behavior ##

Our docs say "install with conda" and "python 2.7 supported in 1.x" so **I expect to be able to install a Python 2.7 1.0.x with conda.**

Note that there is value in having a Python 2.7 version as this is a useable language frozen in time and thus ideal for scientific computing (I think Konrad Hinsen mentioned this somewhere in his blog or on twitter... can't find the refe

[2021-01-24 00:06] IAlibay opened #3106 "[1.0.1 pre-release issues] Python 2.7 GSD pip install defaults fails tests"
Just opening this issue for the sake of transparency / keeping track of where we are on the 1.0.1 release.

It turns out that for some reason pip installs of gsd with python 2.7 default to version 1.8.0 which then lead to crashes in the tests (seems like maybe it's only Linux based since @lilyminium couldn't reproduce on macOS?).

I'm pretty sure 1.8.0 shouldn't be py2.7 compatible (we had this is

[2021-01-24 00:09] IAlibay commented on #3105
😩 this would explain some of the user errors that got reported over the last few months.

Assuming we can fix all the py2.7 & py3.5 issues and release 1.0.1 do we want to also do a 1.0 py2.7 release or skip it?

[2021-01-24 00:16] orbeckst commented on #3105
Skip 1.0... if we can get 1.0.1 out as conda py 2.7 I am more than happy.

This is probably a conda-forge issue in that the package does not get built.

[2021-01-24 03:04] aditya-kamath commented on #3037
Hi @richardjgowers , I am student just learning how to develop code. In this situation, I found find_path in the ITPParser file, but I am unable to locate where the abspath function is at? Sorry, this might seem like a trivial question.

[2021-01-24 03:19] tylerjereddy commented on #3037
@aditya-kamath This may help: https://docs.python.org/3/library/os.path.html#os.path.abspath

[2021-01-24 04:18] aditya-kamath commented on #3037
Thanks @tylerjereddy !

[2021-01-24 13:28] ksy141 opened #3107 "Transformations example"
Hello, this is not a bug (the code itself works well), however, I think the documentation of transformations needs some updates. The documentation on this website (https://docs.mdanalysis.org/1.0.0/documentation_pages/transformations/rotate.html) provides the following example.

If I follow this example, I receive two errors. The suggested changes are:
1) u.atoms() --> u.atoms
TypeError: 'AtomGrou

[2021-01-24 13:45] IAlibay commented on #3107
Thanks for the report @ksy141

This is already fixed in the docs for our current v2.0 development version. Due to the way docs work we can't retroactively fix docs after a release has been made.

It seems like we forgot to port it back to v1.0.1 but we're already in a pseudo code freeze due to the upcoming release. I'll see if we can sneak the change in anyways.

[2021-01-24 13:49] ksy141 commented on #3107
Thank you, @IAlibay! Do you have a timeline for releasing MDAnalysis v2.0 and publishing its accompanying paper?

[2021-01-24 13:56] IAlibay commented on #3107
Unfortunately not :( I very much hope it'll be "this year" for both. The upcoming paper probably won't be 2.0 specific but rather 1.0+. The original aim was to release v2.0 in 2020, but given the current situation, progress on everything is slow.

[2021-01-24 13:58] ksy141 commented on #3107
Thank you, @IAlibay. Looking forward to v2.0 and a "complete self-contained paper".

[2021-01-24 16:12] IAlibay commented on #3107
I'm going to re-open this and put it as a milestone for 1.0.2 so we don't forget to backport the fix.

[2021-01-24 16:24] IAlibay commented on #2768
Just FYI unless there's any objections, I'm going to declare a code freeze on 1.0.1 (excluding release related CI/maintenance stuff).

There's a lot of things that still need deprecating/backporting (e.g. #2913, #2857), and then the nsgrid fix, so we'll need to cut a 1.0.2 release for them.

I still have hopes we can release this week, assuming we don't encounter more upstream issues...

[2021-01-24 22:30] IAlibay commented on #3107
Closed via commit by @lilyminium

[2021-01-24 22:30] #3107 closed

[2021-01-25 00:35] tylerjereddy opened #3109 "BLD: compiler recognition on MacOS"
## Expected behavior ##

Build system automagically handles both `clang` and  "genuine" `gcc` on MacOS. This command should work with `spack` built `gcc` compiler toolchain loaded on macOS 10.15.7: `python setup.py develop`

## Actual behavior ##

The build system thinks it is using `clang` but it is actually using `gcc` built with `clang` by `spack` (not the "alias" you would normally have on a "

[2021-01-25 00:45] IAlibay commented on #3109
@tylerjereddy I think I'm misunderstanding the issue. Is it that somehow the `spack` built `gcc` is triggering a return of `True` for `using_clang()`?

If so, out of curiosity what's the output of `gcc -v`?

[2021-01-25 00:54] tylerjereddy commented on #3109
@IAlibay Yes, that's what happens--I'd say that ideally the mechanism of compiler detection should not rely on string analysis alone--for example, we just do `return 'clang' in compiler_ver` in that function, which is obviously true because `gcc` was build from source using `clang` and `spack` will include the string `clang` in some of the metadata, etc.

Here's a small sample of `gcc -v` output;

[2021-01-25 00:56] tylerjereddy commented on #3109
I wonder if NumPy distutils has something we can borrow for this, probably

[2021-01-25 01:19] IAlibay commented on #3109
So probably a very naive question (especially since we go through the trouble of using `-v` currently), but why aren't we just using the string from `compiler.compiler` in our `distutils` compiler check?

I realise folks could technically alias `gcc` or `clang` to whatever string value they want, but surely we could be taking the name provided at face value right? If it's `clang in compiler.compil

[2021-01-25 03:06] tylerjereddy commented on #3109
I think 'gcc' more often means `clang` than `gcc` on MacOS, so we can't really take the name too literally. The string `clang` will almost always be in the description we get out there because it is basically an alias of sorts to `clang`. So, I don't think this is just "folks aliasing it," but rather that's the default case on MacOS if you don't change anything so our current code path would likel

[2021-01-25 16:07] IAlibay commented on #3106
Upstream were kind enough to fix things on the pypi end of things!

@lilyminium can you test on your end and see if it's fixed, I think it works for me now.

[2021-01-26 21:22] IAlibay commented on #3106
Closing since this has been confirmed as fixed.

[2021-01-26 21:22] #3106 closed

[2021-01-26 21:32] IAlibay opened #3110 "[1.0.1 pre-release issues] python 3.7 linux doesn't like our setup file"
## Expected behavior ##

`pip install -i https://test.pypi.org/simple/ --extra-index-url https://pypi.org/simple MDAnalysis==1.0.2b0`

_should_ work on all python versions supported by 1.0.1 (2.7, 3.5, 3.6, 3.7, 3.8).

_Note: 1.0.2b is only for the benefit of testpypi because our testpypi 1.0.1 was broken and you can't overwrite version numbers (it's all very silly)._

## Actual behavior ##

For p

[2021-01-26 21:33] IAlibay commented on #3103
Technically fixed in #3104 but further setup issues (apparently linked to `python_requires`) have appeared in #3110

[2021-01-26 21:41] hmacdope commented on #3109
Sorry to chime in a bit here but down the road at distopia we use something like:

[code]

you could then combine with something like:

[code]
which will fail to compile if not on clang if you want to go for the `try_compile idea`.

[2021-01-27 11:36] lilyminium commented on #3110
Update: Also tested on Ubuntu 19.04 3.7.9 and Ubuntu 20.04 3.7.0, 3.7.1, and 3.7.8. Also of note: installation works fine on Mac OS Catalina with 3.7.9 and also numpy 1.16.6 .

Possibly related: https://github.com/druid-io/pydruid/issues/198

So, focusing on ``numpy-1.16.6-py3.7-linux-x86_64.egg``... should numpy be restricted to a narrower range of versions? Should it be in both setup and install

[2021-01-27 11:46] nbgl commented on #3110
The plot thickens: it works on Python 3.7.3 on my Raspberry Pi (Raspbian 10).

[2021-01-27 11:46] lilyminium commented on #3110
Update 2: if I install 'numpy>=1.13.3,<1.17' first, it works. If I do not specify these constraints, it installs 1.19.something and goes back to failing

[2021-01-27 11:52] lilyminium commented on #3110
Update 3: installing on Ubuntu 20.04 with `venv` on Python 3.7.4 also works! 🤔

[2021-01-27 12:11] nbgl commented on #3110
Related? https://bugs.python.org/issue29694

[2021-01-27 12:14] IAlibay commented on #3110
Looking at the affected versions, wouldn't 3.5 and 3.6 fail if that was the case?

[2021-01-27 12:19] lilyminium commented on #3110
I think I may be wrong re: the other python versions I tested. @IAlibay, when was the Python build that you installed (the info listed when you just run `python`)? I just built another conda environment and for some reason this time the Python it installed was built on Dec 9 2020. In this environment, pip install works. In my old environment, conda installed a version built on Aug 31 2020. In thes

[2021-01-27 15:30] IAlibay commented on #3110
Ok I think I might have worked out why it suddenly started working for you @lilyminium

Here's my 31st Dec build:

[code]

If I just pip install on that it fails as normal.

However if I pip install numpy 1.16.6 first (before creating this environment, in an environment I've since deleted), it all works out. This is because the "right" numpy install is in cache so it just pulls from it. If I purge

[2021-01-28 09:40] lilyminium commented on #3110
Yeah I think you're right, @IAlibay. After purging the pip cache, neither conda nor virtualenv installs appear to be working on 3.7.9 or 3.7.4. However, it continues to work on MacOS Catalina on 3.7.9.

It is inconvenient to not support 3.7 on Ubuntu but I'm a bit lost here. :(

[2021-01-28 15:27] IAlibay commented on #3110
I think that's going to have to be our approach for 1.0.1. It seems to be some obscure upstream issue and at least for now asking folks to pip install numpy first isn't a big ask compared to say limiting matplotlib versions.

[2021-02-01 08:02] poojitharamachandra opened #3112 "nearest image convention not properly calculated"
HI,

i am using
MDAnalysis.lib.distances.distance_array(positions,positions,box=(l,l,l,0,0,0))

l=20.1 (nm)

but the results look like this

 [[[ 0.         13.6231144  17.83480742 ... 17.70136915 14.06992827
    15.3524243 ]
   [13.6231144   0.          6.61980563 ...  7.7938563  12.32506303
     4.86189317]
   [17.83480742  6.61980563  0.         ...  1.94133922 12.51396951
     2.514811  ]
   .

[2021-02-01 08:24] lilyminium commented on #3112
What kind of distances do you get if you use a cell with 90 degree angles (i.e. ``box=(l, l, l, 90, 90, 90)``)? It may be that the distance function doesn't know how to handle a box with angles of 0 degrees.

[2021-02-01 08:34] poojitharamachandra commented on #3112
what are these angles ?

[2021-02-01 08:42] lilyminium commented on #3112
The first three values of the [cell](https://en.wikipedia.org/wiki/Triclinic_crystal_system#/media/File:Triclinic.svg) `box` are the lengths of each side (x, y, z). The last three digits of the `box` are the angles of the cell (alpha, beta, gamma). If you set the angles to 90 degrees, that makes it cubic.

[2021-02-01 14:09] poojitharamachandra commented on #3112
thanks.  this solved the issue!

[2021-02-01 14:09] #3112 closed

[2021-02-01 14:22] poojitharamachandra commented on #3112
is there any way, i can calculate the direction also (+-x , +-y, +-z)  along with the distance?

[2021-02-02 10:03] lilyminium opened #3113 "np.int, np.float etc now deprecated"
## Expected behavior ##

Tests pass

## Actual behavior ##

They appear to be failing because numpy 1.20 has deprecated `np.int` and `np.float`.

https://github.com/MDAnalysis/mdanalysis/pull/3013/checks?check_run_id=1810195527#step:10:537

We should switch to the built-in `int`/`float` types, or choose the more precise `np.int32/64` etc.

## Code to reproduce the behavior ##

[code]

## Current v

[2021-02-02 10:21] IAlibay commented on #3113
For some reason I thought @tylerjereddy already fixed this.

Quickly grep-ing around, in package looks like it's affecting:
- nsgrid (probably should just change that one to np.intp?)
- maybe some util stuff? I'm assuming by https://numpy.org/devdocs/user/basics.types.html that np.float_ and np.int_ are fine

For testsuite:
- test_helix_analysis (switching to intp is fine there)
-

[2021-02-02 12:45] tylerjereddy commented on #3113
I think I fixed some of them, hopefully, but I guess a few slipped through. NumPy also accidentally made shuffling all memoryviews a warning, so I may need to release a patched scipy soon because it bricked hausdorff distance.

[2021-02-02 12:53] IAlibay commented on #3113
Yeah looks like it was just a couple of minor leftover things :)

This really is just highlighting the need to re-implement numpy-dev cron CI jobs (#3052), I'll have a look after 1.0.1 hopefully.

[2021-02-02 12:57] #3113 closed

[2021-02-04 10:28] PicoCentauri opened #3115 "Common AnalysisBase framework for storing results"
I'm working together with @joaomcteixeira to implement a [command line interface](https://github.com/PicoCentauri/mda_cli) for MDAnalysis. Our implementation is mostly finished 🥳. Currently, we are preparing the repo for moving to the mda organization and make it ready for CI, PYPI, Conda, etc.

However, one important part is still missing. For saving the data a common structure for the results of

[2021-02-04 14:48] joaomcteixeira commented on #3115
Great post @PicoCentauri ,

Thanks for summarizing it so well.

For reference, the issue that seeded this project is https://github.com/MDAnalysis/mdanalysis/issues/2377

I like the `.results` attribute. `results` can be a `dict` or even a dedicated `class` that can provide a general API to save the results. Feels natural also to iterate over its `items()`.

[2021-02-05 01:18] orbeckst commented on #3112
@poojitharamachandra for general questions, please ask on the mailing list https://groups.google.com/group/mdnalysis-discussion. Thanks.

[2021-02-05 19:48] IAlibay opened #3116 "hydrogenbonds import tests failing"
## Expected behavior ##

All develop tests should pass

## Actual behavior ##

Merging of  cbda8a6 lead to some import tests to fail: https://github.com/MDAnalysis/mdanalysis/runs/1840489613

PR with a fix incoming.

[2021-02-06 00:58] #3116 closed

[2021-02-07 17:56] richardjgowers commented on #2376
The speedups here look significant.  One initial option for keeping caches fresh is to go nuclear on any change to topology attributes.  This would just be removing everything in `u._cache` (or wherever everything is stored) on `TopologyAttr.set_atoms/anything`.  I'm much more in favour of having everything cached at Universe level rather than Groups.

[2021-02-07 19:24] mnmelo commented on #2376
A lighter alternative is to use some sort of topology versioning (say, an `int` stored under `Universe.topology._version`: any time a topology-modifying method is used it increments this version, and then it is easy for Group-based cache management to keep track of it and know whether caches need to be re-built.

I really have no preference for one solution over the other; input is welcome.

[2021-02-12 14:33] xiki-tempula opened #3118 "Deprecate options in WaterBridgeAnalysis"
## Is your feature request related to a problem? ##
I'm thinking of deprecating some options for WaterBridgeAnalysis, namely `selection1_type`, `update_selection`, `update_water_selection`, `filter_first`.

When I first wrote WaterBridgeAnalysis, I adopted a similar interface to HydrogenBondAnalysis such that the user could learn it more easily. Thus, some of the options don't make much sense to W

[2021-02-13 14:12] #3000 closed

[2021-02-14 16:53] xiki-tempula opened #3119 "Double counter in Water bridge analysis"
## Expected behavior ##

User Irtaza Hassan emailed me providing a case where

[code]
This should give a first-order water bridge.

## Actual behavior ##

It recognised the following route
A1···H2-O3
O3-H4···O5
O5···H4-O3
O3···H7-D8
Will be recognised as a third-order water bridge

## Code to reproduce the behavior ##

[code]

[code]

## Current version of MDAnalysis ##

- Which version are you us

[2021-02-17 17:03] orbeckst opened #3121 "logos are not suitable with transparent background"
## Expected behavior ##

Logo can be used on different color background (e.g. for NumFOCUS promotional material)

## Actual behavior ##

SVG/PDF versions of our logos have white patches on A and D

## Code to reproduce the behavior ##

See logos.

[2021-02-17 18:13] #3121 closed

[2021-02-18 05:25] anupama-creator opened #3123 "Installation error"
I need mdanalysis package for analysis but unable to install it properly as i am new to it...
If anybody known or has encountered the similar issue kindly please guide me or suggest me to resolve.
Thanks in advance for the help.....

After running a command on terminal......
(mdaenv) sudip@water1:~$ pytest --disable-pytest-warnings --pyargs MDAnalysisTests

I got the following error.......

======

[2021-02-18 09:24] RMeli commented on #3123
Hi @anupama-creator, the solution for this issue is described in #2938

[2021-02-18 12:43] cagfa1 opened #3124 "align.fasta2select ERROR (UnboundLocalError: local variable 'GAP' referenced before assignment)"
## Expected behavior ##

I want to align a 'mobile' pdb structure onto a 'reference' pdb structure in order to calculate RMSD values. The align_proteins function should output a .pdb file of the 'mobile' structure after alignment.

## Actual behavior ##

The align_proteins code uses MDAnalysis.align.fasta2select function but returns the error "UnboundLocalError: local variable 'GAP' referenced bef

[2021-02-19 09:11] avijain3 opened #3125 "Installation issue"
Hey guys,
 I am new to MDAnalysis modules. I tried importing the module in Jupyter I encountered this issue-

ImportError                               Traceback (most recent call last)
<ipython-input-2-4c4262a6b4c9> in <module>
----> 1 import MDAnalysis

C:\ProgramData\Anaconda3\lib\site-packages\MDAnalysis\__init__.py in <module>
    182 )
    183
--> 184 from .lib import log
    185 from .lib.l

[2021-02-19 15:07] jimboid opened #3127 "PPC64LE"
Hi folks. I compile codes for a large consortium of users across many HPC architectures in the UK. I've got a user that has requested to install mdanalysis into a conda env that she uses with openmm on ppc64le.

I have noticed that there is no ppc64le version on conda repo's or pypi and wondered if there is a technical reason for this (like endian etc) or just that noone has access to the arch to

[2021-02-19 15:34] IAlibay commented on #3127
Hi @jimboid

It's a case that we currently don't have any means of running CI on power arch, so we can't certify a release that would run on it.

Off the top of my head, probably dependencies are going to be the biggest pain. There might be some floating point issues with the current gcc settings, but that should be relatively obvious from running the tests.

P.S. I assume this is Bede, unfortunat

[2021-02-19 15:38] IAlibay commented on #3125
@avijain3 what version of python are you running?

Also if you do `conda list` what is the version of MDAnalysis that is reporting?

This issue should have been fixed version 1.0.

[2021-02-20 08:41] avijain3 commented on #3125
The version that shows on `conda list` is 0.20.1
This is the exact statement that pops on doing `conda list` "mdanalysis                0.20.1           py37h6538335_0    conda-forge"
The version of python that I use is 3.7.6

[2021-02-20 16:07] IAlibay commented on #3125
@avijain3 the latest version on conda-forge should be 1.0.0 not 0.20.1.

I'm not sure why/how this is happening,

Going by your paths I assume this is on Windows? What does `conda search MDAnalysis -c conda-forge` return for you? I can see 1.0 via anaconda prompt on Win10.

[2021-02-21 12:30] richardjgowers opened #3129 "abspaths slipping into SOURCES and breaking windows conda build"
https://github.com/conda-forge/mdanalysis-feedstock/pull/28

^^ On the 1.0.1 builds Windows is failing because some of the sources in the sdist are given as absolute paths.

This is a good description:

https://github.com/pyFFTW/pyFFTW/pull/250/files

It looks like we started trying to use `abspath` to get RTD to work here:

https://github.com/MDAnalysis/mdanalysis/pull/2749

probably because of o

[2021-02-21 12:52] avijain3 commented on #3125
These are the exact lines of code that appear
**```
(base) C:\WINDOWS\system32>conda search MDAnalysis -c conda-forge
Loading channels: done

# Name                       Version           Build  Channel
mdanalysis                    0.19.2 py36h6538335_1000  conda-forge
mdanalysis                    0.19.2  py36hfa6e2cd_0  conda-forge
mdanalysis                    0.19.2 py37h6538335_1000  conda-

[2021-02-22 14:28] IAlibay commented on #3125
Looks like 1.0.0 is getting picked up by conda. It's hard to tell what the issue is but the fact that conda didn't pick up 1.0.0 could be down to some library conflict? I would suggest creating a new environment and trying to install MDAnalysis again.

@richardjgowers and @orbeckst (whom I think have the keys to the conda-forge stuff), we shouldn't have a py3.9 version of v1.0.0. It's completely u

[2021-02-22 16:22] ajpowelsnl opened #3131 "Error in Introductory Example (https://www.mdanalysis.org/pages/basic_example/)"
## Expected behavior ##

Hello,

I am trying to make your basic MDAnalysis example (given here -- https://www.mdanalysis.org/pages/basic_example/), work but I am getting some simple matplotlib errors that should be easy to fix / update.

I will be happy to assist in the fix up, but since I do not really know this package, I will defer the the principal maintainers / developers.

I believe the erro

[2021-02-22 16:30] IAlibay commented on #3131
Hi @ajpowelsnl this has already been addressed in our development versions but we are still in the process of deploying the bugfix release for it. For more information see: #2938 (including the temporary fix for this).

Since this is a duplicate, I'm going to close this issue, but feel free to re-open if you think there are things that still need addressing.

[2021-02-22 16:30] #3131 closed

[2021-02-22 16:34] IAlibay commented on #3123
@anupama-creator did @RMeli's comment fix your issue? I have marked this issue as duplicate of #2938 and will close in a few days unless there are further issues.

[2021-02-24 12:16] avijain3 commented on #3125
So should I just install the MDAnalysis library or are there other libraries as well that need to be downloaded along with the MDAnalysis library i.e. would the MDAnalysis download all the dependencies on its own or do I have to download each other relevant libraries manually?

[2021-02-24 12:47] IAlibay commented on #3125
Installing via `conda` will pick up all the dependencies required for normal operation although some optional packages like parmed will need to be installed separately, see here for more details: https://userguide.mdanalysis.org/stable/installation.html#conda

That being said, @avijain3 these are more usage questions and probably are best asked on the mailing list.

[2021-02-24 12:47] IAlibay commented on #3123
Closing as a stale duplicate. Please feel free to re-open @anupama-creator if necessary.

[2021-02-24 12:47] #3123 closed

[2021-02-25 21:11] Seanny123 commented on #2974
To expand on what @markf94 has submitted, it's not that MDAnalysis code doesn't support Python 3.9, it's the package specification that needs to be updated, so it can work with stricter package manages such as Poetry.

Looking at the MDAnalysis Roadmap, I understand if this doesn't happen until 2.0 is released.

[2021-02-25 21:31] IAlibay commented on #2974
Indeed, we purposely aren't making 1.0.x py3.9 compatible. 1.0.x is now a legacy bugfix only release which will support py2.7, and py3.5-3.8 (although support for py2.7 and py3.5 is getting increasingly hard to guarantee).

Work is currently in progress to bring py3.9 along to 2.0.0, however not all our optional dependencies have a py3.9 release (at least last I checked).

@Seanny123  I'm not sure

[2021-02-25 21:53] markf94 commented on #2974
Yeah `poetry` is very strict when it comes to package versions. @Seanny123 basically said that there is nothing preventing you guys from making `MDAnalysis` officially Python 3.9 compatible by updating your `setup.py` since your code would still work. However, I understand your reasoning behind not doing that yet because of your dependencies.

[2021-03-01 18:25] IAlibay commented on #3110
Closing as wontfix - unless someone can think of something better, the solution is just to pip install numpy first if this occurs.

[2021-03-01 18:25] #3110 closed

[2021-03-01 18:27] IAlibay commented on #3125
@avijain3 is this good to be closed? If you're facing more installation issues please do let us know, otherwise I'll close this issue in a couple of days.

[2021-03-01 18:29] IAlibay commented on #3105
It doesn't look like conda-forge supports 2.7 or 3.5 releases, so we might have to make this PyPI only unfortunately. Maybe someone with more experience in the @MDAnalysis/coredevs knows better here?

[2021-03-01 18:34] IAlibay commented on #3103
This has been fixed however I'm keeping it open because there's a typo in the string:

https://github.com/MDAnalysis/mdanalysis/blob/bc95e31af1bd1a583161318ab381d005452d48ea/package/setup.py#L629

Also @orbeckst from the history it looks like you added this line in `master`, do we want to also have this in `develop`? It looks like a cleaner solution than the current `sys.version_info` check under

[2021-03-01 18:36] IAlibay commented on #2938
This _should_ have been addressed in 1.0.1 (I'm running matplotlib-base 3.3.4 without any issues).

[2021-03-01 18:36] #2938 closed

[2021-03-01 19:07] richardjgowers commented on #3105
I think we can specially request one, we can do that for .2

On Mon, 1 Mar 2021 at 18:29, Irfan Alibay <notifications@github.com> wrote:

[2021-03-02 12:52] mnmelo opened #3136 "Codecov reports wrong coverage diffs"
Couldn't find a discussion on this problem. Sorry if it's a duplicate.

## Expected behavior ##

Codecov CI should report coverage diffs that reflect the impact of modifications a new tests in a given PR.

## Actual behavior ##

Nonsensical values are reported, which sometimes cause the build to fail due to a perceived drop in the overall project's coverage. An example is the recent PR #3135, wher

[2021-03-03 08:07] avijain3 commented on #3125
Hello,Thanks for the sameYes I could install it after setting a new environment and degrading the version of matplotlib.ThanksI guess we could close this issue.
Also, was thinking if I should list the steps in which the library is to be installed in this issue itself so that people who try to install it from scratch don't face the same problem again?

Sent from Yahoo Mail on Android

  On Mon, 1 M

[2021-03-04 00:11] #2376 closed

[2021-03-04 07:58] PicoCentauri commented on #3115
Is there any opinion on the draft? Maybe from the @MDAnalysis/coredevs.

If we decide for a strategy we can push the `CLI` closer to a first working version. Thanks again for looking at this issue.

[2021-03-05 23:22] lilyminium commented on #2715
The mol2 writer code already exists, it would be nice to just remove the part that checks that it originally came from a mol2 and just write that part of the file in if it has not been read in. (I think it's the molecule data part?)

[2021-03-05 23:26] IAlibay commented on #2715
So to be the pessimist here, I think it's best we don't have a mol2 writer but instead use the RDKIT converter to deal with this. The reason is that otherwise we have to deal with SYBYL atom typing (not a difficulty easy label).

[2021-03-05 23:27] lilyminium commented on #2715
A*ha* RDKit also does not have a mol2 writer.

Personally I often have need of mol2 files but when I read them in and merge them into a new Universe, I cannot write them out again without a little hackery.

[2021-03-05 23:32] IAlibay commented on #2715
I honestly don't know how I feel about a mol2 file that doesn't conform to sybyl atom types, like there's a lot of them out there, but in many ways I feel like it's causing more trouble to the field than anything else.

[2021-03-05 23:57] IAlibay commented on #2715
After offline discussions, I have been convinced. It might make sense to do this, but we really should be throwing some warnings if/when we are generating non-standard mol2 files.

I can't remember if we do this already, but we'll probably want to verify atom types on read? (I want to say this was an option for a PR @RMeli was doing to read elements from mol2 files?) Otherwise we'll get write (war

[2021-03-06 23:40] IAlibay commented on #3125
Any ways to improve our documentation is appreciated, but I think it might be best to open a separate issue for this @avijain3 (i.e. specifically highlighting how the docs/userguide need updating). I'm afraid it'll make it hard for the devs to try to keep up with this issue.

I'm going to close the issue for now, if you think it's too much trouble to open a new one, please do re-open this one and

[2021-03-06 23:40] #3125 closed

[2021-03-07 02:24] IAlibay opened #3140 "CI for py2.7 and py3.5 are now consistently failing - master branch"
## Expected behavior ##

All CI tests pass

## Actual behavior ##

The CI tests we have running on Travis for 2.7 and 3.5 are now consistently failing: https://travis-ci.com/github/MDAnalysis/mdanalysis/pull_requests

From a quick look I suspect it's a conflict (there's a few cases of netcdf4 being mentioned).

We probably need to get these fixed so we can validate 1.0.2.

[2021-03-07 17:22] lilyminium commented on #2715
Old user manual with atom types generously provided [here](https://twitter.com/i/timeline) (I have a copy downloaded if that link vanishes).

[2021-03-07 19:15] #2345 closed

[2021-03-07 19:15] #2229 closed

[2021-03-07 19:16] #2919 closed

[2021-03-07 19:16] richardjgowers commented on #3140
Tbh drop them from the CI matrix and we can test them manually for the .2 release.

[2021-03-07 19:19] IAlibay commented on #3140
I did get 3.5 to work again, but yeah fair, 2.7 is being really difficult.

[2021-03-07 19:49] lilyminium opened #3142 "RDKitParser cannot create Universe from empty ROMol"
## Expected behavior ##

A Universe created from an ROMol with no atoms gives a Universe with no atoms.

## Actual behavior ##

The parser assumes there's at least one atom (which would be the vast majority of cases).
[code]

## Code to reproduce the behavior ##

[code]

## Current version of MDAnalysis ##

- Which version are you using? (run `python -c "import MDAnalysis as mda; print(mda.__versi

[2021-03-07 20:20] lilyminium commented on #3142
@cbouy you could add this to your latest PR if you like, it's a quick check or try/except.

[2021-03-08 23:49] lilyminium commented on #3140
Closed by #3143

[2021-03-08 23:49] #3140 closed

[2021-03-09 06:52] lilyminium opened #3144 "ChainID is overwritten by segid"
## Expected behavior ##

I can round-trip chainID information from files.

## Actual behavior ##

ChainIDs get overwritten by SegmentIDs, even though the latter is not actually in the original PDB specification. Because the default segment name is "system", this also means that the default chainID is "M" and that's kind of weird.

## Code to reproduce the behavior ##

[code]

And converting it to

[2021-03-09 08:00] pd15ms089 opened #3145 "Netcdf Trajectory Not Loading"
## Expected behavior ##

I have a Netcdf file which was constructed by appending several Netcdf trajectories using cpptraj. With VMD there is no issue reported while loading the trajectory. Ideally MDAnalysis also should work. My code while using MDAnalysis to load the trajectory is following:
[code]
As per my understanding with MDAnalysis, It should load the trajectory without any warning.

## Ac

[2021-03-09 18:13] IAlibay commented on #3142
Thanks for the quick reply here @cbouy :) (I swear I'll get to reviewing your PRs ASAP [current list is 1.0.2 -> RDKIT stuff -> 2.0 (we got a 2 month deadline for 2.0, so hopefully deadlines are going to push us to review faster 😅 )]

[2021-03-09 18:56] IAlibay commented on #3145
Thanks for reporting this issue @pd15ms089 would you be able to upload an example trajectory ? (ideally one that we can host here under GPLv2). It's not immediately clear to me as to what is happening here, I suspect our readers are expecting a different float size than what VMD is storing values as.

[2021-03-09 22:40] lilyminium commented on #3144
Please go ahead @sidhanthapoddar99! Put up a pull request and link this issue, and it will get reviewed. If you need help getting started, please check out the [user guide](https://userguide.mdanalysis.org/stable/index.html), particularly the [Contributing](https://userguide.mdanalysis.org/stable/contributing.html) section and [Contributing code](https://userguide.mdanalysis.org/stable/contributin

[2021-03-09 22:41] lilyminium commented on #3142
Thanks @mehulmj! If you put up a pull request and link this issue, it will get reviewed. If you need help getting started, please check out the [user guide](https://userguide.mdanalysis.org/stable/index.html), particularly the [Contributing](https://userguide.mdanalysis.org/stable/contributing.html) section and [Contributing code](https://userguide.mdanalysis.org/stable/contributing_code.html) sec

[2021-03-10 01:11] sulays commented on #3124
Hi @lilyminium, I am looking at some starter issues to prep for GSoC and would like to work on this issue.
I think the problem is that the variable `GAP` is assigned inside the for loop if statement scope in `MDAnalysis.align.fasta2select` function.
[code]
So if there are no gaps then gap never gets initialized and it gives the `UnboundLocalError` . So the solution will be assigning `GAP` outside

[2021-03-10 01:14] lilyminium commented on #3124
Hi @sulays, welcome to MDAnalysis! That does sound promising -- put up a pull request that links to this issue with your fix and a test, and we will review it. If you need help getting started, please check out the [user guide](https://userguide.mdanalysis.org/stable/index.html), particularly the [Contributing](https://userguide.mdanalysis.org/stable/contributing.html) section and [Contributing co

[2021-03-10 01:57] mkadiya20 commented on #2666
Hello, am I able to work on this?

[2021-03-10 02:02] IAlibay commented on #2666
Please do go ahead @mkadiya20. Put up a pull request and link this issue, and it will get reviewed. If you need help getting started, please check out the [user guide](https://userguide.mdanalysis.org/stable/index.html), particularly the [Contributing](https://userguide.mdanalysis.org/stable/contributing.html) and [Contributing code](https://userguide.mdanalysis.org/stable/contributing_code.html)

[2021-03-10 02:04] IAlibay commented on #2666
Please also don't forget to introduce yourself on the developer list if you are looking to apply for GSOC @mkadiya20 (see here for more details: https://www.mdanalysis.org/2021/03/09/gsoc2021/)

[2021-03-10 02:16] mkadiya20 commented on #2666
Thank you very much! I will do a PR once I solve the issue and I'll be sure to introduce myself.

[2021-03-10 02:33] sulays commented on #3124
Do I need to write a specific test for the changes I make? @lilyminium

[2021-03-10 02:38] IAlibay commented on #3124
@sulays yep, if this bug was found it means we didn't cover this edge case, so you'll want to have a test that at the very least checks that this is no longer happening.

[2021-03-10 16:53] aditya-kamath commented on #3142
If @mehulmj wants to take this up that's great! Although, I can take a look at it if it's just a try/except..

[2021-03-10 17:14] IAlibay commented on #2862
We no longer use Travis so I'm closing. We should eventually review our usage of how thread indepdent our tests are, but that's no longer a priority (the main hinderance to the tests is actually running coverage [I think it does some kind of weird thread interruption stuff]).

[2021-03-10 17:14] #2862 closed

[2021-03-10 17:20] IAlibay commented on #2670
@richardjgowers is this fixed by your latest nsgrid code?

[2021-03-10 17:25] IAlibay commented on #2969
@xiki-tempula did you get anywhere with getting this into scipy?

[2021-03-10 17:28] lilyminium commented on #2540
Yes, let's use matplotlib-base.

[2021-03-10 17:35] IAlibay commented on #2670
I'll add it to the list for 1.0.2 then.

[2021-03-10 17:41] IAlibay commented on #2364
I'm modifying the milestone here to 1.0.2 so that we can make a decision on whether we want to go ahead with the deprecation for this now so that we can fix this in 2.0. We need to agree on this soon as we'd like to get 1.0.2 out ASAP.

[2021-03-10 17:44] IAlibay commented on #3142
@aditya-kamath in the interest of making sure we don't get multiple PRs for a single issue & also having adequate numbers of gsoc-starter issues, I would suggest letting @mehulmj having a first go at it. Should a PR not happen within a reasonable amount of time (maybe couple of days to a week depending on how many GSOC students appear looking for issues), then it's ok for others to open PRs on the

[2021-03-10 17:52] aditya-kamath commented on #3142
Sounds good! I'll take up one of those instead!

[2021-03-10 18:02] IAlibay commented on #2327
We probably should fix this for for 2.0. In the interest of changing the way that velocities are written, do we think it's worth adding a warning in 1.0.2 that the velocity writing behaviour is going to change? (I'm reluctant to just add all the warnings, but at the same time doing this without warning is probably a bad idea).

[2021-03-11 01:30] #3055 closed

[2021-03-11 06:37] #2540 closed

[2021-03-11 14:05] xiki-tempula commented on #2969
https://github.com/scipy/scipy/issues/13673 They say there isn't such a function in scipy and if I want to have one I need to implement it myself.

[2021-03-11 17:26] orbeckst commented on #2364
I am in favor of
- deprecating `resnum` in 1.0.2 for removal in 2.0
- changing TPRParser to 1-based resid with the `tpr_resid_one_based=True|False` hack and warning in a 1.x (we could do a 1.1 just for it – would also make the CHANGELOG very clear and more in-line with semantic versioning)

[2021-03-11 17:31] orbeckst commented on #2364
(The purist in me still does not particularly like that we are changing resid from what's inside the file. However, I feel that resid is so commonly used by users without thinking that it's an internal attribute that we have to make the change. If we want to keep track of internal values then we should come up with a bunch of attributes that make this clear, e.g. `tpr_resid` or `pdb_resid` or just

[2021-03-11 18:19] V0lantis commented on #2969
This is not what @tupui said I believe. He said :

If you are not interested in implementing it, it could give it a try :-)

[2021-03-11 18:23] IAlibay commented on #2969
From an MDAnalysis standpoint, are we ok saying this will be dealt with upstream or would you prefer we keep this issue open here @xiki-tempula ? (I guess maybe we should wait and see what the general feeling is towards such a feature on the scipy mailing list first?)

[2021-03-11 18:31] tupui commented on #2969
To clarify things, I don't feel competent enough to propose a PR myself as I am hearing about this from the first time. I could review the work or help with making a PR though if needed.

[2021-03-11 18:48] xiki-tempula commented on #2969
@V0lantis Yes, it is true that the wording is a bit different but you know, in practice, it might be close. Feel free to implement it, if you felt confident with it.
@IAlibay Yes, I think we could close this issue.

[2021-03-11 18:51] #2969 closed

[2021-03-11 23:07] lilyminium commented on #2364
I think many users don't expect this because a) tpr files are not human readable and b) gro files, also supported by gromacs and human readable, index the exact same system from 1. In favour of supporting indexing from 1, but maybe printing warnings that we'll do so in 2.0 in 1.0.2, and printing warnings in 2.0 that we have now done this.

[2021-03-11 23:20] orbeckst commented on #2364
1. Sorry, just to clarify: By "this" you mean "keeping TPR resid 0-based as in the internals of the TPR format"?
2. And I read your comment in total that you are supporting making resid 1-based.
3. Finally, you think that we do _not_ need the `tpr_resid_one_based=True|False` in 1.1.0 and that a warning of impending doom is sufficient?

[2021-03-11 23:21] IAlibay commented on #1901
@lilyminium and I are keen to see this get fixed for 2.0, if anything it breaks colour-by-bfactor visualisation in NGLView.

Do we need to warn users in 1.0.2? (I don't think so, but maybe I'm missing something).

[2021-03-11 23:49] lilyminium commented on #1901
To repeat what I said on Discord, IMO we should in 2.0 but maybe not 1.0.2. My arguments is that users *may* have assigned different information to bfactors and tempfactors in existing code. The most likely scenario to select atoms with custom tags (e.g. "bfactor 2" vs "tempfactor 2")

[2021-03-11 23:56] lilyminium commented on #2364
@orbeckst
1. Sorry, yes the unexpected "this" is the currently 0-based resids.
2. Yes
3. I thought we were just adding a deprecation warning in 1.0.x and actually doing the change in 2.0?

Also, re: deprecating `resnum` -- it actually does now select different information to `resid` in a selection string, because resids incorporate altlocs and resnums do not. I think you could replicate `resnum` s

[2021-03-12 00:32] sulays commented on #2915
Hi, I was going through the code and found out that many other selections are also not consistent with `around` and they don't return an empty `AtomGroup` (e.g `sphlayer`). Should I create a PR for changes in all such selections?

[2021-03-12 05:49] hmacdope opened #3148 "DensityAnalysis user defined grid coordinates are silently ignored if a grid centre is not provided."
## Expected behavior ##
If grid dimensions (`xdim, ydim, zdim`) are provided to `DensityAnalysis` but a grid centre (`gridcenter`) is not set,the user should receive an exception or warning that the grid dimensions are being ignored. This is noted in the docs, but a warning should probably be issued.

## Actual behavior ##

If grid dimensions (`xdim, ydim, zdim`) are provided to `DensityAnalysis`

[2021-03-12 08:56] jbarnoud commented on #2364
I like the `tpr_resid_one_based=True|False`. It means users can prepare for the deprecation.

[2021-03-12 09:22] xiki-tempula commented on #2915
Hi @sulays Thanks for your interest. I think this is a very good idea. It might be good to raise these selections as issues (explain what you expect and what you got) and then make a PR against them.

[2021-03-12 22:36] mkadiya20 commented on #2666
I was working on this a little bit, I got the helper class to use `Universe.copy()`. As for providing AtomGroups, a tuple of two AtomGroups is passed in `Contacts` rather than `selections` string. So, I just pass `Universe.select(atmgrp[0])` rather than with selection string. So should I completely get rid of selection string from the class argument or just add AtomGroup tuple as optional or make

[2021-03-12 23:06] IAlibay commented on #3082
See here for some extra discussions on the subject: https://github.com/MDAnalysis/mdanalysis/pull/3139#issuecomment-797795850

[2021-03-13 00:33] IAlibay opened #3150 "[CI] TestHELANAL.test_residue_gaps_split fails on py3.6 FULL + numpy_min"
## Expected behavior ##

CI should not fail.

## Actual behavior ##

The numpy 3.6 full tests with the numpy 1.16 (i.e. our minimum supported version) is failing consistently when testing TestHELANAL.test_residue_gaps_split. It looks like an issue related to a greater than expected number of warnings being thrown. See here: https://github.com/MDAnalysis/mdanalysis/pull/3128/checks?check_run_id=209

[2021-03-13 02:48] IAlibay commented on #3150
Somehow this just starting working again (see #3151). I assume some quick upstream change? Since I can't replicate the issue locally, I am closing this issue and we can re-open it if it happens again.

[2021-03-13 02:48] #3150 closed

[2021-03-13 11:57] xiki-tempula commented on #2364
To add to this whole complexity. The residues id in the gromacs gro file could start from a number that is not one.
For example, if I have a protein where the N-terminus is not there and the crystal structure start from residue 20.
The gro file could start with resid 20 but the gromacs tpr residue id will always start from 0.

[2021-03-13 16:58] avitomar12 commented on #3148
Hey @hmacdope I would like work on the issue.

[2021-03-13 17:03] IAlibay commented on #3148
@avitomar12 please do go ahead and raise a PR.

[2021-03-13 20:21] biogen98 commented on #3148
Hey @avitomar12, sorry I just saw you comment when making the pull request.
I started working on the issue this morning and I was not aware that I should let this know.

[2021-03-13 22:25] HenryKobin commented on #3144
Hi @lilyminium ! I'm taking a look around the codebase regarding this issue, and was curious - Does this affect multiple files or just coordinates/PDB.py, particularly around [Line 1083](https://github.com/MDAnalysis/mdanalysis/blob/6803cf6c5aa62744099803145f3ac9398389244c/package/MDAnalysis/coordinates/PDB.py#L1083)? I guess i'm trying to wrap my head around if this only affects this particular f

[2021-03-13 22:42] IAlibay commented on #3144
@sidhanthapoddar99 are you still looking to work on this issue?

@HenryKobin in the interest of not creating a stressful/competitive environment for prospective GSoC students, it may be best to try to avoid issue fixing collisions if possible. There's no written rule about this, and in the end any help towards our issues is appreciated, but given that there are other issues to work on, it may be b

[2021-03-13 22:48] HenryKobin commented on #3144
Makes sense @IAlibay ! I certainly don't want to cause any stress on this at all. I believe all the other GSoC issues are taken, but I can browse around and see what else is available in the issues list.

[2021-03-13 22:51] lilyminium commented on #3144
@HenryKobin maybe give #2604 a go, as the PR for that one stalled some time ago.

[2021-03-13 22:51] sidhanthapoddar99 commented on #3144
Hi @IAlibay it's fine if @HenryKobin wants to work on this issue, I would require some time in getting around the codebase. When I completely understand the codebase ill try to solve some other issues.

[2021-03-13 22:58] IAlibay commented on #3144
Ah, this is indeed problematic, we will see what we can do to release/label more GSoC issues.

I do apologise @HenryKobin, we should have implemented better protocols/guidelines so that awkward scenarios like these don't happen. We'll have a chat amongst the mentors to see how we can make this process easier. I am happy to see things did resolve themselves though 😃

Thanks @sidhanthapoddar99 for b

[2021-03-13 23:03] IAlibay commented on #3103
Closing as fixed in `master` with #3139. We should discuss about porting this over to `develop` for 2.0 eventually though.

[2021-03-13 23:03] #3103 closed

[2021-03-13 23:06] IAlibay commented on #3017
Closing as we no longer use appveyor.

[2021-03-13 23:06] #3017 closed

[2021-03-13 23:07] HenryKobin commented on #3144
Thanks @sidhanthapoddar99 ! @IAlibay  @lilyminium I'll take a shot at this one and I'll update promptly if I get stalled or can't work on this issue.

[2021-03-13 23:22] lilyminium commented on #3144
@HenryKobin I would start with trying to fix PDB.py to start off with. All the formats have the `segids` that line 1083 gets, but [not all file formats have chainIDs](https://userguide.mdanalysis.org/stable/topology_system.html#format-specific-attributes). So far as I can tell, the other formats listed there (e.g. XPDB) don't have writer classes associated, so roundtripping is not yet a problem th

[2021-03-13 23:24] IAlibay commented on #516
For GSoC starters that might be interested in this issue. We would be looking for folks to tackle one of these tests at the time.

[2021-03-13 23:27] HenryKobin commented on #3144
@lilyminium cool! I'm just about done with the fix, and I'm looking over the test suite right now. There appears to be a test that asserts that the chainID will come from the last character of the segid. I'm guessing I can remove this test and replace it with a test that is similar to the "reproduce this behavior" section except it passes?

I'll be opening up a PR soon, so i'll just leave that up

[2021-03-13 23:40] lilyminium commented on #3144
@HenryKobin yes, do put up the PR. However, I think it is expected that when a chainID does not exist (vs. being empty), then it comes from the last character of the segID. In this issue I set the chainID to "x" and it was still getting written out as "M", which is the case that I would like to fix.

Thanks for working on this!

[2021-03-14 03:44] IAlibay commented on #3049
Travis CI cron job from #3149 has now been set to a weekly run and works (https://travis-ci.com/github/MDAnalysis/mdanalysis/builds/220027210s). We can re-consider as merge only later (I suspect we might want to avoid this at the moment as we are likely going to get a large volume of merges during the GSoC period). -- closing

[2021-03-14 03:44] #3049 closed

[2021-03-14 05:57] orbeckst commented on #2327
I agree that we should have a warning 1.0.2 — if nothing else we can then say that we warned everyone.

[2021-03-14 16:07] IAlibay commented on #2768
Release 1.0.1 has been completed -- closing

[2021-03-14 16:07] #2768 closed

[2021-03-14 16:27] IAlibay opened #3159 "Release 1.1.0"
Hi all,

Having recently completed 1.0.1, we would like to quickly deliver 1.1.0 ASAP.

This is because:
  1) Windows does not currently work with 1.0.1
  2) There are lots of very useful features sitting in 2.0 which cannot be used (RDKIT, MSD, new helanal, etc...)
  3) Maintaining the 1.x branch is becoming unmanageable - we are now at a point where even py3.6 is getting dropped by upstream pack

[2021-03-14 16:35] IAlibay commented on #1389
Re-opening because we didn't address s390x. Is this something we want to target? We can add it to our Travis cron matrix, but do we actually have a reasonable expectation that any of our users are using IBM Z machines?

As far as I'm aware there's not a single such machine in the top500, and I can't think of any academic cluster that has one either.

Unless there's a reasonable case for it, I thin

[2021-03-14 16:48] IAlibay commented on #2670
Just tried this locally with the current `master` and it seems to be fine -- PR incoming

[2021-03-14 17:08] lilyminium commented on #3159
re: temp/bfactors -- we could warn for the extremely rare case that someone has used ``add_TopologyAttr`` so that both factors are in the same universe, but contain different values, possibly as tags. I'll see if I can make a warning for that case only (that both exist).

[2021-03-14 17:30] IAlibay commented on #2670
Actually, it's not clear to me that the intended results from https://github.com/MDAnalysis/mdanalysis/pull/2657#issuecomment-612587472 are actually happening, particularly with regards to:

[code]
Here len(ag) returns 0 on master, but the expectation from those comments was 1?

Since I didn't really have much interaction with those PRs/Issues, I'm a little bit lost. Can @lilyminium or @richardjgo

[2021-03-14 17:43] avitomar12 commented on #3148
@biogen98 Have you resolved the issue or something is missing?

[2021-03-14 18:32] IAlibay commented on #3127
Minimal support was added in #3149, I'm leaving this PR open as we haven't tested how much of our optional dependencies are covered by ppc64le.

[2021-03-14 20:17] richardjgowers commented on #2670
@IAlibay that should return nothing.  An `around` selection excludes the selection string it's "around"ing.  I.e. if you select waters within 4,0 of a lipid, you don't get the lipid (despite it being within 4.0 of itself).

This works:

[code]

As a side note, it's pretty slow because by setting the box so small, everything is overlapping so the search is (inefficiently) dong the full NxN search.

[2021-03-14 20:25] IAlibay commented on #2670
Thanks @richardjgowers I'm going to remove the tags though, as this is a `master` change (although we will need to make an equivalent one for when this code gets put into develop), and I believe we aim for all GSOC contributions to be `develop`.

[2021-03-14 21:44] orbeckst commented on #3159
1.1.0 is then really the final MDA 1.x release (short of errors in the package build which might require a patch release).

We'll then stop any support for Python 2.7 & 3.6 (yikes... I am unhappy about how fragile the Python ecosystem is... but that's a different rant) and no more bug fixes for 1.x.

We should publish a requirement file with last known good versions of all deps that make 1.1.0 wor

[2021-03-14 22:03] orbeckst commented on #3145
Can you open your nc file with

[code]

?

[2021-03-14 22:06] orbeckst commented on #3101
@tclick which version of MDAnalysis did you try to `pip install` ? In particular, we thought that 1.0.1 might work.

[2021-03-14 22:10] orbeckst commented on #2980
Is there anything here that we could let prospective GSoC students do?

Ignoring numpy RuntimeWarnings would be a start.

[2021-03-14 22:11] orbeckst commented on #2866
@edisj is your writer PR out of draft stage?

[2021-03-14 22:22] orbeckst commented on #2364
The master (deprecation warning + new kwarg) version PR #3153 was merged; this issue will close with the develop PR #3152 that changes the default behavior.

[2021-03-15 01:16] aditya-kamath commented on #516
I've worked with lammps files before,  maybe I can take that up.!

[2021-03-15 03:32] wuchiz opened #3166 "NCDFReader cannot get dt for single frame trajectories"
## Expected behavior ##

I want to load mutiple netcdf trajectories files using
mda.Universe('cba_wat.prmtop',['1.forw.nc','2.forw.nc']

## Actual behavior ##
It report error when there is a nc file only including single frame. And it succeds when all the nc files all have more than one frames.

error is listed as follow
---------------------------------------------------------------------------
I

[2021-03-15 03:37] wuchiz opened #3167 "error when load mutiple netcdf trajectory files"
## Expected behavior ##

I want to load mutiple netcdf trajectories files using
mda.Universe('cba_wat.prmtop',['1.forw.nc','2.forw.nc']

## Actual behavior ##
It report error when there is a nc file only including single frame. And it succeds when all the nc files all have more than one frames.

error is listed as follow
---------------------------------------------------------------------------
I

[2021-03-15 03:39] IAlibay commented on #3166
@wuchiz if you open the single frame trajectory on its own, does it open properly?

[2021-03-15 03:40] IAlibay commented on #3167
Looks like an accidental duplicate issue -- closing this one

[2021-03-15 03:40] #3167 closed

[2021-03-15 04:14] IAlibay commented on #3166
Can confirm this is reproducible. Here is some code to reproduce this behaviour:

[code]

Switching the position of the one frame netcdf still leads to the error, but reading it alone isn't an issue.

[2021-03-15 04:23] wuchiz commented on #3166
I can open the single frame trajectory properly
so you mean i must place the one frame file in the end of the list?

[2021-03-15 04:25] wuchiz commented on #3166
I can open the single frame trajectory properly
so you mean i must place the one frame file in the end of the list?

[2021-03-15 04:32] wuchiz commented on #3166
I can open the single frame trajectory properly
so you mean i must place the one frame file in the end of the list?

[2021-03-15 04:33] wuchiz commented on #3166
I can open a single frame file properly. Just can't open mutiple files

[2021-03-15 04:34] IAlibay commented on #3166
No, sorry in my previous comment (https://github.com/MDAnalysis/mdanalysis/issues/3166#issuecomment-799076733) I was pointing out that it doesn't matter what order you pass it, it will still fail.

The issue is essentially down to the fact that `_get_dt` fails for single frame trajectories.
Probably the easiest way to fix this is just to put a try/except in there and return the 1 ps default value.

[2021-03-15 04:34] wuchiz commented on #3166
But have many nc files. most of them have a single frame. so how can i solve it?

[2021-03-15 04:35] IAlibay commented on #3166
@wuchiz I'm not sure of the circumstances, but we're getting multiple repeated messages from you. Is this intentional?

[2021-03-15 04:38] wuchiz commented on #3166
sorry for that, the network connetion to github is poor. so i refresh the website. then there are mutiple repeated messages.

[2021-03-15 04:39] IAlibay commented on #3166
In order to read multiple frames at once, this issue will require fixing our code base. I have outlined the necessary steps to do so above, and hopefully someone will get around to implementing this fix in the near future. If you would like to contribute a PR for this you are more than welcome to do so.

In the mean time, I'm not sure what the best alternative is. Off the top of my head, I guess y

[2021-03-15 04:47] IAlibay commented on #3166
No worries, sorry to hear that :(

[2021-03-15 04:52] wuchiz commented on #3166
Thanks for your help! I use netcdf.MFDataset to read mutilpe file. it can read mutiple files at the same time. then i can pass them to MemoryReader. But still hope someone can fix this bug in near future.

[2021-03-15 07:38] TestPrab commented on #2439
Hey Everyone I am Prabhat a second-year undergraduate student from India, and I am interested to contribute, will it be possible if someone can tell me what is expected and how much we have done or something?

[2021-03-15 09:08] #2364 closed

[2021-03-15 14:39] IAlibay commented on #2987
@p-j-smith @bieniekmateusz Just catching up here as we are planning to aim for a final 1.x release at the end of this week. Are we ok deprecating `hbonds.hbond_autocorrel`, i.e. are you likely to get all the planned changes you want in for 2.0 (our deadline for 2.0 will be ~ 2 months from now)?

[2021-03-15 14:53] p-j-smith commented on #2987
Hi @IAlibay, it should be okay to go ahead and deprecate `hbonds.hbond_autocorrel`. We've not added the curve-fitting functionality to the class, but there is an example of how to do this in a PR for the UserGuide (https://github.com/MDAnalysis/UserGuide/pull/133#).

[2021-03-15 14:58] mnmelo opened #3168 "Unwrap with default settings fails for virtual sites"
## Expected behavior ##
For an `ag` containing virtual-sites (which are always massless in GROMACS topologies) `ag.unwrap()` should unwrap `ag` atoms.

## Actual behavior ##
[code]

## Code to reproduce the behavior ##
[code]

## Cause / possible solutions

 - Virtual-sites share no bonds with the rest of the molecule. This is an issue on its own. We should probably add bonds between virtual sites

[2021-03-15 15:01] IAlibay commented on #2987
Thanks, for the quick response @p-j-smith!

[2021-03-15 15:04] mnmelo commented on #3168
This bug is a manifestation of what @orbeckst already stated in #1954, and follows the discussion there and in #588.
I am preparing a PR that addresses solution 2 above, but the most elegant would be what @jbarnoud proposes in #1954.

[2021-03-15 16:48] IAlibay commented on #2987
pinging @richardjgowers here, apparently there might be a missing overlap in functionality between the two codes? If so we should just fix hbond_autocorrel.

[2021-03-15 17:15] IAlibay commented on #2987
After discussions with @richardjgowers the plan will instead be to:
a) move hbond_autocorrel to the hydrogenbonds folder
b) fix the lines which is causing this numpy warning

[2021-03-15 17:38] orbeckst commented on #2439
Hello @sparkingdark , I know that you asked a while back but we now have a discord server (see https://github.com/MDAnalysis/mdanalysis/wiki/GSoC-FAQ#how-do-i-contact-mdanalysis for the sign up link).

[2021-03-15 17:40] orbeckst commented on #2439
Hello @TestPrab , please read https://www.mdanalysis.org/2021/03/09/gsoc2021/ to get started – the blog post and the linked documents should answer all your immediate questions. We look forward to learning more about when you introduce yourself on our developer mailing list. We keep all general discussions on the mailing list and keep issues for discussions directly related to and specific to the

[2021-03-15 20:41] biogen98 commented on #3148
@avitomar12 The issue is now resolved. Apologies again for the inconvenience.

[2021-03-16 00:21] orbeckst commented on #2919
These were long 2 days ;-).

I am glad that this one is done!

[2021-03-16 00:39] edisj commented on #2866
yes - I've just pushed a working cleaned up version to the pull request #2869

[2021-03-16 03:53] avitomar12 commented on #3031
Hey @IAlibay  Is it possible to give reference to the code for this issue?

[2021-03-16 12:15] IAlibay commented on #3031
@avitomar12 we are referring to: https://github.com/MDAnalysis/mdanalysis/blob/6282385644d672cf7023584347e35048935ab429/package/MDAnalysis/coordinates/ParmEd.py#L137

Particularly the class' ability to take timestep objects as an input.

@lilyminium should we try to get the deprecation warning through in 1.1.0 for this?

[2021-03-16 12:40] lilyminium commented on #3031
I don't know how many people actually use this code instead of just the convert_to function. Did we have a deprecation warning when we removed ts from the other writers?

[2021-03-16 13:02] IAlibay commented on #3031
Yup: https://github.com/MDAnalysis/mdanalysis/blob/4365f3b07c1bf2ebcf16424b26162102954c5b90/package/MDAnalysis/coordinates/base.py#L2225-L2230

[2021-03-16 14:06] lilyminium commented on #3031
Okies, sounds good. I'll do that and the chainID deprecation.

[2021-03-16 17:01] orbeckst commented on #3115
Did you survey the existing classes? How many do use `results`? More importantly, how many use `results` in a way that's not compatible with the above suggestion **1**? For example, for RDF `results` should be a dict storing bins and rdf values but actually store the rdf (I think that's _not_ true for RDF but for e.g., RMSD or RMSF, where the independent variable is something like `times` or `resi

[2021-03-16 17:05] lilyminium commented on #3115
I also like the `results` attribute. results could contain all the output of `run()`, adding to the class rather than replacing an existing attribute. This would be especially relevant for classes like PCA, where both the eigenvectors and eigenvalues are important.

iirc at least 2 classes use `results` -- I think `encore` may be one. None use `output` as an attribute, I believe.

[2021-03-16 17:43] orbeckst opened #3174 "change author email address to official MDA email"
## Expected behavior ##

I would expect an official MDA email like mdanalysis@numfocus.org to be listed in `{package,testsuite}/setup.py`

## Actual behavior ##

For historical reasons, the author email address in setup.py is still @nmichaud 's old address.
https://github.com/MDAnalysis/mdanalysis/blob/6282385644d672cf7023584347e35048935ab429/package/setup.py#L600 and https://github.com/MDAnalysis

[2021-03-16 17:51] jbarnoud commented on #3174
Can we have a `coredevs@mdanalysis.org` that would be something like a mailing list?

[2021-03-16 18:01] orbeckst commented on #3174
Sure, the NF address is already a mailing list.

If we want one with our own address then we just have to ask NF to set it up because that cannot be done inside the MDA GSuite org.

[2021-03-16 18:07] jbarnoud commented on #3174
Oh. I forgot it existed. On 16 Mar 2021 18:02, Oliver Beckstein ***@***.***> wrote:
Sure, the NF address is already a mailing list.
If we want one with our own address then we just have to ask NF to set it up because that cannot be done inside the MDA GSuite org.

—You are receiving this because you are on a team that was mentioned.Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-03-16 18:12] nmichaud commented on #3174
This is still my current email address :) But I agree, it should be changed
to something more official. Also maybe the authors line should be changed
as well (
https://github.com/MDAnalysis/mdanalysis/blob/develop/package/setup.py#L599-L600)
to - "MDAnalysis Core Team". An example from the JupyterLab project:
https://github.com/jupyterlab/jupyterlab/blob/master/setup.py#L122-L123

On Tue, Mar 16,

[2021-03-16 18:15] nmichaud commented on #3174
A side benefit is that the authors will then show up in PyPI:

[image: image.png]

Incidentally, I wonder how much of the current codebase is even code I
wrote :)

Regards,
Naveen

On Tue, Mar 16, 2021 at 2:12 PM Naveen Michaud-Agrawal <
***@***.***> wrote:

--
-----------------------------------
Naveen Michaud-Agrawal

[2021-03-16 20:42] IAlibay opened #3176 "Compiling with clang compilers on Ubuntu runners causes OpenMP linking issues"
## Expected behavior ##

Compiling by setting CC and CXX appropriately to capture the clang compilers should work on both MacOS and Ubuntu.

## Actual behavior ##

I'm in the midst of setting up a gh action cron job to do a compiler sweep for both clang and gcc, Turns out that if I attempt to set CC=clang and CXX=clang++ and then install MDAnalysis via setup I get OpenMP linking issues. It's not i

[2021-03-16 21:57] HTian1997 commented on #2439
Hi devs, here is my [draft proposal](https://docs.google.com/document/d/1psgHWzVvqA-_Vta3ssTZPmLnis6zYsmgDmsqYVrKtys/edit?usp=sharing) for this project. Any comments are appreciated! Thanks!

[2021-03-16 23:03] hmacdope commented on #3176
Looks like it might need `-fopenmp`.

[2021-03-16 23:09] hmacdope commented on #3176
Some things appear to be being compiled with gcc.

`gcc -pthread -shared -B /usr/share/miniconda/envs/test/compiler_compat -L/usr/share/miniconda/envs/test/lib -Wl,-rpath=/usr/share/miniconda/envs/test/lib -Wl,--no-as-needed -Wl,--sysroot=/ build/temp.linux-x86_64-3.8/home/runner/work/mdanalysis/mdanalysis/package/MDAnalysis/lib/c_distances.o -lm -o build/lib.linux-x86_64-3.8/MDAnalysis/lib/c_dist

[2021-03-16 23:11] IAlibay commented on #3176
yeah I noticed that, the gcc calls seems to be related to the areas where openmp is getting picked up.

[2021-03-16 23:13] IAlibay commented on #3176
It looks like it might be down to our attempts to pick up OpenMP (so in the MacOS builds we build a serial version only), so something in that code path is ignoring the wishes of CC/CXX

[2021-03-16 23:14] hmacdope commented on #3176
Is openmp pulled from conda/pip or apt?

[2021-03-16 23:24] orbeckst commented on #2443
That's actually done.

[2021-03-16 23:24] #2443 closed

[2021-03-16 23:26] orbeckst commented on #3166
@IAlibay should the issue be renamed and listed as a defect?

[2021-03-16 23:30] IAlibay commented on #3176
Here's an interesting one, looks like even when using gcc (in this case CC=gcc-7), you end up defaulting to "gcc" for the openmp sections: https://github.com/IAlibay/mdanalysis/runs/2109401928?check_suite_focus=true#step:8:119

[2021-03-16 23:40] IAlibay commented on #3166
Done

[2021-03-16 23:45] hmacdope commented on #3176
Perhaps `fopenmp=libomp` will work.

[2021-03-17 19:17] thadanipaarth commented on #2986
Is this issue still open @jbarnoud @orbeckst @lilyminium? I'd like to work on it!

[2021-03-17 19:21] lilyminium commented on #2986
@thadanipaarth do go ahead! Please see the [user guide](https://userguide.mdanalysis.org/stable/contributing_code.html#) for resources on contributing to MDAnalysis.

[2021-03-18 16:30] thadanipaarth commented on #2986
@lilyminium I have opened a [PR](https://github.com/MDAnalysis/mdanalysis/pull/3178). Please have a look at it!

[2021-03-19 01:50] Linux-cpp-lisp commented on #2345
@richardjgowers thank you so much for fixing this issue!!

Is there a way in code to check if the installed MDAnalysis contains your fix? As in, if I want to write:
[code]
what would `ns_grid_ok` be?

Also, just out of curiosity, is there any sense of when there will be a PyPI release that includes this fix? Maybe @orbeckst can speak to that?

Once again, thanks all for your work on this issue and

[2021-03-19 01:53] orbeckst commented on #2345
@IAlibay the fix will be on 1.1.0, right? Any ETA?

So checking MDAnalysis.__version__ should be enough.

[2021-03-19 02:43] hmacdope opened #3179 "MSDs are incorrect for wrapped coordinates.."
## Expected behavior ##

Means squared displacements should respect PBCs, but  we currently do not have the right unwrapping transform to do this for "wrapped" trajectories, ie trajectories where all the coordinates are in the primary box such as those produced by GROMACS.

This makes us far too reliant on correct user input, with inadequate docs surrounding the potential sources of errors.

We ne

[2021-03-19 03:02] IAlibay commented on #2345
Yes that's correct.

We have a tentative deadline of this Sunday for new code contributions for 1.1.0. We'll put a code freeze on then and aim to release shortly after (we will need a bit of time to a) check that Windows works again, b) create a final list of max tested dependency versions).

[2021-03-20 13:01] hejamu opened #3180 "TPRParser does not support TPX version 122 from Gromacs 2021"
Hi everyone,

TPR files generated by Gromacs 2021 don't work with MDAnalysis. I tried just bumping the supported version numbers, but that didn't work either.

If I can be of any help, let me know.

## Expected behavior ##

The TPR parser reads topologies from TPR file produced by Gromacs 2021

## Actual behavior ##

[code]

With bumping the supported versions to 122:

[code]

## Code to reproduce

[2021-03-20 13:16] IAlibay commented on #3180
ccing @jbarnoud

[2021-03-21 04:26] zemanj opened #3181 "#2345 not fixed in NSGrid"
## Expected behavior ##

The grid-based distance search in `NSGrid` works for an fcc crystal in a triclinic box.

## Actual behavior ##

When calculating coordination numbers for all atoms in the correctly reproduced fcc-system from #2345, the NSGrid-based result is wrong. The test `testsuite/MDAnalysisTests/lib/test_nsgrid.py::test_issue_2670` passes only because it loads the system from a pdb fi

[2021-03-21 04:52] zemanj opened #3183 "NSGrid segfaults for large systems and small cutoff"
## Expected behavior ##

`FastNS` never segfaults, no matter how strange its input may be.

## Actual behavior ##

`FastNS` segfaults if the box is large and the cutoff small.
The reason is that the number of grid cells is not limited in `nsgrid.pyx`.

## Code to reproduce the behavior ##

[code]

## Output:
[code]

## Current version of MDAnalysis ##

- Which version are you using? 1.0.2-dev0
- W

[2021-03-21 04:59] zemanj commented on #3183
IMHO we need an intelligent solution for this, not just a simple cap on the number of grid cells.
The maximum number of grid cells could be based on the expected number of atoms per cell (i.e., number density) assuming a homogeneous system (I guess that's the best we can do).
Should the number of cells still be too large (memory issues / overflow of cell ids), one should start decreasing the numbe

[2021-03-21 22:58] IAlibay commented on #3159
With no surprise to anyone, looks like we'll lapse our deadline, but most PRs (except from any NSGrid changes) are open. So unless there's any objections, let's just say it's a code freeze on any new non-critical PRs. If @MDAnalysis/coredevs can concentrate on reviewing what's open we can move with a release as soon as possible.

[2021-03-21 23:00] IAlibay commented on #3159
Ah seem to have forgotten about `hbond_autocorrel`. @richardjgowers how do you want to deal with it?

[2021-03-21 23:20] tylerjereddy commented on #3159
Yeah, the release cadence is 1 major Python version per year now I think.

We're working on doing something similar upstream--pinning build- and run-time deps in releases for long-term repeatable builds. For example: https://github.com/scipy/scipy/pull/12862

[2021-03-22 02:40] hmacdope opened #3187 "Clarify differences between waterdynamics MSD and Einstein MSD"
We should clarify what the differences are between the `EinsteinMSD` code and the `waterdynamics` MSD code. AFAIK the primary difference is that currently the waterdynamics MSD code accepts updating atom groups and does not support the use of FFTs (AFAIK impossible for variable particle numbers).

The cookbook also has an example involving using an updating atom group. What are peoples opinion on

[2021-03-22 10:56] PicoCentauri commented on #3115
Thanks for your feedback. I did a little investigation of the existing analysis classes. An existing `results` attribute is used by three classes (`GNMAnalysis`, `LinearDensity`, `PersistenceLength`) as well by the `AnalysisFromFunction` base class.

_In brief, we can use a `results` attribute with acceptable(?) breaking changes in the `GNMAnalysis` and the `LinearDensity` class._

# Detailed Anal

[2021-03-22 13:12] joaomcteixeira commented on #3115
Hi all,
Great analysis @PicoCentauri

I believe there won't be any incompatibility with `results`. For `GNMAnalysis` and `LinearDensity` we can create a `results` `@property.getter` that converts the `list` to `dict` (maybe using `dict.fromkeys`) or flats the nested dict.

In conclusion, for those classes which results are not a dictionary, a `@property` method can be used as a parser to convert t

[2021-03-25 17:47] orbeckst commented on #3115
Thanks for the analysis, @PicoCentauri . This looks as if `results` is viable.

Then the next steps are
- What incompatible changes do you need to make to existing code?
  -  Any incompatible changes should be _deprecated_ (admittedly, @IAlibay declared a freeze on 1.1.0 so you need to check with him).
  - User Guide examples would need updating
- Define what `results` is allowed to contain.

If y

[2021-03-25 17:50] orbeckst commented on #3115
Btw, this discussion is also relevant for the idea that's been floated on Discord to spin out analysis into "mdkits" that can be maintained separately. Ultimately, each analysis would still appear as if it lived under MDAnalysis.analysis so nothing would immediately change for mdacli.

[2021-03-25 18:36] aditya-kamath commented on #516
@IAlibay, is it okay if I start scripting something for LAMMPS data files?  Perhaps there is another format that is more important to be merged with the base test. (?)

[2021-03-25 22:05] ianmkenney opened #3190 "Allow specification of ProgressBar keyword arguments in the AnalysisBase run method"
The ProgressBar (subclass of tqdm) in the AnalysisBase doesn't currently take in keyword arguments nor does it give much access to the underlying functionality of tqdm. In particular, the position keyword argument cannot be changed to adjust the location of the bar on screen. When spreading analyses across multiple processes, the rendered bars are constantly overwriting each other.

https://github

[2021-03-26 00:02] kitsiosvas commented on #3031
Hi, @IAlibay is this issue taken? I would like to work on this if not.

[2021-03-26 00:17] IAlibay commented on #3115
I'd very much appreciate it if we didn't have any new features. That being said we're unlikely to be moving towards a release until after the end of the month, plus there's a few things that need doing. If it's a simple warning that can go through quick review I think we can live with that.

[2021-03-26 00:22] IAlibay commented on #3031
@kitsiosvas as far as I am aware there are no PRs open on for this issue. Whilst @avitomar12 indicated they may want to work on it ten days ago, MDAnalysis has decided to take a PR-first approach (i.e. the first PR open is the one we will review, see: https://github.com/MDAnalysis/mdanalysis/wiki/GSoC-FAQ#can-i-claim-an-issue-to-work-on). So please do feel free to open a PR addressing the issue.

[2021-03-26 03:00] tclick commented on #3101
I was using MDAnalysis 1.0.0

[2021-03-26 14:06] PicoCentauri commented on #3115
Thanks for your comments!

I'm also not really getting your idea @joaomcteixeira... :(. I would also suggest that we implement tiny breaking changes in `LinearDensity`, `GNMAnalysis` and `PersistenceLength` to have a consistent `results` attribute in all analysis classes. What do you think?

I can file a PR on Sunday/Monday implementing a warning for the three classes, @IAlibay. The PR will only c

[2021-03-27 14:21] ARUN1321 commented on #2877
I too have the same prob but don't know what did u do to solving
I am using pip and not using conda
so I tried these belove commands
pip install --upgrade MDAnalysis
pip install --upgrade MDAnalysisTests
in the first command after downloading it mentioned
"failed to build GSD"
so please help me in solving the problem, please
so I can continue my project
please help

[2021-03-27 17:08] #3142 closed

[2021-03-27 17:21] lilyminium commented on #2958
Still happening, still weird

[code]

https://github.com/MDAnalysis/mdanalysis/runs/2111126476

[2021-03-27 19:14] lilyminium commented on #3101
@IAlibay I don't think we support 3.9 yet, right? At least for 1.0.0 I believe that's only valid for 2.7 to 3.8. That could contribute to your issues, @tclick.

[2021-03-27 19:19] IAlibay commented on #3101
Yup, we don't be officially supporting 3.9 until MDAnalysis 2.0.

[2021-03-28 19:49] amdnsr commented on #3190
Please assign this issue to me. I aim to submit a patch for this issue as soon as possible.

[2021-03-28 19:55] IAlibay commented on #3190
@amdnsr as detailed in the [GSOC FAQ](https://github.com/MDAnalysis/mdanalysis/wiki/GSoC-FAQ), MDAnalysis has decided to take a PR-first approach to GSOC-labelled issues. We won't assign issues, but instead will always review the first PR that is raised against a specific issue.

[2021-03-29 05:20] ksy141 opened #3192 "Use a Universe object in a user-defined class?"
Hello, I've been using MDAnalysis heavily for my research. Such a great tool, thanks! As I use more and more of MDAnalysis, I need to write my own analysis tool/class that takes a universe object. The example below is a very basic thing I should understand how it works. (I don't want to make this kind of class, of course, it's just a very simple example to help me understanding MDAnalsyis.) If any

[2021-03-29 07:12] orbeckst commented on #3192
Hello @ksy141 , welcome to MDAnalysis. We're glad you find it useful.

Could you please ask your question on the [mailing list](https://groups.google.com/group/mdnalysis-discussion) or on the [discord server](https://www.mdanalysis.org/2021/03/20/discord/) (see https://www.mdanalysis.org/#participating ). We only use the issue tracker for bugs or feature requests/development. You'll get many more

[2021-03-29 07:12] #3192 closed

[2021-03-29 07:14] orbeckst commented on #3192
Just to add: if you think that something is a bug then an issue is the right place. In this case, please follow the template that is presented to you when you open the issue as a bug.

[2021-03-29 08:47] orbeckst commented on #2877
@ARUN1321 did you get an error in your output that stated
[code]
If so, try installing Visual C++ 14.0 with "Build Tools for Visual Studio" from https://visualstudio.microsoft.com/downloads/.

If there's another error message with a different download location then try that, too.

[2021-03-31 02:36] ARUN1321 commented on #2877
Sir can i try anaconda
Will i get the same error sir
Visual studio takes a long time to download thats why i am asking

On Mon, 29 Mar 2021, 2:17 pm Oliver Beckstein, ***@***.***>
wrote:

[2021-03-31 06:35] orbeckst commented on #2877
By all means, try anaconda. See https://www.mdanalysis.org/pages/installation_quick_start/ and https://userguide.mdanalysis.org/stable/installation.html#conda

[2021-03-31 08:31] ksy141 opened #3197 "LAMMPS DATA WRITER"
Hello, I'm trying to write a LAMMPS data file from a coordinate file. Consider a hydrogen gas,

[code]
Now let's make a data file with MDAnalysis. In order to make a LAMMPS data file, the atom types should be changed to positive integers.

[code]
However, I received the error from the LAMMPS.py (~line 431).
[code]
I think try, except should be added like this?

[code]
After adding try, except the

[2021-03-31 09:20] ksy141 commented on #3197
How about the following changes in LAMMPS.py (~ line 340)? I confirmed this works for bonds and angles for a simple water system. Commented lines are the lines included in the original code.

[code]

[2021-04-01 08:39] ARUN1321 opened #3198 "how to install"
I tried using pip to install mdnalysis
so i fallowed the two commands
1.pip install --upgrade MDAnalysis
2.pip install --upgrade MDAnalysisTests

so in the first command i got this issue
Collecting MDAnalysis
  Using cached MDAnalysis-1.0.0.tar.gz (19.6 MB)
Requirement already satisfied: numpy>=1.13.3 in c:\users\admin\appdata\local\programs\python\python39\lib\site-packages (from MDAnalysis) (1.1

[2021-04-01 09:13] 1ut commented on #3198
You have to install C++ compiler to install mdanalysis using pip.

[2021-04-01 09:42] hejamu opened #3199 "ITPParser gets confused with masses"
## Expected behavior ##

MDAnalysis is capable of reading itp-style topology files in the same way gromacs does. Getting the masses of all atoms right.

## Actual behavior ##

If some masses are not defined inside the `[ atoms ]` section, the parser disregards all of them and tries guessing.

---

MDAnalysis looks for masses in the `[ atoms ]` section of the `[ moleculetype ]` section. It disregar

[2021-04-01 11:25] hejamu commented on #3199
I also noticed that the code does not guess atom types before guessing the masses. Because of that it won't even guess the masses of basic atoms, like `K+` in my case.

[2021-04-01 15:17] #3148 closed

[2021-04-02 04:30] 1ut commented on #3197
The codes you provided have been ​rewritten in develop branch like this commit. (https://github.com/MDAnalysis/mdanalysis/commit/0d951a2e726a25c59cc2550a852eb35726dd3226#diff-b36aa1d8c19a92c6f8918f35d8c0ea354fd051e64b40e789452551e7bc0792ba)

Also, I think some issues you provided have been solved in develop branch.

You may build a development version. The method is here. (https://userguide.mdanal

[2021-04-02 05:31] ksy141 commented on #3197
Thanks, closing the issue.

[2021-04-02 05:31] #3197 closed

[2021-04-02 14:33] mquevill opened #3201 "Non-3D RDF calculations"
## Describe the solution you'd like ##
In GROMACS's `rdf` analysis script, there is an option to calculate with only the x- and y-coordinates (`-xy`). This is not as simple as zeroing the z-coordinates, since there is a normalization factor that is currently calculated with r^3, but would need to be normalized with r^2.

A more generalized case would allow for any collapsing of coordinates to an a

[2021-04-02 15:44] mquevill commented on #3198
See the note here about installing on Windows: https://userguide.mdanalysis.org/stable/installation.html

[2021-04-02 15:49] IAlibay commented on #3198
This really is a question for the mailing list ([and has already been asked there by the author](https://groups.google.com/g/mdnalysis-devel/c/0EUuJyKo1Pw/m/6n8TqssJCgAJ)). In light of this I am closing this issue. Please open a separate issue if there is a bug/feature related to all this that needs our attention.

[2021-04-02 15:49] #3198 closed

[2021-04-02 17:04] ARUN1321 commented on #3198
Okay sir

On Fri, 2 Apr 2021, 9:19 pm Irfan Alibay, ***@***.***> wrote:

[2021-04-03 03:14] lilyminium commented on #3199
Yikes that's a bit silly. If you have a solution for this, @hejamu, you're welcome to make a PR. Otherwise I'll try to look at this on the weekend.

[2021-04-03 08:48] hejamu commented on #3199
I added parsing for the atomtypes sections. Works for me but seems to break some tests in weird ways. I can open a PR for it.

[2021-04-03 11:54] richardjgowers opened #3205 "Benchmarks for more lib.distances methods required"
We need benchmarks for the following functions:
- `lib.distances.calc_bonds`
- `lib.distances.calc_angles`
- `lib.distances.calc_dihedrals`

[2021-04-03 11:55] richardjgowers opened #3206 "Distance benchmarks should cover all box types"
The benchmarks for `lib.distances` currently use a `None` box indicating no periodic boundaries.  The benchmarks should also include both orthogonal and triclinic boxes.

[2021-04-03 13:39] IAlibay opened #3207 "Increase density code test coverage"
## Is your feature request related to a problem? ##
The current density code only has 82.04% test coverage (see [here](https://codecov.io/gh/MDAnalysis/mdanalysis/src/develop/package/MDAnalysis/analysis/density.py) )
The general aim is that we should get 100% coverage for everything.

## Describe the solution you'd like ##
Tests to cover the uncovered areas

## Additional context
This is an issue

[2021-04-03 13:55] IAlibay opened #3208 "Improve diffusionmap coverage"
## Is your feature request related to a problem? ##
The coverage for diffusionmap is only 96.55% covered, with lines 312 and 338 uncovered.

## Describe the solution you'd like ##
Add tests to raise this to 100% (the warning maybe hard to trigger, but maybe a dummy single atom system could be constructed to trigger the frame limit?

## Additional context ##
This is an issue aimed at providing a si

[2021-04-03 13:56] #3181 closed

[2021-04-03 14:01] IAlibay opened #3209 "Raise helix_analysis coverage"
## Is your feature request related to a problem? ##
The new helix_analysis module only has 97.33% coverage, with no coverage for lines 389 and 476.

Whilst someone is there, please also remove the `from __future__` import on the `develop` branch.

## Describe the solution you'd like ##
Tests to increase coverage to 100%

## Additional context ##
This is an issue aimed at providing a simple issue f

[2021-04-04 14:31] IAlibay commented on #3159
What's left to do here?

@richardjgowers - is there anything that needs to be done for NSGrid & hbond autocorrel?

[2021-04-05 00:15] IAlibay opened #3213 "Empty MDAnalysis.analysis.utils?"
MDAnalysis.analysis.utils just exists, but I can't seem to think of any reason why. Looks like a leftover of #2256.

Unless there's a good reason not to, I'll go ahead and remove it.

[2021-04-05 13:20] p-j-smith commented on #3213
Sorry that was my and @bieniekmateusz's fault. We originally put `MDAnalysis.lib.correlations.autocorrelation` and `MDAnalysis.lib.correlations.correct_intermittency` into `MDAnalysis.analysis.utils`, but we moved them to their current place after discussion with @orbeckst. It should be fine to remove. Thanks for clearing up our mess!

[2021-04-05 14:08] joaomcteixeira commented on #3115
My point was just that we could make the `results` attribute to be a `@property` with its proper getter and setter where the getter could be a parser to convert from the internal format of the analysis class to the common format we decide upon. The `@property.getter` parser could accommodate and solve situations such as you described @PicoCentauri (I believe):

If `v1.1.0` will be the last of `v1`

[2021-04-05 16:18] #3213 closed

[2021-04-05 17:21] ojeda-e commented on #3209
Interested, I'll work on it!

[2021-04-05 17:25] IAlibay commented on #3209
@ojeda-e Please do open a PR. Also if you haven't done so yet, please introduce yourself as a GSoC applicant on the developer mailing list.

[2021-04-05 19:54] #2915 closed

[2021-04-05 21:52] Luthaf opened #3216 "Add CI runner with older versions of chemfiles"
_Originally posted by @IAlibay in https://github.com/MDAnalysis/mdanalysis/pull/3126#r607320587_

[2021-04-05 21:55] Luthaf commented on #3216
For the record, I don't plan on supporting more than one release of chemfiles until I reach version 1.0. I can support the master/dev version and the latest release (version 0.10.x right now), but I will not have the time to add patches or make new release in the 0.9 series.

I can see the advantage for users to ensure that one more version of the API is supported in MDAnalysis, but if someone run

[2021-04-06 00:18] hmacdope opened #3217 "Allow setting user box dimensions to a multidimensional array."
## Is your feature request related to a problem? ##

You should be able to set the box size manually over your whole trajectory. Related to #2691, however the fix in #3175 (NOTE: currently pending merge) only sets the box dimensions to a constant  `[a, b, c,alpha, beta, gamma]`.

## Describe the solution you'd like ##

This can be done easily with a multidimensional array of shape `timesteps, [a,

[2021-04-06 00:20] lilyminium commented on #3217
You’d probably want an OTF transformation like PR #3175, as changes to ts.dimensions won’t persist throughout the loop.

[2021-04-06 12:07] hejamu opened #3218 "guess_masses returning 0 makes no sense"
## Expected behavior ##

The `center_of_mass` method is only accessible when information about masses is present.

## Actual behavior ##

Due to the fact that the guesser returns a mass of 0 for atoms it does not recognise, some parsers will yield topologies with dangerous mass information.

## Code to reproduce the behavior ##

An example with the GROParser, but the principle applies to all parse

[2021-04-06 12:24] IAlibay commented on #3218
pseudo-duplicate of #2362 (specifically the masses section of the first comment)?

[2021-04-06 12:50] hejamu commented on #3218
Oh I didn't see that one. Yeah that's basically it.

With the addition that guessing is broken in a lot of situations. Mass guessing is broken in the ITPParser (#3199 fixes that) und it seems to be broken in the GROParser as well (see above, Al and Si should easily be guessed).

[2021-04-06 13:02] IAlibay commented on #3218
For Al & Si, the particular problem with the GRO parser is that we're guessing on a guess. Especially with the atomtype guesser being so inaccurate, you end up with a guess on nonsense.

In my view, we should just drop the need for mass to be a required attribute (we shouldn't be guessing anyways), but that will require a deep look at what core components requires masses.

I think @jbarnoud and @l

[2021-04-06 13:07] IAlibay commented on #3218
Also going to link #2918 since that aims to avoid type guessing in cases where we can avoid it - [Note to self; try to get that done for 2.0 once we've finished with the gsoc applications & 1.1], which should guarantee accurate mass guessing for those readers.

[2021-04-06 13:17] richardjgowers commented on #3218
A little off topic, but really we shouldn't be guessing anything by default.  That way the guessing is a conscious decision by the user and they're aware of how/why they've guessed stuff.

For this issue I think maybe `np.nan` would be a better default value, but I'd have to check what that breaks downstream.

[2021-04-06 13:56] hejamu commented on #3218
I'm going to weigh in on this as a user that was pretty frustrated about the guessing:

What I found especially awkward about the ITPParser was that it managed to the some of the information, but then guessed other info.

Users to have certain expectations about what the parsers do:

My expectation would be that:

- ITP topology with all attributes defined -> Everything gets parsed as I defined it

[2021-04-06 14:33] IAlibay commented on #3218
I was trying to remember where the main discussion for this was, here it is: https://github.com/MDAnalysis/mdanalysis/issues/2348

It's pretty much the same view (i.e. don't guess by default) as what we aim to eventually do, so I wouldn't consider it harsh at all.

TLDR; As far as I remember, currently there are two enforced attributes (that require guessing if not present), atomtype and mass. The

[2021-04-06 15:02] #2796 closed

[2021-04-06 15:05] #2691 closed

[2021-04-06 17:02] hejamu commented on #3218
I see, this entails a lot of things...

Might I propose for the 2.0 release to throw a warning every time a guesser guesses a value, thereby making clear that the user might be doing something they do not want. (basically #2222 )

A crazier idea I had (basically #2348 with a twist): Introduce a parameter `guess` in `Universe` that for the time being defaults to something like `['type','bond','mass

[2021-04-06 17:25] IAlibay commented on #3218
I'll let the other @MDAnalysis/coredevs weigh in here, but I'm not super into the idea of the sheer number of warnings we'd have to emit just because we're parsing a file and passing it through an atomtype/mass guesser. There's a point where we drown users in too many warnings. We already warn on a failure to guess types/masses, which as far as I understand covers the current failure cases?

Separ

[2021-04-06 18:02] #3023 closed

[2021-04-06 18:19] orbeckst commented on #3218
I hate to say it but 2.0 would be the ideal point in time to stop guessing. We can then gradually re-introduce means to derive information in better controlled manner.

I don't think that this would require specific deprecations/warnings in 1.x – it will simply be a big breaking change that comes with 2.0. People who rely on the haphazard guessing will have to use 1.1 for a while until, say 2.1, i

[2021-04-06 18:39] IAlibay commented on #2542
Is this still feasible for 2.0?

How is this affected by the proposed changes for mda_cli? Pinging @PicoCentauri here.

[2021-04-06 18:41] IAlibay commented on #2303
@orbeckst I think we're done with this right?

[2021-04-06 18:42] orbeckst commented on #2303
yes

[2021-04-06 18:42] #2303 closed

[2021-04-06 18:42] orbeckst commented on #2542
Not feasible for 2.0

[2021-04-06 18:50] IAlibay commented on #3031
This was taken care of for 1.1. Needs forward porting.

[2021-04-06 19:02] kitsiosvas commented on #3031
@IAlibay Apologies for my delay on working for this issue. I want to inform you that I will not be able to work on this. If anyone else wants to take it, I haven't opened a PR yet so it's free. Again, apologies.

[2021-04-06 19:04] IAlibay commented on #3031
No worries, thanks for letting us know :)

[2021-04-06 19:19] IAlibay commented on #516
I realise this is an important thing to reach, however being not user facing how do we feel about moving the goal from 2.0 to 2.1? We can do our best to move towards addressing it (especially if GSoC students want to work on them), but we don't make it a compulsory target for 2.0? (I'm trying to see what we can do to streamline the 2.0 release).

[2021-04-06 19:20] IAlibay commented on #2542
@orbeckst shall we move this to 2.1 or do we think it's now become a 3.0 target?

[2021-04-06 19:56] orbeckst commented on #2542
Do 3.0 for now and if we can get hands on deck we can move it up.

[2021-04-06 20:53] ojeda-e commented on #3209
Thank you @IAlibay, PR #3219 open to fix issue.

[2021-04-06 22:40] #3209 closed

[2021-04-07 00:04] Sachty opened #3221 "Tests for "Permission denied" fail on non-English computers"
Hello, I just installed MDAnalysis, the installation was fine, without any error. The problem is when I run the pytest commands, these are:

## When I run this, it causes 2 errors. ##
pytest --disable-pytest-warnings --pyargs MDAnalysisTests
![Screenshot_20210406_144410](https://user-images.githubusercontent.com/79607941/113785403-adfe9600-96fc-11eb-9ce8-7b248d5665fa.png)

In the end this comes ou

[2021-04-07 00:16] lilyminium commented on #3221
Thanks for finding this bug @Sachty -- the error is because the test assumes that it's running on an English language system, so is now dying on your computer.

The test failure shown doesn't seem to indicate anything majorly wrong with the library installed on your computer; the test is to check that a Permission Denied error *is* raised, so the behaviour is correct. Where it's failing is that th

[2021-04-07 05:13] lilyminium opened #3222 "Why is test_altloc.py in utils?"
## Expected behavior ##

I guess I would expect it to be in topology/.

## Actual behavior ##

It's in utils: https://github.com/MDAnalysis/mdanalysis/blob/develop/testsuite/MDAnalysisTests/utils/test_altloc.py

## Code to reproduce the behavior ##

[code]

## Current version of MDAnalysis ##

- Which version are you using? (run `python -c "import MDAnalysis as mda; print(mda.__version__)"`) devel

[2021-04-07 06:35] #3199 closed

[2021-04-07 14:36] #2986 closed

[2021-04-08 00:06] Sachty commented on #3221
Thank you very much for your response. No, it only failed those tests (with Pytest and Pytest-xdist), the screenshots I attached. The problem would be that it appears as "Permiso Denegado" because of the language of my system. I wanted to write my problem here, because in the MDAnalysis installation it said that the test shouldn't pass with any errors.

Now I know that's ok, then that won't cause

[2021-04-08 01:13] ojeda-e commented on #3208
Hi @IAlibay, I submitted a PR to solve this issue. Coverage for diffusionmap raised to 100%. PR #3223

[2021-04-08 03:01] lilyminium opened #3224 "Update docs to be sphinx 3+ compatible"
## Is your feature request related to a problem? ##

Sphinx is pinned to 1.8.5 which is a pretty old version. I think it has something to do with https://github.com/MDAnalysis/mdanalysis/issues/2667.

## Describe the solution you'd like ##

Update the documentation so we don't have to pin sphinx to such an old version. However, we likely do have to pin it to mesh well with the RTD theme -- the use

[2021-04-08 05:13] #3144 closed

[2021-04-08 16:02] yuxuanzhuang opened #3225 "Appending instead of reloading offsets of XDR formats"
## Is your feature request related to a problem? ##
It is slow to access a large XDR-based trajectory (~50 GB), e.g. XTC file, mainly because an offset file has to be built for random accessing every frame (benchmark needed). When one tries to run some preliminary analysis on a running trajectory, the offset needs to be reconstructed every time the trajectory is updated.

## Describe the solution

[2021-04-08 16:05] thealphacod3r commented on #3207
@IAlibay by clicking on the link you provided, it says Github API : Forbidden!

Can you confirm if this is right??

[2021-04-08 16:07] IAlibay commented on #3225
Going to tag @hmacdope here in the hope that there might have been some benchmarks/lessons learned with the TNG work.

[2021-04-08 16:11] IAlibay commented on #3207
Yeah it seems like codecov doesn't like being linked to...

Essentially we're looking at missing coverage for:
lines 738-739
lines 754-755
lines 771-774
lines 803-808
And then all of `convert_density`.

[2021-04-08 16:21] orbeckst commented on #2958
If we're collecting strange/intermittent RDKit test failures then here's the one from https://github.com/MDAnalysis/mdanalysis/pull/2950#issuecomment-815951188
[code]

[2021-04-08 18:06] richardjgowers commented on #3225
I'm pretty sure that the act of checking that the new trajectory matches the old one is probably identically expensive to constructing the offsets.  I think the real solution to this will be TNG.  You could probably write something hacky which builds offsets starting at a given location, but it's not really something stable enough that we'd want to include and support.

[2021-04-08 18:08] richardjgowers commented on #3222
Yeah just looks like it got put in the wrong place when the tests got refactored.  Can be moved I guess?

[2021-04-08 18:45] #3222 closed

[2021-04-08 22:37] hmacdope commented on #3225
TNG can append any block to any trajectory frame set (block of frames) and access is done by simple in-file pointers. I think this means you don't have to traverse the entire file every time, just chase the right pointers to your block (I think).

 Give it a try and see if it makes a difference!

I think you can convert with `gmx trjconv -f [].xtc -s [].tpr -o [].tng`

[2021-04-09 00:25] hmacdope commented on #3225
As a side note from my memory, even `gmx-check` and `gmx-dump` are not that fast for xtc files.

[2021-04-09 01:35] mnmelo opened #3227 "A 'Powered by MDAnalysis' badge"
It'd be good to have some sort of feedback on which larger scale projects use MDAnalysis
- as visibility metrics in grant applications;
- for warm fuzzy open-source feelings.

Encouraging our users to display a 'Powered by MDAnalysis' [Shields.io](https://shields.io) badge could serve that purpose, plus giving extra visibility. Here's a starting example, with default gray/orange color combination:

[2021-04-09 06:28] JoelTV2021 opened #3228 "Fail Installation"
Hi MDAnalysis developers!!

I don't understand why have those errors because the first time that I installing and running pytest was successful and now I try to run pytest with this command>
$pytest --disable-pytest-warnings --pyargs MDAnalysisTests

And the terminal same this messages>

platform linux2 -- Python 2.7.18, pytest-4.5.0, py-1.10.0, pluggy-0.11.0
rootdir: /home/joel
plugins: xdist-1.3

[2021-04-09 07:52] #3208 closed

[2021-04-09 08:55] richardjgowers commented on #3227
I think this idea was raised before somewhere and I was in favour then... I like the second logo with the little molecule bit too.

[2021-04-09 08:57] lilyminium commented on #3227
I like both logos, but the little molecule one goes the extra mile! And making tracking easier is a big plus.

[2021-04-09 08:58] ojeda-e commented on #3207
Hi @IAlibay, if nobody is working on this I'd like to help. I understand the GSoC deadline is soon and wouldn't like to preclude an applicant to submit a PR. Thanks.

[2021-04-09 09:02] IAlibay commented on #3207
@ojeda-e if possible I would ask that you leave this one to a first time contributor (at least until after the GSoC deadline). These coverage issues were mostly opened as "quick things to do as PRs", and are more ideally suited for first time contributors. If you wish to contribute another PR, there are other issues labelled GSoC-starter and help-wanted which need addressing.

[2021-04-09 09:05] ojeda-e commented on #3207
Ok, np!

[2021-04-09 13:26] #2976 closed

[2021-04-09 22:49] mnmelo commented on #3227
Thanks for the feedback. I'll test it in a branch whether github can render the icon-logo in README.md, or if it's an overall limitation. If it's the latter, then I guess we'll have to stick to the plain-text version.

(@richardjgowers, I searched the issues about it but could only find the one issue about the NumFOCUS badge. Maybe in the mailing lists?)

[2021-04-10 01:11] mnmelo commented on #3227
Hey, I fixed it using a shrunk (16x16) logo :)
Check out README.rst in the PR (don't forget to switch on the 'rich-diff') or in branch [feature-MDA_badge-3227](https://github.com/MDAnalysis/mdanalysis/tree/feature-MDA_badge-3227).

[2021-04-10 11:00] #3124 closed

[2021-04-10 16:00] cbouy commented on #3227
10/10 ✨ I'd definitely use it for [ProLIF](https://github.com/chemosim-lab/ProLIF)

[2021-04-10 18:53] yuxuanzhuang commented on #3225
Thanks! I understand it might be buggy and hard to maintain but it's just pretty annoying to reload the offset every time (which is bad for achieving fast in-situ analyses in the supercomputer). Guess I will look forward to the TNG era:)

[2021-04-10 19:04] yuxuanzhuang commented on #3225
Yeah, I think it is pretty slow to iterate over the whole XTC file even when I only want to get info for the last frame; in that case, defining `-b lastframe` can significantly increase the speed for  `gmx trjconv -dump lastframe` for some reason I am not so sure about.

[2021-04-12 13:49] yuxuanzhuang opened #3230 "Error loading XDR files with corrupted offset files"
## Expected behavior ##

The offset file should be regenerated when the offset is corrupted.

## Actual behavior ##

Unclear ValueError is raised.
[code]

## Code to reproduce the behavior ##
[code]
[code]

## Possible solution ##
Add an ValueError exception catch for `read_numpy_offsets`.

## Note ##
This happened when I tried to process ~100 different trajectories parallelly, but it may not be r

[2021-04-12 19:45] yuxuanzhuang opened #3231 "Benchmark on Parallel In-situ Analysis"
This is an ongoing project I am working on which involves the analysis of ~150 trajectories. Still WIP but I am happy to share some insights and some possible limitations when I try to push the parallel analysis of MDA 2.0.0 to its limit. By in-situ analysis, I mean some preliminary analysis on the raw trajectory (unbridged, uncentered, unwrap-needed).
## Trajectory System ##
- Multimeric membrane

[2021-04-13 02:48] mnmelo commented on #3227
That's great! The PR updating the `README.rst` will be merged soon, but the markup examples are already up in the [website](https://www.mdanalysis.org/pages/citations/#powered-by-mdanalysis) for everyone's use!

[2021-04-13 16:15] #3227 closed

[2021-04-16 11:57] mnmelo commented on #3227
A shout out to @cbouy and [ProLIF](https://github.com/chemosim-lab/ProLIF). As far as I can tell, the very first to [implement](https://github.com/chemosim-lab/ProLIF/commit/5e10ee989cc0eac0dca499a1cb1e1926ae06d925) our badge!

[2021-04-19 12:31] haroldgrosjean opened #3235 "Erratic .convert_to("RDKIT") behaviour"
Hello,

I have to experience a rather odd behaviour from .convert_to("RDKIT") and I can't really make sense of it. Hopefully, someone will be able to help me here. I am trying to convert groups to rdkit objects which is done successfully most of the time. On some occasions, the following error appears:
 ##
[code]
Annoyingly, the error appears not to be reproducible as different atom groups induce

[2021-04-19 14:06] haroldgrosjean commented on #3235
Update:

Splitting the code in the following way seems to have resolved the problem:
[code]
I remain unsure about the origin of the bug.

Bests,

Harold

[2021-04-19 15:53] cbouy commented on #3235
Hi Harold,

I believe the bug you're experiencing is related to #2958 and is likely due to how the RDKitConverter caching system currently works. Basically, to avoid rebuilding the whole RDKit molecule from scratch while you iterate over timesteps in a trajectory, the converter has a caching system that will check if the `id` of the current atomgroup and that of the last converted atomgroup match,

[2021-04-19 15:58] cbouy commented on #2958
I believe I finally understand why this happens thanks to #3235, and the RDKitConverter cache system is likely our culprit here. It should be fixed with #2942

[2021-04-19 16:16] haroldgrosjean commented on #3235
Hi Cedric,

Many thanks for your response! I'll try that right away. Also, what would be the impact of your solution on the speed of the code?

Bests,

Harold

[2021-04-19 16:51] cbouy commented on #3235
In the context of iterating over timesteps in a trajectory and doing the 3 conversions inside the loop, the impact will be pretty large (and increase with the size and complexity of the system) as you're rebuilding the whole RDKit molecule (and inferring bond orders/charges) every frame.
But even with the current `develop` branch and the trick that you use, you wouldn't benefit from the cache as i

[2021-04-19 20:04] haroldgrosjean commented on #3235
Ok - great. Thanks!

[2021-04-19 20:04] #3235 closed

[2021-04-20 15:42] orbeckst commented on #3231
@edisj might also be interested in following your progress. He is looking at the I/O side with MPI and h5md.

[2021-04-20 15:51] orbeckst commented on #3225
In principle one could implement heuristics that allow you to seek into the vicinity of a xtc frame and then start doing a binary search. I assume that’s what the gmx tools do. But I don’t know if there’s anyone willing to write such code for MDA, especially code that does not on occasion produce wrong results. Part of such a patch would be an analysis of its robustness.

Ultimately using a better

[2021-04-20 15:56] orbeckst commented on #3221
Your installation is fine.

Our tests wrongly assumed that each computer speaks English. This is obviously a wrong assumption. Sorry!

The tests will need to be fixed.

[2021-04-20 16:19] IAlibay commented on #3221
This is a bit of a strange test because we capture the IOError that gets triggered, but it actually ends up triggering a `PermissionError`.

Maybe we can just try to capture the PermissionError and the error number (13) [I'm not sure if the latter is consistent in MacOS/Windows since I think it's a linux error number, but it's worth a try].

[2021-04-20 16:26] orbeckst commented on #3221
We can try checking with the symbolic error name in `errno`. Definitely better than assuming a language in the OS.

[2021-04-21 00:02] hmacdope commented on #3225
@orbeckst aside from topology information pytng is fully functional and stable at `0.2.2`, I'm just not exactly sure how we want to package it into MDA itself.

Do we want to submodule? Copy source code? This is the part I wasn't sure about. :)

[2021-04-21 01:07] hmacdope opened #3237 "PyTNG integration into MDA."
## Is your feature request related to a problem? ##

A TNG file-reader should be in MDA!

## Describe the solution you'd like ##

We have a working one in PyTNG, but it is not integrated with MDA itself yet.

How should we go about doing this (@orbeckst, @richardjgowers)? Sub-module? Copied source code?

The Cython in PyTNG needs to be compiled so it will have to be integrated with the MDA build s

[2021-04-21 01:11] orbeckst commented on #3237
Can we make it a stand-alone module that gets conda or pip installed? That's what we've been moving towards with pretty much any dependency.

[2021-04-21 01:12] orbeckst commented on #3237
Having it as a stand-alone package will also make it more re-usable for other packages.

[2021-04-21 01:13] orbeckst commented on #3237
Does PyTNG have a working _writer_ or only the _reader_ ?

[2021-04-21 01:14] orbeckst commented on #3237
cc @IAlibay who will likely want to know in which new and exciting ways a PyTNG dependency will break CI...

[2021-04-21 01:16] orbeckst commented on #3228
How did you install MDAnalysis?

Which version of MDAnalysis was installed?

[2021-04-21 01:17] hmacdope commented on #3237
@orbeckst conda or pip install is perfect. Only the *Reader* currently works. I have plans for a writer and also want to cover topology info in due course, but this is a bit down the line. Would you want to hold for a writer as well or just start with a reader?

[2021-04-21 01:29] orbeckst commented on #3201
The more general case would be to prescribe the normal to the plane that you're mentioning, i.e., doing the RDF in cylindrical coordinates (r, phi, z) for each reference particle and then summing over the z coordinates and the polar angle.

Tangentially related, 2D densities in cylindrical coordinates are also useful. A _very_ long time ago I wrote [code to compute cylindrical densities](https://g

[2021-04-21 01:33] orbeckst commented on #3237
Start with a reader!!

We have many formats for which we don't have a writer. Most people are initially just interested in a reader (I think...). However, if a format turns out to be really useful then people might want to start converting raw trajectories. Especially if you can integrate conversion into a workflow with other costly transformations such as centering/making molecules whole then it

[2021-04-21 08:05] IAlibay commented on #3237
As far as I'm aware the only extra requirement here is cython, which we are already planning to introduce as an MDA core requirement in the future.

The only thing I can think _might_ require some effort is validating PyTNG on MacOS & Windows (especially the 32bit builds). But that'll be up to PyTNG to support upstream.

[2021-04-21 10:33] hmacdope commented on #3237
@IAlibay there are currently no upstream windows or macos CI builds so will have to fix that.

[2021-04-21 17:39] #3221 closed

[2021-04-21 21:11] #3048 closed

[2021-04-22 18:12] IAlibay commented on #3218
Given today's moving up of the 2.0 deadline, is this still your current opinion @orbeckst? If so, do you mind if I put you in charge of mobilizing a solution here?

[2021-04-22 18:15] IAlibay commented on #516
I realise I forgot to tag @MDAnalysis/coredevs here. Unless there's any objections, I'm moving this to the 3.0 milestone (if we can get it done early then great, but otherwise it's best it doesn't hinder the 2.0 release).

[2021-04-22 23:16] orbeckst commented on #3218
Passing the buck is fair.

It would be a missed opportunity not to break this with 2.0. I'll have a look.

[2021-04-23 01:05] orbeckst opened #3238 "chi1_selection() fails for some residues"
## Expected behavior ##

`ag.chi1_selection()` should produce a selection for all standard protein residues (except GLY and PRO).

## Actual behavior ##

The following residues return `None` instead of a valid selection:

* ALA
* CYSH
* GLY
* ILE
* SER
* THR
* VAL

for the example TPR/XTC. (Others might also be affected.)

The problem is that `chi1_selection()` checks for `CG` but these residues c

[2021-04-23 01:13] orbeckst commented on #3238
This appears to be complimentary to #2044.

[2021-04-23 01:14] orbeckst commented on #3238
duplicate #2044

[2021-04-23 01:14] #3238 closed

[2021-04-23 11:29] #3037 closed

[2021-04-24 15:18] #3109 closed

[2021-04-26 08:09] PicoCentauri opened #3243 "Switch GNMAnalysis to AnalysisBase."
## Is your feature request related to a problem? ##

The `GNMAnalysis` currently uses its own logic for the trajectory analysis. The AnalysisBase class provides the
same  functionality and should be used as a parent class.

## Describe the solution you'd like ##

 1. Change the parent class of  `GNMAnalysis` to `AnalysisBase`
https://github.com/MDAnalysis/mdanalysis/blob/fa074966bfe21c85bde8e4b61c

[2021-04-26 22:34] PicoCentauri commented on #2719
I'm already working on the Analysis modules. I will move them to AnalysisBase.

[2021-04-26 23:05] btywoniuk commented on #3101
You can try: `pip-3.9 install --user --upgrade --no-cache-dir git+https://github.com/MDAnalysis/mdanalysis/#subdirectory=package` in my case it worked (macOS Big Sur 11.3, MacPorts 2.6.4, python 3.9.4 )

[2021-04-26 23:44] #3031 closed