[2021-12-27 19:45] orbeckst commented on #3474
For anyone coming to this issue and wondering if they can work on it:

1. Read https://github.com/MDAnalysis/mdanalysis/issues/3474#issuecomment-991019927 .
2. Then create a pull request *that references issue `#3474` (this issue) in its summary* (the template that pops up should have as the first line `Fixes #` and you complete it to read `Fixes #3474`). This will make the PR show up *here* and t

[2021-12-27 19:54] orbeckst commented on #3476
Looking at the 2.0 hole.py and utilities.py files, this seems to refer to 1.1 hole.

[2021-12-27 22:30] IAlibay commented on #3457
Currently python 3.10 cannot be used with all our optional dependencies. Currently the following libraries do not have a py3.10 release: `chemfiles-python`, `rdkit`, and `openmm`.

In #3458 I have added to CI a minimal dependency check for py3.10, so at least we know that it _works_ on base MDAnalysis. Once the above dependencies release py3.10 versions we can add a CI check for the full dependenc

[2021-12-28 16:47] lilyminium opened #3487 "Clean selection strings in SelectionParser?"
## Is your feature request related to a problem? ##

#3454 pointed out that the SelectionParser doesn't strip whitespace prior to parsing, so `u.select_atoms(' ')` raises a SelectionError about not having a None token.

## Describe the solution you'd like ##

The SelectionParser should do some elementary pre-processing and cleaning.

## Describe alternatives you've considered ##

Place the onus on

[2021-12-28 16:47] IAlibay commented on #3453
I was going to re-raise the issue of exception vs warning as we merge #3454 - but the discussion towards warning seems to have been pushed that way by my own comment. If someone wants it to be an exception instead then we can change this in a separate issue.

[2021-12-28 16:50] richardjgowers commented on #3487
Isn't this that the selection parser calls split and gets an empty list, and we append None as a sentinel value? So I think we *are* trimming white space around tokens.

[2021-12-28 17:17] IAlibay commented on #3485
Just to add here - the `six` issues aren't limited to Windows, they also affect linux, see #3458

note: it's `test_warning` instead of `test_flag_index_error` that is problematic here, for that one as per #3458 my suggestion is just to drop the check on the number of warnings (it's not necessary in my opinion)

[2021-12-28 17:24] #3453 closed, assigned to nobody

[2021-12-28 20:00] #3465 closed, assigned to nobody

[2021-12-28 23:59] IAlibay commented on #3476
Ok can confirm that this is still an issue in 2.0.0.

Essentially this is causing the issue (self.sphpdbs is indexed linearly whilst we're trying to access it via a frame index, hence causing issues):

https://github.com/MDAnalysis/mdanalysis/blob/7df5a6157843d1f2a5c9e9d3ba8347eaf9f345de/package/MDAnalysis/analysis/hole2/hole.py#L887-L888

PR to fix this is incoming.

[2021-12-29 10:35] #3257 closed

[2021-12-29 20:50] dasharon commented on #3484
Dear Oliver,

I thank you so much for sharing these very helpful updates with me!

I am glad to report I can obtain count_by_type() information with the new module for selections matching those in my last example in my 12/23 message, analyzing all protein-water hydrogen bonds in which the protein is an acceptor. The code example below contains more information.

For selections matching the other e

[2021-12-31 01:12] IAlibay opened #3492 "DeprecationWarning: deprecated distutils Version classes"
This is popping up in CI - there's at least two uses of LooseVersion in our codebase that probably needs fixing (chemfiles.py and setup.py).

[code]

[2022-01-02 08:17] ceaserbutdumb commented on #3486
Hey, I am a beginner here so could you guide me to what I can do to solve this issue?

[2022-01-02 08:38] lilyminium opened #3493 "exe_err is never imported in hole2/hole.py"
## Expected behavior ##

`exe_err` is used to raise errors four times if various executables aren't found, but it's never actually imported in hole.py. I imagine this hasn't come up yet due to poor test coverage.

## Actual behavior ##

## Code to reproduce the behavior ##

[code]

## Current version of MDAnalysis ##

- Which version are you using? (run `python -c "import MDAnalysis as mda; print(

[2022-01-03 16:28] IAlibay commented on #3486
@ceaserbutdumb in the first instance the minimal change required here would be to just change the documentation and `__init__` code to allow for an `AtomGroup` to be used instead of `universe`. For the most part it _should_ work as-is, but you'll need to add some test to make sure that it does what it should do.

It's hard for us to give specific guidance about these things, if you can open a pull

[2022-01-03 17:24] ceaserbutdumb commented on #3486
@IAlibay I will try to work on it and thank u for the help

[2022-01-03 21:11] IAlibay commented on #3493
Is this just a case of adding the relevant import from `templates.py` and upping coverage?

If so, I'll add this as a GSoC/help-wanted/good-first-starter.

[2022-01-03 23:17] lilyminium commented on #3493
Yeah, IMO most of the work to fix this issue will be to write a test that checks that an `OSError` is raised with the correct error message, using `pytest.raises`.

https://userguide.mdanalysis.org/stable/contributing_code.html

[2022-01-03 23:38] lilyminium commented on #3487
Ah yeah, that sounds right. A preliminary check for an empty list / list only containing [None], then? At least a more informative error message could be helpful.

[2022-01-03 23:42] IAlibay opened #3494 "mdamath.angle test fails due to numerical accuracy"
## Expected behavior ##

All tests pass.

## Actual behavior ##

Tests for mdamath.angle.TestGeometryFunctions.test_vectors is failing because of a `assert_equal` for comparing floats.

## Code to reproduce the behavior ##

See: https://github.com/MDAnalysis/mdanalysis/runs/4696027636?check_suite_focus=true

## Current version of MDAnalysis ##

Happening on `develop` CI.

[2022-01-04 01:01] #3494 closed, assigned to IAlibay

[2022-01-04 03:12] #3476 closed, assigned to IAlibay

[2022-01-04 09:24] ceaserbutdumb commented on #3486
@lilyminium  I am getting an Attribute error when using `universe.universe.trajectory` saying that it does not exist

[2022-01-04 10:00] ceaserbutdumb commented on #3486
@lilyminium  shouldn't here we have `Universe.trajectory` instead of `universe.trajectory`

[2022-01-04 10:08] IAlibay commented on #3486
@ceaserbutdumb may I ask you that you do not write comments and then delete them please? Especially when you ping an individual directly this makes it difficult for us to work out what happened (i.e. we get an email notification but there's no comment when we attempt to reply on github).

[2022-01-04 10:12] ceaserbutdumb commented on #3486
I am sorry

[2022-01-04 20:57] #3474 closed, assigned to nobody

[2022-01-05 00:35] orbeckst commented on #3452
To get this issue to an actionable conclusion:

Atom order is really important when the files are used as topologies for trajectories. Changing the order will break so many things. Therefore, we will not by default change the output order for PDB files.

I labeled the issue as "documentation" so we will add a note to the PDB writer docs.

If anyone is interested in providing code to *robustly* reo

[2022-01-06 11:39] IAlibay opened #3498 "Drop support for chemfiles < 0.10"
Related to #3490

Given that we now only support py3.7+ it would make sense to just drop support for old versions of chemfiles and simplify our code paths.

[2022-01-08 18:17] #3216 closed

[2022-01-08 18:17] #3492 closed, assigned to nobody

[2022-01-08 18:17] #3498 closed, assigned to nobody

[2022-01-08 18:18] IAlibay commented on #3216
Setting as fixed with #3499 since it's no longer required. We may re-visit once several versions of Chemfiles need supporting again.

[2022-01-09 02:45] #1727 closed

[2022-01-09 18:39] richardjgowers opened #3500 "check_box and triclinic_vectors don't respect dtype"
Both of these functions make a lot of assumptions about input dtype, and often "squash" down to float32.  These should instead preserve and maintain whatever precision they are given.

[2022-01-10 16:42] abhik-123 commented on #3486
@IAlibay I am new to open source and i wish to contribute in this project. Could you please suggest how should I begin?
I am good at coding in python

[2022-01-10 17:05] JIMonroe opened #3501 "BAT method Cartesian modifies input data"
## Expected behavior ##

When calling the `Cartesian` method of a BAT class instance to convert BAT coordinates back to Cartesian, the input BAT data should not be modified.

## Actual behavior ##

"Non-primary" torsions in the original input BAT data are modified due to issues with scope and pass-by-reference.  The very easy fix is just to call `copy.deepcopy()` when defining the torsions from th

[2022-01-10 17:07] JIMonroe commented on #3501
By the way, I've found the BAT analysis class very helpful!  I just noticed this bug recently when it created some issues for me, but it's a minor problem in a much-appreciated tool.

[2022-01-10 18:46] IAlibay commented on #3486
In the first instance I would recommend our user guide as your first point of call for getting to know MDAnalysis: https://userguide.mdanalysis.org/stable/index.html. The user guide includes a section on how to contribute to the project.

I would ask that questions about how to get started / how to contribute / etc... be asked on the MDAnalysis mailing lists or our discord server rather than issue

[2022-01-11 10:41] haroldgrosjean opened #3502 "Warn users when unrecognised atom numbers are found in TPR files (leading to unassigned elements)"
## Expected behavior ##

I would like to load a trajectory using gmx tpr and xtc files to later transform the ligand into an rdkit object.

## Actual behavior ##

When I extract the ligand atom group and proceed with the transformation the following error is returned:

[code]
I have processed ligands in that fashion before and without problems so I am a little bit unsure how to resolve the situati

[2022-01-12 02:02] lilyminium commented on #3502
Hmm, that's interesting. Not sure how you put the system together, but I'm guessing that the elements of the not-ligand are adequately guessed from the atomic number field, and the ligand either has none or invalid numbers given:

[code]

You could probably get around this by just guessing elements from the names:

[code]

[2022-01-13 16:43] haroldgrosjean commented on #3502
That worked well for the few ligands I've tried so fare, thanks!

[2022-01-13 21:59] #3207 closed

[2022-01-16 15:46] #3493 closed, assigned to nobody

[2022-01-17 09:04] pstaerk opened #3504 "Make other properties time dependent (e.g. charges)"
## Is your feature request related to a problem? ##
My group is very interested in having the ability to make the charges time dependent.
We are simulating fluctuating electrodes (in LAMMPS), where the charge is treated as an additional degree of freedom.
Lammps trajectories enable you to output custom styles where e.g. the charge is also written for each timestep and to my limited knowledge this

[2022-01-17 10:41] hmacdope commented on #3504
The `ts.data` attribute can be used to hold arbitrary timestep associated data. You could always add the charges to that IMO.

 See [this line](https://github.com/MDAnalysis/mdanalysis/blob/develop/package/MDAnalysis/coordinates/LAMMPS.py#L553) for an example of adding to it in the LAMMPS parser. :)

[2022-01-17 14:16] pstaerk commented on #3504
Thanks for this very helpful answer! :)

[2022-01-17 14:24] pstaerk commented on #3504
Is this something which could be included in MDAnalysis permanently? I have the impression that a number of people could use such a time-dependent charge reader (or a bit more flexibility in time dependent quantities).

[2022-01-17 15:01] IAlibay commented on #3504
So as you alluded to @pstaerk part of the issue is that our topology & trajectory framework really was built on the idea of "early generation" force fields where topology attributes like partial charge are static and the only things that change are the positions/forces/velocities.

Adding more attributes to the trajectory technically is possible, but would involve a lot of re-work, and as things c

[2022-01-17 17:18] sbhakat opened #3505 "Don't add segID to PDB files unless requested"
I want to add only chain ID to my PDB but couldn't manage to add chain ID without adding segment ID. Is there anyway to add only chain?
My script looks like following
[code]
The output looks like
[code]
The reason being that CHARMM GUI doesn't accept segment ID as a part of RCSB PDB format. Any help will be highly appreciated.

[2022-01-17 17:20] IAlibay commented on #3505
@sbhakat can you confirm which version of MDAnalysis you are using? This part of the PDBWriter has changed a lot in recent iterations, so it's worth asking.

[2022-01-17 17:22] sbhakat commented on #3505
@IAlibay using version 1.1.1

[2022-01-17 17:40] IAlibay commented on #3505
Thanks @sbhakat

So technically it's possible to get around this, but we should also have the option to not add in segments to PDB files - if it's not in the standard, it shouldn't be done by default.

**Getting around the issue:**

In 2.0.0 the PDBWriter was changed to used chainID instead of segID for setting chains.

You would have to upgrade to 2.0.0, but in your above case, if you did:

[code

[2022-01-17 18:01] sbhakat commented on #3505
@IAlibay thanks a lot. Worked :D

[2022-01-17 18:05] IAlibay commented on #3505
I think I'm going to re-open this and change the issue title to "don't write segment by default".

As far as I'm aware it's not in the PDBv3 format: http://www.wwpdb.org/documentation/file-format-content/format33/sect9.html#ATOM So we shouldn't be enforcing a non-existing standard. Worth having a discussion imho.

[2022-01-17 18:10] sbhakat commented on #3505
Well even if I add the chain ID correctly I still can't upload the PDB in CHARMM GUI. Seems like some formatting problem. Any inputs. Attaching the PDB for convenience. https://www.dropbox.com/s/hn30mr4w6lr1sfk/prot-mass-newchain.pdb?dl=0 #

[2022-01-17 18:15] sbhakat commented on #3505
Well. I solved this issue by using mdconvert (`mdconvert test.pdb -o test-format.pdb`) on top of the output of `mdanalysis` . Output here: https://www.dropbox.com/s/bpeno8t8oan4auk/test.pdb?dl=0 CHARMM GUI can capture this

[2022-01-17 21:44] hmacdope commented on #3504
I would support a PR with this functionality, as we are generally trying to improve the flexibility of the LAMMPS parsers. :)

[2022-01-17 22:11] hmacdope commented on #3504
I should also mention in advance that I think the best way to do this is to support the general case, ie reading any additional column.

You can then specify additional columns as an argument to the reader.

[2022-01-18 02:58] IAlibay commented on #3502
Do we need to consider maybe raising a user warning when elements aren't found? Other topology parsers do this but TPR doesn't?

[2022-01-18 03:59] lilyminium commented on #3502
They *are* found here, they're just not valid (''). Possibly from the gromacs atomtype atomic number, which might be set to 0. Notably, the protein elements are fine.

[2022-01-18 04:33] IAlibay commented on #3502
not found == unrecognisable I really mean both cases here

[2022-01-18 04:48] IAlibay commented on #3043
Addressed in #3489

[2022-01-18 04:48] #3043 closed

[2022-01-18 04:58] IAlibay commented on #3101
We now regularly test x86_64 on Big Sur + py 3.9 as part of our CI suite on `develop`. As far as I understand this issues affected v1.x and _should_ not longer be an issue. I will be closing this issue, please do re-open if you believe that this issue has not be suitably addressed.

[2022-01-18 04:58] #3101 closed

[2022-01-19 01:22] IAlibay commented on #2671
Going through old issues - closing this as tests now run somewhere between 10 to 16 mins on CI.

There's probably scope for further optimising some of our tests, but at this point cutting off coverage for some of our runners _might_ be more effective in the short term (tests can be as low as 7 mins on gh CI when we don't need coverage).

Please do open a new issue if necessary.

[2022-01-19 01:22] #2671 closed

[2022-01-19 01:31] IAlibay commented on #2639
As far as I'm aware we were never able to replicate this issue. Given that tempdir has now been removed in #2682, it's unclear that we'll be able to replica this. Do we want to close the issue and re-raise if it happens again?

[2022-01-19 01:38] IAlibay commented on #2343
@junghans - > 2 years late, but ppc64le and aarch64 is now regularly tested on the `develop` branch of MDAnalysis. Not sure what the status is re: Fedora but it may be worth seeing if those builds can be added back if there's interest?

Unless there's any objections I'll close this issue in the next few days.

[2022-01-19 01:53] junghans commented on #2343
Mdanalysis got dropped from Fedora, so this can be closed!

[2022-01-19 01:59] IAlibay commented on #1389
I'm closing this as a stale issue. Unless someone has a reasonable expectation that MDAnalysis needs to be run on IBM Z then supporting s390x really isn't necessary.

If I'm wrong, please do re-open or open a new issue.

[2022-01-19 02:03] IAlibay commented on #2343
Sorry to hear that :(

[2022-01-19 02:03] #2343 closed

[2022-01-19 02:04] IAlibay commented on #1364
Is this still an active issue? As far as I understand @tylerjereddy has 32bit Windows support enabled as part of our CI suite.

[2022-01-19 08:25] rathann commented on #1389
This is not about s390x only. It's about test failures on four non-x86_64 arches and I'd argue at least aarch64 has become relevant now that Apple M1-based machines are out. I'll try to run a fresh build of the latest MDAnalysis source on all arches in Fedora and check what the current status is.

[2022-01-19 10:04] IAlibay commented on #1389
I'm happy to re-open temporarily but MDA has minimal support (we can't guarantee optional dependencies) for non-M1 aarch64 and ppc64le since 2.0.

Note: support for M1 is not happening until CI providers have M1 runners available.

[2022-01-19 18:12] IAlibay opened #3506 "Deprecation of simtk.openmm"
## Expected behavior ##

MDAnalysis has no upstream deprecation warnings

## Actual behavior ##

Using the OpenMM converter yields the following deprecation warning:

`Warning: importing 'simtk.openmm' is deprecated.  Import 'openmm' instead.`

## Code to reproduce the behavior ##

[code]

## Current version of MDAnalysis ##

- Which version are you using? (run `python -c "import MDAnalysis as mda

[2022-01-19 19:58] IAlibay commented on #3386
So there is a rather simple fix here, which is to change:

https://github.com/MDAnalysis/mdanalysis/blob/3322ab2b9cb4987306225a574dde6ce1bae51fab/package/MDAnalysis/lib/util.py#L728-L735

to:

[code]

avoiding an attempt to close or seek an already closed stream

Technically I don't see what there's any issues with that, but there are two caveats:
1) As far as I can tell it's not possible to test

[2022-01-20 16:01] laurenalex77 commented on #945
I've also been getting this error with the following code:
[code]

[2022-01-20 18:23] laurenalex77 commented on #945
The issue in my case was with using certain selection commands on a dms file  - it seems that the dms file format doesn't have the information that MDA uses to classify some of the selection commands (ie. selection commands such as 'backbone' and 'name CA' don't work but more general ones such as 'protein' do work).

I'm not sure if there's a better workaround, but ultimately I switched to a .gro

[2022-01-21 17:05] orbeckst opened #3509 "Azure Pipeline Windows 16 deprecation"
## Expected behavior ##
Azure Pipeline Windows CI always runs.

## Actual behavior ##

On PR #3480 the Azure pipeline jobs were auto-cancelled due a brownout to alert us about the deprecation

[code]

## Code to reproduce the behavior ##
https://dev.azure.com/mdanalysis/mdanalysis/_build/results?buildId=2889&view=logs&j=1cdae27b-58e8-5c64-01e2-519b6cdf4b73

see https://github.com/actions/virtual-e

[2022-01-21 17:05] orbeckst commented on #3509
cc @IAlibay @tylerjereddy

[2022-01-21 17:09] tylerjereddy commented on #3509
Ah yeah, need to watch out for our incompatibility with newer MSVC though per gh-3399 and gh-3248.

May need to xfail that test on Windows for now and reference the original issue so we can bump the CI up.

[2022-01-21 17:10] IAlibay commented on #3509
Sorry it's partly fault for not pushing to review https://github.com/MDAnalysis/mdanalysis/pull/3399.

Yeah I think that'd be the best way at this rate. Let's move #3399 to just replace the matrix to just use windows-2019 fully rather than switching later?

[2022-01-21 18:46] tylerjereddy commented on #3509
alright, give me a bit..

[2022-01-21 20:35] tylerjereddy commented on #3509
ok, I pushed in an attempt to do that, feel free to push if I screwed something up though

[2022-01-21 21:17] #1534 closed

[2022-01-21 21:19] #3509 closed, assigned to nobody

[2022-01-27 00:31] hmacdope commented on #3237
Now that I have fixed the PyTNG build on windows I am hoping to press forward on this ASAP.

[2022-01-28 05:04] sef43 opened #3512 "Segmentation fault for large vectors in distances.distance_array"
## Expected behavior ##

MDAnalysis.lib.distances.distance_array should work for large vectors.

## Actual behavior ##
MDAnalysis.lib.distances.distance_array has a segmentation fault for vectors of length >50000.
I think this may be due to integer overflow in the array indexing in the C code in lib/include/calc_distances.h, the line:
  `*(distances+i*numconf+j) = sqrt(rsq);`

## Code to reproduce

[2022-01-28 05:41] hmacdope commented on #3512
This does look like an overflow problem as 50,000^2 is larger than `INT_MAX`. This can be fixed by switching to `int64` indexing or using an unsigned int type (personally I think `int64` makes most sense)

Ping @MDAnalysis/coredevs? Any change should probably be consistent across all the C routines.

[2022-01-28 08:04] richardjgowers commented on #3512
Yeah we probably should just move to long longs.

On Fri, Jan 28, 2022 at 05:41, Hugo MacDermott-Opeskin <
***@***.***> wrote:

[2022-01-28 08:07] jbarnoud commented on #3512
If only people could stop increasing the size of their simulations :P

On 1/28/22 09:05, Richard Gowers wrote:

[2022-01-28 08:12] richardjgowers commented on #3512
A full N x N distance array isn’t a good idea, (capped distances!) but it
shouldn’t segfault either.

On Fri, Jan 28, 2022 at 08:07, Jonathan Barnoud ***@***.***>
wrote:

[2022-01-28 08:23] jbarnoud commented on #3512
Note as well that `i` and `j` cannot be negative, so using an unsigned type would give some more leeway. Regarding the segfault itself,  testing that N*M < MAX_TYPE for whatever type we end up using would be a good idea.

[2022-01-28 10:10] hmacdope commented on #3512
I'm happy to make the required changes if people are okay with that.

`unsigned int` would give us [0, 4294967295] so up to ~65536 max input points. This is not a super improvement IMO.

`int64` would give us [0,  9,223,372,036,854,775,807] so ~3037000499 max input points.

`uint64` is double the range of int64  but I think int64 covers enough.

[2022-01-28 10:20] jbarnoud commented on #3512
Is there any reason *not* to use an unsigned type? Surely, `int64` is enough, but still half of the range is unused. What would be the benefit of `int64` compared to `uint64`?

[2022-01-28 10:30] hmacdope commented on #3512
I suppose there is nothing *specific* apart from superstition that using `unsigned` anything can have unintended effects when not careful. But that is pure dogma talking.

 I'm open to either. :)

[2022-01-28 10:36] richardjgowers commented on #3512
Somewhere in the back of my head I have that signed & unsigned is treated
differently by compilers wrt the optimisations they make.  That said, I
can't remember which was better.  It was something that Jakub pointed out
in distopia...

On Fri, 28 Jan 2022 at 10:30, Hugo MacDermott-Opeskin <
***@***.***> wrote:

[2022-01-28 10:55] hmacdope commented on #3512
While we are changing types we could improve `size_t` or even `Py_ssize_t` (`ssize_t`) compliance for array indicies, but this is a bit pedantic.

[This](https://www.airs.com/blog/archives/120) is an interesting and old blog post on the topic which advocates for the use of signed loop indicies.

IIRC we had the **reverse** situation in distopia where only `size_t` would effectively autovectorise.

[2022-02-02 09:27] jbarnoud commented on #3092
In numpy, indexing with `None` is a shortcut for indexing with `numpy.newaxis`. This does not make sense for our groups. I think we should do the same as regular lists and raise a `TypeError`, even if it comes with an explicit test for `None`.

[2022-02-02 11:34] zemanj commented on #3092
In fact, `numpy.newaxis` **is** `None`. So testing for `None` and raising an exception would definitely defeat using `numpy.newaxis`. Don't get me wrong, I don't see why using `numpy.newaxis` for indexing `AtomGroup`s would be useful.
I'm all in favor of changing the behavior in one or the other way.

[2022-02-02 11:41] IAlibay commented on #3092
Sure `TypeError` sounds good to me :)

[2022-02-02 11:42] jbarnoud commented on #3092
Indeed. My point was that `None` creates a new axis which makes no sense for a group in mda. So I think we agree.

[2022-02-02 12:52] jbarnoud opened #3515 "Dead code in the TPR parser"
The TPR parser contains dead code. While that code was initially there for pedagogical purposes, it is now outdated and it is confusing. See https://github.com/MDAnalysis/mdanalysis/pull/3514#pullrequestreview-870457377 about the confusion.

[2022-02-03 10:38] #3092 closed

[2022-02-03 10:39] #3515 closed, assigned to nobody

[2022-02-03 14:39] #3386 closed

[2022-02-04 12:37] jbarnoud opened #3519 "Benchmarks expect flags"
## Expected behavior ##

The benchmarks run without error.

## Actual behavior ##

Some benchmarks fail because they expect flags that were removed in version 2.0.0. Here is a sampling of the errors:

[code]

[2022-02-04 12:40] jbarnoud opened #3520 "Benchmark for the RMS module fail"
## Expected behavior ##

Benchmarks run without errors.

## Actual behavior ##

The benchmarks for `analysis.rms` fail with the following exceptions:

[code]

[2022-02-07 23:39] orbeckst commented on #3430
https://github.com/MDAnalysis/benchmarks/issues/11 has been closed and the benchmarks are running again.

[2022-02-07 23:40] orbeckst commented on #3430
oops, have to fix this in MDA ...

[2022-02-08 18:35] #3430 closed, assigned to orbeckst

[2022-02-08 19:41] #3506 closed, assigned to nobody

[2022-02-10 09:58] jbarnoud commented on #2639
I cannot reproduce the error with the current state of the develop branch (3c0875c7b25bf97a5a2d70f8c31bd661072911ec). Closing for now. Please, feel free to reopen this issue if it comes up again.

[2022-02-10 09:58] #2639 closed

[2022-02-10 15:07] drew-parsons opened #3524 "test failure when exact equality expected for floating point values"
## Expected behavior ##

After building mdanalysis with python3 (both 3.9 and 3.10), tests fails, specifically `test_transform_StoR_pass` in testsuite/MDAnalysisTests/lib/test_distances.py.

The problem is that `assert_equal` is being used to test equality, which is not really appropriate for testing the equality of floating point numbers.  [`assert_allclose`](https://numpy.org/doc/stable/referenc

[2022-02-10 15:13] IAlibay commented on #3524
Thanks for the report @drew-parsons - I'm surprised those tests went that long without failing 🤯 (not sure why there's an equal there instead of an allclose)

[2022-02-10 16:29] #3524 closed, assigned to nobody

[2022-02-10 17:38] hima111997 commented on #3446
when will 2.1 be released?

[2022-02-10 17:56] jbarnoud commented on #3446
@hima111997 We hope to release it soon. There are a couple of things we would like to fix before the release, sadly we all are quite busy.

[2022-02-11 11:15] hejamu commented on #3352
Isn't this issue fixed by #3353?

[2022-02-12 23:01] tylerjereddy opened #3526 "BLD: PEP518/pyproject.toml todo items"
Irfan is planning a release soon, and if we do plan to upload a source distribution to PyPI for that release we may want to add a few things to `pyproject.toml` beyond the initial draft in gh-3398. If issues with that file do pop up please ping me directly (`@`) so I see the notification on my phone (a few too many GitHub emails to scan these days..).

- [ ] add a `[project]` section with some use

[2022-02-12 23:06] IAlibay commented on #3526
So how much of this is currently getting picked up from what's in our setup.py? I notice that most of the classifiers are already on our pypi page, is it just a case of moving things from setup.py over to the pyproject.toml?

[2022-02-12 23:20] tylerjereddy commented on #3526
Yeah, and it looks like some important Python projects are currently opting to keep the copies in both files for now. I actually don't know if there is an order of precedence on the metadata extraction--not exactly an exciting thing to look into, Google might tell us.

I suspect if we're lazy for now the `setup.py` may continue to provide what it did before, but not 100 % sure.

[2022-02-12 23:27] IAlibay commented on #3526
We can add it all to `pyproject.toml`, keep setup as-is and then see what testpypi does? Worse case scenario we just have to rollback a few things.

[2022-02-13 05:07] IAlibay opened #3529 "scipy.io.netcdf namespace is deprecated in favour of scipy.io"
Just picked this up on a fresh install with scipy 1.8.0

"DeprecationWarning: Please use `netcdf_file` from the `scipy.io` namespace, the `scipy.io.netcdf` namespace is deprecated."

We _should_ be good just doing the switch since it looks like scipy.io.netcdf_file was introduced in scipy==1.0.0 (the lowest version of scipy we support on paper, we probably should bump that up eventually).

Relevan

[2022-02-13 06:23] IAlibay commented on #3442
Unless there's any objections I think I'm going to go ahead and close this.

As much as I would like to test that the correct optimisation options work on on arm / ppc64le, we're already doing these normally on a weekly cron with leftover Travis credits. We already warn folks to make sure they test before they run their jobs, and the weekly gh action cron job tests on x86_64. I'd say that's probab

[2022-02-13 06:23] #3442 closed, assigned to IAlibay, hmacdope

[2022-02-13 06:35] hmacdope commented on #3442
Agreed :)

[2022-02-13 17:59] AnirG commented on #3501
@JIMonroe Hey there!  The below code snippet doesn't print the same which I believe should be the case.
[code]
[](url)
[output.txt](https://github.com/MDAnalysis/mdanalysis/files/8056271/output.txt)
Could you please verify? Or am I missing something?

[2022-02-14 07:32] jbarnoud opened #3532 "BLD, MAINT: Add `packaging.version` to the repo"
Following the discussion in https://github.com/MDAnalysis/mdanalysis/pull/3527#issuecomment-1038494370 we should provide `packaging.version` to the repo to avoid an issue with dependencies.

The file to vendor can be found here: https://github.com/pypa/packaging/blob/main/packaging/version.py

From the top of my head, here are the steps to follow:

* [ ] Copy the file to the repo
* [ ] Adapt the f

[2022-02-14 07:38] jbarnoud opened #3533 "Update the minimum cython version in setup.py"
See discussion at https://github.com/MDAnalysis/mdanalysis/pull/3527#issuecomment-1038518309

The minimum version of cython set in `setup.py` is older than the minimum supported by numpy.

This may be related to #3526 from @tylerjereddy and is a follow up to #3527.

[2022-02-14 13:53] AnirG commented on #3486
Hey @richardjgowers @lilyminium!

I'm not completely sure how this can still work. Without the universe passed on as a parameter, how can trajectories be looped over to update our AtomGroup which is needed to calculate pairwise metrics?
Apologies if it's a naive question, I'm kinda new to this stuff.

[2022-02-14 14:24] richardjgowers commented on #3486
@AnirG `AtomGroup.universe.trajectory`

[2022-02-14 15:08] JIMonroe commented on #3501
@AnirG Hey, thanks for checking this out!  For me, downloading the files and then running the script I have outputs the same coordinates for the first transformation, within 1e-06 or so, as the original (see below).  I just created a fresh conda environment and install of MDAnalysis and I get the same thing (though you do have to use `bat_analysis.results.bat[0]` to get the BAT coords in the lates

[2022-02-14 16:07] orbeckst commented on #3533
FYI, there's the experimental PR #2989 for Cython 3.x

[2022-02-14 17:42] AnirG commented on #3520
Hey @jbarnoud! Weighted RMSD calculations require weight values for all atoms defined in the list, the way it is implemented. But in the benchmarking test, the parameter of the weights list hasn't been defined correctly corresponding to the number of atoms (contains only 2 values).
![wrong_weights_list](https://user-images.githubusercontent.com/54763591/153917362-fcb2758b-fe00-42af-bfac-0ec8d8cdfb

[2022-02-14 17:51] AnirG commented on #3486
@richardjgowers Ah cool, I see! I can possibly try to work on this one. I will also try to code up some test cases. Should the changes and test cases be raised in a single PR?

[2022-02-14 18:01] IAlibay commented on #3486
Yep, our standing contribution model is that all new code is matched with tests before we merge things.

[2022-02-14 18:06] AnirG commented on #3501
@JIMonroe Looks like it. Apologies, trying it fresh gave a similar output as yours for the first transformation (probably jupyter messup). I will try to work on this issue and come up with a plausible fix.

[2022-02-14 18:11] IAlibay commented on #3486
@AnirG - I see that you're attempting to simultaneous work on two issues. May I suggest that you start with one and then do the other? There's always a learning curve to being a new contributor to a project and it's usually easier to go one at a time rather than trying to have similar discussions across two PRs.

[2022-02-14 19:20] JIMonroe commented on #3501
Great, thanks, @AnirG !

I think the simplest fix is what I described above, adding `copy.deepcopy()` when defining the torsions from the input data.

[2022-02-14 20:29] AnirG commented on #3486
@IAlibay yeah sure, I just shortlisted those to work on and get an idea. Of course, I'll go one at a time.

[2022-02-14 21:16] IAlibay commented on #3533
So by default when we build MDA for release I usually create a fresh environment with the latest stable version of Cython. Unless there are backwards compatibility issues maybe we should tighten it up to 0.29+?

Maybe we can just go ahead and say we'll deal with that in 2.2.0 when hopefully 0.30 gets released though? (after which we just say 0.3+ since there's massive compatibility changes?)

[2022-02-14 23:18] #3529 closed, assigned to nobody

[2022-02-14 23:54] IAlibay opened #3534 "GSD: Deprecation warning (read_frame?)"
Running test_pickleio.py::test_GSD_pickle throws the following DeprecationWarning:

[code]

Looks like it's specifically down to the `gsd_io.read_frame` call on line 167.

MDA Version: 2.1.0-dev0

[2022-02-15 00:06] IAlibay opened #3535 "DeprecationWarnings: numpy - elementwise comparison, calling nonzero on 0d arrays, `np.object`."
Couple of numpy deprecation warnings we'll need to take care of.

This gets thrown in `hbond_autocorrel.py`: - done

[code]

This gets throws in `test_hydrogenbond_autocorrel_deprecated.py`:

[code]

This deprecation warning gets thrown in `test_topologyattr.py`: - done

[code]

MDA version: 2.1.0-dev0

[2022-02-15 01:18] IAlibay opened #3536 "NetworkX DeprecationWarning: `from_numpy_matrix`"
test_leaflet.py throws the following warning:

[code]

MDA version: 2.1.0-dev0

[2022-02-15 01:54] IAlibay commented on #2980
So as may have been obvious from all the recent issues, I'm currently looking at the deprecation warnings so we don't lag too behind for the next release.

I've found that I can reduce the number of emitted warnings to a more manageable 382 with the `setup.cfg` contents shown below.

The first ~ 3 `RuntimeWarnings` (`double_scalars`, `true_divide`, and `sqrt`) account for ~ 22k warnings being emit

[2022-02-15 17:25] orbeckst commented on #2980
That's an excellent step forward in making the test output sane(er)!

Filtering pretty much everything that we generate is good. Presumably, our tests can still catch them if we want to test for a specific warning?

Pinpointing the numpy ones to where we generate them and understanding why they are generated is important to make sure that we are actually producing correct results. I like your idea

[2022-02-15 17:26] orbeckst commented on #2980
(And yes, you convinced me to change my opinion https://github.com/MDAnalysis/mdanalysis/issues/2980#issuecomment-798989249 to "ignore NumPy runtime warnings" ;-) ).

[2022-02-15 17:37] jbarnoud commented on #2980
I like silences the errors per test.

[2022-02-15 17:43] IAlibay commented on #2980
Both the expected MDA ones and the external ones?

[2022-02-15 17:51] jbarnoud commented on #2980
Ideally yes. That would be the safest. That would also take quite some time, even if I expect few tests and fixtures to generate most of the warnings. On 15 Feb 2022 18:43, Irfan Alibay ***@***.***> wrote:

I like silences the errors per test.

Both the expected MDA ones and the external ones?

—Reply to this email directly, view it on GitHub, or unsubscribe.Triage notifications on the go with Git

[2022-02-15 18:13] IAlibay commented on #2980
re: "expect few tests and fixtures" -> after multiple hours spent here, that's not really the case imho. You probably are in the order of max hundreds per tests when you're looking at tens of thousands of warnings overall. I've already spent a few hours on this, it's not a short term issue.

I will say two things here -

1) We really need to come to an agreement here, I tried starting doing per-te

[2022-02-15 18:49] orbeckst commented on #2980
I was only thinking of the numpy runtime warnings
[code]
and see if they come from a small number of our tests because they might hint at issues in algorithms. If feasible, mute these few (maybe not few???) on a per-test basis.

How many of our tests generate these warnings above?

I would be ok with a broad-brush silencing for most everything else.

[2022-02-15 19:05] IAlibay commented on #2980
Those account for ~ 20k warnings split, maybe split across a hundred or so tests?

It's manageable and I'd advocate doing the non-MDA tests manually. It's going to be time consuming either way tbh.

[2022-02-16 16:38] AnirG commented on #3486
@IAlibay @richardjgowers @lilyminium hey! looks like `Universe` can be completely replaced with `AtomGroup` in the `DistanceMatrix` class. I compared the existing `dist_matrix` with one which takes` AtomGroup` and it seems to work fine. I'm not very sure about what kind of and how test cases are to be coded and tested.

[2022-02-16 20:28] jbarnoud commented on #3535
One more:

[code]

[2022-02-17 08:16] jbarnoud commented on #3536
It appears we do not explicitly call the deprecated function. Instead, the released version of networkx still relies on it in one place: https://github.com/networkx/networkx/blob/f4b528e230c6faadd5a2d426b39c29a0a165c38c/networkx/convert.py#L144

Therefore, the issue seems to come from upstream, but it also appears that it is fixed in the main branch of networkx: https://github.com/networkx/network

[2022-02-17 11:42] jbarnoud opened #3538 "Test coverage for ENCORE needs to be increased"
## Expected behavior ##

Analysis code base is covered with test, including ENCORE.

## Actual behavior ##

Some of ENCORE's untested code appear to be dead code. See https://github.com/MDAnalysis/mdanalysis/pull/3479#issuecomment-1029249778

Ping @mtiberti and @wouterboomsma

[2022-02-17 12:36] jbarnoud opened #3539 "ENCORE uses an non existing method"
ENCORE uses an non existing method `AtomGroup.get_selection_atom_string`: https://github.com/MDAnalysis/mdanalysis/pull/3479#issuecomment-1029249778

Ping @mtiberti and @wouterboomsma

[2022-02-17 13:17] IAlibay commented on #3536
thanks for looking into this @jbarnoud

[2022-02-17 13:17] #3536 closed, assigned to nobody

[2022-02-20 18:34] orbeckst commented on #3520
For https://github.com/MDAnalysis/mdanalysis/blob/55fa72f34f50294f088fe0a43b75eda792d3d366/benchmarks/benchmarks/analysis/rms.py#L17-L24 I suggest we change `weights` to be either `True` or `None`. We then let `setup()`  https://github.com/MDAnalysis/mdanalysis/blob/55fa72f34f50294f088fe0a43b75eda792d3d366/benchmarks/benchmarks/analysis/rms.py#L26 either set `self.weights` to `None` or, for `weigh

[2022-02-20 18:37] orbeckst commented on #3519
These flags can be removed since we are only benchmarking since 1.0.1 where these flags didn't exist anymore. One has to check if the equivalent behavior is now provided by kwargs for the methods.

[2022-02-20 18:46] orbeckst commented on #3504
If we have a trajectory reader that stores arbitrary data in the `ts.data` dict under a certain key, can we write custom attributes that look into `ts.data[KEY][atom.ix]`? Maybe it's not as performant as the native topology framework but it would provide a flexible path to time-dependent data and it also remains true to the original spirit of #363 to lookup data in individual attribute arrays.

cc

[2022-02-22 17:46] orbeckst opened #3542 "retire "master" branch"
# Background
MDAnalysis has existed for a while and so there’s a bit of history built into our development process. One of these pieces of history is that we  follow the git-flow development model http://nvie.com/posts/a-successful-git-branching-model/ (see https://github.com/MDAnalysis/mdanalysis/issues/96 ; the post from 2010 also has a 2020 update). In this model, development is carried out on

[2022-02-22 17:53] IAlibay commented on #3542
Do we need to do anything here?

As far as I'm aware all this means is that starting next release (i.e. 2.1.0) I'll just make a tag and/or feature branch and go with that?

I guess the main decision is - are tags good enough or do we want a feature branch for each release?

[2022-02-22 17:56] IAlibay commented on #3446
We've sat on this too long. I'm proposing a hard feature freeze of this Sunday - with a release on Monday (unless there's any game breaking bugs).

@MDAnalysis/coredevs here are the things that need to be pushed:

- [ ] #3044
- [ ] #3470
- [ ] #3527
- [ ] #3528

#3527 is pretty important for us to deal with (otherwise we might not be able to build because of the extra `packaging` import), so I'll

[2022-02-23 13:35] jbarnoud opened #3543 "HydrogenBondAnalysis log warn test fails with more than 4 workers"
## Expected behavior ##

All tests pass on all supported platforms.

## Actual behavior ##

The CI cron job for the ARM platform fails with the following error:

[code]

See the full report on https://app.travis-ci.com/github/MDAnalysis/mdanalysis/jobs/560854076

## Current version of MDAnalysis ##

- Which version are you using? Commit 55fa72f
- Which version of Python (`python -V`)? Python 3.8.3

[2022-02-23 13:36] IAlibay commented on #3543
🤔 interesting - I know the armv8 runner tends to error out but it's the first time I've seen a proper failure

[2022-02-23 13:42] jbarnoud commented on #3543
It did error earlier today and stalled, making it impossible to know what test failed. I restarted it and it went through with the error reported above.

It seems that the job failed and stalled already last week. Before that it would sometimes stall but not fail.

[2022-02-23 13:44] IAlibay commented on #3543
Ah fair I did just restarted CI just to check how reproducible this is. The runner stalling is something that's a bit out of our hands, it's the only place we can get that runner, and it's not very stable :(

Is there a reason we use logging in the HBA code? Especially for that code path we don't even bother to throw a more traditional warning and instead opt for logging.warning.

[2022-02-23 14:11] IAlibay commented on #3543
Ok yeah - so now I know why this particular test is so familiar.

Turns out I also encountered this last week when doing something else but couldn't narrow down the issue (particularly since @fiona-naughton couldn't reproduce it if I remember correctly).

The issue comes when calling pytest with 8 threads (not tried more) at the top of MDAnalysisTests (in the same way that the arm64 runner does).

[2022-02-23 23:48] #3512 closed, assigned to hmacdope

[2022-02-24 11:30] hmacdope opened #3545 "Multi-precision and dtypes"
Discussion around #3544 and #3500 has raised some interesting points about floating point precision and dtypes.

The current strategy in MDA is to squash down to an `np.float32` on box and coordinate creation, with no flexibility allowed, however some routines still do their accumulation in double precision. Additionally, the datatype is not always respected with some operations promoting back to

[2022-02-25 18:04] amirhs1 opened #3546 "continuous chain reader support for LAMMPS trajectories"
## `ChainReader` for LAMMPS trajectories ##

It is common to write (or dump) the configurations of a long and large simulation as a sequence of trajectories, not a single trajectory, thus working with smaller size and preventing any potential issues/obstacles. For this, it would be great if the [MDAnalysis.coordinates.chain.ChainReader](https://github.com/MDAnalysis/mdanalysis/blob/4381f44c8ecb5c9

[2022-02-27 11:16] AlessandroUniSa1 opened #3548 "LAMMPS.DATAWriter should allow to write residue ID"
Dear all, I am currently working on a loop where each step consists in a short MD simulation, followed by an update of atoms charges, which are used in the MD simulation in the next step. MDAnalysis has proven very helpful to process and extract the MD data, so thank you for your hard work in developing this tool!
Unfortunately, it appears that I have a problem when using LAMMPS: I managed to read

[2022-03-03 00:58] IAlibay opened #3550 "CI: macos runners segfault failing on openmm tests"
## Expected behavior ##

All CI tests work as expected.

## Actual behavior ##

CI is failing on macos runners with very unspecific segfaults.

See: https://github.com/MDAnalysis/mdanalysis/runs/5398923069?check_suite_focus=true as an example.

Apparently this might be related to: https://github.com/openmm/openmm/issues/3491

Although it is oddly timed with py3.10  openmm support having been added

[2022-03-03 13:20] IAlibay commented on #3550
Issue exists upstream: https://github.com/openmm/openmm/issues/3495

My next steps will be to pin to the 7.7.0 build 0 and see if that'll fix things temporarily. Hopefully a fix will come soon.

[2022-03-03 18:50] jbarnoud commented on #3542
I would say that just the tag is good enough. We can always create a branch from that commit if needed. What would be the workflow, then? One commit sets the version number and the date in the changelog, that commit gets tagged, next commit sets the dev version number and add the dev version in the changelog?

[2022-03-04 11:24] IAlibay commented on #3550
build 1 has been marked as broken upstream

[2022-03-04 11:24] #3550 closed, assigned to nobody

[2022-03-04 11:51] IAlibay commented on #3542
We'll see how it plays out in practice, but yeah I was planning to do something similar-ish.

1. PR to tie off version numbers + changelog
2. Complete feature freeze whilst we test things on TestPypi
3. Merge PR
4. Tag commit, upload to pypi
5. New PR to start next version.

Point 2 is going to be really important, we can't have anything going in whilst we make sure that things work fine on testpy

[2022-03-04 13:10] jbarnoud commented on #3446
If possible, I'd like  #2857 to go in.

[2022-03-04 13:26] IAlibay commented on #3446
I really want to get started on the rise process before the end of the day, is that a realistic time frame?

[2022-03-04 13:33] jbarnoud commented on #3446
It is mostly stuck by @orbeckst request for changes, that should be out of date. Otherwise, I guess I'll be good to change all the `versionchanged` for the next version :shrug:

[2022-03-04 15:14] IAlibay commented on #3446
I've pinged @richardjgowers for a review, @orbeckst would you have time? I'll try to give it a review in a bit and we can just merge it. I'll yield on the deadline and just say "as long as it makes it in by midnight today".

[2022-03-04 16:46] orbeckst commented on #3446
I re-reviewed #2857 and some of the older comments that looked out of date because of nearby code changes are still valid. It's only minor doc things, though.

[2022-03-04 16:58] jbarnoud commented on #3446
I won't have time to fix that by the end of today. Let's re-target for 2.2.0.

[2022-03-05 16:20] orbeckst commented on #3446
I am ok with #2857 now, assuming that tests pass.

[2022-03-05 16:22] IAlibay commented on #3446
Ok cool, let's get it merged and then I'll start the release process later this evening.

[2022-03-07 10:36] IAlibay commented on #3542
After speaking with @lilyminium we'll need to make sure we have a release feature branch so that the userguide has somewhere to point to.

[2022-03-07 10:47] jbarnoud commented on #3542
Does the user guide point to a branch or to a commit? Anyway, branching out of the tagged commit shouldn't be an issue.

[2022-03-07 21:56] #3446 closed, assigned to nobody

[2022-03-08 08:48] IAlibay opened #3556 "xfail symlink tests in hole2"
## Expected behavior ##

All tests should pass.

## Actual behavior ##

On Windows it's quite common for folks to get permission errors on symlink creation leading to test failures.

Since it's a known failure, it would be good if we just xfailed the relevant tests.

## Code to reproduce the behavior ##

run tests on win 10 or 11 (in my case using anaconda prompt, not sure about @jbarnoud)

## Cur

[2022-03-08 08:54] jbarnoud commented on #3556
I am running with miniconda in windows terminal.

The test failures are:

[](https://support.discord.com/)pititjo
#1471

IAlibay [he/him] — 24/05/2021
pip installing works as:

pip install MDAnalysis==2.0.0b0 MDAnalysisTests==2.0.0b0
All tests pass as expected on ubuntu 18.04 LTS + py3.8
Lily [she/her] @lilyminium — 24/05/2021
do we want to run mac tests or is that less important since the worksho

[2022-03-08 10:53] IAlibay opened #3557 "Build badge on MDAnalysisTests readme needs updating"
The badge still points to travis, just needs switching to gh actions CI.

[2022-03-08 18:31] orbeckst commented on #3306
Can we make this a GSoC issue if we agree that we want to same behavior as for PDB?

[2022-03-08 18:33] IAlibay commented on #3306
Possibly? I'm not sure how obscure the standard is, and if it's meant to follow pdbv3.. I'm not sure if it would be a bit too much to ask someone to dig into this.

[2022-03-08 20:24] inomag commented on #3557
Hi @IAlibay , I would like to work on this issue. But, I had a doubt. The readme file doesn't contain any extension. Should I rename it as README.md first?

[2022-03-08 21:11] IAlibay commented on #3557
@inomag - no this isn't a user facing readme so it doesn't need any further changes beyond changing the link at this point in time.

I don't know if you happen to be a potential GSoC contributor, but given organisations were announced today I'll just make this clear here for anyone that might be a candidate to be a contributor. This issue does not meet the minimum requirements for a meaningful mer

[2022-03-08 21:18] inomag commented on #3557
Thanks @IAlibay . It's ok if this issue does not meet the minimum requirement. I just want to explore the codebase.

[2022-03-08 21:19] inomag commented on #3557
I will make the edit and create a PR

[2022-03-08 22:28] IAlibay opened #3560 "Release 2.2.0"
As discussed elsewhere, our intention is to have a relatively quick turnover for the 2.2.0 release of MDAnalysis. The plan is to complete a few long standing items that unfortunately couldn't make it into 2.1.0 and ship it as soon as that happens.

As such release 2.2.0 should be shipped as soon (within a minimum of 1 month from today) as the following three PRs are merged:
- [x] #3044
- [x] #3375

[2022-03-08 22:31] IAlibay commented on #3542
I'll leave this to discussions with @lilyminium once she's back from leave.

To do (will self-assign as per our last meeting)

- [x] update wiki
- [ ] update userguide

[2022-03-08 23:06] IAlibay commented on #3543
I have updated the title of this issue to reflect the current situations - this is a blanket failure across multiple arch and OS types. Pretty much > 4 workers will trigger this failure.

Question - are we ok just switching out of logging.warn to just a direct warning instead here? We don't use logger stuff much in MDA and it seems somewhat out of place.

[2022-03-08 23:08] IAlibay commented on #3535
Adding this to 2.2.0 milestone.

[2022-03-09 00:02] lilyminium commented on #3542
User guide points to a branch for now, but it's no work at all to make it point to a tag instead.

[2022-03-09 00:03] lilyminium commented on #3542
However, I'd probably branch the user guide for individual releases as it's more living than the codebase or docs.

[2022-03-09 07:54] soma2000-lang commented on #2395
@lilyminium  Is this issue still open for working .Then I would like to take up this issue.

[2022-03-09 18:42] SerpentByte opened #3561 "Manually provide masses charges and sizes to non-standard particle types"
## Is your feature request related to a problem? ##

I mostly work with coarse-grained simulation techniques and use GROMACS for simulations. Therefore the bead types I used for atoms are not recognised. This creates a warning "UserWarning: Failed to guess the mass for the following atom types". This assumes the mass of whatever it can find in the periodic table, else sets the masses to zero.

##

[2022-03-09 18:53] jbarnoud commented on #3561
Thank you for reporting this issue. The warning you are talking about is way too familiar to me!

It is already possible to load the topology from an ITP (or even better, a TPR file), though. In such case, the masses (but also the whole topology, including the charges) will be read from the file:

[code]

Does that solve your issue, or did I miss something?

[2022-03-10 04:51] SerpentByte commented on #3561
Wow this is nice to know. Thanks!

[2022-03-10 04:52] #3561 closed, assigned to nobody

[2022-03-10 09:35] RATED-R-SUNDRAM commented on #3205
I would like up this issue please provide some more literature on whats expected as an output.

[2022-03-10 20:22] Seanny123 commented on #1300
As documented in the [`manylinux` repository](https://github.com/pypa/manylinux) the best way to build wheels is using the provided Docker image:
[code]

Once inside the image, wheels for all supported Python versions can be built:
[code]

Then, after exiting the docker image, the wheels can be uploaded using `twine`:
[code]

These wheels would be uploaded in addition to the source code tar ball.

[2022-03-10 20:34] IAlibay commented on #1300
Thanks for the details @Seanny123 - I'm currently looking at implementing wheel deployment via cibuildwheel but there's a few things about our install & release process I want to clean up before I get to it. I'll ping back something here in a week or two hopefully.

[2022-03-10 21:14] Seanny123 commented on #1300
Yes, please use `cibuildwheel`. I'm not discovering the process I described creates an invalid distribution which causes the error:
[code]

:man_facepalming:

[2022-03-10 21:17] IAlibay commented on #1300
Re wiki - I think we had to limit it to folks that have at least one contribution because we had some issues with bots inserting malicious looking links, not sure if there's a way to waive that requirement for a given user

[2022-03-10 22:41] Seanny123 commented on #1300
FYI, further efforts to resolve this incompatibility have only baffled me further.

I tried installing requirements first
[code]

This allowed the package to work with `numpy=1.22.3`. However, when I used this wheel with `numpy==1.19.5`, I got the error:

[code]

Hopefully `cibuildwheel` resolves this, because I'm baffled as to what is happening.

[2022-03-11 16:03] Seanny123 commented on #1300
FYI, I realized this morning I wasn't using the new PEP517 build system. So instead of `setup.py` I should be using:

[code]

However, despite specifying to build with numpy==1.19.3, I still get the same error if I use `numpy==1.19.3` instead of `numpy==1.22.3`:
[code]

[2022-03-14 10:05] mriopedre commented on #2439
Hi everyone. I was looking for a way to calculate SASA using MDAnalysis, and came across this thread. Is there any way to do it already? Thanks!

[2022-03-14 18:08] Neel-Shah-29 commented on #2039
Hello , I would like to take up this issue, Kindly guide me through what needs to be done in this issue.
As per the issue, Do we need to add the iterative approach stated above to be implemented in the codebase?

[2022-03-14 18:14] Neel-Shah-29 commented on #3501
I would like to solve this issue, if no one is currently working on it.

[2022-03-15 08:02] Nitin-patil2209 commented on #3486
Hi I want to contribute for this issue can you give me a little bit information about this issue.

[2022-03-15 08:47] Nitin-patil2209 commented on #3190
Hii I would like to work on this issue can you give me little information about this issue

[2022-03-16 01:06] yizhuang1 commented on #3217
Hi, is this thread still available for GSoC? I'd like to make a contribution. Thanks!

[2022-03-16 01:44] hmacdope commented on #3217
@yizhuang1 yes it! Go ahead and make a PR. :)

[2022-03-16 21:24] aya9aladdin commented on #597
Hello everyone
I'm planning to apply for google summer of code this year, and I'd like to contribute with a test case to be my first pull request to MDanalysis. I've read all the above instructions and the related links, but I'm a little confused by the coverall link mentioned above by @jbarnoud. I couldn’t find files having the uncovered parts underlined with the except word, as described above b

[2022-03-16 22:14] lilyminium commented on #597
Sorry for the confusion, @aya9aladdin. This is quite an old issue and afaik we've moved away from using coverall but now use codecov: https://codecov.io/gh/MDAnalysis/mdanalysis/tree/develop/package/MDAnalysis

If you click around on those and look for low percentage of coverage, that indicates that code is not being tested. Please ignore the `due.py` file, as that's not really part of our library

[2022-03-17 01:21] orbeckst commented on #2039
@Neel-Shah-29 , you'd add the `iterative_average()` function to the MDAnalysis.analysis.rms module. You'd add tests for the code that you add to the analysis/test_rms.py file. You'd add documentation for the new functionality.

There hasn't been a lot of discussion on this issue so it's quite possible that reviewers of your code might say that we want this functionality to follow the standard sche

[2022-03-17 11:50] #2417 closed

[2022-03-17 15:31] aya9aladdin commented on #597
ok I will check this, Thank you!

[2022-03-17 22:22] orbeckst commented on #3339
Will the issue be fixed by PR #3044 ?

[2022-03-18 01:11] orbeckst commented on #3449
@hmacdope I un-assigned you from this issue, otherwise GSoC Contributors will wonder if they can pick the issue to work on.

[2022-03-18 01:12] hmacdope commented on #3449
Okay all good 👍

[2022-03-18 01:15] orbeckst commented on #3556
If we cannot create symlinks (under some conditions) on Windows then that would imply that the code `check_and_fix_long_filename()`  is buggy under Windows. In this case the failure is actually correct and we should be thinking about fixing the code. Or am I misunderstanding why the test fails under Windows?

[2022-03-18 01:20] orbeckst commented on #3548
Does the file format for LAMMPS Data file allow the inclusion of residue ID?

[2022-03-18 01:21] orbeckst commented on #3539
@mtiberti @wouterboomsma could you please let us know what you had intended with this method?

[2022-03-18 09:43] IAlibay commented on #3556
I'll tag @lilyminium here - I can't remember the specifics but I thought Lily mentioned that the issue is something that's down to the install/environment not the code itself, maybe we should fail more graciously though.

[2022-03-19 00:38] tylerjereddy opened #3568 "TST, MAINT: modernizing Encore tests with `np.all()`"
There are a few issues with the Encore tests in `testsuite/MDAnalysisTests/analysis/test_encore.py `. One that stands out is the usage of `assert np.all()`, which gives inferior failure reports compared to `assert_allclose()` et al.

Consider:

[code]

[2022-03-19 00:43] tylerjereddy commented on #3568
Probably for a separate issue, but the multi-line slash-continued assertions like this are probably best avoided as well--you'd basically have to refactor the code to figure out the `False` statement if it did fail anyway.

![image](https://user-images.githubusercontent.com/7903078/159099947-da753ce3-eced-439c-aae0-38d04ef32795.png)

[2022-03-19 01:36] #3557 closed, assigned to nobody

[2022-03-19 22:19] hmacdope commented on #3568
@tylerjereddy would you mind if I label this `GSOCStarter`? Could be a good first contribution.

[2022-03-19 22:36] IAlibay commented on #3568
I'm not sure I agree that this constitutes enough for a GSoC starting contribution. Ideally we want folks solving something that would lead to at least the implementation of a new test, swapping out numpy calls and formatting doesn't seem like enough?

@MDAnalysis/gsoc-mentors please weigh in.

[2022-03-19 22:52] ojeda-e commented on #3568
I agree with @IAlibay with having a GSoC contribution that involves a new unit test. However, and as @hmacdope pointed out, it could be a good first contribution. Maybe labeling with `good-first-issue` instead?

[2022-03-19 23:10] lilyminium commented on #3568
I agree with @IAlibay and @ojeda-e, IMO the gsoc-starter issues are to get familiar with what the GSOC project will need, which will involve at least some form of testing.

[2022-03-19 23:11] hmacdope commented on #3568
No worries :)

[2022-03-19 23:17] lilyminium commented on #3556
Ummm, it looks like the test already predicts the symlink permissions error. I think if you ran with admin permissions then you can symlink. https://www.scivision.dev/windows-symbolic-link-permission-enable/ also has something about running in "Developer mode", although that might (?) require 3.8+. It's hard to say without knowing more about Windows but IMO this should be treated as a bug, the fil

[2022-03-21 13:50] PicoCentauri commented on #2377
With the release of [mdacli](https://github.com/MDAnalysis/mdacli) I will close this issue.

@germanbarcenas. A simple converter is now easy to implement. If you would like to to give us a hand get in contact with us via discord or the mailing list.

[2022-03-21 13:50] #2377 closed

[2022-03-21 14:11] PicoCentauri opened #3569 "Collective analysis of different analysis classes on the same trajectory"
_Disclaimer: I thought there was an issue in the past with this idea but I was not able to find it. Sorry if the following idea is
a duplication_

## Is your feature request related to a problem? ##

If one wants to run several analyses on the same trajectory one has to loop through the trajectory several times. For example, one naive way of analyzing two RDFs is the following:

[code]

I know tha

[2022-03-21 14:14] IAlibay commented on #3569
We had a discussion about this some time ago, I thought I had a PR open about doing an analysis collection somewhere but I might have closed it or just never gotten around to it.

I can re-open it if we want to come back to this.

[2022-03-21 16:20] germanbarcenas commented on #2377
Ok I'll put this on my todo list(: I'll be in touch soon,

[2022-03-22 17:43] shudipto-amin opened #3570 "Helper function in Contacts should copy universe instead of generating new one from file."
## Feature Request ##

In Issue #2666 @lilyminium requested the modification (originally proposed by @orbeckst in [#2368 comment](https://github.com/MDAnalysis/mdanalysis/issues/2368#issuecomment-545079547)):

Although PR #3565 solves the other problem mentioned in this issue, according to [this discussion](https://github.com/MDAnalysis/mdanalysis/pull/3565#discussion_r831316421) with @IAlibay it

[2022-03-23 03:34] #3383 closed

[2022-03-23 12:29] hmacdope commented on #3570
I am going to label this `outreachy-task` if no one minds @MDAnalysis/coredevs?

[2022-03-23 12:39] IAlibay commented on #3570
Can I ask that we first come to an agreement on how to progress with it?

I'd prefer not make starter issues for things where we have to argue about whether or not a given behaviour should be just issued a deprecation warning for 3.0.0 or changed in-place.

The question at the end of the day is, is the old behaviour a bug or an intended feature?

[2022-03-23 12:40] hmacdope commented on #3570
Really good point. I'll take the label off for now.

[2022-03-24 13:54] BFedder opened #3571 "LinearDensity does not work on residues or segments"
## Expected behavior ##

LinearDensity can calculate mass and charge densities for groups of atoms, residues, segments and fragments

## Actual behavior ##

Running LinearDensity with grouping='residues' or grouping='segments' causes AttributeError
AttributeError: Residue has no attribute centroid.
AttributeError: Segment has no attribute centroid.

## Code to reproduce the behavior ##

[code]

##

[2022-03-24 18:09] IAlibay commented on #1300
So an update here, using `cibuildwheel` locally works perfectly fine, so it seems like it'll be the way forward. The next step is really to map out how we'll be doing deployment from now on (mostly modifying our current release process with the way `cibuildwheel` likes to do things).

[2022-03-26 03:05] nancyalaswad90 commented on #3217
Hi everyone 😊

Please advise me on how we distinguish between the active or close issues?

[2022-03-26 03:13] olivia632 commented on #3205
can you give a link to this repository I want to help with this

[2022-03-26 03:41] olivia632 commented on #3205
how can I help you create benchmarks for the following functions?

[2022-03-26 04:49] olivia632 commented on #3205
as we have a built-in function for this we can use Timeit @richardjgowers

timeit.Timer(lib.distances.calc_bonds).timeit(number=number)

as in here number we refer a number of times we want the function to be executed

import timeit
runs_no= 10
duration = timeit.Timer(lib.distances.calc_bonds).timeit(number = runs_no)
avg_dur = dur/runs_no #tells the average duration
print('On average it took {avg

[2022-03-26 05:47] hmacdope commented on #3205
Hi @olivia632, when we talk about benchmarks in this context, we mean automated benchmarks run by `asv`. Please read the information [here](https://github.com/MDAnalysis/mdanalysis/tree/develop/benchmarks) to get more info on how to write benchmarks for use with asv.

[2022-03-26 19:01] umak1106 commented on #3359
Hello , I am Uma Kadam an Outreachy applicant . I would like to work on this issue if you allow . Could you also please give me a link to your selection docs ?
@IAlibay

[2022-03-27 22:53] #2666 closed

[2022-03-28 07:18] mtiberti commented on #3539
Hi, sorry for the delay and thanks for noticing this - I did some digging and it is indeed a leftover of when we had our own `Ensemble` class. It should be fine to replace it with `reference.select_atoms(select)`. Should I open a PR?

[2022-03-28 08:17] Riyabelle25 commented on #3449
Hello, I'm RIya Elizabeth John, an Outreachy applicant. Could you provide some more context about the `LAMMPS DumpParser topology creator` (perhaps it's location in the codebase), and the feature request?

[2022-03-28 10:33] hmacdope commented on #3449
The LAMMPs parser is in [this](https://github.com/MDAnalysis/mdanalysis/blob/develop/package/MDAnalysis/topology/LAMMPSParser.py) file. Currently it expects `dump` files produced by LAMMPs to have a very specific format, when the file format is actually very flexible and can have many different columns in different orders. The job would be to add a flexible parser to fix this issue.

[2022-03-28 15:32] orbeckst commented on #3539
PR would be good. The main thing is a test that checks the code path.

[2022-03-28 17:55] olivia632 commented on #3205
thanks i got it @hugo

On Sat, Mar 26, 2022 at 11:17 AM Hugo MacDermott-Opeskin <
***@***.***> wrote:

[2022-03-28 18:19] olivia632 commented on #3205
[https://asv.readthedocs.io/en/stable/writing_benchmarks.html](url)
can we do something with help of this

[2022-03-28 18:46] manishsaini6421 commented on #3467
I am outreachy applicant and want to do this. I am new in opensource so can you guide me please how can i do this?
And How to start contributing?

[2022-03-28 20:20] orbeckst commented on #3467
@manishsaini6421 , the User Guide has a section [Contributing Code to the Main Codebase](https://userguide.mdanalysis.org/stable/contributing_code.html). In short, you need to learn how to use git and GitHub. You'd fork the MDAnalysis repository. Then you fix the code in *your* fork of MDAnalysis (in your own account). Then you create a **pull request** (PR) against the main MDAnalysis repository.

[2022-03-28 20:22] orbeckst commented on #3467
In order to work on this issue, you need to make a PR that references this issue number. We don't have people "reserve" issues to work on, we just look at the first work that comes in.

[2022-03-28 20:38] manishsaini6421 commented on #3467
@orbeckst  Thanks for detailed discription i'll do it now.

[2022-03-28 22:24] manishsaini6421 commented on #3467
@orbeckst Sir, i have fixed this issue, can you check it once please.

[2022-03-28 23:57] orbeckst commented on #3467
@manishsaini6421 I can see that you created PR #3576. — very good. One of our core developers already reviewed your PR so your next step is to address their comments.

[2022-03-29 00:30] orbeckst commented on #3359
Hello @umak1106 , you don't have to ask to work on an issue. We do not "reserve issues". Rather, we review the first pull request that references an issue. So your next step is to clone the MDAnalysis repository, fix the issue in your local repo, and **create a Pull Request** (and mention this issue #3359 number in the text).

In the User Guide, look under [Contributing to the main code base](http

[2022-03-29 10:30] markvrma commented on #3532
I would like to work on this.

[2022-03-29 15:11] manishsaini6421 commented on #3467
@orbeckst  I have made some changes but still 2 test cases fails , what should i do now?

[2022-03-29 22:18] ojeda-e commented on #3535
This looks like a `good first issue`. Would you please confirm @IAlibay? (Pinning you since you opened the issue)

[2022-03-29 22:20] ojeda-e commented on #3365
Should we tag this with `good first issue`, @lilyminium ?

[2022-03-29 22:21] IAlibay commented on #3535
Sure sounds good to me

[2022-03-29 22:33] lilyminium commented on #3365
Sure :)

There are actually *two* issues here, and people should feel welcome to only fix one in a PR if they want.

The important errors are:

[code]

Here, the fix is fairly simple -- change the expected number.

[code]
Here, the problem is less simple -- a whole universe needs to be defined to substitute `A`, as was done with the example higher in this comment.

The automated CI won't catch the

[2022-03-29 22:52] ojeda-e commented on #3313
I think this is a good `good first issue` too @lilyminium

[2022-03-30 00:58] orbeckst commented on #3532
Hi @markvrma , please just work on the issue. We don't reserve issues, we simply review the first PR that comes in and references the issue. You get priority by showing work.

[2022-03-30 05:48] hmacdope opened #3578 "Documentation should include an MSD example where multiple replicates are combined."
## Is your feature request related to a problem? ##

Combining replicates when calculating MSDs should be common practice, however the documentation does not contain an explicit example of how to do this.

The same cannot be achieved by concatenating the replicas in a single run as the jump between frame -1 and frame 0 of the next trajectory will lead to an artificial inflation of the MSD and henc

[2022-03-30 10:27] micaela-matta opened #3584 "add plots for Ramachandran and Janin plots"
*Issue*

The example code for [analysis data files](https://docs.mdanalysis.org/2.1.0-dev0/documentation_pages/analysis/data.html?highlight=contourf#analysis-data-files) uses `contourf` but shows no plots.

*Task*

Add [Ramachandran](https://docs.mdanalysis.org/2.1.0-dev0/documentation_pages/analysis/dihedrals.html#figure-ramachandran) and [Janin](https://docs.mdanalysis.org/2.1.0-dev0/documentati

[2022-03-30 11:01] micaela-matta opened #3582 "Change code snippets from python 2 to python 3 in the documentation"
This issue can be open for multiple PRs.

in the 'Overview over MDAnalysis' [page](https://docs.mdanalysis.org/2.1.0-dev0/documentation_pages/overview.html) of the user guide, some leftover python 2 syntax should be updated to python 3 syntax.

Example: `>>> print u.atoms`  should be replaced by  `>>> print(u.atoms)`

Find any other obsolete code snippets in other pages of the user guide to add to

[2022-03-30 11:07] micaela-matta opened #3583 "add link to `ordered-selections`"
The page on [selection commands]( https://docs.mdanalysis.org/2.1.0-dev0/documentation_pages/selections.html?highlight=ordered%20selections#selection-commands) contains a note about `ordered-selections`, which shows very far from the corresponding section.

Task: add a link in the note to the section on `ordered-selections`.

[2022-03-30 11:18] micaela-matta opened #3581 "Add RMSD plot example in section 4.2.4"
In the user guide section on [RMS quantities](https://docs.mdanalysis.org/2.1.0-dev0/documentation_pages/analysis/rms.html#example-applications), a code snippet in 4.2.4.1.1. (Calculating RMSD for multiple domains) shows how the data in `RMSD.results.rmsd` is plotted with `matplotlib.pyplot.plot()`, but there is no plot.

Task: add the resulting plot image to the example.

[2022-03-30 12:01] lilyminium commented on #3582
Ahh, I think this might be a better issue for the core repo -- those docs are built from there. That being said, I'm sure there are examples of outdated Python here!

[2022-03-30 12:03] lilyminium opened #3580 "Fix typos in the docs - multiple PRs welcome!"
**From https://github.com/MDAnalysis/UserGuide/issues/194 -- @micaela-matta**

This issue is designed to be incrementally achieved through multiple PRs.

There are a few typos in the user guide, this issue will collect as many as we can find starting with the short list below.
Feel free to fix any typos/formatting errors we haven't noticed and add them in the comments!

- units and conversions [pa

[2022-03-30 12:28] cbouy commented on #3339
Nope! This issue keeps track of the cases that are known to fail even after PR#3044.

[2022-03-30 13:26] manishsaini6421 commented on #2786
@orbeckst Sir , i have fixed this issue. can you review it please.

[2022-03-30 13:29] IAlibay commented on #2786
@manishsaini6421 both @lilyminium and I have commented on https://github.com/MDAnalysis/mdanalysis/pull/3579, those comments will need to be addressed before we consider reviewing.

[2022-03-30 16:00] ojeda-e opened #3586 "Add ASV benchmark badge to README"
Add a new badge in README to link to the site https://www.mdanalysis.org/benchmarks/. Use reStructuredText syntax.

It should look something like: ![image](https://user-images.githubusercontent.com/27988163/160877592-d5e67297-e687-4220-8ebd-e473840684b7.png)

Adding a line with more info on benchmarks is optional and subjected to the approval of Outreachy mentors.

[2022-03-30 16:05] IAlibay commented on #3586
img.shields.io will probably come in useful here

[2022-03-30 16:09] RMeli commented on #3586
As per https://github.com/MDAnalysis/mdanalysis/issues/3557#issuecomment-1062214371, is this a valid Outreachy task?

[2022-03-30 16:13] ojeda-e commented on #3586
Thanks for pointing it out @RMeli, I missed that conversation. I will leave it up to Outreachy mentors to remove the outreachy-task label.

[2022-03-30 16:22] IAlibay commented on #3586
Not an outreachy mentor disclaimer - I would say it is an outreachy task but not a gsoc one. Because of how outreachy works we expect a greener technical background entry point for candidates.

[2022-03-31 05:49] BertinAm commented on #3205
hello guys please i want to work on this issue, please can you help me with some detailed explanation of what am to do in other to solve it.

[2022-03-31 06:43] HenokB commented on #3582
In the [overview](https://docs.mdanalysis.org/2.1.0-dev0/documentation_pages/overview.html) page
Example:  `>>> print "frame = %d: d = %f Angstroem, Rgyr = %f Angstroem" % (ts.frame, d, rgyr)` should be replaced by`>>> print ("frame = %d: d = %f Angstroem, Rgyr = %f Angstroem" % (ts.frame, d, rgyr))`

[2022-03-31 07:04] HenokB commented on #3582
In the [overview](https://docs.mdanalysis.org/2.1.0-dev0/documentation_pages/overview.html) page
`>>> print u.trajectory`  should be replaced with `>>> print (u.trajectory)`

[2022-03-31 07:49] orbeckst commented on #3582
@HenokB this already looks good. Please raise a PR. We can then comment specifically on your suggested fix.

The docs live in https://github.com/MDAnalysis/mdanalysis/tree/develop/package/doc/sphinx/source/documentation_pages (unless the code is somewhere in the code itself...). An easy way to find files that contain specific texts is to use `git grep '>>> print "'`.

[2022-03-31 08:05] HenokB commented on #3582
Thanks and just finished a PR

[2022-04-01 06:18] umak1106 commented on #3584
Sorry I misread it yesterday 😅.  I'll rectify my PR today.

[2022-04-01 12:30] ValentinaWalters commented on #3580
Hello @lilyminium @richardjgowers. I am an outreachy intern applicant and I'll like to be assigned to this task

[2022-04-01 12:40] IAlibay commented on #3580
@ValentinaWalters - as a general rule we do not assign folks to issues in MDAnalysis, especially for outreachy and gsoc. MDAnalysis works on a "first PR" basis, where we will give priority review to the first opened pull request that is opened against a specific issue. To keep things fair we ask that folks only work on one issue at a given time, this way we don't get collisions with lots of folks

[2022-04-01 12:42] micaela-matta commented on #3580
@ValentinaWalters I would also add to what @IAlibay said: as stated above this issue is designed to be incrementally achieved through multiple PRs (from different applicants)

[2022-04-01 12:48] ValentinaWalters commented on #3580
Ok thanks @micaela-matta @IAlibay . I'll work on this and draft a PR soon

[2022-04-01 17:37] micaela-matta commented on #3584
Hi @umak1106, I'm not sure I saw your introduction post in our [mailing list](https://groups.google.com/g/mdnalysis-devel) or [Discord server](https://www.mdanalysis.org/2021/03/20/discord). Are you an Outreachy applicant?

We ask all GSOC/Outreachy applicants to first introduce themselves by posting on the mailing list. And please note that we encourage all GSOC/Outreachy applicants to only have

[2022-04-01 17:41] umak1106 commented on #3584
Yes am an Outreachy applicant.
I didn't know about the one PR rule but I'll follow it from now onward .
And I'll introduce myself on the mailing list too.

[2022-04-02 01:43] tylerjereddy opened #3592 "BLD: install issues on M1 mac"
`python3 setup.py install --user` on the gcc compile farm M1 machine manages to build MDAnalysis, but then it tries to install deps, and `gsd` cannot be built from source:

[code]

[2022-04-02 01:46] tylerjereddy commented on #3592
For the modern/PEP-compliant `python3 -m pip install .` type build, it is clear that `pyproject.toml` needs some updating for M1:

[code]

[2022-04-02 01:51] tylerjereddy commented on #3592
Looks like pretty much all deps are "ok" apart from `gsd`. When I try to run the testsuite I get:

`ModuleNotFoundError: No module named 'gsd'`.

[2022-04-02 01:54] tylerjereddy commented on #3592
I can probably tackle the `pyproject.toml` stuff a bit tomorrow, but as for `gsd`.. report it to them or make sure it is optional for this architecture if possible?

[2022-04-02 05:59] IAlibay commented on #3592
We should just make gsd optional at this point, we do so for h5md, don't know why it has to be a core dependency.

[2022-04-02 22:24] orbeckst commented on #3592
I agree, we have more experience now with making deps optional.

[2022-04-02 22:27] tylerjereddy commented on #3592
that said, I do have `gsd` working on M1 Mac now, as long as I used the `pip install .` instead of `setup.py` (deprecated) route

[2022-04-03 02:23] rishu235 commented on #2703
Hi MDAnalysis team,

I have created the pull request #3596  referencing this issue to be eligible for GSOC. I have implemented an inverse PCA transform that filters the trajectory along selected principal component(s). I have a few questions/suggestions on the unsolved issues listed by @orbeckst

Transforming the atoms involved in PCA was straightforward as per the solution suggested in the issue.

[2022-04-03 16:42] Riyabelle25 commented on #3449
Apologies for the late response, I had been travelling on our class trip.
Adding a parser would mean adding a separate class for the same in a separate file right?
Or should I look into adding a specific method to handle this usecase?

[2022-04-03 18:24] tylerjereddy opened #3599 "BUG, BLD: test_clustering_three_ensembles_two_identical fails on M1 Mac"
Potentially related to gh-1389, but there was a request in gh-3595 to open a separate issue for the M1 mac case (using [gcc compile farm](https://cfarm.tetaneutral.net/machines/list/) M1 machine `gcc304`, Python `3.8`). In particular, without changing the build options on the M1, if I do:

- `python3 -m pip install --user .`
-  ` python3 -m pytest MDAnalysisTests/analysis/test_encore.py::TestEncor

[2022-04-03 20:26] ALescoulie commented on #3463
Is this something we can work on now now? I think this would be a great feature for ease of use and avoiding strange errors.

[2022-04-03 20:29] IAlibay commented on #3463
I believe this is at least part of a propose GSoC project. Due to clashes regarding this it would be best to avoid at this point in time.

[2022-04-03 21:02] orbeckst commented on #2703
Thanks for the detailed questions and comments and PR #3596.

## General comments

Given that the PR should help you to fulfill our GSOC requirement, we probably need to limit the scope a bit. From the discussion below it seems that there's quite a lot that needs to be figured out for a comprehensive solution.

I'd also love to hear from other developers such as @lilyminium @jbarnoud and users @rs

[2022-04-03 21:04] ALescoulie commented on #3310
is this something that there is still interest in improving? I've seen how dihedral improves speed and I don't think it would be too hard to replicate that here to improve performance.

edit: adding more details

[2022-04-03 21:56] hmacdope commented on #3449
@Riyabelle25 sorry should have been clearer, you just need to change the logic in the existing class :)

[2022-04-03 22:33] orbeckst opened #3600 "nuclinfo module does not use AnalysisBase"
## Expected behavior ##
Analysis modules follow standard behavior, i.e., use [AnalysisBase](https://docs.mdanalysis.org/stable/documentation_pages/analysis/base.html) when possible.

## Actual behavior ##
[nuclinfo](https://docs.mdanalysis.org/stable/documentation_pages/analysis/nuclinfo.html) consists of legacy code that predates AnalysisBase.

## Current version of MDAnalysis ##

- Which version

[2022-04-03 22:34] orbeckst commented on #3310
I think we would _really_ like this whole module to be transitioned to AnalysisBase style (I opened #3600) before working on it in earnest. If you want to tackle #3600 then please go for it and then you could always come back here.

[2022-04-03 22:37] orbeckst commented on #3600
To address this issue I suggest to
- create a new module **analysis.nucleicacids** (or come up with a better name!)
- recreate the old functionality in the new module but
  - using AnalysisBase and
  - making selections configurable instead of hard-coding CHARMM names
- use the old tests as reference and make sure that the new code produces the old results
- deprecate the nucl_info module

[2022-04-03 22:39] orbeckst commented on #3600
This is not a small issue. Depending on how difficult it becomes in practice, we can also do PRs for individual functions, as soon as the basic skeleton (new module, one new analysis class, corresponding deprecation) has been established.

[2022-04-03 22:44] InfluenceFunctional commented on #3310
@orbeckst I took your advice in May of last year and wrote it up as the below in my OpenDNA (now E2EDNA2) code. Indeed, it runs extremely fast now.

I didn't think it was general enough as-written to port over to MDA. I had always meant to clean it up for this purpose but never got around to it.

See here:
https://github.com/InfluenceFunctional/E2EDNA2/blob/main/analysisTools.py

[code]

[2022-04-04 00:42] ALescoulie commented on #3600
I'll get started on this. I've seen the way speed was improved in dihedral.

[2022-04-04 10:03] HadrienNU opened #3601 "AtomGroup selection of the closest atoms"
## Is your feature request related to a problem? ##

I would like to have a way a creating an AtomGroup by selection of fixed number of atoms the closest to a selection.
That would be useful when using this selection to feed later machine learning code that requires fixed length entries.

## Describe the solution you'd like ##

I would like to have run

`closest_solvent = u.select_atoms("closest 5

[2022-04-04 10:06] IAlibay commented on #3601
Thanks for the feature request @HadrienNU

Just to add here - there is some ongoing work on this by @richardjgowers (https://github.com/MDAnalysis/mdanalysis/pull/3382) but we've just not had time to properly review it yet.

[2022-04-04 20:51] #3583 closed, assigned to nobody

[2022-04-04 23:20] orbeckst opened #3602 "change "from MDAnalysis import *" to more specific imports"
## Expected behavior ##
Docs show examples following Python best practices, in particular with regard to avoiding blanket imports of the form
[code]

## Actual behavior ##

The examples on the [overview](https://docs.mdanalysis.org/stable/documentation_pages/overview.html) page contain multiple cases of
[code]

## Desired solution ##
Replace `from MDAnalysis import *` with accessing the required c

[2022-04-04 23:32] orbeckst commented on #3385
If no charges are present then I would expect the topology to *not contain charge information*. This is a much safer approach than trying to guess charges, which we cannot do well anyway. If the topology does not contain charges it will simply not have methods such as `total_charge()` but everything else (EDIT: that does not require charge information) will work.

@RMeli @IAlibay @richardjgowers @

[2022-04-04 23:34] IAlibay commented on #3385
Not read the full context of this discussion, but yeah charge is an optional topology attribute, if there's no charge then we shouldn't guess it (which would require rdkit anyways)

[2022-04-04 23:38] orbeckst commented on #3385
Following up on https://github.com/MDAnalysis/mdanalysis/pull/3598#issuecomment-1087974402 : I *think* **resname** and **resid** are always required in our [topology system](https://docs.mdanalysis.org/stable/documentation_pages/core/topology.html) so using a default of "UNK" and 1 seems reasonable to me. (But I am happy to be corrected!)

[2022-04-05 03:26] tejaswari7 commented on #3602
I would like to take this issue please assign it to me

[2022-04-05 04:45] megosato commented on #3416
Hello!
I was hoping to work on this issue, but wanted to confirm a few things.

My current understanding is:
`FrameIteratorIndices` should rewind to Time Step 0 similar to `FrameIteratorSliced` and `FrameIteratorAll`

Questions:
If rather than making the iterator `iterator = u.trajectory[[0,1,2]]` we do `iterator = u.trajectory[[2,3,4]]`, should it still rewind to timestep 0? And likewise for `Fra

[2022-04-05 04:46] Mrqeoqqt commented on #3385
Hi @IAlibay Should I discard the charge attribute when any of the charge is empty? Is there any possibility that the part of atoms in .mol2 file have charges but the others don't?

[2022-04-05 05:36] orbeckst commented on #3602
Hello @tejaswari7 , we don’t assign issues, we simply review the first PR that references the issue. So just submit a PR and we then look at your work.

Have you already introduced yourself on the developer mailing list?

Please also only work on one issue at a time.

[2022-04-05 07:53] #3586 closed, assigned to nobody

[2022-04-05 08:16] Sukeerti1 commented on #3584
Hi, I'm Sukeerti , Outreachy applicant. I went through the following links
https://github.com/MDAnalysis/mdanalysis/blob/develop/package/MDAnalysis/analysis/dihedrals.py
Line number 517 and 667 requires changes to be done. Also
https://github.com/MDAnalysis/mdanalysis/blob/develop/package/MDAnalysis/analysis/data/filenames.py requires some modification..
I went through https://docs.mdanalysis.org/

[2022-04-05 10:25] RMeli commented on #3385
Same, this is what I was trying to say in https://github.com/MDAnalysis/mdanalysis/pull/3598#discussion_r841588579

I was not aware of this. If they are required fields, then the chosen default values are very sensible. But charges should be discarded (especially since they are optional).

[2022-04-05 11:47] BFedder opened #3603 "LinearDensity should have more reliable tests"
## Is your feature request related to a problem? ##
Currently, some of the tests in test_lineardensity.py are basically tautologies because the expected values the tests check against were obtained by running lineardensity.py. This is the case for the following expected values:

`expected_xchar_atoms`
`expected_xpos_residues`
`expected_xchar_residues`
`expected_xpos_segments`
`expected_xchar_segme

[2022-04-05 17:13] orbeckst commented on #3385
On discord, @richardjgowers said:

@lilyminium pointed to the [list of canonical attributes](https://userguide.mdanalysis.org/stable/topology_system.html#canonical-attributes) and confirmed that **resname** is not essential.

This means that
* resid = 1 is a good default
* resname can be left empty and then will not be included in the Topology; do *not* set it to a default value
* charges are opti

[2022-04-05 18:38] #3582 closed, assigned to nobody

[2022-04-05 23:49] #3581 closed, assigned to nobody

[2022-04-06 00:01] olivia632 commented on #3600
i want to work on this can you help me with the pull request theoretically its confusing

[2022-04-06 00:04] olivia632 commented on #3600
i have done the fork part I am not able to do make the pull request if you could help me in what should the base rach and compared branch to be

[2022-04-06 00:39] orbeckst commented on #3385
More discussion (https://github.com/MDAnalysis/mdanalysis/pull/3598#discussion_r843367930): At the moment I am proposing to fail with a `ValueError` if some lines contain optional data (such as a resname, aka subst_name) and others don't. From the definition for `@<TRIPOS>ATOM`
[code]
it looks as if this would be allowed but then things become difficult for our topology object and we would have to

[2022-04-06 01:05] mdpoleto opened #3605 "Make CRD (CHARMM card file) EXT format optional for smaller systems."
Hi,

When writing CRD (CHARMM card) files, it would be useful to allow users to force the EXT format even for systems smaller than 99,999 particles. An optional argument could be quick and simple solution. Any thoughts?

[2022-04-06 01:16] orbeckst commented on #3416
Yes.

Good question. I'd say yes, for consistency, because that's what FrameIteratorSliced is already doing. (The alternative would be to rewind to the first frame index but that seems less consistent with what we have at the moment.)

I use bugs and defects synonymously. What difference do you perceive?

In this specific case the question was if the change will be an **API change** or a **bug fix

[2022-04-06 01:20] orbeckst commented on #3605
Sounds sensible, do you want to make a PR?

[2022-04-06 01:26] mdpoleto commented on #3605
I would love to. I will work on this in the next days and I will make a PR.

[2022-04-06 01:32] orbeckst commented on #3605
Sorry to ask @mdpoleto , do you intend to apply for GSOC with MDAnalysis (or Outreachy)?

[2022-04-06 01:45] mdpoleto commented on #3605
No problem @orbeckst . I am not sure I am able to apply since I am J-1 visa holder in the US. Still, it sounds a very interesting opportunity.

[2022-04-06 07:38] #3602 closed, assigned to nobody

[2022-04-06 08:30] orbeckst commented on #2764
@richardjgowers is this issue still relevant? Is there anything where you'd want to describe more clearly what you'd want to see so that the issue becomes suitable for the GSOC-starter label?

[2022-04-06 09:04] RMeli commented on #3385
I totally agree with this.

[2022-04-06 13:58] umak1106 commented on #3359
According to my understanding of the id selection keyword I have tried to document it in the selection docs .Kindly tell me what changes I am supposed to make in my PR.

[2022-04-06 16:32] PicoCentauri commented on #3603
Thanks for this issue. If somebody wants to start on this. The following lines can be used to generate a Universe of individual atoms.

[code]

[2022-04-06 19:13] orbeckst commented on #3605
Have a look at https://summerofcode.withgoogle.com/ for the program conditions. GSOC is open to everyone who is "new to open source software" (in terms of contributing).

[2022-04-07 06:53] ALescoulie commented on #3600
@orbeckst I've been looking at nucinfo.py, and I have a question about what you want. If the user provides a list their own selections why have separate classes for wc_dist, minor_dist, and major_dist since the only difference in each function is the atoms selected in the base pair. Could I just make a single class for getting distances of a list of selections then in the docs mention how it can b

[2022-04-07 11:14] pranayrauni commented on #3580
Hi, I'm an Outreachy 2022 applicant. I'm getting issue after creating virtual env.  I'm unable to activate.

![n](https://user-images.githubusercontent.com/59686672/162186530-99abbd73-99b7-426b-b827-157085a189ad.png)

[2022-04-07 15:19] sayantan-bhattacharyya commented on #3449
I want to contribute.

[2022-04-07 17:48] orbeckst commented on #3600
The base branch is develop in the https://github.com/MDAnalysis/mdanalysis repo, the head is the branch in your fork where you're adding new code.

[2022-04-07 17:51] orbeckst commented on #3600
Having a generic class is excellent. Just having the docs describing how to get the effect makes life more difficult for users.

I like the approach of thin classes that only define the default selection. They can then serve as examples how to do the analysis for one FF and we can eventually extend them to recognize others if necessary.

[2022-04-07 18:04] orbeckst commented on #3310
@InfluenceFunctional thanks for sharing. Even though I agree that the atomDistances() class is simple, it is useful, and importantly, the fact that it is only a few lines of codes that nevertheless correctly carry out the task at hand is great. Many people calculate distances, and often it's done incorrectly or slower than necessary. As such, I actually see value in adding something like your clas

[2022-04-07 19:38] InfluenceFunctional commented on #3310
@orbeckst please by all means go ahead and use it in whatever way it could be useful!
I just realized I had sent over only the distances part, rather than the DNA-specific part --- here is the context in which we use it in our code to track Watson-Crick bond lengths for all possible combinations of bases in a single DNA sequence, over the full trajectory.

[code]

[2022-04-07 19:45] orbeckst commented on #3310
Thanks, @InfluenceFunctional!

Btw, if you want your software be featured on https://www.mdanalysis.org/pages/used-by/ open a PR in https://github.com/MDAnalysis/MDAnalysis.github.io/ by editing https://github.com/MDAnalysis/MDAnalysis.github.io/blob/master/pages/used-by.md

[2022-04-07 20:20] IAlibay commented on #3600
@olivia632 questions re: using git & GitHub would be best handled either on our mailing list or discord. If you could ask these there that would be very much appreciated. The main thing is that this can easily lead to long conversations which are not directly linked to the issue being described.

[2022-04-07 20:21] IAlibay commented on #3600
Just a note here for all potential GSoC contributors - we do operate on a "first PR basis", but this is a pretty big proposed change. I would encourage that potential contributors try to be good citizen to each other and work out the best way for multiple interested parties to not end up spending hours writing the same code.

[2022-04-07 22:10] aditi2906 commented on #3580
Hey!
since you have created another directory of my-project-env...firstly change directory (cd) into that and then try running source bin/activate.

[2022-04-08 10:34] ValentinaWalters commented on #3580
@pranayrauni hey have you created a file(my project) directly on conda or miniconda ?

[2022-04-08 12:33] micaela-matta commented on #3580
@pranayrauni see the section of the [guide](https://userguide.mdanalysis.org/stable/contributing_code.html#with-pip-and-virtualenv) "with pip and virtualenv". Which directory are you trying to activate the environment from?

[2022-04-08 18:03] IAlibay opened #3612 "[CI] pypi checks currently failing"
TLDR here is that pypi checks are failing across the board in our CI.

See here for an example: https://github.com/MDAnalysis/mdanalysis/runs/5887239872?check_suite_focus=true#step:6:29

I've narrowed it down to the readme_renderer we're pulling that's for some reason v0.27 and 2 years old.... I'll try to see if we can force a v0.34 build but I suspect there's some conda dependency issue somewhere

[2022-04-08 18:15] IAlibay commented on #3612
Turns out the feedstock for readme_renderer is unmaintained: https://github.com/conda-forge/readme_renderer-feedstock

I'm not sure it's actually done by the actual folks running the package...

[2022-04-08 18:52] IAlibay opened #3614 "[CI] AZP runners are flaky and failing a lot on reading XTC files"
See: https://dev.azure.com/mdanalysis/mdanalysis/_build/results?buildId=3392&view=logs&j=4e8a2b8d-dc2d-525e-b5b0-9e8ff470f57f&t=0a1bec29-feee-5c18-7b4e-468834a8c1e8&l=674

It seems like a weird mix of CI and maybe numpy?

[2022-04-08 18:53] IAlibay commented on #3614
@tylerjereddy I was wondering if you might have any insights here.

[2022-04-08 20:01] #3385 closed

[2022-04-08 21:25] #3612 closed, assigned to IAlibay

[2022-04-08 21:43] #3571 closed, assigned to nobody

[2022-04-09 02:44] olivia632 commented on #3603
i want to start on this

[2022-04-09 06:46] IAlibay commented on #3614
Suddenly stopped failing as much... maybe it's just purely upstream

[2022-04-10 04:29] aya9aladdin commented on #2630
Hi everyone,
I'm working on my gsoc proposal for implementing context-aware guesser, as I gather information bout what is implemented in this scope, I came to this nice proposal and read through it. From what I get the idea here is based on implementing databases for each "context" and use a` Context `class to infer information by matching known data to get the unknown from tables. However, I was

[2022-04-10 06:39] PicoCentauri commented on #3603
@olivia632 cool!

I suggest that you calculate the density using the make_universe function and compare it to the values you would calculate based on the system parameters. The number of particles is 100, the volume is 1 Å^3, the mass per particle is 1 u and the charge is 1 e. If I am not mistaken the mass density in each bin and direction should be 100 u/Å^3 and the charge 100 e/Å^3.

[2022-04-10 09:02] olivia632 commented on #3603
k I will work on that and  then reach you back

[2022-04-10 09:41] PicoCentauri commented on #3603
You can also reach me on discord if you have any general questions.

[2022-04-10 10:22] sumanthpalla commented on #3578
Hi there,
I'm Sumanth. I would like to work on this issue.

[2022-04-10 14:45] mdpoleto commented on #3605
Thanks @orbeckst . I believe I have a fix for forcing EXT format if requested, but while I was tinkering with it, I realized that requesting for a specific frame is not working (CRD.py, line 167).

I am testing it using:
[code]
and

[code]
but my .crd file is still frame 0. Could you confirm that behavior? If so, I can try to fix for that too.

[2022-04-10 17:40] pranayrauni commented on #3580
Hi, Issue has been resolved. I had to make some changes in command to make it work properly. I have created dev env on my windows machine. BTW thanks for your suggestion.

[2022-04-10 19:56] orbeckst commented on #3605
We always treat CHARMM CRD files to only contain a single frame. Can you point to a file format specification that indicates that these files can contain multiple frames?

We try to be standard compliant so if CRDs are not supposed to contain multiple frames then we will likely not want to add this capability. It’s still possible for you to write your own reader for these files and use it like oth

[2022-04-11 00:19] #3416 closed, assigned to nobody

[2022-04-11 01:44] mdpoleto commented on #3605
CHARMM CRD files contain only just a single frame. However, CRD.py seems to have a function that allows users to define which frame they want to output:

lines 167 to 186 in CRD.py
[code]
If directly selecting which single frame is written was indeed something previously intended, I can not reproduce this feature. This is what I would like to confirm before making any changes.

[2022-04-11 08:58] #3486 closed, assigned to nobody

[2022-04-11 10:55] sumanthpalla commented on #2797
Hi @lilyminium , I'm Sumanth and I would like to work on this issue! Please guide me

[2022-04-11 16:06] orbeckst commented on #3605
The write() code allows you to write a frame of another universe to a CRD. `selection` is an input to the function.

[2022-04-12 00:34] #2703 closed

[2022-04-12 01:03] orbeckst commented on #2703
@rishu235 's https://github.com/MDAnalysis/mdanalysis/pull/3596#issuecomment-1093660423 from the PR contains a link to *movies* of AdK filtered on PC1. I updated the timings with numbers from https://github.com/MDAnalysis/mdanalysis/pull/3596#issuecomment-1094119169

Looping through 97 frames in a protein trajectory, testfiles (PSF, DCD) with 214 residues and 3341 atoms, takes

1. **with no transf

[2022-04-12 02:49] tylerjereddy commented on #3614
Nothing super-obvious without doing a detailed diff of succeeding vs. failing logs. I know upstream there has been discussion of migrating as much as possible from Azure to GHA for reliability/quality, etc. The other advantage is being able to run the CI completely locally using the [`act` tool](https://github.com/nektos/act) for GHA, which is indeed quite slick for iterating.

[2022-04-12 06:11] lilyminium commented on #3580
For anyone looking at this issue, there's a bit of work to do to find the actual page to edit to fix the typo!

The first step is to find the web page that the typo is on. In the top comment, the pages are linked -- otherwise, you can browse the documentation yourself.

From there you need to work backwards to find the file that creates the web page. For a page with the URL `https://docs.mdanalysi

[2022-04-12 06:14] pranayrauni opened #3623 "Creating development environment with pip & virtualenv - multiple pull requests"
This issue is raised to create development environment `with pip & virtualenv` smoothly.

- On page: https://userguide.mdanalysis.org/stable/contributing_code.html#working-with-mdanalysis-docs

**Issues:**

- There is no bin folder/file in virtual environment directory `my-project-env` . `Scripts` folder is there. So to activate virtual environment the command should be like this `source myproject

[2022-04-12 06:28] aditi2906 commented on #3568
Hey,
I would like to work on this issue..Can you please help me understand what parametric value should I pass for rtol and atol if I use assert_allclose()?

[2022-04-12 06:43] lilyminium commented on #3568
Thanks for having a look @aditi2906. I think the default values should be alright, really -- otherwise what kind of tolerance we expect would depend on the particular test.

[2022-04-12 07:32] yang-guoli opened #3628 "TypeError: object of type 'Universe' has no len()"
## Code to reproduce the behavior ##

[code]

it has error as follows:
![image](https://user-images.githubusercontent.com/73353085/162905175-508e64cc-b42f-4a1a-a18d-98a4fc4c7a10.png)

I just started learning MDanalisys, I don't know how to solve this problem, can you give me some help？

[2022-04-12 07:48] lilyminium commented on #3628
@yang-guoli the `hole` function expects a PDB filename, i.e. "hypersound_dynamic_400.pdb". If you want to run on a Universe, please use the `HoleAnalysis` class. The documentation for hole2 is here: https://docs.mdanalysis.org/stable/documentation_pages/analysis/hole2.html

[2022-04-12 07:52] #3539 closed, assigned to mtiberti

[2022-04-12 07:58] #3628 closed, assigned to nobody

[2022-04-12 13:28] robotjellyzone commented on #3337
Hi @hmacdope , I want to work on this task but before that, can you please elaborate more about this task and what all things i should know beforehand to complete this task? does this require any technical knowledge regarding it?

[2022-04-12 14:28] danonymous856 commented on #1861
how to get started with the project as a newbie? @anyone

[2022-04-12 14:34] danonymous856 commented on #1861
Yeah1 Also what abt this [one](https://github.com/MDAnalysis/mdanalysis/wiki/GSoC-2022-Project-Ideas#project-2-type-hinting) . from where do I collect worthy info to contribute at this part specifically only.

[2022-04-12 15:38] orbeckst commented on #1861
Hello @danonymous856 , welcome to MDAnalysis. I suggest you introduce yourself first on the developer mailing list and let us know what you‘re interested in (GSoC or Outreachy or generally contributing); also include your GitHub username in the intro email.  We can then point you in the right directions.

This specific issue is not well suited for a new contribution as it overlaps with a GSoC proj

[2022-04-12 15:46] orbeckst commented on #3337
You don’t need to write code for this task. You should know what MDAnalysis does (ie you should have gone at least through the QuickStart Tutorial and read the 2016 paper and perhaps watched some of our videos).

Then the task is to add documentation as I outlined in my comment above.

We don’t “reserve” issues. We simply review the first PR that references the issue so just get started and we com

[2022-04-12 15:48] danonymous856 commented on #1861
Sure thing

[2022-04-12 16:34] BFedder opened #3629 "Implement an AuxReader that supports GROMACS EDR files"
## Is your feature request related to a problem? ##
When running MD simulations, it is often desirable to plot 'energy' terms like the potential energy, temperature, pressure, etc. of the system. The data to be plotted generally has to be extracted from output files and written to intermediate files to facilitate plotting. This is inconvenient when done for many simulations and/or many energy term

[2022-04-12 18:17] #3359 closed

[2022-04-13 00:34] mdpoleto commented on #3605
Right. While using the current stable version of the write() function in CRD.py, I am failing to make use of the input `frame` when I use the following:

[code]

The frame written in the file system.crd is the first one (0):
[code]
I believe I have a fix for: 1) make the EXT format optional and 2) properly use `frame` in the write() function. But before submitting a PR request, I would like to con

[2022-04-13 00:42] junzhoux commented on #3187
Hello @hmacdope

Currently, I am going to use these two codes to calculate the MSD. Is it possible to output actual number of particles using waterdynamics MSD code, if it is a updating atom groups?

[2022-04-13 00:58] #3584 closed, assigned to nobody

[2022-04-13 01:06] orbeckst commented on #3605
It *should* write frame 10. Can you check that (1) it's not just the title that this written incorrectly but that the coordinates are really frame 0 instead of 10, (2) that the same problem occurs with the PDB and the GRO output format?

EDIT: According to the docs for [MDAnalysis.coordinates.CRD.CRDWriter.write()](https://docs.mdanalysis.org/stable/documentation_pages/coordinates/CRD.html#MDAnaly

[2022-04-13 01:10] orbeckst commented on #3605
Btw, if you can make your examples work with the test files then other developers can easily reproduce them and we can easily turn them into tests, e.g.
[code]

[2022-04-13 02:20] aditi2906 commented on #3580
@lilyminium can we fix the PEP8 issues in the documentation under this issue?

[2022-04-13 14:39] mdpoleto commented on #3605
The problem of CRDWriter.write() not writing the requested frame persists with the test files and the current stable version.

In addition, the GRO output format does write the requested frame (it matches the coordinates of a .pdb file generated by catdcd), but the PDB output format did not recognize `frame=10` as an input to the function `write()`.

[code]
Should I open a new issue for this frame

[2022-04-13 15:36] orbeckst commented on #3605
Please open separate issues. Then submitting separate PRs is best as it keeps the scope smaller and so code review can be faster. Of course, if it turns out that there's a single fix (e.g., in a base class) that closes multiple issues then that's good, too, but as a rule we try to do 1 issue/1 PR.

Thanks for looking into these API inconsistencies.

[2022-04-13 16:25] umak1106 commented on #3501
Hello @orbeckst , is @Neel-Shah-29 still working on this issue ? Or can I try coming up with a possible solution for this issue ?

[2022-04-13 16:51] orbeckst commented on #3501
PR #3563 has been closed so you're more than welcome to tackle this issue, @umak1106 .

[2022-04-13 17:43] aditi2906 commented on #3623
On my experience of installing MDAnalysis,I had opted the method of creating a .env folder in my locally cloned repo. There on any command either for activating the environment or running operating jupyter-notebook using virtual environment was running smoothly.
As for sphinx is concerned, update it to any version equivalent or above 2.0.1. It worked for me!

[2022-04-14 06:10] manishsaini6421 commented on #2786
@lilyminium what i have to fill in this field during the final application.[https://drive.google.com/file/d/1NA29pjDVaSucBQslmwXphxXrgwvYe7Gu/view?usp=sharing](url)

[2022-04-14 07:17] robotjellyzone commented on #3313
Hi, @PicoCentauri @IAlibay can you please tell me where can I get the example to be added to the module docstring? also, in this task, I just have to add a comment that `len(groups)>1` & example right?

[2022-04-14 12:33] PicoCentauri commented on #3313
For a proper example you may take a look at the test cases for multiple groups here

https://github.com/MDAnalysis/mdanalysis/blob/54d9e4e4425349aa9876d00614a032536d565588/testsuite/MDAnalysisTests/analysis/test_helix_analysis.py#L382-L391

and here

https://github.com/MDAnalysis/mdanalysis/blob/54d9e4e4425349aa9876d00614a032536d565588/testsuite/MDAnalysisTests/analysis/test_helix_analysis.py#L411

[2022-04-14 12:55] #3580 closed, assigned to nobody

[2022-04-14 15:36] robotjellyzone commented on #3313
also @PicoCentauri , can you please tell me at what position the example must be added ? should i place it there in the parameter section only where split_residue_sequences desciption is written?

[2022-04-14 16:22] robotjellyzone commented on #3313
is this comment & example fine @PicoCentauri @micaela-matta  @lilyminium  ? if it will be fine then i will push my commits

![image](https://user-images.githubusercontent.com/36916536/163432007-f5c7ec7d-3f74-4d94-b4ed-2fb458b4f398.png)

[2022-04-14 17:11] Atharva7K opened #3637 "Add unit test to check ImportError is raised when openmm is not installed"
## Is your feature request related to a problem? ##
#3511(after merging) will add `daltons` as a dependency to the `OpenMMTopologyParser` for which `openmm` library needs to be installed. But if it isn't installed, users should get an `ImporError` with the appropriate Error message. We'd like to have a unit test to test this behavior.

## Describe the solution you'd like ##
Reformat the openmm par

[2022-04-14 17:18] Davichet-e commented on #3467
Shouldn't this issue be closed? I think it was fixed by this commit: https://github.com/MDAnalysis/mdanalysis/commit/51661637ee1444a15eec331e8777cbc60c9c9836^^

[2022-04-14 17:25] Davichet-e commented on #3449
Hey! I'm interested in contributing to this issue, I would have one question, when talking about: "we should relax the requirement for an id, type, x, y, z format and make it somewhat more flexible." You mean deleting totally/some fields of these lines?: https://github.com/MDAnalysis/mdanalysis/blob/02a644392eb4a8cc3e1da83df9ba5b8bd97d449f/package/MDAnalysis/topology/LAMMPSParser.py#L249 https://g

[2022-04-14 17:28] orbeckst commented on #3467
It was actually fixed in PR #3621 as a side-effect — we should have added it to CHANGELOG, I suppose.

[2022-04-14 17:28] #3467 closed, assigned to nobody

[2022-04-14 17:29] orbeckst commented on #3467
I am going to raise a separate issue for the benchmarks.

[2022-04-14 17:32] orbeckst opened #3638 "replace atoms.coordinates() with atoms.positions in benchmarks"
## Expected behavior ##

Benchmarks run with latest release.

## Actual behavior ##

Some benchmarks use outdated and removed `AtomGroup.coordinates()` instead of `AtomGroup.positions`.

## Code to reproduce the behavior ##

Output from `git grep 'coordinates()` for the benchmarks:
[code]
(Follow-up from #3467 )

## Current version of MDAnalysis ##

- Which version are you using? (run `python -c "

[2022-04-14 17:35] orbeckst commented on #3638
See https://github.com/MDAnalysis/benchmarks for the benchmark repo with the [README](https://github.com/MDAnalysis/mdanalysis/blob/develop/benchmarks/README.rst) giving an introduction on how to run [ASV](https://asv.readthedocs.io/en/stable/index.html) locally.

The [benchmarks wiki](https://github.com/MDAnalysis/mdanalysis/wiki) also has some notes.

[2022-04-14 17:41] 1krishnasharma commented on #3463
Hi, this is my first time with open source, I want to do Type hinting in this project. An example of my work is below.
Example:-
python code for addition function ->

def add_numbers(num1, num2):
    return num1 + num2
print(add_numbers(3, 5)) # 8

->type hinted code >

def add_number( int : num1 , int : num2) -> int :
        return num1+num2;
print(add_numbers(3, 5)) # 8

Please tell me how can

[2022-04-14 17:54] orbeckst commented on #3463
@1krishnasharma for questions about projects and Outreachy/GSOC please ask on the developer mailing list. Examples of how you would apply type hinting to MDAnalysis would go in your proposal/application.

[2022-04-14 18:27] aliehlen commented on #3449
Hi! I am an MDAnalysis user and have just started using lammps. I would absolutely use this functionality, especially if it were general (for example, I have been needing to hack around to read forces using MDAnalysis). I don't think I could contribute to changing the parser, but let me know if I can help out in any other way (providing example dump files with different properties, testing things

[2022-04-14 19:04] orbeckst commented on #3449
@aliehlen any kind of help is appreciated. If you are a user of LAMMPS then please say how MDAnalysis could work better for you. Issues should focus on one specific thing. You can open new issues or starting a discussion on the developer mailing list. Examples of input files (maybe a snippet in a comment for discussion) and links to format specifications that you know to be relevant are useful. Fo

[2022-04-14 22:21] hmacdope commented on #3449
It means being able to parse data under more columns than "Id type ..." and also have them possibly out of order. 😀

[2022-04-15 14:57] olivia632 commented on #3603
there are 3 test cases failing in the original code can you clarify on that

[2022-04-15 14:58] olivia632 commented on #3603
==================================== short test summary info ====================================
FAILED analysis/test_lineardensity.py::test_invalid_grouping - TypeError: 'method' object is n...
FAILED analysis/test_lineardensity.py::test_lineardensity[residues-expected_masses1-expected_charges1-expected_xpos1-expected_xchar1]
FAILED analysis/test_lineardensity.py::test_lineardensity[segments-exp

[2022-04-16 07:15] IAlibay commented on #3623
If anything this is a userguide issue so I'm migrating this to that repository.

[2022-04-16 08:00] olivia632 commented on #2764
is this issue still open to work on

[2022-04-16 08:30] manishsaini6421 commented on #3205
@richardjgowers i am working on it.

[2022-04-16 15:10] PicoCentauri commented on #3313
This looks good for the beginning. Can you create a PR and I can give some detailed comments.

[2022-04-16 16:25] HenokB commented on #3534
Hi, @IAlibay could you explain to me about this issue?

[2022-04-16 17:38] richardjgowers commented on #3534
Hi Henok, theres a deprecation warning from the gsd library which has been
tracked down to a certain line. It’s likely we have to change how we’re
using the gsd library to avoid a future problem. To fix this issue,
investigate how/if the gsd library has changed and modify our code
accordingly.

On Sat, Apr 16, 2022 at 17:25, Henok Biadglign Ademtew <
***@***.***> wrote:

[2022-04-16 18:01] IAlibay commented on #3614
This seems fine for now so I'm going to close. My 2 cents is I'm reluctant to move all of CI to one provider in case we face another Travis situation, but it's something that we should bring up for wider discussion.

[2022-04-16 18:01] #3614 closed, assigned to nobody

[2022-04-16 19:45] aditi2906 opened #3645 "Running spell-check over the documentation"
Fixing the spelling error of the documentation of MDAnalysis by running a spelling check over the files.

[2022-04-16 22:25] aditi2906 commented on #3365
Hello @lilyminium,
I was going through the code of align.py, and it reflects the expected calculation to be 28.20178579474479 instead of 16.282308620224068. However, it has not been released yet on the official documentation. It is still 16.282308620224068 in the 2.0.0 beta version.

[2022-04-16 23:19] amirhs1 commented on #3449
Hey! I wanna work on this issue, but I got confused, so I decided to ask a few questions before moving forward:

- The [DATAParser](https://github.com/MDAnalysis/mdanalysis/blob/b43f0bbc0b463e3a1659ef71817bb2ca042f0367/package/MDAnalysis/topology/LAMMPSParser.py#L170) class is limit in reading different styles **Atoms** section; it only read **full** and **atomic** styles. My idea is to modify thi

[2022-04-17 04:43] hmacdope commented on #3449
@amirhs1 for the DataParser,  you can provide the `atom_style` keyword to match the variety of columns and the LAMMPs output style you chose.

The aim of this issue is to do something similar for the DumpParser. Have a read of the source code in https://github.com/MDAnalysis/mdanalysis/blob/develop/package/MDAnalysis/topology/LAMMPSParser.py which already has a lot of the functionality you will ne

[2022-04-17 11:45] amirhs1 commented on #3449
I created a branch called "issue3449-LammpsDumpParser" from "develop" branch.

[2022-04-18 01:49] thinkbeyondit83 opened #3648 "ImportError: attempted relative import with no known parent package"
I am working on my linux machine and getting the error: ImportError: attempted relative import with no known parent package. The files are unable to run.
I had normally installed MDAnalysis in my local. Then why is it not in the environment varaible.And if it has to be in the environemnt variable exactly which folder path should I pick?

- Which version are you using? (run `python -c "import MDAna

[2022-04-18 04:26] orbeckst commented on #3648
Given that you can get the version, it seems that you correctly installed MDAnalysis.

Please provide more detail of what you're trying to do:
- show the code that you are trying to run
- show the full error output
- how did you install MDAnalysis
- in which directory are you (`pwd` output)

Please note that it really helps us when you fill in the issue reports according to the template that you s

[2022-04-18 07:45] hmacdope commented on #3449
It will be on your own fork of MDAnalysis. :)

On Sun, 17 Apr 2022 at 9:45 pm, amirhsi ***@***.***> wrote:

--
Hugo MacDermott-Opeskin
Post Doctoral Fellow, RSC ANU

[2022-04-18 08:36] thinkbeyondit83 commented on #3648
Code trying to run: python mdanalysis/package/MDAnalysis/core/universe.py
error output: Traceback (most recent call last):
  File "/home/morty/mdanalysis/package/MDAnalysis/core/universe.py", line 75, in <module>
    from .. import _TOPOLOGY_ATTRS, _PARSERS
ImportError: attempted relative import with no known parent package

- MDanalysis installed following steps in [https://userguide.mdanalysis.o

[2022-04-18 08:42] lilyminium commented on #3648
@thinkbeyondit83 the files in the MDAnalysis repository are not scripts and not really written to be run from the command line as you are doing. Could I ask what you are trying to do? Normally users are expected to import from MDAnalysis and write their own scripts.

[2022-04-18 08:45] thinkbeyondit83 commented on #3648
In case I want to annotate the codebase and find the result to certain functions I will have to seprately import the library in ipython or jupyter and run to find the result?

[2022-04-18 08:49] lilyminium commented on #3648
Yes, that would be the best way to execute a function. I'm not sure what you mean by annotating the code-base; for that I assume you would need a code editor of some kind.

[2022-04-18 08:52] thinkbeyondit83 commented on #3648
Yes I am using one. Thankyou for the clarification. I am closing the issue since my doubt has been answered

[2022-04-18 08:52] #3648 closed, assigned to nobody

[2022-04-18 13:18] aditi2906 commented on #1295
@orbeckst @kain88-de I am willing to initiate work on this issue. I wanted to know if we can configure the prospector tool under this issue since we can get to manipulate the strictness?

[2022-04-18 13:23] #3645 closed, assigned to nobody

[2022-04-18 17:58] Seanny123 opened #3649 "Replace custom lib.util.which with shutil.which"
Given the newest version of MDAnalysis support Python 3.6+, is it reasonable to replace `lib.util.which` with [`shutil.which`](https://docs.python.org/3/library/shutil.html)? They seems to have identical intended uses and functionality. Using the standard library instead of custom code reduces the maintenance burden.

If this is a reasonable/desired change, I'll make a PR performing the replacemen

[2022-04-18 18:01] IAlibay commented on #3649
Less code is always the best option in my opinion. If they work equally under the OS conditions they are expected to work then I support such a change.

[2022-04-18 18:34] fortune-max commented on #3449
Hello @hmacdope, I'm Fortune from the Outreachy program and am interested in contributing to this project. I think I understand the issue but I have just one question about the intended `atom_style` attribute for the `LammpsDumpParser` class.

According to the [LAMMPS docs](https://docs.lammps.org/dump.html) for the dump command, these are the possible attributes for `atom_style`
[code]
Should all

[2022-04-18 22:06] orbeckst commented on #2764
I don't see an open PR referencing this issue so please feel free to open a PR. Make sure that you fill in the PR comment template properly and reference *this* issue.

[2022-04-18 22:38] orbeckst commented on #1295
What is the "prospector tool"? Can you elaborate? Explain what you want to do, include links as relevant.

[2022-04-19 08:17] #3310 closed

[2022-04-19 08:17] #3600 closed, assigned to nobody

[2022-04-20 12:20] #3501 closed, assigned to nobody

[2022-04-20 13:31] #3313 closed

[2022-04-20 14:11] PicoCentauri opened #3651 "Deprecate `verbose` option in initialization of `AnalysisBase`"
## Is your feature request related to a problem? ##

The verbose option for Analysis classes appears in the `init` function and as well in the  `run` method. The first one seems to be not necessary for instance creation.

## Describe the solution you'd like ##

Deprecate and remove `verbose` from the init method. I already have a suggestion in PR #3644

## Describe alternatives you've considered #

[2022-04-21 08:17] richardjgowers commented on #3651
Makes more sense to remove from `run()` rather than `__init__` imo

[2022-04-21 08:20] IAlibay commented on #3651
I disagree, verbosity is a direct attribute of run imho, plus sometimes I'll dry run with verbosity and re-run without.

[2022-04-21 09:01] PicoCentauri commented on #3651
I think there is a deeper question:  We should decide what our idea behind the class methods are: Especially  `__init__` and `_prepare`.

Currently, we do 'things' in `__init__` and inside `_prepare` which makes the purpose of the `_prepare` method a bit unclear. A new developer of an analysis class could ask: Why should I use the `_prepare` method if I can do everything inside `init`?

In my view

[2022-04-21 09:49] richardjgowers commented on #3651
Yeah the lines between prepare and init are very blurred. I think one
differentiator could be parallelism, which iirc does a prepare on each
worker which then gets merged, whereas the structures from init are created
once.

On Thu, Apr 21, 2022 at 10:01, Philip Loche ***@***.***>
wrote:

[2022-04-21 09:58] PicoCentauri commented on #3651
Ahh parallelism.. I didn't thought about that. So `__init__` should consist of main/global checks & initializations whereas `prepare` should only consists of temporal attributes and checks for each worker? This idea is not documented and parallelism is as well not part of the main library, right?

[2022-04-21 10:05] IAlibay commented on #3651
To be honest we need to rethink how we do verbosity completely with parallelism, iirc tqdm as used currently behaves badly. (there was an issue about this somewhere)

[2022-04-21 10:06] richardjgowers commented on #3651
Yeah it’s not actually well defined admittedly, this is my memory of how
pmda works. I think one of the main goals of the structure of AnalysisBase
is to make the parallelism easy one day.

On Thu, Apr 21, 2022 at 10:58, Philip Loche ***@***.***>
wrote:

[2022-04-21 12:02] PicoCentauri commented on #3603
@olivia632 did you figures out what is going wrong (Pull the to latest version from github etc?). The tests seem to work for the CI...

[2022-04-22 14:27] fortune-max commented on #2764
Hello @orbeckst. I'm Fortune from the Outreachy program. I just opened a pull request for this issue.

[2022-04-22 22:10] orbeckst opened #3654 "add simple atomic distance analysis to analysis.distances"
## Is your feature request related to a problem? ##

We have many analysis tools for complicated problems, all using the consistent AnalysisBase approach. However, there's no functionality for fairly trivial but nevertheless commonly used analysis tasks, namely **calculate the distance (under PBC) between two atom groups, atom by atom**.

## Describe the solution you'd like ##

Namely, for AtomGro

[2022-04-22 22:28] IAlibay commented on #3654
So distance_array but over all frames?

Honestly I'm not really sure it's worth the extra maintenance burden :/

[2022-04-22 22:30] orbeckst commented on #3654
No, not distance_array but calc_bonds.

See [gmx distance](https://manual.gromacs.org/documentation/current/onlinehelp/gmx-distance.html) ...

[2022-04-22 22:37] orbeckst commented on #3654
Could be [calc_bonds()](https://docs.mdanalysis.org/stable/documentation_pages/lib/distances.html#MDAnalysis.lib.distances.calc_bonds) to return distances or the new `minimize_vectors(g1.positions - g2.positions)` to get back vectors, if one wanted to replicate `gmx distance` functionality.

Btw, `minimize_vectors()` https://github.com/MDAnalysis/mdanalysis/blob/3a03af01886977aa53d2a43086cae86c450

[2022-04-22 22:42] orbeckst opened #3655 "lib.distances.minimize_vectors is not documented"
## Expected behavior ##

Any public functions appear in the docs. In particular https://github.com/MDAnalysis/mdanalysis/blob/3a03af01886977aa53d2a43086cae86c45038738/package/MDAnalysis/lib/distances.py#L1565 should.

## Actual behavior ##

https://docs.mdanalysis.org/2.2.0-dev0/documentation_pages/lib/distances.html#module-MDAnalysis.lib.distances does not contain `minimize_vectors`

## Current v

[2022-04-22 22:58] IAlibay commented on #3654
I see what you mean now. Might just be me but the gmx tool version naming here seems far too ambiguous. My 2 cents, if it were to exist within core we need to be really careful what we name it.

That being said as above, it's not clear to me that this really should be a core thing or if it should live somewhere else downstream.

[2022-04-22 23:42] orbeckst commented on #3649
I think we would then
- replace the `lib.util.which` function with `shutil.which` and add a deprecation note (to be removed in 3.0)
- replace all use of `lib.util.which` with `shutil.which` across the library (so that we don't trigger our own deprecation warning)

[2022-04-22 23:51] orbeckst commented on #3651
I generally agree with https://github.com/MDAnalysis/mdanalysis/issues/3651#issuecomment-1104912015 : For normal use cases, you should not have to write a lot of `__init__`; for some reason we structured AnalysisBase so that you have to almost always do argument wrangling to pass the trajectory to `super().__init__` but everything else should be `_prepare()`. (EDIT: It would have been nice if crea

[2022-04-22 23:59] orbeckst commented on #3651
And to be explicit: I am also in favor of deprecating `verbose` in `AnalysisBase.__init__`.

[2022-04-23 00:30] orbeckst commented on #3605
closed in #3635

[2022-04-23 00:30] #3605 closed, assigned to nobody

[2022-04-23 00:35] orbeckst commented on #3542
@IAlibay should we move this to 2.2.x or can we close?

[2022-04-23 06:42] jbarnoud commented on #3654
Looks simple enough to me that the maintenance burden should be minimal. On the contrary to other analyses, we all have a good understanding of what is happening and there is no question about the correctness of the science.

[2022-04-23 07:31] IAlibay commented on #3542
Just keeping this open for now, got a few documentation things to update still.

[2022-04-23 08:10] lilyminium commented on #3654
Anyone looking to do this could take inspiration from `dist`: https://docs.mdanalysis.org/1.1.0/documentation_pages/analysis/distances.html#MDAnalysis.analysis.distances.dist

[2022-04-23 08:19] lilyminium commented on #2764
@richardjgowers I'm not sure you can blindly enforce dtypes without also giving a preferred actual type; the dtype of string arrays is set to `object`, which an integer also is. Other people have also wanted to set TopologyAttrs of arbitrary type as well, so we can't assume every object is a string. The fix for strings might need to edit `_StringInternerMixin._set_X`  to just warn or error if a no

[2022-04-23 09:31] richardjgowers commented on #2764
Ok I see, its possible there are object topologyattrs that aren’t string,
so hacking the internet mixin seems good yeah.

On Sat, Apr 23, 2022 at 09:19, Lily Wang ***@***.***> wrote:

[2022-04-23 12:36] fortune-max commented on #2764
Okay, nice. A warning would definitely be better. What about the issue of assigning floats to ids as stated above, should that also throw a warning? @richardjgowers

[2022-04-26 14:11] PicoCentauri opened #3656 "Long-term solution for import sorting"
## Is your feature request related to a problem? ##

As [discussed](https://github.com/MDAnalysis/mdanalysis/pull/3644#issuecomment-1100836585) in #3644 I am always frustrated when I see unsorted imports 🙃. Especially, for a new import, it is not clear where to put it.

## Describe the solution you'd like ##

Run `isort` with options (to be discussed) for the complete repo

[code]

and add a comma

[2022-04-26 14:31] IAlibay commented on #3656
My 2 cents is that I really don't like things that automatically reformat code we write. This is purely a case of "I know better than the machine", is there a bot that can tell us off instead of making this a pre-commit hook?

[2022-04-26 14:48] PicoCentauri commented on #3656
If it is in the CI it is not automatically sorted. We just get informed what and how to resort.

[2022-04-26 14:49] IAlibay commented on #3656
yeah I can live with it being just a CI warning. Will it apply purely on the diff?

[2022-04-26 14:54] PicoCentauri commented on #3656
I don’t know if you can do this. The pure diff is most likely not possible maybe
the touched files...

[2022-04-26 14:56] IAlibay commented on #3656
touched files would be fine, essentially if we can avoid it screaming at us every time about known cases where we've agreed we don't want to deal with it (assuming those happen, I'm thinking converters might be such a case), that'd be great.

[2022-04-26 15:05] PicoCentauri commented on #3656
Probably something like

[code]

will do the job...

[2022-04-26 15:08] RMeli commented on #3656
You could flag such cases with [action comments](https://pycqa.github.io/isort/docs/configuration/action_comments.html).

---

Related to #2450

[2022-04-26 20:36] #3317 closed

[2022-04-28 10:54] ayylemao commented on #2363
It seems that this feature is still not in the package and I still think it would be a good addition to the MDAnalysis package. Are there plans to get this into a future release?

[2022-04-28 15:41] orbeckst commented on #2363
There are currently no plans that I’m aware of but MDAnalysis is open source so contributions are welcome.

1. How would you expect MDAnalysis to behave if a VDCD reader existed? Can you write the code that you would like to use, ie, how would you want to load your Universe?
2. Can you provide a link to the format description? Which program produces those files?

MDAnalysis aims to implement stand

[2022-04-28 15:49] jaclark5 opened #3657 "Applying Transformation to Chain of Traj doesn't Apply to First Frame of 2nd, 3rd... trajectories"
## Expected behavior ##

After creating a universe with multiple trajectory files, and a series of transformations are applied following the protein example. Those transformations are expected to be applied to all frames.

## Actual behavior ##

The first frame of the 2nd, 3rd, etc. trajectories are unwrapped. This is evidenced by writing out the coordinates to the screen, or writing to a pdb file

[2022-04-29 06:40] aditi2906 commented on #3638
@orbeckst I want to work on this issue.. However, the readme of [benchmarks repo](https://github.com/MDAnalysis/benchmarks)
does not give a good headstart on how to run asv locally. Can you help me with it.
Thankyou

[2022-04-29 12:02] #3568 closed, assigned to nobody

[2022-04-29 14:53] jaclark5 commented on #3657
It seems that when chain.py uses activate_reader.ts, it is using a separate Timestep (different id() ) with the Timestep instance of the universe. Thus, when wrap.wrap() called the AtomGroup.wrap function, the latter is still on the last frame of the previous trajectory file, and does not wrap the appropriate frame.

[2022-04-29 16:05] orbeckst commented on #3638
Please see https://github.com/MDAnalysis/mdanalysis/blob/develop/benchmarks/README.rst

[2022-05-01 05:25] orbeckst commented on #3423
Note that PR #3642 fixes the undefined behavior to rewind **before** iteration.

[2022-05-01 09:26] richardjgowers commented on #3657
Hi @jaclark5 thanks for the detailed error report!  I'm having a little trouble reproducing the problem, I did the code snippet below to try and reproduce and it seems to work fine (writes out a file where atoms either have positions of 0 or 1 for all frames).  I'm not sure it will be possible for `atoms.positions` and `ts._pos` to become unsynched, but the different `id()`s for Timestep might be

[2022-05-02 12:21] jaclark5 commented on #3657
Hi @richardjgowers, the issue seems to specifically be with the `wrap` transformation. The chain reader will (1) activate the new `ts`, (2) transform the `ts` trajectory, and then (3) associate that `ts` with the universe. Unlike other transformations the `wrap` transformation uses the `AtomGroup` and thus the universe, however the `ts` hasn't transitioned to the new trajectory yet. Although I lai

[2022-05-03 15:46] jaclark5 commented on #3657
This issue can be resolved with the following two lines of code:

`MDAnalysis.transformations.wrap()`
[code]

[2022-05-03 17:19] aliehlen commented on #3449
Sorry for the delay (I was away). I would open an issue about this but it seems that there are a few open already (this one, issue #3504 ) and a few PRs to deal with them (PR  #3448 , #3608 , #3647 ). So I'd just like to voice support for this one and #3504 :).

As is discussed here, lammps dump files are very flexible and customizable and it would be great to be able to read in other properties.

[2022-05-04 07:30] PicoCentauri commented on #2508
I reopen since we still have to discuss point 4. My feeling is that we decided to keep everything in MDAnalysis' standard units and do no conversion at all. Are there other opinions?

[2022-05-04 07:33] IAlibay commented on #2508
I'm definitely for having everything in MDA units, however it should be documented in the docstring if it's not already.

[2022-05-04 09:59] BFedder commented on #2508
I'll sum up what has been discussed so far here to facilitate the discussion.

Current behaviour as of 2.2.0 is that mass densities are returned in units of g/cm^3, charge densities as (e * mol) / cm^3. This is documented in the docstring. These units are obtained by taking the raw masses in amu and charges in e, dividing by the slice volume in A^3 for initial densities, and applying a factor of A

[2022-05-04 10:01] PicoCentauri commented on #2508
+1 for offering a conversion method. This could also live in units.py to be applicable in general.

I like to push this also from a downstream perspective. At MAICoS we are in the [process of converting all units to MDA's standards](https://gitlab.com/maicos-devel/maicos/-/merge_requests/113). A general conversion method would be really nice since we are used to units like kg/m^3...

[2022-05-05 16:58] Michael-C-Strobel opened #3658 "Getting fragments from an atom selection includes atoms outside of selection"
## Expected behavior ##
When accessing the fragments on an AtomGroup generated from a selection, the fragments should not include atoms outside of the AtomGroup.

## Actual behavior ##
The fragments will include atoms outside of the AtomGroup.

## Code to reproduce the behavior ##

[code]

## Current version of MDAnalysis ##
- MDA version 2.1.0
- Python 3.7.11
- CentOS 7

[2022-05-05 17:34] richardjgowers commented on #3658
Hi @Michael-C-Strobel thanks for raising this.  This is actually the desired behaviour, something like "get fragments to which these atoms belong".  I can see that you're actually trying to do something like "split this atomgroup into fragments", so this might work:

[code]

[2022-05-05 17:47] Michael-C-Strobel commented on #3658
Thank you! I wasn't sure whether this was the intended behavior. The code you posted should do what I was hoping for.

Out of curiosity, is there any way to perform an atom selection on AtomGroups or Universes so that they no longer reference the original?

[2022-05-05 17:47] #3658 closed, assigned to nobody

[2022-05-05 19:24] richardjgowers commented on #3658
Not sure I follow what you mean with referencing the original.  If you're talking about creating an independent copy, this isn't really possible as all data lives inside the Universe, and AtomGroups are just views onto this master data.

[2022-05-05 20:46] zwsmith200 opened #3659 "Inconsistent resnames when loading pdb and mol2 with repeat resnums"
## Expected behavior ##

I am using a PDB file that appears to be prepared incorrectly and includes residue number 200 for both the ligand and a protein residue. When loading the PDB, it appears as if MDA retains the original ligand resname (CNA). I need the fragment functionality so i have prepared a MOL2 file for this system which has the same numbering error. I expect loading this MOL2 file wou

[2022-05-05 21:10] lilyminium commented on #3658
If you're ok with the cost of creating a new universe, you could do:

[code]

and that will only contain fragments belonging to the `u_no_h` group.

[2022-05-06 17:16] Michael-C-Strobel commented on #3658
Yes, that's exactly what I was looking for. Thank you both very much!

[2022-05-06 22:48] zwsmith200 commented on #3659
This appears to be a difference caused by using change_squash for PDB and squash_by for MOL2. Since the ligand is at the end it is accompanied by a resid change from 351 to 200 which prompts it to be squashed to a different residue as opposed to looking at the non-unique resid.

It would be good to have a warning in squash_by for non-sequential resids to avoid someone getting burned by this when u

[2022-05-07 11:26] RMeli commented on #2450
Thanks to @mikemhenry, I realised that it is possible to [ignore specific commits](https://black.readthedocs.io/en/stable/guides/introducing_black_to_your_project.html) when using `git blame` and it seems that this is now [supported by GitHub](https://docs.github.com/en/repositories/working-with-files/using-files/viewing-a-file#ignore-commits-in-the-blame-view) as well.

For this situation, it is

[2022-05-10 21:00] tommy-waltmann opened #3660 "Importing the package causes error"
## Expected behavior ##

I should be able to import MDAnalysis without errors.

## Actual behavior ##

Installing MDAnalysis from conda-forge and then importing gives the following output:

[code]

## Code to reproduce the behavior ##

Create new conda environment
[code]

Now try to import in a python script
[code]

## Current version of MDAnalysis ##

- Which version are you using? (run `python -

[2022-05-10 21:45] IAlibay commented on #3660
So I can reproduce this on my *nix machine.

It's a bit late so I'm probably forgetting something important / obvious, but the fact that works fine on numpy 1.22.x releases is rather odd, especially since I'm pretty sure I built the C/C++ files using 1.21.5 for 2.1.0.

@tylerjereddy would you happen to have any thoughts here?

[2022-05-10 23:41] joaander commented on #3660
I don't see anything obviously wrong in your conda-forge recipe, but the build definitely pulled in numpy 1.22 and built against that ABI: https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=502680&view=logs&j=517fe804-fa30-5dc2-1413-330699242c05&t=c10fa5f2-fdf6-5338-3bdb-c4bea7c23412&l=2242

You do have `numpy >1.18.0` - maybe that somehow causes the issue? As far as I know

[2022-05-11 02:16] tylerjereddy commented on #3660
A decreased structure size almost certainly means that MDAnalysis was built with a too-new version of NumPy and then an attempt was made to use an older version of NumPy at runtime. On the PyPI side, this is exactly why we have the NumPy versions carefully pinned for building in `pyproject.toml`.

On the `conda-forge` side, I'm a bit less familiar, but when I look at: https://github.com/conda-forg

[2022-05-11 09:51] joaander commented on #3660
Yes, this is bad. I checked my suspicion this morning. The `numpy >1.18.0` specification in `meta.yaml` causes `conda-smithy` to remove the pinning that fixes the numpy ABI across all of conda-forge. I opened https://github.com/conda-forge/mdanalysis-feedstock/pull/40 to fix this.

[2022-05-11 17:02] mikemhenry commented on #3660
numpy and conda-forge both make the same suggestion re: how to to pin numpy as a dependency

[code]

https://numpy.org/devdocs/user/depending_on_numpy.html#build-time-dependency
https://conda-forge.org/docs/maintainer/knowledge_base.html#building-against-numpy

[2022-05-12 10:33] orbeckst commented on #3657
@jaclark5 if you've already identified a fix, can I encourage you to create a PR?

We have some documention in the [User Guide on Contributing to the Main Code Base](https://userguide.mdanalysis.org/stable/contributing_code.html).

[2022-05-12 14:38] IAlibay commented on #3660
re-opening, something broke on merge of the new feedstock -- investigating

[2022-05-13 02:36] bdice commented on #3660
Just to mention this in case it helps simplify the MDAnalysis configuration -- it seems that many of the pinnings in pyproject.toml are similar to the [oldest-supported-numpy](https://github.com/scipy/oldest-supported-numpy) package. That can be an easier way to guarantee broad support while still building against the oldest supported version for forward compatibility.

Comparison:
- https://githu

[2022-05-13 11:51] IAlibay commented on #3660
I believe there was a specific reason why @tylerjereddy decided to avoid oldest-supported-numpy, I can't remember specifically, it might be that we run slightly behind NEP29.

For this specific issue, pyproject.toml is (or at least should be) ignored by conda-forge, which is the cause of some of our latest issues 😓 (pip 22.1 decided that they'd add in validation by default). I've fixed this tempor

[2022-05-13 12:29] tylerjereddy commented on #3660
Yeah, we need a slightly newer version of NumPy for one Python version vs. `oldest-supported-numpy`. Most packages don't, but MDAnalysis and SciPy can't use it directly at the moment.

I suspect this will change in the future as we drop Python versions.

[2022-05-13 12:32] tylerjereddy commented on #3660
@IAlibay is probably referring to this bug: https://github.com/pypa/pip/issues/11116

Sounds like they will fix that upstream soon

[2022-05-13 14:15] IAlibay opened #3664 "`ProtoReader` based classes don't use `kwargs` on `copy`"
Follow-up from #3642

The `copy` method of `ProtoReader` derived classes doesn't account for kwargs which were passed on class construction. The use of `convert_units` was fixed in #3642 but we should do it for kwargs too.

[2022-05-13 14:20] IAlibay commented on #3664
I'm going to put this on the 2.2.0 milestone with the idea that this _shouldn't_ be too much work hopefully (although the fix I have in mind is rather ugly)

[2022-05-13 14:21] #3423 closed, assigned to nobody

[2022-05-14 15:46] IAlibay commented on #3535
self assigning this as I'd like to get it done ASAP for 2.2.0

[2022-05-14 18:44] aditi2906 commented on #3649
Since no PR has been opened for this, I would like to work on this issue. @orbeckst please let me know how and where should the note be added once we replace the usage of lib.util.which with shutil.which.

[2022-05-15 05:38] orbeckst commented on #3649
You need to keep lib.util.which() but decorate it with our `deprecated` decorator (see other examples in the code). You’d replace the body of the lib.util.which() function with a call to shutil.which().

The idea is that existing code that uses lib.util.which() will not break but raise a deprecation warning so that people have time to change their code to use shutil.which().

[2022-05-16 09:37] PicoCentauri commented on #3569
@MDAnalysis/coredevs are there any opinions or ideas? I will work on this if we want to have this and decide on a strategy.

[2022-05-16 09:43] IAlibay commented on #3569
I was going to open that PR but I'm swamped with 2.2.0 edit: so I guess at this point I'm going to have to give up on it..

I'd appreciate it if we did that (releasing 2.2.0 and all the associated work around it) as a priority.

[2022-05-16 09:56] richardjgowers commented on #3569
@PicoCentauri Sorry I missed this the first time round.  This is a great idea, and I am anticipating that this pattern of only looping through the trajectory once will be much faster than two loops.  Problems I can foresee:
- this assumes that each Analysis class has the "base" run method (can check this through inspection)
- this assumes that an analysis method doesn't alter the Timestep (or Univ

[2022-05-16 10:20] PicoCentauri commented on #3569
No problem! Your second point is indeed something I haven't thought about. However, altering the timestep could be something one wants to do. E.g. if AnalysisClass 1 unwraps the systems, which could be a costly operation, AnalysisClass 2 does not have to do it again.

I am in favor of not having an `__add__` method. The `AnalysisBase` is clean and looks more or less structured right now.

[2022-05-16 12:09] #3655 closed, assigned to nobody

[2022-05-16 13:20] #3230 closed

[2022-05-16 14:42] #3638 closed, assigned to nobody

[2022-05-16 14:42] #3535 closed, assigned to IAlibay

[2022-05-16 14:43] #3534 closed, assigned to IAlibay

[2022-05-17 07:23] orbeckst commented on #3377
Note that ChimeraX has an [alphafold command](https://www.cgl.ucsf.edu/chimerax/docs/user/commands/alphafold.html) that retrieves by uniprot ID or matches by sequence or structure.

[2022-05-17 07:25] orbeckst commented on #2367
The mmCIF/PDBx format would also be needed for alphafold #3377 .

[2022-05-17 16:02] PicoCentauri commented on #3569
@IAlibay if you still have your code it would be nice starting point.

[2022-05-20 15:23] ksy141 opened #3672 "cmaps are not correctly merged with Merge()"
## Is your feature request related to a problem? ##
I don't think cmaps is properly considered as TopologyObjects.

[code]
run into the error:
TypeError: Encountered unexpected topology attribute of type <class 'MDAnalysis.core.topologyobjects.TopologyGroup'> (no numpy)

## Describe the solution you'd like ##
Simply adding 'cmaps' in the line 1522 of MDAnalysis/core/universe.py will fix this.
befo

[2022-05-21 03:59] yang-guoli opened #3673 "hole run CG pdb file error"
## Expected behavior ##

![image](https://user-images.githubusercontent.com/73353085/169634426-feeba1e6-67ec-4c1a-a0d1-32098e98a4e4.png)

## Actual behavior ##

![image](https://user-images.githubusercontent.com/73353085/169634437-4d5736a2-5d47-4fd0-b80a-fc33f48ee403.png)

## Code to reproduce the behavior ##

[code]

## Current version of MDAnalysis ##

- Which version are you using? (run `python

[2022-05-21 08:12] orbeckst commented on #3673
From your issue report it is not clear to me what you're running HOLE on. It would help if you wrote the "expected" in words.

If you're using a MARTINI (or other CG) system then it's likely not working because HOLE does not know how to deal with the CG particles. You'd need to provide a custom HOLE radii file for the kwag `vdwradii_file` with [HoleAnalysis](https://docs.mdanalysis.org/stable/docu

[2022-05-21 08:27] orbeckst commented on #3672
Apparently, `cmaps` already exists as a [format specific attribute](https://userguide.mdanalysis.org/stable/topology_system.html#format-specific-attributes). It should be possible [to add it as a topology attribute](https://userguide.mdanalysis.org/stable/topology_system.html#add-topologyattrs).

(Given that we have it, then other parsers should read it (namely PSF and TPR, maybe PARMTOP, too).)

[2022-05-21 10:47] orbeckst opened #3674 "doc build test fails due incorrect code-block syntax throughout the docs"
## Expected behavior ##

Documentation build test passes when docs are not changed.

## Actual behavior ##

Doc build failed for PR #3415 , apparently the current sphinx version takes a stricter view on

See https://github.com/MDAnalysis/mdanalysis/runs/6536174554?check_suite_focus=true

specifically
[code]

## Code to reproduce the behavior ##

[code]

this should probably have a newline inserted

[2022-05-21 11:10] IAlibay commented on #3674
Self assigning since we'll need this fixed as a priority for 2.2.0

[2022-05-21 11:11] orbeckst commented on #3674
I am currentlty going through and trying to find everything... don't do anything rash.

[2022-05-21 11:11] orbeckst commented on #3674
sorry, should have assigned to me

[2022-05-21 11:12] orbeckst commented on #3674
Just didn't want to fix it as part of the other PR

[2022-05-21 11:15] IAlibay commented on #3674
Ah great thanks!

[2022-05-21 11:19] orbeckst commented on #3674
I didn't read the error message properly. This is related to the original PR, which modified the base class. It's not a general problem. Closing.

[2022-05-21 11:19] #3674 closed, assigned to orbeckst, IAlibay

[2022-05-21 15:08] ksy141 commented on #3672
Hi Oliver,

Thank you for your email, and thank you for clarifying my question.

First, currently, you cannot Merge two Universes with cmaps (returning error messages). If either has cmaps, a merged universe will have no cmaps. Therefore, adding cmaps in the Merge function will be a simple fix as I proposed in the original message.

Second, I wonder whether cmaps can be considered TopologyObjects

[2022-05-23 01:11] yang-guoli commented on #3673
@orbeckst Thanks i will try

[2022-05-24 06:06] hmacdope opened #3675 "Docs specify incorrect memory order for Timestep"
## Expected behavior ##

The docs specify the memory order of `timestep._pos' correctly to be "C".

## Actual behavior ##
The docs [here](https://docs.mdanalysis.org/stable/documentation_pages/coordinates/base.html?highlight=_pos#MDAnalysis.coordinates.base.Timestep._pos)

specifies
[code]
Where 'FORTRAN' should be replaced by 'C'

[2022-05-24 14:15] dpadula85 opened #3676 "RDF along axis"
## Is your feature request related to a problem? ##
I would like to be able to compute RDFs along a specific axis, which may or may not vary along a trajectory.

## Describe the solution you'd like ##
It'd be cool to have an implementation of InterRDF where an additional parameter (axis) can be passed. I see this as either a 3D vector, an N,3 matrix (N: number of frames), or a callable to compute

[2022-05-24 17:02] orbeckst commented on #3672
I renamed the issue for the specific problem with Merge(). Chances for fixes are better if it's a small, well-characterized problem.

For the wider discussion for how to treat cmaps, it might be useful to start a discussion on the developer mailing list. Essentially you'd want to show developers that there's a general need to reconsider cmaps treatment. You'd want to explain what they are (not eve

[2022-05-24 17:04] orbeckst commented on #3675
Can you add to the issue report what the correct answer is?

[2022-05-24 17:11] orbeckst commented on #3676
We have [MDAnalysis.lib.distances.minimize_vectors()](https://docs.mdanalysis.org/2.2.0-dev0/documentation_pages/lib/distances.html#MDAnalysis.lib.distances.minimize_vectors) that provides distance vectors that could be projected. You could use it as the basis for an `AxialRDF` function.

I would probably start a fresh analysis class instead of building on InterRDF directly, simply because the two

[2022-05-24 22:05] hmacdope commented on #3675
Done, apologies should have left more detail.

[2022-05-25 06:22] BradyAJohnston opened #3677 "Read biological assembly information where available."
## Is your feature request related to a problem? ##
I would like to have access to the different symmetry operations required to build a biological assembly from a file if present. (https://pdb101.rcsb.org/learn/guide-to-understanding-pdb-data/biological-assemblies)

## Describe the solution you'd like ##
A list or similar available which contains the different symmetry operations required to buil

[2022-05-25 07:51] richardjgowers commented on #3677
So currently if you've loaded a PDB file, then any `REMARK` lines are accessible at `Universe.trajectory.remarks`, but they aren't parsed into anything better than the raw lines from the file.  From a quick skim of the PDB spec, it's not clear how universal the symmetry operations are in the given PDB examples compared to PDBx format.

[2022-05-25 07:53] IAlibay commented on #3677
We could parse the BIOMT matrices if present and expose them, that should be easy enough.

[2022-05-25 16:36] rafaelpap opened #3678 "DL_POLY vs DL_POLY Classic"
## Is your feature request related to a problem? ##
The parser for HISTORY and CONFIG files for DL_POLY does not work with files from DL_POLY Classic.
The format is slightly different for the HISTORY file.
1. The second line has 5 values in DL_POLY and 4 values in DL_POLY Classic. The current parser only used the first 3 values.
2.  The lines for each atom have 5 values in DL_POLY and 4 values in

[2022-05-26 18:39] tanoury1 opened #3679 "Using OpenMP parallelization on Windows 10"
Hi,
I am using MDAnalysis on my Windows 10 laptop and was trying to run a clustering method on 4 cores as shown below.  However, it only runs on a single core.  What am I overlooking?

ces1, details1 = encore.ces([u1], select='index 0:55', clustering_method=clustering_method, ncores=4)

Thank you,
Jerry

[2022-05-26 22:39] hmacdope commented on #3678
Hi @rafaelpap, thanks for the bug report!

We would welcome any contribution to fix this issue along with some tests for a DL_POLY classic file.

It seems like you have the start of a fix already. If you would like to contribute this fix to MDAnalysis, check out our [contributor guide](https://userguide.mdanalysis.org/stable/contributing.html). We would welcome your PR!

[2022-05-27 07:58] rafaelpap commented on #3678
Ok, I'll try. It will be my first PR ever.

[2022-05-27 09:22] hmacdope commented on #3678
If you are having any trouble just ping me using '@hmacdope' and I can give you a hand :)

[2022-05-27 14:10] rafaelpap commented on #3678
Thanks I just made the pull request. I hope I have done something decent.

[2022-05-29 13:28] hmacdope commented on #3578
Closed by #3633

[2022-05-29 13:28] #3578 closed, assigned to nobody

[2022-05-29 15:21] IAlibay opened #3682 "Github pages artifacts"
Github pages is leaving behind quite a lot of artifacts (31 since April)

For full list see:

[code]

They have a retention limit of 90 days, but it might make sense to lower that retention limit to a week just to keep the artifact list clean?

@lilyminium is this something that is feasible?

[2022-05-29 15:23] IAlibay commented on #3679
@tanoury1 how was MDAnalysis installed?

You need to use `pip` to use OpenMP: https://userguide.mdanalysis.org/stable/installation.html#installation

[2022-05-29 21:03] IAlibay commented on #3543
Weirdly enough the ARMv8 runner isn't failing anymore (as far as I can tell), but I can still replicate this issue locally. Would be good to know if anyone else gets this on a fresh install.

[2022-05-31 12:56] IAlibay opened #3684 "Cannot pass optional kwargs to MemoryReader via universe.transfer_to_memory"
## Expected behavior ##

Either creating a universe via `in_memory=True` or using :meth:`transfer_to_memory` should allow me to pass optional kwargs through to the `MemoryReader` creation (they aren't super useful, but they exist, so there should be a way to pass those arguments through).

## Actual behavior ##

`kwargs` cannot be provided and therefore are not passed through.

See: https://github

[2022-05-31 15:34] umak1106 opened #3686 "Adding Type Hints for MDAnalysis"
## Is your feature request related to a problem? ##

MDAnalysis library currently lacks type hints which would help in providing better documentation and help catch errors easily .

## Describe the solution you'd like ##

Proving type hints and annotations for all modules of the library .
Usage of mypy for type checking .

[2022-05-31 17:22] IAlibay commented on #3660
Closing this as fixed via the feedstock (at least it no longer fails for me locally). Please do re-open if this is not the case @tommy-waltmann

[2022-05-31 17:22] #3660 closed, assigned to nobody

[2022-05-31 17:25] IAlibay commented on #3629
@BFedder following from today's discussion - this might also be a good place to link to when wanting to discussing things related to your GSoC project

[2022-05-31 21:35] IAlibay opened #3689 "Passing dt explicitly to readers has a different default behaviour"
## Expected behavior ##

For readers which can derive their own `dt` values, passing a value for `dt` to the reader should yield the same behaviour across all readers.

## Actual behavior ##

Most readers default to the `dt` value passed, but the XDR derived readers (XTC, TRR) default to the `dt` value derived from `dt = xdr_frame.time - frame.time` and overwrite the `dt` value passed by in.

[2022-06-01 09:29] #1300 closed

[2022-06-01 09:40] #3678 closed, assigned to rafaelpap

[2022-06-01 12:52] #3664 closed, assigned to nobody

[2022-06-01 14:39] #3469 closed, assigned to nobody

[2022-06-01 14:48] IAlibay commented on #3560
🎉 🎉 🎉

We've reached all our requirements for the 2.2.0 release.

@MDAnalysis/coredevs we are in a complete code freeze except release related things / hotfixes please.

I'll start working through the TODO list this evening.

TODO

- [x] Finalize changelog and update versions to 2.2.0 (merge to develop) #3690
- [x] Create release-2.2.0 tag
- [x] Create package-2.2.0 branch
- [x] Add rebuilt C file

[2022-06-01 17:51] IAlibay opened #3692 "Improve organisation of readers & way in which we store init arguments"
Follow up from #3685 - in order to fix copying of readers we have a rather cumbersome decorator in place. As @lilyminium mentioned it _might_ be possible to get this to work via metaclass magic, which would definitely lower the burden on remembering to add it in on future readers.

Additionally, the way in which we test for copying is via `MDAnalysisTests/coordinates/test_copying`. However new rea

[2022-06-01 18:46] IAlibay opened #3693 "awk call in deploy.yaml does not work on macos-latest"
Not too problematic since it only affects testing, but this line fails on the macos-latest runners:

https://github.com/MDAnalysis/mdanalysis/blob/eab18cb8418ddb1dd72b44f474833de4a2999884/.github/workflows/deploy.yaml#L240

I suspect reverting to `ver=$(grep "__version__ =" package/MDAnalysis/version.py | awk '{print $3}')` will probably fix things.

[2022-06-01 19:26] IAlibay commented on #3592
@mikemhenry tested the 2.2.0 testpypi build and noticed that there were some issues with pip installing scipy. Is this a known issue on M1 @tylerjereddy ?

[2022-06-01 19:52] tylerjereddy commented on #3592
@IAlibay which version of SciPy? do you have a traceback? we should be solid on M1 for SciPy--there are binary wheels available

[2022-06-01 19:54] orbeckst commented on #3693
I think you need to use
[code]
i.e., `exit` instead of `quit`.

I tested on 10.15.7... which is not latest, though.

[2022-06-01 19:55] orbeckst commented on #3693
Or just leave out the `exit` — just adds a few µs.

[2022-06-01 20:04] IAlibay commented on #3592
@tylerjereddy from Mike:

[code]

[2022-06-01 21:27] tylerjereddy commented on #3592
It is using a tarball `Using cached scipy-1.8.1.tar.gz` instead of the binary wheel, you can open an issue on the SciPy issue tracker if you think the problem is real, but I doubt it is a real problem.

Mostly likely you are using an operating system that is too old--see: https://github.com/scipy/scipy/issues/15861#issuecomment-1078868033

The name of the wheel file clearly shows that you need at

[2022-06-02 04:45] umak1106 commented on #3686
#3463
#2450  are the previous issues regarding this .

[2022-06-02 08:50] orbeckst opened #3695 "tests should use results.rmsf to avoid DeprecationWarning"
## Expected behavior ##

Our tests do not use deprecated constructs that will be removed.

## Actual behavior ##

Tests trigger `DeprecationWarning` for uses of using the `rmsf` attribute instead of `results.rmsf`
[code]

## Code to reproduce the behavior ##

Run the tests listed above.

## Current version of MDAnalysis ##

- Which version are you using? (run `python -c "import MDAnalysis as mda;

[2022-06-02 18:09] IAlibay opened #3696 "Duplicate broken entry in the CHANGELOG"
See here:
https://github.com/MDAnalysis/mdanalysis/blob/eab18cb8418ddb1dd72b44f474833de4a2999884/package/CHANGELOG#L65

The correct entry is here:
https://github.com/MDAnalysis/mdanalysis/blob/eab18cb8418ddb1dd72b44f474833de4a2999884/package/CHANGELOG#L73

[2022-06-02 22:05] orbeckst commented on #3678
Thanks for your contribution, @rafaelpap !

[2022-06-02 22:14] IAlibay commented on #3542
@lilyminium does anything need to be done re: useguide?

[2022-06-02 22:17] orbeckst commented on #3673
I don't think we can really do anything about this issue so I am closing it. If there's anything specific that you think MDAnalysis should be doing then please leave a comment and we can re-open. We'd also be keen to hear if you found a working solution that could be added to documentation.

[2022-06-02 22:17] #3673 closed, assigned to nobody

[2022-06-03 07:43] jbarnoud commented on #3686
Thank you @umak1106 for opening this issue.

There are 3 main objectives with the type hinting of the library:
* detect errors in the library code before they are merged;
* detect errors in downstream code;
* help with the documentation

One extra benefit of going through the code to add type hinting is that we may identify inconsistencies in the library.

The first thing to do is to make sure tha

[2022-06-03 07:58] umak1106 commented on #3686
ok mentor .

[2022-06-03 08:01] jbarnoud opened #3698 "run mypy and pyright in CI"
## Is your feature request related to a problem? ##

Type hinting is an addition to modern python that helps detect errors before runtime. Type analysis must be run on the code base separately from when the code is run.

## Describe the solution you'd like ##

Run mypy and pyright as part of CI. Because type hinting of the library is not implemented yet, so the job should only be indicative and no

[2022-06-03 08:11] jbarnoud opened #3699 "make type checking in CI blocking"
This issue depends on #3698 which requests mypy and pyright to be run in CI to check type annotations. This issue suggests making the job non-blocking as type annotation is not yet implemented. Once the annotations are implemented to a point where the checking job passes, it should be made blocking to avoid breaking the existing annotations and to avoid introducing new broken ones.

This is part o

[2022-06-03 08:20] IAlibay commented on #3698
Since you raised the non blocking issue - as far as I'm aware you can't do that properly with GitHub actions (see: https://github.com/actions/runner/issues/2347). It'll need digging into, but my suggestion might be to make it into a separate action so at least we don't get a red badge for multiple months. Right now I can't think of a plan that isn't "we'll ignore the failure", we could make the ac

[2022-06-03 09:09] #3693 closed, assigned to nobody

[2022-06-03 13:03] tylerjereddy commented on #3699
You could also make it blocking from the start with an appropriate `mypy.ini` file that ignores errors in all paths, and then start to peel away those configured ignores for "progressive" enforcement so that you don't lose ground as you go.

For example, in another project I work on there's a problematic path where we don't have hints working yet so we do i.e.,:

[code]

But everything else is enf

[2022-06-03 13:05] tylerjereddy commented on #3698
I'd suggest a slightly different approach described in https://github.com/MDAnalysis/mdanalysis/issues/3699#issuecomment-1145942156

I think it might also be more satisfying/motivating for the student to have their hard work "guarded" by CI in early stages of their effort.

That said, while I know this works perfectly well for `mypy`, I can't comment on `pyright`. Maybe you could start with `mypy`

[2022-06-03 13:06] jbarnoud commented on #3699
In that case, are the error still displayed in the report? If so, it is indeed a better solution.

[2022-06-03 13:12] tylerjereddy commented on #3699
The report is silent/clean when you ignore errors. So, if MDAnalysis had say 15 submodules that were ignored in the config file you wouldn't see any output, but when you are working on adding types to a submodule you could delete the ignore entry in the config file and the errors will show up until you fix them all in that part of the code.

Maybe that isn't exactly what you want, but seems to wor

[2022-06-03 13:13] jbarnoud commented on #3699
It probably is the best solution for CI. @umak1106 will have to run mypy locally anyway and can be more stringent there.

[2022-06-03 13:16] IAlibay commented on #3699
It'll obviously be up to @jbarnoud et al. as reviewers / mentors, but I like @tylerjereddy's suggestion, it would make it a lot easier for those of us not directly involved to keep track of progress.

[2022-06-03 18:21] mikemhenry commented on #3592
Weird, osx must not let you upgrade to 12.0 from the cli:

[code]

[2022-06-03 18:21] mikemhenry commented on #3592
Great I can't even turn on VNC remotely:

[code]

[2022-06-03 19:01] rsexton2 opened #3700 "Wrong versionchanged in AnalysisBase"
https://github.com/MDAnalysis/mdanalysis/blob/77d93660070d846f40a3fcac6ef00d819ae89141/package/MDAnalysis/analysis/base.py#L401

Version information needs to be changed to 2.2.0

[2022-06-03 19:12] #3696 closed, assigned to nobody

[2022-06-03 19:25] IAlibay opened #3701 "Add h5py to `extra_requires` and set minimum version to 3.0.0"
Follows up from discussions here: https://github.com/conda-forge/mdanalysis-feedstock/pull/43

Since h5py can be installed via PyPI we should add it to our setup.py as an extra requirement. Also we should set the minimum version to 3.0 so we can drop the `ValueError` check which had to be included for backwards compatibility here: https://github.com/MDAnalysis/mdanalysis/pull/3025

[2022-06-03 19:32] orbeckst commented on #3701
I don't know how fast h5py is moving. Maybe 2.x is still common? I also don't have a huge problem with leaving the simple 2.x/3.x compatibility in the code for a while, at least until our 3.0.

I'd be careful to apply NEP29 to ~anything~ everything (EDIT... English is hard) in the eco-system. It's fine for numpy, scipy & friends who signed up for it, I don't know for other projects. But maybe that

[2022-06-03 19:32] IAlibay opened #3702 "Add m1 support on the conda-forge feedstock for 2.2.0"
The first build of 2.2.0 will be without m1 support, we will add afterwards.

We have to follow this process as far as I understand: https://conda-forge.org/blog/posts/2020-10-29-macos-arm64/#how-to-add-a-osx-arm64-build-to-a-feedstock

edit updated docs are here: https://conda-forge.org/docs/maintainer/knowledge_base.html#apple-silicon-builds

[2022-06-03 19:35] IAlibay commented on #3701
So there have been 8 minor releases since 2.10.0 (we're currently on 3.7.0). I don't mind offering backwards compatibility if we want, as far as I can tell everything works for now (although we haven't run tests on the minimum versions in a long while).

[2022-06-04 07:16] orbeckst opened #3703 "Nojump transform using the “hybrid unwrap” scheme"
## Is your feature request related to a problem? ##

MDAnalysis does not have a transformation to create “unwrapped” no-jump trajectories where particles are never put back in the primary unit cell. This is a problem for MSD calculations #3179 and analysis/visualization of oligomeric assemblies.

## Describe the solution you'd like ##

The preprint https://arxiv.org/abs/2111.12052 *A Reversible Un

[2022-06-04 18:41] jvermaas commented on #3703
Martin and I have been talking, and we think the generalization for triclinic boxes is something like this. Written out this way, it looks like it ought to be performant, but we haven't written tests or an implementation yet.
[alternative.pdf](https://github.com/MDAnalysis/mdanalysis/files/8838455/alternative.pdf)

[2022-06-05 00:14] aya9aladdin opened #3704 "Implement context aware guesser"
## Is your feature request related to a problem?
The current `Guesser` class used by the users or inside parsers hava a downside of being generic, which makes it doesn't fit all topologies and force fields . This result in various errors while guessing different atrributes ([#2348](https://github.com/MDAnalysis/mdanalysis/issues/2348) [# 3218](https://github.com/MDAnalysis/mdanalysis/issues/3218)

[2022-06-05 03:53] hmacdope commented on #3703
Would love to  solve the lack of a "nojump" transform, as has been bothering me for a while, just havn't found the time to give it the proper attention.

[2022-06-06 09:26] jbarnoud commented on #3704
Thank you for opening this issue. Could you please:
* make sure the code samples are well formatted using the appropriate GitHub syntax. It will make them much easier to read and make it more likely to get feedback from the others.
* have a look at where the guessing happens now and what are the attributes that are guessed throughout the code base.

Just to clarify. When you write:

This is the id

[2022-06-06 16:45] orbeckst commented on #3703
Just for completeness: PR #2982 (stalled) made an attempt at nojump.

[2022-06-07 00:07] aya9aladdin commented on #3677
I'm interested in working on this issue....  the solution that I'm thinking about is adding a topology attribute class BIOMT to the `topologyattr` module, so it will hold the assembly transformation matrix in a `numpy` array, with updating the `PDBParser` to parse the matrix. Am I on the right direction?

[2022-06-07 00:13] IAlibay commented on #3677
I don't necessarily think we need a new topology attribute for this, it's should be a single matrix for the whole system.

Probably the simplest thing here is to store the matrix under Timestep.data and then have a convenience method (probably under PDBParser) which allows you to use that matrix to yield the biological assembly. As @richardjgowers mentioned, the PDB standard is rather messy here,

[2022-06-07 00:20] hmacdope opened #3707 "Multiprecision in core, NumPy dtypes and Cythonization"
## Is your feature request related to a problem? ##

With the ongoing work on Cythonising Core as part of the CZI performance track (see #3683),  we need to start proper discussion of `dtypes` and multi-precision .  This was first broached in #3545  which highlights some inconsistent use of NumPy dtypes and various examples of willy nilly casting to and from `float32` and `float64`.

It is importa

[2022-06-07 00:22] hmacdope commented on #3545
Discussion here is best continued in #3707

[2022-06-07 00:52] hmacdope opened #3708 "Provide Ndarray or AtomGroup to distance routines"
## Is your feature request related to a problem? ##

We should encourage AtomGroups  as the currency of choice for passing between routines. A major place where this is not the case is in the routines in `distances.py` which can only accept a NumPy array which is then  converted to a `float*` in  `calc_distances.h`.

 It would be fantastic to be able to leverage the power of the routines in `calc_

[2022-06-07 01:11] hmacdope opened #3709 "Cythonize Timestep for greater performance"
## Is your feature request related to a problem? ##

Belatedly realised that I forgot to open an issue.

For greater performance of the core `Timestep` object and its various roles in holding coordinate, box and reader data, `Timestep` should be made a Cython Extension type.

## Describe the solution you'd like ##

- The `Timestep` object should be made a Cython extension type and all attributes t

[2022-06-07 01:23] orbeckst commented on #3707
On the surface it looks nice to be able to provide `dtype=np.float64` to the `Universe`. I like that it looks like numpy.

Under the hood it will likely be a mess.

What is the advantage of being able to set the precision, i.e., what are the use cases that we want to support?

[2022-06-07 01:45] hmacdope commented on #3707
I might copy paste a few pros/cons from #3545

**Benefits**
* We move away from a more haphazard system of doing some things in some precision and others in others on a case by case basis where we shuffle datatypes back and forth.
* More accuracy can be *passed through* if required for certain things.
* If other packages with which we integrate offer or require higher precision, we are a guarantee

[2022-06-07 01:46] orbeckst commented on #3689
I am calling this behavior a bug because users can reasonably expect that when they set a value then it is honored.

Please say something if you disagree of the designation "defect". (If it is a defect, we can just fix it for the next release. If it's not a defect then it's an API change and has to wait until 3.0.)

[2022-06-08 08:34] jbarnoud commented on #3704
results it got, the output messages should precisely describe the universe updates with a
warning about failed processes.

Where do you plan the output for successful guessing to be? Do we have anything comparable at the moment?

[2022-06-08 19:22] lilyminium commented on #3704
corresponding attribute guesser method related to each class. I think in this way the user
doesn’t have to bother about how a guesser should work, and in the spirit of
implementing a context-specific guesser, we have an abstraction power by having aware
and smart guessers that know how exactly any attribute should be guessed for a specific
environment (for example guessing mass for PDB is related

[2022-06-09 00:53] orbeckst commented on #3701
We can't really test all ranges of versions of all support libraries, that's just a terrible combinatorial explosion. Checking minimum numpy is crucial but for most other things I think we can keep the known minimum versions as we have. We still have things like `matplotlib >= 1.5.1` in our setup.py... Typically this minimum version encodes some specific reason of why we pinned it there.

I'd foll

[2022-06-09 00:57] #3700 closed, assigned to orbeckst

[2022-06-09 05:40] IAlibay commented on #3701
It's a linear thing you don't need to combine. It's something we could easily drop into our weekly Cron, it adds N requirements worth of runners but imho it's a good idea to check the minimum versions are even working

I disagree. This approach leads to historical artifacts / compatibility code bits that just are there "because we didn't check". Imho if we set minimum version then we should at lea

[2022-06-09 16:38] orbeckst commented on #3701
You mean, we try _each_ minimum version in turn within the background of "latest" version (or version pulled in by the dependency resolution algorithm)? That sounds feasible, especially on an infrequent CRON CI job.

Well, it's hard to argue with you when you have the (moral) high ground ;-). It's more professional that _we_ test instead of waiting for users to complain.

It would be good if, at t

[2022-06-09 17:06] BFedder opened #3714 "Add energy readers to the Auxiliary module"
## Is your feature request related to a problem? ##
In molecular dynamics simulations, users frequently have to inspect energy-like terms such as potential or kinetic energy, temperature, or pressure. This is so common a task that even small inefficiencies add up. Currently, users have to create intermediate files from their MD simulation's output files to obtain plottable data, and this quickly b

[2022-06-09 17:59] aya9aladdin commented on #3704
the diagrams idea is really great, I will work on finding how to deliver it in the most descriptive way then adding it to my blog

[2022-06-09 18:13] orbeckst opened #3715 "incorrect midpoints in HOLE calculation"
This line is wrong:
https://github.com/MDAnalysis/mdanalysis/blob/0b3ba59d7a31d461593dfa83ef50b38f171ad9eb/package/MDAnalysis/analysis/hole2/hole.py#L1306

Therefore, any output in HOLE that uses midpoints is wrong.

(Issue raised based on PR #3713 by @miss77jun which also gives the correct expression `midpoints = 0.5*(bins[1:] + bins[:-1])`)

[2022-06-09 18:23] orbeckst commented on #3714
The content of this issue already almost makes your first blog post. Perhaps add a section on how you plan to tackle the project, what you want to prioritize and why, and a timeline, and you have your first post!

Issue #3629 can be the "EDR" issue, which collects anything specific to the EDRReader. I would use this issue for more abstract discussions about the general user interface and as a way

[2022-06-09 18:25] orbeckst commented on #3629
An AUX GROMACS EDRReader is part of @BFedder 's  GSOC project #3714 and we are now looking into how to get [MDAnalysis/panedr](https://github.com/MDAnalysis/panedr) into shape so that it can be used as a dependency.

[2022-06-09 19:49] ojeda-e commented on #3704
@aya9aladdin I use draw.io (now https://app.diagrams.net). It's a very nice tool with lots of cool options to design custom diagrams. I used it for general stuff and also used them for [docs](https://membrane-curvature.readthedocs.io/en/latest/source/pages/Algorithm.html).

[2022-06-09 20:38] RMeli commented on #3704
100%!

I always found the name "guesser" somewhat confusing, because some attributes are not technically guessed but they are read from a table once other (guessed) attributes are available. A diagram would clarify this confusion by showing what is "guessed" (i.e. inferred with some predefined rules, which might not be perfect) first, and what it is simply set based on the guessed attributes later

[2022-06-11 08:39] IAlibay commented on #3679
@tanoury1 any further updates on this?

[2022-06-11 08:49] IAlibay commented on #3484
@dasharon unless I'm mistaken it seems to be like this issue is now resolved?

I'm going to go ahead and close it, but do re-open if there are still things which need addressing.

[2022-06-11 08:49] #3484 closed, assigned to nobody

[2022-06-11 08:50] IAlibay commented on #3457
This is now complete, py310 is working fine in CI will all optional deps.

[2022-06-11 08:50] #3457 closed, assigned to nobody

[2022-06-11 09:01] IAlibay commented on #1871
Deployment via CI is now done via gh actions.

[2022-06-11 09:01] #1871 closed

[2022-06-11 09:02] IAlibay commented on #1785
Is this something worth reviving for @BFedder's GSoC project?

[2022-06-11 16:02] orbeckst commented on #3406
Did we ever reproduce the failure locally?

Has anyone the time to bisect h5py releases to pinpoint the ones that fail? We could exclude known bad releases for #3711 (or separately).

[2022-06-12 15:39] dasharon commented on #3484
Dear Irfan,

I thank you so much for looking into my question!

I am not certain of whether the behavior described above has been resolved for the older module MDAnalysis.analysis.hbonds.HydrogenBondAnalysis, but I have been able to obtain count_by_type() information with the newer MDAnalysis.analysis.hydrogenbonds.hbond_analysis module except for particular cases I mention below, and I do not nee

[2022-06-13 06:37] #3709 closed, assigned to hmacdope

[2022-06-13 15:00] aya9aladdin commented on #3704
I have added a dependency diagrams to the issue for declaration, you can also see my project updates on my personal blog https://sites.google.com/pharma.asu.edu.eg/aya-gsoc/home

[2022-06-13 16:30] #3372 closed

[2022-06-14 06:43] jbarnoud commented on #3704
Thank you @aya9aladdin. Is your diagram reflecting what you plan on going, or is it what we currently have in the code?

[2022-06-14 18:54] #3699 closed, assigned to nobody

[2022-06-14 22:56] hmacdope opened #3717 "Inconsistent copyright/citation in file calc_distances.h"
## Expected behavior ##

Code files should all have the same copyright header and list the same copyright year/citations.

## Actual behavior ##

In `calc_distances.h` the copyright year is listed as 2014, rather than 2017 as in most other headers.
Additionally it and only cites the 2011 J. Comp chem paper, whereas  most others also cite the 2016 Scipy proceedings paper.

## Additional Query ##

D

[2022-06-14 23:08] hmacdope commented on #3707
Another note here is that if we do decided to restrict to float32, we can get better performance out of the numpy-cython C-API parts of the library by enabling C level typing of the numpy arrays, eg

[code]

[2022-06-14 23:20] orbeckst commented on #3717
We have to update this everywhere at some point. It's just such an intrusive change in the history that affects all open PRs that we basically never want to do it... probably ought to have done it prior to 1.0.

If this is an outlier then adjust it to the same as everything else so that when we do an automated rewrite, we don't miss this one.

[2022-06-15 02:55] tylerjereddy commented on #3707
This seems hard to judge, on the surface I think my initial view is similar to Oli's. Is progress on the CZI objectives impeded by this, or it is just that if you optimize stuff the way things are we may get locked in to a rigid design?

I suppose one idea might be to not jump into this right away, but when writing new things or making changes, leaving the door open for a `dtype=np.float32` argume

[2022-06-15 06:37] hmacdope commented on #3707
I don't think we are being impeded by the lack of datatype flexibility, if anything it makes things a lot more complicated.

However as you say, the pursuit of pure performance using the current setup will likely come at the cost of some flexibility long term. This is why I thought this was worth some discussion now.

This is the approach I took in Cythonising `Timestep` in #3683, but I am trying

[2022-06-16 21:05] aya9aladdin commented on #3704
it's more of a reflection of what I'm going to build in both PDB and Martini guessers

[2022-06-17 21:59] ALescoulie opened #3720 "Re-implement nuclinfo using `AnalysisBase` style subclasses"
## Is your feature request related to a problem? ##
To complete the overhaul of `nucinfo` we need to rebuild the rest of the functions in the analysis base style in the `nucleicacids` module.

## Describe the solution you'd like ##
Using the `NucPairDist` as a super class rebuild
[code]

## TODO
- [x] rebuild `minor_pair`
- [x] rebuild `major_pair`
- [ ] rebuild `phase_cp`
- [ ] rebuild `phase_as`

[2022-06-17 22:00] ALescoulie commented on #3720
I'm starting on this and hopefully can get a PR out soon.

[2022-06-18 13:05] jbarnoud commented on #3704
In that case, could you do the same diagram but with the current state of the code. It is what we had in mind when asking for the diagram. Looking at this, will require you to find the various places where the guessing is done, and you may realise oddities. For instance, that some guessing functions take arguments which you will need to consider when writing your code.

[2022-06-19 18:24] yuxuanzhuang opened #3721 "Improve Universe serialization performance"
## Is your feature request related to a problem? ##
The speed and memory footprint of `Universe` serialization greatly influences the performance of parallel analysis especially when the analysis block is small. This Issue serves as an (ongoing) collection of possible improvements for the performance.

## Benchmark ##

[code]

[code]

**No need to redirect to the original frame during deserializat

[2022-06-19 18:31] yuxuanzhuang opened #3723 "Fail to double-serialization for some coordinate Readers"
## Expected behavior ##

All readers can be double serialized (i.e. serialize the newly deserialized Reader)

## Code to reproduce the behavior ##

[code]
raises `AttributeError: 'TextIOPicklable' object has no attribute 'raw_class'`

## Current version of MDAnalysis ##

- Which version are you using? (run `python -c "import MDAnalysis as mda; print(mda.__version__)"`) dev
- Which version of Pytho

[2022-06-22 04:59] hmacdope opened #3725 "OpenMP backend for self_distance_array is broken for tricinic boxes"
## Expected behavior ##

The OpenMP distance backend for `self_distance_array` is broken for triclinic boxes on current develop.
There doesn't appear to be a problem with orthorhombic boxes (the `_calc_self_distance_array_ortho` code path) or without a box ( the `calc_self_distance_array`) code path or any of the serial code. There also doesn't appear to be an issue with `distance_array`.

 The pr

[2022-06-22 12:10] richardjgowers commented on #3725
This is a little worrying because CI should have caught it? Unless it's some bizarre bug that only shows up with some compiler etc.

[2022-06-22 14:17] RMeli commented on #3725
Oh boy... that's my bad! I was a bit over-zealous to remove the `private` clause here:
https://github.com/MDAnalysis/mdanalysis/blob/a2f9e9457175ac67185e397adc6c6ad67eb9bce0/package/MDAnalysis/lib/include/calc_distances.h#L505-L514

Sorry about that! I can provide a fix, together with an additional test (for future refactoring).

[2022-06-22 17:07] orbeckst opened #3727 "make MDAnalysisTests conda package "noarch" instead of arch/os specific"
## Is your feature request related to a problem? ##
The MDAnalysisTests conda package at https://github.com/conda-forge/mdanalysistests-feedstock is created as a OS and architecture-dependent package even though it only contains Python code. This leads to delays in updating the package (e.g., for new archs such as osx-arm64).

## Describe the solution you'd like ##
Publish as a **noarch** package.

[2022-06-22 20:24] hmacdope commented on #3725
Yeah the current test case doesn't seem to catch it.

Something like the code to reproduce in this issues is likely sufficient, testing that the two backends return the same.

Note that if you get a segfault it may not always  show up as a test failure, which I noted in the wiki.

We are happy with a hotfix? I can close #3726 which is a revert if so.

[2022-06-23 08:10] gmonet opened #3731 "MDAnalysis 6 times slower than pytraj to read GROMACS's trr file"
## Actual behavior ##

Hello to all,
I found that MDAnalysis was significantly slower to read trr files than pytraj. With the test files included in MDAnalsyis, MDAnalysis is 6x slower than pytraj. With my own files (14573 atoms), it is up to 15x slower.
Honestly I prefer to use the MDAnalysis API but this poor performance makes me switch to pytraj.
Best.

## Code to reproduce the behavior ##

[co

[2022-06-23 08:46] jbarnoud commented on #3731
Do you measure the time on the first read or on subsequent ones? On first read, MDAnalysis builds an index of the frames so it can do random access later. That index is cached so subsequent reads should be faster.

[2022-06-23 09:33] gmonet commented on #3731
Even after the index building, MDAnalysis is still slow for reading trr files :
[code]
[code]
CPU times: user 645 ms, sys: 4.07 ms, total: 650 ms
Wall time: 649 ms
[code]
CPU times: user 108 ms, sys: 20.1 ms, total: 129 ms
Wall time: 127 ms

 ---------
Actually, if I convert the trr file to Amber netcdf file, I get a massive boost of performance:
[code]
[code]
CPU times: user 13.4 ms, sys: 109 µs,

[2022-06-23 09:44] yuxuanzhuang commented on #3731
I did a quick test on XTC file performance and they are comparable. It seems that only TRR files are slow.

[code]

[2022-06-23 09:47] gmonet commented on #3731
I see, the problem is indeed with the trr format. Unfortunately, I am forced to work on the trr format because it is the only format in which GROMACS records speeds and forces.

[2022-06-23 09:51] yuxuanzhuang commented on #3731
A temporary solution could be loading the trajectory into the memory (if you memory can hold it ofc)
[code]

[2022-06-23 10:16] gmonet commented on #3731
I'm affraid I can't afford to load the entire trajectory (about 10Go) into the memory (I analyse multiple trajectory in parallel) :/

[2022-06-23 14:03] icamps opened #3732 "<< error drying trajectories >>"
## Expected behavior ##

Remove water and ions from full time trajectories.
Works well in v2.1dev but fail in last final version.

## Actual behavior ##

Got errors. Image attached.
![Screenshot from 2022-06-04 15-38-00](https://user-images.githubusercontent.com/13273938/175317325-7873d9e3-5b4d-4df7-b184-24b3c60e790f.png)

## Code to reproduce the behavior ##

[code]

## Current version of MDAnaly

[2022-06-23 14:17] jbarnoud commented on #3732
The issue is that, in your example, the coordinate array is not in `results` but in `results.timeseries`. This changed in version 2.0.0 to be in line with the other analyses switching to the `Results` object for their results. Here is a runnable example:

[code]

What surprises me is that your example worked with MDAnalysis 2.1. From what I can see I would expect it not to.

[2022-06-23 17:48] mnmelo commented on #3352
I'm closing this since, as @hejamu pointed out, the PR in #3353 fixes this (the PR message incorrectly states that it fixes #3353 instead of #3352).

[2022-06-23 17:48] #3352 closed

[2022-06-23 22:27] #3725 closed, assigned to hmacdope

[2022-06-23 23:02] hmacdope commented on #3698
is this closed by #3705?

[2022-06-24 07:11] hmacdope opened #3733 "Investigate making Bonds use a C++ unordered map datastructure and Cython"
## Is your feature request related to a problem? ##

As far as I can tell the `Bonds` datastructures and topology attributes currently use an `N*M` matrix to store Bond information where `N` is the total number of bonds and `M` is the length of the bond type.

For example for the index array `bonds` type  is of shape [`N`, 2].

This may make getting the bonds involved in a specific atom an ineffic

[2022-06-24 07:57] jbarnoud commented on #3698
I'd like pyright to be included as well, but it is fairly low priority.

[2022-06-24 09:07] RMeli commented on #3733
Not sure if I understand correctly what you are trying to achieve here, but wouldn't reserving a given number `n` of elements for `std::vector` achieve mostly the same thing, with less complicated code?

[2022-06-24 12:09] icamps commented on #3732
Hi @jbarnoud changing `results` to `results.timeseries` fixes the problem!

Thank you very much.

[2022-06-24 12:09] #3732 closed, assigned to nobody

[2022-06-24 15:56] orbeckst commented on #3708
A (late) comment here: We used to say that anything in lib may not use anything in core. The idea to have lib be "numpy only". Circular imports are an issue but we also said that , at least in principle, lib should be generally useable.

*If* we want to keep it that way, the distance routines + AG would need to live elsewhere.

This can be up for discussion. Perhaps start one on the developer list

[2022-06-24 16:04] #3715 closed, assigned to nobody

[2022-06-24 22:57] hmacdope commented on #3733
Really good point @RMeli. I guess it depends if the stack allocated memory is faster or not but does sound a lot less complicated.

[2022-06-25 04:58] hmacdope opened #3734 "Expose public facing Cython in libmda layer"
## Is your feature request related to a problem? ##

As part of #3683, the `libmda` folder with its own `__init__.pxd` was introduced to provide a single place to expose public Cython APIs for interoperability.  For example if external Cython code wishes to create a Timestep directly one can use:

[code]

This is similar to the strategy used in `Cython` itself whereby all of the `libc` and `libcpp

[2022-06-25 04:59] hmacdope commented on #3708
@orbeckst  i have made a [thread](https://groups.google.com/g/mdnalysis-devel/c/X6LnuFA2CQw/m/WDQsN_MeDQAJ?utm_medium=email&utm_source=footer) on the devel mailing list. People can contribute opinions there or here. :)

[2022-06-25 09:11] richardjgowers commented on #3708
I think the addition of interchangeably using AG or np array in distance-like functions is very important.  I don't think we should introduce a new set of functions that implement this, and throwing this `Union` argument into the existing functions is the correct approach.

If we wanted to respect the rule of `lib` doesn't import any other MDA stuff we could, but we'd still have to import it into

[2022-06-26 18:42] ALescoulie commented on #3720
I  just pushed PR #3735 which add major and minor pair, I'm also working on the torsion angle class, which is a little more involved.

[2022-06-28 00:48] orbeckst commented on #3734
- Interoperability is good.
- Given that there's an established pattern for this approach, `libmda` sounds sensible.
- However, I feel we should be more explicit and name it `libmdanalysis` so that it is especially clear in other code which API is being used. (We use "mda" a lot internally but using it on external-facing code is not good branding — search for "mda" and see what you find, it ain't

[2022-06-28 00:53] orbeckst commented on #3702
With PR https://github.com/conda-forge/mdanalysis-feedstock/pull/44 and https://github.com/conda-forge/mdanalysistests-feedstock/pull/31 we have M1 packages. Users have confirmed that the packages work. Thank you @IAlibay !

[2022-06-28 00:53] #3702 closed, assigned to IAlibay

[2022-06-28 01:10] orbeckst commented on #3702
PR https://github.com/MDAnalysis/MDAnalysis.github.io/pull/233 for a quick blog update.

[2022-06-28 01:11] orbeckst commented on #3560
@IAlibay you know, you could close the 2.2.0 milestone if you wrote a quick NEP29 blog post ;-).

[2022-06-28 02:51] hmacdope commented on #3734
Thanks @orbeckst! I will open ~an issue~ a PR to fix the naming.

The things that could be exposed as you say have to be sensible and stable.

- Timestep in its entirety
- Atomgroup (this is somewhat complicated by the amount of metaclass-y stuff going on eg Transplants)
- A fast topology lookup table
- Universe (to be investigated)
- Others TBA

This is just a rough first idea and is obviously wi

[2022-06-28 03:09] hmacdope opened #3738 "Change the name of libmda to libmdanalysis"
## Is your feature request related to a problem? ##

Discussion in #3734 has indicated that `libmda` is likely too generic a name for our public Cython API

## Describe the solution you'd like ##

We should rename it to something like `libmdanalysis`

[2022-06-28 04:43] hmacdope commented on #3708
I will quote my comment on #3730 here @orbeckst  @richardjgowers  @jbarnoud :

[2022-06-28 07:35] #3738 closed, assigned to hmacdope

[2022-06-28 07:56] hmacdope opened #3740 "Provide Ndarray or AtomGroup to nsgrid routines and transforms_* functions."
## Is your feature request related to a problem? ##

Following on from #3730, and the corresponding issue, #3708  We should encourage AtomGroups  as the currency of choice for `nsgrid` functions and `transform_RtoS` etc, the remaining functions in `distances.py`.

## Describe the solution you'd like ##

As with #3730, the `@check_coords` decorator will do most of the work in homogenising the input

[2022-06-30 14:58] PicoCentauri opened #3741 "Inconsistency between LAMMPS cell origin and coordinates"
## Is your feature request related to a problem? ##

Simulation cells in MDAnalysis (MDA) are defined via the `dimensions` attribute
defining the cell via 3 lengths and 3 angles. This implies that the cell origin is always at
(0,0,0).

LAMMPS defines its simulation cells via a lower and an upper coordinate, allowing the cell origin not to be at (0,0,0). The LAMMPS approach allows for negative coor

[2022-06-30 22:16] orbeckst opened #3742 "modernize testing code"
## Is your feature request related to a problem? ##
The testing code uses pytest and relies on numpy.testing. It contains some deprecated testing constructs such as [`assert_almost_equal()`](https://numpy.org/doc/stable/reference/generated/numpy.testing.assert_almost_equal.html), [`assert_array_almost_equal()`](https://numpy.org/doc/stable/reference/generated/numpy.testing.assert_array_almost_equa