[2017-01-13 13:56] kain88-de commented on #1159
This has also come up in #1145.  Using a batteries included approach I wouldn't need to add joblib as a dependency. With the current approach it would be better to require joblib (pure python) to use 95% of encore and say if sklearn is installed you can use the last 5% as well.

[2017-01-14 05:30] orbeckst commented on #1159
A fundamental problem is that of dependencies of dependencies as in gridDataFormats. I agree with @kain88-de that it's not straightforward to assess what should count as simple. (gridDataFormats has essentially been grand-fathered in... and I am not overly happy about its scipy dependency but that's a different thing.)

My gut feeling was summarized by @jbarnoud https://github.com/MDAnalysis/mdana

[2017-01-14 23:26] vedantrathore commented on #597
@kain88-de @jbarnoud I would like to work on this, could anyone give me a pointer on how to start with this?

[2017-01-15 08:19] jbarnoud commented on #597
This issue is all about increasing the test coverage. Too often we write
tests to make sure what should work does, but we omit the tests that
make sure the case that should fail do fail as we expect.

You can find the test coverage on our coverall page:
<https://coveralls.io/github/MDAnalysis/mdanalysis>

There is a project on github that tries to follow what is being done to
reach 90% coverage (t

[2017-01-15 09:48] kain88-de commented on #597
Failing as expected is done by either raising an exception or issuing a warning. To check that
an exception is thrown correctly you can use `assert_raises` examples can be found by looking for that function in the codebase

https://github.com/MDAnalysis/mdanalysis/search?utf8=%E2%9C%93&q=assert_raises&type=Code

Warnings can be checked with `assert_warns`

https://github.com/MDAnalysis/mdanalysis/

[2017-01-15 10:06] kain88-de commented on #1159
As a clear set of rules for development how about the following if a dependency should be optional?

- pure python packages are fine
- packages in the anaconda distribution are fine
- packages with compiled content should be made optional

[2017-01-15 10:44] kain88-de commented on #1107
Ah ok. The order of the segments is just different between the mmtf and the pdb. Otherwise they seem to be the same. I just just confused that `universe.A` print the number of the segment ( I thought it shows that it contains as number of residues or something similar)

[2017-01-15 15:07] #1144 closed

[2017-01-15 15:07] #1114 closed

[2017-01-15 15:11] #1063 closed

[2017-01-15 15:12] #1065 closed

[2017-01-16 06:05] #1099 closed

[2017-01-16 10:30] jbarnoud commented on #1159
I would be fine with what @kain88-de suggests. Like @orbeckst I mostly form my opinion on dependencies pre-wheel and lot of things are easier now.

As we account more and more for anaconda when making decisions, I would just like us to keep in mind that not everybody uses conda and that it shall not become mandatory.

[2017-01-16 10:41] kain88-de commented on #1159
We could also say that all packages in the scipy-stack are fine. That are less but they include the most prominent packages that one will use (matplotlib / scipy / scikits). See https://www.scipy.org/about.html

[2017-01-16 14:01] jonekoo opened #1162 "principal_axes sorts lowest to highest instead highest to lowest (as documented)"
### Expected behaviour
The documentation says:

### Actual behaviour
The eigenvector corresponding to the **smallest** eigenvalue is the first.

This is easily verified and also seen by looking at the code of principal_axes. (numpy.argsort sorts in ascending order).

[2017-01-16 17:04] richardjgowers opened #1163 "Residue & Segment slicing. Residue.select_atoms?"
I'm going over the old tests in test_atomgroup and found some differences in behaviour between the old and new systems.  Because Residue and Segment used to be derived from AtomGroup, these could be sliced to give atoms.

[code]

This also applies to things like `__contains__`, should `atom in res` work?

Also, `select_atoms` now has to be called off either a Universe or AtomGroup object, but beca

[2017-01-16 17:12] kain88-de commented on #1163
For me.

1. `res.atoms[2]` is better then the old way
2. `select_atoms` should be callable from any group object.

[2017-01-16 18:14] orbeckst commented on #1163
I agree with @kain88-de 👍

1. slicing a XGroup should give an X (this needs to be documented clearly in CHANGELOG and docs as something new! **It will break old code.**)
2. `select_atoms()` needs to work from anywhere

[2017-01-16 18:27] orbeckst commented on #1159
The scipy-stack is not really that well defined: the [core packages](https://www.scipy.org/about.html#core-packages) are clear enough
* python
* numpy
* scipy
* matplotlib
* pandas
* sympy
* ipython
* nose

but the [other packages](https://www.scipy.org/about.html#other-packages) are "too many to list here". Although h5py, pytables, cython, scikit-image, scikit-learn all are well established and (

[2017-01-16 18:47] mnmelo commented on #1163
Another vote for @kain88-de's choice.

[2017-01-16 19:07] dotsdl commented on #1163
I'm in favor of @kain88-de's proposed approach as well. I don't think `Residue` and `Segment` objects should be sliceable, to keep things explicit and clean (not so many ways to do the same thing). Having `select_atoms` work from any group is fine; perhaps we should leave it off of `Residue` and `Segment` objects, though, since these technically aren't groups?

[2017-01-16 19:12] orbeckst commented on #1163
"Technically" is not really important from a user's point of view. I liked Residue = group of atoms (and Segment = group of residues) because it makes sense semantically.

Could we have Residues and Segments *behave* like such groups?

[2017-01-16 19:23] richardjgowers commented on #1163
Yeah I think David is right about attribute access having to refer to the
Residue and never the atoms.

My question is with the special getitem and contains methods, isn't the
intent clear that we're trying to use the Residue as a group?

On Mon, 16 Jan 2017, 7:20 p.m. David Dotson, <notifications@github.com>
wrote:

[2017-01-16 19:33] orbeckst commented on #1163
@dotsdl yes, if you could dig out that thread.

I would expect `Residue.charge` to be the total charge and `Residue.charges` an array of the charges of the constituents, i.e., the atoms. Similarly, `Segment.charges` should be charges per resdidue, at least that's what the Segment/Residue/Atom hierarchy means. And if this were true then slicing should again give lists of the elements, i.e., either

[2017-01-16 19:53] dotsdl commented on #1163
@orbeckst see [here for your own conclusion](https://github.com/MDAnalysis/mdanalysis/issues/703#issuecomment-190547898) and [here for some extended discussion](https://github.com/MDAnalysis/mdanalysis/issues/599#issuecomment-169495840).

My worry is that `Residue` objects will behave as `AtomGroup`s in some ways and not in others (and same for `Segment`s with regard to `ResidueGroup`s).

@richard

[2017-01-16 21:22] utkbansal opened #1166 "Errors on running tests after setting up development environment"
### Expected behaviour

I followed the setting up the development guide present at - https://github.com/MDAnalysis/mdanalysis/wiki/Setup-Development-Environment

After cloning the repo and installing the dependencies, I ran the tests which failed.

### Actual behaviour
I tried the setup on macOS and Ubuntu and got errors (different) on both.

**On Ubuntu (Python 2.7.12)**
I got the same error mult

[2017-01-16 21:35] utkbansal commented on #1166
**Update (macOS)**

I digged deeper on macOS and found that on macOS the number of files that a process can open simultaneously is quite low (256). So I increase the limit by running the following command -

`ulimit -n 4096`

So I ran the test suite again and this time I got only one error -

[code]

Maybe we could mention the file limit problem and its fix in the setup guide?

[2017-01-16 21:46] orbeckst commented on #1163
@dotsdl : I agreed that `X.atoms` (and `X.residues`) is a semantically good way to access properties belonging to atoms and residues.

I guess we had the discussion on `Segment` and `Residue` a long time ago https://github.com/MDAnalysis/mdanalysis/issues/599#issuecomment-169494122

I'll stop flogging a dead horse ... (even though I am not convinced that it is ambiguous as to what should happen wh

[2017-01-16 22:05] utkbansal commented on #1166
Okay so there is a dependency version issue here.

The setup guide doesn't specify the version of numpy required. It simply specifies the following command -

`pip install numpy`

In the code, the setup.py present at `mdanalysis/package/setup.py` specifies only the minimum version of numpy required i.e. `1.5.0`

On `numpy 1.12.0` (the latest one) we get multiple `KeyError: 'dtype'` errors as I hav

[2017-01-16 22:18] utkbansal commented on #1166
The latest TravisCI builds (https://travis-ci.org/MDAnalysis/mdanalysis/builds/192259974) also have failed due to the same reason. Conda installs `numpy 1.11.3` and fails with the same `ValueError: "Buffer dtype mismatch, expected 'float64_t' but got 'float'\n`.

I wonder why didn't Conda install `numpy 1.12.0` which is the lasted (when installed via pip)?

[2017-01-17 03:30] jdetle commented on #1162
Hi, I'd like to tackle this. Would we rather just properly reflect the ordering in the documentation, or switch the order and change/add some tests?

[2017-01-17 04:09] jdetle commented on #1166
@utkbansal For what its worth I was running into the same max open files issue until you gave that fix.

[2017-01-17 04:55] utkbansal commented on #1166
@jdetle did you also face the `ValueError`?

[2017-01-17 05:53] utkbansal commented on #981
Hi, can I work on this?

[2017-01-17 06:48] kain88-de commented on #1162
We have to switch the order. The documentation is correct

[2017-01-17 06:50] kain88-de commented on #981
Yes you can. Please make a PR when you have a working solution. If you encounter proble,s you can ask here or on the mailing list.

[2017-01-17 06:56] utkbansal commented on #981
@kain88-de Thanks! Just to be sure, I just have to check the existence of files before they are opened and if not present raise an exception? I might need some help as this is my first issue.

[2017-01-17 08:50] jbarnoud commented on #981
I would be careful with the phrasing of the error message. Indeed, `os.path.exist` does not test if the file exists, but if the file is accessible by the user. A file that is not accessible by the user often means that the file does not exist, but it can also mean that the user does not have permissions to access it.

As an error message I would write something in the spirit of "The file does not

[2017-01-17 10:38] jbarnoud commented on #1166
I just updated numpy in my environment from 1.11.3 to 1.12.0. While I had all the tests passing, I now have the `KeyError`. The problem comes from the implementation of `assert_equal` in numpy that reveals an innocuous bug in the handling of auxiliary data raising the wrong exception. Since the auxiliary data got introduced for 0.16, the released version of MDAnalysis should be unaffected.

The va

[2017-01-17 10:39] richardjgowers commented on #1166
@utkbansal thanks for the awesome issue report.  The setup guide is a wiki, so if you want to edit it to include your fix for macOS that would be very handy.

[2017-01-17 10:43] richardjgowers opened #1168 "Encore tests failing due to float precision"
I'm mostly just going to steal @jbarnoud 's debugging work here, so we can talk about the failures in their own issue...

The value error seems unrelated to the numpy version, indeed. analysis.encore.cutils.PureRMSD expects float64_t coordinates but receives float ones. The first commit to fail the test is e356604 (see travis: https://travis-ci.org/MDAnalysis/mdanalysis/builds/192119548). The pull

[2017-01-17 10:44] richardjgowers commented on #1163
Cool thanks for the quick consensus

[2017-01-17 10:44] #1163 closed

[2017-01-17 10:46] jbarnoud commented on #1168
A fancier way to solve the issue would be to have an intermediate layer on top of `analysis.encore.cutils.PureRMSD` that checks what type the function is called with and then call the float32 or float64 version of `analysis.encore.cutils.PureRMSD`. I do not know cython, but there may even be a canonical way of solving that issue.

[2017-01-17 11:03] kain88-de commented on #1166
@utkbansal numpy 1.12 has been released very recently and not all packages we install that depend on numpy have been rebuild with that version of numpy. It is good to know that the new version broke some of our code. You can open a new issue with the exact error that you see using numpy version 1.12. Thanks.

[2017-01-17 12:18] wouterboomsma commented on #1168
Yes, I missed this aspect when changing MemoryReader to always use float32. I guess it should be safe to convert the pureRMSD calculation to use float32 as well (at least we can try, and see how many of the encore tests fail). Ultimately, I agree that it would be nice to have support for both float64 and float32, but since float64 does not seem to be generally supported in MDAnalysis currently, it

[2017-01-17 12:35] kain88-de commented on #1168
I would also like to have it float32. Otherwise the change of dtype will cause a copy of the array in memory and the computation might not succeed because we run out of memory.

[2017-01-17 13:53] richardjgowers commented on #1168
http://cython.readthedocs.io/en/latest/src/userguide/fusedtypes.html

@jbarnoud if we want proper float32/float64 support this might be a way to do it

[2017-01-17 13:56] jbarnoud commented on #1168
This happens to be th exact page I am reading now ;)

On 17-01-17 14:53, Richard Gowers wrote:

[2017-01-17 16:28] mtiberti commented on #1168
Thanks for the comments - I agree it would be better to make it float32 as to be consistent with the rest, and then revise it at a later time if we need to introduce support for float64 as well. I'll get on it and let's see how it works.

[2017-01-17 16:57] jbarnoud commented on #1168
I investigated the problem a bit. [`analysis.encore.cutils.PureRMSD`](https://github.com/MDAnalysis/mdanalysis/blob/develop/package/MDAnalysis/analysis/encore/cutils.pyx#L41) is what complains, but it is called by [`analysis.encore.condistmatrix.set_rmsd_matrix_elements`](https://github.com/MDAnalysis/mdanalysis/blob/develop/package/MDAnalysis/analysis/encore/confdistmatrix.py#L173) that has two b

[2017-01-17 17:57] utkbansal commented on #1166
@richardjgowers I have added the instructions to the wiki. it would be great if you could have a look and tell if it looks fine.

[2017-01-17 18:05] mtiberti commented on #1168
Thanks @jbarnoud - I tried doing the same and got the same behaviour, and it also happens using the `floating` cython fused type for floating point values. Investigating the issue

[2017-01-17 18:25] jdetle commented on #1166
@utkbansal I get the same exact behavior.

[2017-01-17 21:43] jbarnoud opened #1170 "MOL2 does not store the bond order"
The current version (0.16.0-dev) does not read the bond order from the mol2 file. It was read in the last release.

A mol2 file has a section describing bonds. That section looks like:

[code]

The 4th column is the bond order that use to be accessible with `[bond.order for bond in u.atoms.bonds]`. The column is not read anymore, and the order is now `None` for all bonds. The issue seems to be tha

[2017-01-17 22:06] dotsdl commented on #1078
Working on this this week. PR incoming soon.

[2017-01-18 05:21] orbeckst commented on #1168
Small sidenote on the float32/float64 question. When @rbrtdlgd optimized the `lib.qcprot` RMSD calculation for use with MDAnalysis, he found that switching to 32 bit produced unacceptable errors in the RMSD (PR #930 and https://dx.doi.org/10.6084/m9.figshare.3823293.v1 ).

[2017-01-18 10:06] jbarnoud commented on #1168
@orbeckst Isn't the solution to just make sure `PureRMSD` is always eating float64, then?

[2017-01-18 11:06] richardjgowers commented on #1166
@utkbansal yep looks good, thanks

[2017-01-18 12:19] #1170 closed

[2017-01-18 12:23] richardjgowers commented on #1078
@dotsdl if you want to put up a skeleton of topics it'll make it easier for me to chip in.  Or use a project board or something?

[2017-01-18 12:47] wouterboomsma commented on #1168
@orbeckst, I don't think we would have the same problem here, since the PureRMSD does not involve a superimposition. I think float32 should suffice - but @mtiberti is looking into it right now.

[2017-01-18 16:13] jbarnoud opened #1174 "Random access in GMS shifted in python 3"
Tests for the GMS reader are failing on python 3. On python 3, trying to access frame N  with `u.trajectory[N]` actually gives frame N + 1. Iterating through the trajectory works fine, though.

The following gist demonstrate the issue by running the name notebook with both python 3 and python 2: https://gist.github.com/jbarnoud/37696da9be941f7df2277f33e8635fc8

In both cases, the notebook iterate

[2017-01-18 17:45] richardjgowers commented on #1174
So looking into this...

In Python 2:
[code]

In Python 3:
[code]

So something screwy is happening with one of the `tell` calls.  Also weird is that they're all different by 1 byte?  The PDB and XYZ random access works similarly, so I wouldn't be surprised if they have (or could have) similar issues.

The code that calculates this is below, it basically just goes line by line looking for a regex

[2017-01-18 17:46] richardjgowers commented on #1168
If this is proving tricky to fix, can we tag the failing tests as known failures so every PR doesn't have failing tests?

[2017-01-18 18:09] jbarnoud commented on #1174
It seems that the problem does not come from the `tell` but from the `len(line)`:

[code]

Output on python 2:

[code]

Output on python 3:

[code]

It appears that python 3 converts `\r\n` to `\n` in files by default.

One solution is to open the file in bytes mode rather than as text. It works on the short example:

[code]

gives on bitn python 2 and 3:

(b'1NSERCH=   0\r\n', 14)
(b'1NSERCH=   1

[2017-01-18 18:15] dotsdl commented on #1078
@richardjgowers I can do that. I'll make a project board.

[2017-01-18 19:06] dotsdl opened #1175 "Restructure documentation for user-friendliness"
The [MDAnalysis documentation](http://pythonhosted.org/MDAnalysis/) is structured in such a way that it contains scant information on the [user interface](http://pythonhosted.org/MDAnalysis/documentation_pages/overview.html) and otherwise gives detail on the internal components of MDAnalysis that users should never really have to touch directly ([parsers](http://pythonhosted.org/MDAnalysis/documen

[2017-01-18 19:10] jbarnoud commented on #1174
Reading the file as bytes works. I'll include the fix in my nest batch of python 3 fixes.

[2017-01-18 19:13] utkbansal commented on #981
Quick question, I have to check the _all_ the `open` calls in the project. Not just the one in the `Universe` class. Right?

[2017-01-18 19:26] jbarnoud commented on #981
For the scope of this issue I would limit myself to the `Universe` class. Also, it may be worth having a look at what we can get from the `OSError` that is raised by `open`, indeed that could allow to be quite specific in the error message.

[2017-01-18 19:44] utkbansal commented on #981
@jbarnoud `open` raises and `IOError` instead of an `OSError`. The `IOError` object has two usefull attributes :
* `filename`
* `strerror` - which comes out out to be 'No such file or directory'

[2017-01-19 10:10] mtiberti commented on #1168
I had a look yesterday but haven't come up with a solution yet - the differences in RMSD between calculating them with float32 and float64 are small as all of you suggested, but that's apparently enough to change the clustering outcomes in that specific case (all the other tests involving clustering pass). So for the moment I would suggest to change the expected output as the current so that at le

[2017-01-19 10:19] richardjgowers commented on #1175
I liked the idea of a tiered approach, first there should be an explanation of *how* it works, and only after an explanation of *why*.

[2017-01-19 10:33] kain88-de commented on #1168
What clustering algorithm do you use? I would be interested in the difference you see if you are able to share the dataset. Also just sharing the code in a notebook would be nice. This is just for my own curiosity for numerical stability.

[2017-01-19 10:41] richardjgowers opened #1178 "Setting attributes to wrong size currently works."
### Expected behaviour

[code]

### Actual behaviour

Numpy just raises a warning that this won't work in the future.  It should really get to the numpy level through.

[2017-01-19 12:02] jbarnoud commented on #1168
Since casting the input for `PureRMSD` to float64 systematically seems to work, couldn't we do that as a short term solution rather than altering the tests?

[2017-01-19 12:59] mtiberti commented on #1168
Sure, that's also a viable option.

@kain88-de I'll get back to you - for now I've been switching manually between float32 and float64. We are using Affinity Propagation.

[2017-01-19 13:15] kain88-de commented on #1168
Thanks @miterbi

Also I'm for @jbarnoud solution to do a cast to float64 for now to fix the bug until we understand the numerical implications of using single precision.

[2017-01-19 20:48] #1168 closed

[2017-01-20 06:13] utkbansal commented on #982
Hi, can I work on this?

[2017-01-20 06:46] jdetle commented on #982
@utkbansal, I'm not a core dev, but to save you some time, but in open source software you can work on whatever you like. Generally you shouldn't *claim* an issue as yours, but communication is always better than no communication. Feel free to chime in on an issue and say "I am working on this, you should expect a pull request soon."

It is entirely possible that someone else will submit a change

[2017-01-20 12:04] jbarnoud opened #1182 "Doc does not say that RMSD does not make molecule whole when centering"
It is not clear from the documentation that `analysis.rms.rmsd` and `analysis.rms.RMSD` do not make the molecule whole before calculating the center of mass for centering. This can cause surprising results such as those described in the original issue.

Original issue:
-----------

`analysis.rms.rmsd` and `analysis.rms.RMSD` do not make the molecule whole before calculating the center of mass for

[2017-01-20 12:09] kain88-de commented on #1182
I'm sorry the docs don't specify that but yes you need to make molecules complete again yourself before you calculate the rmsd. I don't think we can generally add this though. My own simulations don't work with standard PBC repairing algorithms and I know from others in my group that they often need different algorithms to repair the pbc artifacts, mostly using g_trjconv with different options sev

[2017-01-20 12:11] jbarnoud commented on #1182
Maybe it should be clearer in the doc, then. I rename and retag the issue.

[2017-01-21 07:32] #981 closed

[2017-01-21 07:47] jbarnoud commented on #1159
In any case, that means that scipy is an acceptable main dependancy, doesn't it? Shall we upgrade it from the full to the minimal install?

[2017-01-21 10:54] richardjgowers commented on #884
Ok I've changed this to a migrate to py.test issue, nobody seemed to want/know about nose2 and py.test seems to do everything we need.

[2017-01-21 22:31] vedantrathore commented on #597
@kain88-de @jbarnoud I Found this [line](https://coveralls.io/builds/9782405/source?filename=miniconda%2Fenvs%2Fpyenv%2Flib%2Fpython2.7%2Fsite-packages%2FMDAnalysis%2Fanalysis%2Fpsa.py#L245), now I want to write a unit test for testing this line, How should I do that, I have already read the unit test doc, Just need some more clarifications

[2017-01-22 09:38] jbarnoud commented on #597
The line you point too appears in green on coverall. This means that the line is covered by the tests. In particular, I think it is covered by [`test_psa.TestPSAExceptions.test_get_path_metric_func_bad_key`](https://github.com/MDAnalysis/mdanalysis/blob/develop/testsuite/MDAnalysisTests/analysis/test_psa.py#L101).

[2017-01-22 10:03] vedantrathore commented on #597
@jbarnoud Is [this](https://coveralls.io/builds/9782405/source?filename=miniconda%2Fenvs%2Fpyenv%2Flib%2Fpython2.7%2Fsite-packages%2FMDAnalysis%2Fanalysis%2Fpsa.py#L579) line Okay?

[2017-01-22 11:14] jbarnoud commented on #597
@vedantrathore Yes. The whole function is untested; tests for this function should follow each branch (`i` out of bond, `j` out of bond, `i` and `j` in the expected range, `i` and `j` in the symmetric image of the matrix... For each branch, the function should raise the expected exception, issue the expected warning, or return the expected result.

There are also a few edge cases that could be tes

[2017-01-23 09:38] utkbansal commented on #1030
I'd like to work on this. Just to be clear, in `u.transfer_to_memory(start=4, step=4, stop=40)` I just have to add support for `start` and `stop` parameters. Right?

[2017-01-23 10:06] richardjgowers commented on #1030
@utkbansal rename `frame_interval` to `step` (it's not been released yet, so we don't have to deprecate etc) and add `start` and `stop`.  Make sure that the defaults are all `None` (including `frame_interval`) else backwards iteration etc won't work.  Then do a `git grep 'frame_interval'` and change references to step

[2017-01-23 10:11] utkbansal commented on #1030
@richardjgowers Thanks! I'm working on it. 😄

[2017-01-23 10:15] richardjgowers commented on #1175
So thinking about this, the only problem is that there is potential for the `rst` and `py` docs to diverge.

So one option would be to later implement doc testing on our first part/tutorial so that it always works as intended

http://doc.pytest.org/en/latest/doctest.html

[2017-01-23 10:24] richardjgowers opened #1185 "Add molecule unwrapping / nopbc utilities"
A commonly asked question is how to make molecules whole (ie undo PBC transformations.)

The only thing we currently have is [make_whole](https://github.com/MDAnalysis/mdanalysis/blob/develop/package/MDAnalysis/lib/mdamath.py#L270) which is pretty much hidden away anyway.

So things that need doing is:
 * add undo PBC support for orthogonal and triclinic boxes (`make_whole` only does ortho) as som

[2017-01-23 10:27] #982 closed

[2017-01-23 10:43] jbarnoud commented on #1185
I do not know if it should be in `mda.lib` as it deals with atom groups and we tend to avoid dependencies to other pieces of the library in `lib`. `make_whole` is already an alien on that respect. I would be file with some `mda.pbc` module.

I am all in favor of `AtomGroup.unwrap`. One of its use case would be to deal with odd boxes that gets transformed into triclinic boxes. The unwrap method wou

[2017-01-23 10:58] richardjgowers commented on #940
@kain88-de in PR #1164

[code]

[2017-01-23 11:09] kain88-de commented on #940
Looks good. This are better error messages

[2017-01-23 12:34] jbarnoud commented on #1185
(just mentioning `AtomGroup.wrap` for the sake of completeness.)

[2017-01-23 13:04] kain88-de commented on #1185
I would be for `mda.core.pbc` and `AtomGroup.pbc.unwrap`. That gives PBC the importance it deserves and having a special `.pbc` in the Atomgroup makes it easy to collect all functions with unwrapping/wrapping and should make them easier to discover for people new to MD simulations.

[2017-01-23 13:06] jbarnoud commented on #1185
@kain88-de sounds good to me.

[2017-01-24 05:30] orbeckst commented on #1185
I would like to have the following functionality in this (?) module that I have not seen anywhere else: superimpose by RMSD (align) and then cut out a centered and compact unitcell out of the inifititely periodic (rotated) lattice so that, e.g., density calculations always show a perfectly aligned unitcell (maybe changing in size due to pressure coupling).

(Also, if we were able to do the equival

[2017-01-25 10:44] richardjgowers opened #1187 "Using ABCs in MDAnalysis"
So we've currently got a few "template" style classes, such as [Reader](https://github.com/MDAnalysis/mdanalysis/blob/develop/package/MDAnalysis/coordinates/base.py#L1160) [AnalysisBase](https://github.com/MDAnalysis/mdanalysis/blob/develop/package/MDAnalysis/analysis/base.py#L154) and [TopologyAttr](https://github.com/MDAnalysis/mdanalysis/blob/develop/package/MDAnalysis/core/topologyattrs.py#L11

[2017-01-25 11:00] kain88-de commented on #1187
It would definitely be useful for our abstract classes. That way we can define which methods are absolutely needed.

[2017-01-25 11:48] jbarnoud commented on #1187
I encountered abstract classes a few times, yet I still fail to see the benefit compared to explicit inheritance. Maybe just because I did not need them yet. What would be the gain?

[2017-01-25 12:00] kain88-de commented on #1187
A pure abstract class can be used to define an interface. The benefit isn't clear in python directly due to the use of duck-typing (everything is kind of based on promises for certain interfaces). But here we can make use to enforce that a new Analysis that actually subclasses has to implement `_single_frame` or the code won't get imported. That is the important difference right now we throw a run

[2017-01-25 12:02] jbarnoud commented on #1187
It is enough for me to be convinced. Are there drawbacks, though?

[2017-01-25 12:04] kain88-de commented on #1175
Related I just found out that scikit-learn has a Circle-CI setup that uploads the changes for a document  build. This allows a reviewer to quickly check the result and give comments without building it himself.

https://8425-843222-gh.circle-artifacts.com/0/home/ubuntu/scikit-learn/doc/_build/html/stable/_changed.html

[2017-01-25 14:02] jmborr opened #1188 "In HydrogenBondAnalysis, include option to turn on periodic boundary conditions when searching for hydrogen bonds"
HydrogenBondAnalysis searches for acceptors and donors within a certain distance cutoff but does not take into account the case when the acceptor and donor are located on different sides of the periodic box. This will happen when searching for hydrogen bonds in the water solvent.

To prevent these bonds from being missed, include an option to turn on periodic boundary conditions when doing the sea

[2017-01-25 14:51] richardjgowers commented on #1188
WRT how to implement this @orbeckst has said that the real problem is that the distance and angle calculations shouldn't [live in the class itself](https://github.com/MDAnalysis/mdanalysis/blob/develop/package/MDAnalysis/analysis/hbonds/hbond_analysis.py#L992) but be imported from something like `lib.mdamath`.

Related issue #1185 where we talk about making a library for these sorts of calculation

[2017-01-25 14:53] jbarnoud commented on #1188
From a (very) quick glance at the code, I noticed two places where distances are calculated: one of them is in a selection strings that uses the 'around' keyword, that one takes PBC into account if I'm not mistaken; the other is using a custom distance method (https://github.com/MDAnalysis/mdanalysis/blob/develop/package/MDAnalysis/analysis/hbonds/hbond_analysis.py#L1002). Why not using the distan

[2017-01-25 14:54] richardjgowers commented on #1187
@kain88-de afaik the error is still at runtime, just at class instance creation https://pymotw.com/2/abc/#incomplete-implementations

@jbarnoud the reason I'm asking is there isn't a huge benefit, just it's more of a correct way of defining these template classes. The downside is that it adds another (probably lesser known?, albeit standard library) module into the mix that developers will have to

[2017-01-25 14:56] richardjgowers commented on #1188
The class methods are doing a single distance calculation, `lib.distances` does arrays of distances.

We don't actually have a function to do a single PBC distance calculation, which is why we end up with [weird code like this](https://github.com/MDAnalysis/mdanalysis/blob/develop/package/MDAnalysis/core/topologyobjects.py#L201)

[2017-01-25 14:58] jbarnoud commented on #1188
Maybe we should have one... That is a rather basic need, and I remember I wrote some ugly things like what you are pointing at.

[2017-01-25 19:08] MamtaMohan commented on #1116
Dear Max,

I tried the solution but I keep getting error that diffusionmap module not found.

I am not sure where I am going wrong.

I am listing all the information which I think you may require to tell me what is wrong with my setup.

Error:

In [7]: import MDAnalysis.analysis.diffusionmap as diffusionmap
---------------------------------------------------------------------------
ImportError

[2017-01-26 13:31] #466 closed

[2017-01-26 13:31] #940 closed

[2017-01-26 13:31] #1178 closed

[2017-01-26 16:26] richardjgowers commented on #1185
@kain88-de are you saying you want the method to be `ag.pbc.wrap` and `ag.pbc.unwrap`?  What would the `pbc` object be in that case?  I'm not against it, I was just thinking through how we would implement it, and what the pros/cons are

@orbeckst if the transformations applied were just a list, there's no reason why you couldn't chain them, so inside `Reader` somewhere:
[code]

[2017-01-26 21:27] #1078 closed

[2017-01-27 10:49] #1030 closed

[2017-01-27 12:05] richardjgowers opened #1191 "Benchmark & Trim unit test time"
We just had a build fail because we exceeded the allotted build time on travis (50 mins).

We *could* split our build into two halves, so we'd run minimal, full part A, full part B, but that's just messy and unnecessary imho.

I think it's probable that we've got a 90/10 situation, where 10% of the tests are taking 90% of the runtime.

So proposed plan:
 - benchmark the tests to find where we're s

[2017-01-27 12:23] kain88-de commented on #1191
https://gist.github.com/mahmoudimus/848183

This plugin should help find the slowest tests. I think pytest has something similar build in.

[2017-01-27 12:25] richardjgowers commented on #1191
Yeah I'm using [this](https://github.com/mahmoudimus/nose-timer) which is probably the same thing

[2017-01-27 12:38] richardjgowers commented on #1191
Ok so I *think* this is the top 20 tests, but I've got a few skipped locally so maybe I'm skipping longer tests, looking into it...

[code]

[2017-01-27 12:48] kain88-de commented on #1191
Can you make a special branch that only does the full build on travis? Then we see the timing of the tests on travis directly and are sure not to skip anything.

[2017-01-27 12:52] kain88-de commented on #1191
Actually what could make us overall slow is the constant creating and deleting of  universe objects. This means we have to do IO parsing over and over again of the same files. I'm sure the kernel will cache the files but we still have to pay the parsing cost. This would need to be carefully checked though.

[2017-01-27 13:04] richardjgowers commented on #1191
@kain88-de parsing things isn't great, and there's probably some savings we could make with nice pytest fixtures in the future, but it's also true there's better/worse systems to use repeatedly:

[code]

I'm also thinking that those timings are low enough that they could become small compared to some heavy numerical stuff, but I'll let the timing talk for itself :D

[2017-01-27 19:53] orbeckst commented on #1185
The transformation approach should be workable and looks very neat. Is this already available??

[2017-01-27 20:44] jbarnoud commented on #1185
Not yet. Le 27 janv. 2017 8:53 PM, Oliver Beckstein <notifications@github.com> a écrit :The transformation approach should be workable and looks very neat. Is this already available??

—You are receiving this because you commented.Reply to this email directly, view it on GitHub, or mute the thread.

[2017-01-27 21:13] orbeckst opened #1194 "make bare-bones readers MDAnalysis-independent"
**In the long run** it would be useful to move forward with making trajectory readers MDAnalysis-independent. @kain88-de  has already done this for the Gromacs XDR reader. What I mean by this is that someone else could, in principle, use `lib.formats` and then use it independently from MDA itself.

Why?

Because between MDAnalysis, mdtraj, pytraj, VMD … we are duplicating code and that's a waste o

[2017-01-27 21:17] dotsdl commented on #1194
I'm in favor of this. If we can at least get to the point where our Readers (and perhaps eventually Writers) are clearly decoupled from the rest of the library then we can make eventual splitting out easy if it's of interest to other packages. MDAnalysis then can remain as a library focused on a nice user interface as it always has.

[2017-01-27 21:17] dotsdl commented on #1194
Can help to reduce the maintenance burden of an always-increasing number of Readers on the MDAnalysis devs alone, too.

[2017-01-28 18:13] kain88-de commented on #1194
Btw this means that we have to be careful with contributions to these code-pieces now. If we want to have a separate library it can't have a copy-left license like the GPL, a BSD license would be more appropriate. We can only do this if we keep close tabs on the contributions.

Actually what we should do then is after the 0.16. release is to create a new python project that starts with the xtc for

[2017-01-28 18:30] utkbansal commented on #1027
Hi, I'd like to work on this.

[2017-01-28 22:44] orbeckst commented on #1194
Regarding licensing: the library could certainly have a GPL – that's a choice. It is true that this could potentially decrease adoption but consider that, for instance, mdtraj is LGPL.

Until we have a spirited discussion about this I agree with you: we need to keep good track of commiters that we could ask for a relicence if necessary.

[2017-01-29 04:46] utkbansal commented on #1027
From what I understand, a `MemoryReader` is used when `transfer_to_memory` is called on the `Universe` object , or when `in_memory=True` is given while instantiating the `Universe` object.

What I don't understand is

What I have seen in tests is something like this -
`Universe(PDB_small, DCD, in_memory=True)`

Is `ag.universe.filename` the `PDB_small` and `ag.universe.trajectory.filename` the `DC

[2017-01-29 07:37] shobhitagarwal1612 commented on #918
I would like to handle this error. I have understood what the bug is, but I am not sure where to start from. Please guide me.

[2017-01-29 09:23] jbarnoud commented on #1194
I do not care much about the license if it is open source. I know @mnmelo had opinions on the question, though.

[2017-01-29 11:22] jbarnoud commented on #918
Isn't this fixed already?

[code]

prints just as expected:

[code]

Or did I miss something?

[2017-01-29 11:24] jbarnoud commented on #918
It seems to be fixed by #1081. Sorry @shobhitagarwal1612, you will have to find an other issue to tackle 😃

[2017-01-29 12:10] shobhitagarwal1612 commented on #918
@jbarnoud
when i try runnnig `u.trajectory[99::-1]`
it throws the below exception

Shouldn't it return the complete list in reverse order according to the Python docs

[2017-01-29 12:32] jbarnoud commented on #918
@shobhitagarwal1612 Indeed! This is what I missed! I though I could close an issue for free...

We have our culprit here: <https://github.com/MDAnalysis/mdanalysis/blob/develop/package/MDAnalysis/coordinates/base.py#L1312>
I guess the function should return the right `start` and `stop` based on `nframes` rather than raising an issue. This will affect `AnalysisBase`, though; it is fine by me, but m

[2017-01-29 21:49] kain88-de commented on #1194
@orbeckst This would mean that only core developers can contribute to that part of the code right now. We have to be specific about that, otherwise it might be hard to track down people.

I checked the license, the LGPL will be ok for most projects since they can just separately install the library in python and load it in the python interpreter. This should also work for byte-compiled projects if

[2017-01-30 09:52] utkbansal commented on #516
@kain88-de could you explain what needs to be done here?

[2017-01-30 16:25] mnmelo commented on #1194
I think the FSF page ["Why you shouldn't use the Lesser GPL for your next library"](https://www.gnu.org/licenses/why-not-lgpl.en.html) neatly summarizes my stance on this matter. It clarifies the common attitude that is "If it's a library then it should be LGPL".

In my view the readers are no different from MDAnalysis' core functionality, and if the latter is only available to copyleft users, why

[2017-01-30 22:08] #1107 closed

[2017-01-31 06:00] utkbansal commented on #516
@kain88-de From what I understand, there are `BaseWriterTest` and `BaseReaderTest` classes in `base.py` and we need to subclass all our coordinates tests (`MDAnalysisTests/coordinates/`) from these two classes in order to remove redundant tests which are common to all formats.

What I don't understand is how to, if I need to, first generate the files that I have to test against (`MDAnalysisTests/d

[2017-01-31 08:46] jbarnoud commented on #516
@utkbansal The files are there already. They have been built with the software that usually generate them (simulation engines mainly). If I well remember, the test classes have a bunch of arguments to adapt to the content of the existing reference files.

[2017-01-31 08:49] utkbansal commented on #516
Okay, so which file should I start porting first?

[2017-01-31 08:53] jbarnoud commented on #516
Among the file formats, find one that you understand (the file format, not the code at first). Then see if you understand the code that you are going to test: the readers are critical parts of the code, but there is rarely to much dark magic in them.

I would suggest the GRO reader.

[2017-01-31 08:57] utkbansal commented on #516
Okay, so I know nothing about any of the file formats. What should I be reading, if say I start out with the GRO reader?

[2017-01-31 09:01] jbarnoud commented on #516
The GRO format is described [on the gromacs website](http://manual.gromacs.org/current/online/gro.html).

One caveat on what is on the page: the precision of the coordinate can vary; it is defined by the first atom line. If I well remember, the code is clear enough on that aspect.

[2017-01-31 09:03] utkbansal commented on #516
Okay, thanks. I'll send a PR when I'm ready with something.

[2017-01-31 09:04] kain88-de commented on #516
For each format that is added we need to generate a small test file that follows strict conventions that are tested. The conventions are listed in the [reference](https://github.com/MDAnalysis/mdanalysis/blob/develop/testsuite/MDAnalysisTests/coordinates/base.py#L100). You can have a look at the XYZ tests.

[2017-01-31 12:28] richardjgowers commented on #516
@utkbansal

https://github.com/MDAnalysis/mdanalysis/tree/develop/testsuite/MDAnalysisTests/data/coordinates

You'll need to create a new `.gro` file using the script in that directory, then add it to `datafiles.py`, then put the GRO file you created through the reference tests (similar to the XYZ tests below):

https://github.com/MDAnalysis/mdanalysis/blob/develop/testsuite/MDAnalysisTests/coordi

[2017-01-31 15:07] utkbansal commented on #516
@richardjgowers From what I understand by reading the code, the current `create_data.py` script creates `xyz`, `xtc` and `trr` files only. So will just adding `create_test_trj(u, 'test.gro')` to the `main` [function](https://github.com/MDAnalysis/mdanalysis/blob/develop/testsuite/MDAnalysisTests/data/coordinates/create_data.py#L31), create the equivalent `gro` file?

[2017-01-31 15:13] kain88-de commented on #516
yes

[2017-01-31 19:33] orbeckst commented on #187
Follow up at https://github.com/MDAnalysis/mdanalysis/pull/1155#pullrequestreview-19042172

[2017-02-04 20:38] vedantrathore commented on #884
I would like to work on this, I have some experience in writing tests with py.test and would love to contribute to mdanalysis repository. Can anyone guide me on where to start with this?

[2017-02-04 21:04] richardjgowers commented on #884
Before any coding on this starts, I think we need to compile a list of the
nosetests features we currently use that are incompatible with pytest. (the
plugins and test generators are two of the top of my head)

There might be a migrating help page out there if we're lucky..

On Sat, 4 Feb 2017, 8:40 p.m. Vedant Rathore, <notifications@github.com>
wrote:

[2017-02-05 05:55] shobhitagarwal1612 commented on #1093
I'd like to work on this.

[2017-02-05 06:08] shobhitagarwal1612 commented on #1093
I'd like to work on this.

[2017-02-05 08:12] utkbansal commented on #884
This might be useful. http://docs.pytest.org/en/latest/nose.html#nosestyle

[2017-02-05 11:10] kain88-de commented on #1093
@shobhitagarwal1612 That is nice. But I would like to wait with this. I'm not yet sure how to best implement this with the least amount of surprises by a user. Just cutting away frames from under them isn't nice. It would be good if @wouterboomsma  or @mtiberti could add their thoughts on the proposal since they have the most experience with the MemoryReader

[2017-02-05 11:43] wouterboomsma commented on #1093
I hadn't thought of this. It is indeed an interesting corner case. Two thoughts:
 1. the choice of `keep` as the method name is not entirely intuitive to me - at least, it doesn't immediately make be think that I'm throwing something else away. Perhaps `select` would be more accurate?
2. Since MemoryReader is basically a wrapper around a numpy array - are we sure that it is necessary to extend the

[2017-02-05 11:49] kain88-de commented on #1093
Well this affects possible all code/analysis that change the coordinates of the MemoryReader. At the top of my head only AlignTraj should do that. I'm not sure if some other analysis would do this as well.

[2017-02-05 13:21] wouterboomsma commented on #1093
Yes, I agree. If it is common to do in-place operations on subsets of the frames then it certainly makes sense to add this.

Adding this prioritises the frame dimension over the atom and coordinate dimensions (in the sense that we don't add slicing functionality to the API for those dimensions) - which is fine - I guess we have moved in that direction anyway with the default choice of 'fac'. But I

[2017-02-06 21:44] kain88-de commented on #884
I think the best start here is to create a wiki-page where we document several things

- the plugins we have and how they could be ported to py.test
- how many tests pass now with pytests
- what fails
- what idoms with examples in our testsuite fail
- where can we replace nose with pytest idoms

After this initial research is complete we can look into further work.

[2017-02-07 11:09] vedantrathore commented on #884
@kain88-de @richardjgowers I have created a wiki page. If there is anything you'd like to add or edit do tell me.

Link to page : [here](https://github.com/MDAnalysis/mdanalysis/wiki/Porting-tests-to-Pytest)
Link to google group discussion : [here](https://groups.google.com/forum/#!topic/mdnalysis-devel/uzTwpc8FiNs)

[2017-02-07 17:34] xiki-tempula opened #1199 "Single frame PDB writer"
I'm using on a software (coot) which only works on a single frame PDB file. This software doesn't like the line "MODEL         1" in PDB file so I want to write PDB files which don't contain this line.

I noticed that if I use PDBWriter to write PDB file directly and specifying the multiframe flag to be False, I can get the "right" file, which don't contain "MODEL         1". However, if I write f

[2017-02-08 02:49] ghoti687 opened #1200 "conflicting variable types in encore analysis"
I tried to perform encore analysis and encountered a bug. I loaded two GROMACS XTC trajectories and tried: `sim, details = encore.hes([u1,u2])`.

The bug occurs in line 872 in encore/similarity.py on: `ensemble.transfer_to_memory()`.
The function is defined in core/universe.py and the problem is the 'step' argument, which defaults to `None`. In line 468, this gets passed as `interval = step` to th

[2017-02-08 11:27] xiki-tempula commented on #1199
When loading PDB.py in the coordinate module, the classes are added to _SINGLEFRAME_WRITERS and  _MULTIFRAME_WRITERS by the _Writermeta meta class. However, since there are two classes in the PDB.py which has the format attribute, _Writermeta will be called twice. Since _Writermeta will attempt to add every thing into _SINGLEFRAME_WRITERS regardless of whether multiframe is true or not. The MultiP

[2017-02-08 11:32] richardjgowers commented on #1199
@xiki-tempula I've put up a fix at #1201 which should fix this for you.  You should be able to do `git checkout issue-1199-writerregistration` to try this branch.

The other issue here is that `AtomGroup.write` returns multiframe writers, when really it should preferentially choose a single frame writer surely?

[2017-02-08 11:53] xiki-tempula commented on #1199
@richardjgowers Thank you for your attention. I have made a quick and dirty fix to this problem without introducing other modifications. When MultiPDBWriter is created it overwrites the PDBWriter in the _SINGLEFRAME_WRITERS['PDB']. So I create a new class SinglePDBWriter which is identical to PDBWriter and is created after MultiPDBWriter. So SinglePDBWriter can overwrite the MultiPDBWriter for _SI

[2017-02-08 11:58] richardjgowers commented on #1199
@xiki-tempula yeah that's a nice quick and dirty fix :)

Writer registration doesn't **have** to happen inside the package even, so inside your scripts etc you could put

[code]
at the top and you'll do the overwrite.

[2017-02-08 12:00] xiki-tempula commented on #1199
@richardjgowers Thank you. I guess you are right.

[2017-02-08 12:02] richardjgowers opened #1203 "Multiframe Writers aren't all defined"
It seems like not all the Writers which should be registered as multiframe writers are properly defined, for example:
[code]

Going through the Writer list, it's probably just TRR and XTC that are missing this.  I think NULL should work in a Multi-like way too?

[2017-02-09 16:07] jbarnoud commented on #1200
The way the code is written now, the `ProgressMeter` would work as expected if it were instanciated with `interval=1`.

[2017-02-09 16:43] jbarnoud commented on #1200
@ghoti687 Thank you for the very precise bug report. I wrote a very quick fix in the pull request #1204, it still needs to go through review (even though it may be the shorter fix in the project history) but you can already try it by using the branch "issue-1200-progress-transfer".

[2017-02-10 12:41] #918 closed

[2017-02-10 13:55] #1200 closed

[2017-02-10 15:22] jbarnoud commented on #1200
@ghoti687 The fix got merged. Hopefully your problem is solved in the current state of the code.

[2017-02-12 17:50] kain88-de commented on #1191
The test time of the PCA test can be reduced when all tests use a single PCA instance instead of each one recreating the instance and running the analysis again. This can be done with a pytest fixture when we move to pytest. See #884

[2017-02-12 19:36] kain88-de commented on #1185
My thought was to use this as a namespace rather then an object itself. I would group the pbc operations nicely. There we could also add a `ag.pbc.type` to guess the box type. We don't need to do that. I just thought it would be nicer for students who start using md simulations and the ag object itself appears less crowded for the user. Then we should also think about adding distance functions as

[2017-02-12 20:29] dotsdl opened #1205 "Group classes should be part of the Topology object"
Under the new topology system, it is possible to add new `TopologyAttr` objects to an existing `Topology`, which could give new features to the atoms, residues, or segments in the topology. Although the interface for this functionality at the `Universe` level is incomplete (can be done with `Universe.add_TopologyAttr`, but not obvious how to use it or well-documented), the idea here is additional

[2017-02-12 21:16] mnmelo commented on #1205
I like the idea. Then `Universe._classes` and `Universe._class_bases` would move to `Universe.topology`. I think it makes more organization sense too.

I don't see any immediate problems and say let's do it!

[2017-02-12 22:59] richardjgowers commented on #1205
Yeah without digging into code, my feeling is it might be a lot neater. The
generation of classes could even be done by the Topology.

It might be we might have to make u.top a first class attribute (similar to
traj). But thats probably good anyway to show the data structures clearly.

On Sun, 12 Feb 2017, 9:16 p.m. mnmelo, <notifications@github.com> wrote:

I like the idea. Then Universe._classes

[2017-02-13 08:11] jbarnoud commented on #1185
I agree with @kain88-de idea. The name spaces of groups and universes start to be rather crowded, splitting them in categories would make attributes and methods easier to discover. It would also make the documentation easier to both write and read.

[2017-02-13 10:26] richardjgowers commented on #1185
So the tidy namespace is nice, but is there any precedent for having an attribute whose methods affect the original instance?  Ie

[code]

I don't want to start doing weird things with the language that aren't normally done

[2017-02-13 10:46] richardjgowers commented on #1205
I put together a PR of what it would roughly look like.  I like having `Topology` store and manage the `Group` objects.

To play devils advocate, the alternative to @dotsdl 's original problem is to have some sort of master/slave arrangement with the Universes, where any cloned Universe instances don't have full control on adding/removing Attributes, so are essentially read only Universes (wrt top

[2017-02-14 16:16] #1199 closed

[2017-02-14 16:16] #1203 closed

[2017-02-15 04:31] hainm opened #1209 "require mspack?"
hi, seems like "mspack" is hard requirement for `MDA`?

[code]

I used e45493d45ab0abd9a279a4b6554b61a3f07291ae.

[2017-02-15 10:03] richardjgowers commented on #1209
msgpack is a requirement of mmtf which we recently started requiring.  [We've defined mmtf as a requirement](https://github.com/MDAnalysis/mdanalysis/blob/develop/package/setup.py#L513), doesn't that also implicitly make any requirements of mmtf also a requirement?

[2017-02-15 10:15] kain88-de commented on #1209
Is there a reason why we shouldn't want msg pack as a requirement?

[2017-02-15 13:20] hainm commented on #1209
Seems to me that installing MDA via
python setup.py install

won't install mspack.

Hai

[2017-02-15 13:59] richardjgowers commented on #1209
@hainm how are you trying to install it? I've tried the following and they both work:
[code]

And somewhere in the setup log is:

[code]

[2017-02-15 14:02] hainm commented on #1209
[code]

I am in `develop` branch.

[2017-02-15 14:08] hainm commented on #1209
on macos.

[2017-02-15 19:06] orbeckst commented on #1209
I tried it in a fresh (non-conda) virtualenv on Mac OS X 10.11.6 (with Macports):
[code]

Works for me, too
[code]

The install output shows that msgpack is downloaded externally:
[code]

[2017-02-15 19:29] hainm commented on #1209
cool. Then I am not sure why I got the error. So I go ahead closing this issue.

PS: The reason I tried `MDA` because I was trying this package (that used `MDA`).

https://github.com/kbsezginel/Moleidoscope
cheers

[2017-02-15 19:36] orbeckst commented on #1209
Interesting. Thanks.

I'm curious to hear if you find out why msgpack did not install for you.

[2017-02-15 19:37] hainm commented on #1209
ok. I will keep you in the loop.

[2017-02-15 19:44] hainm commented on #1209
Uhm, I actually have no idea why.  I tried again. This time I 'git clean -fdx' and remove all the related files, things just worked. :D

[2017-02-15 19:44] #1209 closed

[2017-02-15 20:00] kain88-de commented on #1166
@utkbansal do you still have problems with numpy 1.12 ? My conda packages have recently been updated and first test showed me that everything worked with the new version.

[2017-02-17 03:46] macraild opened #1211 "density_from_Universe with soluteselection and cutoff fails"
### Expected behaviour
[code]

should return a density map of the atoms in atomselection that are within cutoff of soluteselection

### Actual behaviour
Traceback (most recent call last):
[code]

### Code to reproduce the behaviour

[code]

### Currently version of MDAnalysis:
0.16.0-dev0

From a quick look at the code, I guessed that `ns_w.search_list()` should be `ns_w.search()`

Making that cha

[2017-02-17 08:42] kain88-de commented on #1191
BTW travis allows to cache some parts of the test environment. It might be good to cache the miniconda installation. That would save a minute or so

[2017-02-17 10:10] lohani2280 opened #1212 "Small typo error in wiki-page: https://github.com/MDAnalysis/mdanalysis/wiki/Setup-Development-Environment"
### Expected behaviour
[code]
### Actual behaviour
[code]

### Code to reproduce the behaviour

[code]

### Currently version of MDAnalysis:
(run `python -c "import MDAnalysis as mda; print(mda.__version__)"`)

[2017-02-17 10:17] lohani2280 commented on #1212
I am a newcomer here and while i was going through the wiki-page to setup my development environment for MDAnalysis i found this small typo error.

[2017-02-17 10:33] kain88-de commented on #1212
@lohani2280 should be able to edit the wiki yourself. It would be nice if you can do that thanks.

[2017-02-17 10:53] lohani2280 commented on #1212
@kain88-de I made the correction. Thanku.

[2017-02-17 10:53] #1212 closed

[2017-02-17 15:20] lohani2280 commented on #1211
I am a newcomer here and i would like to get assigned to work on this issue. Any suggestions are welcome!!

[2017-02-17 15:44] kain88-de commented on #1166
I'm closing  this. I now have numpy 1.12 builds of mdanalysis and everything still runs fine.

[2017-02-17 15:44] #1166 closed

[2017-02-17 17:28] orbeckst commented on #1211
You can submit a PR, just mention #1211 in the PR.

I can't formally assign you to the issue because you were not the one who opened it and you're not a contributor yet (you will become one with the first merged PR). However, that's not an issue – if we you want to contribute, submit a PR, and people will start communicating with you through the review process of the PR.

[2017-02-17 23:29] #1162 closed

[2017-02-18 12:04] utkbansal commented on #1166
@kain88-de Works on mine too.

[2017-02-18 16:53] orbeckst commented on #1175
From the scikit-learn example that @kain88-de linked I found out about http://sphinx-gallery.readthedocs.io , which allows one to make nice docs from small scripts. Maybe worthwhile looking into in conjunction with the proposed examples gallery MDAnalysis/MDAnalysis.github.io#4 .

[2017-02-19 06:05] orbeckst commented on #1185
I find the namespace a bit weird because of https://github.com/MDAnalysis/mdanalysis/issues/1185#issuecomment-279347827 and because it mostly seems to be the equivalent of setting `pbc=True` on methods: Are we going to have `ag.centroid()` and `ag.pbc.centroid()` where the latter is just `ag.centroid(pbc=True)`?

Is there precedent elsewhere for this approach?

`numpy.ndarray` is a prime example o

[2017-02-19 07:36] jbarnoud commented on #1185
When it comes to an object having side effects on its parents, we have the precedent of our own `Universe` and its `Universe.trajectory`.

I do not see the problem with having `ag.pbc.centroid` being a shortcut to `ag.centroid(pbc=True)`. The way I see it, the main point of having the namespace it that a user can start typing `ag.pbc.` abd discover everything we have about periodic boxes by trigge

[2017-02-19 13:24] kain88-de commented on #1185
About the namespace. It's only about documentation and discoverability of the different PBC options. For someone new to MD simulations `wrap` won't have much meaning, placing it in a namespace called `pbc` will make the meaning clearer.  But yes this isn't a clean approach in python since I can assign `pbc = a.pbc` where it isn't clear how to propagate changes, this is to much cause for confusion

[2017-02-19 13:49] richardjgowers commented on #1185
We can do the traj transformation on the fly as an auxiliary

On Sun, 19 Feb 2017, 1:24 p.m. Max Linke, <notifications@github.com> wrote:

[2017-02-19 15:24] jbarnoud commented on #1185
@richardjgowers We need to be careful not to apply the transformations several times when the trajectory is on memory, though.

[2017-02-19 17:51] richardjgowers commented on #1185
@jbarnoud thinking about it, `MemoryReader` is a very strange case to the Reader model, as any modifications to positions are permanent (by design).  Every other reader you can manipulate the positions then "undo" it by loading the frame again.

[2017-02-19 22:36] orbeckst commented on #1185
In principle it would be convenient if we could add transformations to change how a universe reads a traj because then the user can easily move 'virtual' (on the fly generated) trajectories around and use them in the standard analysis framework. The MemoryReader is already a step in this direction. This could open up many new and concise ways to do analysis.

A downside seems to be the additional

[2017-02-23 09:35] jbarnoud opened #1217 "Reactivate OSX tests in travis"
With #1216, we deactivated the Travis tests for OSX. The tests were erroring already for a long time so that they were "allowed to fail".

Ultimately, the travis tests on OSX should be fixed and reestablished.

[2017-02-23 09:58] kain88-de commented on #1217
The error was simple. We set the language to python which starts a apt-install script that will fail for OSX. Setting the language to generic should fix the build

But like I mentioned in the PR the OSX resources on travis are limited to 128 runners with a regular backlog of 1000 builds for the OSX queue.  The questions is what tests to we really need on OSX that aren't equally done by the linux b

[2017-02-23 11:04] richardjgowers commented on #1217
I'd like at least the full build. The chances of the build failing are low, but it has happened on this project before.

[2017-02-23 12:23] richardjgowers commented on #1217
I did try and get OSX working in #1148 by setting the build language to default/ruby but it didn't immediately work, I can't remember the error it gave though.

https://github.com/conda/conda/blob/master/utils/travis-bootstrap-conda.sh#L18

This looks like a way to generically install conda on either mac or linux on Travis which might work.

[2017-02-23 12:40] kain88-de commented on #1217
We don't have problems installing conda on osx. Setting the language to generic should be enough. But  I'm saying again that OSX resources are limited. Once the OSX builds take 40 min we might also be getting less priority in the queue resulting in CI taking 12h and more since we need to wait that long for travis to give us a osx worker.

[2017-02-24 04:28] Akshay0724 commented on #731
I'm taking this up. Thanks

[2017-02-24 12:22] kain88-de commented on #1194
mdtraj for example is licensed with a LGPL.  They can't use a GPL code without re-licensing all of their code. I'm fairly certain they don't want to do that, as to other projects like pyemma (LGPL) who depend on it.

So a LGPL seems more appropriate for such a module.

[2017-02-24 16:27] orbeckst commented on #1194
Yeah, probably LGPL.

[2017-02-24 19:40] jp43 opened #1219 "Can't get the position of atoms when loading a simple PDB file with kwarg "format""
### Expected behaviour

import MDAnalysis
u = MDAnalysis.Universe('start.pdb', format='pdb')

ligand = u.select_atoms('resname LIG')
print ligand.positions

[[  0.52499998 -14.05200005   6.47700024]
 [ -0.42699999 -13.18900013   7.6500001 ]
 [ -0.33000001 -14.24300003   5.49399996]
 [  1.85300004 -14.43700027   6.54300022]
 [ -1.92999995 -13.13799953   6.70800018]
 [ -1.55900002 -13.79899979   5.5

[2017-02-24 21:23] richardjgowers commented on #1219
Thanks for the report, this is a strange one, it ended up being because lower case characters were used in the format= string. If you do `format='PDB'` it should work again.

@jp43 can you confirm that using upper case fixes this for you?

I've checked the current development branch and we've accidentally fixed this bug, so it's already fixed. I'll push some tests that we should have had before.

[2017-02-25 09:26] #731 closed

[2017-02-25 09:34] Akshay0724 commented on #731
Thanks for merging.

On Feb 25, 2017 2:56 PM, "Richard Gowers" <notifications@github.com> wrote:

[2017-02-25 15:07] #1219 closed

[2017-02-28 07:02] orbeckst opened #1221 "bring back expressive repr for Atom, Residue, Segment"
Pre-new topology I could easily see what atoms and residues I selected by just looking at the `repr` of a `Atom` or `Residue`. That was very useful to me when doing interactive work. With the new topology system, only index numbers are shown. This is not very helpful.

We might have had a discussion about this (can't find it, though) but I now realize that the explicit representation was a rather

[2017-02-28 08:45] richardjgowers commented on #1221
I think it's just we haven't reimplemented it yet rather than it was
ditched.

With the Group reprs, I think we wanted ndarray style truncation for large
groups

On Tue, 28 Feb 2017, 7:02 a.m. Oliver Beckstein, <notifications@github.com>
wrote:

[2017-02-28 08:55] orbeckst commented on #1221
That would be nice!

[2017-02-28 13:57] richardjgowers opened #1223 "Smart Reprs for Groups"
In PR #1222 we fix the `repr`to match old behaviour, but this  makes `Residue/SegmentGroup` representation a little long as it will *always* print the repr of each member:

[code]

TODO:
 - Implement both `__str__` and `__repr__` for `AtomGroup`, `ResidueGroup`, and `SegmentGroup`.  Ideally this is done in a generic way in `GroupBase`
 - `__repr__` is to be short and terse (similar to how AtomGrou

[2017-02-28 16:47] orbeckst commented on #1223
I like your proposal
- `≤ 10` items: show full
- `> 10` items: show first three and last three

For `AtomGroup`: for consistency showing `Atom` reprs in the same way would be good although I also like the quick overview over how many items there are.

In fact I would also be fine with the following:
- For all `Group` instances, just show a summary repr such as `<AtomGroup with N atoms>` or `<Resid

[2017-02-28 17:00] dotsdl commented on #1223
@orbeckst can we do ``__repr__`` giving the summary like ``<AtomGroup with N atoms>`` and ``__str__`` giving the list of representations with compacting? This way one can always do ``print(ag)`` to get a more detailed picture.

``list(atomgroup)`` should do what ``list(<iterable>)`` would be expected to do: give a list of individual ``Atom`` objects in order represented in the ``AtomGroup``. Not s

[2017-02-28 17:09] orbeckst commented on #1223
Compact `repr` and smart extended `str` sounds good to me. If `list()` always work (i.e., the items have good `repr`) then I am happy. `array` was an afterthought (mainly so that we don't have to think about smart representations...).

[2017-02-28 18:38] Akshay0724 commented on #516
I would like to work on some parts of this issue.
But before starting work please clear that does further work in this issue needs to be done after merging of #1196?

[2017-03-01 11:33] richardjgowers commented on #1223
Yeah I like the use of `repr` being terse and like current AG, and `str` being longwinded like the current RG.  Single item `repr` can be long too

[2017-03-01 18:39] #1221 closed

[2017-03-02 15:21] #1223 closed

[2017-03-03 22:24] jbarnoud commented on #516
@Akshay0724 The classes that read and write coordinates are tested in a non consistent way. We would like them to be tested consistently with tests based on the `BaseReaderTest` and `BaseWriterTest`. If you want to work on this issue, the first step is to choose a file format, to understand how it works, and to understand the code that manipulates it. Then you can look at the tests and write a new

[2017-03-04 09:30] jbarnoud opened #1227 "Universe do not have a trajectory when built from a core.topology.Topology object"
### Expected behaviour

The Universe pretends to accept an instance of `mda.core.topology.Topology` as topology instead of a file.

### Actual behaviour

`Universe.filename` is set to `None` in `Universe.__init__` at [line  226 of `core/universe.py`](https://github.com/MDAnalysis/mdanalysis/blob/develop/package/MDAnalysis/core/universe.py#L226). As a result, `Universe.load_new` does not know what

[2017-03-04 18:19] kash1102 opened #1229 "tests for indexError exception in hbond_analysis.py file #597 (https://github.com/MDAnalysis/mdanalysis/issues/597)"
https://coveralls.io/builds/10401476/source?filename=miniconda%2Fenvs%2Fpyenv%2Flib%2Fpython2.7%2Fsite-packages%2FMDAnalysis%2Fanalysis%2Fhbonds%2Fhbond_analysis.py#L775

approach is to make the index out of range

    def test_get_bonded_hydrogen_list(self, **kwargs):
    	kw = self.kwargs.copy()
        kw.update(kwargs)
        h = MDAnalysis.analysis.hbonds.HydrogenBondAnalysis(self.universe,

[2017-03-04 18:50] jbarnoud commented on #1229
It seems you tried to write the body of your issue in the title. Could you please reformat the issue so we can get the content?

[2017-03-04 18:57] kash1102 commented on #1229
@jbarnoud  basically testing for exception IndexError in hbond_analysis.py

[2017-03-05 19:43] kash1102 opened #1231 "Testing for exception in file density.py , Class Density(object), funciton : _check_set_unit(self, u) (as per issue #597)"
Part of #597 ; specifically testing for exception  KeyError and AttributeError.

Approach

1. for KeyError simply put some other key in dictionary other than length and density (put 'weight' as key)
2. for AttributeError give arrays as input instead of dictionary.

[2017-03-06 10:23] #1227 closed

[2017-03-06 11:29] richardjgowers commented on #1211
Hey @macraild thanks for the detailed report, - it really helps,  I've fixed a few things you've found.  With the cutoff problem, were you seeing that the value of cutoff didn't seem to make any difference?

[2017-03-06 11:47] kash1102 commented on #1229
@jbarnoud @richardjgowers  could you please look into my code and give me some inputs whether it is fine or do i need to change it, I have made 2 test functions for exception raised (referring to issue #597), also did a pull request.Any inputs on this would  be appreciated.
Thanks :)

[2017-03-06 15:02] #942 closed

[2017-03-06 23:40] macraild commented on #1211
Hi @richardjgowers ,
That is certainly what I reported. But looking again at the code and docs now, I realise I had completely misunderstood the expected behaviour. From my initial report:
"should return a density map of the atoms in atomselection that are within cutoff of soluteselection"
but in fact the documented behaviour is atoms in atomselection that are **not within** cutoff of soluteselect

[2017-03-07 20:00] orbeckst commented on #1211
The use case is generating a "bulk" density. It was special cased because of performance reasons.

[2017-03-07 20:02] orbeckst commented on #1211
How should we phrase the docs to make this clearer?

[2017-03-07 22:02] macraild commented on #1211
I'm not sure I can help there, @orbeckst - the docs look abundantly clear to me now. This was just a case of confirmation bias - I was looking for a specific functionality, and it was all to easy to find a set of kwargs that looked to do what I want and to miss the critical 'not' in a quick read of the docs. Because I'm interested in something other than solvent density in this case, bulk density

[2017-03-08 00:35] macraild commented on #1211
For me, after #1232 the code to reproduce above gives:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/vcp1/people/macraild/progs/MDAanalysis_devel/mdanalysis/package/MDAnalysis/analysis/density.py", line 472, in density_from_Universe
    u, groupselection, soluteselection, cutoff,
NameError: global name 'groupselection' is not defined

Looks like 'groupselection

[2017-03-08 00:36] orbeckst commented on #1211
... hm, looking into it.

[2017-03-08 00:39] orbeckst commented on #1211
Yes, ... will fix and add proper test case.

[2017-03-08 11:19] #1211 closed

[2017-03-08 11:27] #1231 closed

[2017-03-08 11:52] richardjgowers commented on #726
@jbarnoud did some cool code here:

https://github.com/jbarnoud/mdanalysis/commit/63c1f2bdab7f9a806bb3b79be55a3cd5c538b162

Should we add these directly as Group methods? Or have a `setoperations` submodule in MDAnalysis?

[2017-03-08 13:41] #921 closed

[2017-03-08 23:58] orbeckst commented on #1191
I think we need to take a shot at this soon because we now get the occasional "killed because of time on travis exceeded".

[2017-03-09 10:19] #1182 closed

[2017-03-09 13:22] markroxor commented on #597
There has been a significant stir about this issue. Does this issue still need fixing?

[2017-03-09 16:28] orbeckst commented on #597
Issue #597 is a "catch all" issue: it asks for tests that test exception handling in the code (see the discussion at the top of the issue). Yes: it still needs fixing.

Open a new issue for a specific piece of code that needs a test, reference #597 in that issue report, and then specific discussions can be confined to your issue report. You would then submit a PR that references your issue.

[2017-03-09 16:37] richardjgowers commented on #1074
So with `UpdatingAtomGroup`s now a thing, is there anything a string argument can do that an `AtomGroup` (possibly updating) can't do?  If not, is it a good idea to try and push towards going fully OO and recommend using AG as arguments rather than strings?

[2017-03-09 16:46] orbeckst commented on #1211
@macraild I updated the docs a bit with some examples that hopefully make `soluteselection` and `cutoff` a bit clearer: see [MDAnalysis.analysis.density.density_from_Universe](http://www.mdanalysis.org/mdanalysis/documentation_pages/analysis/density.html#MDAnalysis.analysis.density.density_from_Universe), in particular the *Examples* section.

There's also an example for how you can get the solven

[2017-03-09 22:46] macraild commented on #1211
Thanks @orbeckst. I've had the 'around' selections working. Though as noted [here](https://groups.google.com/forum/#!topic/mdnalysis-discussion/8Gl_HwM2Hy8) this doesn't handle the edge case of updating selections that are empty for some frames.

[2017-03-11 14:10] kash1102 commented on #517
hello all, I am interested in solving this issue as much as i understood we need to take **atoms** as argument in coordinates/core.py int function writer instead of n_atoms  and this atom argument can be of 3 type 1. atomgroup 2. universe 3. int. and in writer class we have to extract n_atoms by code given by @kain88-de  or slight modfication of code.
Thanks any inputs on this will be appreciated

[2017-03-11 16:00] kain88-de commented on #517
First we need to make sure that all writers use the same API. This means they all should use the same base tests see, #516.

[2017-03-12 11:09] kain88-de commented on #1022
I noticed today (after around one hour of debugging) that this change broke `alignto` and `AlignTraj` when we align an a selection instead of the whole protein. The problem is that `align.rotation_matrix` returns a matrix that assume the rotation is done around a point centered at `(0,0,0)` in the lab-system. Which was the old behavior when `rotate` is used. Since this is a very subtle change whic

[2017-03-13 16:40] mnmelo commented on #1191
Also, @richardjgowers, has the testsuite been thoroughly checked yet for use cases of `MDAnalysisTests.make_Universe` instead of file-based Universes?
You pointed out the use of `MDAnalysisTests.make_Universe` to me in a PR once, and it sure does make a difference!

[2017-03-13 21:47] richardjgowers commented on #1191
@mnmelo not really no.  I think I'm just trying to nudge people towards using `make_Universe` rather than forcing its use.  With this issue, the two GNM tests are (390 & 90s) = 8 minutes.  If we could rewrite those tests to use a small slice of traj and make them ~1 min in total I'd consider this issue fixed.

https://travis-ci.org/MDAnalysis/mdanalysis/jobs/209329018#L1369

[2017-03-14 01:13] orbeckst commented on #1191
The TestGNM class already uses GRO, XTC, which is only 10 frames. We could try reducing it to 3 frames.

However, I think a lot could be done by mininal cleaning up of `analysis.gnm.GNMAnalysis`. I see a pure python implementation of cell grid search; I am not sure if that is competitive with just `distance_array`. IIIR this code was used for viruses a long time ago so there can be sizable number

[2017-03-14 10:46] richardjgowers commented on #1191
@orbeckst yeah I didn't want to rewrite this to use `distance_array` because then it technically scales worse, and maybe someone out there is happily(!?) using it to analyse their huge systems.   But yeah, can be cellgrid'd once we've got that included in MDA.

[2017-03-14 16:48] orbeckst commented on #1191
Then maybe we just run tests on three frames and at least cut down times to 1/3? Still has room for improvement but would be a quick band aid fix.

--
Oliver Beckstein
email: orbeckst@gmail.com

[2017-03-14 17:24] kain88-de commented on #1191
Isn't it possible to reduce the system size and use only 10 atoms?

[2017-03-15 23:25] #726 closed

[2017-03-16 17:52] #1022 closed

[2017-03-16 18:22] orbeckst opened #1243 "enable "auto cancel pushes" on Travis"
Travis announced **Auto Cancellation : Get faster results by only testing your most recent build**  travis-ci/beta-features#8 as beta feature.

[Discussion on the dev list](https://groups.google.com/d/msg/mdnalysis-devel/eUe4N_RKrX4/mxZTjKLXBQAJ) says that we want to enable this feature as soon as possible to reduce queue time in frequent builds/pushes.

Some repos are already using the feature (e

[2017-03-16 21:12] kain88-de commented on #1243
I'll send them a message to the support email.

[2017-03-17 12:01] kain88-de commented on #1243
I've just enabled the feature on travis for pull requests and pushes to local branches. They've asked for feedback about the feature on the issue @orbeckst linked above.

[2017-03-17 12:07] jbarnoud opened #1244 "NDX selection writer make surprising use of the `mode` kwarg"
### Expected behaviour

In the following snippet, I expect all the groups to be written in the index file:

[code]

The `mode` keyword argument refers to the mode the file should be open in. I want a new file to be created so I can write on it, so I set the mode to `w` (`wa` by default, but I want a new file!).

### Actual behaviour

Only the last group is written in the resulting file. It looks l

[2017-03-17 14:05] richardjgowers commented on #1244
Yeah looks like the file handle gets opened in the `write` method, it should get done in `__init__`

[2017-03-17 16:16] orbeckst commented on #1243
Awesome – the settings are now on our settings page and enabled.

[2017-03-17 16:16] #1243 closed

[2017-03-17 17:19] jbarnoud commented on #1244
Just moving the open in `__init__` may break some usage. Shall we have the writers behave differently when they are a context manager and when they are not?

[2017-03-17 17:59] mnmelo commented on #1244
@jbarnoud, wouldn't your desired behavior be obtained by `mode="wa"`?

Note that I don't agree with that solution either, because the current allowed write modes `"w", "wa", "a"` are not pythonic. Like you, I'd also expect `"w"` to behave as overwrite-on-creation-then-append (therefore making our `"wa"` mode unneeded).

In other words: our overwrite-on-every-write mode has no parallel in python's

[2017-03-17 18:04] richardjgowers commented on #1244
I really highly doubt someone is using the current write behaviour to
repeatedly overwrite a file, I'd just patch it so JB's code works

On Fri, 17 Mar 2017, 5:59 p.m. mnmelo, <notifications@github.com> wrote:

[2017-03-17 18:11] mnmelo commented on #1244
But it's what the docs say. The use-case was apparently intended at some point:
[code]

I'd then also vote to get rid of `"wa"` since it'll now behave the same as `"w"`, right? And getting rid of `"wa"` brings us in line with proper pyhtonic behavior.

[2017-03-17 18:17] jbarnoud commented on #1244
On 03/17/2017 07:11 PM, mnmelo wrote:

After further look, it seems that 'wa' is doing what I wanted. But as
mentioned it is not what we expect in python.

I do not know how nor how much used the feature is. I plan to get rid of
'wa' any way and make the whole thing look more like files.

[2017-03-18 01:22] orbeckst commented on #1104
As a followup to PR #1245 : also show how to use the more pythonic `SelectionWriter`, e.g. (from #1244 ):
[code]

[2017-03-18 01:29] orbeckst commented on #1104
Alternatively, use the AtomGroup's `write()` method with the proper file extension (".ndx") for a Gromacs index file:
[code]

Perhaps not as pretty because one needs to take care of choosing the proper mode arguments.

[2017-03-18 01:34] orbeckst commented on #1104
Supporting https://github.com/MDAnalysis/mdanalysis/issues/1104#issuecomment-264794420 wouldn't be hard by just adding a generic `write()` function to each selection writer module:
[code]

Question is if we want to advertise **three* different ways to do essentially the same thing.

[2017-03-18 09:17] jbarnoud commented on #1104
@orbeckst I do not mind having the `write` function you propose, Yet, I fail to see more than a very marginal  gain compared to the two other methods we have. Maybe I am not using the feature often enough, or maybe I am too use to the current way.

Would there be a way to have the function in every module without copy pasting it everywhere?

[2017-03-18 18:09] orbeckst commented on #1104
I'm not super keen on this function but @kain88-de suggested it in the comment that I linked. I don't know if he changed his view after seeing the more pythonic use if the context manager.

--
Oliver Beckstein
email: orbeckst@gmail.com

[2017-03-18 20:35] kain88-de commented on #1104
I'm ok with the new method. It fits the trajectory writer pattern.

[2017-03-18 21:19] #1244 closed

[2017-03-19 11:31] jbarnoud opened #1246 "Doc for keyword *bonds* of PDBWriter is wrong"
The documentation of `PDBWriter.__init__` tells:

[code]

This is in contradiction with the signature of the signature that tells that the default value for the argument is `"conect"`. It is also in contradiction with the code of `PDBWriter._write_pdb_bonds`:

[code]

[2017-03-19 13:26] jbarnoud opened #1248 "density_from_Universe does not work with the MemoryReader"
### Expected behaviour

`density_from_Universe` creates a `Density` object from an Universe that use the MemoryReader.

### Actual behaviour

`density_from_Universe` calculate the density, but fails to create the resulting object as it is missing a filename to write as metadata.

### Code to reproduce the behaviour

[code]

[code]

### Currently version of MDAnalysis:
(run `python -c "import MDAna

[2017-03-19 13:36] richardjgowers commented on #1248
I think `MemoryReader.filename` came up before, because things like this might happen.  Not sure what our Reader API states exactly, but maybe MemoryReader should have a default value of something like `MEMORY`

[2017-03-19 13:45] kain88-de commented on #1248
See #1027

[2017-03-19 14:06] jbarnoud commented on #1027
Todo:
* [ ] Add a `filename` attribute in the `MemoryReader`, set it to `None`
* [ ] in `transfert_to_memory`, set the `filename` attribute
* [ ] test that the `filename` attribute of a `MemoryReader` instance built from an array is `None`
* [ ] test that the `filename` attribute of a `MemoryReader` instance built *via* `transfer_to_memory` is the same as the source filename

@utkbansal Are you st

[2017-03-19 14:41] richardjgowers commented on #1027
I've moved the Issue goals into the main body of this issue so it's all in one (easy to find) place.

Is it safe to have `MemoryReader.filename` return two different types? (`None` or str).

[2017-03-19 14:46] jbarnoud commented on #1027
@richardjgowers It might break in a few places. But these places probably break already without us knowing. Anyway, it is better to have the API clearly defined so the rest of the code can adapt. Also, an attribute being `None` when not relevant looks rather common in python.

[2017-03-19 14:49] richardjgowers commented on #1027
Yeah it's definitely an improvement, just wondering if it's the best
solution. As long as we document in the API that the attribute might be
None then it's OK

On Sun, 19 Mar 2017, 2:46 p.m. Jonathan Barnoud, <notifications@github.com>
wrote:

[2017-03-19 14:57] utkbansal commented on #1027
@jbarnoud Sure, I'm happy to work on this.

[2017-03-19 15:09] kain88-de commented on #1027
Is this also the correct solution if we change the underlying numpy arrays? I commonly write code to clone a universe like this `u = mda.Universe(other.filename, other.trajectory.filename)`. I'm ok with this throwing an error due to a `None` value. But I'm concerned about the silent bug I get when this loads the original trajectory and not makes a copy of the memory reader. Maybe this is a sign we

[2017-03-19 16:34] jbarnoud opened #1249 "Add a method to copy a Universe"
This issue follows a comment by @kain88-de: https://github.com/MDAnalysis/mdanalysis/issues/1027#issuecomment-287622960

Copying a `Universe`, while is looks easy, can go wrong in multiple ways. When copying a `Universe`, one must think about, at least, these things:
* was the topology built from a file or not? If so, a new topology can maybe be built from the original file.
* was the topology mod

[2017-03-19 20:28] richardjgowers commented on #1249
A lazy first effort (and probably valid for most cases) would be to read filenames and just recreate a Universe off those files, but a much better and rigorous approach is to properly copy the potentially modified objects.

Another thing to bear in mind is whether we're doing deep copies or shallow copies of things.  This will be most notable when dealing with numpy arrays, and are we copying a vi

[2017-03-19 21:10] kain88-de commented on #1249
I guess we might want to have a  `copy` and `deepcopy` method where the first is a shallow copy method.

[2017-03-20 08:19] jbarnoud commented on #1249
As a note: there is a prototype for #643 in the closed pull request #831

[2017-03-20 13:13] HubLot commented on #995
Hi,

Is it still planned ? I would be really useful for python package which have MDAnalysis as a requirement.
We have a python package with MDA as a dependency and we'll like to put it on conda-forge.

Thanks

[2017-03-20 13:25] kain88-de commented on #995
I plan to publish the next release on conda-forge. Currently tempdir is missing as a dependency for 0.15.0. But this isn't a dependency for 0.16.0 anymore.

[2017-03-20 20:05] orbeckst commented on #1249
I very much like the idea of adding `copy` (or `deepcopy`) to the topology and trajectory/auxiliary objects. That makes the task somehow look more manageable.

We could start with a highly experimental version, which just does what probably most people have been doing when they cloned a universe: just re-read from files. Add `NotImplementedErrors` for cases where we know that this is going to fail

[2017-03-20 20:11] orbeckst commented on #1027
Regarding https://github.com/MDAnalysis/mdanalysis/issues/1027#issuecomment-287622960 : should we consider URI-style names: e.g

- `file://trajectory.xtc`
- `memory://trajectory.xtc`
- `None` if not associate with any file-like object

(And if we ever get streams working: `https://pdb.org/.../1ake.mmtf` or similar.)

[2017-03-20 20:18] orbeckst commented on #1248
The quick fix, however, is to make the metadata creation more fault tolerant (or decide to scrap its autogeneration and leave it to usercode to provide the metadata dict). The reason why it's there in the first place was because it can be rather difficult to track provenance of densities; metadata was a simple way to maintain context.

p.s.: bonus points to @jbarnoud for the acronym for importing

[2017-03-20 21:01] jbarnoud commented on #1027
@orbeckst I am a bit worried adding a protocol prefix would make the use of the attribute overly complicated. Indeed, it means adding a parsing step. Also, we would have to have the protocol bit in the filename for every reader.

[2017-03-20 21:09] orbeckst commented on #1027
Yes, it would make it more complicated.

This is really not solving any immediate problem, so yes, ignore ;-). But I think it's worth thinking about eventually.

[2017-03-21 01:07] mnmelo commented on #1027
@orbeckst, rather than overloading the filename string with extra info we could add a kwarg or an attribute to the readers. `Reader.source`, for instance, defaulting to "file".

[2017-03-22 05:17] hainm commented on #1217
I normally obly setup nightly build with osx.

[2017-03-22 05:18] hainm commented on #1217
Pretty fast to have the job running (new york time)

[2017-03-22 05:25] hainm commented on #995
Fyi: thanks to manylinux python, my favorite distribution is now pip. :d

[2017-03-22 10:53] jbarnoud opened #1250 "Cannot create Universe from StringIO"
### Expected behaviour

I want to include a GRO file in a script, and I would like to avoid writing it on disc. The easiest solution would be to use a `StringIO`, and to build my `Universe` from it. The following code should just work:

[code]

### Actual behaviour

Instead, the code above raises an exception:

[code]
For my use case to work, I need to create a `NamedStream` from my `StringIO`:

[

[2017-03-22 11:02] kain88-de commented on #1250
This can all be done in the universe method. Using the variable definitions of @jbarnoud the behavior should be as follows.

[code]

For this you have to make a type check in the Universe method. If the topology is a StringIO file and the format is given create the NamedStream otherwise throw an error message like above.

[2017-03-22 11:04] jbarnoud commented on #1250
@kain88-de Just to be sure: in your example `CHOL_GRO` is the `StringIO` right? Not the string.

[2017-03-22 11:35] richardjgowers commented on #1250
The original error looks like it's seen the `StringIO` as iterable and has tried to read it using a ChainReader.

[2017-03-22 15:50] jbarnoud opened #1251 "Use memory reader in Merge"
The `Universe` created with `mda.Merge` uses the under-featured `ReaderBase`. Many operations are not possible with that reader as it is a base class that is supposed to be inherited from. The `Universe creation in `mda.Merge` reads as follow:

[code]

This comes to a cheap memory reader. Using the actual `MemoryReader` would make universes build with `Mege` much more usable.

[2017-03-22 18:06] utkbansal commented on #1250
@jbarnoud Can I work on this?

[2017-03-22 18:07] jbarnoud commented on #1250
@utkbansal Yes you can :smiley:

[2017-03-22 18:17] utkbansal commented on #1250
@jbarnoud As mentioned, we have to create a `NamedStream` as follows
`a = mda.lib.util.NamedStream(StringIO(CHOL_GRO), filename='plop.gro')`
What should the `filename` default to?

[2017-03-22 18:20] jbarnoud commented on #1250
It would be more pertinent to look at @richardjgowers' diagnostic. There may not be the need to convert the `StringIO` to `NamedStream`. It may be enough to avoid being detected as a chain reader.

[2017-03-22 18:22] richardjgowers commented on #1250
Yeah before hacking Universe too much, look first at how StringIO is
interacting with get_reader_for. It's nicer to solve things at the source
:)

On Wed, 22 Mar 2017, 6:20 p.m. Jonathan Barnoud, <notifications@github.com>
wrote:

[2017-03-22 18:23] utkbansal commented on #1250
Okay so finally `mda.Universe(StringIO(CHOL_GRO), format='gro')` should work as usual and in case `StringIO` without a format arg an exception should be raised?

[2017-03-22 18:24] jbarnoud commented on #1250
Ideally, yes.

[2017-03-22 19:34] yanmingwang88 opened #1253 "universe( "xxx.pdb", format="pdb") gives wrong dimension"
### Expected behaviour
u=mda.Universe("xxx.pdb",format="pdb")
u.select_atoms("around 3.0 protein")
should have the same result as:
u=mda.Universe("xxx.pdb",format="PDB")
u.select_atoms("around 3.0 protein")

### Actual behaviour
will prompt error:
AttributeError: 'AtomGroup' object has no attribute 'dimensions'

### Code to reproduce the behaviour

[code]

### Currently version of MDAnalysis:
0.15

[2017-03-22 20:07] #1027 closed

[2017-03-22 22:27] utkbansal commented on #1250
There are two problems here, first as @richardjgowers mentioned, on getting a `StringIO` (iterable) it is try to read using `ChainReader`. Second is that the `StringIO` object is closed first time when `self._topology` is calculated in `__init__`. So when it tries to read the object again we get the error `ValueError: I/O operation on closed file`.

[2017-03-22 22:39] jbarnoud commented on #1253
Thanks for reporting the issue. It appears that it is fixed in the development version.

@yanmingwang88 You can find the instructions on how to install the development version [on our wiki](https://github.com/MDAnalysis/mdanalysis/wiki/Setup-Development-Environment).

[2017-03-22 22:39] #1253 closed

[2017-03-22 23:33] jbarnoud commented on #1248
Fixed by #1252.

[2017-03-22 23:33] #1248 closed

[2017-03-23 06:01] #1251 closed

[2017-03-23 06:30] orbeckst commented on #1250
That's why [`NamedStream`](http://www.mdanalysis.org/mdanalysis/documentation_pages/lib/util.html#MDAnalysis.lib.util.NamedStream) defaults to rewinding when closed instead of closing.

[2017-03-23 19:48] orbeckst commented on #995
That's a change of direction since #567 ;-)

[2017-03-24 13:24] mimischi opened #1257 "Topology groups and PDB files"
Just stumbled upon the problem, that accessing any method that involves topology groups does not work, when creating a `Universe` with a PDB file. Both the  `master` version 0.15.0, as well as a freshly cloned `develop` version 0.16.0-dev do not work, while producing different errors.

It does work when loading the topology and trajectory files from the test suite, so I'm using that as the expecte

[2017-03-24 13:33] richardjgowers commented on #1257
Hey, thanks for the report

So a pdb/gro doesn't technically define dihedrals or angles, but obviously they can be inferred from bonds. So in a way this is "working as intended".

There's currently `u.atoms.guess_bonds()` which will try to guess bonds (based on distances and guessed vdw radii), then angles, then dihedrals.  If you call this explicitly you should get the bonds from your PDB file.

[2017-03-24 13:52] mimischi commented on #1257
I see, you have to call `u.atoms.guess_bonds()` explicitly or set `guess_bonds=True` for the Universe object. Thanks!

Wouldn't it be beneficial to catch that exception in the current `develop` version?

[2017-03-24 14:09] richardjgowers commented on #1257
Yeah the error message could definitely be better, like providing a customised AttributeError for a known list of things

[2017-03-24 14:38] mimischi commented on #1257
I'd be happy to contribute if that's ok!

[2017-03-24 15:12] richardjgowers commented on #1257
@mimischi yeah that would be great!  I think if you extended the `__getattr__` [here](https://github.com/MDAnalysis/mdanalysis/blob/develop/package/MDAnalysis/core/groups.py#L1491) to add a special case for `bonds` etc.  If you're doing that, you should also [write a test that checks the errormessage](https://github.com/MDAnalysis/mdanalysis/blob/develop/testsuite/MDAnalysisTests/core/test_group_t

[2017-03-24 17:04] orbeckst commented on #1246
So basically just change the docs (while changing to numpy style):
[code]

Have we got a test case?

[2017-03-24 23:12] orbeckst commented on #1191
Would it be useful to have the simple 1-job plan https://travis-ci.com/plans , at least until someone had time to look at this? $69 per month, 1 concurrent job, 120 minutes per build.

I can pay for this for a year. Is it worthwhile?

[2017-03-25 06:45] kain88-de commented on #1191
We should rather have a look what orgs like numpy and scipy do on Travis their tests times should be comparable in length to ours. Maybe we can learn something from them.

[2017-03-25 07:12] jbarnoud commented on #1191
Also, in our case I do not think the travis failures are due to the tests themselves. If you look at the log of a failing job, the tests are finished! Something after hangs. The doc building perhaps? I should have a better look next time I restart a job.

[2017-03-25 11:11] richardjgowers commented on #1191
Yeah I see that semi regularly too. We could split out the sphinx step into
its own build in the matrix, so we have minimal, full and docs. That would
trim full a little, and also isolate what might be a troublesome component.

On Sat, 25 Mar 2017, 11:09 a.m. Jonathan Barnoud, <notifications@github.com>
wrote:

[2017-03-25 12:08] kain88-de opened #1258 "Split travis test setups"
Discussions started in  #1191

To have shorter jobs on Travis we can split up the different tests and document generation. When we are doing that we can also investigate to use the [ci-helpers](https://github.com/astropy/ci-helpers) from astropy. They should streamline our travis config and allow us to test against development versions of numpy to catch potential prolems early.

[2017-03-25 12:25] kain88-de commented on #1116
Sorry I'm not sure why this isn't working for you either. I definitely see the module in the package that is uploaded to anaconda.org

[2017-03-25 19:45] orbeckst commented on #1191
Building docs pulls `object.inv` for intersphinx. If a website is down (and I think in the past few days I often couldn't get to scipy) then that would stall the sphinx build, I think.

Making doc building another entry in a test matrix would certainly be sensible.

[2017-03-25 19:47] jbarnoud commented on #1191
On 03/25/2017 08:45 PM, Oliver Beckstein wrote:

Could we cache the object.inv? It would save the time it takes to
download them, and prevent the job to stall.

[2017-03-25 21:37] hainm commented on #995
@orbeckst technology changes quite fast :D

[2017-03-26 13:01] kain88-de commented on #1191
@orbeckst and @jbarnoud. The docs aren't even build on pull requests. They can't slow down the PR builds that we sometimes see stalling on travis at all.

[2017-03-26 13:10] jbarnoud commented on #1191
@kain88-de  Indeed, sphinx should not run for most of the stall jobs.

Looking at a job that actually succeed, it seems that the next line that should appear where the jobs stall is:

[code]

This line is travis telling us that nose finished as expected. Not having it means that either the job failed later but that line remained in some buffer, or that nose stalls just before ending, once it is al

[2017-03-27 10:03] richardjgowers commented on #1188
So for this, I think what is needed (as a first step) is for inside `MDAnalysis.lib.distances` add a `distance` function, which calculates a single pairwise distance, optionally applying PBC.  Then also in `lib.mdamath`, make `angle` also optionally calculate PBC.  So for both of these you need a PBC function which takes a vector and a box, and makes sure that the vector is the minimum image vecto

[2017-03-27 10:13] richardjgowers opened #1262 "Single PBC distance calculation"
Originally started in #1188 , there's currently not a way to calculate a **single** pairwise distance, with PBC taken into account.  (For many distances there's `lib.distances.distance_array`)

We need:
 - `MDAnalysis.lib.distances.distance(a, b, [box])` - which calculates distance between `a` and `b`
 - `box` can be either an orthogonal or triclinic box
 - Rather than place this in the above func

[2017-03-27 11:54] kain88-de commented on #1191
With my recent work splitting up the travis jobs it has become obvious that a stalled nosetest jobs is responsible for the frequent build failures we are seeing.  Our build times are still pretty long at around 40 minutes. There isn't much air left to the maximal time of 50 minutes.

[2017-03-27 12:09] #1258 closed

[2017-03-27 13:46] mimischi opened #1264 "Dihedrals and selections"
When creating a selection, e.g., `backbone = u.select_atoms('backbone')` and then looking at all the dihedral angles of that selection, MDAnalysis also returns dihedrals between atoms pairs that should not be presented.

### Initial code

[code]

### Expected behaviour

Only list dihedral angles between atoms in the selection (here: backbone). Total number of dihedrals: 425.

[code]

### Actual be

[2017-03-27 13:50] kain88-de opened #1265 "Broken develop docs"
https://travis-ci.org/MDAnalysis/mdanalysis/jobs/215530626#L1089

Looks like my recent changes to our travis build have broken the doc deployment. I don't understand the error. If I execute the commands like that on my machine I get the folder.

[2017-03-27 14:13] richardjgowers commented on #1264
Hey @mimischi

So `ag.dihedrals` will return any dihedrals that **any** atom from `ag` is present in.  So for example, if I had a linear chain system `[1 - 2 - 3 - 4 - 5 - 6]`, and `ag = [2 - 3 - 4 - 5]`, `ag.dihedrals` would give me `[1 - 2 - 3 - 4]`, `[2 - 3 - 4 - 5]` and `[3 - 4 - 5 - 6]`.  I'm guessing you'd just expect to get `[2  - 3 - 4 - 5]` from that?

[2017-03-27 14:17] kain88-de commented on #1264
Yes.  The expectation is that only complete dihedral angles that are present in an AtomGroup will be returned.

The current behavior is quite a surprise for backbone selections. Because to get the dihredrals of the backbone atoms alone I would use `ag.select_atoms('backbone').dihedrals`. But the current implementation gives me dihedral angles of atoms that do not belong to the backbone.

[2017-03-27 16:51] orbeckst commented on #1191
We could use a build matrix where we distinguish core and analysis.

--
Oliver Beckstein
email: orbeckst@gmail.com

[2017-03-27 17:21] kain88-de commented on #1191
That would screw up code coverage stats. But we should wait a bit for pytest. With module wide fixtures we can shrink test time a lot. For example I expect the whole PCA analysis test time to go down by ~ 80% since we only have to actually calculate the PCA twice, right now it is calculated once for every PCA test.

[2017-03-27 17:23] orbeckst commented on #1191
Ok. Let's hope for pytest...

[2017-03-27 22:09] orbeckst commented on #1265
More explicit than your link above. Deployment in the merge-to-develop failed in [Job #3187.3](https://travis-ci.org/MDAnalysis/mdanalysis/jobs/215714720) because one parameter is not defined any more (`$2`).:
[code]

(I think also relevant for PR #1266.)

[2017-03-28 07:45] kain88-de commented on #1265
The unbound variable is a problem of the custom exit function that is called when a environment variable isn't found.

[2017-03-28 15:03] Shtkddud123 commented on #1262
Hi. I've got a semi-working version of this at the moment. It's nowhere near pretty, but it'll hopefully work.

Just one question - my knowledge of MD might be lacking here - when we are using a cubic box, we can just use the format::

if (periodic_x) then
  dx = x(j) - x(i)
  if (dx >   x_size * 0.5) dx = dx - x_size
  if (dx <= -x_size * 0.5) dx = dx + x_size
endif

But is there any reason why t

[2017-03-28 15:13] richardjgowers commented on #1262
Hi Sang!

So your version works some of the time, but not always!  If the vector is `2.2 x_size`, you need to take away 2 box lengths.

Triclinic boxes are a bit tricky, but they can be expressed as a triangular matrix, so for the first dimension you have to alter all three dimensions to correct the first dimension, then alter 2 dimensions for the second etc.  There's a link to the C code which we

[2017-03-28 15:13] vivecalindahl opened #1268 "Hydrogen bond analysis exits with AttributeError: 'list' object has no attribute 'select_atoms'"
### Expected behaviour
Get an hbond analysis (even though distance calculations are not taking care of periodicity).

### Actual behaviour

Traceback (most recent call last):
  File "./reproducehbondissue.py", line 45, in <module>
    distance=hbonddist, angle=hbondangle)
  File "/usr/local/lib/python2.7/dist-packages/MDAnalysis/analysis/hbonds/hbond_analysis.py", line 612, in __init__
    self._u

[2017-03-28 15:19] Shtkddud123 commented on #1262
Hi Richard,

Thanks for your prompt reply.

So, just another query - when you are asking for a single molecule distance, rather than an array, I've identified what atom a (reference) and atom b (target) are using the 'bynum' (index in the gromacs/namd/etc .. file). I figured that a person concerned with this would rather want to identify the specific atom rather than molecule name, but I was just

[2017-03-28 15:22] richardjgowers commented on #1262
@Shtkddud123 the signature should be something like this:

[code]

So you input 2 coordinates and a box, and it returns a distance

[2017-03-28 15:24] Shtkddud123 commented on #1262
Dear Richard,

Ok, that seems to be pretty much what I had in mind. Ok, I'll get back to you.

Thanks
Sang

[2017-03-29 03:08] orbeckst commented on #1268
I put up your code as https://gist.github.com/orbeckst/eaad2d7cf063901d9b48d5e357ac3e61 – that is easier to browse for people than looking into the zip file. (I didn't want to attach the GRO file `t39000.gro` in the zip  because of its size.)

[2017-03-29 09:13] jbarnoud commented on #1265
This issue seems fixed. No?

Now we need to get rid of all the errors and warnings so we can have the build fail on warnings.

[2017-03-29 09:59] kain88-de commented on #1265
Yes you just need to activate the warnings to error conversion in the setup.cfg file.

[2017-03-29 11:25] jbarnoud commented on #1265
Yes, but if we activate it now, it will fail. So we have to fix the existing warnings.

[2017-03-30 07:39] orbeckst commented on #1265
The [devdocs](http://www.mdanalysis.org/mdanalysis/) are fine again: this got fixed in PR #1266.

[2017-03-30 07:39] #1265 closed

[2017-03-30 09:41] kain88-de commented on #1191
I did some benchmarks with respect to our plugins. #1270

## No Plugins
[Travis](https://travis-ci.org/MDAnalysis/mdanalysis/builds/216378725)
minimal: 10 min
full: 12 min

## Memory Leak
[Travis](https://travis-ci.org/MDAnalysis/mdanalysis/builds/216656292)
minimal: 18 min
full: 20 min

## Coverage
[Travis](https://travis-ci.org/MDAnalysis/mdanalysis/builds/216658643)
minimal: 10 min
full: 24 min

[2017-03-30 09:43] orbeckst commented on #1191
Thank you for this work. I wouldn't have suspected that the plugins have such an enormous effect on the run time of the tests.

I think your suggestion is good.

[2017-03-30 09:48] kain88-de commented on #1191
I was surprised too. But I noticed this when building conda package on travis. I will have some time on the weekend to do another refactoring of our travis config.

[2017-03-30 15:55] Shtkddud123 commented on #1262
Hi, so, I've gotten a premilimary version, which seems to have some issues getting the right values out, which I presume is due to a bug somewhere in the code.

The format goes: distance(atom a, atom b, box):

- You just need to type in the index of the atom from a .gro file for atoms a and b, and depending on the universe dimensions, the code will decide what type of box it is.

- I've explicitly

[2017-03-30 16:18] Shtkddud123 opened #1274 "Curvature calculation"
Dear all,

I'm new here, and am a finishing PhD student at the university of Warwick. A lot of the calculations I've done has been done in MDanalysis, so I figured that it would only be appropriate that I give back something for all the time that has been saved scripting the profiles I need to calculate.

I wish to make a proposal about a new functionality to calculate the mean and gaussian curvat

[2017-03-30 17:51] mnmelo commented on #1262
So, you should be presenting this code as a pull-request, on which it is much easier for everyone to comment. It doesn't matter if it's an initial non-working version. @orbeckst gave you a brief summary on how to accomplish this; we can guide you through it if you need help (but please keep that discussion on the mailing list, not this issue's conversation).

On your code: I can already see a prob

[2017-03-31 08:33] orbeckst commented on #1274
I like the idea. The best way forward is to pick a simple test system (probably from your work) and hack together a prototype that shows some basic functionality.

[2017-03-31 08:40] orbeckst commented on #728
Is this still an open issue or was this fixed together with #886?

[2017-03-31 08:42] orbeckst commented on #664
Can we get 0.16.0 out in the not-to-distant future? 1 year between releases is too long.

[2017-03-31 08:55] orbeckst opened #1276 "remove deprecated code in analysis.contacts"
`analysis.contacts` contains lots of old code that is scheduled for removal.

- [ ] remove deprecated functions in package/MDAnalysis/analysis/contacts.py
- [x] check that all references to the remove functions are removed from the docs
- [ ] add CHANGELOG entry

[2017-03-31 08:56] orbeckst commented on #1276
P.S.: This is one of the easiest coverage boosts that I can think off...

[2017-03-31 08:57] orbeckst commented on #1276
Oops... scheduled for 0.17 can't score this one for 0.16.

[2017-03-31 09:07] orbeckst commented on #1116
@MamtaMohan – did you get any further with the conda beta?

If not, installing with `pip install` from source is not difficult as described in [Trying the development branch](https://github.com/MDAnalysis/mdanalysis/wiki/DevelopmentBranch). Basically,
[code]

[2017-03-31 11:14] kain88-de commented on #1276
Yeah I was wondering.  I recently removed all left over deprecations for this release.

[2017-03-31 16:42] MamtaMohan commented on #1116
Dear Oliver,

Thank you. I will try that.

Mamta.

[2017-04-01 16:39] orbeckst commented on #1276
@kain88-de , when did you add the new `Contacts` class (the docs don't have a `.. versionadded` tag), namely had we had those already in 0.15.0 ?

If yes, I'd be willing to just schedule them for early removal ahead of schedule... there are so many changes in 0.16.0 that we might as well throw it in there.

[2017-04-01 16:55] orbeckst opened #1277 "convert all docs to numpy style"
According to our [Style Guide](https://github.com/MDAnalysis/mdanalysis/wiki/Style-Guide#writing-docstrings), all doc strings should be in written with the [numpy doc formatting](https://github.com/numpy/numpy/blob/master/doc/HOWTO_DOCUMENT.rst.txt). All new docs are being written according to this style (and for an example see the numpy [doc/example.py](https://github.com/numpy/numpy/blob/master/

[2017-04-01 16:56] orbeckst commented on #1277
@tylerjereddy could you have a look at your code in visualization to update the docs to numpy style when you have a moment? Thanks.

[2017-04-01 16:58] orbeckst commented on #1277
@tylerjereddy ... or if you can find someone willing to do it (new contributors, anyone?) feel free to delegate. But all in visualization is your code so I think you should at least review any changes there.

[2017-04-01 17:39] kain88-de commented on #1276
I'm  sure that class is new. Even if not. I don't like to remove it before the advertised schedule.

[2017-04-01 17:40] orbeckst commented on #1276
ok

--
Oliver Beckstein * orbeckst@gmx.net
skype: orbeckst  * orbeckst@gmail.com

[2017-04-02 09:50] jbarnoud commented on #728
I just encountered that issue, so it is not solved yet. It actually gets worse: indeed the misnumbered residues now gets merged with the residues they share an index with.

As an example, I use the plasma membrane model that is available on the [martini force field website](http://cgmartini.nl/index.php/example-applications2/lipid-membranes) as [`plasma_membrane.zip`](http://cgmartini.nl/images/ap

[2017-04-02 09:55] jbarnoud commented on #728
@richardjgowers I tried @tomnewport's fix and it works.

[2017-04-02 09:58] richardjgowers commented on #728
Yeah I'm just doing that in the new parser with tests etc

[2017-04-02 10:59] kain88-de commented on #664
I'm for a release. I'm currently still fixing up the blog posts to explain the changes and explain how to make the transition easier for a user. But I don't really see anything speaking against a release otherwise. The new topology system works nice for me in my work and the docs seem to be ok.

[2017-04-02 18:40] Shtkddud123 commented on #1246
Dear all,

Hopefully I've done things as requested, and I apologise again for my rookie-ness. I've updated the doc in a numpy style, and written it here:

https://github.com/Shtkddud123/mdanalysis/blob/develop/package/MDAnalysis/coordinates/PDB.py]

Please let me know if this is satisfactory. I'm still committed to the curvature studies, whether part of GSOC or not;  I'll try to get a preliminary

[2017-04-02 20:16] jbarnoud commented on #1246
Rookie-ness is normal when you begin. Don't worry about that, you will learn.

I've seen that you updated the documentation for the PDB writer in the pull request about the distance calculation. Since these are two unrelated issues, they should be tackled in two different pull request. Could you [create a new branch](https://git-scm.com/book/en/v2/Git-Branching-Basic-Branching-and-Merging) for you

[2017-04-03 05:57] orbeckst commented on #664
@tylerjereddy , How well is ten2sixteen.py #824 working nowadays?

[2017-04-03 08:31] kain88-de commented on #995
https://github.com/conda-forge/staged-recipes/pull/2715

MDAnalysis should pop up in about a day.

@HubLot What do you want to package on conda-forge?

[2017-04-03 08:31] #995 closed

[2017-04-03 18:54] tylerjereddy commented on #664
I think the new issue(s) you presented were still causing problems so it definitely won't work for all cases / scripts, but perhaps as long as we keep track of what needs to be fixed I can slowly address those issues without blocking a release.

[2017-04-03 19:08] dotsdl commented on #1205
Does this need to happen before we release 0.16.0? Don't think it's absolutely necessary, but haven't considered all possible problems of not getting it in?

[2017-04-03 19:11] richardjgowers commented on #1205
Should be fine after as its internal API anyway, rather than user facing. I
imagine this will clear up once we delve into serialisation more

On Mon, 3 Apr 2017, 8:08 p.m. David Dotson, <notifications@github.com>
wrote:

[2017-04-04 07:40] #728 closed

[2017-04-04 07:48] orbeckst commented on #1268
@vivecalindahl I played around with your code a little bit (using 0.16.0-dev). The main problem is that your selection
[code]
yields an empty AtomGroup
[code]

When I looked at the universe itself
[code]
but you are trying to select
[code]
for the donor group, which is not a segment name in the universe.

`HydrogenBondAnalysis` **should fail with a better error message when one group is empty**.

[2017-04-04 07:55] jbarnoud commented on #1268
On 04/04/2017 09:48 AM, Oliver Beckstein wrote:

I am not aware of an easy way to re-segment a topology. I did it once by
creating a new Topology object from the one in the Universe. Fun to do,
but convoluted. This is an issue as gomacs files do not give any
meaningful segments, especially when working with multimeric proteins.

[2017-04-04 08:55] richardjgowers commented on #1268
@orbeckst in 0.16 this is the way to make segments:

[code]

This won't work in 0.15 though.  I think this is a nice example of where selection strings aren't a good method for defining AtomGroups for analysis modules.

[2017-04-04 09:18] orbeckst commented on #1268
@vivecalindahl the segmenting issue is separate from using HydrogneBondAnalysis. If you were to use the selections that you created for the segmentation then it should work. The following code worked for me:
[code]

I then get as output
[code]

**NOTE**: I also needed to set `filter_first=False`.

If I use the default `filter_first=False` I get the error
[code]

For reasons that I do not understan

[2017-04-04 09:29] orbeckst commented on #1105
Add https://github.com/MDAnalysis/mdanalysis/issues/1268#issuecomment-291436447 (how to create new segments).

[2017-04-04 11:31] #1108 closed

[2017-04-04 15:58] vivecalindahl commented on #1268
@orbeckst What you find in the developer code is different from what I find in 0.15. It could be that I've misunderstood how the segments work... but I get
[code]
and
[code]
so the issue is different than what you described. How am I using segments incorrectly?

I tested adding ` filter_first=False` which does remove the original error. `hbondana.timeseries` now returns an empty list (for the firs

[2017-04-04 16:37] kain88-de commented on #1268
We have a almost complete rewrite of the core of MDAnalysis in the development version. You can read more [here](http://www.mdanalysis.org/2017/04/03/new-topology-system/). This is why segments work slightly different now.

[2017-04-05 01:37] orbeckst commented on #1268
You're not, you're doing the right thing with 0.15.0. Sorry for the confusion (but good to keep in mind for upcoming 0.16.0).

Because mine effectively looked at monomer4, as you found.

The issue that you report is a bug in the code. It should handle the case of no atoms within the 3*distance gracefully.

This needs to be fixed. Thanks for reporting.

In the meantime please try without the filter

[2017-04-05 16:19] vivecalindahl commented on #1268
@orbeckst Ok, thanks for looking into it.

[2017-04-06 05:25] tylerjereddy opened #1285 "Windows 10 WSL work -- getting MDA running on Windows 10 (rough steps)"
The Windows 10 - Windows subsystem for linux (WSL) is officially supported by Microsoft and is currently in beta. This allows for effectively native use of bash on Windows, with various caveats, but far lighter weight than i.e., a virtualization or even containerization approach.

I have access to a Windows 10 machine now and naturally the first thing I tried to do was install MDA in the WSL. Here

[2017-04-06 09:14] orbeckst commented on #1285
See also #450 and Wiki:[MDAnalysis on Windows](https://github.com/MDAnalysis/mdanalysis/wiki/MDAnalysis-on-Windows)

[2017-04-06 09:18] kain88-de commented on #1285
Hm strange. I know from a colleague that MDAnalysis works for him on windows 10 without problems using their linux kernel interface.

[2017-04-06 17:47] kain88-de opened #1286 "Oldest compatible numpy version is 1.9.3"
### Expected behaviour

We claim to support numpy 1.5 and upwards.

### Actual behaviour

Everything below 1.9.3 has a lot of errors in the testsuite or just crashes. For 1.9.3 we just seems to have some accuracy errors for regression tests.

Here are links to travis runs

[Numpy 1.10.4](https://travis-ci.org/MDAnalysis/mdanalysis/builds/219240316)
[Numpy 1.9.3](https://travis-ci.org/MDAnalysis/md

[2017-04-06 19:18] tylerjereddy commented on #1285
@kain88-de It works pretty well I think apart from the unit testing issue. The platform itself is still in beta so naturally I do see some things on the command line that are slightly suspicious, but somehow pretty much everything works quite well.

I'll experiment with it a bit more as time permits and see if the approach from @richardjgowers alleviates the unit testing issue. I should also check

[2017-04-06 19:34] tylerjereddy commented on #1285
Ok, I've fixed up the formatting mess in my original post.

Also, I see the wiki link from @orbeckst beat me to it, but as this is more recent & I'm likely to experiment with developing on the platform as well (if the full test suite starts working), I'll keep the issue open in case I need to ask questions/ make useful notes.

[2017-04-07 04:37] tylerjereddy commented on #1285
I tried setting the environment variable `export KMP_AFFINITY="disabled"` in my `~/.bashrc`, which seemed to alleviate the issues described above with OMP--as described for another python package here--https://github.com/Microsoft/BashOnWindows/issues/785

However, now when running the unit tests output eventually gets suppressed / muted in either `IPython` or the conventional `Python` prompt. Con

[2017-04-07 05:20] tylerjereddy commented on #1285
Running `nosetests (module name)` generally works fine on a smaller scale though, so I think the problem is pretty superficial, and doesn't really interfere with development substantially given the reliance on Travis anyway.

[2017-04-07 10:03] kain88-de opened #1287 "can't print atoms read with PDB"
### Expected behaviour

Can print atoms read from a PDB

### Actual behaviour

Attribute Error that altloc doesn't exist

[code]

### Code to reproduce the behaviour

[code]

### Currently version of MDAnalysis:
(run `python -c "import MDAnalysis as mda; print(mda.__version__)"`)
0.16.0-dev9

[2017-04-07 10:09] richardjgowers commented on #1287
Looks like it's just a problem with altLoc being case sensitive

[2017-04-07 12:22] kain88-de commented on #664
@richardjgowers what is still missing for a release?

[2017-04-07 12:24] richardjgowers commented on #664
https://github.com/MDAnalysis/mdanalysis/milestone/9

Nothing really except the docs we wanted to write.  We can do it this weekend if we like?  The docs can get added in .1 or .2, it's not code really so it can happen whenever really.

[2017-04-07 12:26] richardjgowers commented on #1286
Is this just as simple as updating the requirements in setup.py?

[2017-04-07 12:29] kain88-de commented on #1286
I don't know where else we specify the numpy requirements

[2017-04-07 12:34] kain88-de commented on #664
I think these docs will take us a good while. I don't want to hold of a release for them. I also have a feeling they have improved a little bit.

[2017-04-07 18:27] orbeckst commented on #1286
Thanks for checking!

IIRC `setup.py` is the one that matters; possibly some requirements files (?), possibly docs, possibly [PyPi page](https://pypi.python.org/pypi/MDAnalysis) (not sure if the *Requires* is generated from `setup.py`).

Perhaps we should have a Travis Cron job that periodically tests the claimed minimal compatible versions? We certainly don't have to do this on each PR.

[2017-04-07 20:04] orbeckst commented on #664
I re-targeted docs to 0.16.x. Let's [:ship:](http://wiki.c2.com/?RealArtistsShip).

[2017-04-08 07:30] jbarnoud opened #1289 "The XVG auxiliary reader does not use `anyopen`"
While addressing the last comment of @kain88-de on <https://github.com/MDAnalysis/MDAnalysis.github.io/pull/26#discussion_r109306676>, I realised the  XVG aux reader was not using our file opening helper function.

### Expected behaviour

The XVG auxiliary reader open files with `mda.lib.util.anyopen`, therefore it can read streams and compressed files.

### Actual behaviour

The XVG auxiliary rea

[2017-04-08 09:05] #1289 closed

[2017-04-08 09:06] #1287 closed

[2017-04-09 07:36] kain88-de commented on #664
@richardjgowers Are you good to release today?

[2017-04-09 07:52] kain88-de opened #1295 "Enable Pylint warnings"
This is a list of good sounding pylint warnings we might want to enable

- [ ] arguments-differ,
- [ ] assignment-from-none,
- [ ] bad-builtin,
- [ ] bad-indentation,
- [ ] bad-super-call,
- [ ] bare-except,
- [ ] basestring-builtin,
- [ ] broad-except,
- [ ] deprecated-lambda,
- [ ] expression-not-assigned,
- [ ] filter-builtin-not-iterating,
- [ ] function-redefined,
- [ ] indexing-exception,
-

[2017-04-09 08:16] #1286 closed

[2017-04-10 06:33] richardjgowers commented on #664
Ok master is updated and there's a PR for develop.  Still to do (once I get a better connection):
 - upload to PyPI
 - upload to conda (our channel)
 - upload/update the forge? (@kain88-de is this automatic?)
 - upload new docs to PyPI (these become the "official" docs)

[2017-04-10 06:40] kain88-de commented on #664
I can do the conda forge update after you published to pypi

[2017-04-10 06:47] kain88-de commented on #664
Please tell me when you published on pypi

[2017-04-10 07:13] kain88-de commented on #664
@richardjgowers I will also update our conda-channel. My plan is to take the packages that we build for conda-forge. That will ensure that the packages run on a wide variety of systems.

[2017-04-10 12:32] richardjgowers commented on #664
@kain88-de ok we're live on pypi

[2017-04-10 12:37] kain88-de commented on #664
I've started the conda update. https://github.com/conda-forge/mdanalysis-feedstock/pull/1
Now it's just waiting for the CI's to see if everythings works

[2017-04-10 13:13] jdetle commented on #664
Congratulations all of you!
On Mon, Apr 10, 2017 at 6:37 AM Max Linke <notifications@github.com> wrote:

--
Have a wonderful day,
John J. Detlefs

[2017-04-10 13:24] kain88-de commented on #664
@richardjgowers conda is live on conda-forge and our channel. The test package should follow in  a couple of minutes

[2017-04-10 14:28] jbarnoud commented on #664
Congrats everybody! Quite a lot of work went in this one.

By the way, I just tweeted the announcement.

[2017-04-10 16:54] kain88-de opened #1298 "update copyright year"
I noticed our copyright headers all say 2016. Do we have a script that did the update last year?

[2017-04-10 17:06] orbeckst commented on #664
The PyPi docs are not up. Over the last couple of weeks I had no luck with PyPi docs upload.

[2017-04-10 17:11] jbarnoud commented on #664
Any idea of what causes the issue with the doc?

[2017-04-10 17:17] weiHelloWorld opened #1299 "Custom filename for rms_fit_trj() not working"
This is the code modified from https://pythonhosted.org/MDAnalysis/documentation_pages/analysis/align.html#common-usage

[code]

if filename is modified to "rmsfit.pdb", I get following exception:

[code]

Does anyone know why this happens?  Thanks!

### Currently version of MDAnalysis:

Version: 0.15.0

[2017-04-10 17:30] orbeckst commented on #664
Not sure, I came across the problem with Becksteinlab/GromacsWrapper#118

[2017-04-10 18:15] jbarnoud commented on #664
It seeams that pythonhosted is deprecated and in read-only mode: https://mail.python.org/pipermail/distutils-sig/2015-May/026381.html

Maybe we should move to readthedocs?
In the meantime, should I tweet a link to the dev documentation?

[2017-04-10 18:51] kain88-de commented on #664
Can't we host the docs on our own website? We are already doing that for the development docs.

[2017-04-10 19:03] orbeckst commented on #664
"Our website" is on gh-pages, which are the devdocs http://devdocs.mdanalysis.org

I think each repo can only have one gh-pages associated with it. We could make a separate repo that just contains the docs for the released *if* we want to use gh-pages.

Otherwise, get it on  RTD to work, sigh. I hate debugging RTD, but this is probably a better solution in the longer term (probably famous last wor

[2017-04-10 19:05] orbeckst commented on #664
Should I point http://docs.mdanalysis.org to http://devdocs.mdanalysis.org for right now?

[2017-04-10 19:07] dotsdl commented on #664
@MDAnalysis/coredevs I'll focus on getting RTD working for MDAnalysis, since I've done this a lot recently for other packages. It's a lot easier these days with conda, so I don't see this being nearly impossible like the last time we tried. I'll let y'all know if there's anything I get stuck on.

[2017-04-10 21:55] orbeckst commented on #1299
Thanks for the feedback. It is possible that this functionality was not tested with multi-frame PDBs as output.

Also, we just released 0.16.0 in which we rewrote a lot of things. In particular, trajectory fitting is now done with [MDAnalysis.analysis.align.AlignTraj](http://www.mdanalysis.org/mdanalysis/documentation_pages/analysis/align.html#MDAnalysis.analysis.align.AlignTraj).

Could you try o

[2017-04-10 22:16] weiHelloWorld commented on #1299
`AlignTraj` works fine.  Thanks!

[2017-04-10 23:25] orbeckst commented on #1299
That's good. I am closing the issue, please feel free to re-open (or open a new one) if any problems occur.

[2017-04-10 23:25] #1299 closed

[2017-04-10 23:27] orbeckst commented on #1298
I *thinkk* @tylerjereddy did it the last time... wasn't there a script attached to an older issue?

[2017-04-10 23:43] orbeckst opened #1300 "build binary .whl packages ?"
Is there a simple way or a build service that we could use to also build binary wheel (`.whl`) packages (for Linux and OSX), in addition to the conda packages?

- There are Linux build system docker images available at https://github.com/pypa/manylinux
- For OSX we could probably use travis.

[2017-04-10 23:49] orbeckst opened #1301 "MDAnalysisTests raises exception when imported"
### Expected behaviour
[code]
and
[code]
should import (and make eg files available in `datafiles`.

### Actual behaviour
Both imports fail with
[code]

### Code to reproduce the behaviour
[code]

### Currently version of MDAnalysis:
(run `python -c "import MDAnalysis as mda; print(mda.__version__)"`)

0.16.0 (pip upgraded in a virtualenv)

[2017-04-10 23:52] orbeckst commented on #1301
More precisely, this appears to be an issue with `mock` (maybe my installation?)
[code]
gives
[code]

[2017-04-10 23:59] orbeckst commented on #1301
FYI: I completely nuked the virtualenv and rebuild it from scratch. Still same error.

This is annoying because it means than none of the tutorials work at the moment, they all rely on the user using the tests trajectories.

[2017-04-11 00:03] orbeckst commented on #1301
Possibly relevant (pbr /sdist/git client issue): https://roaet.com/2017/02/10/uploading-my-fork-of-python-neutronclient/ (an update on https://roaet.com/2017/02/10/problem-with-pbr-and-sdist-tarball/ )

[2017-04-11 00:12] orbeckst commented on #1301
Possibly similar issue as testing-cabal/mock#402

[2017-04-11 00:26] orbeckst commented on #1301
Well... this seems to be an issue with me using `ipython` in a virtual env: In *Python* itself:
[code]

When I install `ipython` into the virtualenv and make sure that I use the correct one then it works
[code]

[2017-04-11 00:26] #1301 closed

[2017-04-11 00:44] orbeckst commented on #1133
I generated an example file with VMD 1.9.3, using our `MDAnalysis.tests.datafiles.PDB_multiframe` as an input for VMD. The file is attached (zip compressed so that GitHub accepts it): [nmr_neopetrosiamide_vmd193.pdb.zip](https://github.com/MDAnalysis/mdanalysis/files/911800/nmr_neopetrosiamide_vmd193.pdb.zip)

[code]

fails with

[code]

I don't know what the best way is to support the VMD PDB tra

[2017-04-11 05:09] kain88-de commented on #1133
@maxscheurer as a workaround. We can read the xyz format of vmd.

[2017-04-11 05:10] kain88-de commented on #1301
Oh yeah ipython can be tricky with virtual envs. It will always pick your global Python installation unless it is installed in the virtual env.

[2017-04-11 09:35] richardjgowers commented on #1133
I've not got time to try this, but I think it might work if you added `if line.startswith('END'): models.append(pdbfile.tell())` into the code @orbeckst linked to above.  This would add `END` as a trigger for a new frame... But you probably need to check that the file hasn't ended at that point, as [that's what END is meant to indicate](http://www.wwpdb.org/documentation/file-format-content/format

[2017-04-11 12:13] richardjgowers commented on #1217
Fixed in #1282

[2017-04-11 12:13] #1217 closed

[2017-04-11 12:14] richardjgowers commented on #1191
[Build time seems to be down to 27 mins for the longest job](https://travis-ci.org/MDAnalysis/mdanalysis/builds/220743173), so I'm considering this closed for now

[2017-04-11 12:14] #1191 closed

[2017-04-11 15:15] tylerjereddy commented on #1298
Yeah, it is associated with https://github.com/MDAnalysis/mdanalysis/pull/1001, which was superseded by efforts from @kain88-de using my script available in a github repo here: https://github.com/tylerjereddy/headerfix

I'm guessing @kain88-de might have had to make one or two changes before using it.

[2017-04-11 16:55] utkbansal opened #1303 "Wrong/missing date in CHANGELOG"
### Expected behaviour
The `package/CHANGELOG` has the wrong date for the 0.16.0 release. It has `04/10/16`. It should be `04/10/17`.

Also the `testsuite/CHANGELOG` has not been updated for the 0.16.0 release. The date for the release and the 0.16.1 section has to be added.

[2017-04-12 08:29] #1303 closed

[2017-04-12 09:17] utkbansal commented on #516
Is there another format that I can work on?

[2017-04-12 09:29] richardjgowers commented on #516
@utkbansal from the list above, you probably want to pick one with a Writer so you can easily generate the new reference file, so maybe PQR.

[2017-04-12 12:43] richardjgowers commented on #1264
So should the shortcuts to topology groups (`.bonds`, `.angles`, `.torsions` and `.impropers`) only select bonds where **all** atoms are present in the AtomGroup?  I'm starting to think that maybe that way is more intuitive, and can't think of a good case where I'd want the current behaviour..

It's a shame it's not a method, because then we could have had a keyword like `ag.bonds(scope='any')` to

[2017-04-12 12:55] kain88-de commented on #1264
We can could try to copy the behavior of datreant.  `ag.bonds.any` and `ag.bonds`

[2017-04-12 13:00] mimischi commented on #1264
It probably depends on the usage scenario, whether you want to display topology information from atoms not in the AtomGroup:
- When selecting `backbone`, I do not care about dihedrals formed with side chain atoms. Therefore only topology information for atoms in the selected AtomGroup should appear.
- Assuming I select a specific residue (to extract some information like dihedral angles) with `u.s

[2017-04-12 15:49] xiki-tempula opened #1306 "Resides with the same residue id are merged into a single residue"
### Expected behaviour
When reading a gro file with two residues which have the same residue id (residue GLN/ resid 9;residue POPC/ resid 9), the two residues are treated as two residues.

### Actual behaviour
The two residues are merged into one residue.

### Code to reproduce the behaviour
[code]
Got
[code]
I know that somewhere in the documentation, it is said that atoms with the same residue i

[2017-04-12 15:55] richardjgowers commented on #1306
Yeah I think we just need to use [`change_squash`](https://github.com/MDAnalysis/mdanalysis/blob/develop/package/MDAnalysis/topology/base.py#L121) in GROParser and pass it both resids **and** resnames so a change in either will trigger a new residue (and avoid squashing it into one residue).

For example in the PDBParser, we [detect residues based on resids, icodes and segids](https://github.com/M

[2017-04-12 17:04] xiki-tempula commented on #1306
@richardjgowers  Thank you. I have solved my problem.

[2017-04-12 21:00] richardjgowers commented on #1306
I think this is still a bug with the GROParser, but I'm not 100% on gromacs.. @jbarnoud does this seem like a valid bug?

[2017-04-13 06:11] jbarnoud commented on #1306
It is still a valid bug.
It seems that we indeed need to be more careful with how we split residues.

Also:

[code]

This should be 4 residues. Now it is 2 with all the resid == 9 on the first residue and the resid == 10 in the other.

[2017-04-13 06:53] xiki-tempula commented on #1306
@richardjgowers @jbarnoud
I saw in the documentation (https://pythonhosted.org/MDAnalysis/documentation_pages/core/AtomGroup.html?highlight=set_resid#MDAnalysis.core.AtomGroup.AtomGroup.set_resid). It seems that it describes that setting two residues with the same residue id will merge these two residues is an expected behaviour.

[2017-04-13 07:36] jbarnoud commented on #1306
This was a known behavior of 0.15.0, but not the expected one. It was more of a known bug.

[2017-04-13 10:11] richardjgowers opened #1308 "Improving text parsing speeds"
Originally started in #1302 , [in particular this comment](https://github.com/MDAnalysis/mdanalysis/pull/1302#issuecomment-293830546) there's some performance to be found in how we convert ascii to numpy arrays.

## Apply to the following Readers

- [x] XYZ
- [x] PQR
- [x] PDB
- [ ] GRO

[2017-04-13 12:23] #1306 closed

[2017-04-13 14:27] kain88-de commented on #1308
@utkbansal Do you want to help with this? It's mostly smaller changes in the parsing logic of the trajectory readers. In the PR @richardjgowers links to he already lists some readers that definitely have to be changed to use a new string -> float conversion algorithm. But I'm sure other readers will profit from it to. We need to find out which ones that are though.

Here is [gist](https://gist.git

[2017-04-13 19:16] kaplajon opened #1310 "Unexpected dt when using Universe.transfer_to_memory(step=x) (0.16.0-dev0)"
Hi,

I'm using mda 0.16.0-dev0 to do some clustering of xtc trajectories with encore.cluster. I got some unexpected results when writing the clusters as xtc files, and I have pinpointed the problem to  the way I loaded the trajectory data.
The problem is that the times in the written trajectory does not correspond to the original trajectory (starting from 0 with the wrong offset).

I use u.transfe

[2017-04-13 23:55] orbeckst commented on #664
@richardjgowers are we keeping the milestone and this issue open until we have docs up?

[2017-04-14 07:47] richardjgowers commented on #664
Yeah mostly. In a way the release isn't finished till the docs are up too.
I'll see if I can get something working today

On Fri, 14 Apr 2017, 12:55 a.m. Oliver Beckstein, <notifications@github.com>
wrote:

[2017-04-14 10:14] richardjgowers commented on #1310
Hi Jon, thanks for the report.

I think fixing this might just be a case of [fixing this line so it's `dt = ts.dt * step`](https://github.com/MDAnalysis/mdanalysis/blob/develop/package/MDAnalysis/core/universe.py#L497).

But it also ties in with #1041 where we're not really copying the entire Timestep into the memory reader, but instead just coordinates.  A more robust fix for this (and future cor

[2017-04-14 14:15] utkbansal commented on #1308
@kain88-de Sure, I'll start with the GRO format.

[2017-04-14 14:56] orbeckst commented on #1310
In principle we should have something like a time auxiliary.

Maybe to a quick fix first and then work on a more comprehensive solution along the lines of #1041

[2017-04-15 17:20] maxscheurer opened #1311 "Errors with "around" selection command in version 0.16"
### Expected behaviour
Correct number of atoms in selection with "around" keyword.

### Actual behaviour
As of version 0.16.0, the atom selection command "around" does not yield the same
results as version 0.15 .
The results gained from the older version are in agreement with VMD's "within" selection keyword, i.e.
[code]
Perhaps I missed something important in the Release Notes that explains this

[2017-04-15 17:53] richardjgowers commented on #1311
This is very possible, I did refactor the around selection. Can you make an
example from our test files Max?

On Sat, 15 Apr 2017, 6:20 p.m. Max, <notifications@github.com> wrote:

[2017-04-15 18:37] maxscheurer commented on #1311
I will try to do so asap...

[2017-04-16 08:14] richardjgowers commented on #1311
@maxscheurer if it's tricky to make it not work using the test files you can also just upload a system here where you're getting different results

[2017-04-16 16:33] kain88-de opened #1313 "MathJax CDN shutting down on April 30, 2017"
https://www.mathjax.org/cdn-shutting-down/

I think we have to change the cdn of our docs. But I'm not sure.

[2017-04-17 11:17] kain88-de commented on #664
@orbeckst why can't we just make a new repo that only has the docs for the current release? Then we host it as well via github pages.

[2017-04-17 11:59] jbarnoud commented on #664
On 04/17/2017 01:17 PM, Max Linke wrote:

Does it need to be an other repo? It could as well be an other
directory: mdanalysis.org/latest/index.html.

[2017-04-17 15:12] mnmelo commented on #1308
For reference, I was curious as to whether `np.loadtxt` would be faster, if fed the string data via a `StringIO` object. It is not. By a large margin. (turns out the internals of `np.loadtxt` essentially do the line by line splitting anyway at the python level, plus a number of extra checks that we don't need here).

[2017-04-17 15:19] kain88-de commented on #1308
@utkbansal I recommend to start with xyz or PQR. It isn't that important for GRO where we read only a single frame anyway.

[2017-04-17 15:45] orbeckst commented on #664
That would work. We could add a step to our Travis job that pushes the docs when working on master.

You can also tell GitHub that the master branch of a repo is the gh-pages branch so that we can keep things reasonably clean in a pure docs repo.

--
Oliver Beckstein
email: orbeckst@gmail.com

[2017-04-17 15:48] orbeckst commented on #664
I think mdtraj keeps all docs for all releases in separate directories (on S3). They had some fairly complicated hacking of the RTD template to make all of this work.

[2017-04-17 18:50] orbeckst commented on #1311
Thanks for reporting. An example would be crucial, though.

[2017-04-17 21:41] #1313 closed

[2017-04-18 07:50] kaplajon commented on #1310
Hi,

Thanks for the feedback. I'll try the quickfix to see of I can get something useful out. :)

/Jon

[2017-04-19 09:28] orbeckst opened #1315 "no online docs for 0.16.0 release"
The online docs for the stable release at http://pythonhosted.org/MDAnalysis/ have traditionally been hosted on pythonhosted.org. However, this service is now in read-only mode.

@jbarnoud https://github.com/MDAnalysis/mdanalysis/issues/664#issuecomment-293033814 said:

We have been discussing the following options (starting at https://github.com/MDAnalysis/mdanalysis/issues/664#issuecomment-29303

[2017-04-21 19:00] orbeckst commented on #1310
@kaplajon do you want to submit a small PR with the fix?

We'll then also ask for a test for the broken functionality so it's going to be a tiny bit more work but you get to be an author/contributor on the project.

We can then later tackle the bigger problems along the lines of #1041 but the new test would already be extremely valuable for that endeavor.

[2017-04-21 19:03] orbeckst commented on #1315
@dotsdl I have tentatively assigned this issue to you because you have been looking into making the docs work on RTD. Feel free to un-assign yourself but let us know of any progress or barriers.

[2017-04-21 19:13] orbeckst commented on #1315
I changed the DNS forwarding so that http://docs.mdanalysis.org now does temp redirect (302) to the devdocs http://www.mdanalysis.org/mdanalysis/

[2017-04-21 19:20] orbeckst commented on #1315
Btw, the devdocs are still at 0.16.0-dev from April 4 – it seems that Travis is not building/pushing devdocs anymore. Has this anything got to do with @kain88-de 's recent changes to the doc building process?

[2017-04-21 19:42] orbeckst opened #1316 "devdocs deployment broken"
Deploying devdocs appears to have been broken around April 4, 2017.

Looking at the docs travis task eg in https://travis-ci.org/MDAnalysis/mdanalysis/jobs/222937777 it seems that the deploy script is never being called:

[code]

See also #1315

[2017-04-24 08:48] kaplajon commented on #1310
@orbeckst , I could at least try (but probably not until the end of the week).  I'm not very familiar with team development and all the whereabouts of github, but I guess it's never too late to learn.

Should I build the test case around XTC and TPR? It seems that the standard case in MDA is DCD trajectories.

[2017-04-24 22:31] kaceyreidy opened #1317 "PQR Topology Parser does not respect insertion codes"
### Expected behaviour

Should create a Universe object.

### Actual behaviour

[code]

### Code to reproduce the behaviour

[code]

PQR file was generated with `pdb2pqr --whitespace --ff=charmm` and is attached as
*  [1A2C.pqr.zip](https://github.com/MDAnalysis/mdanalysis/files/953369/1A2C.pqr.zip)

### Current version of MDAnalysis:

0.16.0-dev0

[2017-04-24 22:36] orbeckst commented on #1317
The PDB from [1A2C](http://www.rcsb.org/pdb/explore/explore.do?structureId=1A2C) loads fine and it generates to residues with resnum 36. According to the PDB docs on [ATOM](https://www.wwpdb.org/documentation/file-format-content/format33/sect9.html#ATOM)

the residue with resnum 36A has to be treated as a normal residue between resnum 36 and resnum 37.

[2017-04-24 23:28] orbeckst commented on #1310
To get started, have a look at the docs for [Contributing Code](https://github.com/MDAnalysis/mdanalysis/wiki/ContributingCode) – it talks about cloning the repo and making a pull request (PR).

If you can recreate the test with PSF and DCD then that's even better (because it is faster). The test could look like the following. This code would be in [testsuite/MDAnalysisTests/coordinates/test_memor

[2017-04-25 08:31] kain88-de opened #1318 "Keep residues/segments intact for geometric selections."
It has come up in a discussion that it would be nice to make a geometric selection based on residues or segments. Currently this only works on the atom level according to the docs.

There are two interesting cases.

 1. I want to have all residues where **at least one** atom fulfils the geometric condition. I think this is already possible with `u.select_atoms(...).residues`

2. I want to have all

[2017-04-25 10:09] richardjgowers commented on #1318
I think the title is a little confusing, but for 2) what you're asking for is a version of `.residues` which only returns residues which are entirely within the AtomGroup.  So something like `sum(r for r in ag.residues if r.atoms.issubset(ag)`?

[2017-04-25 10:58] kain88-de commented on #1318
Yeah I couldn't come up with a better one.

Yeah that might work.

Should we add things like that to the selection syntax? Or at least examples of that in the docs?

[2017-04-25 11:08] mnmelo commented on #1318
For 1) the `same` keyword can be probably used to the desired effect. (As in `same resnum as ...`)

For 2) it might indeed be a good idea to add to the syntax. Do you guys feel it's a frequently-used pattern?

And how would the syntax be?
I think `entire` is intuitive.
It'd could then work as `entire level with prop z > 10`, where level is one of the group levels or other notions such as fragments

[2017-04-25 11:20] richardjgowers commented on #1318
Or we could add select_residues with any/all keywords

On Tue, 25 Apr 2017, 12:08 p.m. mnmelo, <notifications@github.com> wrote:

[2017-04-25 11:24] mnmelo commented on #1318
Hmm, that could work too and seems clearer.
But what about segments or fragments? Would we just create as many versions of `select_stuff` as it takes? It seems a bit less maintainable in that sense.

[2017-04-25 11:26] kain88-de commented on #1318
I also prefer to just keep `select_atoms`. That allows downstream applications to use arbitrary selections as well.

Before we go with more syntax suggestions I will see if I get some sensible examples working that describe the behavior above.

[2017-04-25 11:45] yiannisgaldadas opened #1319 "Installation on Mac"
Hello everyone,

I try to install MDAnalysis on my Mac but I get the following error:

PackageNotFoundError: Dependency missing in current osx-64 channels:
  - mdanalysis -> mmtf-python

even though I have install mmtf-python

Requirement already satisfied: mmtf-python in /Users/yiannisgaldadas/miniconda3/envs/py27/lib/python2.7/site-packages
Requirement already satisfied: msgpack-python in /Users

[2017-04-25 13:16] kaplajon commented on #1310
Thanks,
 there is a test_slicing_step_without_start_stop() in core/[test_universe.py](https://github.com/MDAnalysis/mdanalysis/blob/develop/testsuite/MDAnalysisTests/core/test_universe.py#L397), that calls transfer_to_memory. Could that be extended to include another assert call, or could my test go into the same class?

 Btw, what is the reason some of the tests use PDB_small and others PSF? E.g.

[2017-04-25 13:20] richardjgowers commented on #1310
Add another function / method to the class rather than making a test do two
things. Ideally a test failing points to a single cause.

The use of test files is a little haphazard, try and follow the existing
patterns within the class if you can.
Thanks for helping out!

On Tue, 25 Apr 2017, 2:16 p.m. Jon Kapla, <notifications@github.com> wrote:

[2017-04-25 17:38] orbeckst commented on #1319
On Mac OS 10.11.6 I tried the following
[code]

and that worked without issue

[code]

Seems to import fine:
[code]

* What commands are you running specifically?
* What output do you get?

[2017-04-25 17:53] yiannisgaldadas commented on #1319
Thank you so much!!
This  fixed the error!

[2017-04-25 18:12] orbeckst commented on #1319
Great, glad I could help!

[2017-04-25 18:12] #1319 closed

[2017-04-26 07:53] kain88-de commented on #1316
@orbeckst ues this likely broke with the addition of the test command. But I'm surprised that it doesn't work here. Because the ci-helper scripts we are using can use the test command.

[2017-04-26 13:13] kain88-de commented on #1310
`None` is equivalent to a 1 here. Please keep it like this as this follows standard python API's as it is.

[2017-04-26 13:21] kaplajon commented on #1310
Well, thats what I thought, but I get failed TestInMemoryUniverse tests with TypeError: unsupported operand type(s) for *: 'float' and 'NoneType'. Would it be better to just test if step is None and set it to one if it is?

[2017-04-26 13:30] kain88-de commented on #1310
Could you please open a PR with your as it is right now. That makes it easier for us to see why the error occurs.  It doesn't matter if the code doesn't work completely yet but giving advice is just much easier for us that way.

[2017-04-26 13:36] kaplajon commented on #1310
Sure, I'll push my changes tonight and open the PR. The status right now is
that it should work.

Den 26 apr. 2017 3:30 em skrev "Max Linke" <notifications@github.com>:

Could you please open a PR with your as it is right now. That makes it
easier for us to see why the error occurs. It doesn't matter if the code
doesn't work completely yet but giving advice is just much easier for us
that way.

—

[2017-04-26 16:58] richardjgowers commented on #1317
So I had a quick go at this and it got a little problematic. The attached file has different column alignment to the existing PQR file in the test files.  The PQR in the tests is from PDB2PQR v1.5, whereas the new one is v2.1.1, so I guess we've been bitten by that.

Can somebody link to a guide on what this format should/could be?  I couldn't really find a good definition myself.

[2017-04-26 17:19] orbeckst commented on #1317
The main thing is that the columns are white-space separated. But there isn't a good definition... our docs and the APBS/PDB2PQR ones still say pretty much the same thing:

* http://www.mdanalysis.org/mdanalysis/documentation_pages/coordinates/PQR.html
* https://www.poissonboltzmann.org/docs/file-format-info/#pqr :

   This is pretty much what we have in our docs.
   In our docs we linked to http:

[2017-04-26 17:25] orbeckst commented on #1317
The main problem appears that the format spec states for *Residue_number*

that it ought to be an *integer*. However, `pdb2pqr` will apparently happily process residue number + insertion code as a unit. That makes sense, because according to PDB standard, this combination identifies a residue.

Our PDB parser will assign the same resnum to two residues with same residue number but different insert

[2017-04-26 18:13] hainm commented on #1300
just FYI: Since I only release `pytraj` one or two times a year, I build everything on my Mac (for OSX) with docker (for Linux) with a single script. Setting up things on different services is much time consuming. :D

To speeding things up, you can build wheel first and then use that file to build conda.

[2017-04-26 22:52] hainm commented on #1300
Oh conda build has option to build wheel too.

[2017-04-27 00:18] #1310 closed

[2017-04-27 09:19] richardjgowers commented on #1317
@orbeckst ok thanks, look like we just need to check if a resid has an icode appended and split it off if so.  We can make PQR respect icodes fairly easily.

[2017-04-28 08:13] kaplajon opened #1324 "get_distance_matrix() in encore/confdistmatrix.py crashes on xdr trajectory"
Hi,

Doing some clustering on rather long trajectories, I thought it would be neat to save the distance matrix to file, since it is a rather extensive calculation. I realised quite fast that the [get_distance_matrix function()](https://github.com/MDAnalysis/mdanalysis/blob/2c479783cf1d8ec828326f8992a2f1a85ad16d7c/package/MDAnalysis/analysis/encore/confdistmatrix.py#L250) did not like my tpr/xtc Un

[2017-04-28 10:29] kain88-de commented on #1324
It would be nice if this works for all trajectory formats. @mtiberti & @wouterboomsma could you have a look.

[2017-04-28 13:21] wouterboomsma commented on #1324
Since the calculation of a distance matrix will have O(n^2) memory consumption anyway (limiting the functionality to things that fit in memory), I guess we could reasonably just call `transfer_to_memory` as part of `get_distance_matrix`. Any objections to this?

[2017-04-28 16:59] orbeckst commented on #1324
I think that's ok, assuming that when you do a timeseries from an in-memory trajectory you're just getting a view on the array. Otherwise you'd double memory consumption, wouldn't you?

[2017-04-28 17:43] wouterboomsma commented on #1324
Right. When you call `MemoryReader.timeseries()` you indeed just get a view of the numpy array.

[2017-04-28 19:23] wouterboomsma commented on #1324
Something like this should fix it (confdistmatrix.py, line 337):
[code]
Could anyone with direct access to the repo be persuaded to put this in - just to avoid the hassle of a PR for this fairly minor change?

[2017-04-28 19:32] kaplajon commented on #1324
Is the array view still true if you run `transfer_to_memory` on a trajectory already in memory? Or send slices of an in memory trajectory to `get_distance_matrix`? I don't want to find myself swapping because I didn't ask. :)

[2017-04-28 19:40] wouterboomsma commented on #1324
`transfer_to_memory` is a noop if it is already in memory - so your first question is definitely not a problem. Not sure what you mean by the second. What type of slicing are you thinking of? Do you have a concrete example?

[2017-04-28 20:00] kaplajon commented on #1324
I guess I wanted to know if there are cases when you end up with a copy instead of a reference. If you e.g. use the step option to `transfer_to_memory()` in `get_distance_matrix()`, and the Universe you input has a full trajectory loaded.

[2017-04-28 20:03] orbeckst commented on #1324
It's always a PR. No-one can push directly to develop.

In any case, we also want a mini test to go with it.

--
Oliver Beckstein
email: orbeckst@gmail.com

[2017-04-28 20:52] wouterboomsma commented on #1324
@kaplajon Slicing in a MemoryReader is translated into equivalent slicing in the underlying numpy array. The things that are supported through the MemoryReader API should all be _basic slice_ operations (as described here: https://docs.scipy.org/doc/numpy/reference/arrays.indexing.html), and should thus return a _view_. In contrast, an atom selection is implemented as indexing with an integer arra

[2017-04-28 21:03] kaplajon commented on #1324
@wouterboomsma Thanks! :)

[2017-04-29 16:21] #1324 closed

[2017-04-29 16:22] orbeckst commented on #1324
@wouterboomsma thanks for quick fix and thanks to @kaplajon for reporting. 1 day turnaround on an issue is pretty good!!

[2017-05-01 20:06] orbeckst commented on #1317
Closed in PR #1328

[2017-05-01 20:06] #1317 closed

[2017-05-01 21:43] orbeckst commented on #1308
I am re-targeting this to 0.17.0, at least not 0.16.1 – let's focus on fixing bugs.

[2017-05-01 21:44] orbeckst commented on #1175
Although this could go into a patch level, I am retargeting to 0.17.0 so that we can focus on fixing bugs for 0.16.1.

[2017-05-02 07:15] #1246 closed

[2017-05-03 16:15] zimka opened #1330 "MDA Exception after LAMMPS atom's index shift"
### Expected behaviour
Opening LAMMPS dump files after **delete_atoms**  in MDA without problems.

**Comment**:
LAMMPS has **delete_atoms** command, which deletes some atoms, but doesn't change index of the rest.  Therefore after this command there are atoms in system with index higher than the number of atoms.
This inconsistency leads to crash in MDA.

### Actual behaviour
Exception while trying

[2017-05-03 16:25] richardjgowers commented on #1330
@zimka thanks for reporting this and including files, I'll have a look into this.  To clarify, you've deleted some atoms, but the topology and the trajectory both contain the same number of atoms, and this remains constant for each frame?

[2017-05-03 16:29] zimka commented on #1330
@richardjgowers Yes, exactly. I think both of them are correct, at least from LAMMPS point of view and VMD respectively, and there is no exception during universe init, which occurs when number of atoms is different in topology in trajectory.

[2017-05-03 19:11] #1316 closed

[2017-05-03 22:25] orbeckst commented on #1311
@maxscheurer have you had time to look at an example?

[2017-05-04 16:33] QuantumEntangledAndy opened #1331 "Issue with reading amber prmtop if num items is divisible with items per line"
### Expected behaviour
Was expecting the prmtop to load without issue.

### Actual behaviour
Failed to load with the error:
Error: could not convert string to float: %FLAG ATOMIC_NUM

### Code to reproduce the behaviour

[code]

### Currently version of MDAnalysis:
(0.16.0)

### Further analysis
My code worked with some of my prmtops but not others
I examined the differences between the files and

[2017-05-04 22:47] orbeckst commented on #1331
@QuantumEntangledAndy thank you for the report and the patch.

Do you happen to have a small PRMTOP file that failed and which you would be willing to include in the testsuite as a [new data file](https://github.com/MDAnalysis/mdanalysis/wiki/ContributingCode#new-data-files)?

Files can be attached to an issue if you zip them: Drag and drop on the comment field.

If you would like to [contribute y

[2017-05-05 03:18] QuantumEntangledAndy commented on #1331
Sure I can do that. Here is a very small test prmtop that fails to load without the changes mentioned above but succeeds with the changes.
[testCaseNilRemaider.prmtop.zip](https://github.com/MDAnalysis/mdanalysis/files/978032/testCaseNilRemaider.prmtop.zip)

I will also work up that pull request. It just seems a little small. Anything I should be aware of? Reading your contributing guide, would th

[2017-05-05 05:30] orbeckst commented on #1331
Just make a PR against develop.

Some of the core devs will then review your code. We'll make suggestions as to what needs to be changed or fixed and when everyone is happy (and all tests pass, which are automatically run on each PR) then someone will merge it into develop.

Our policy is that any original contribution to the code makes you an author. If it makes MDAnalysis better then you are an

[2017-05-05 07:29] #1331 closed

[2017-05-05 13:37] xiki-tempula opened #1335 "Calculate dihedral angles from xtc trajectory"
### Expected behaviour
I'm interested in calculating the time dependent change of a particular dihedral angle from a xtc trajectory and I expect to get a list of angles. I copied the example from https://github.com/MDAnalysis/MDAnalysisCookbook/blob/master/examples/backbone_dihedral.py

### Actual behaviour

### Code to reproduce the behaviour

[code]
I'm not quite sure why you need to call this c

[2017-05-05 13:44] richardjgowers commented on #1335
I've never really used timeseries myself, I think the following should work..

[code]

[2017-05-05 14:03] xiki-tempula commented on #1335
@richardjgowers Thank you. It solved my problem.

[2017-05-05 15:16] kain88-de commented on #1335
The timeseries feature only works for dcd files or a trajectory copied into memory.

[2017-05-07 00:30] orbeckst commented on #1335
As @kain88-de says, `correl` is not generally implemented. For DCD it contains code at the C-level to do simple trajectory analysis. You basically describe all the analysis that you want to do in your correl collection (the whole thing was inspired by CHARMM's [CORREL](https://www.charmm.org/charmm/documentation/by-version/c40b1/params/doc/correl/) functionality). Then you compute all your observa

[2017-05-07 00:30] #1335 closed

[2017-05-07 00:35] orbeckst commented on #1315
@dotsdl do you think it is feasible to get our docs to build on RTD?

I'd like to have some closure on 0.16.0...

[2017-05-07 17:49] kain88-de commented on #1315
@orbeckst how hard would it be to have the docs on our github pages repository? By now we got used to publishing a new blog post anyway so the docs could be part of the same PR in the future.

I would also like this since it's easier to me. One less service I have to know and it should be possible to add an update of the docs to the release script we currently have.

[2017-05-07 17:52] kain88-de commented on #1315
Actually having a repository that only contains the docs in a gh_pages branch is very easy to do and creating a  script to automatically create a PR for it when the release-script is run shouldn't be to hard either.

[2017-05-07 18:24] orbeckst commented on #1315
We could add something to the travis job that pushes a doc update to a pure doc repo whenever something is merged or updated on *master*. Basically, take the current [deploy_docs.sh](https://github.com/MDAnalysis/mdanalysis/blob/develop/maintainer/deploy_docs.sh) script and modify slightly.

One advantage of RTD is (when it works) that you can easily switch between different versions of the docs a

[2017-05-07 18:47] orbeckst commented on #719
Ping... I think all that needs to be done is to

- [ ] summarize the consensus (it's a long discussion...)
- [ ]  transfer it to a wiki page,
- [ ] link from the Style Guide

and possibly create an equivalent document in the docs in a developer section of Analysis. Once that is done, the wiki page can just link to the docs.

[2017-05-08 07:02] tclick opened #1336 "Python3 and select_atoms"
### Expected behaviour
When using select_atoms, one should be able to input a selection string and return an AtomGroup regardless of the universe input files.

### Actual behaviour
If a binary topology file (e.g., Gromacs TPR file) is used, all string information in Python 3 is considered a byte string instead of a unicode string. Therefore a simple selection yields an empty AtomGroup. It works if

[2017-05-08 07:10] kain88-de commented on #1336
Thanks for reporting this. We currently consider python3 support experimental. There will be a bigger effort in summer to get MDAnalysis python 3 compatible.

[2017-05-08 11:59] #1330 closed

[2017-05-08 21:26] orbeckst opened #1337 "revoked OAuth token for docs deploy"
Because of a security incident described at https://blog.travis-ci.com/2017-05-08-security-advisory (exposure of OAuth token in Travis CI log) I revoked the OAuth token *Travis-CI deployment of documentation pages (d64f5d89)* associated with @orbeckst (see #386 for background information).

This means that currently docs cannot be deployed.

# TODO
For creating a new token, follow #386.
- [x] revo

[2017-05-09 05:28] #1337 closed

[2017-05-10 01:14] orbeckst commented on #1105
More on "How to create segments" https://github.com/MDAnalysis/mdanalysis/issues/1268#issuecomment-291436447 : As described by @richardjgowers the following works:
[code]

However, if I do *not* use `new_seg` but instead `u.segments[0]` then it does *not* work:
[code]

Note that
[code]

I find this pretty confusing. Could @richardjgowers or @dotsdl explain what is going on and if this is expected

[2017-05-10 09:57] richardjgowers commented on #1105
@orbeckst in the second block you assign to `ResidueGroup.segment` not `ResidueGroup.segments` (note the extra s).  So this just creates an attribute on the RG called 'segment' that does nothing. We need to use `.segments` because it might be that the residues have more than one segments (similarly an AtomGroup uses `.residues` rather than `.residue`), but I do agree that it doesn't read as well a

[2017-05-10 15:41] bieniekmateusz opened #1341 "Inconsistent subset selection between .select_atoms and .residues[] selection methods"
### Expected behaviour
Using noh_set.residues[:n] should select the residues without hydrogens because they are not present in 'noh_set'.

### Actual behaviour
noh_set.residues[:n] selects the residues together with hydrogens as if the selection was used on the universe. Ie works similarly to the use of the word global.

### Additional comment
In the case of preexisting selection followed by furth

[2017-05-10 18:14] orbeckst commented on #1341
We had decided that the `.residues` attribute would give *all* atoms connected to the atom group. This is the desired behavior, even though I understand why you might find it counter intuitive. The idea is that you get "all the residues that have at least one atom in the selection". It is a powerful way to walk up and down the group hierarchy.

There is no such thing as a `ResidueGroup` whose `.at

[2017-05-11 15:38] jbarnoud commented on #884
@utkbansal Any update on the performances of the memory plugin?

[2017-05-11 16:19] xiki-tempula opened #1342 "Adding the C-terminus OC1 and OC2 to the default list of hydrogen bond acceptors"
In Gromcas, if you use the amber99sb-ildn force field. The two oxygens in the C terminus of the protein are named as OC1 and OC2, which is named as O originally. These two oxygens are part of the carboxylic acid and are hydrogen bond acceptors.
Currently the atom name OC1 and OC2 are not in the default list of hydrogen bond acceptors. I wonder if it is possible to add these two atoms into the defa

[2017-05-11 16:54] utkbansal commented on #884
@jbarnoud Yes, I'm working on one alternative. Should I open a separate issue for the same and continue discussions on it?

[2017-05-11 16:57] jbarnoud commented on #884
On 05/11/2017 06:54 PM, Utkarsh Bansal wrote:

Yes please.

[2017-05-11 19:26] utkbansal opened #1343 "Memory leak plugin with pytest"
We have three alternatives for the memory plugin

- [ ] The existing plugin(used with nose)
- [ ] An implementation available [here](https://nvbn.github.io/2017/02/02/pytest-leaking/)
- [ ] ~~pytest-leaks available [here](https://github.com/abalkin/pytest-leaks)~~

* The current plugin calls `gc.collect()` for every test that is executed. This _might_ be the reason
for the slowdown currently faced

[2017-05-11 20:05] orbeckst commented on #1342
submit a PR, please, that's easy to add

[2017-05-11 21:37] mnmelo commented on #1343
So, the plugin I wrote catches test-level leaks. It does require calls to `gc.collect` so that we can be sure whatever is in `gc.garbage` really is uncollectable. The current plugin can therefore pinpoint the origin of a leak.

The alternative solution, looking at the aggregate memory usage will be much less precise (tells you there is a leak, but not where). Still, this probably suffices, althoug

[2017-05-12 16:46] utkbansal commented on #1343
@mnmelo @jbarnoud  Would you by chance have code to leak memory? I tried a couple of things, but they didn't work. Does the code I've shown above actually leak memory as expected?

[2017-05-12 17:00] richardjgowers commented on #1343
@utkbansal [there's an example here](https://github.com/MDAnalysis/mdanalysis/issues/297#issuecomment-112370347) which should still work. IIRC it was defining `__del__` twice in objects which reference each other which created some sort of loop.  That made the garbage collector stop working.  It's a fairly common gotcha with python gc and del.

You should be able to make trivial subclasses of Univ

[2017-05-12 17:02] richardjgowers commented on #1343
As another thought, if we're using fixtures which are **designed** to persist between tests (ie one Universe for many tests) then we shouldn't be applying a memleak test to everything anyway.  Maybe we just need a special test file which runs through our common operations (load a Uni, create AG off it, delete uni, etc) and makes sure that a leak doesn't happen.

[2017-05-12 17:26] mnmelo commented on #1343
Good point @richardjgowers. Then we could still do a test-by-test memleak analysis, but only of a selected few operations (although the tricky part here will be to decide which selected ones...)

@utkbansal, in test_meta.py, at the very end, there's commented code that should create a leak.

Note that python>=3.4 is no longer vulnerable to such leaks.

[2017-05-14 05:55] utkbansal commented on #1343
@mnmelo @richardjgowers If there are only a few tests on which the memory leak will be checked, then I guess the existing plugin is good. We shouldn't trade precision (of @mnmelo's pugin) if its performance doesn't hurt - because the number of test cases it runs is small.

[2017-05-14 09:37] #801 closed

[2017-05-14 14:46] capslockwizard opened #1347 "PSFParser Bug: Assumes that resids are unique across segments/segids"
### Expected behaviour
PSF files have multiple segments that might share the same resids. (Example: segid A's resid 1 is different from segid B's resid 2). MDAnalysis should be able to identify the segment-resid pairs uniquely.

### Actual behaviour
Currently, the PSFParser takes all resids from all segments and identifies the unique resids and the first instance of that resid that was observed. T

[2017-05-14 18:26] richardjgowers commented on #1347
Hi @capslockwizard thanks for reporting this.  I've put up a fix in #1348 which should cover more cases

[2017-05-14 19:10] #1347 closed

[2017-05-16 19:48] #1342 closed

[2017-05-16 20:34] #1277 closed

[2017-05-16 20:34] kain88-de commented on #1277
Are all docs now really numpy style?

[2017-05-16 21:38] orbeckst commented on #1277
I think so... always possible that we missed something, of course.

Just did a
[code]
and got
[code]
so probably a few stragglers that need to be mopped up.

[2017-05-16 21:42] orbeckst commented on #1315
I created https://github.com/MDAnalysis/docs and will play around with pushing into it; I'll first use it as a test bed for PR #1126

[2017-05-17 01:15] orbeckst commented on #1315
PR #1126 contains [maintainer/deploy_master_docs.sh](https://github.com/MDAnalysis/mdanalysis/blob/new-sphinx-style/maintainer/deploy_master_docs.sh) which can push the docs to [MDAnalysis/docs](https://github.com/MDAnalysis/docs) ; at the moment, they show up as http://www.mdanalysis.org/docs/

The script needs to be adapted when used through travis but manually it works just fine:
[code]
(If you

[2017-05-17 04:34] kain88-de commented on #1277
Contacts is deprecated classes that will be removed soon.

[2017-05-17 16:46] neonfuzz opened #1350 "import error on parallel computing environment: undefined symbol: __svml_round2"
### Expected behaviour
MDAnalysis will import

### Actual behaviour
[code]
This is occurring on a parallel computing environment, as far as I can tell "__svml_round2" has something to do with parallelization, but I can't find much upon Googling.

### Code to reproduce the behaviour
[code]

### Currently version of MDAnalysis:
MDAnalysis-0.16.0 (installed with pip)

[2017-05-18 00:17] orbeckst commented on #1350
In which directory are you running your `test.py`?

Can you also try [running our tests](https://github.com/MDAnalysis/mdanalysis/wiki/UnitTests#users)?
[code]
(you can change the number of processes from 4 to whatever works for you). Do the tests pass (at the end there should be no failed or errored tests).

[2017-05-18 00:24] neonfuzz commented on #1350
I'm running `test.py` in `/gscratch/stf/adelak`, but the error seems to be location-agnostic. (I've tried in my home directory as well as in `$HOME/.local/lib/python2.7/site-packages`)

I've tried running the tests, but they all fail because I can't even import MDAnalysis. (same error as above)
(`test.py` is literally just one line that says `import MDAnalysis as mda`)

[2017-05-18 00:42] orbeckst commented on #1350
If this is an HPC environment, do you need to `module load` compiler modules? This could be due to a intel library not being found or something similar.

Can you import MDAnalysis on the login node?

[2017-05-18 00:44] orbeckst commented on #1350
Can you
[code]
?

[2017-05-18 09:20] richardjgowers commented on #1350
It looks like it's importing from a `.local` directory.. Sometimes with this it's a conflict between the versions of numpy used to install MDAnalysis and the locally installed version

[2017-05-18 18:54] ljzhou86 opened #1351 "how to install mdanalysis via source files"
I downloaded the mdanalysis source files and extract in our supercomputer machinene. I get into the package and install it by running:

]$ /turquoise/users/ljzhou86/app/python-2.7.13/bin/python setup.py install
showing the error:
Traceback (most recent call last):
  File "setup.py", line 45, in <module>
    from setuptools import setup, Extension, find_packages
ImportError: No module named setupto

[2017-05-18 21:09] kain88-de opened #1352 "Chain-ID of PDB not always parsed correctly"
### Expected behaviour

PDB chain identifiers are parsed as segments

### Actual behaviour

Segments are all called SYSTEM

### Code to reproduce the behaviour

[code]

### Currently version of MDAnalysis:
(run `python -c "import MDAnalysis as mda; print(mda.__version__)"`)
0.16.0 & 0.16.1dev

[2017-05-18 21:36] orbeckst commented on #1351
# setup.py
It looks as if you need to install [setuptools](https://pypi.python.org/pypi/setuptools). Then it should work with
[code]
(or whatever options you need).

# pip

Is there any chance that you could install with `pip` (you can use the `--user` flag to install locally), because that will take care of all dependencies and you can use it to install from source, if you like. See http://www.md

[2017-05-18 21:38] orbeckst commented on #1352
I am pretty sure that this used to work...

[2017-05-18 21:40] rathann opened #1353 "docs tarball missing from 0.16.0 release"
### Expected behaviour

There should be a link to documentation tarball or zip along with 0.16.0 source code, like it was provided with 0.14.0 and 0.15.0.

### Actual behaviour

No documentation tarball is provided.

### Current version of MDAnalysis:
0.16.0

[2017-05-18 21:44] orbeckst commented on #1350
I found that using `conda` is a pretty sane way to work with Python packages in a HPC environment. See, for example, instructions at http://www.mdanalysis.org/SPIDAL-MDAnalysis-Midas-tutorial/installation.html#installing-mdanalysis (which are a bit more extensive than our [Installation Quickstart](http://www.mdanalysis.org/pages/installation_quick_start/)).

We also had recent blog post on [managi

[2017-05-18 21:59] orbeckst commented on #1353
@rathann Would you prefer a specific name for the zip file?

In the future we might not create the zip file in under the release tag but instead have it automatically created from a tag in the [MDAnalysis/docs](https://github.com/MDAnalysis/docs) repository where we plan to host docs in the future #1315 ; the docs would then be available from https://github.com/MDAnalysis/docs/releases

[2017-05-18 22:00] orbeckst commented on #1353
For 0.16.0 I manually generated a `Documentation.zip` file under https://github.com/MDAnalysis/mdanalysis/releases/tag/release-0.16.0 ; as before, it contains `index.html` at the top level so unpack in a directory.

[2017-05-18 22:00] #1353 closed

[2017-05-18 22:18] neonfuzz commented on #1350
I switched all of the dependencies (inc. numpy) to be locally installed, still receiving the `undefined symbol: __svml_round2` error.

[2017-05-18 22:20] neonfuzz commented on #1350
I'll look into `conda` and see if I can get it to work. Unfortunately I'm stuck using `.local` because I don't have root access on this particular system.

[2017-05-18 22:28] orbeckst commented on #1350
`conda` (and `virtualenv`) do not require root.

Can you answer the questions from above?
- Does `import numpy` work (and where is the numpy installed, e.g., look at `help(numpy)`)?
- What is the output of `module list`? (I assume you need to load modules.)
- Does the `import MDAnalysis` fail on a head node or a compute node or both?

[2017-05-18 22:38] neonfuzz commented on #1350
Whoops! Totally missed your comments from above; mb.
`import numpy` works, and is installed at `/usr/lusers/adelak/.local/lib/python2.7/site-packages/numpy/`

Yes, this is an HPC environment, and yes, I do need to load modules; `module list` `gives:
[code]
I'm getting my `python` from `anaconda2_4.2`

`import MDAnalysis` fails on both the head node and on computer nodes.

[2017-05-18 23:05] neonfuzz commented on #1350
I was able to install the `mdaenv` / `MDAnalysis` with `conda`, but still encounter the same error upon trying to import.

[2017-05-19 07:09] kain88-de commented on #1352
It still works. That PDB doesn't have chain ids. My sleep deprived brain yesterday thought it had.

[2017-05-19 07:09] #1352 closed

[2017-05-19 12:12] rathann commented on #1353
@orbeckst Thank you for the quick response. Please choose whatever name you like, as long as it's consistent between releases, for example `MDAnalysisDocs-0.16.0.zip`.

[2017-05-19 14:29] richardjgowers commented on #1350
@neonfuzz inside your conda environment, which version of numpy get imported?  Iirc, it will still import from `.local` and ignore the version inside your conda environment, which might be causing this error.

[2017-05-20 02:54] orbeckst commented on #1353
Ok, will try to remember :-).

--
Oliver Beckstein * orbeckst@gmx.net
skype: orbeckst  * orbeckst@gmail.com

[2017-05-20 13:55] kain88-de commented on #1268
This is already fixed in develop. I don't get an error any longer. I still do get it with 0.16.0 though.

@orbeckst can you confirm and close this if the issue is solved or provide more information about the error.

[2017-05-21 07:22] orbeckst commented on #1268
@vivecalindahl 's case is now running for me; I am using [reproducehbondissue-0.16.1.py ](https://gist.github.com/orbeckst/736fb4d2864d25a5a7cc6e50cc36aa9c) . I am detecting 0, 7, 7, 7 (monomer 1-4) waters in the 2nd selection group when using `filter_first=True`. This agrees with the visualization in VMD (I did a selection like `same residue as (name OW and within 9 of (resid 197 and name ND2))`;

[2017-05-21 07:22] #1268 closed

[2017-05-21 07:23] orbeckst commented on #1268
@kain88-de many thanks for checking... I had totally forgotten that @xiki-tempula had encountered a similar problem and fixed #1327 !

[2017-05-21 07:27] orbeckst commented on #1341
@bieniekmateusz did this answer help you?

If there is more we can re-open the issue but I am going to close it for now.

[2017-05-21 07:27] #1341 closed

[2017-05-21 07:44] orbeckst commented on #1308
Should we move this to 0.16.1 – the PR #1357 is basically done and I recall @richardjgowers considering this to *fix a performance regression* https://github.com/MDAnalysis/mdanalysis/pull/1302#issuecomment-293849231 so it would be perfectly suitable for a patch release.

[2017-05-21 07:59] richardjgowers commented on #1308
Yes please

On Sun, 21 May 2017, 8:44 a.m. Oliver Beckstein, <notifications@github.com>
wrote:

[2017-05-21 14:08] #1104 closed

[2017-05-21 14:35] jbarnoud commented on #1343
@utkbansal Did you manage to reproduce a memory leak? Could you post some timing on how long it takes to run a test that causes a memory leak without plugin, and with our current plugin? Ideally, would you be able to provide some timing using pytest?

[2017-05-22 12:44] xiki-tempula opened #1359 "Set b-factor for PDB file"
### Expected behaviour
I have a pdb file which I want to set b-factors to the atoms.

### Actual behaviour
The b-factor field in the pdb file is not changed

### Code to reproduce the behaviour

[code]
The content of test.pdb:

### Currently version of MDAnalysis:
py35, mda0.16.1

[2017-05-22 13:46] kain88-de commented on #1359
See #1092 . The problem is that the bfactors aren't in the original topology and this needs to be updated not the atomgroup you selected there.

We are working  on it. There should also be a PR from @richardjgowers that fixes this. Some comments on the UI/API would be nice.

[2017-05-22 18:33] utkbansal commented on #1343
@jbarnoud I was busy last week with my exams. I'm working on this tonight.
I have timings without plugin and with the nose plugin. I'm going through the documentation to port this to pytest.

[2017-05-22 21:34] rathann opened #1360 "the testsuite quits at core/test_topologyattrs.py:TestResids.test_set_atoms without any errors"
### Expected behaviour
All tests pass and testsuite completes.

### Actual behaviour
Test execution dies when running `core/test_topologyattrs.py:TestResids.test_set_atoms`, but only when testing at least the whole file.

### Code to reproduce the behaviour
[code]

Strangely enough, it passes if I limit the execution to the single class:
[code]

### Currently version of MDAnalysis:
0.16.0

This is

[2017-05-22 21:47] rathann opened #1361 "optional dependencies (matplotlib and scipy) are not truly optional"
### Expected behaviour

The lack of any of the optional dependencies listed in `setup.py` (netcdf4, matplotlib, scipy, seaborn and sklearn) is handled gracefully, with no exceptions thrown.

### Actual behaviour

`ImportError` exception will be thrown when matplotlib or scipy are missing.

### Code to reproduce the behaviour

The following imports don't catch ImportErrors when importing scipy:
[co

[2017-05-22 22:03] rathann commented on #770
Sorry for not replying earlier. I'm unable to reproduce this on current Fedora rawhide (27) with 0.16.0, so closing.

[2017-05-22 22:03] #770 closed

[2017-05-23 06:55] kain88-de commented on #1360
They all work for me on Fedora 25. Is there a docker/vagrant file to test this in a VM?

[2017-05-23 06:58] kain88-de commented on #1361
There isn't really a way for us to handle this more graceful then throwing an exception in those cases. For example in the pca case. If we can't import scipy that function can not return a suitable result because missing the integrator is a grave error justifying an exception.

How would you imagine here a graceful error handling?

[2017-05-23 08:21] richardjgowers commented on #1361
So something we could do here would be to do all the imports at the top of the file, then raise warnings about things that won't work.  Eg in `polymer`, lots of it will work, but certain methods will need things, so a warning like `ImportWarning: The following methods require scipy: PersistenceLength.curve_fit`.

[2017-05-23 08:44] rathann opened #1362 "TypeError/AssertionError test failures on i686 and armv7hl due to dtype being int32 instead of int64"
### Expected behaviour

All tests pass.

### Actual behaviour

39 tests fail with:
[code]
or with `AssertionError` due to `dtype` being `int32` instead of `int64`.

### Code to reproduce the behaviour
Note that I had to use nosetests instead of mda_nosetests due to testsuite execution just stopping silently like in #1360 . Do you run the testsuite on 32bit x86? Sorry for the large paste, but githu

[2017-05-23 09:11] rathann commented on #1360
@kain88-de Thanks for taking a look. You can use the fedora:rawhide Docker image from official Fedora repository on Docker Hub: https://hub.docker.com/_/fedora/

Note that this doesn't happen when running plain `nosetests`.

[2017-05-23 09:20] rathann commented on #1361
I do note that some of the missing optional dependencies are already handled nicely in the code. Thank you for that.

@kain88-de I'm just trying to express package dependencies correctly and let users uninstall dependencies listed in `setup.py` under `extras_require`. Having the software throw exceptions in case of missing optional dependencies is bad user experience and I'd like to avoid that. Pe

[2017-05-23 10:43] mnmelo commented on #1361
So, this idea was already floated in #577, but we dropped when we realized it'd probably involve registering import hooks.

In the meantime I found the `importing` package, which has a [`lazyModule`](http://peak.telecommunity.com/DevCenter/Importing). Their implementation is hook-independent, and delays errors until the module is actually used.

I figure we can subclass `lazyModule` to customize e

[2017-05-23 10:45] mnmelo commented on #1361
Using `importing.lazyModule` has the further benefit of not immediately loading potentially heavy optional dependencies (like `scipy`) until they're actually needed.

[2017-05-23 13:06] mnmelo commented on #1362
32-bit testing/development has historically been tough. I recall similar problems when developing the XTCReader offset indexing, which could overflow 32-bit for large trajectories. [Back then](https://github.com/MDAnalysis/mdanalysis/issues/127#issuecomment-89473937) we had a hard time finding devs readily working on 32-bit machines and I guess the same holds now.

[2017-05-23 13:19] richardjgowers commented on #137
[Aboria](https://martinjrobins.github.io/Aboria/index.html) looks like it implements a periodic coordinate search which we could use in place of a KDTree

[2017-05-23 13:32] mnmelo commented on #137
Cool! And it also looks like it'll implement it's own (periodic?) KDTree in the near future (see their notes on [Neighbor Searching](https://martinjrobins.github.io/Aboria/aboria/neighbourhood_searching.html)).

[2017-05-23 13:42] kain88-de commented on #1362
I'm not very much in favour of supporting 32bit machines. For two reasons. None of the devs is using a 32bit machine and we can't CI test it on travis. So 32bit support could break with any release even if we fix it now.

It's to bad for packaging this up for some distributions but I don't see it as a good fit to spend our time.

[2017-05-23 15:59] xiki-tempula opened #1363 "ids attribute of atom group cannot exceed 99999"
### Expected behaviour
I have a gro file where some atoms have an id larger than 99999. When I select a atom group, I would expect the id of this atom group to be same ids which I got when I print this atom.
### Actual behaviour
The ids attribute is actually ids//100000.

### Code to reproduce the behaviour

[code]

### Currently version of MDAnalysis:
py35, mda0.16.1

[2017-05-23 16:06] #1363 closed

[2017-05-23 17:26] ashkurti opened #1364 "Installation of MDAnalysis on 32 bit systems"
I tried and get the following error:
[code]

I have installed conda by doing the following:
[code]

and my linux operating system is:
[code]

[2017-05-23 20:19] kain88-de commented on #1364
http://www.mdanalysis.org/pages/installation_quick_start/

[code]

or short

[code]

[2017-05-23 21:45] orbeckst commented on #1364
The important thing is to add the **conda-forge** channel because the MDAnalysis conda packages reside there, together with _all dependencies_ – @kain88-de worked hard to make sure that everything that MDAnalysis needs is available as a conda package.

You only have to do the `--add channels` once for your conda installation.

Please let us know if this works or if there are any other issues.

[2017-05-23 21:52] orbeckst commented on #1361
There's some discussion in #1159 , which we haven't really concluded. I think we are moving towards making more "core scientific python packages" (see https://github.com/MDAnalysis/mdanalysis/issues/1159#issuecomment-272932947 for qualifiers of this term...) standard requirements of MDAnalysis.

[2017-05-23 21:55] orbeckst commented on #1361
Under this scheme, `scipy` and `matplotlib` would become required dependencies. I think, given Linux whl and conda I could live with this, especially, as these packages are only imported when a specific analysis module is imported; I therefore don't think that https://github.com/MDAnalysis/mdanalysis/issues/1361#issuecomment-303361096

is a big issue. But if `lazyModule` works well, then we could

[2017-05-24 04:48] #378 closed

[2017-05-24 05:03] orbeckst commented on #1315
I am going to manually put the docs for master (0.16.0) into the `mdanalysis/doc` repo and then redirect http://docs.mdanalysis.org to http://mdanalysis.org/docs .

Once this is done, we can integrate the `maintainer/deploy_master_docs.sh` into the Travis matrix.

[2017-05-24 06:04] orbeckst commented on #1315
We have docs at http://docs.mdanalysis.org so I am closing this issue.

The PR #1365 is needed for 0.16.1.

[2017-05-24 06:04] #1315 closed

[2017-05-24 06:05] orbeckst commented on #664
Finally, all done... before 0.16.1 ;-)

[2017-05-24 06:05] #664 closed

[2017-05-24 06:15] kain88-de commented on #1351
Install PIP for a single user

https://docs.python.org/2/library/ensurepip.html

[code]

[2017-05-24 08:52] ashkurti commented on #1364
Thanks @orbeckst and @kain88-de for your suggestions.

I have tried what you suggest, as I also had run into the links indicated by @kain88-de without success. I also have retried it and this is what I get:
[code]
Any suggestions on what might be going wrong here. Thanks :)

[2017-05-24 09:01] richardjgowers commented on #1364
@ashkurti what platform is this running on?  What does `conda search mdanalysis` return?

[2017-05-24 09:03] kain88-de commented on #1364
@ashkurti can you run `conda config --show` and paste the output.

[2017-05-24 09:08] ashkurti commented on #1364
@richardjgowers
[code]
@kain88-de :
[code]

[2017-05-24 09:15] ashkurti commented on #1364
@richardjgowers as to the platform:
[code]

[2017-05-24 09:45] kain88-de commented on #1364
@ashkurti this is weird. Can you please remove the MDAnalysis channels from your config file in `~/.condarc`

[2017-05-24 09:50] ashkurti commented on #1364
@kain88-de I removed MDAnalysis channels and then followed again the previous steps (and nothing changed :( :
[code]

[2017-05-24 09:53] kain88-de commented on #1364
OK this is weird. I'm not sure what is going on there. I sometimes had luck with such weird errors in conda by reinstalling it.  My guess is here also conda because your error message looks cut off.

For example when I try to install a non existing package I get the following error.

[code]

[2017-05-24 09:54] kain88-de commented on #1364
what version of conda your you running?

[2017-05-24 09:54] kain88-de commented on #1364
run `conda -V`

[2017-05-24 09:56] ashkurti commented on #1364
[code]

[2017-05-24 09:56] kain88-de commented on #1364
I'm running 4.3.17. The point release shouldn't change anything but maybe it does.

[2017-05-24 09:58] ashkurti commented on #1364
what platform are you running on?

[2017-05-24 09:58] ashkurti commented on #1364
`uname -a`

[2017-05-24 10:01] kain88-de commented on #1364
I'm running on Fedora. But that shouldn't make any difference. @richardjgowers runs ubuntu and it works for him as well. I've asked the conda-forge people for help.

[2017-05-24 10:27] isuruf commented on #1364
You need 4.3.16 or above. See https://github.com/conda/conda/issues/4860#issuecomment-292728977

[2017-05-24 11:10] ashkurti commented on #1364
@isuruf As I want to automatically install conda (as part of a package I am working on) I am getting the conda installation script from `https://repo.continuum.io/miniconda/`
The latest conda version from those scripts dated less than two weeks ago is 4.3.14.

Any suggestions? Maybe I can install this version then, include a command for update? Anywhere I can find the script to install a 4.3.16 or

[2017-05-24 11:13] isuruf commented on #1364
Here's a script from ContinuumIO, https://conda.io/docs/travis.html. Note that they recommend conda even when downloading a fresh version of miniconda.

[2017-05-24 11:36] kain88-de commented on #1364
@isuruf thanks

@ashkurti running `conda update --all` after installing it might help.

I'll close this since it's not related to MDAnalysis

[2017-05-24 12:49] ashkurti commented on #1364
I am still not managing to find out mdanalysis within conda.

So even after updating conda to 4.3.18 it is not managing to find mdanalysis, and specifically the following happens:
[code]

[2017-05-24 12:52] ashkurti commented on #1364
The thing is that apparently the Ubuntu image I am using for testing in my virtual machine is a 32 bit one apparently and therefore it cannot find mdanalysis within the linux-32 channel. At this point, is there a specific reason for MDAnalysis to be only supported for 64 bit linux platforms.

[2017-05-24 12:57] kain88-de commented on #1364
Yeah we don't ship 32bit prebuild binaries. There is also a recent bug report that the library doesn't work on 32bit in some parts.

[2017-05-24 15:01] kain88-de commented on #1362
Another reason for not supporting  32bit is the memory limit. I regularly have python processes larger then 4GB during analysis.

[2017-05-24 23:51] orbeckst commented on #1159
In my opinion, we can upgrade `scipy` and `matplotlib` to full dependencies.

`matplotlib` is a bit of an odd case due to some of the convenience plotting functions; perhaps at some point we decide to get rid of these convenience functions but until then we are probably serving our users (and downstream integrators #1361 ) better if we included `matplotlib`.

[2017-05-26 07:25] richardjgowers commented on #1364
@ashkurti we don't really support 32 bit systems, mostly because none of the developers have access/need a 32 bit system.  If it's something you specifically need, we can guide you through how to make a conda package for this, but there might be some bugs you have to fix too (eg MDAnalysis/mdanalysis#1362).

[Related discussion on dev board](https://groups.google.com/forum/#!topic/mdnalysis-devel/

[2017-05-26 08:29] orbeckst commented on #1350
@neonfuzz I would recommend to remove your `~/.local` or at least deactivate it for testing:
[code]

You can install everything that you need in the `conda`-managed environment.

[2017-05-26 08:30] orbeckst commented on #1351
@ljzhou86 do you need more help to make it work?

[2017-05-26 08:34] orbeckst commented on #1194
A step in the right direction: [MDAnalysis/pytng](https://github.com/MDAnalysis/pytng), see also #1366

[2017-05-26 08:59] orbeckst commented on #1175
Should perhaps also include #360
* update formats tables with the appropriate keyword value for `format` or `topology_format`
* user docs on "how to read different file formats into MDAnalysis"

Also see discussion there regarding user/developer docs.

[2017-05-26 13:17] kain88-de commented on #167
Can we close this? The pypi stats are currently broken anyway. Besides since we now have 2 distribution channels combining the numbers with  a robust script will not be easy.

[2017-05-26 13:17] kain88-de commented on #131
Can we close this. The chain reader works well with the new analysis framework which allows the same analysis?

[2017-05-26 13:18] kain88-de commented on #186
Should we close this with saying that Memory reader and the analysis framework are working alternatives?

[2017-05-26 13:19] kain88-de commented on #443
Btw this works very well in combination with pytest See https://github.com/MDAnalysis/pytng

@utkbansal something you can look into after a complete transition to pytest

[2017-05-26 13:20] kain88-de commented on #450
I talked with @richardjgowers  We both agree our official standpoint should be we don't support windows and recommend using the windows 10 subsystem until we have a windows dev.

[2017-05-26 13:21] kain88-de commented on #795
This is on conda  forge now.

[2017-05-26 13:23] kain88-de commented on #598
@richardjgowers aren't guessers implemented now?

[2017-05-26 13:42] kain88-de commented on #727
I'm pretty sure I fixed this now.

[2017-05-26 13:42] #727 closed

[2017-05-26 13:46] richardjgowers commented on #598
The guessers we've always had are still there, I think this issue refers to having cool ones [like outlined here](https://github.com/MDAnalysis/mdanalysis/issues/598#issuecomment-244374879).

[2017-05-26 16:06] utkbansal commented on #443
@kain88-de Sure

[2017-05-27 05:53] utkbansal opened #1369 "Split travis build module-wise"
Split the travis build to be done modulewise so that we can convert to pytest module by module.

### Expected behaviour

[code]

### Actual behaviour

`./mda_nosetests args`

Initial discussion started on the mailing list [here](https://groups.google.com/d/msg/mdnalysis-devel/M4K75v7AOq8/tfGtCLlWCAAJ)

[2017-05-31 18:55] kain88-de commented on #1194
We talked about the readers today at the dev meeting. Our Conclusion was to split out the readers into separate packages similar to pytng. I would start with libmdaxdr once the dcd reader is done

[2017-05-31 20:17] mnmelo opened #1371 "Make it easier to create a Universe from scratch"
During our dev hangout the idea was surfaced to have a simple way to build a Universe with default values. This would leverage MDAnalysis' role also as a structure builder (and would be another neat thing to mention in an upcoming paper).

We pretty much have the machinery in place in the `make_Universe` function of `MDAnalysisTests.core.util`. We could add some extras, such as the ability to defi

[2017-05-31 21:53] richardjgowers commented on #1371
Technically, it should be very simple to be able to make a Universe structure from a tuple of shape `(natoms, nres, nseg)`, and I can see it being very useful too.

[2017-06-01 14:13] kain88-de opened #1373 "Remove TimeSeries"
We discussed recently to remove the TimeSeries objects from MDAnalysis. As far as I know none of the core devs is using it.  We also note that it is unlikely we will ever implement TimeSeries for any other readers besides dcd and memory and most of it's function can be replaced by the Analysis Framework.

The only part in the library that uses TimeSeries is encore. So it would be useful get some i

[2017-06-01 14:21] kain88-de commented on #1373
I should be more  specific.  This won't remove the timeseries call from MemoryReader. As this is only a view of the underlying array (useful to have).  Only the fancy correl functions will be removed.

[2017-06-01 14:23] wouterboomsma commented on #1373
As far as I remember, the only reason Encore uses `timeseries()` was to maximize it's similarity to other Readers. So I don't think there should be any problems removing it. However, I think it would make sense to keep the functionality (perhaps with a different name) within `MemoryReader`, because it is an intuitive interface to extract a numpy array in a specified format.

[2017-06-01 14:24] wouterboomsma commented on #1373
Ups... Posted before seeing your follow-up message. It seems we agree.

[2017-06-01 14:37] wouterboomsma commented on #1373
If we keep the `timeseries()` method in MemoryReader, your suggested change would probably not require any modifications in Encore at all - because encore typically works on MemoryReader readers anyway (calling transfer_to_memory if necessary).

[2017-06-01 21:49] orbeckst commented on #1373
This would also close #186.

[2017-06-01 21:53] orbeckst commented on #1351
@ljzhou86 I am closing this because we haven't heard from you in a week; feel free to post to this issue again if you need more help.

[2017-06-01 21:53] #1351 closed

[2017-06-01 23:27] #180 closed

[2017-06-01 23:35] orbeckst opened #1374 "release 0.16.1"
Patch release [0.16.1](https://github.com/MDAnalysis/mdanalysis/milestone/11). No new features, only bug fixes.

- [x] set release date
- [x] make release
- [x] create online docs for master in https://github.com/MDAnalysis/docs (with `./maintainer/deploy_master_docs.sh` from the master branch)
- [x] create zip file of docs and upload to GitHub release page and name it _MDAnalysisDocs-0.16.1.zip_

[2017-06-01 23:39] orbeckst commented on #1308
#1367 does not speed-up GRO – can we do this just so that it is _done_?

[2017-06-02 00:43] orbeckst commented on #1194
What is the rationale for separate packages as opposed to say, one package, with all the readers?

Did you talk about licenses?